/**
* @name Old Profile UI
* @author 11pixels
* @version 1.4
* @invite vUN9sNW
* @description brings back the pre-profile themes version of the profile ui
*/
html.theme-dark {
  --override-header-primary: #fff;
  --override-header-secondary: #b9bbbe;
  --override-text-normal: #dcddde;
  --override-text-muted: #72767d;
  --override-text-link: hsl(196.7, calc(var(--saturation-factor, 1) * 100%), 47.8%);
  --override-channels-default: #8e9297;
  --override-interactive-normal: #b9bbbe;
  --override-interactive-hover: #dcddde;
  --override-interactive-active: #fff;
  --override-interactive-muted: #4f545c;
  --override-background-primary: #36393e;
  --override-background-secondary: #2e3136;
  --override-background-secondary-alt: #282b30;
  --override-background-tertiary: #1e2124;
  --override-background-accent: #4f545c;
  --override-background-floating: #18191c;
  --override-background-mobile-primary: #36393f;
  --override-background-mobile-secondary: #2f3136;
  --override-background-modifier-hover: rgba(79, 84, 92, 0.16);
  --override-background-modifier-active: rgba(79, 84, 92, 0.24);
  --override-background-modifier-selected: rgba(79, 84, 92, 0.32);
  --override-background-modifier-accent: hsla(0, 0%, 100%, 0.06);
  --override-background-mentioned: rgba(250, 166, 26, 0.05);
  --override-background-mentioned-hover: rgba(250, 166, 26, 0.08);
  --override-background-message-hover: rgba(4, 4, 5, 0.07);
  --override-scrollbar-thin-thumb: #202225;
  --override-scrollbar-thin-track: #0000;
  --override-scrollbar-auto-thumb: #202225;
  --override-scrollbar-auto-track: #2e3338;
  --override-scrollbar-auto-scrollbar-color-thumb: #202225;
  --override-scrollbar-auto-scrollbar-color-track: #2f3136;
  --override-elevation-stroke: 0 0 0 1px rgba(4, 4, 5, 0.15);
  --override-elevation-low: 0 1px 0 rgba(4, 4, 5, 0.2), 0 1.5px 0 rgba(6, 6, 7, 0.05), 0 2px 0 rgba(4, 4, 5, 0.05);
  --override-elevation-medium: 0 4px 4px rgba(0, 0, 0, 0.16);
  --override-elevation-high: 0 8px 16px rgba(0, 0, 0, 0.24);
  --override-logo-primary: #fff;
  --override-focus-primary: #00b0f4;
  --override-guild-header-text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
  --override-channeltextarea-background: #40444b;
  --override-activity-card-background: #202225;
  --override-textbox-markdown-syntax: #8e9297;
  --override-deprecated-card-bg: rgba(32, 34, 37, 0.6);
  --override-deprecated-card-editable-bg: rgba(32, 34, 37, 0.3);
  --override-deprecated-store-bg: #36393f;
  --override-deprecated-quickswitcher-input-background: #72767d;
  --override-deprecated-quickswitcher-input-placeholder: hsla(0, 0%, 100%, 0.3);
  --override-deprecated-text-input-bg: rgba(0, 0, 0, 0.1);
  --override-deprecated-text-input-border: rgba(0, 0, 0, 0.3);
  --override-deprecated-text-input-border-hover: #040405;
  --override-deprecated-text-input-border-disabled: #202225;
  --override-deprecated-text-input-prefix: #dcddde;
}
html.theme-light {
  --override-header-primary: #060607;
  --override-header-secondary: #4f5660;
  --override-text-normal: #2e3338;
  --override-text-muted: #747f8d;
  --text-link: hsl(212.4, calc(var(--saturation-factor, 1) * 100%), 43.9%);
  --override-channels-default: #6a7480;
  --override-interactive-normal: #4f5660;
  --override-interactive-hover: #2e3338;
  --override-interactive-active: #060607;
  --override-interactive-muted: #c7ccd1;
  --override-background-primary: #fff;
  --override-background-secondary: #f2f3f5;
  --override-background-secondary-alt: #ebedef;
  --override-background-tertiary: #e3e5e8;
  --override-background-accent: #747f8d;
  --override-background-floating: #fff;
  --override-background-mobile-primary: #fff;
  --override-background-mobile-secondary: #f2f3f5;
  --override-background-modifier-hover: #747f8d14;
  --override-background-modifier-active: #747f8d29;
  --override-background-modifier-selected: #747f8d3d;
  --override-background-modifier-accent: #06060714;
  --override-background-mentioned: #faa61a1a;
  --override-background-mentioned-hover: #faa61a33;
  --override-background-message-hover: #06060705;
  --override-scrollbar-thin-thumb: #202225;
  --override-scrollbar-thin-track: #0000;
  --override-scrollbar-auto-thumb: #202225;
  --override-scrollbar-auto-track: #2e3338;
  --override-scrollbar-auto-scrollbar-color-thumb: #202225;
  --override-scrollbar-auto-scrollbar-color-track: #2f3136;
  --override-elevation-stroke: 0 0 0 1px #06060714;
  --override-elevation-low: 0 1px 0 #0606071a, 0 1.5px 0 #06060706, 0 2px 0 #06060706;
  --override-elevation-medium: 0 4px 4px #00000014;
  --override-elevation-high: 0 8px 16px #00000029;
  --override-logo-primary: #5865f2;
  --override-focus-primary: #00b0f4;
  --override-guild-header-text-shadow: 0 1px 1px #fff6;
  --override-channeltextarea-background: #ebedef;
  --override-activity-card-background: #fff;
  --override-textbox-markdown-syntax: #6a7480;
  --override-deprecated-card-bg: #f8f9f9;
  --override-deprecated-card-editable-bg: #f6f6f799;
  --override-deprecated-store-bg: #f8f9f9;
  --override-deprecated-quickswitcher-input-background: #fff;
  --override-deprecated-quickswitcher-input-placeholder: #4f545c4d;
  --override-deprecated-text-input-bg: #4f545c05;
  --override-deprecated-text-input-border: #4f545c4d;
  --override-deprecated-text-input-border-hover: #b9bbbe;
  --override-deprecated-text-input-border-disabled: #dcddde;
  --override-deprecated-text-input-prefix: #b9bbbe;
}
.userPopoutOuter-1OHwPL,
.userProfileModalOuter-2wdWjU {
  --background-primary: var(--override-background-primary);
  --background-secondary: var(--override-background-secondary);
  --background-secondary-alt: var(--override-background-secondary-alt);
  --background-tertiary: var(--override-background-tertiary);
  --background-floating: var(--override-background-floating);
  --background-accent: var(--override-background-accent);
  --background-modifier-accent: var(--override-background-modifier-accent);
  --text-normal: var(--override-text-normal);
  --text-muted: var(--override-text-muted);
  --interactive-normal: var(--override-interactive-normal);
  --interactive-hover: var(--override-interactive-hover);
  --interactive-active: var(--override-interactive-active);
  --interactive-muted: var(--override-interactive-muted);
  --channels-default: var(--override-channels-default);
  --header-primary: var(--override-header-primary);
  --header-secondary: var(--override-header-secondary);
}
.userPopoutOuter-1OHwPL {
  width: 300px;
  background: var(--background-floating);
}
.userPopoutOuter-1OHwPL.userProfileOuterThemed-2BgJCM,
.userProfileOuterThemed-2BgJCM.userProfileOuter-2tQwNf {
  padding: 0;
}
.userPopoutInner-nv9Y92,
.userProfileModalInner-3dx9L9 {
  background: var(--background-floating);
}
.userPopoutInner-nv9Y92:before,
.userProfileModalInner-3dx9L9:before {
  display: none;
}
.overlayBackground-2aa7wt {
  background: none;
  margin: 0;
  margin-top: 16px;
}
.profileBadges-2pItdR {
  margin-top: 4px;
  background: none;
  border-radius: 0;
  max-width: 170px;
}
.badgeList-2aoHPw {
  background: none;
}
.userPopoutOuter-1OHwPL .bannerSVGWrapper-2CLfzN foreignObject {
  width: 300px;
}
.userPopoutOuter-1OHwPL .bannerSVGWrapper-2CLfzN mask image {
  x: 7.5px;
  y: 62;
}
.userPopoutOuter-1OHwPL .bannerSVGWrapper-2CLfzN mask circle {
  cx: 62;
  cy: 56;
}
.userPopoutOuter-1OHwPL .userProfileInnerThemedWithBanner-25XGmz .bannerSVGWrapper-2CLfzN mask circle {
  cy: 116;
}
.userPopoutOuter-1OHwPL .banner-1YaD3N {
  width: 300px;
}
.userPopoutOuter-1OHwPL .rolePill-78LFtg {
  background: var(--background-secondary-alt);
  border: none;
}
.userPopoutOuter-1OHwPL .messageInputContainer-24qqTx {
  border-color: #0000;
  background: var(--background-secondary-alt);
}
.userPopoutOuter-1OHwPL .wrapper-3Un6-K circle[fill="black"][r="14"][cx="68"][cy="68"],
.userProfileOuter-2tQwNf .wrapper-3Un6-K circle[fill="black"][r="20"][cx="100"][cy="100"],
.userPopoutOuter-1OHwPL .wrapper-3Un6-K circle[fill="white"][r="14"][cx="68"][cy="68"],
.userProfileOuter-2tQwNf .wrapper-3Un6-K circle[fill="white"][r="20"][cx="100"][cy="100"] {
  visibility: hidden
}
.userPopoutOuter-1OHwPL .overlayBackground-2aa7wt .scroller-15bIdk {
  padding-left: 0;
  padding-right: 0;
}
.userPopoutOuter-1OHwPL .overlayBackground-2aa7wt .section-28YDOf {
  padding-left: 16px;
  padding-right: 8px;
}
.userPopoutOuter-1OHwPL .overlayBackground-2aa7wt .lastSection-q3HCfo {
  padding-bottom: 16px;
}
.note-1NN2aP textarea:focus {
  background: var(--background-secondary-alt);
}
.connectedAccountContainer-3aLMHJ {
  padding: 8px 10px;
  border-color: var(--background-modifier-accent);
}
.userProfileModalOuter-2wdWjU .infoScroller-1QMpon {
  padding: 0 20px;
}
.userProfileModalOuter-2wdWjU .tabBarContainer-sCZC4w {
  margin-left: 0;
  margin-right: 0;
  padding-left: 20px;
  margin-top: 24px;
}
.userProfileModalOuter-2wdWjU .container-3g15px {
  padding-left: 16px;
  padding-top: 0;
}
.userProfileModalOuter-2wdWjU .badgeList-2aoHPw {
  margin-top: -2px;
  margin-left: -4px;
}
.userProfileModalOuter-2wdWjU .tabBarContainer-sCZC4w {
  border-bottom-color: var(--background-modifier-accent)
}
.customStatus-3qYNe4 {
  display: none
}
.userProfileModalOuter-2wdWjU .eyebrow-1Shfyi {
  color: var(--header-secondary);
}
.userPopoutOuter-1OHwPL .divider-2dDziJ {
  background: var(--background-modifier-accent);
  margin-left: 0;
  margin-right: 0;
}
.userProfileModalOuter-2wdWjU .divider-SH6OnO {
  border-top: solid 1px var(--background-modifier-accent);
  margin-left: 0;
  margin-right: 0;
}
.profileBadges-2pItdR {
  padding: 0;
}
.userPopoutOuter-1OHwPL .bannerSVGWrapper-2CLfzN:has(.popoutNoBannerPremium-25mwJy) {
  margin-top: -24px;
  transform: translateY(24px);
}
.userPopoutOuter-1OHwPL .avatarPositionPremiumNoBanner-2u3xDC {
  top: 16px;
}
.userPopoutOuter-1OHwPL .bannerSVGWrapper-2CLfzN .popoutNoBannerPremium-25mwJy {
  height: 60px;
}
.userPopoutOuter-1OHwPL .lookFilled-1H2Jvj.buttonColor-_0gSD_ {
  color: var(--white-500);
  transition: .17s background-color;
  background-color: var(--brand-experiment);
  opacity: 1 !important;
}
.userPopoutOuter-1OHwPL .lookFilled-1H2Jvj.buttonColor-_0gSD_:hover {
  background-color: var(--brand-experiment-560);
}
.userPopoutOuter-1OHwPL .lookFilled-1H2Jvj.buttonColor-_0gSD_:active {
  background-color: var(--brand-experiment-600);
}
.userPopoutOuter-1OHwPL .overlayBackground-2aa7wt .scroller-15bIdk::-webkit-scrollbar-thumb,
.userProfileModalOuter-2wdWjU .infoScroller-1QMpon::-webkit-scrollbar-thumb {
  background-color: var(--override-scrollbar-thin-thumb);
}