/**
* @name WDProfiles
* @author 11pixels
* @version 1.1
* @invite vUN9sNW
* @description WD1 style profile popout UI
*/
.userPopoutOuter-1OHwPL .bannerSVGWrapper-2CLfzN {
  display: none;
}
.userPopoutOuter-1OHwPL {
  border-radius: 0;
  background: none !important;
  box-shadow: none !important;
}
.userPopoutOuter-1OHwPL .userPopoutInner-nv9Y92 {
  background: none !important;
  border-radius: 0;
}
.userPopoutOuter-1OHwPL .userPopoutInner-nv9Y92:before {
  display: none;
}
.userPopoutOuter-1OHwPL .overlayBackground-2aa7wt {
  margin: 0;
  margin-top: 28px;
  margin-right: 90px;
  overflow: visible;
  border-radius: 0;
  background: none;
}
.userPopoutOuter-1OHwPL .avatarWrapper-eenWra {
  left: unset;
  right: 0;
  top: 0;
}
.userPopoutOuter-1OHwPL .avatarWrapper-eenWra {
  padding-top: 4px;
  padding-left: 4px;
  background: #000;
  width: 84px;
  min-height: 84px !important;
  border-radius: 0;
}
.userPopoutOuter-1OHwPL .avatarWrapper-eenWra foreignObject {
  mask: none;
  clip-path: polygon(15% 0%, 100% 0, 100% 85%, 85% 100%, 0 100%, 0% 15%);
}
.userPopoutOuter-1OHwPL .avatarWrapper-eenWra circle,
.userPopoutOuter-1OHwPL .avatarWrapper-eenWra rect {
  display: none;
}
.userPopoutOuter-1OHwPL .avatarHint-k7pYop {
  top: 4px;
  left: 4px;
}
.userPopoutOuter-1OHwPL .profileBadges-2pItdR {
  position: absolute;
  top: 4px;
  z-index: 10;
  max-width: 250px;
  left: 0;
  right: unset;
  border-radius: 0;
  background: #0000;
  flex-wrap: wrap-reverse;
  align-items: start;
  justify-content: start;
  height: 20px;
  padding: 0;
  gap: 2px;
}
.userPopoutOuter-1OHwPL .profileBadges-2pItdR .anchor-1X4H4q {
  background: #000;
  padding: 2px;
}
.userPopoutOuter-1OHwPL .nickname-3P1RuO {
  background: #fff;
  padding: 4px;
  font-family: var(--font-primary);
}
.userPopoutOuter-1OHwPL .userTag-3A4Fw4.userTagWithNickname-13lfvd {
  padding: 4px;
  background: #000;
  margin-top: 2px;
  display: block;
}
.userPopoutOuter-1OHwPL .buttonsContainer-3iOFIV {
  gap: 2px;
}
.userPopoutOuter-1OHwPL .buttonsContainer-3iOFIV .button-ejjZWC {
  padding: 4px;
  background: #000;
  margin-top: 2px;
  border-radius: 0;
  display: flex;
}
.userPopoutOuter-1OHwPL .userTagNoNickname-h9Bh88.userTag-3A4Fw4:after,
.userPopoutOuter-1OHwPL .nickname-3P1RuO:after {
  content: "";
  position: absolute;
  background: #fff;
  width: 16px;
  height: 32px;
  top: 0;
  right: -16px;
  clip-path: polygon(100% 50%, 0 0, 0 100%);
}
.userPopoutOuter-1OHwPL .userTagNoNickname-h9Bh88.userTag-3A4Fw4 .userTagUsernameNoNickname-2lKUnI,
.userPopoutOuter-1OHwPL .nickname-3P1RuO {
  color: #000;
  font-weight: 600;
}
.userPopoutOuter-1OHwPL .userTagNoNickname-h9Bh88.userTag-3A4Fw4 .discrimBase-v65kTs {
  color: #0008;
}
.userPopoutOuter-1OHwPL .userTagWithNickname-3-znkC.userTag-3A4Fw4 {
  background: #000;
  padding: 4px;
  margin-top: 2px;
  width: auto;
  display: inline-block;
}
.userPopoutOuter-1OHwPL .userTagWithNickname-3-znkC.userTag-3A4Fw4 .username-3JLfHz,
.userPopoutOuter-1OHwPL .userTagWithNickname-3-znkC.userTag-3A4Fw4 .discrimBase-v65kTs {
  color: #fff;
}
.userPopoutOuter-1OHwPL .customStatus-19KW6v {
  background: #000;
  padding: 4px;
  margin-top: 2px;
  display: inline-block;
  width: auto;
}
.userPopoutOuter-1OHwPL .customStatus-19KW6v .customStatusEmoji-1GD8RK.customStatusSoloEmoji-a_jSVz {
  width: 24px;
  height: 24px;
}
.userPopoutOuter-1OHwPL .section-28YDOf {
  padding: 0;
}
.userPopoutOuter-1OHwPL .title-3CjiSS {
  display: none;
}
.userPopoutOuter-1OHwPL .title-3CjiSS+.markup-eYLPri {
  background: #000;
  padding: 4px;
  margin-top: 2px;
}
.userPopoutOuter-1OHwPL .divider-2dDziJ {
  display: none;
}
.userPopoutOuter-1OHwPL .roles-3vQPxb {
  background: #000;
  padding: 4px 2px 2px 4px;
}
.userPopoutOuter-1OHwPL .note-1NN2aP {
  background: #000;
  margin-top: 2px;
}
.userPopoutOuter-1OHwPL .messageInputContainer-24qqTx {
  background: #000;
  border-radius: 0;
  border: none;
  margin-top: 2px;
}
.userPopoutOuter-1OHwPL .scroller-15bIdk {
  padding: 0 !important;
  margin-right: -8px;
  margin-top: 2px;
}
.userPopoutOuter-1OHwPL .scroller-15bIdk::-webkit-scrollbar-thumb {
  border-radius: 0;
  background-color: #000;
  border-bottom: none;
  border-top: none;
}
.userPopoutOuter-1OHwPL .scroller-15bIdk::-webkit-scrollbar-track {
  margin: 0;
}
.userPopoutOuter-1OHwPL .scroller-15bIdk>.section-28YDOf:first-child,
.userPopoutOuter-1OHwPL .scroller-15bIdk>.section-28YDOf:first-child :is(.markup-eYLPri, .memberSinceContainer-2CBD23) {
  margin-top: 0;
}
.userPopoutOuter-1OHwPL .customStatusSection-2_fKRl {
  display: flex;
  flex: 1 1 auto;
}
.userPopoutOuter-1OHwPL .pronouns-17_QV6 {
  background: #000;
  margin-top: 2px;
  padding: 2px 4px;
  display: flex;
}
.userPopoutOuter-1OHwPL .memberSinceContainer-2CBD23 {
  background: #000;
  margin-top: 2px;
  padding: 4px;
}
.userProfileOuterThemed-2BgJCM.userPopoutOuter-1OHwPL {
  padding: 0;
}
.userPopoutOuter-1OHwPL .connectionsContainer-3MmgH3 {
  border: none;
  border-radius: 0;
}
.userPopoutOuter-1OHwPL .connectionsContainer-3MmgH3 :is(.connectedAccountContainer-3aLMHJ, .connections-2K6Bu6) {
  background: #000;
  border: none;
  border-radius: 0;
  margin-top: 2px;
}
.userPopoutOuter-1OHwPL .section-28YDOf .activityUserPopoutV2-3eKqzY {
  background: #000;
  margin-top: 2px;
  padding: 4px;
}
.userPopoutOuter-1OHwPL .section-28YDOf .popularApplicationCommandsList-QxQITG {
  gap: 2px;
  display: flex;
}
.userPopoutOuter-1OHwPL .section-28YDOf .popularApplicationCommandsList-QxQITG li {
  flex: 1 1 auto;
}
.userPopoutOuter-1OHwPL .section-28YDOf .popularApplicationCommandsList-QxQITG button {
  border-radius: 0;
  background: #000;
  margin-top: 2px;
  width: 100%;
}
.avatarDecoration-34OC0G, .avatarDecoration-2Wb1Au {
    display: none !important;
}
.avatarDecorationHint-3n-p6O>foreignObject {
    mask: none !important;
}
.avatarDecorationHint-3n-p6O {
  inset: 0;
  width: 100%;
  height: 100%;
  border-radius: 0 !important;
}