/**
* @name WDProfiles
* @author 11pixels
* @version 1.1
* @invite vUN9sNW
* @description WD1 style profile popout UI
*/
.userPopoutOuter_d739b2 .bannerSVGWrapper__3e7b0 {
  display: none;
}
.userPopoutOuter_d739b2 {
  border-radius: 0;
  background: none !important;
  box-shadow: none !important;
  filter: drop-shadow(0 4px 8px #0004);
  --text-normal: #fff !important;
  --interactive-normal: #fff !important;
  --interactive-active: #fff !important;
  --header-primary: #fff !important;
  --header-secondary: #aaa !important;
  --text-muted: #aaa !important;
  --input-placeholder-text: #888 !important;
  --profile-role-pill-border-color: #222 !important;
  --profile-role-pill-background-color: #222 !important;
  --background-secondary: #222 !important;
}
.userPopoutOuter_d739b2 .userPopoutInner_f545a3 {
  background: none !important;
  border-radius: 0;
}
.userPopoutOuter_d739b2 .userPopoutInner_f545a3:before {
  display: none;
}
.userPopoutOuter_d739b2 .overlayBackground__86b78 {
  margin: 0;
  margin-top: 28px;
  margin-right: 90px;
  overflow: visible;
  border-radius: 0;
  background: none;
}
.userPopoutOuter_d739b2 .avatarWrapper_f77579 {
  left: unset;
  right: 0;
  top: 0;
}
.userPopoutOuter_d739b2 .avatarWrapper_f77579 {
  padding-top: 4px;
  padding-left: 4px;
  background: #000;
  width: 84px;
  min-height: 84px !important;
  border-radius: 0;
}
.userPopoutOuter_d739b2 .avatarWrapper_f77579 foreignObject {
  mask: none;
  clip-path: polygon(15% 0%, 100% 0, 100% 85%, 85% 100%, 0 100%, 0% 15%);
}
.userPopoutOuter_d739b2 .avatarWrapper_f77579 circle,
.userPopoutOuter_d739b2 .avatarWrapper_f77579 rect {
  display: none;
}
.userPopoutOuter_d739b2 .avatarHint__8e5b9 {
  top: 4px;
  left: 4px;
}
.userPopoutOuter_d739b2 .profileBadges__7a7cb {
  position: absolute;
  top: 4px;
  z-index: 10;
  max-width: 250px;
  left: 0;
  right: unset;
  border-radius: 0;
  background: #0000;
  flex-wrap: wrap-reverse;
  align-items: start;
  justify-content: start;
  height: 20px;
  padding: 0;
  gap: 2px;
}
.userPopoutOuter_d739b2 .profileBadges__7a7cb .anchor_c8ddc0 {
  background: #000;
  padding: 2px;
}
.userPopoutOuter_d739b2 .nickname__3d1d7 {
  background: #fff;
  padding: 4px;
  font-family: var(--font-primary);
}
.userPopoutOuter_d739b2 .userTag_cf17d3.userTagWithNickname__1eba9 {
  padding: 4px;
  background: #000;
  margin-top: 2px;
  display: block;
}
.userPopoutOuter_d739b2 .buttonsContainer__241b0 {
  gap: 2px;
}
.userPopoutOuter_d739b2 .buttonsContainer__241b0 .button_afdfd9 {
  padding: 4px;
  background: #000;
  margin-top: 2px;
  border-radius: 0;
  display: flex;
}
.userPopoutOuter_d739b2 .userTagNoNickname__6b0db.userTag_cf17d3:after,
.userPopoutOuter_d739b2 .nickname__3d1d7:after {
  content: "";
  position: absolute;
  background: #fff;
  width: 16px;
  height: 32px;
  top: 0;
  right: -16px;
  clip-path: polygon(100% 50%, 0 0, 0 100%);
}
.userPopoutOuter_d739b2 .userTagNoNickname__6b0db.userTag_cf17d3 .userTagUsernameNoNickname_d6e61f,
.userPopoutOuter_d739b2 .nickname__3d1d7 {
  color: #000;
  font-weight: 600;
}
.userPopoutOuter_d739b2 .userTagNoNickname__6b0db.userTag_cf17d3 .discrimBase_e0c4c5 {
  color: #0008;
}
.userPopoutOuter_d739b2 .userTagWithNickname__1eba9.userTag_cf17d3 {
  background: #000;
  padding: 4px;
  margin-top: 2px;
  width: auto;
  display: inline-block;
}
.userPopoutOuter_d739b2 .userTagWithNickname__1eba9.userTag_cf17d3 .username__2cac3,
.userPopoutOuter_d739b2 .userTagWithNickname__1eba9.userTag_cf17d3 .discrimBase_e0c4c5 {
  color: #fff;
}
.userPopoutOuter_d739b2 .customStatus__3aa7f {
  background: #000;
  padding: 4px;
  margin-top: 2px;
  display: inline-block;
  width: auto;
}
.userPopoutOuter_d739b2 .customStatus__3aa7f .customStatusEmoji__00639.customStatusSoloEmoji__24b58 {
  width: 24px;
  height: 24px;
}
.userPopoutOuter_d739b2 .section__6f61e {
  padding: 0;
}
.userPopoutOuter_d739b2 .title_ef4a6d {
  display: none;
}
.userPopoutOuter_d739b2 .title_ef4a6d+.markup_a7e664 {
  background: #000;
  padding: 4px;
  margin-top: 2px;
}
.userPopoutOuter_d739b2 .divider__2bbbc {
  display: none;
}
.userPopoutOuter_d739b2 .roles__74a2b {
  background: #000;
  padding: 4px 2px 2px 4px;
}
.userPopoutOuter_d739b2 .note_ba0c31 {
  background: #000;
  margin-top: 2px;
}
.userPopoutOuter_d739b2 .messageInputContainer__768e6 {
  background: #000;
  border-radius: 0;
  border: none;
  margin-top: 2px;
}
.userPopoutOuter_d739b2 .scroller__83262 {
  padding: 0 !important;
  margin-right: -8px;
  margin-top: 2px;
}
.userPopoutOuter_d739b2 .scroller__83262::-webkit-scrollbar-thumb {
  border-radius: 0;
  background-color: #000;
  border-bottom: none;
  border-top: none;
}
.userPopoutOuter_d739b2 .scroller__83262::-webkit-scrollbar-track {
  margin: 0;
}
.userPopoutOuter_d739b2 .scroller__83262>.section__6f61e:first-child,
.userPopoutOuter_d739b2 .scroller__83262>.section__6f61e:first-child :is(.markup_a7e664, .memberSinceContainer__0a28b) {
  margin-top: 0;
}
.userPopoutOuter_d739b2 .customStatusSection_ce6c27 {
  display: flex;
  flex: 1 1 auto;
}
.userPopoutOuter_d739b2 .pronouns__8bcdb {
  background: #000;
  margin-top: 2px;
  padding: 2px 4px;
  display: flex;
}
.userPopoutOuter_d739b2 .memberSinceContainer__0a28b {
  background: #000;
  margin-top: 2px;
  padding: 4px;
}
.userProfileOuterThemed__6eb84.userPopoutOuter_d739b2 {
  padding: 0;
}
.userPopoutOuter_d739b2 .connectionsContainer__67854 {
  border: none;
  border-radius: 0;
}
.userPopoutOuter_d739b2 .connectionsContainer__67854 :is(.connectedAccountContainer__23f00, .connections_ed453f) {
  background: #000;
  border: none;
  border-radius: 0;
  margin-top: 2px;
}
.userPopoutOuter_d739b2 .section__6f61e .activityUserPopoutV2__32328 {
  background: #000;
  margin-top: 2px;
  padding: 4px;
}
.userPopoutOuter_d739b2 .section__6f61e .popularApplicationCommandsList__24d5d {
  gap: 2px;
  display: flex;
}
.userPopoutOuter_d739b2 .section__6f61e .popularApplicationCommandsList__24d5d li {
  flex: 1 1 auto;
}
.userPopoutOuter_d739b2 .section__6f61e .popularApplicationCommandsList__24d5d button {
  border-radius: 0;
  background: #000;
  margin-top: 2px;
  width: 100%;
}
.avatarDecoration__14b3c, .avatarDecoration_ae35e3 {
    display: none !important;
}
.avatarDecorationHint__03e0b>foreignObject {
    mask: none !important;
}
.avatarDecorationHint__03e0b {
  inset: 0;
  width: 100%;
  height: 100%;
  border-radius: 0 !important;
}
.containerWrapper_fa6aa6 {
  display: none;
}
.profileEffects_fd33f6 {
  display: none;
}