/**
* @name WDProfiles
* @author 11pixels
* @version 1.1
* @description WD1 style profile popout UI
*/
.userPopoutOuter_d67f56 .bannerSVGWrapper__8a38c {
  display: none;
}
.userPopoutOuter_d67f56 {
  border-radius: 0;
  background: none !important;
  box-shadow: none !important;
  filter: drop-shadow(0 4px 8px #0004);
  --text-normal: #fff !important;
  --interactive-normal: #fff !important;
  --interactive-active: #fff !important;
  --header-primary: #fff !important;
  --header-secondary: #aaa !important;
  --text-muted: #aaa !important;
  --input-placeholder-text: #888 !important;
  --profile-role-pill-border-color: #222 !important;
  --profile-role-pill-background-color: #222 !important;
  --background-secondary: #222 !important;
}
.userPopoutOuter_d67f56 .userPopoutInner_ac0960 {
  background: none !important;
  border-radius: 0;
}
.userPopoutOuter_d67f56 .userPopoutInner_ac0960:before {
  display: none;
}
.userPopoutOuter_d67f56 .overlayBackground__345c9 {
  margin: 0;
  margin-top: 28px;
  margin-right: 90px;
  overflow: visible;
  border-radius: 0;
  background: none;
}
.userPopoutOuter_d67f56 .avatarWrapper__0cd44 {
  left: unset;
  right: 0;
  top: 0;
}
.userPopoutOuter_d67f56 .avatarWrapper__0cd44 {
  padding-top: 4px;
  padding-left: 4px;
  background: #000;
  width: 84px;
  min-height: 84px !important;
  border-radius: 0;
}
.userPopoutOuter_d67f56 .avatarWrapper__0cd44 foreignObject {
  mask: none;
  clip-path: polygon(15% 0%, 100% 0, 100% 85%, 85% 100%, 0 100%, 0% 15%);
}
.userPopoutOuter_d67f56 .avatarWrapper__0cd44 circle,
.userPopoutOuter_d67f56 .avatarWrapper__0cd44 rect {
  display: none;
}
.userPopoutOuter_d67f56 .avatarHint__15059 {
  top: 4px;
  left: 4px;
}
.userPopoutOuter_d67f56 .profileBadges__1f2ab {
  position: absolute;
  top: 4px;
  z-index: 10;
  max-width: 250px;
  left: 0;
  right: unset;
  border-radius: 0;
  background: #0000;
  flex-wrap: wrap-reverse;
  align-items: start;
  justify-content: start;
  height: 20px;
  padding: 0;
  gap: 2px;
}
.userPopoutOuter_d67f56 .profileBadges__1f2ab .anchor_c8ddc0 {
  background: #000;
  padding: 2px;
}
.userPopoutOuter_d67f56 .nickname_db3773 {
  background: #fff;
  padding: 4px;
  font-family: var(--font-primary);
}
.userPopoutOuter_d67f56 .userTag__45349.userTagWithNickname__0a777 {
  padding: 4px;
  background: #000;
  margin-top: 2px;
  display: block;
}
.userPopoutOuter_d67f56 .buttonsContainer__83ada {
  gap: 2px;
}
.userPopoutOuter_d67f56 .buttonsContainer__83ada .button__581d0 {
  padding: 4px;
  background: #000;
  margin-top: 2px;
  border-radius: 0;
  display: flex;
}
.userPopoutOuter_d67f56 .userTagNoNickname__304eb.userTag__45349:after,
.userPopoutOuter_d67f56 .nickname_db3773:after {
  content: "";
  position: absolute;
  background: #fff;
  width: 16px;
  height: 32px;
  top: 0;
  right: -16px;
  clip-path: polygon(100% 50%, 0 0, 0 100%);
}
.userPopoutOuter_d67f56 .userTagNoNickname__304eb.userTag__45349 .userTagUsernameNoNickname__0513b,
.userPopoutOuter_d67f56 .nickname_db3773 {
  color: #000;
  font-weight: 600;
}
.userPopoutOuter_d67f56 .userTagNoNickname__304eb.userTag__45349 .discrimBase__5555e {
  color: #0008;
}
.userPopoutOuter_d67f56 .usernameSection_dd6196 {
  display: block;
}
.userPopoutOuter_d67f56 .userTagWithNickname__0a777.userTag__45349 {
  background: #000;
  padding: 4px;
  margin-top: 2px;
  width: auto;
  display: inline-block;
}
.userPopoutOuter_d67f56 .userTagWithNickname__0a777.userTag__45349 .username__7d629,
.userPopoutOuter_d67f56 .userTagWithNickname__0a777.userTag__45349 .discrimBase__5555e {
  color: #fff;
}
.userPopoutOuter_d67f56 .customStatus__6a31a {
  background: #000;
  padding: 4px;
  margin-top: 2px;
  display: inline-block;
  width: auto;
}
.userPopoutOuter_d67f56 .customStatus__6a31a .customStatusEmoji__81bd9.customStatusSoloEmoji_aab12e {
  width: 24px;
  height: 24px;
}
.userPopoutOuter_d67f56 .section__62b44 {
  padding: 0;
}
.userPopoutOuter_d67f56 .title__392bc {
  display: none;
}
.userPopoutOuter_d67f56 .title__392bc+.markup_a7e664 {
  background: #000;
  padding: 4px;
  margin-top: 2px;
}
.userPopoutOuter_d67f56 .divider_d6f39c {
  display: none;
}
.userPopoutOuter_d67f56 .roles__74a2b {
  background: #000;
  padding: 4px 2px 2px 4px;
}
.userPopoutOuter_d67f56 .note_ba0c31 {
  background: #000;
  margin-top: 2px;
}
.userPopoutOuter_d67f56 .messageInputContainer_a93946 {
  background: #000;
  border-radius: 0;
  border: none;
  margin-top: 2px;
}
.userPopoutOuter_d67f56 .scroller_f9a667 {
  padding: 0 !important;
  margin-right: -8px;
  margin-top: 2px;
}
.userPopoutOuter_d67f56 .scroller_f9a667::-webkit-scrollbar-thumb {
  border-radius: 0;
  background-color: #000;
  border-bottom: none;
  border-top: none;
}
.userPopoutOuter_d67f56 .scroller_f9a667::-webkit-scrollbar-track {
  margin: 0;
}
.userPopoutOuter_d67f56 .scroller_f9a667>.section__62b44:first-child,
.userPopoutOuter_d67f56 .scroller_f9a667>.section__62b44:first-child :is(.markup_a7e664, .memberSinceContainer__16630) {
  margin-top: 0;
}
.userPopoutOuter_d67f56 .customStatusSection_c9f9ba {
  display: flex;
  flex: 1 1 auto;
}
.userPopoutOuter_d67f56 .pronouns__8aa38 {
  background: #000;
  margin-top: 2px;
  padding: 2px 4px;
  display: flex;
}
.userPopoutOuter_d67f56 .memberSinceContainer__16630 {
  background: #000;
  margin-top: 2px;
  padding: 4px;
}
.userProfileOuterThemed_a425f3.userPopoutOuter_d67f56 {
  padding: 0;
}
.userPopoutOuter_d67f56 .connectionsContainer_ad3ca0 {
  border: none;
  border-radius: 0;
}
.userPopoutOuter_d67f56 .connectionsContainer_ad3ca0 :is(.connectedAccountContainer__5972d, .connections_f0b7d8) {
  background: #000;
  border: none;
  border-radius: 0;
  margin-top: 2px;
}
.userPopoutOuter_d67f56 .section__62b44 .activityUserPopoutV2__89098 {
  background: #000;
  margin-top: 2px;
  padding: 4px;
}
.userPopoutOuter_d67f56 .profileMutuals__95dc2 {
  background: #000;
  margin-top: 2px;
  padding: 4px;
}
.userPopoutOuter_d67f56 .section__62b44 .popularApplicationCommandsList__0eb68 {
  gap: 2px;
  display: flex;
}
.userPopoutOuter_d67f56 .section__62b44 .popularApplicationCommandsList__0eb68 li {
  flex: 1 1 auto;
}
.userPopoutOuter_d67f56 .section__62b44 .popularApplicationCommandsList__0eb68 button {
  border-radius: 0;
  background: #000;
  margin-top: 2px;
  width: 100%;
}
.avatarDecoration__8a0c2, .avatarDecoration_cf681a {
    display: none !important;
}
.avatarDecorationHint__04b99>foreignObject {
    mask: none !important;
}
.avatarDecorationHint__04b99 {
  inset: 0;
  width: 100%;
  height: 100%;
  border-radius: 0 !important;
}
.containerWrapper_b1818f {
  display: none;
}
.profileEffects__9b664 {
  display: none;
}