/**
* @name WD2Profiles
* @author 11pixels
* @version 1.1
* @invite vUN9sNW
* @description WD2 style profile popout UI
*/
.userPopoutOuter_d67f56 {
  padding: 0 !important;
  margin: 0;
  background:none;
  border-radius: 0;
  box-shadow: none;
}
.userPopoutInner_ac0960 {
  background: #0002;
  border-radius: 0;
  backdrop-filter: blur(8px);
}
.userPopoutInner_ac0960:before {display:none!important}
.theme-light .userPopoutInner_ac0960 {
  background: #0004;
}
.userPopoutOuter_d67f56 .bannerSVGWrapper__8a38c {
  display: none;
}
.userPopoutOuter_d67f56 .overlayBackground__345c9 {
  border-radius: 0;
  background: #0002;
  margin: 8px;
  padding-top: 30px;
  --text-normal: #fff;
  --interactive-active: #fff;
  --header-secondary: #fff8;
  --header-primary: #fff;
  --profile-role-pill-background-color: #0004;
}
.theme-light .userPopoutOuter_d67f56 .overlayBackground__345c9 {
  background: #0004;
}
.userPopoutOuter_d67f56 .profileBadges__1f2ab {
  background: #393939;
  right: 8px;
  top: 38px;
  z-index: 2;
  border-radius: 0;
  width: 100%;
  padding: 4px;
  max-width: 316px;
  margin-bottom: 0px;
  margin-top: -30px;
}
.theme-dark .userPopoutOuter_d67f56 .profileBadges__1f2ab {
  background: #444;
}
.userPopoutOuter_d67f56 .overlayBackground__345c9>.section__62b44 {
  background: #05AAEF;
}
.userPopoutOuter_d67f56 .overlayBackground__345c9>.divider_d6f39c {
  margin-top: 0;
  padding-top: 8px;
  background: #05AAEF;
  width: 100%;
  margin-left: 0;
}
.userPopoutOuter_d67f56 .avatarWrapper__0cd44 {
  top: 45px;
  left: 16px;
  z-index: 2;
}
.userPopoutOuter_d67f56 .avatarWrapper__0cd44 .mask_d5067d.svg_a6bf1c {
  width: 64px;
  height: 64px;
}
.userPopoutOuter_d67f56 .avatarWrapper__0cd44 .wrapper__3ed10 {
  width: 56px !important;
  height: 56px !important;
  min-width: 0 !important;
  min-height: 0 !important;
}
.userPopoutOuter_d67f56 .avatarWrapper__0cd44 .mask_d5067d.svg_a6bf1c>circle {
  fill: none;
}
.userPopoutOuter_d67f56 .avatarWrapper__0cd44 .mask_d5067d.svg_a6bf1c>rect {
  fill: #fff;
}
.userPopoutOuter_d67f56 .avatarWrapper__0cd44>svg  {
  width: 56px;
  height: 56px;
}
.userPopoutOuter_d67f56 .userText_c26b46 {
  padding-left: 64px;
  min-height: 48px;
  --header-primary: #fff;
  --header-secondary: #fffb;
  --interactive-active: #fff;
}
.userPopoutOuter_d67f56 .customStatus__6a31a {
  color: #fff;
}
.userPopoutOuter_d67f56 .messageInputContainer_a93946 {
  border-color: #fff4;
  --input-placeholder-text: #fff8;
}
.userPopoutOuter_d67f56 .pronouns__8aa38 {
  contain: none;
  position: absolute;
  top: 4px;
  left: 8px;
  z-index: 999;
  max-width: 310px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.userPopoutOuter_d67f56 .profileBadges__1f2ab:has(.anchor_c8ddc0:nth-child(8)) .anchor_c8ddc0 {
  width: 12px;
  height: 12px;
}
.userPopoutOuter_d67f56 .profileBadges__1f2ab:has(.anchor_c8ddc0:nth-child(8)) .anchor_c8ddc0 img {
  width: 12px;
  height: 12px;
}
.avatarDecoration__8a0c2, .avatarDecoration_cf681a {
    display: none !important;
}
.avatarDecorationHint__04b99>foreignObject {
    mask: url(#svg-mask-avatar-status-round-80) !important;
}
.avatarDecorationHint__04b99 {
    top: 0;
    left: 0;
}
.containerWrapper_b1818f {
  display: none;
}
.profileEffects__9b664 {
  display: none;
}