/**
* @name WD2Profiles
* @author 11pixels
* @version 1.1
* @invite vUN9sNW
* @description WD2 style profile popout UI
*/
.userPopoutOuter-1OHwPL {
  padding: 0 !important;
  margin: 0;
  background:none;
  border-radius: 0;
  box-shadow: none;
}
.userPopoutInner-nv9Y92 {
  background: #0002;
  border-radius: 0;
  backdrop-filter: blur(8px);
}
.userPopoutInner-nv9Y92:before {display:none!important}
.theme-light .userPopoutInner-nv9Y92 {
  background: #0004;
}
.userPopoutOuter-1OHwPL .bannerSVGWrapper-2CLfzN {
  display: none;
}
.userPopoutOuter-1OHwPL .overlayBackground-2aa7wt {
  border-radius: 0;
  background: #0002;
  margin: 8px;
  padding-top: 30px;
  --text-normal: #fff;
  --interactive-active: #fff;
  --header-secondary: #fff8;
  --header-primary: #fff;
  --profile-role-pill-background-color: #0004;
}
.theme-light .userPopoutOuter-1OHwPL .overlayBackground-2aa7wt {
  background: #0004;
}
.userPopoutOuter-1OHwPL .profileBadges-2pItdR {
  background: #393939;
  right: 8px;
  top: 38px;
  z-index: 2;
  border-radius: 0;
  width: 100%;
  padding: 4px;
  max-width: 316px;
  margin-bottom: 0px;
  margin-top: -30px;
}
.theme-dark .userPopoutOuter-1OHwPL .profileBadges-2pItdR {
  background: #444;
}
.userPopoutOuter-1OHwPL .overlayBackground-2aa7wt>.section-28YDOf {
  background: #05AAEF;
}
.userPopoutOuter-1OHwPL .overlayBackground-2aa7wt>.divider-2dDziJ {
  margin-top: 0;
  padding-top: 8px;
  background: #05AAEF;
  width: 100%;
  margin-left: 0;
}
.userPopoutOuter-1OHwPL .avatarWrapper-eenWra {
  top: 45px;
  left: 16px;
  z-index: 2;
}
.userPopoutOuter-1OHwPL .avatarWrapper-eenWra .mask-1y0tyc.svg-1G_H_8 {
  width: 64px;
  height: 64px;
}
.userPopoutOuter-1OHwPL .avatarWrapper-eenWra .wrapper-3Un6-K {
  width: 56px !important;
  height: 56px !important;
  min-width: 0 !important;
  min-height: 0 !important;
}
.userPopoutOuter-1OHwPL .avatarWrapper-eenWra .mask-1y0tyc.svg-1G_H_8>circle {
  fill: none;
}
.userPopoutOuter-1OHwPL .avatarWrapper-eenWra .mask-1y0tyc.svg-1G_H_8>rect {
  fill: #fff;
}
.userPopoutOuter-1OHwPL .avatarWrapper-eenWra>svg  {
  width: 56px;
  height: 56px;
}
.userPopoutOuter-1OHwPL .userText-1_v2Cq {
  padding-left: 64px;
  min-height: 48px;
  --header-primary: #fff;
  --header-secondary: #fffb;
  --interactive-active: #fff;
}
.userPopoutOuter-1OHwPL .customStatus-19KW6v {
  color: #fff;
}
.userPopoutOuter-1OHwPL .messageInputContainer-24qqTx {
  border-color: #fff4;
  --input-placeholder-text: #fff8;
}
.userPopoutOuter-1OHwPL .pronouns-17_QV6 {
  contain: none;
  position: absolute;
  top: 4px;
  left: 8px;
  z-index: 999;
  max-width: 310px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.userPopoutOuter-1OHwPL .profileBadges-2pItdR:has(.anchor-1X4H4q:nth-child(8)) .anchor-1X4H4q {
  width: 12px;
  height: 12px;
}
.userPopoutOuter-1OHwPL .profileBadges-2pItdR:has(.anchor-1X4H4q:nth-child(8)) .anchor-1X4H4q img {
  width: 12px;
  height: 12px;
}
.avatarDecoration-34OC0G, .avatarDecoration-2Wb1Au {
    display: none !important;
}
.avatarDecorationHint-3n-p6O>foreignObject {
    mask: url(#svg-mask-avatar-status-round-80) !important;
}
.avatarDecorationHint-3n-p6O {
    top: 0;
    left: 0;
}