/**
* @name WD2Profiles
* @author 11pixels
* @version 1.1
* @invite vUN9sNW
* @description WD2 style profile popout UI
*/
.userPopoutOuter_d739b2 {
  padding: 0 !important;
  margin: 0;
  background:none;
  border-radius: 0;
  box-shadow: none;
}
.userPopoutInner_f545a3 {
  background: #0002;
  border-radius: 0;
  backdrop-filter: blur(8px);
}
.userPopoutInner_f545a3:before {display:none!important}
.theme-light .userPopoutInner_f545a3 {
  background: #0004;
}
.userPopoutOuter_d739b2 .bannerSVGWrapper__3e7b0 {
  display: none;
}
.userPopoutOuter_d739b2 .overlayBackground__86b78 {
  border-radius: 0;
  background: #0002;
  margin: 8px;
  padding-top: 30px;
  --text-normal: #fff;
  --interactive-active: #fff;
  --header-secondary: #fff8;
  --header-primary: #fff;
  --profile-role-pill-background-color: #0004;
}
.theme-light .userPopoutOuter_d739b2 .overlayBackground__86b78 {
  background: #0004;
}
.userPopoutOuter_d739b2 .profileBadges__7a7cb {
  background: #393939;
  right: 8px;
  top: 38px;
  z-index: 2;
  border-radius: 0;
  width: 100%;
  padding: 4px;
  max-width: 316px;
  margin-bottom: 0px;
  margin-top: -30px;
}
.theme-dark .userPopoutOuter_d739b2 .profileBadges__7a7cb {
  background: #444;
}
.userPopoutOuter_d739b2 .overlayBackground__86b78>.section__6f61e {
  background: #05AAEF;
}
.userPopoutOuter_d739b2 .overlayBackground__86b78>.divider__2bbbc {
  margin-top: 0;
  padding-top: 8px;
  background: #05AAEF;
  width: 100%;
  margin-left: 0;
}
.userPopoutOuter_d739b2 .avatarWrapper_f77579 {
  top: 45px;
  left: 16px;
  z-index: 2;
}
.userPopoutOuter_d739b2 .avatarWrapper_f77579 .mask__1979f.svg_f5b652 {
  width: 64px;
  height: 64px;
}
.userPopoutOuter_d739b2 .avatarWrapper_f77579 .wrapper_edb6e0 {
  width: 56px !important;
  height: 56px !important;
  min-width: 0 !important;
  min-height: 0 !important;
}
.userPopoutOuter_d739b2 .avatarWrapper_f77579 .mask__1979f.svg_f5b652>circle {
  fill: none;
}
.userPopoutOuter_d739b2 .avatarWrapper_f77579 .mask__1979f.svg_f5b652>rect {
  fill: #fff;
}
.userPopoutOuter_d739b2 .avatarWrapper_f77579>svg  {
  width: 56px;
  height: 56px;
}
.userPopoutOuter_d739b2 .userText__3e8b7 {
  padding-left: 64px;
  min-height: 48px;
  --header-primary: #fff;
  --header-secondary: #fffb;
  --interactive-active: #fff;
}
.userPopoutOuter_d739b2 .customStatus__3aa7f {
  color: #fff;
}
.userPopoutOuter_d739b2 .messageInputContainer__768e6 {
  border-color: #fff4;
  --input-placeholder-text: #fff8;
}
.userPopoutOuter_d739b2 .pronouns__8bcdb {
  contain: none;
  position: absolute;
  top: 4px;
  left: 8px;
  z-index: 999;
  max-width: 310px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.userPopoutOuter_d739b2 .profileBadges__7a7cb:has(.anchor_c8ddc0:nth-child(8)) .anchor_c8ddc0 {
  width: 12px;
  height: 12px;
}
.userPopoutOuter_d739b2 .profileBadges__7a7cb:has(.anchor_c8ddc0:nth-child(8)) .anchor_c8ddc0 img {
  width: 12px;
  height: 12px;
}
.avatarDecoration__14b3c, .avatarDecoration_ae35e3 {
    display: none !important;
}
.avatarDecorationHint__03e0b>foreignObject {
    mask: url(#svg-mask-avatar-status-round-80) !important;
}
.avatarDecorationHint__03e0b {
    top: 0;
    left: 0;
}
.containerWrapper_fa6aa6 {
  display: none;
}
.profileEffects_fd33f6 {
  display: none;
}