/**
* @name Darker-DTM-16
* @author 11pixels#2004, ⋈-NextdoorPsycho-⋈#0001 (editor)
* @version 5
* @invite vUN9sNW
* @description Formerly known as Oldcord, this theme tries to bring back the 2016 look of Discord
* @source https://github.com/XYZenix/XYZenixThemes/blob/master/DTM-16.theme.css
*/

@import url(https://xyzenix.github.io/XYZenixThemes/DTM-16-V5/DTM-16.css);
:root {
 --showRtcConnectionStatusIcon: block; /* show the vc ping/status icon | block = show | none = hide */
 --jumboEmojiSize: 3rem; /* Old - 2rem | New - 3rem */
 
}.theme-dark:not(.theme-amoled):not(html.theme-amoled .theme-dark) {

  --font-primary: Whitney; /*ITC Avant Garde Gothic  || Akzidenz Grotesk   ||  Whitney */
  --font-display: Whitney,"Helvetica Neue",Helvetica,Arial,sans-serif!important;

  
  --blurple: #003b6f; /*Change These Colord to change the Blurple color*/
  --blurple-hover: #003b6f;
  --blurple-active: #003b6f;
  --blurple-inverted: #003b6f;
  --blurple-inverted-active: #003b6f;


  --header-primary: #fff;
  --header-secondary: #b9bbbe;
  --text-normal: #dcddde;
  --text-muted: #72767d;
  --text-link: hsl(196.7,calc(var(--saturation-factor, 1) * 100%),47.8%);
  --channels-default: #8e9297;
  --interactive-normal: #b9bbbe;
  --interactive-hover: #dcddde;
  --interactive-active: #fff;
  --interactive-muted: #505050;
  
  --background-primary: #161616; /* Chat Background */
  --background-secondary: #111111; /* Voice / Member */
  --background-secondary-alt: #3f3f3f80; /* Selected Channel*/
  --background-tertiary: #0e0e0e; /*Server and Top bar*/
  --background-modifier-hover: rgba(114, 114, 114, 0.16); /*Chat Count*/
  --background-modifier-selected: rgba(27, 85, 177, 0.32); /* Live Counter*/
  --background-modifier-accent: rgba(0, 0, 0, 0.329); /*Accent*/
  --background-mentioned: rgba(175, 160, 29, 0.301); /*Highlight*/
  --background-mentioned-hover: rgba(250,166,26,0.08);
  --scrollbar-thin-thumb: rgb(0, 0, 0);
  --scrollbar-thin-track: #161616;
  --scrollbar-auto-thumb: rgb(0, 0, 0);
  --scrollbar-auto-track: #161616;
  --scrollbar-auto-scrollbar-color-thumb: rgb(0, 0, 0);
  --scrollbar-auto-scrollbar-color-track: #161616;
  
  --elevation-stroke: 0 0 0 1px rgba(4,4,5,0.15);
  --elevation-low: 0 1px 0 rgba(4,4,5,0.2),0 1.5px 0 rgba(6,6,7,0.05),0 2px 0 rgba(4,4,5,0.05);
  --elevation-medium: 0 4px 4px rgba(0,0,0,0.16);
  --elevation-high: 0 8px 16px rgba(0,0,0,0.24);
  --logo-primary: #fff;
  --guild-header-text-shadow: 0 1px 1px rgba(0,0,0,0.4);
  --channeltextarea-background: #40444b;
  --activity-card-background: #202225;
  --textbox-markdown-syntax: #8e9297;
  --deprecated-card-bg: rgba(32,34,37,0.6);
  --deprecated-card-editable-bg: rgba(32,34,37,0.3);
  --deprecated-store-bg: #36393f;
  --deprecated-quickswitcher-input-background: #72767d;
  --deprecated-quickswitcher-input-placeholder: hsla(0,0%,100%,0.3);
  --deprecated-text-input-bg: rgba(0,0,0,0.1);
  --deprecated-text-input-border: rgba(0,0,0,0.3);
  --deprecated-text-input-border-hover: #040405;
  --deprecated-text-input-border-disabled: #202225;
  --deprecated-text-input-prefix: #dcddde;
  --profile-banner-pattern: url(https://cdn.discordapp.com/attachments/733624227378495488/1008328484315201566/also_lol.png);
  --activity-card-pattern: url(https://cdn.discordapp.com/attachments/733624227378495488/1008565187151929444/unknown.png);
}.theme-dark .panels-3wFtMD .container-YkUktl {
  border-top: solid 1px #1C1E22;
  background: rgb(17, 17, 17);
}.theme-dark .panels-3wFtMD {
  background-color: rgb(17, 17, 17);
}.theme-dark .wrapper-2RrXDg .body-16rSsp .section-3G9aLW {
  background: #2c2c2c;
}.theme-dark .menu-1QACrS {
  background-color: #2c2c2c;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.82), 0 1px 4px rgba(0, 0, 0, 0.1);
}.privateChannels-oVe7HL .channel-1Shao0:hover .interactive-iyXY_x, .privateChannels-oVe7HL .channel-1Shao0:active .interactive-iyXY_x {
  background: linear-gradient(to right, #3a3a3a 85%, #003b6f2f);
}.theme-dark .privateChannels-oVe7HL .channel-1Shao0 .interactive-iyXY_x.selected-3veCBZ {
  background: linear-gradient(to right, #2e2e2e 85%, #003b6f2f);
}