//META{"name":"Discord Sword & Shield","description":"","author":"11pixels","version":"0.7"}*//{}

:root {
	--ptc: #1f6dc7;
	--tbc1: #1f6dc714;
	--tbc2: #4085d624;
	--tbc3: #5388c547;
	--tbc1a: #1f6dc703;
	--tbc2a: #4085d60d;
	--tbc3a: #5388c517;
}
@import url('https://fonts.googleapis.com/css?family=Alata&display=swap');
body, div, span, textarea, ::-webkit-input-placeholder {font-family: 'Alata', sans-serif}
.hljs,.inline,.hljs :-webkit-any(ol, li, span),.editor-wrapper :-webkit-any(textarea, div, span) {font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace}
.name-3_Dsmg {height: 22px}
.modeSelected-1zApJ_ .content-3at_AU, .modeSelected-1zApJ_:hover .content-3at_AU, .side-8zPYf6 .themed-OHr7kt.selected-3s45Ha.item-PXvHYJ, .topPill-30KHOu .themed-OHr7kt.selected-3s45Ha.item-PXvHYJ {
	box-shadow: 0 2px 5px rgba(0,0,0,0.3);border-radius: 50px;background: linear-gradient(-66deg, var(--ptc) 40%, #000 40.5%)
}
.containerDefault-1ZnADq, .containerDragAfter-1F4fgZ, .containerDragBefore-31UGCO, .containerUserOver-1U5YnL, .containerDefault-1ZnADq, .wrapper-1ucjTd, .content-3at_AU {overflow: visible !important}
.scroller-2wx7Hm::-webkit-scrollbar {width: 0 !important}
.item-26Dhrx {background:none;border-radius:50px;padding-left:20px!important;padding-right:20px!important;border:none}
.item-26Dhrx[style*="rgb(114, 137, 218)"] {box-shadow: 0 2px 5px rgba(0,0,0,0.3);border-radius: 50px;background: linear-gradient(-66deg, var(--ptc) 40%, #000 calc(40% + 1px))}
.item-26Dhrx[style*="rgb(67, 181, 129)"] {box-shadow: 0 2px 5px rgba(0,0,0,0.3);border-radius: 50px;background: linear-gradient(-66deg, rgb(67, 181, 129) 40%, #000 calc(40% + 1px))}
.item-26Dhrx[style*="rgb(250, 166, 26)"] {box-shadow: 0 2px 5px rgba(0,0,0,0.3);border-radius: 50px;background: linear-gradient(-66deg, rgb(250, 166, 26) 40%, #000 calc(40% + 1px))}
.item-26Dhrx[style*="rgb(245, 119, 49)"] {box-shadow: 0 2px 5px rgba(0,0,0,0.3);border-radius: 50px;background: linear-gradient(-66deg, rgb(245, 119, 49) 40%, #000 calc(40% + 1px))}
.item-26Dhrx[style*="rgb(240, 71, 71)"] {box-shadow: 0 2px 5px rgba(0,0,0,0.3);border-radius: 50px;background: linear-gradient(-66deg, rgb(240, 71, 71) 40%, #000 calc(40% + 1px))}
.lookFilled-1Gx00P.colorGreen-29iAKY {box-shadow: 0 2px 5px rgba(0,0,0,0.3);border-radius: 50px;background: linear-gradient(-66deg, #47a078 40%, #000 calc(40% + 1px))}
.lookFilled-1Gx00P.colorGrey-2DXtkV {box-shadow: 0 2px 5px rgba(0,0,0,0.3);border-radius: 50px;background: linear-gradient(-66deg, #525252 40%, #000 calc(40% + 1px))}
.lookOutlined-3sRXeN.colorRed-1TFJan {box-shadow: 0 2px 5px rgba(0,0,0,0.3);border-radius: 50px;background: linear-gradient(-66deg, #f04747 40%, #000 calc(40% + 1px));border:none;color:white}
.lookInverted-2D7oAl.colorBrand-3pXr91 {box-shadow: 0 2px 5px rgba(0,0,0,0.3);border-radius: 50px;background: linear-gradient(-66deg, var(--ptc) 40%, #000 calc(40% + 1px));color:white}
.lookFilled-1Gx00P.colorBrand-3pXr91 {box-shadow: 0 2px 5px rgba(0,0,0,0.3);border-radius: 50px;background: linear-gradient(-66deg, #7289da 28%, #000 calc(28% + 1px))}
.theme-dark .lookFilled-1Gx00P.colorPrimary-3b3xI6 {box-shadow: 0 2px 5px rgba(0,0,0,0.3);border-radius: 50px;background: linear-gradient(-66deg, #4a4a4a 40%, #000 calc(40% + 1px))}
.container-2VW0UT {border-radius:50px;padding-right:20px;padding-left:20px;	box-shadow: 0 2px 5px rgba(0,0,0,0.3)!important;border-radius: 50px;background: linear-gradient(-66deg, var(--ptc) 40%, #000 calc(40% + 1px))}
.scroller-2wx7Hm {padding-right: 8px;}
.inner-zqa7da {box-shadow: 0 2px 5px rgba(0,0,0,0.3);border-radius: 25px;background: linear-gradient(-66deg, var(--ptc) 40%, #000 calc(40% + 1px))}
.chatContent-a9vAAp, .standardSidebarView-3F1I7i {
	background: linear-gradient(-66deg, var(--tbc1) 10%,  var(--tbc2) calc(10% + 1px),  var(--tbc2) 25%,  var(--tbc3) calc(25% + 1px),  var(--tbc3) 75%,  var(--tbc2) calc(75% + 1px), var(--tbc2) 90%, var(--tbc1) calc(90% + 1px))
}
.autocomplete-i9yVHs {
	background: linear-gradient(-66deg, var(--tbc1a) 10%,  var(--tbc2a) calc(10% + 1px),  var(--tbc2a) 25%,  var(--tbc3a) calc(25% + 1px),  var(--tbc3a) 75%,  var(--tbc2a) calc(75% + 1px), var(--tbc2a) 90%, var(--tbc1a) calc(90% + 1px))
}
.contentRegionScroller-26nc1e, .contentRegion-3nDuYy {background: none;}
.sidebarRegionScroller-3MXcoP {background:rgba(0,0,0,0.3)}
.messages-3amgkR {background:none}
.toolbar-1t6TWx {padding: 8px;background: linear-gradient(-66deg, var(--ptc) 85px, #000 86px);border-radius: 50px;box-shadow: 0 2px 5px rgba(0,0,0,0.3)}
.content-3at_AU, .side-8zPYf6 .item-PXvHYJ {border-radius: 50px}
.container-3baos1 .flex-1xMQg5, .container-1giJp5 .horizontal-1ae9ci {padding: 3px;background: linear-gradient(-66deg, var(--ptc) 35%, #000 35.5%);border-radius: 50px;box-shadow: 0 2px 5px rgba(0,0,0,0.3)}
.container-1giJp5 .horizontal-1ae9ci {background: linear-gradient(-66deg, var(--ptc) 50%, #000 50.5%)}
.button-14-BFJ.enabled-2cQ-u7:hover {background: none}
.layout-2DM8Md {border-radius: 50px}
.selected-aXhQR6 .layout-2DM8Md{background: linear-gradient(-66deg, var(--ptc) 27%, #000 27.5%);box-shadow: 0 2px 5px rgba(0,0,0,0.3)}
.role-2irmRk {box-shadow: 0 2px 5px rgba(0,0,0,0.3);background: #000;border:none;overflow:hidden}
.roleCircle-3xAZ1j {border-radius: 0;height:25px;margin-left:-5px;width:16px;transform:skew(-16deg);margin-right:7px}
.roleRemoveIcon-2-TeGW{transform:skew(16deg)scale(2)}
.connectedAccount-36nQx7{border-radius:50px;background: linear-gradient(-66deg, var(--ptc) 27%, #000 27.5%);box-shadow: 0 2px 5px rgba(0,0,0,0.3);border:none}
.innerAutocomplete-1PN280{border-radius:0 0 22px 22px;}
.selectorSelected-1_M1WV {border-radius:50px;background: linear-gradient(-66deg, var(--ptc) 50%, #000 calc(50% + 1px));box-shadow: 0 2px 5px rgba(0,0,0,0.3);border:none}
.selectorSelected-1_M1WV .description-11DmNu {color:white}
.embedFull-2tM8--{background: linear-gradient(-66deg, #0000 230px, #faa61a 231px, #faa61a 250px, #0004 251px);max-width:800px!important;width: calc(100% + 85px);padding-right:40%;left:-85px;padding-left:85px;}
.selected-aXhQR6 .layout-2DM8Md .name-uJV0GL .roleColor-rz2vM0 {color:white!important}
.headerCozy-2N9HOL .avatar-17mtNa {z-index: 1}
.wrapper-39oAo3{border-radius:50px;background: linear-gradient(-66deg, var(--ptc) 50%, #000 calc(50% + 1px));box-shadow: 0 2px 5px rgba(0,0,0,0.3);}
.wrapper-39oAo3 .buttonContainer-3AU1Ij {height:52px;width:100px;margin-right:-8px;border-radius:0 50px 50px 0;overflow:hidden}
.wrapper-39oAo3 .buttonContainer-3AU1Ij .button-1YxJv4 {background: linear-gradient(-66deg, #000 75%, #000 76%, #000 82%, #0000 calc(82% + 1px));padding-left:25px;margin-top: 9px;margin-left:20px;transition:ease-in-out .2s;box-shadow:none;border-radius:0}
.wrapper-39oAo3 .buttonContainer-3AU1Ij .button-1YxJv4:hover {background: linear-gradient(-66deg, #000 75%, #222 76%, #222 82%, #0000 calc(82% + 1px));padding-left:30px;margin-top: 9px;margin-left:15px}
.scroller-305q3I {background:none!important}
.theme-dark .tierHeaderUnlocked-1n-OTI, .theme-light .tierHeaderUnlocked-1n-OTI {background-image: linear-gradient(-66deg, #e292aa,#b473f5 40%, #000 calc(40% + 1px))}
.embedFooterText-28V_Wb {color:#ccc}
.theme-dark .isMentioned-N-h9aa {background: linear-gradient(-66deg, #0000 calc(10% - 1px), #faa61a3d calc(10% + 1px))}
.embedVideoImageComponent-34z3di {box-shadow: 0 2px 5px rgba(0,0,0,0.7)}
