/* 
  version 3
  updated 2025-03-13
  mini theme to fix multiple small issues discord couldn't be bothered to fix themselves
*/
._37e49614b9f110a9-container {
  justify-content: space-between;
}
.downloadApps__4a98c, .visual-refresh .downloadApps__4a98c {
  padding: 0;
}
.downloadApps__4a98c ._4a98c7240c81e683-platformsWrap {
  margin-top: 40px;
}
.downloadApps__4a98c ._49fc18ba07c5025f-content {
  padding-bottom: 40px;
}
.downloadApps__4a98c ._49fc18ba07c5025f-footerSeparator {
  margin: 0;
  justify-content: center;
  padding: 20px;
  border-top: solid 1px var(--background-secondary);
}
._9293f6b2fc12398a-children .divider__9293f:last-child {
  display: none;
}
.c44edb7a6ac077d8-background {
  --header-muted: var(--background-tertiary);
}
.tierHeaderUnlocked_f15dca {
  background: linear-gradient(90deg,var(--guild-boosting-blue-for-gradients),var(--guild-boosting-purple-for-gradients));
}
.tierHeaderUnlocked_f15dca :is(.tierIcon_f15dca, .tierTitle_f15dca) {
  color: #fff;
}
.tierHeaderUnlocked_f15dca .tierUnlocked_f15dca {
  background: #fff;
  color: var(--guild-boosting-purple-for-gradients);
  font-weight: bold;
}
#bans-tab .scrollerContainer_cdb2b0 {
  padding-right: 0;
}
.sortButton__98d1c {
  --header-secondary: var(--header-primary);
}
._133bf5eea8e33a34-inviteToolbar {
  border-right: solid 1px var(--background-modifier-accent);
  margin-right: 8px;
}
.bbd19242e12654ad-friendWrapper {
  margin-left: 0;
  margin-right: 0;
}
._72ba79a5dfa2ce86-addFriendInputWrapper {
  padding-right: 8px;
}
#permissions-tab .card_b651ff._730694f5672c9601-cardPrimary._730694f5672c9601-card {
  background: var(--background-secondary);
}
#permissions-tab ._535437b3d3b11fd1-sidebarScrollable {
  position: sticky;
  min-width: 232px;
}
#permissions-tab .layoutStyle__0ab2c {
  margin: 0;
}
#guild-header-popout-application-directory,
#guild-context-guild-settings--APP_DIRECTORY,
._23e6b439306f125a-sidebarRegion [data-tab-id="APP_DIRECTORY"] {
  display: none;
}
.visual-refresh ._260e1982cd52c5c3-users {
  width: auto;
  padding-left: 6px;
  padding-right: 4px;
}
.visual-refresh ._260e1982cd52c5c3-total {
  width: auto;
  padding-left: 4px;
  padding-right: 6px;
}
._740174f3d6a2c8fe-stackedBars {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.tierHeaderUnlocked_f15dca ._201d5e8a3c09670a-lookFilled._201d5e8a3c09670a-colorGreen {
  background: #fff;
  color: var(--brand-500);
  transition: .2s;
}
.tierHeaderUnlocked_f15dca ._201d5e8a3c09670a-lookFilled._201d5e8a3c09670a-colorGreen:hover {
  opacity: .9;
}
.tierHeaderUnlocked_f15dca ._201d5e8a3c09670a-lookFilled._201d5e8a3c09670a-colorGreen:active {
  opacity: .8;
}
/* 2025-03-13 */
:root:not(.visual-refresh) .f75fb00fb7356cbe-form:not(.f75fb00fb7356cbe-formWithLoadedChatInput)>._44df51b030bd5ece-wrapper {
  margin-left: 16px;
  margin-right: 16px;
  width: auto;
}
:root:not(.visual-refresh) ._37e49614b9f110a9-buttons .buttonSpace__37e49,
:root:not(.visual-refresh) ._37e49614b9f110a9-buttons .buttonSpace__37e49+button {
  margin-right: 2px;
}
.c7f964e7e0fc8b47-connectionsContainer {
  gap: 10px;
  height: 48px;
}
._927fca0ac7164d54-sectionTwoColumnContentContainer>.cb32c78a53f54371-container[aria-label*="Farm Merge Valley"] {
  display: none;
}