//META{"name":"Discord Sword & Shield","description":"","author":"11pixels","version":"0.8.4"}*//{}

:root {
	--ptc: #1f6dc7;
	--tbc1: #1f6dc714;
	--tbc2: #4085d624;
	--tbc3: #5388c547;
	--tbc1a: #1f6dc703;
	--tbc2a: #4085d60d;
	--tbc3a: #5388c517;
}
@import url('https://fonts.googleapis.com/css?family=Alata&display=swap');
body, div, span, textarea, ::-webkit-input-placeholder {font-family: "FOT-RodinNTLG Pro DB", 'Alata', sans-serif}
.markup-2BOw-j strong {color: #e3ff4c}
.hljs,.inline,.hljs :-webkit-any(ol, li, span),.editor-wrapper :-webkit-any(textarea, div, span) {font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace}
.name-3_Dsmg {height: 22px}
.modeSelected-1zApJ_ .content-3at_AU, .modeSelected-1zApJ_:hover .content-3at_AU, .side-8zPYf6 .themed-OHr7kt.selected-3s45Ha.item-PXvHYJ, .topPill-30KHOu .themed-OHr7kt.selected-3s45Ha.item-PXvHYJ {box-shadow: 0 2px 5px rgba(0,0,0,0.3);border-radius: 50px;background: linear-gradient(-66deg, var(--ptc) 40%, #000 40.5%)}
.containerDefault-1ZnADq, .containerDragAfter-1F4fgZ, .containerDragBefore-31UGCO, .containerUserOver-1U5YnL, .containerDefault-1ZnADq, .wrapper-1ucjTd, .content-3at_AU {overflow: visible !important}
.item-26Dhrx {background:none;border-radius:50px;padding-left:20px!important;padding-right:20px!important;border:none}
.item-26Dhrx[style*="rgb(114, 137, 218)"] {box-shadow: 0 2px 5px rgba(0,0,0,0.3);border-radius: 50px;background: linear-gradient(-66deg, var(--ptc) 40%, #000 calc(40% + 1px))}
.item-26Dhrx[style*="rgb(67, 181, 129)"] {box-shadow: 0 2px 5px rgba(0,0,0,0.3);border-radius: 50px;background: linear-gradient(-66deg, rgb(67, 181, 129) 40%, #000 calc(40% + 1px))}
.item-26Dhrx[style*="rgb(250, 166, 26)"] {box-shadow: 0 2px 5px rgba(0,0,0,0.3);border-radius: 50px;background: linear-gradient(-66deg, rgb(250, 166, 26) 40%, #000 calc(40% + 1px))}
.item-26Dhrx[style*="rgb(245, 119, 49)"] {box-shadow: 0 2px 5px rgba(0,0,0,0.3);border-radius: 50px;background: linear-gradient(-66deg, rgb(245, 119, 49) 40%, #000 calc(40% + 1px))}
.item-26Dhrx[style*="rgb(240, 71, 71)"] {box-shadow: 0 2px 5px rgba(0,0,0,0.3);border-radius: 50px;background: linear-gradient(-66deg, rgb(240, 71, 71) 40%, #000 calc(40% + 1px))}
.theme-dark .lookFilled-1Gx00P.colorPrimary-3b3xI6 {box-shadow: 0 2px 5px rgba(0,0,0,0.3);border-radius: 50px;background: linear-gradient(-66deg, #4a4a4a 40%, #000 calc(40% + 1px))}
.container-2VW0UT {border-radius:50px;padding-right:20px;padding-left:20px;	box-shadow: 0 2px 5px rgba(0,0,0,0.3)!important;border-radius: 50px;background: linear-gradient(-66deg, var(--ptc) 40%, #000 calc(40% + 1px))}
.scroller-2wx7Hm {padding-right: 8px;}
.scrollableContainer-2NUZem {box-shadow: 0 2px 5px rgba(0,0,0,0.3);border-radius: 22px;background: linear-gradient(-66deg, var(--ptc) 40%, #000 calc(40% + 1px))}
.chatContent-a9vAAp, .standardSidebarView-3F1I7i {background: linear-gradient(-66deg, var(--tbc1) 10%,  var(--tbc2) calc(10% + 1px),  var(--tbc2) 25%,  var(--tbc3) calc(25% + 1px),  var(--tbc3) 75%,  var(--tbc2) calc(75% + 1px), var(--tbc2) 90%, var(--tbc1) calc(90% + 1px))}
.autocompleteInner-zh20B_ {background: linear-gradient(-66deg, var(--tbc1a) 10%,  var(--tbc2a) calc(10% + 1px),  var(--tbc2a) 25%,  var(--tbc3a) calc(25% + 1px),  var(--tbc3a) 75%,  var(--tbc2a) calc(75% + 1px), var(--tbc2a) 90%, var(--tbc1a) calc(90% + 1px))}
.contentRegionScroller-26nc1e, .contentRegion-3nDuYy {background: none;}
.sidebarRegionScroller-3MXcoP {background:rgba(0,0,0,0.3)}
.messages-3amgkR {background:none}
.toolbar-1t6TWx {padding: 8px;background: linear-gradient(-66deg, var(--ptc) 85px, #000 86px);border-radius: 50px;box-shadow: 0 2px 5px rgba(0,0,0,0.3)}
.content-3at_AU, .side-8zPYf6 .item-PXvHYJ {border-radius: 50px}
.container-3baos1 .flex-1xMQg5, .container-1giJp5>*>.horizontal-1ae9ci {padding: 3px;background: linear-gradient(-66deg, var(--ptc) 35%, #000 35.5%);border-radius: 50px;box-shadow: 0 2px 5px rgba(0,0,0,0.3)}
.container-1giJp5>*>.horizontal-1ae9ci {background: linear-gradient(-66deg, var(--ptc) 50%, #000 50.5%)}
.button-14-BFJ.enabled-2cQ-u7:hover {background: none}
.layout-2DM8Md {border-radius: 50px}
.selected-aXhQR6 .layout-2DM8Md{background: linear-gradient(-66deg, var(--ptc) 27%, #000 27.5%);box-shadow: 0 2px 5px rgba(0,0,0,0.3)}
.role-2irmRk {box-shadow: 0 2px 5px rgba(0,0,0,0.3);background: #000;border:none;overflow:hidden}
.roleCircle-3xAZ1j {border-radius: 0;height:25px;margin-left:-5px;width:16px;transform:skew(-16deg);margin-right:7px}
.roleRemoveIcon-2-TeGW{transform:skew(16deg)scale(2)}
.connectedAccount-36nQx7{border-radius:50px;background: linear-gradient(-66deg, var(--ptc) 27%, #000 27.5%);box-shadow: 0 2px 5px rgba(0,0,0,0.3);border:none}
.innerAutocomplete-1PN280{border-radius:0 0 22px 22px;}
.selectorSelected-1_M1WV {border-radius:50px;background: linear-gradient(-66deg, var(--ptc) 50%, #000 calc(50% + 1px));box-shadow: 0 2px 5px rgba(0,0,0,0.3);border:none}
.selectorSelected-1_M1WV .description-11DmNu {color:white}
.embedFull-2tM8--{background: linear-gradient(-66deg, #0000 130px, #faa61a 131px, #faa61a 150px, #0004 151px);max-width:900px!important;width: calc(100% + 150px);padding-right:40%;left:-85px;padding-left:85px;}
.selected-aXhQR6 .layout-2DM8Md .name-uJV0GL .roleColor-rz2vM0 {color:white!important}
.headerCozy-2N9HOL .avatar-17mtNa {z-index: 1}
.wrapper-39oAo3{border-radius:50px;background: linear-gradient(-66deg, var(--ptc) 50%, #000 calc(50% + 1px));box-shadow: 0 2px 5px rgba(0,0,0,0.3);}
.wrapper-39oAo3 .buttonContainer-3AU1Ij {height:52px;width:100px;margin-right:-8px;border-radius:0 50px 50px 0;overflow:hidden}
.wrapper-39oAo3 .buttonContainer-3AU1Ij .button-1YxJv4 {background: linear-gradient(-66deg, #000 75%, #000 76%, #000 82%, #0000 calc(82% + 1px));padding-left:25px;margin-top: 9px;margin-left:20px;transition:ease-in-out .2s;box-shadow:none;border-radius:0}
.wrapper-39oAo3 .buttonContainer-3AU1Ij .button-1YxJv4:hover {background: linear-gradient(-66deg, #000 75%, #222 76%, #222 82%, #0000 calc(82% + 1px));padding-left:30px;margin-top: 9px;margin-left:15px}
.scroller-305q3I {background:none!important}
.theme-dark .tierHeaderUnlocked-1n-OTI, .theme-light .tierHeaderUnlocked-1n-OTI {background-image: linear-gradient(-66deg, #e292aa,#b473f5 40%, #000 calc(40% + 1px))}
.embedFooterText-28V_Wb {color:#ccc}
.message-2qnXI6.selected-2P5D_Z, .mouse-mode .message-2qnXI6:hover {background: linear-gradient(-66deg, #0000 calc(10% - 1px), #0000001f calc(10% + 1px))}
.mentioned-xhSam7 {background: linear-gradient(-66deg, #0000 calc(10% - 1px), #faa61a1a calc(10% + 1px))}
.message-2qnXI6.mentioned-xhSam7.selected-2P5D_Z, .mouse-mode .mentioned-xhSam7:hover{background: linear-gradient(-66deg, #0000 calc(10% - 1px), #faa61a3d calc(10% + 1px))}
.embedVideoImageComponent-34z3di {box-shadow: 0 2px 5px rgba(0,0,0,0.7)}
.newMessagesBar-mujexs {border-radius:50px;background: linear-gradient(-66deg, var(--ptc) 130px, #000 131px);box-shadow: 0 2px 5px rgba(0,0,0,0.3);margin-top:5px}
.jumpToPresentBar-9P20AM {border-radius:50px;background: linear-gradient(-66deg, #555 140px, #000 141px);box-shadow: 0 2px 5px rgba(0,0,0,0.3);margin-bottom:5px}
.contextMenu-HLZMGh {background:white;border-radius:15px;padding:10px;}
.contextMenu-HLZMGh .label-JWQiNe {color:black;margin-left:3px;margin-right:3px}
.contextMenu-HLZMGh .clickable-11uBi-:hover .label-JWQiNe, .contextMenu-HLZMGh .selected-BYpGTS .label-JWQiNe {color:white}
.contextMenu-HLZMGh .itemBase-tz5SeC {min-height:27px}
.contextMenu-HLZMGh .clickable-11uBi-:hover:before, .contextMenu-HLZMGh .selected-BYpGTS:before {content:"";width: 34px;height: 40px;background: url(https://cdn.discordapp.com/attachments/642779987044204544/656164714711089173/arrow.png);position: absolute;margin-left: -33px;pointer-events: none;animation-name: arrow;animation-duration: 0.6s;animation-iteration-count: infinite;animation-timing-function: ease-in-out}
@keyframes arrow {0% {transform: scale(0.8);} 50% {transform: scale(0.8) translate(9px);} 100% {transform: scale(0.8);}}
.contextMenu-HLZMGh .clickable-11uBi-:hover, .contextMenu-HLZMGh .selected-BYpGTS {animation-name: hoverbg;border-radius: 15px;animation-duration: 1.25s;animation-iteration-count: infinite;animation-timing-function: ease-in-out}
@keyframes hoverbg { 0% {background:black;} 50% {background:#505050;} 100% {background:black;}}
.theme-dark .checkbox-3kaeSU .checkboxInner-3yjcPe span {border-color: hsla(0, 0%, 0%, 0.2)}
.item-1Yvehc {overflow:visible}
.hasAutocomplete-2vGV2Z .scrollableContainer-2NUZem {border-radius: 0 0 22px 22px}
.contextMenu-HLZMGh .bar-2Qqk5Z {background: none;background: #e4e4e4;border-radius:0}
.contextMenu-HLZMGh .barFill-23-gu- {background: #929292}
.contextMenu-HLZMGh .grabber-3mFHz2 {background: black;box-shadow: none;border: solid 1px transparent;width: 4px;transform: translate(3px);border-radius: 2px}
.contextMenu-HLZMGh .clickable-11uBi-:hover .grabber-3mFHz2, .contextMenu-HLZMGh .selected-BYpGTS .grabber-3mFHz2 {background: white}
.contextMenu-HLZMGh .clickable-11uBi-:hover .bar-2Qqk5Z, .contextMenu-HLZMGh .selected-BYpGTS .bar-2Qqk5Z {background: none;background: #797979}
.contextMenu-HLZMGh .clickable-11uBi-:hover .barFill-23-gu-, .contextMenu-HLZMGh .selected-BYpGTS .barFill-23-gu- {background: #e2e2e2}
.form-2fGMdU:before {display:none}
.channelTextArea-rNsIhG {background:none}
.wrapper-2aW0bm {border-radius:50px;background:linear-gradient(-66deg, var(--ptc) 70px, #000 71px)}
.lookFilled-1Gx00P.colorBlack-1jwPVL {box-shadow: 0 2px 5px rgba(0,0,0,0.3);border-radius: 50px;background: #000}
.lookFilled-1Gx00P.colorGrey-2DXtkV {box-shadow: 0 2px 5px rgba(0,0,0,0.3);border-radius: 50px;background: linear-gradient(-66deg, #525252 40%, #000 calc(40% + 1px))}
.lookFilled-1Gx00P.colorWhite-rEQuAQ {color:#fff;box-shadow: 0 2px 5px rgba(0,0,0,0.3);border-radius: 50px;background: linear-gradient(-66deg, #a7a7a7 40%, #000 calc(40% + 1px))}
.lookFilled-1Gx00P.colorBrand-3pXr91 {box-shadow: 0 2px 5px rgba(0,0,0,0.3);border-radius: 50px;background: linear-gradient(-66deg, #7289da 28%, #000 calc(28% + 1px))}
.lookFilled-1Gx00P.colorRed-1TFJan {box-shadow: 0 2px 5px rgba(0,0,0,0.3);border-radius: 50px;background: linear-gradient(-66deg, #f04747 40%, #000 calc(40% + 1px));border:none;color:white}
.lookFilled-1Gx00P.colorGreen-29iAKY {box-shadow: 0 2px 5px rgba(0,0,0,0.3);border-radius: 50px;background: linear-gradient(-66deg, #47a078 40%, #000 calc(40% + 1px))}
.lookFilled-1Gx00P.colorYellow-2JqYwt {box-shadow: 0 2px 5px rgba(0,0,0,0.3);border-radius: 50px;background: linear-gradient(-66deg, #faa61a 40%, #000 calc(40% + 1px))}
.lookFilled-1Gx00P.colorLink-35jkBc {box-shadow: 0 2px 5px rgba(0,0,0,0.3);border-radius: 50px;background: linear-gradient(-66deg, #00b0f4 40%, #000 calc(40% + 1px))}
.lookInverted-2D7oAl {box-shadow: 0 2px 5px rgba(0,0,0,0.3);border-radius: 50px;background: linear-gradient(-66deg, var(--ptc) 40%, #fff calc(40% + 1px))}
.lookInverted-2D7oAl.colorWhite-rEQuAQ {color:#000}
.lookOutlined-3sRXeN, .lookGhost-2Fn_0- {border-radius:50px}
.wrapper-3EGhDO {background:linear-gradient(-66deg, var(--ptc) 50%, #000 calc(50% + 1px));border-radius:50px;padding:7px 0px;box-shadow: 0 1px 15px #fff2}
.attachButton-2WznTc {padding:10px 10px 10px 10px;margin-right:10px;box-shadow:1px 0 #3e4e63;border-radius:0;height:100%}
.styleFlexible-wGDiIL {border-radius:25px}
.colorDefault-2K3EoJ.focused-3afm-j {background: linear-gradient(-66deg, var(--ptc) 40%, #000 calc(40% + 1px));border-radius:50px;box-shadow: 0 1px 5px #0009}
.card-2j1p1_ {border-radius:25px;border:none;background:#262f3b}
.item-3T2z1R:first-child {border-radius: 50px 0 0 50px}
.item-3T2z1R:last-child {border-radius: 0 50px 50px 0}
.item-3T2z1R {background:#18191c}
.passthroughSelected-1Eq0Kl {background:#1f6dc7}
.allowSelected-25S_i5 {background: #43b581}
.denySelected-1mh2mZ {background: #f04747}
.passthroughSelected-1Eq0Kl {border-color:#747f8d!important}
.menu-3sdvDG {border-radius:22px}
.container-9gOVw0 {background:linear-gradient(#0005, #0000)}
