/* 
  version 3
  updated 2025-03-13
  mini theme to fix multiple small issues discord couldn't be bothered to fix themselves
*/
.container__37e49 {
  justify-content: space-between;
}
.downloadApps__4a98c, .visual-refresh .downloadApps__4a98c {
  padding: 0;
}
.downloadApps__4a98c .platformsWrap__4a98c {
  margin-top: 40px;
}
.downloadApps__4a98c .content__49fc1 {
  padding-bottom: 40px;
}
.downloadApps__4a98c .footerSeparator__49fc1 {
  margin: 0;
  justify-content: center;
  padding: 20px;
  border-top: solid 1px var(--background-secondary);
}
.children__9293f .divider__9293f:last-child {
  display: none;
}
.background_c44edb {
  --header-muted: var(--background-tertiary);
}
.tierHeaderUnlocked_f15dca {
  background: linear-gradient(90deg,var(--guild-boosting-blue-for-gradients),var(--guild-boosting-purple-for-gradients));
}
.tierHeaderUnlocked_f15dca :is(.tierIcon_f15dca, .tierTitle_f15dca) {
  color: #fff;
}
.tierHeaderUnlocked_f15dca .tierUnlocked_f15dca {
  background: #fff;
  color: var(--guild-boosting-purple-for-gradients);
  font-weight: bold;
}
#bans-tab .scrollerContainer_cdb2b0 {
  padding-right: 0;
}
.sortButton__98d1c {
  --header-secondary: var(--header-primary);
}
.inviteToolbar__133bf {
  border-right: solid 1px var(--background-modifier-accent);
  margin-right: 8px;
}
.friendWrapper_bbd192 {
  margin-left: 0;
  margin-right: 0;
}
.addFriendInputWrapper__72ba7 {
  padding-right: 8px;
}
#permissions-tab .card_b651ff.cardPrimary__73069.card__73069 {
  background: var(--background-secondary);
}
#permissions-tab .sidebarScrollable__53543 {
  position: sticky;
  min-width: 232px;
}
#permissions-tab .layoutStyle__0ab2c {
  margin: 0;
}
#guild-header-popout-application-directory,
#guild-context-guild-settings--APP_DIRECTORY,
.sidebarRegion__23e6b [data-tab-id="APP_DIRECTORY"] {
  display: none;
}
.visual-refresh .users__260e1 {
  width: auto;
  padding-left: 6px;
  padding-right: 4px;
}
.visual-refresh .total__260e1 {
  width: auto;
  padding-left: 4px;
  padding-right: 6px;
}
.stackedBars__74017 {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.tierHeaderUnlocked_f15dca .lookFilled__201d5.colorGreen__201d5 {
  background: #fff;
  color: var(--brand-500);
  transition: .2s;
}
.tierHeaderUnlocked_f15dca .lookFilled__201d5.colorGreen__201d5:hover {
  opacity: .9;
}
.tierHeaderUnlocked_f15dca .lookFilled__201d5.colorGreen__201d5:active {
  opacity: .8;
}
/* 2025-03-13 */
:root:not(.visual-refresh) .form_f75fb0:not(.formWithLoadedChatInput_f75fb0)>.wrapper__44df5 {
  margin-left: 16px;
  margin-right: 16px;
  width: auto;
}
:root:not(.visual-refresh) .buttons__37e49 .buttonSpace__37e49,
:root:not(.visual-refresh) .buttons__37e49 .buttonSpace__37e49+button {
  margin-right: 2px;
}
.connectionsContainer_c7f964 {
  gap: 10px;
  height: 48px;
}
.sectionTwoColumnContentContainer__927fc>.container_cb32c7[aria-label*="Farm Merge Valley"] {
  display: none;
}