/**
* @name ClassicTitlebar Lite
* @author 11pixels
* @version 1.1
* @description Restores the 2016 titlebar
*/
._421edea01cb52e16-typeWindows._421edea01cb52e16-titleBar {
  position: absolute;
  top: 0;
  right: 0;
  -webkit-app-region: no-drag;
  pointer-events: all;
  height: auto;
  width: auto;
  margin: 12px;
  gap: 8px;
  contain: none;
  ._421edea01cb52e16-wordmark {
    display: none;
  }
  ._421edea01cb52e16-winButton {
    width: 24px;
    height: 24px;
    position: unset;
    background: currentColor;
    position: relative;
    inset: unset;
    -webkit-app-region: no-drag;
    pointer-events: all;
    mask: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M19 6.41L17.59 5L12 10.59L6.41 5L5 6.41L10.59 12L5 17.59L6.41 19L12 13.41L17.59 19L19 17.59L13.41 12L19 6.41Z' fill='white'/%3E%3C/svg%3E%0A");
    svg {
      display: none;
    }
  }
  ._421edea01cb52e16-winButton+._421edea01cb52e16-winButton {
    mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none'%3E%3Cpath fill='%23D9D9D9' fill-rule='evenodd' d='M5 5v14h14V5H5Zm2 2v10h10V7H7Z' clip-rule='evenodd'/%3E%3C/svg%3E");
  }
  ._421edea01cb52e16-winButton+._421edea01cb52e16-winButton+._421edea01cb52e16-winButton {
    mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none'%3E%3Cpath fill='%23fff' fill-rule='evenodd' d='M18 18v-2H6v2h12Z' clip-rule='evenodd'/%3E%3C/svg%3E");
  }
}
.platform-win {
  #app-mount:after {
    content: "";
    position: fixed;
    inset: 12px 12px auto auto;
    width: 88px;
    height: 24px;
    z-index: 99999999;
    pointer-events: none;
    -webkit-app-region: no-drag;
  }
  .sidebar_c48ade {
    border-radius: 0;
  }
  ._9293f6b2fc12398a-toolbar {
    margin-right: 104px;
  }
  .headerBar__0920e {
    -webkit-app-region: drag;
  }
  .f75fb00fb7356cbe-title {
    -webkit-app-region: drag;
    >* {
      -webkit-app-region: no-drag;
    }
  }
  ._8a7fc664acf53af6-headerBar {
    padding-right: 118px;
  }
  ._23e6b439306f125a-standardSidebarView {
    -webkit-app-region: no-drag;
    &:after {
    content: "";
    position: absolute;
    -webkit-app-region: drag;
    inset: 0 0 auto 0;
    height: 48px;
    z-index: 9999;
    }
  }
}