/**
* @name DTM-17
* @author 11pixels#2004
* @version 1
* @invite vUN9sNW
* @description Theme that brings back the 2017/2018 look of Discord
* @source https://github.com/XYZenix/XYZenixThemes/blob/master/DTM-17.theme.css
*/

@import url(https://xyzenix.github.io/XYZenixThemes/DTM-17/DTM-17.css);
:root {
 --showRtcConnectionStatusIcon: block; /* show the vc ping/status icon | block = show | none = hide */
 --jumboEmojiSize: 2rem; /* Old - 2rem | New - 3rem */
}
