 /**
 * @name DTM-16
 * @author 11pixels
 * @version 5
 * @invite vUN9sNW
 * @description Formerly known as Oldcord, this theme tries to bring back the 2016 look of Discord
 * @source https://github.com/XYZenix/XYZenixThemes/blob/master/DTM-16.theme.css
*/

@import url(https://xyzenix.github.io/XYZenixThemes/DTM-16-V5/DTM-16.css);
:root {
  --showRtcConnectionStatusIcon: block; /* show the vc ping/status icon | block = show | none = hide */
  --jumboEmojiSize: 2rem; /* Old - 2rem | New - 3rem */
}
