/**
* @name DTM-20
* @author 11pixels#2004
* @version 0.0.1
* @invite vUN9sNW
* @description Theme that reverts the new rebrand and some other changes from mid 2020 onwards
*/
html, html.newBrand {
    --brand-experiment-100: #F8F9FD;
    --brand-experiment-130: #F2F4FC;
    --brand-experiment-160: #EBEEFA;
    --brand-experiment-200: #E3E7F8;
    --brand-experiment-230: #DBE0F5;
    --brand-experiment-260: #D2D9F3;
    --brand-experiment-300: #C7D0F0;
    --brand-experiment-330: #B5C1EC;
    --brand-experiment-360: #A4B3E7;
    --brand-experiment-400: #8EA1E1;
    --brand-experiment-430: #869ADF;
    --brand-experiment-460: #7D92DD;
    --brand-experiment: #7289DA;
    --brand-experiment-500: #7289DA;
    --brand-experiment-530: #687DC6;
    --brand-experiment-560: #5D6FB1;
    --brand-experiment-600: #4D5D94;
    --brand-experiment-630: #435180;
    --brand-experiment-660: #3B4670;
    --brand-experiment-700: #2E3757;
    --brand-experiment-730: #2B3453;
    --brand-experiment-760: #272F4A;
    --brand-experiment-800: #222942;
    --brand-experiment-830: #1A2032;
    --brand-experiment-860: #111420;
    --brand-experiment-900: #06070B;
    --brand-experiment-05a: rgba(88,101,242,0.05);
    --brand-experiment-10a: rgba(88,101,242,0.1);
    --brand-experiment-15a: rgba(88,101,242,0.15);
    --brand-experiment-20a: rgba(88,101,242,0.2);
    --brand-experiment-25a: rgba(88,101,242,0.25);
    --brand-experiment-30a: rgba(88,101,242,0.3);
    --brand-experiment-35a: rgba(88,101,242,0.35);
    --brand-experiment-40a: rgba(88,101,242,0.4);
    --brand-experiment-45a: rgba(88,101,242,0.45);
    --brand-experiment-50a: rgba(88,101,242,0.5);
    --brand-experiment-55a: rgba(88,101,242,0.55);
    --brand-experiment-60a: rgba(88,101,242,0.6);
    --brand-experiment-65a: rgba(88,101,242,0.65);
    --brand-experiment-70a: rgba(88,101,242,0.7);
    --brand-experiment-75a: rgba(88,101,242,0.75);
    --brand-experiment-80a: rgba(88,101,242,0.8);
    --brand-experiment-85a: rgba(88,101,242,0.85);
    --brand-experiment-90a: rgba(88,101,242,0.9);
    --brand-experiment-95a: rgba(88,101,242,0.95);
    --font-display: Whitney,"Helvetica Neue",Helvetica,Arial,sans-serif;
    --blurple: #7289DA;
    --blurple-hover: #677BC4;
    --blurple-active: #5B6EAE;
    --red: #F04747;
    --red-hover: #D84040;
    --red-active: #C03939;
    --yellow: #FAA61A;
    --yellow-hover: #E19517;
    --yellow-active: #C88515;
    --green: #43B581;
    --green-hover: #3CA374;
    --green-active: #369167;
}
.attachButton-2WznTc {
    padding: 10px;
    border-right: solid 1px var(--background-primary);
    border-radius: 0;
    margin-right: 11px;
}
[src="/assets/66084381f55f4238d69e5cbe3b8dc42e.svg"] {content: url(/assets/985ea67d2edab4424c62009886f12e44.svg)}
[src="/assets/4f27cbf7f975daa32fe7c8dec19ce2de.svg"] {content: url(/assets/73d212e3701483c36a4660b28ac15b62.svg)}
[src="/assets/aee87e981ef9acae845ef397c7a034c5.svg"] {content: url(/assets/f167b4196f02faf2dc2e7eb266a24275.svg)}
[src="/assets/f1141359084b3b61f3a41adbe541fdbb.svg"] {content: url(/assets/03ad68e1f4d47f2671d629cfeac048ef.svg)}
[src="/assets/3c2ce4428c2c44824b07162f648524f5.svg"] {content: url(/assets/9f358f466473586417baee7bacfba5ca.svg)}
[src="/assets/1939fe07993a754364bf3fee5223428d.svg"] {content: url(/assets/85f7a4063578f6e0e2c73f60bca0fcce.svg)}
[src="/assets/d6bb78c1d64640ad06cc8cdd1c61b67d.svg"] {content: url(/assets/481aa700fab464f2332ca9b5f4eb6ba4.svg)}
[src="/assets/318ce2f97a8bd1d7a693938d9aff5f08.svg"] {content: url(/assets/f812168e543235a62b9f6deb2b094948.svg)}
.audioMetadata-3zOuGv:before {background-image:url(/assets/5b0da31dc2b00717c1e35fb1f84f9b9b.svg)}
.secured-1Yihly:before {background: url(/assets/0c89a0b25036b406bcbcf37701ec738f.svg) 50% no-repeat}
.uploadModal-2ifh8j .inner-3nWsbo .file-34mY5K .icon-kyxXVr.acrobat-3K1PC6 {background-image: url(/assets/4dccddb260f35cb6e7c4abd18b407e1a.svg)}
.uploadModal-2ifh8j .inner-3nWsbo .file-34mY5K .icon-kyxXVr.ae-1Y5Jq3 {background-image: url(/assets/308ff351ddeee9adf7ad36bc07721744.svg)}
.uploadModal-2ifh8j .inner-3nWsbo .file-34mY5K .icon-kyxXVr.sketch-ZMuo7D {background-image: url(/assets/6a58ca3bc7015878ee64e769fd9d97d6.svg)}
.uploadModal-2ifh8j .inner-3nWsbo .file-34mY5K .icon-kyxXVr.ai-11KAaB {background-image: url(/assets/b17fae7e904d1b03b9b30a0757d72bc1.svg)}
.uploadModal-2ifh8j .inner-3nWsbo .file-34mY5K .icon-kyxXVr.archive-2hqXug {background-image: url(/assets/3408a4597fdee6f7edef69f7fb487b38.svg)}
.uploadModal-2ifh8j .inner-3nWsbo .file-34mY5K .icon-kyxXVr.code-aoB-kL {background-image: url(/assets/4ab2ee5027741df387151ca717ae5614.svg)}
.uploadModal-2ifh8j .inner-3nWsbo .file-34mY5K .icon-kyxXVr.document-2cvI0u {background-image: url(/assets/a4ef7d20760cef4c165825770fd12ac7.svg)}
.uploadModal-2ifh8j .inner-3nWsbo .file-34mY5K .icon-kyxXVr.photoshop-1UWfyZ,.uploadModal-2ifh8j .inner-3nWsbo .file-34mY5K .icon-kyxXVr.ps-2T6Jrl background-image: url(/assets/83b4390a8982df16d8b75d3282894c0f.svg)}
.uploadModal-2ifh8j .inner-3nWsbo .file-34mY5K .icon-kyxXVr.spreadsheet-1QuSej {background-image: url(/assets/f3c851bfdcc86909ac7a0889040ce8fc.svg)}
.uploadModal-2ifh8j .inner-3nWsbo .file-34mY5K .icon-kyxXVr.webcode-22GGLX {background-image: url(/assets/60c3eaf0d7173c929482362ea1d2543a.svg)}
.uploadModal-2ifh8j .inner-3nWsbo .file-34mY5K .icon-kyxXVr.audio-14DQXq {background-image: url(/assets/555a9bd0f67bc5f7d0c78d5c98ad6dc9.svg)}
.uploadModal-2ifh8j .inner-3nWsbo .file-34mY5K .icon-kyxXVr.unknown-3TPTMr {background-image: url(/assets/92fc72e47a5854ae12c1167e69573d77.svg)}
.unreadPillCap-3_K2q2 path {fill:var(--background-primary)}
.unreadPillCap-3_K2q2 {margin-top:-1px}
.unreadPill-2HyYtt {background:var(--background-primary);border:solid 1px var(--red);color:var(--red)}
.theme-dark .lookOutlined-3sRXeN.colorPrimary-3b3xI6:not(:hover):not(:active) {border-color: #ffffff4d}
.theme-light .lookOutlined-3sRXeN.colorPrimary-3b3xI6:not(:hover):not(:active) {border-color: #747f8d4d}
.theme-dark .lookOutlined-3sRXeN.colorTransparent-1ewNp9:not(:hover):not(:active) {border-color: #dcddde4d}
.theme-light .lookOutlined-3sRXeN.colorTransparent-1ewNp9:not(:hover):not(:active) {border-color: #747f8d4d}
.lookOutlined-3sRXeN.colorWhite-rEQuAQ:not(:hover):not(:active) {border-color:#ffffff4d}
.lookOutlined-3sRXeN.colorBlack-1jwPVL:not(:hover):not(:active) {border-color:#0404054d}
.lookOutlined-3sRXeN.colorRed-1TFJan:not(:hover):not(:active) {border-color: #f047474d}
.lookOutlined-3sRXeN.colorYellow-2JqYwt:not(:hover):not(:active) {border-color: #faa61a4d}
.lookOutlined-3sRXeN.colorGreen-29iAKY:not(:hover):not(:active) {border-color: #43b5814d}
.lookOutlined-3sRXeN.colorBrand-3pXr91:not(:hover):not(:active) {border-color: #7289da4d}
.lookOutlined-3sRXeN.colorGrey-2DXtkV:not(:hover):not(:active) {border-color: #747f8d4d}
[fill="#3ba55c"],.updateIconForeground-3tnNZn {fill:var(--green)}
[style="background-color: rgb(237, 66, 69);"] {background-color:var(--red)!important}
[fill="#ed4245"] {fill:var(--red)}
.colorBrand-ROmMP1 {color: var(--blurple)}
.container-3auIfb .input-rwLH4i {
	opacity: 1;
	width: 0;
}
.container-3auIfb .input-rwLH4i:before, .container-3auIfb .input-rwLH4i:after {
	transition: .1s;
}
.container-3auIfb .input-rwLH4i:before {
	content: "";
	box-shadow: inset 0 1px 1px rgba(0,0,0,.15);
	width: 42px;
	height: 24px;
	background: #72767d;
	display: block;
	border-radius: 50px;
	margin-top: -3px;
	margin-left: -6px;
}
.container-3auIfb .input-rwLH4i:after {
	content:"";
	display: block;
	width: 18px;
	height: 18px;
	position: absolute;
	top: 0px;
	left: -3px;
	background: #fff;
	border-radius: 50px;
	box-shadow: 0 2px 4px rgba(0,0,0,.3);
}
.container-3auIfb .input-rwLH4i:checked:before {
	background: #7289da;
}
.container-3auIfb .input-rwLH4i:checked:after {
	transform: translate3d(18px,0,0);
}
.container-3auIfb .input-rwLH4i:active:before {
	background: #676a71;
}
.container-3auIfb .input-rwLH4i:active:after {
	width: 26px;
}
.container-3auIfb .input-rwLH4i:checked:active:before {
	background: #677cc5;
}
.container-3auIfb .input-rwLH4i:checked:active:after {
	left: -11px;
	width: 26px;
}
.container-3auIfb {
	background: #0000 !important;
}
.container-3auIfb svg {
	display: none;
}
