 /**
 * @name DTM-16
 * @author 11pixels#2004
 * @version AUTO
 * @invite vUN9sNW
 * @description Formerly known as Oldcord, this theme tries to bring back the 2016 look of Discord
 * @source https://github.com/XYZenix/XYZenixThemes/blob/master/DTM-16.theme.css
*/

@import url(https://xyzenix.github.io/XYZenixThemes/DTM-16/dtm-16.css);
:root { /* Configurable options */
	--jumboemojisize: 2rem; /* 2rem - old size; 3rem - new size, but you can set it to anything you want */
	--extra-buttons: none; /* block = ON, none = OFF - show gift, gif and sticker buttons in the chat textbox */
	--unread-bar: flex; /* flex = ON, none = OFF - show the "new unreads" bar in the channel list */
}