/* this is a joke theme lol - version 1 */
.homeIcon-FuNwkv path {
    display: none;
}
.homeIcon-FuNwkv {
    background: url("https://cdn.discordapp.com/attachments/733624227378495488/837357037813104670/discord2.png");
    background-size: contain;
    opacity: .9;
}
.wrapper-1BJsBx.selected-bZ3Lue .childWrapper-anI2G9, .wrapper-1BJsBx:hover .childWrapper-anI2G9,
.botTagRegular-2HEhHi, .headerPlaying-j0WQBV, .colorDefault-2K3EoJ.focused-3afm-j:not(.colorDanger-2qLCe1),
.lookFilled-1Gx00P.colorBrand-3pXr91:not(.buttonColor-7qQbGO), .betaTag-F_ncuo, .barFill-23-gu-,
.selected-mKYnfr.option-n0icdO, .replying-1x3H0T:before {
    background: #5865F2;
}
.lookFilled-1Gx00P.colorBrand-3pXr91:not(.buttonColor-7qQbGO):hover {
    background: #6471ff;
}
.colorDefault-2K3EoJ.focused-3afm-j:not(.colorDanger-2qLCe1):active,
.colorDefault-2K3EoJ:active:not(.hideInteraction-1iHO1O):not(.colorDanger-2qLCe1),
.lookFilled-1Gx00P.colorBrand-3pXr91:not(.buttonColor-7qQbGO):active {
    background: #4b57d6;
}
.lookOutlined-3sRXeN.colorBrand-3pXr91 {
    border-color: #5865F2;
    color: #8e98ff
}
.wrapper-3jrx9n, .input-cIJ7To.focused-1mmYsC, .input-cIJ7To:focus {
    border-color: #5865F2;
}
.newMessagesBar-265mhP {
    background: #5865F2ee;
}
[src*="/assets/6debd47ed13483642cf09e832ed0bc1b.png"] {
    content: url(https://cdn.discordapp.com/attachments/733624227378495488/837360456955199528/unknown.png)
}
[src*="/assets/dd4dbc0016779df1378e7812eabaa04d.png"] { /*green*/
    content: url(https://cdn.discordapp.com/attachments/733624227378495488/837360745414787092/unknown.png)
}
[src*="/assets/322c936a8c8be1b803cd94861bdfa868.png"] { /*gray*/
    content: url(https://cdn.discordapp.com/attachments/733624227378495488/837360760266555433/unknown.png)
}
[src*="/assets/1cbd08c76f8af6dddce02c5138971129.png"] { /*red*/
    content: url(https://cdn.discordapp.com/attachments/733624227378495488/837360681170108446/unknown.png)
}
[src*="/assets/0e291f67c9274a1abdddeb3fd919cbaa.png"] { /*yellow*/
    content: url(https://cdn.discordapp.com/attachments/733624227378495488/837361051510767646/unknown.png)
}
.wrapper-3WhCwL {
    color: #5865F2;
    background: #5865F222;
}
.wrapper-3WhCwL:hover {
    background: #5865F2;
}
.colorBrand-2tjs5J {
    color: #5865F2;
}
.replying-1x3H0T {
    background: #5865F211;
}
