@font-face {
font-family: rosettaicons;
src: url(https://abs.twimg.com/a/1446542199/font/rosetta-icons-Regular.ttf);
}
html>body[class] {
    background: url(https://vignette.wikia.nocookie.net/leonhartimvu/images/8/8d/Kanto_Route_1_PO.png/revision/latest?cb=20181024015835);
    background-size: cover;
    background-attachment: fixed;
}
.AppContent {
    background: rgba(255,255,255,0.3);
}
.global-nav-inner {
    background: linear-gradient(#3D3D3D, #282828);
    box-shadow: 0 0 5px;
    height: 38px;
}
.global-nav {
    height: 38px;
}
.global-nav .container {
    max-width: 890px;
}
.nav.js-global-actions {
    margin-left: -14px;
}
#global-actions>li {
    height: 38px;
}
#global-actions > li > a,
#global-actions>li:hover>a, #global-actions>li.active>a {
    height: 38px;
}
.bird-topbar-etched {
    margin-top: 10px;
    color: #202020;
    text-shadow: 0 -1px #080808, 0 1px #424242;
}
.global-nav .search-input {
    height: 26px;
    margin-top: -1px;
    background: #555555;
    border: none;
    border-top: solid 1px #292929;
    box-shadow: inset 0 1px #4D4D4D;
}
.global-nav .search-input::placeholder {
    color: #ccc !important;
}
.global-nav .search-icon {
    display: none !important;
}
#global-new-tweet-button {
    background: linear-gradient(#5BABE4, #2578B4);
    width: 36px;
    height: 26px;
    border-radius: 4px;
    font-size: 0;
    border: solid 1px #111;
}
#global-new-tweet-button:after {
    content: "\f029";
    font-weight: 100;
    font-family: rosettaicons;
    font-size: 20px;
    margin-left: -6px;
    line-height: 10px;
    text-shadow: 0 -1px rgba(0,0,0,0.3);
}
.DashboardProfileCard-bg, .DashboardProfileCard {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.DashboardProfileCard {
    margin-bottom: 70px;
}
.top-timeline-tweet-box-user-image {
    display: none;
}
.top-timeline-tweetbox .timeline-tweet-box .t1-form {
    margin-left: 0;
}
.top-timeline-tweetbox .tweet-user {
    position: absolute;
    margin-left: -301px;
    width: 266px;
    margin-top: 161px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.Trends, .wtf-module, .Footer.module.roaming-module {
    border-radius: 5px;
}
.TweetBoxExtras .icon-btn .Icon {
    font-size: 16px;
}
.TweetBoxExtras .icon-btn {
    padding: 3px;
}
.nav>li>a .text {
    margin-top: 13px;
}
.nav#global-actions>li .Icon {
    margin-top: 7px;
}
.nav#global-actions>li .Icon {
    color: #ACACAC;
    text-shadow: 0 -1px black;
}
.nav>li>a .text {
    color: #acacac;
    font-weight: 400;
    text-shadow: 0 -1px #000;
}
.nav .active a {
    background: rgba(0,0,0,0.15);
    box-shadow: inset 0 0 15px -5px black;
}
.nav .active a .text {
    color: #fff !Important;
    text-shadow: 0 1px black;
}
.nav .active .Icon {
    color: #62BAF3 !important;
    text-shadow: 0 1px black !important;
}
#timeline.content-main.top-timeline-tweetbox:before {
    content: "Tweets";
    background: #fff;
    color: #333;
    font-size: 20px;
    font-weight: 700;
    padding: 16px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: block;
}
#timeline.content-main.light-inline-actions:before {
    content: "Notifications";
    background: #fff;
    color: #333;
    font-size: 20px;
    font-weight: 700;
    padding: 16px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: block;
}
.top-timeline-tweetbox .tweet-user {
    box-shadow: 0 1px 2px;
}
.DashboardProfileCard {
    z-index: 1;
}
.ProfileSidebar .ProfileHeaderCard, .ProfileSidebar .ProfileUserList, .ProfileSidebar .PhotoRail {
    background: white;
    padding: 14px;
    box-shadow: 0 0 1px black;
    border-radius: 5px;
}
.ProfileSidebar .TweetImpressionsModule {
    border-radius: 5px;
    box-shadow: 0 0 1px;
}
.ProfileHeading-content {
    border-top-left-radius: 5px!important;
    border-top-right-radius: 5px!important;
}
.ProfileCanopy {
    margin-top: -8px;
}
.EdgeButton.follow-text {
    border-radius: 5px;
    background: linear-gradient(white, #F5F8FA);
    border: solid 1px #E1E8ED !important;
    color: #292F33;
    font-weight: 700;
    line-height: 12px;
    padding-bottom: 8px;
}
.EdgeButton.follow-text:before {
    content: "\f175";
    position: relative;
    font-family: rosettaicons;
    font-size: 14px;
    font-weight: 100;
    margin-right: 2px;
    top:3px;
    color: #56AAF3;
}
.EdgeButton.follow-text {
    border-radius: 5px;
    background: linear-gradient(white, #F5F8FA);
    border: solid 1px #E1E8ED !important;
    color: #292F33;
    font-weight: 700;
}
.EdgeButton.follow-text, .EdgeButton.UserActions-editButton {
    border-radius: 5px;
    background: linear-gradient(white, #F5F8FA);
    border: solid 1px #E1E8ED !important;
    color: #292F33;
    font-weight: 700;
}
.EdgeButton.follow-text:hover, .EdgeButton.UserActions-editButton:hover {
    border-radius: 5px;
    background: linear-gradient(white, #fafdff);
    border: solid 1px #bcd5e6 !important;
    color: #3f4c54;
    font-weight: 700;
    padding-bottom: 8px;
}
.EdgeButton.follow-text:active, .EdgeButton.UserActions-editButton:active {
    border-radius: 5px;
    background: linear-gradient(#F5F8FA, #f7fcff);
    border: solid 1px #bbcdda !important;
    color: #292F33;
    font-weight: 700;
    padding-bottom: 8px;
}
.ProfileNav-label {
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 400;
    float: left;
    position: relative;
    top: 9px;
    left: 1px;
}
.ProfileNav-value {
    text-align: left;
    position: relative;
    top: -20px;
}
.ProfileCanopy-navBar, .ProfileNav, .ProfileNav-list, .ProfileNav-item, .ProfileNav-stat {
    height: 40px!important;
}
.ProfileNav-stat {
    border-bottom: none;
    border-right: solid 1px #CCC !important;
}
.ProfileNav-list .ProfileNav-item:first-of-type .ProfileNav-stat {
    border-left: solid 1px #CCC !important;
}
.UserActions .user-actions {
    margin-top: -10px;
}
.EdgeButton.UserActions-editButton,
.EdgeButton.UserActions-editButton:hover {
    position: relative !Important;
    top: -10px !important;
}
.EdgeButton.following-text {
    background: linear-gradient(#30BAED, #019AD2);
    border-radius: 5px;
    box-shadow: inset 0 1px rgba(255,255,255,0.4);
    padding: 4px;
    text-shadow: 0 -1px rgba(0,0,0,03);
    border-color: #057ED0 !important;
}
.EdgeButton.unfollow-text {
    background: linear-gradient(#EB5D58, #C43C35);
    border-radius: 5px;
    box-shadow: inset 0 1px rgba(255,255,255,0.4);
    padding: 4px;
    text-shadow: 0 -1px rgba(0,0,0,03);
    border-color: #A93730 !important;
}
.EdgeButton.unfollow-text:active {
    background: linear-gradient(#C43C35, #C43C35);
}
.ProfileCardMini {
    padding: 1.5px;
}
.ProfileNav-stat--moreLink .ProfileNav-value {
    top: -12px;
}
.ProfileNav-dropdownCaret {
    display: none;
}
