@font-face {
font-family: rosettaicons;
src: url(https://abs.twimg.com/a/1446542199/font/rosetta-icons-Regular.ttf);
}
.Icon:before {font-family: "rosettaicons";}
.Icon--notificationsFilled:before {content: "\00F055";}
.Icon--homeFilled:before {content: "\f053";}
.Icon--caretDownLight:before {content: "\f150";}
.Icon--magicrecs:before {content: "\f179";}
.HeartAnimation {background: transparent;}
.HeartAnimation:after {
    content: "\f147";
    font-family: "rosettaicons";
    position: absolute;
    margin-top: 23px;
    padding: 0px !important;
    font-size: 18px;
}
.ProfileTweet-action--favorite:hover .ProfileTweet-actionButton, .ProfileTweet-action--favorite:hover .ProfileTweet-actionCount, .ProfileTweet-action--favorite .ProfileTweet-actionButton:focus, .ProfileTweet-action--favorite .ProfileTweet-actionButton:focus .ProfileTweet-actionCount, .favorited .ProfileTweet-action--favorite .Icon--heart, .favorited .ProfileTweet-action--favorite .ProfileTweet-actionButtonUndo {
    color: gold;
}
.Icon--people:before {content: "\f056";}
.Icon--gif:before {content: "\f309";}
.Icon--horizontalBarChart:before {content: "\f199";}
.Icon--heartBadge:before {content: "\f147";color: gold;}
.Icon--retweeted:before {content: "\F152";}
.Icon--info:before {content: "\f056";}
.Icon--dotsVertical:before {content: "\f150";transform: rotate(90deg);}
.Icon--follower:before {content: "\f056";}
.Icon--checkLight:before {content: "\f170";}
.Icon--promotedStroked:before {content: "\f300";}
.Icon--promoteMode:before {content: "\f052";}
.Icon--crescent:before {content: "\f500";}
.Icon--crescentFilled:before {content: "\f510";}
.Icon--cover:before {content: "\f109";}
.stats .stat-count strong {
    display: block;
    font-size: 24px;
    font-weight: 400;
    margin-top: 0px;
    margin-bottom: -38px;
    padding-top: 8px;
    padding-bottom: 0px;
}
.stats .stat-count {
    overflow: visible;
    font-size: 12px;
    margin-left: 20px;
}
.js-stat-retweets {
    margin-left: 0 !important;
}
