/* ==UserStyle==
@name           2014 twitch v2
@namespace      github.com/openstyles/stylus
@version        1.0.0
@description    brings back 2014 twitch to a lesser extent than normal
@author         11pixels
@preprocessor   less
==/UserStyle== */

@-moz-document domain("twitch.tv") {
  :root {
      --border-radius-rounded: 0;
      --font-display: "Korolev-Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
      --font-weight-semibold: 400;
      --font-main: "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  // mixins
  .mxWhiteBtn {
      &, &:hover, &:active {
          background: linear-gradient(#f5f5f5,#ddd);
          border-top: 1px solid #0003;
          border-left: 1px solid #0000004d;
          border-right: 1px solid #0000004d;
          border-bottom: 1px solid #00000059;
          box-shadow: inset 0 1px 0 #fff, 0 1px 0 rgb(0 0 0 / 7%);
          text-shadow: 0 1px 0 rgb(255 255 255 / 75%);
          color: #666;
          border-radius: 0;
      }
      &:active {
          background: linear-gradient(#ddd,#bbb);
          border-top: 1px solid #00000059;
          border-left: 1px solid #0000004d;
          border-right: 1px solid #0000004d;
          border-bottom: 1px solid #0000004d;
          box-shadow: inset 0 1px 1px rgb(0 0 0 / 15%), 0 1px 0 rgb(255 255 255 / 65%);
      }
  }
  .mxPurpleBtn {
      &, &:hover, &:active {
          background: linear-gradient(#8266b6,#533787);
          border-top: 1px solid #5b3f8f;
          border-left: 1px solid #412771;
          border-right: 1px solid #412771;
          border-bottom: 1px solid #2a1453;
          box-shadow: inset 0 1px 0 rgb(255 255 255 / 10%), 0 1px 0 rgb(0 0 0 / 15%);
          text-shadow: 0 1px 0 rgb(0 0 0 / 75%);
          color: #fff;
          border-radius: 0;
      }
      &:active {
          background: linear-gradient(#553c87,#372364);
          border: 1px solid #2a1453;
          box-shadow: inset 0 1px 1px rgb(0 0 0 / 50%), 0 1px 0 rgb(255 255 255 / 65%);
      }
  }
  // body
  html, body {
      font-family: Helvetica !important;
  }
  .fMxWnV {
      background: #EAEAEA !important;
  }
  .tw-root--theme-dark .fMxWnV {
      background: #2b2b2b !important;
  }
  
  // reused icons
  
  // expand
  [d="M4 16V4H2v12h2zM13 15l-1.5-1.5L14 11H6V9h8l-2.5-2.5L13 5l5 5-5 5z"] {
      d: path("M20 0V20H0V0H20ZM19 1V19H1V1H19Z M13 9H12V8H11V7H10V6H8V14H10V13H11V12H12V11H13V9Z");
      fill-rule: evenodd;
  }
  // collapse
  [d="M16 16V4h2v12h-2zM6 9l2.501-2.5-1.5-1.5-5 5 5 5 1.5-1.5-2.5-2.5h8V9H6z"] {
      d: path("M0 0V20H20V0H0ZM1 1V19H19V1H1Z M7 9H8V8H9V7H10V6H12V14H10V13H9V12H8V11H7V9Z");
      fill-rule: evenodd;
  }
  // heart
  [d="M9.171 4.171A4 4 0 006.343 3H6a4 4 0 00-4 4v.343a4 4 0 001.172 2.829L10 17l6.828-6.828A4 4 0 0018 7.343V7a4 4 0 00-4-4h-.343a4 4 0 00-2.829 1.172L10 5l-.829-.829zm.829 10l5.414-5.414A2 2 0 0016 7.343V7a2 2 0 00-2-2h-.343a2 2 0 00-1.414.586L10 7.828 7.757 5.586A2 2 0 006.343 5H6a2 2 0 00-2 2v.343a2 2 0 00.586 1.414L10 14.172z"] {
      d: path("M8 3H4V4H3V5H2V10H3V11H4V12H5V13H6V14H7V15H8V16H9V17H11V16H12V15H13V14H14V13H15V12H16V11H17V10H18V5H17V4H16V3H12V4H8V3Z");
  }
  // camera
  [d="M12.002 3.999a2 2 0 012 2v2L18 6v8l-3.998-2v2a2 2 0 01-2 1.999h-8a2 2 0 01-2-2V6a2 2 0 012-2h8zM12 6H4v8h8V6z"] {
      d: path("M12 5H2V15H12V11H13V12H14V13H15V14H16V15H18V14V13V12V11V9V8V7V6V5H16V6H15V7H14V8H13V9H12V5Z");
  }
  // dm kind of messages
  [d="M7.828 13L10 15.172 12.172 13H15V5H5v8h2.828zM10 18l-3-3H5a2 2 0 01-2-2V5a2 2 0 012-2h10a2 2 0 012 2v8a2 2 0 01-2 2h-2l-3 3z"] {
      d: path("M2 4V16H18V4H2ZM4 6V7H5V8H6V9H7V11H6V12H5V13H4V14H6V13H7V12H8V11H9V12H11V11H12V12H13V13H14V14H16V13H15V12H14V11H13V9H14V8H15V7H16V6H14V7H13V8H12V9H11V10H9V9H8V8H7V7H6V6H4Z");
      fill-rule: evenodd;
  }
  // inbox kind of messages
  [d="M4 3h12l2 4v10H2V7l2-4zm.236 4H8v1a1 1 0 001 1h2a1 1 0 001-1V7h3.764l-1-2H5.236l-1 2zM16 9h-2.17A3.001 3.001 0 0111 11H9a3.001 3.001 0 01-2.83-2H4v6h12V9z"] {
      d: path("M17 3H3V17H17V3ZM5 12H8V13H9V14H11V13H12V12H15V5H5V12Z")
  }
  
  // header
  
  .fMxWnV {
      background: #202020 !important;
      // logo
      .cVxMkn {
          background: url(https://cdn.discordapp.com/attachments/733624227378495488/1032644218893635685/unknown.png);
          width: 102px;
          height: 33px;
          margin: 8px;
          opacity: .9;
          figure {
              display: none;
          }
      }
      // following/browse buttons
      .eMqFIm {
          padding-left: 0 !important;
          padding-right: 0 !important;
          .hOpaag {
              padding-left: 1rem !important; 
              padding-right: 1rem !important;
              color: inherit;
              font-family: var(--font-main);
          }
          .navigation-link {
              color: inherit !important;
          }
          color: #909090;
          &:hover {
              background: #1b1b1b;
              color: #eee;
          }
          &:active {
              background: #161616;
              color: #eee;
              box-shadow: inset 0 1px 0 rgb(0 0 0 / 25%);
          }
          .navigation-link {
              margin-bottom: -2px;
          }
      }
      // more button
      .cMtTuh .nHKTN {
          path {
              d: path("M8.00049 1.99951H12.0005V5.99951H8.00049V1.99951Z M8.00049 13.9995H12.0005V17.9995H8.00049V13.9995Z M12.0005 8.00049H8.00049V12.0005H12.0005V8.00049Z")
          }
      }
      // prime loot, notifs, messages buttons
      .nHKTN {
          color: #909090;
          &:hover {
              background: #1b1b1b;
              color: #eee;
          }
          &:active {
              background: #161616;
              color: #eee;
              box-shadow: inset 0 1px 0 rgb(0 0 0 / 25%);
          }
      }
      // notif thing on buttons
      .eEVRWB {
          background: #202020 !important;
      }
      // search bar
      .cZaGE {
          // the search bar
          .fQdJFL {
              background: none;
              border: none !important;
              color: #ddd;
              &::placeholder {
                  color: #777;
              }
          }
          // cancel button
          .edTmkJ::-webkit-search-cancel-button {
              filter: invert(1);
              opacity: .25;
          }
          // the button
          .kgzEiA {
              background: none;
              color: #777;
          }
          // the search bar but not
          .tw-combo-input {
              background: #333;
          }
          // the search autocomplete
          .bFfpGw {
              background: #262626 !important;
              border: solid 1px #000;
              color: #aaa;
              border-radius: 0 !important;
              box-shadow: 0 1px rgb(0 0 0 / 25%) !important;
              padding: 0 !important;
              // search result
              .hvwKrk {
                  border-radius: 0 !important;
                  &:hover {
                      background: #1b1b1b !important;
                      color: #eee;
                  }
                  &:active {
                      background: #161616 !important;
                      box-shadow: inset 0 1px rgba(0 0 0 / 25%);
                      color: #eee;
                  }
                  .search-item__history {
                      color: #aaa !important;
                  }
              }
          }
      }
      // get bits
      [data-a-target="top-nav-get-bits-button"] {
          display: none;
      }
      // right side
      .hWJFll {
          // twitch prime
          [d="M13.798 10.456L10 6.657l-3.798 3.799L4 8.805V13h12V8.805l-2.202 1.65zM18 5v8a2 2 0 0 1-2 2H4a2.002 2.002 0 0 1-2-2V5l4 3 4-4 4 4 4-3z"] {
              d: path("M7 2V6H8V7H9V8H11V7H12V6H13V2H7Z M2 7H6V8H7V9H8V11H7V12H6V13H2V7Z M9 12V13H8V14H7V18H13V14H12V13H11V12H9Z M14 7H18V13H14V12H13V11H12V9H13V8H14V7Z")
          }
          .ffz-top-nav {
              figure {
                  color: #aaa;
              }
          }
          // avatar
          .tw-image-avatar {
              border-radius: 0 !important;
              border: solid 1px #000;
              box-shadow: 0 1px #1b1b1b;
          }
      }
  }
  // left sidebar
  html>body .dIRfla {
      background: #202020 !important;
      // category
      .cIfBon {
          // title
          .ezafKb {
              color: #5f5f5f;
              font-size: 11px !important;
              font-weight: bold !important;
              margin-left: 16px;
              margin-right: 16px;
          }
          // title but not first
          &:not(:first-child) .ezafKb {
              padding-top: 16px !important;
              border-top: solid 1px #282828;
              box-shadow: 0 -1px #0a0a0a;
          }
          // a card
          .side-nav-card__link {
              height: auto;
              padding-left: 20px !important;
              [data-a-target="side-nav-title"] {
                  color: inherit !important;
                  font-size: 12px !important;
                  margin-top: 3px;
              }
              // game
              .ciPVTQ {
                  color: #666 !important;
              }
              // count/offline
              .iUznyJ {
                  color: #666 !important;
              }
              color: #999;
              &:hover {
                  background: #1b1b1b !important;
                  color: #eee;
              }
              &:active {
                  background: #161616 !important;
                  box-shadow: inset 0 1px rgba(0 0 0 / 25%);
                  color: #eee;
              }
              // pfp
              .dncwPH {
                  width: 20px;
                  height: 20px;
                  .iDjrEF {
                      border-radius: 0 !important;
                      border: solid 1px #000;
                      box-shadow: 0 1px #1b1b1b;
                  }
              }
          }
          // show more
          .eUXBRI {
              text-align: center !important;
              justify-content: center !important;
              .gBLUEB {
                  color: #5f5f5f !important;
              }
          }
      }
      .nHKTN {
          color: #999;
      }
  }
  // left sidebar collapsed
  .side-nav--collapsed {
      // avatar
      .dncwPH {
          width: 24px;
          height: 24px;
          .tw-image-avatar {
              border-radius: 0 !important;
              border: solid 1px #000;
              box-shadow: 0 1px #1b1b1b;
          }
      }
      // icons
      .side-nav-header path {
          fill: #666666;
          filter: drop-shadow(0 1px #000);
      }
  }
  // channel info content, duh
  .channel-info-content {
      // info bar on top
      .fOsPDQ {
          // avatar
          .wEGRY {
              // inner thing
              .djUWkE {
                  border: solid 4px #fff;
                  box-shadow: 0 0 0 1px #b7b7b7;
                  background: #000;
                  &[href="/twitchplayspokemon"] {
                      background: #3e2354;
                  }
                  &:before {
                      display: none;
                  }
              }
          }
          // live bar
          .user-avatar-card__live {
              top: 12px;
              left: 1px;
              display: none !important;
          }
          .kEqDRM {
              padding: 0 !important;
          }
          .kmkULv {
              .gfqupx {
                  width: 74px;
                  margin-left: -2px;
                  position: relative;
                  background: #6441a5;
                  border-radius: 0;
                  overflow: hidden;
                  @keyframes expand {
                      0% {
                          width: 0;
                          height: 0;
                          margin-left: 0;
                          margin-top: 0;
                          box-shadow: 0 0 3px 1px #b9a3e3,inset 0 0 3px 1px #b9a3e3;
                      }

                      100% {
                          width: 160px;
                          height: 160px;
                          margin-left: -80px;
                          margin-top: -80px;
                          box-shadow: 0 0 25px 3px #b9a3e3,inset 0 0 25px 3px #b9a3e3;
                      }
                  }
                  &:before, &:after {
                      content: "";
                      display: block;
                      position: absolute;
                      width: 0;
                      height: 0;
                      border-radius: 999px;
                      top: 50%;
                      left: 50%;
                      box-shadow: 0 0 3px 1px #b9a3e3,inset 0 0 3px 1px #b9a3e3;
                      -moz-box-shadow: 0 0 3px 1px #b9a3e3,inset 0 0 3px 1px #b9a3e3;
                      -webkit-box-shadow: 0 0 3px 1px #b9a3e3,inset 0 0 3px 1px #b9a3e3;
                      z-index: 0;
                  }
                  &:before {
                      animation: expand 1500ms infinite ease-in;
                  }
                  &:after {
                      animation: expand 1500ms infinite 750ms ease-in;
                  }
              }
          }
          // regular buttons
          .kgzEiA, .dvGXZi {
              .mxWhiteBtn();
          }
          .dDxrgX {
              .mxPurpleBtn();
          }
          [data-a-target="manage-sub-button"] {
              .eMBxHr {
                  display: none !important;
              }
              .hCKHKu {
                  padding-left: var(--button-padding-x);
              }
          }
          // borked buttons
          .ceTLz, .dOkTql {
              border-radius: 0 !important;
          }
          .kAKEhM [style^="opacity: 1; transform: translateX("] {
              span {
                  display: none;
              }
              .icoYJA {
                  margin: 0 !important;
              }
              transform: none !important;
          }
      }
  }
  // quick font fix
  section[data-test-selector="chat-room-component-layout"] .chat-scrollable-area__message-container, .whispers .thread-message__message, .video-chat__message {
      font-family: inherit !important;
  }
  // chat
  .channel-root__right-column--expanded {
      // leaderboard
      .gDuGLD {
          display: none;
      }
      // stream chat header
      .stream-chat-header {
          background: #e5e5e5 !important;
          border-bottom: solid 1px #00000040 !important;
          [d="M7 2a4 4 0 00-1.015 7.87c-.098.64-.651 1.13-1.318 1.13A2.667 2.667 0 002 13.667V18h2v-4.333c0-.368.298-.667.667-.667.908 0 1.732-.363 2.333-.953.601.59 1.425.953 2.333.953.369 0 .667.299.667.667V18h2v-4.333A2.667 2.667 0 009.333 11c-.667 0-1.22-.49-1.318-1.13A4.002 4.002 0 007 2zM5 6a2 2 0 104 0 2 2 0 00-4 0z"] {
              d: path("M6 3H14V10H13V11H12V12H11V13H15V14H16V15H17V17H3V15H4V14H5V13H9V12H8V11H7V10H6V3Z");
          }
          [d="M14 11.83V18h4v-3.75c0-.69-.56-1.25-1.25-1.25a.75.75 0 01-.75-.75v-.42a3.001 3.001 0 10-2 0z"] {
              display: none;
          }
      }
      // chat room
      .chat-room {
          background: #d9d9d9 !important;
          // chat messages
          .chat-line__message {
              font-size: 12px !important;
              .chat-author__display-name {
                  font-weight: 800;
              }
              strong {
                  font-weight: inherit;
              }
          }
      }
      // badges
      .chat-line__message--badges {
          [data-badge="glitchcon2020"],
          [data-badge="twitchconAmsterdam2020"],
          [data-provider="ffz"],
          [data-badge="bits-charity"] {
              display: none !important;
          }
          .ffz-badge {
              border-radius: 0 !important;
          }
          .ffz-badge[data-badge="premium"] {
              background: url("https://cdn.frankerfacez.com/static/badges/twitch/2/premium/1/1.png") #633da7;
          }
      }
      // input
      .chat-input {
          background: #e5e5e5;
          box-shadow: inset 0 1px #f6f6f6;
          border-top: 1px solid #a3a3a3;
          padding: 10px 10px 0;
          .chat-wysiwyg-input__editor {
              background: #fff !important;
              border-radius: 0 !important;
              box-shadow: inset 0 1px 1px rgb(0 0 0 / 10%), inset 0 0 1px rgb(0 0 0 / 5%), 0 1px 0 rgb(255 255 255 / 65%) !important;
              border: 1px solid #00000059 !important;
              font-size: 12px !important;
              transition: 0s;
              &:focus, &:focus-within {
                  border: 1px solid #6441a5bf !important;
                  box-shadow: 0 0 3px 1px rgb(185 155 235 / 75%) !important;
              }
          }
          .chat-wysiwyg-input__placeholder {
              font-size: 12px;
          }
          // chat input badge
          .chat-input__badge-carousel {
              padding-top: 5px;
          }
          .chat-input__input-icons {
              padding-bottom: 5px;
          }
          // action bar
          .chat-input__buttons-container {
              // channel points
              .bRFHvC {
                  .mxWhiteBtn();
              }
              // right side
              .gwGJSM {
                  // settings
                  .nHKTN {
                      .mxWhiteBtn();
                      svg {
                          background-image: url(https://cdn.discordapp.com/attachments/733624227378495488/1032690021972578415/unknown.png);
                          background-position: 1px 1px;
                          path {display:none}
                      }
                  }
                  // send btn
                  .dDxrgX {
                      .mxPurpleBtn();
                  }
              }
          }
      }
  }
  // menus
  .iZTwpV {
      border-radius: 0 !important;
  }
}








































