/**
* @name Ultra Dark
* @author 11pixels
* @version 1.2727
* @invite vUN9sNW
* @description a theme i made for a friend
*/
:root {
  /* fixes a bug where the sans-serif font is horrifyingly bad in newer discord builds */
  --font-primary: "Noto Sans";
  --font-display: var(--font-primary);
}

.theme-dark, .theme-light {
  --background-primary: #000;
  --background-secondary: #080808;
  --background-secondary-alt: #0a0a0a;
  --background-tertiary: #0b0b0b;
  --background-floating: #080808;
  --background-accent: #111;
  --channeltextarea-background: #111;
  --background-modifier-hover: #111;
  --background-modifier-selected: #222;
  --background-modifier-active: #242424;
  --background-modifier-accent: #111;
  --modal-background: #0a0a0a;
  --scrollbar-auto-track: #111;
  --scrollbar-auto-thumb: #333;
  --modal-footer-background: #080808;
  --input-background: #111;
  --search-popout-option-fade: linear-gradient(90deg,rgba(24,25,28,0),#080808 80%);
  --search-popout-option-fade-hover: linear-gradient(90deg,rgba(54,57,63,0),#111111 50%);
}
.theme-light>.focusLock__10aa5 {
  --background-primary: #111;
  --background-secondary: #080808;
  --modal-background: #111;
  --interactive-normal: #bbb;
  --text-normal: #bbb;
  --header-primary: #fff;
  --header-secondary: #bbb;
  --modal-footer-background: #111;
  --deprecated-text-input-bg: #111;
  --input-background: #040404;
  --text-muted: #bbb;
  --text-link: hsl(197,calc(var(--saturation-factor, 1)*100%),47.8%);
}
.theme-light>.focusLock__10aa5 .backButton__576ea,
.theme-light>.focusLock__10aa5 [class="button_afdfd9 lookBlank-21BCro colorBrand_b2253e sizeMin-DfpWCE grow-2sR_-F"]{
  color: #fff;
}
.theme-light>.focusLock__10aa5 .footerSeparator-VzAYwb {
  box-shadow: 0 -1px #222;
}
.theme-dark .container__5c7e7 {
  background: var(--background-primaryaliceblue);
}
.theme-dark .pageWrapper_fef757, .theme-dark .perksModal-CLcR1c, .theme-dark .tierMarkerBackground-G8FoN4 {
  background: var(--background-primary)
}
.theme-dark .tierBody__615a1, .theme-dark .autocomplete_df266d, .categoryHeader_f97a5f {
  background: var(--background-secondary);
}
.theme-dark .tierHeaderLocked__4d099, .theme-dark .tierBody-3ju-rc, .theme-dark .perk-19D_HN, .theme-dark .tierHeaderUnlocked_cc60fa {
  background: var(--background-tertiary);
}
.theme-dark .banner__01dd2 {
  background: linear-gradient(#000a, #000a), linear-gradient(90deg,hsl(235,calc(var(--saturation-factor, 1)*68.5%),52.7%),hsl(269,calc(var(--saturation-factor, 1)*91.8%),61.8%));
}
.theme-dark .upsellContainer__12e24 {
  background: linear-gradient(#000a, #000a), url(/assets/421e9ec77829ec1e4b1dd492dfad2f8a.svg),linear-gradient(90deg,hsl(235,calc(var(--saturation-factor, 1)*68.5%),52.7%),hsl(269,calc(var(--saturation-factor, 1)*91.8%),61.8%));
}
.theme-dark .upsellButtons__832ec .lookFilled__19298.colorWhite__43488,
.theme-dark .upsellButtons__832ec .lookFilled__19298.colorWhite__43488:disabled,
.theme-dark .heroButtons-357iJy .lookInverted_ee4261,
.theme-dark .heroButtons-357iJy .lookInverted_ee4261:disabled,
.theme-dark .lookInverted_ee4261.colorBrand_b2253e {
  background: #000;
  box-shadow: inset 0 0 0 1px #fff4, 0 0 2px 1px #0008;
}
.theme-dark .upsellButtons__832ec .lookFilled__19298.colorWhite__43488:not(:disabled):hover,
.theme-dark .heroButtons-357iJy .lookInverted_ee4261:not(:disabled):hover,
.theme-dark .lookInverted_ee4261.colorBrand_b2253e:not(:disabled):hover {
  background: #111;
}
.theme-dark .upsellButtons__832ec .lookFilled__19298.colorWhite__43488:active,
.theme-dark .heroButtons-357iJy .lookInverted_ee4261:not(:disabled):active,
.theme-dark .lookInverted_ee4261.colorBrand_b2253e:not(:disabled):active {
  background: #0a0a0a;
}
.theme-dark .lookFilled__19298.colorBrand_b2253e,
.theme-dark .lookFilled__19298.colorBrandNew_fd170a {
  background: #5865F244;
  border: solid 1px var(--brand-experiment);
}
.theme-dark .lookFilled__19298.colorBrand_b2253e:hover,
.theme-dark .lookOutlined__46d54.colorBrand_b2253e:hover,
.theme-dark .lookFilled__19298.colorBrandNew_fd170a:hover {
  background: #5865F266;
}
.theme-dark .lookFilled__19298.colorBrand_b2253e:active,
.theme-dark .lookOutlined__46d54.colorBrand_b2253e:active,
.theme-dark .lookFilled__19298.colorBrandNew_fd170a:active {
  background: #5865F222;
}
.theme-dark .lookFilled__19298.colorRed_d6b062 {
  background: #370c0c;
  border: solid 1px #D83C3E;
}
.theme-dark .lookFilled__19298.colorRed_d6b062:hover,
.theme-dark .lookOutlined__46d54.colorRed_d6b062:hover {
  background: #7a1e1f;
}
.theme-dark .lookFilled__19298.colorRed_d6b062:active,
.theme-dark .lookOutlined__46d54.colorRed_d6b062:active {
  background: #160404;
}
.theme-dark .lookFilled__19298.colorPrimary__6ed40 {
  background: #23262a;
  border: solid 1px #4F545C;
}
.theme-dark .lookFilled__19298.colorPrimary__6ed40:hover {
  background: #33373d
}
.theme-dark .lookFilled__19298.colorPrimary__6ed40:active {
  background: #1c1e21
}
.theme-dark .lookFilled__19298.colorGreen__5f181, .theme-dark .lookFilled__19298.colorBrand_b2253e.buttonActive__407a7 {
  border: solid 1px #2D7D46;
  background: #13341e;
}
.theme-dark .lookFilled__19298.colorGreen__5f181:hover, .theme-dark .lookFilled__19298.colorBrand_b2253e.buttonActive__407a7:hover {
  background: #183f24;
}
.theme-dark .lookFilled__19298.colorGreen__5f181:active, .theme-dark .lookFilled__19298.colorBrand_b2253e.buttonActive__407a7:active {
  background: #0f2817;
}
.theme-dark .bottomDivider_a59d97, .theme-dark .paginator_e620d3,
.theme-dark .codeRedemptionRedirect_bc7f36 {
  background: #111;
}
.theme-dark .expandedInfo__47bad {
  background: #181818;
}
.theme-dark .membershipDialog__2f195 {
  background: #111 !important;
}
.theme-dark .membershipDialog__2f195:after {
  display: none;
}
.theme-dark .membershipDialog__2f195 * {
  color: #fff !important;
}
.buttonShine__0be03 {
  display: none;
}
.theme-dark .bar_edc096 {
  box-shadow: inset 0 0 0 2px #4a4e57;
}
.theme-dark .bar_edc096.mention__1afd3 {
  background: #000;
  box-shadow: inset 0 0 0 2px var(--status-danger);
}
.theme-dark .role__631a3 {
  box-shadow: inset 0 0 0 1px #fff2;
}
.theme-dark .notches__065e9.black__16fd6 {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg height='20' width='8' xmlns='http://www.w3.org/2000/svg' fill='black'%3E%3Cpath d='M0 0h8v20H0zm4 2a2 2 0 00-2 2v12a2 2 0 104 0V4a2 2 0 00-2-2z' fill-rule='evenodd'/%3E%3C/svg%3E")
}

.theme-dark .notches__065e9.gray__4fb3f {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg height='20' width='8' xmlns='http://www.w3.org/2000/svg' fill='black'%3E%3Cpath d='M0 0h8v20H0zm4 2a2 2 0 00-2 2v12a2 2 0 104 0V4a2 2 0 00-2-2z' fill-rule='evenodd'/%3E%3C/svg%3E")
}
.theme-dark .flowerStarContainer_d8d14b {
  --background-accent: #333;
}
.theme-dark .communityInfoPill_d3f445 {
  box-shadow: inset 0 0 0 1px #fff3;
}
.theme-dark .cardPrimary_cb7a0e,
.theme-dark .cardPrimaryEditable__25559,
.theme-dark .cardPrimaryOutline__9df8a {
  background: #000;
  border-color: #fff3;
}
.theme-dark .accountList-Wii_T5,
.theme-dark .connection_fff5f6 {
  background: #000;
  border: solid 1px #fff3;
}
.theme-dark .connectionHeader__3c82d {
  background: #080808;
  box-shadow: 0 1px #fff1;
}
.theme-dark .closeButton__34341 {
  border-color: #fff6;
}
.theme-dark .footer-3naVBw .input__95bc4 {
  box-shadow: inset 0 0 0 1px #fff2;
}
.theme-dark .banner__79cec:before {
  content: "";
  display: block;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  background: #000;
  position: absolute;
  border-radius: 4px;
  top: 1px;
  left: 1px;
}
.theme-dark .banner__79cec .lookOutlined__46d54.colorWhite__43488 {
  background: #000;
  text-transform: none;
}
.theme-dark .headerImage-2D5D-v {
  opacity: .3;
}
.theme-dark .search-25t1e9 .searchBox-31Zv9h,
.theme-dark .searchBox_a63854 {
  background: #111;
}
.theme-dark .search-25t1e9 .searchBox-31Zv9h .input-2g-os5 {
  color: white;
}
.theme-dark .categoryItem_b1be5c.selectedCategoryItem__0bf4c .itemInner__9e755,
.theme-dark .item-3XjbnG .selectedBackground_d847da {
  background: var(--brand-experiment-800);
  box-shadow: inset 0 0 0 1px var(--brand-experiment);
}
.theme-dark .item-3XjbnG .selectedBackground_d847da {
  border-radius: 5px;
}
.theme-dark .colorPickerCustom-1swUKF {
  background: #181818;
}
.membershipDialogHouse1-R8jb0l {
  box-shadow: inset 0 0 0 1px hsl(253,calc(var(--saturation-factor, 1)*77%),72.7%)
}
.membershipDialogHouse2-2W27iJ {
  box-shadow: inset 0 0 0 1px hsl(9,calc(var(--saturation-factor, 1)*86.5%),68%)
}
.membershipDialogHouse3-1E5AN4 {
  box-shadow: inset 0 0 0 1px hsl(169,calc(var(--saturation-factor, 1)*69.1%),56.9%)
}
.tooltip__01384.tooltipBlack__90eaa,
.tooltip__01384.tooltipPrimary_e5c00d {
  box-shadow: inset 0 0 0 2px #333 !important;
}
.tooltip__01384.tooltipBlack__90eaa .tooltipPointer_a79354,
.tooltip__01384.tooltipPrimary_e5c00d .tooltipPointer_a79354 {
  border-top-color: #333 !important;
}
.theme-dark .keyboardShortcutsModal__74c71 {
  background: #111;
}
.bar__004d9 {
  background: #000;
  box-shadow: inset 0 0 0 2px #fff3;
}
.bar__004d9.mentionsBar__4b47a {
  background: #000;
  box-shadow: inset 0 0 0 2px #f04747;
}
.userPopoutInner_f545a3:before {
  background: #111;
}
.profileBadges__7a7cb, .overlayBackground__86b78 {
background: #000;
}
.userPopoutInner_f545a3 .wrapper_edb6e0 circle[fill="white"] {
fill: #111;
}
.theme-light {
--black: var(--black-500);
--channels-default: var(--primary-360);
--deprecated-card-bg: hsl(var(--primary-700-hsl)/0.6);
--deprecated-card-editable-bg: hsl(var(--primary-700-hsl)/0.3);
--header-primary: var(--primary-130);
--header-secondary: var(--primary-330);
--interactive-active: var(--white-500);
--interactive-hover: var(--primary-230);
--interactive-muted: var(--primary-500);
--interactive-normal: var(--primary-330);
--text-brand: var(--brand-360);
--text-danger: var(--red-345);
--text-link: var(--blue-345);
--text-link-low-saturation: var(--blue-330);
--text-muted: var(--primary-360);
--text-normal: var(--primary-230);
--text-positive: var(--green-330);
--text-warning: var(--yellow-300);
--profile-note-background-color: hsla(0,0%,0%,0.3) !important;
--profile-role-pill-background-color: hsla(228,6.67%,14.71%,0.5) !important;
--profile-role-pill-border-color: hsla(0,0%,100%,0.2) !important;
--modal-background: #111;
}
.header__4f442 {
background: #111;
}
.lookFilled__19298.colorWhite__43488 {
background: #111;
border: solid 1px #333;
}
.lookOutlined__46d54.colorWhite__43488 {
border-color: #222;
}
.tierCard_f6953a, .backgroundImages__0cd3a {
background: #111;
box-shadow: inset 0 0 0 2px #222;
}
.card__67edb {
background: #000;
}
.lookFilled__19298.colorBrand_b2253e {
background: #000;
box-shadow: inset 0 0 0 1px var(--brand-experiment);
}
.lookFilled__19298.colorPrimary__6ed40 {
background: #000;
box-shadow: inset 0 0 0 1px var(--button-secondary-background);
}
.searchBar_e4ea2a .searchBarComponent__22760 {
box-shadow: inset 0 0 0 1px #222;
}
.downloadApps__30ed7 {
background: #000 !important;
}
.footerSeparator__57d95 .button_afdfd9.lookBlank__7ca0a.colorBrand_b2253e {
color: #fff;
}