/**
* @name Ultra Dark
* @author 11pixels#2004
* @version 1.0
* @invite vUN9sNW
* @description a theme i made for a friend
*/
:root {
    /* fixes a bug where the sans-serif font is horrifyingly bad in newer discord builds */
    --font-primary: "Noto Sans";
    --font-display: var(--font-primary);
}

.theme-dark {
    --background-primary: #000;
    --background-secondary: #080808;
    --background-secondary-alt: #0a0a0a;
    --background-tertiary: #0b0b0b;
    --background-floating: #080808;
    --background-accent: #111;
    --channeltextarea-background: #111;
    --background-modifier-hover: #111;
    --background-modifier-selected: #222;
    --background-modifier-active: #242424;
    --background-modifier-accent: #111;
    --modal-background: #0a0a0a;
    --scrollbar-auto-track: #111;
    --scrollbar-auto-thumb: #333;
    --modal-footer-background: #080808;
    --input-background: #111;
    --search-popout-option-fade: linear-gradient(90deg,rgba(24,25,28,0),#080808 80%);
    --search-popout-option-fade-hover: linear-gradient(90deg,rgba(54,57,63,0),#111111 50%);
}
.theme-light>.focusLock-2tveLW {
    --background-primary: #111;
    --background-secondary: #080808;
    --modal-background: #111;
    --interactive-normal: #bbb;
    --text-normal: #bbb;
    --header-primary: #fff;
    --header-secondary: #bbb;
    --modal-footer-background: #111;
    --deprecated-text-input-bg: #111;
    --input-background: #040404;
    --text-muted: #bbb;
    --text-link: hsl(197,calc(var(--saturation-factor, 1)*100%),47.8%);
}
.theme-light>.focusLock-2tveLW .backButton-2Ps-B8,
.theme-light>.focusLock-2tveLW [class="button-f2h6uQ lookBlank-21BCro colorBrand-I6CyqQ sizeMin-DfpWCE grow-2sR_-F"]{
    color: #fff;
}
.theme-light>.focusLock-2tveLW .footerSeparator-VzAYwb {
    box-shadow: 0 -1px #222;
}
.theme-dark .container-2cd8Mz {
    background: var(--background-primaryaliceblue);
}
.theme-dark .pageWrapper-2PwDoS, .theme-dark .perksModal-CLcR1c, .theme-dark .tierMarkerBackground-G8FoN4 {
    background: var(--background-primary)
}
.theme-dark .tierBody-1d3UiS, .theme-dark .autocomplete-3NRXG8, .categoryHeader-OpJ1Ly {
    background: var(--background-secondary);
}
.theme-dark .tierHeaderLocked-30MLlO, .theme-dark .tierBody-3ju-rc, .theme-dark .perk-19D_HN, .theme-dark .tierHeaderUnlocked-1OpOLf {
    background: var(--background-tertiary);
}
.theme-dark .hero-1aNo0v {
    background: linear-gradient(#000a,#000a), url(/assets/6d70d302ed36f6ac6f97341027611e44.svg);
}
.theme-dark .banner-3Uu4yV {
    background: linear-gradient(#000a, #000a), linear-gradient(90deg,hsl(235,calc(var(--saturation-factor, 1)*68.5%),52.7%),hsl(269,calc(var(--saturation-factor, 1)*91.8%),61.8%));
}
.theme-dark .upsellContainer-22N_CL {
    background: linear-gradient(#000a, #000a), url(/assets/421e9ec77829ec1e4b1dd492dfad2f8a.svg),linear-gradient(90deg,hsl(235,calc(var(--saturation-factor, 1)*68.5%),52.7%),hsl(269,calc(var(--saturation-factor, 1)*91.8%),61.8%));
}
.theme-dark .upsellButtons-1l7XE5 .lookFilled-yCfaCM.colorWhite-1H92hK,
.theme-dark .upsellButtons-1l7XE5 .lookFilled-yCfaCM.colorWhite-1H92hK:disabled,
.theme-dark .heroButtons-357iJy .lookInverted-2mDUMi,
.theme-dark .heroButtons-357iJy .lookInverted-2mDUMi:disabled,
.theme-dark .lookInverted-2mDUMi.colorBrand-I6CyqQ {
    background: #000;
    box-shadow: inset 0 0 0 1px #fff4, 0 0 2px 1px #0008;
}
.theme-dark .upsellButtons-1l7XE5 .lookFilled-yCfaCM.colorWhite-1H92hK:not(:disabled):hover,
.theme-dark .heroButtons-357iJy .lookInverted-2mDUMi:not(:disabled):hover,
.theme-dark .lookInverted-2mDUMi.colorBrand-I6CyqQ:not(:disabled):hover {
    background: #111;
}
.theme-dark .upsellButtons-1l7XE5 .lookFilled-yCfaCM.colorWhite-1H92hK:active,
.theme-dark .heroButtons-357iJy .lookInverted-2mDUMi:not(:disabled):active,
.theme-dark .lookInverted-2mDUMi.colorBrand-I6CyqQ:not(:disabled):active {
    background: #0a0a0a;
}
.theme-dark .lookFilled-yCfaCM.colorBrand-I6CyqQ,
.theme-dark .lookFilled-yCfaCM.colorBrandNew-2-gGsS {
    background: #5865F244;
    border: solid 1px var(--brand-experiment);
}
.theme-dark .lookFilled-yCfaCM.colorBrand-I6CyqQ:hover,
.theme-dark .lookOutlined-3yKVGo.colorBrand-I6CyqQ:hover,
.theme-dark .lookFilled-yCfaCM.colorBrandNew-2-gGsS:hover {
    background: #5865F266;
}
.theme-dark .lookFilled-yCfaCM.colorBrand-I6CyqQ:active,
.theme-dark .lookOutlined-3yKVGo.colorBrand-I6CyqQ:active,
.theme-dark .lookFilled-yCfaCM.colorBrandNew-2-gGsS:active {
    background: #5865F222;
}
.theme-dark .lookFilled-yCfaCM.colorRed-rQXKgM {
    background: #370c0c;
    border: solid 1px #D83C3E;
}
.theme-dark .lookFilled-yCfaCM.colorRed-rQXKgM:hover,
.theme-dark .lookOutlined-3yKVGo.colorRed-rQXKgM:hover {
    background: #7a1e1f;
}
.theme-dark .lookFilled-yCfaCM.colorRed-rQXKgM:active,
.theme-dark .lookOutlined-3yKVGo.colorRed-rQXKgM:active {
    background: #160404;
}
.theme-dark .lookFilled-yCfaCM.colorPrimary-2AuQVo {
    background: #23262a;
    border: solid 1px #4F545C;
}
.theme-dark .lookFilled-yCfaCM.colorPrimary-2AuQVo:hover {
    background: #33373d
}
.theme-dark .lookFilled-yCfaCM.colorPrimary-2AuQVo:active {
    background: #1c1e21
}
.theme-dark .lookFilled-yCfaCM.colorGreen-3y-Z79 {
    border: solid 1px #2D7D46;
    background: #13341e;
}
.theme-dark .lookFilled-yCfaCM.colorGreen-3y-Z79:hover {
    background: #183f24;
}
.theme-dark .lookFilled-yCfaCM.colorGreen-3y-Z79:active {
    background: #0f2817;
}
.theme-dark .bottomDivider-ZmTm-j, .theme-dark .paginator-1eqD2g,
.theme-dark .codeRedemptionRedirect-2hYMSQ {
    background: #111;
}
.theme-dark .expandedInfo-1W31i3 {
    background: #181818;
}
.theme-dark .membershipDialog-2wAdpQ {
    background: #111 !important;
}
.theme-dark .membershipDialog-2wAdpQ:after {
    display: none;
}
.theme-dark .membershipDialog-2wAdpQ * {
    color: #fff !important;
}
.buttonShine-p5V5TB {
    display: none;
}
.theme-dark .bar-2eAyLE {
    box-shadow: inset 0 0 0 2px #4a4e57;
}
.theme-dark .bar-2eAyLE.mention-3XBnnZ {
    background: #000;
    box-shadow: inset 0 0 0 2px var(--status-danger);
}
.theme-dark .tierHeaderUnlocked-1IvR2R {
    background: #222;
}
.theme-dark .tierUnlocked-1yG5Ic {
    background: #222;
    box-shadow: 0 0 0 1px var(--brand-experiment);
    color: #fff;
}
.theme-dark .role-2TIOKu,
.theme-dark .searchBar-3joS_I {
    box-shadow: inset 0 0 0 1px #fff2;
}
.theme-dark .notches-2w7UZJ.black-11MaxJ {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg height='20' width='8' xmlns='http://www.w3.org/2000/svg' fill='black'%3E%3Cpath d='M0 0h8v20H0zm4 2a2 2 0 00-2 2v12a2 2 0 104 0V4a2 2 0 00-2-2z' fill-rule='evenodd'/%3E%3C/svg%3E")
}

.theme-dark .notches-2w7UZJ.gray-3wP137 {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg height='20' width='8' xmlns='http://www.w3.org/2000/svg' fill='black'%3E%3Cpath d='M0 0h8v20H0zm4 2a2 2 0 00-2 2v12a2 2 0 104 0V4a2 2 0 00-2-2z' fill-rule='evenodd'/%3E%3C/svg%3E")
}
.theme-dark .wrapper-28eC3z {
    --background-primary: #222;
}
.theme-dark .flowerStarContainer-1QeD-L {
    --background-accent: #333;
}
.theme-dark .communityInfoPill-2Mll66 {
    box-shadow: inset 0 0 0 1px #fff3;
}
.theme-dark .cardPrimary-3qRT__,
.theme-dark .cardPrimaryEditable-2mz_3i,
.theme-dark .cardPrimaryOutline-1ofwVz {
    background: #000;
    border-color: #fff3;
}
.theme-dark .accountList-Wii_T5,
.theme-dark .connection-YOVI9j {
    background: #000;
    border: solid 1px #fff3;
}
.theme-dark .connectionHeader-Ixbb1s {
    background: #080808;
    box-shadow: 0 1px #fff1;
}
.theme-dark .closeButton-PCZcma {
    border-color: #fff6;
}
.theme-dark .footer-3naVBw .input-2z42oC {
    box-shadow: inset 0 0 0 1px #fff2;
}
.theme-dark .banner-oA34U0:before {
    content: "";
    display: block;
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    background: #000;
    position: absolute;
    border-radius: 4px;
    top: 1px;
    left: 1px;
}
.theme-dark .banner-oA34U0 .lookOutlined-3yKVGo.colorWhite-1H92hK {
    background: #000;
    text-transform: none;
}
.theme-dark .headerImage-2D5D-v {
    opacity: .3;
}
.theme-dark .search-25t1e9 .searchBox-31Zv9h,
.theme-dark .searchBox-pyIJJj {
    background: #111;
}
.theme-dark .search-25t1e9 .searchBox-31Zv9h .input-2g-os5 {
    color: white;
}
.theme-dark .categoryItem-Kc_HK_.selectedCategoryItem-ZjqSui .itemInner-3e_4G4,
.theme-dark .item-3XjbnG .selectedBackground-1t6xXq {
    background: var(--brand-experiment-800);
    box-shadow: inset 0 0 0 1px var(--brand-experiment);
}
.theme-dark .item-3XjbnG .selectedBackground-1t6xXq {
    border-radius: 5px;
}
.theme-dark .colorPickerCustom-1swUKF {
    background: #181818;
}
.membershipDialogHouse1-R8jb0l {
    box-shadow: inset 0 0 0 1px hsl(253,calc(var(--saturation-factor, 1)*77%),72.7%)
}
.membershipDialogHouse2-2W27iJ {
    box-shadow: inset 0 0 0 1px hsl(9,calc(var(--saturation-factor, 1)*86.5%),68%)
}
.membershipDialogHouse3-1E5AN4 {
    box-shadow: inset 0 0 0 1px hsl(169,calc(var(--saturation-factor, 1)*69.1%),56.9%)
}
