/**
* @name Ultra Dark
* @author 11pixels
* @version 1.2727
* @invite vUN9sNW
* @description a theme i made for a friend
*/
:root {
  /* fixes a bug where the sans-serif font is horrifyingly bad in newer discord builds */
  --font-primary: "Noto Sans";
  --font-display: var(--font-primary);
}

.theme-dark, .theme-light {
  --background-primary: #000;
  --background-secondary: #080808;
  --background-secondary-alt: #0a0a0a;
  --background-tertiary: #0b0b0b;
  --background-floating: #080808;
  --background-accent: #111;
  --channeltextarea-background: #111;
  --background-modifier-hover: #111;
  --background-modifier-selected: #222;
  --background-modifier-active: #242424;
  --background-modifier-accent: #111;
  --modal-background: #0a0a0a;
  --scrollbar-auto-track: #111;
  --scrollbar-auto-thumb: #333;
  --modal-footer-background: #080808;
  --input-background: #111;
  --search-popout-option-fade: linear-gradient(90deg,rgba(24,25,28,0),#080808 80%);
  --search-popout-option-fade-hover: linear-gradient(90deg,rgba(54,57,63,0),#111111 50%);
}
.theme-light>.focusLock__28507 {
  --background-primary: #111;
  --background-secondary: #080808;
  --modal-background: #111;
  --interactive-normal: #bbb;
  --text-normal: #bbb;
  --header-primary: #fff;
  --header-secondary: #bbb;
  --modal-footer-background: #111;
  --deprecated-text-input-bg: #111;
  --input-background: #040404;
  --text-muted: #bbb;
  --text-link: hsl(197,calc(var(--saturation-factor, 1)*100%),47.8%);
}
.theme-light>.focusLock__28507 .backButton__68a1c,
.theme-light>.focusLock__28507 [class="button__581d0 lookBlank-21BCro colorBrand__27d57 sizeMin-DfpWCE grow-2sR_-F"]{
  color: #fff;
}
.theme-light>.focusLock__28507 .footerSeparator-VzAYwb {
  box-shadow: 0 -1px #222;
}
.theme-dark .container_bd15da {
  background: var(--background-primaryaliceblue);
}
.theme-dark .pageWrapper_c182d3, .theme-dark .perksModal-CLcR1c, .theme-dark .tierMarkerBackground-G8FoN4 {
  background: var(--background-primary)
}
.theme-dark .tierBody_fd5f94, .theme-dark .autocomplete__743a5, .categoryHeader__70c8e {
  background: var(--background-secondary);
}
.theme-dark .tierHeaderLocked__0ca2e, .theme-dark .tierBody-3ju-rc, .theme-dark .perk-19D_HN, .theme-dark .tierHeaderUnlocked__960f7 {
  background: var(--background-tertiary);
}
.theme-dark .banner__01dd2 {
  background: linear-gradient(#000a, #000a), linear-gradient(90deg,hsl(235,calc(var(--saturation-factor, 1)*68.5%),52.7%),hsl(269,calc(var(--saturation-factor, 1)*91.8%),61.8%));
}
.theme-dark .upsellContainer_df4d69 {
  background: linear-gradient(#000a, #000a), url(/assets/421e9ec77829ec1e4b1dd492dfad2f8a.svg),linear-gradient(90deg,hsl(235,calc(var(--saturation-factor, 1)*68.5%),52.7%),hsl(269,calc(var(--saturation-factor, 1)*91.8%),61.8%));
}
.theme-dark .upsellButtons_a786ca .lookFilled__950dd.colorWhite__0033e,
.theme-dark .upsellButtons_a786ca .lookFilled__950dd.colorWhite__0033e:disabled,
.theme-dark .heroButtons-357iJy .lookInverted_a299dc,
.theme-dark .heroButtons-357iJy .lookInverted_a299dc:disabled,
.theme-dark .lookInverted_a299dc.colorBrand__27d57 {
  background: #000;
  box-shadow: inset 0 0 0 1px #fff4, 0 0 2px 1px #0008;
}
.theme-dark .upsellButtons_a786ca .lookFilled__950dd.colorWhite__0033e:not(:disabled):hover,
.theme-dark .heroButtons-357iJy .lookInverted_a299dc:not(:disabled):hover,
.theme-dark .lookInverted_a299dc.colorBrand__27d57:not(:disabled):hover {
  background: #111;
}
.theme-dark .upsellButtons_a786ca .lookFilled__950dd.colorWhite__0033e:active,
.theme-dark .heroButtons-357iJy .lookInverted_a299dc:not(:disabled):active,
.theme-dark .lookInverted_a299dc.colorBrand__27d57:not(:disabled):active {
  background: #0a0a0a;
}
.theme-dark .lookFilled__950dd.colorBrand__27d57,
.theme-dark .lookFilled__950dd.colorBrandNew__8872c {
  background: #5865F244;
  border: solid 1px var(--brand-experiment);
}
.theme-dark .lookFilled__950dd.colorBrand__27d57:hover,
.theme-dark .lookOutlined__014b5.colorBrand__27d57:hover,
.theme-dark .lookFilled__950dd.colorBrandNew__8872c:hover {
  background: #5865F266;
}
.theme-dark .lookFilled__950dd.colorBrand__27d57:active,
.theme-dark .lookOutlined__014b5.colorBrand__27d57:active,
.theme-dark .lookFilled__950dd.colorBrandNew__8872c:active {
  background: #5865F222;
}
.theme-dark .lookFilled__950dd.colorRed__5a617 {
  background: #370c0c;
  border: solid 1px #D83C3E;
}
.theme-dark .lookFilled__950dd.colorRed__5a617:hover,
.theme-dark .lookOutlined__014b5.colorRed__5a617:hover {
  background: #7a1e1f;
}
.theme-dark .lookFilled__950dd.colorRed__5a617:active,
.theme-dark .lookOutlined__014b5.colorRed__5a617:active {
  background: #160404;
}
.theme-dark .lookFilled__950dd.colorPrimary_ebe632 {
  background: #23262a;
  border: solid 1px #4F545C;
}
.theme-dark .lookFilled__950dd.colorPrimary_ebe632:hover {
  background: #33373d
}
.theme-dark .lookFilled__950dd.colorPrimary_ebe632:active {
  background: #1c1e21
}
.theme-dark .lookFilled__950dd.colorGreen__75c93, .theme-dark .lookFilled__950dd.colorBrand__27d57.buttonActive_ae686f {
  border: solid 1px #2D7D46;
  background: #13341e;
}
.theme-dark .lookFilled__950dd.colorGreen__75c93:hover, .theme-dark .lookFilled__950dd.colorBrand__27d57.buttonActive_ae686f:hover {
  background: #183f24;
}
.theme-dark .lookFilled__950dd.colorGreen__75c93:active, .theme-dark .lookFilled__950dd.colorBrand__27d57.buttonActive_ae686f:active {
  background: #0f2817;
}
.theme-dark .bottomDivider_c85b47, .theme-dark .paginator__28ba5,
.theme-dark .codeRedemptionRedirect_b3eca7 {
  background: #111;
}
.theme-dark .expandedInfo_efc786 {
  background: #181818;
}
.theme-dark .membershipDialog_a0308e {
  background: #111 !important;
}
.theme-dark .membershipDialog_a0308e:after {
  display: none;
}
.theme-dark .membershipDialog_a0308e * {
  color: #fff !important;
}
.buttonShine_fb742e {
  display: none;
}
.theme-dark .bar_edc096 {
  box-shadow: inset 0 0 0 2px #4a4e57;
}
.theme-dark .bar_edc096.mention_dd733a {
  background: #000;
  box-shadow: inset 0 0 0 2px var(--status-danger);
}
.theme-dark .role_d81130 {
  box-shadow: inset 0 0 0 1px #fff2;
}
.theme-dark .notches__5406c.black__32e02 {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg height='20' width='8' xmlns='http://www.w3.org/2000/svg' fill='black'%3E%3Cpath d='M0 0h8v20H0zm4 2a2 2 0 00-2 2v12a2 2 0 104 0V4a2 2 0 00-2-2z' fill-rule='evenodd'/%3E%3C/svg%3E")
}

.theme-dark .notches__5406c.gray__211f0 {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg height='20' width='8' xmlns='http://www.w3.org/2000/svg' fill='black'%3E%3Cpath d='M0 0h8v20H0zm4 2a2 2 0 00-2 2v12a2 2 0 104 0V4a2 2 0 00-2-2z' fill-rule='evenodd'/%3E%3C/svg%3E")
}
.theme-dark .flowerStarContainer__00f61 {
  --background-accent: #333;
}
.theme-dark .communityInfoPill__1efab {
  box-shadow: inset 0 0 0 1px #fff3;
}
.theme-dark .cardPrimary__1ee6a,
.theme-dark .cardPrimaryEditable__24ec2,
.theme-dark .cardPrimaryOutline_c457b8 {
  background: #000;
  border-color: #fff3;
}
.theme-dark .accountList-Wii_T5,
.theme-dark .connection__6dbd8 {
  background: #000;
  border: solid 1px #fff3;
}
.theme-dark .connectionHeader__2b82f {
  background: #080808;
  box-shadow: 0 1px #fff1;
}
.theme-dark .closeButton__8177f {
  border-color: #fff6;
}
.theme-dark .footer-3naVBw .input__2c88a {
  box-shadow: inset 0 0 0 1px #fff2;
}
.theme-dark .banner__79cec:before {
  content: "";
  display: block;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  background: #000;
  position: absolute;
  border-radius: 4px;
  top: 1px;
  left: 1px;
}
.theme-dark .banner__79cec .lookOutlined__014b5.colorWhite__0033e {
  background: #000;
  text-transform: none;
}
.theme-dark .headerImage-2D5D-v {
  opacity: .3;
}
.theme-dark .search-25t1e9 .searchBox-31Zv9h,
.theme-dark .searchBox__56feb {
  background: #111;
}
.theme-dark .search-25t1e9 .searchBox-31Zv9h .input-2g-os5 {
  color: white;
}
.theme-dark .categoryItem__0608f.selectedCategoryItem__3e361 .itemInner_eedb2b,
.theme-dark .item-3XjbnG .selectedBackground__4039b {
  background: var(--brand-experiment-800);
  box-shadow: inset 0 0 0 1px var(--brand-experiment);
}
.theme-dark .item-3XjbnG .selectedBackground__4039b {
  border-radius: 5px;
}
.theme-dark .colorPickerCustom-1swUKF {
  background: #181818;
}
.membershipDialogHouse1-R8jb0l {
  box-shadow: inset 0 0 0 1px hsl(253,calc(var(--saturation-factor, 1)*77%),72.7%)
}
.membershipDialogHouse2-2W27iJ {
  box-shadow: inset 0 0 0 1px hsl(9,calc(var(--saturation-factor, 1)*86.5%),68%)
}
.membershipDialogHouse3-1E5AN4 {
  box-shadow: inset 0 0 0 1px hsl(169,calc(var(--saturation-factor, 1)*69.1%),56.9%)
}
.tooltip__7b090.tooltipBlack__867ce,
.tooltip__7b090.tooltipPrimary__51b23 {
  box-shadow: inset 0 0 0 2px #333 !important;
}
.tooltip__7b090.tooltipBlack__867ce .tooltipPointer_f7411c,
.tooltip__7b090.tooltipPrimary__51b23 .tooltipPointer_f7411c {
  border-top-color: #333 !important;
}
.theme-dark .keyboardShortcutsModal__44538 {
  background: #111;
}
.bar__004d9 {
  background: #000;
  box-shadow: inset 0 0 0 2px #fff3;
}
.bar__004d9.mentionsBar__7d867 {
  background: #000;
  box-shadow: inset 0 0 0 2px #f04747;
}
.userPopoutInner_e90432:before {
  background: #111;
}
.profileBadges__1f2ab, .overlayBackground__2666e {
background: #000;
}
.userPopoutInner_e90432 .wrapper__3ed10 circle[fill="white"] {
fill: #111;
}
.theme-light {
--black: var(--black-500);
--channels-default: var(--primary-360);
--deprecated-card-bg: hsl(var(--primary-700-hsl)/0.6);
--deprecated-card-editable-bg: hsl(var(--primary-700-hsl)/0.3);
--header-primary: var(--primary-130);
--header-secondary: var(--primary-330);
--interactive-active: var(--white-500);
--interactive-hover: var(--primary-230);
--interactive-muted: var(--primary-500);
--interactive-normal: var(--primary-330);
--text-brand: var(--brand-360);
--text-danger: var(--red-345);
--text-link: var(--blue-345);
--text-link-low-saturation: var(--blue-330);
--text-muted: var(--primary-360);
--text-normal: var(--primary-230);
--text-positive: var(--green-330);
--text-warning: var(--yellow-300);
--profile-note-background-color: hsla(0,0%,0%,0.3) !important;
--profile-role-pill-background-color: hsla(228,6.67%,14.71%,0.5) !important;
--profile-role-pill-border-color: hsla(0,0%,100%,0.2) !important;
--modal-background: #111;
}
.header_b9d0dd {
background: #111;
}
.lookFilled__950dd.colorWhite__0033e {
background: #111;
border: solid 1px #333;
}
.lookOutlined__014b5.colorWhite__0033e {
border-color: #222;
}
.tierCard__292e9, .backgroundImages__3c5e4 {
background: #111;
box-shadow: inset 0 0 0 2px #222;
}
.card__67edb {
background: #000;
}
.lookFilled__950dd.colorBrand__27d57 {
background: #000;
box-shadow: inset 0 0 0 1px var(--brand-experiment);
}
.lookFilled__950dd.colorPrimary_ebe632 {
background: #000;
box-shadow: inset 0 0 0 1px var(--button-secondary-background);
}
.searchBar__621ec .searchBarComponent__8f95f {
box-shadow: inset 0 0 0 1px #222;
}
.downloadApps_f5dd09 {
background: #000 !important;
}
.footerSeparator__2af8d .button__581d0.lookBlank_a5b4ca.colorBrand__27d57 {
color: #fff;
}/**
* @name Ultra Dark
* @author 11pixels
* @version 1.2727
* @invite vUN9sNW
* @description a theme i made for a friend
*/
:root {
  /* fixes a bug where the sans-serif font is horrifyingly bad in newer discord builds */
  --font-primary: "Noto Sans";
  --font-display: var(--font-primary);
}

.theme-dark, .theme-light {
  --background-primary: #000;
  --background-secondary: #080808;
  --background-secondary-alt: #0a0a0a;
  --background-tertiary: #0b0b0b;
  --background-floating: #080808;
  --background-accent: #111;
  --channeltextarea-background: #111;
  --background-modifier-hover: #111;
  --background-modifier-selected: #222;
  --background-modifier-active: #242424;
  --background-modifier-accent: #111;
  --modal-background: #0a0a0a;
  --scrollbar-auto-track: #111;
  --scrollbar-auto-thumb: #333;
  --modal-footer-background: #080808;
  --input-background: #111;
  --search-popout-option-fade: linear-gradient(90deg,rgba(24,25,28,0),#080808 80%);
  --search-popout-option-fade-hover: linear-gradient(90deg,rgba(54,57,63,0),#111111 50%);
}
.theme-light>.focusLock__28507 {
  --background-primary: #111;
  --background-secondary: #080808;
  --modal-background: #111;
  --interactive-normal: #bbb;
  --text-normal: #bbb;
  --header-primary: #fff;
  --header-secondary: #bbb;
  --modal-footer-background: #111;
  --deprecated-text-input-bg: #111;
  --input-background: #040404;
  --text-muted: #bbb;
  --text-link: hsl(197,calc(var(--saturation-factor, 1)*100%),47.8%);
}
.theme-light>.focusLock__28507 .backButton__68a1c,
.theme-light>.focusLock__28507 [class="button__581d0 lookBlank-21BCro colorBrand__27d57 sizeMin-DfpWCE grow-2sR_-F"]{
  color: #fff;
}
.theme-light>.focusLock__28507 .footerSeparator-VzAYwb {
  box-shadow: 0 -1px #222;
}
.theme-dark .container_bd15da {
  background: var(--background-primaryaliceblue);
}
.theme-dark .pageWrapper_c182d3, .theme-dark .perksModal-CLcR1c, .theme-dark .tierMarkerBackground-G8FoN4 {
  background: var(--background-primary)
}
.theme-dark .tierBody_fd5f94, .theme-dark .autocomplete__743a5, .categoryHeader__70c8e {
  background: var(--background-secondary);
}
.theme-dark .tierHeaderLocked__0ca2e, .theme-dark .tierBody-3ju-rc, .theme-dark .perk-19D_HN, .theme-dark .tierHeaderUnlocked__960f7 {
  background: var(--background-tertiary);
}
.theme-dark .banner__01dd2 {
  background: linear-gradient(#000a, #000a), linear-gradient(90deg,hsl(235,calc(var(--saturation-factor, 1)*68.5%),52.7%),hsl(269,calc(var(--saturation-factor, 1)*91.8%),61.8%));
}
.theme-dark .upsellContainer_df4d69 {
  background: linear-gradient(#000a, #000a), url(/assets/421e9ec77829ec1e4b1dd492dfad2f8a.svg),linear-gradient(90deg,hsl(235,calc(var(--saturation-factor, 1)*68.5%),52.7%),hsl(269,calc(var(--saturation-factor, 1)*91.8%),61.8%));
}
.theme-dark .upsellButtons_a786ca .lookFilled__950dd.colorWhite__0033e,
.theme-dark .upsellButtons_a786ca .lookFilled__950dd.colorWhite__0033e:disabled,
.theme-dark .heroButtons-357iJy .lookInverted_a299dc,
.theme-dark .heroButtons-357iJy .lookInverted_a299dc:disabled,
.theme-dark .lookInverted_a299dc.colorBrand__27d57 {
  background: #000;
  box-shadow: inset 0 0 0 1px #fff4, 0 0 2px 1px #0008;
}
.theme-dark .upsellButtons_a786ca .lookFilled__950dd.colorWhite__0033e:not(:disabled):hover,
.theme-dark .heroButtons-357iJy .lookInverted_a299dc:not(:disabled):hover,
.theme-dark .lookInverted_a299dc.colorBrand__27d57:not(:disabled):hover {
  background: #111;
}
.theme-dark .upsellButtons_a786ca .lookFilled__950dd.colorWhite__0033e:active,
.theme-dark .heroButtons-357iJy .lookInverted_a299dc:not(:disabled):active,
.theme-dark .lookInverted_a299dc.colorBrand__27d57:not(:disabled):active {
  background: #0a0a0a;
}
.theme-dark .lookFilled__950dd.colorBrand__27d57,
.theme-dark .lookFilled__950dd.colorBrandNew__8872c {
  background: #5865F244;
  border: solid 1px var(--brand-experiment);
}
.theme-dark .lookFilled__950dd.colorBrand__27d57:hover,
.theme-dark .lookOutlined__014b5.colorBrand__27d57:hover,
.theme-dark .lookFilled__950dd.colorBrandNew__8872c:hover {
  background: #5865F266;
}
.theme-dark .lookFilled__950dd.colorBrand__27d57:active,
.theme-dark .lookOutlined__014b5.colorBrand__27d57:active,
.theme-dark .lookFilled__950dd.colorBrandNew__8872c:active {
  background: #5865F222;
}
.theme-dark .lookFilled__950dd.colorRed__5a617 {
  background: #370c0c;
  border: solid 1px #D83C3E;
}
.theme-dark .lookFilled__950dd.colorRed__5a617:hover,
.theme-dark .lookOutlined__014b5.colorRed__5a617:hover {
  background: #7a1e1f;
}
.theme-dark .lookFilled__950dd.colorRed__5a617:active,
.theme-dark .lookOutlined__014b5.colorRed__5a617:active {
  background: #160404;
}
.theme-dark .lookFilled__950dd.colorPrimary_ebe632 {
  background: #23262a;
  border: solid 1px #4F545C;
}
.theme-dark .lookFilled__950dd.colorPrimary_ebe632:hover {
  background: #33373d
}
.theme-dark .lookFilled__950dd.colorPrimary_ebe632:active {
  background: #1c1e21
}
.theme-dark .lookFilled__950dd.colorGreen__75c93, .theme-dark .lookFilled__950dd.colorBrand__27d57.buttonActive_ae686f {
  border: solid 1px #2D7D46;
  background: #13341e;
}
.theme-dark .lookFilled__950dd.colorGreen__75c93:hover, .theme-dark .lookFilled__950dd.colorBrand__27d57.buttonActive_ae686f:hover {
  background: #183f24;
}
.theme-dark .lookFilled__950dd.colorGreen__75c93:active, .theme-dark .lookFilled__950dd.colorBrand__27d57.buttonActive_ae686f:active {
  background: #0f2817;
}
.theme-dark .bottomDivider_c85b47, .theme-dark .paginator__28ba5,
.theme-dark .codeRedemptionRedirect_b3eca7 {
  background: #111;
}
.theme-dark .expandedInfo_efc786 {
  background: #181818;
}
.theme-dark .membershipDialog_a0308e {
  background: #111 !important;
}
.theme-dark .membershipDialog_a0308e:after {
  display: none;
}
.theme-dark .membershipDialog_a0308e * {
  color: #fff !important;
}
.buttonShine_fb742e {
  display: none;
}
.theme-dark .bar_edc096 {
  box-shadow: inset 0 0 0 2px #4a4e57;
}
.theme-dark .bar_edc096.mention_dd733a {
  background: #000;
  box-shadow: inset 0 0 0 2px var(--status-danger);
}
.theme-dark .role_d81130 {
  box-shadow: inset 0 0 0 1px #fff2;
}
.theme-dark .notches__5406c.black__32e02 {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg height='20' width='8' xmlns='http://www.w3.org/2000/svg' fill='black'%3E%3Cpath d='M0 0h8v20H0zm4 2a2 2 0 00-2 2v12a2 2 0 104 0V4a2 2 0 00-2-2z' fill-rule='evenodd'/%3E%3C/svg%3E")
}

.theme-dark .notches__5406c.gray__211f0 {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg height='20' width='8' xmlns='http://www.w3.org/2000/svg' fill='black'%3E%3Cpath d='M0 0h8v20H0zm4 2a2 2 0 00-2 2v12a2 2 0 104 0V4a2 2 0 00-2-2z' fill-rule='evenodd'/%3E%3C/svg%3E")
}
.theme-dark .flowerStarContainer__00f61 {
  --background-accent: #333;
}
.theme-dark .communityInfoPill__1efab {
  box-shadow: inset 0 0 0 1px #fff3;
}
.theme-dark .cardPrimary__1ee6a,
.theme-dark .cardPrimaryEditable__24ec2,
.theme-dark .cardPrimaryOutline_c457b8 {
  background: #000;
  border-color: #fff3;
}
.theme-dark .accountList-Wii_T5,
.theme-dark .connection__6dbd8 {
  background: #000;
  border: solid 1px #fff3;
}
.theme-dark .connectionHeader__2b82f {
  background: #080808;
  box-shadow: 0 1px #fff1;
}
.theme-dark .closeButton__8177f {
  border-color: #fff6;
}
.theme-dark .footer-3naVBw .input__2c88a {
  box-shadow: inset 0 0 0 1px #fff2;
}
.theme-dark .banner__79cec:before {
  content: "";
  display: block;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  background: #000;
  position: absolute;
  border-radius: 4px;
  top: 1px;
  left: 1px;
}
.theme-dark .banner__79cec .lookOutlined__014b5.colorWhite__0033e {
  background: #000;
  text-transform: none;
}
.theme-dark .headerImage-2D5D-v {
  opacity: .3;
}
.theme-dark .search-25t1e9 .searchBox-31Zv9h,
.theme-dark .searchBox__56feb {
  background: #111;
}
.theme-dark .search-25t1e9 .searchBox-31Zv9h .input-2g-os5 {
  color: white;
}
.theme-dark .categoryItem__0608f.selectedCategoryItem__3e361 .itemInner_eedb2b,
.theme-dark .item-3XjbnG .selectedBackground__4039b {
  background: var(--brand-experiment-800);
  box-shadow: inset 0 0 0 1px var(--brand-experiment);
}
.theme-dark .item-3XjbnG .selectedBackground__4039b {
  border-radius: 5px;
}
.theme-dark .colorPickerCustom-1swUKF {
  background: #181818;
}
.membershipDialogHouse1-R8jb0l {
  box-shadow: inset 0 0 0 1px hsl(253,calc(var(--saturation-factor, 1)*77%),72.7%)
}
.membershipDialogHouse2-2W27iJ {
  box-shadow: inset 0 0 0 1px hsl(9,calc(var(--saturation-factor, 1)*86.5%),68%)
}
.membershipDialogHouse3-1E5AN4 {
  box-shadow: inset 0 0 0 1px hsl(169,calc(var(--saturation-factor, 1)*69.1%),56.9%)
}
.tooltip__7b090.tooltipBlack__867ce,
.tooltip__7b090.tooltipPrimary__51b23 {
  box-shadow: inset 0 0 0 2px #333 !important;
}
.tooltip__7b090.tooltipBlack__867ce .tooltipPointer_f7411c,
.tooltip__7b090.tooltipPrimary__51b23 .tooltipPointer_f7411c {
  border-top-color: #333 !important;
}
.theme-dark .keyboardShortcutsModal__44538 {
  background: #111;
}
.bar__004d9 {
  background: #000;
  box-shadow: inset 0 0 0 2px #fff3;
}
.bar__004d9.mentionsBar__7d867 {
  background: #000;
  box-shadow: inset 0 0 0 2px #f04747;
}
.userPopoutInner_e90432:before {
  background: #111;
}
.profileBadges__1f2ab, .overlayBackground__2666e {
background: #000;
}
.userPopoutInner_e90432 .wrapper__3ed10 circle[fill="white"] {
fill: #111;
}
.theme-light {
--black: var(--black-500);
--channels-default: var(--primary-360);
--deprecated-card-bg: hsl(var(--primary-700-hsl)/0.6);
--deprecated-card-editable-bg: hsl(var(--primary-700-hsl)/0.3);
--header-primary: var(--primary-130);
--header-secondary: var(--primary-330);
--interactive-active: var(--white-500);
--interactive-hover: var(--primary-230);
--interactive-muted: var(--primary-500);
--interactive-normal: var(--primary-330);
--text-brand: var(--brand-360);
--text-danger: var(--red-345);
--text-link: var(--blue-345);
--text-link-low-saturation: var(--blue-330);
--text-muted: var(--primary-360);
--text-normal: var(--primary-230);
--text-positive: var(--green-330);
--text-warning: var(--yellow-300);
--profile-note-background-color: hsla(0,0%,0%,0.3) !important;
--profile-role-pill-background-color: hsla(228,6.67%,14.71%,0.5) !important;
--profile-role-pill-border-color: hsla(0,0%,100%,0.2) !important;
--modal-background: #111;
}
.header_b9d0dd {
background: #111;
}
.lookFilled__950dd.colorWhite__0033e {
background: #111;
border: solid 1px #333;
}
.lookOutlined__014b5.colorWhite__0033e {
border-color: #222;
}
.tierCard__292e9, .backgroundImages__3c5e4 {
background: #111;
box-shadow: inset 0 0 0 2px #222;
}
.card__67edb {
background: #000;
}
.lookFilled__950dd.colorBrand__27d57 {
background: #000;
box-shadow: inset 0 0 0 1px var(--brand-experiment);
}
.lookFilled__950dd.colorPrimary_ebe632 {
background: #000;
box-shadow: inset 0 0 0 1px var(--button-secondary-background);
}
.searchBar__621ec .searchBarComponent__8f95f {
box-shadow: inset 0 0 0 1px #222;
}
.downloadApps_f5dd09 {
background: #000 !important;
}
.footerSeparator__2af8d .button__581d0.lookBlank_a5b4ca.colorBrand__27d57 {
color: #fff;
}