.n_head .pr_hd_bar, .pr_hd_bar {
    height: 27px;
    border-radius: 0px !important;
    -webkit: border-radius: 0px !important;
    -moz: border-radius: 0px !important;
    border-radius: 0% 0% 0% 0% !important;
    background-image: url(https://i.imgur.com/FEOs9Cs.png);
    border: 1px solid #999;
    margin-top: 16px;
}
 
.pr_hd_bar form {
    position: absolute;
}
 
.pr_hd_bar>.yel_btn {
    position: absolute;
}
 
img#hd_vidlii {
    width: 112px;
    height: 42px;
}
 
#pr_hd li, .n_head li, #pr_sel li {
    background: url(https://i.imgur.com/FEOs9Cs.png) !important;
    padding: 11px 8px;
    border-radius: 0px;
    border-left: solid 1px white !important;
    border-right: solid 1px #999 !important;
    border-bottom: none !important;
    border-top: none !important;
    margin-left: -8px;
    width: auto;
    color: blue!important;
}
#pr_hd li:hover, .n_head li:hover, #pr_sel li:hover {
    background-image: url(https://i.imgur.com/Hnhp1je.png) !important;
}
#pr_hd li:active, .n_head li:active, #pr_sel li:active {
    background-image: url(https://i.imgur.com/9lONOCn.png) !important;
}
#pr_hd ul, .n_head ul {
    position: absolute;
    margin-top: 53px;
    margin-left: 9px;
    z-index: 90;
    width: 350px;
}
.pr_hd_bar form {
    margin-left: 400px;
}
 
.search_bar {
    border: solid 1px #999;
    border-radius: 0px;
    height: 27px;
    line-height: 5px;
}
 
.search_button {
    font-weight: bold;
    color: #039;
    border: 1px solid #A0B1DC;
    height: 27px;
    background: url(https://i.imgur.com/VDT5Nqc.png);
}
 
.pr_hd_bar>.yel_btn {
    margin-top: 2px;
}
.search_button:hover {
    text-decoration: underline;
    background: url(https://i.imgur.com/LlyMpbC.png);
}
.search_button:active {
    background: url(https://i.imgur.com/TJPdMEk.png)
}z
 
#rateYo, #ratings {
    position: absolute;
}
.w_views {
    margin-top: -30px;
    z-index: 2200;
}
.w_actions {
    margin-top: 30px;
    overflow: visible;
}
.w_lnks {
    margin-top: -12px;
}
#rateYo, #ratings {margin-top: -30px;}
 
.wt_c_sct {
    border-top: 1px solid #e4e4e4;
    border-radius: 0px !important;
}
.wt_c_sct>div:first-of-type {
    background: transparent !important;
}
.wt_c_sct .avt2 {display:none;}
.wt_c_sct>div:last-of-type {
    min-height: 20px;
}
 
.wt_c_sct div[style="background:#cfffc4"] {
    background: linear-gradient(#cfffc4, #ffffff) !important;
    border-radius: 0px !important;
}
.wt_c_sct div[style="background:#fffcc2"] {
    background: linear-gradient(#fffcc2, #ffffff) !important;
    border-radius: 0px !important;
}
.wt_c_sct div[style="background:#d2ebff"] {
    background: linear-gradient(#d2ebff, #ffffff) !important;
    border-radius: 0px !important;
}
 
.vc_cats {
    background: #EAEAEA;
}
 
.vc_cats>div:first-of-type {
    background: #CCC;
}
 
.vc_hd {
    background: #CCC;
}
 
li#vc_selec {
    background: url(https://i.imgur.com/qidQON7.png) #f5f5f5;
    border-radius: 0px;
}
 
footer {
    background: #eee;
    border-radius: 0px;
    border-bottom: solid 1px #cccccc;
}
 
 
footer>div>div {
    border-right: none;
}
.you_wnt, .you_wnt div {
  border-radius: 0px !important;;
}
#pr_hd li, .n_head li, #pr_sel li {
    margin-top: -3px;
}
 
li#vc_selec {
    background-color: white;
    background-repeat-y: no-repeat;
    background-size: 5px;
    border: solid 1px #9c9c9c;
    border-bottom: none;
    bottom: -4px;
    padding: 13px 16px;
}
.avt2 {
    border: double !important;
    border-radius: 0px;
}
 
.vc_cats {
    border: none;
}
 
#inbox_hd img, img[src="https://cdn.vidlii.com/img/amsg0.png"] {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: url(https://vidlii.com/img/msg0.png) no-repeat;
  width: 16px; /* Width of new image */
  height: 15px; /* Height of new image */
  padding-left: 26px; /* Equal to width of new image */
}
img[src="https://i.r.worldssl.net/img/amsg1.png"] {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: url(https://vidlii.com/img/msg1.png) no-repeat !important;
  width: 16px; /* Width of new image */
  height: 15px; /* Height of new image */
  padding-left: 26px; /* Equal to width of new image */
}
img[src="https://cdn.vidlii.com/img/amsg0.png"] {
  height: 20px; /* Height of new image */
}
img[src="https://cdn.vidlii.com/img/sme.png"], img[src="https://cdn.vidlii.com/img/lfr0.png"] {
  display: block !important;
  -moz-box-sizing: border-box !important;
  box-sizing: border-box !important;
  background: url(https://cdn.vidlii.com/img/fr0.png) no-repeat !important;
  width: 12px !important; /* Width of new image */
  height: 20px !important; /* Height of new image */
  padding-left: 20px !important; /* Equal to width of new image */
}
img[src="https://cdn.vidlii.com/img/acmt0.png"] {
  display: block !important;
  -moz-box-sizing: border-box !important;
  box-sizing: border-box !important;
  background: url(https://cdn.vidlii.com/img/cmt0.png) no-repeat !important;
  width: 14px !important; /* Width of new image */
  height: 20px !important; /* Height of new image */
  padding-left: 20px !important; /* Equal to width of new image */
}
img[src="https://cdn.vidlii.com/img/brsp0.png"], img[src="https://cdn.vidlii.com/img/bchn.png"] {
  display: block !important;
  -moz-box-sizing: border-box !important;
  box-sizing: border-box !important;
  background: url(https://cdn.vidlii.com/img/res0.png) no-repeat !important;
  width: 14px !important; /* Width of new image */
  height: 20px !important; /* Height of new image */
  padding-left: 20px !important; /* Equal to width of new image */
}
 
.settings_menu a {
  padding: 4px 9px;
}
.settings_menu>a:hover {
  background: transparent;
  border-color: transparent;
}
.in_sct {
    height: 20px;
}
.pr_hd1 .pr_hd_bar {
    border: solid 1px #999999;
}
.wt_des .avt2, .wt_des, .w_actions, .w_btm {
  border-radius: 0
}
