/* v0.8.1 */
.ytp-chrome-controls {
    background: linear-gradient(#E4E4E4 0%, #A9A9A9 75%);
    border-radius: 0 0 10px 10px;
    border-left: solid 1px #0002;
    border-right: solid 1px #0002;
    border-bottom: solid 1px #0004;
    height: 36px !important;
}
.ytp-exp-bigger-button-like-mobile .ytp-chrome-bottom, .ytp-embed-mobile-exp .ytp-chrome-bottom, .ytp-embed-mobile-exp.ytp-small-mode .ytp-chrome-bottom, .ytp-embed-mobile-exp .ytp-chrome-bottom .ytp-chrome-controls, .ytp-embed-mobile-exp.ytp-small-mode .ytp-chrome-bottom .ytp-chrome-controls {
    height: 36px !important;
}
.html5-video-player .ytp-chrome-controls .ytp-progress-bar-container,
.ytp-exp-bigger-button-like-mobile .ytp-progress-bar-container {
    bottom: 35px !important;
}
.ytp-chrome-controls .ytp-button:not(.ytp-live-badge) {
    width: 28px !important;
}
.ytp-chrome-controls .ytp-play-button,
.ytp-chrome-controls .ytp-next-button {
    background: linear-gradient(#FFFFFF, #747474);
    width: 34px !important;
    height: 30px;
    margin: auto 0;
}
.ytp-chrome-controls .ytp-play-button {
    border-radius: 5px 0 0 5px;
    border-right: solid 1px;
    border-image: linear-gradient(#838383,#A3A3A3) 1;
}
.ytp-chrome-controls .ytp-next-button {
    border-radius: 0 5px 5px 0;
    border-left: solid 1px;
    border-image: linear-gradient(#F4F4F4,#B8B8B8) 1;
}
.ytp-chrome-controls .ytp-button path,
.ytp-chrome-controls .ytp-button path {
    fill: #222
}
.ytp-chrome-controls .ytp-button:hover path,
.ytp-chrome-controls .ytp-button:active path {
    fill: #ff3333
}
.ytp-button .ytp-svg-shadow {
    display: none;
}
.ytp-chrome-controls .ytp-play-button:active,
.ytp-chrome-controls .ytp-next-button:active {
    background: linear-gradient(#747474, #FFF);
}
.ytp-chrome-controls .ytp-left-controls {
    margin-left: 5px;
}
.ytp-chrome-controls .ytp-time-display {
    background: linear-gradient(#4E4E4E, black 30%);
    height: 24px;
    margin: auto 0;
    margin-left: 8px;
    line-height: 24px;
    border-radius: 3px;
    color: #ccc;
    font-weight: bold;
}
.ytp-chrome-controls .ytp-time-display .ytp-time-duration {
    color: #FF3232;
}
.ytp-chrome-bottom .ytp-fullscreen-button {
    background: url(https://cdn.discordapp.com/attachments/859405015974412329/887551845357223936/unknown.png);
    background-size: 26px 28px;
    background-position: center;
    background-repeat: no-repeat;
    width: 28px;
    margin-right: 8px;
}
.ytp-chrome-bottom .ytp-fullscreen-button svg {
    visibility: hidden;
}
.ytp-chrome-bottom .ytp-size-button {
    background: url(https://cdn.discordapp.com/attachments/859405015974412329/887552070268354580/unknown.png);
    background-size: 26px 28px;
    background-position: center;
    background-repeat: no-repeat;
    width: 28px !important;
}
.ytp-chrome-bottom .ytp-size-button svg {
    visibility: hidden;
}
.ytp-chrome-bottom .ytp-miniplayer-button {
    background: url(https://cdn.discordapp.com/attachments/859405015974412329/887552207128526858/unknown.png);
    background-size: 26px 28px;
    background-position: center;
    background-repeat: no-repeat;
    width: 28px !important;
}
.ytp-chrome-bottom .ytp-miniplayer-button svg {
    visibility: hidden;
}
.ytp-chrome-bottom .ytp-settings-button {
    background: url(https://cdn.discordapp.com/attachments/859405015974412329/887552360501628938/unknown.png);
    background-size: 26px 28px;
    background-position: center;
    background-repeat: no-repeat;
    width: 28px !important;
}
.ytp-chrome-bottom .ytp-settings-button svg {
    visibility: hidden;
}
.ytp-chrome-bottom .ytp-subtitles-button {
    background: url(https://cdn.discordapp.com/attachments/859405015974412329/887552465321472000/unknown.png);
    background-size: 26px 28px;
    background-position: center;
    background-repeat: no-repeat;
    width: 28px;
}
.ytp-chrome-bottom .ytp-subtitles-button svg {
    visibility: hidden;
}
.ytp-chrome-bottom .ytp-subtitles-button {
    background: url(https://cdn.discordapp.com/attachments/859405015974412329/887552465321472000/unknown.png);
    background-size: 26px 28px;
    background-position: center;
    background-repeat: no-repeat;
    width: 28px;
}
.ytp-chrome-bottom .ytp-subtitles-button svg {
    visibility: hidden;
}
.ytp-chrome-bottom .ytp-play-button svg {
    background: url(https://cdn.discordapp.com/attachments/859405015974412329/887553804264964136/unknown.png);
    background-size: 26px 28px;
    background-position: center+2px;
    background-repeat: no-repeat;
}
.ytp-chrome-bottom .ytp-play-button svg path {
    visibility: hidden;
}
.ytp-chrome-bottom .ytp-play-button:hover svg,
.ytp-chrome-bottom .ytp-play-button:active svg {
    background-image: url(https://cdn.discordapp.com/attachments/859405015974412329/887553815107211335/unknown.png);
}
.ytp-chrome-bottom .ytp-play-button[aria-label*="Pause"] svg {
    background-image: url(https://cdn.discordapp.com/attachments/859405015974412329/887553000594362378/unknown.png);
}
.ytp-chrome-bottom .ytp-play-button[aria-label*="Pause"]:hover svg,
.ytp-chrome-bottom .ytp-play-button[aria-label*="Pause"]:active svg {
    background-image: url(https://cdn.discordapp.com/attachments/859405015974412329/887553578418442270/unknown.png);
}
.ytp-chrome-bottom .ytp-mute-button {
    background: url(https://cdn.discordapp.com/attachments/859405015974412329/887554380579110953/unknown.png);
    background-size: 26px 28px;
    margin-left: 8px;
    background-position: center;
    background-repeat: no-repeat;
    width: 28px;
}
.ytp-chrome-bottom .ytp-mute-button svg {
    visibility: hidden;
}
.ytp-chrome-bottom .ytp-volume-slider {
    height: 36px;
    margin-top: -2px;
}
.ytp-chrome-bottom .ytp-volume-slider-handle:before,
.ytp-chrome-bottom .ytp-volume-slider-handle:after {
    background: linear-gradient(180deg, #585858 16.67%, #393939 33.85%, #5D5D5D 87.5%);
}
.ytp-chrome-bottom .ytp-volume-slider-handle {
    background: url(https://cdn.discordapp.com/attachments/859405015974412329/887555536457957386/unknown.png);
    background-size: 7px 17px;
    width: 8px;
    height: 17px;
    border-radius: 3px;
}
.ytp-chrome-bottom .ytp-volume-slider-handle:before {
    left: -64px;
}
.ytp-chrome-bottom .ytp-volume-slider-handle:after {
    left: 8px;
}
.ytp-chrome-bottom .ytp-volume-panel.ytp-volume-control-hover,
.ytp-chrome-bottom .ytp-volume-panel:focus {
    width: 48px;
}
.ytp-chrome-bottom .ytp-next-button {
    width: 28px !important;
}
.ytp-chrome-bottom .ytp-next-button svg {
    background: url(https://cdn.discordapp.com/attachments/859405015974412329/887552917341634610/unknown.png);
    background-size: 26px 28px;
    background-position: center+2px;
    background-repeat: no-repeat;
    width: 28px;
}
.ytp-chrome-bottom .ytp-next-button svg path {
    visibility: hidden;
}
.ytp-chrome-bottom .ytp-next-button:hover svg,
.ytp-chrome-bottom .ytp-next-button:active svg {
    background-image: url(https://cdn.discordapp.com/attachments/859405015974412329/887553587000004658/unknown.png);
}
.ytp-chrome-bottom .ytp-chapter-container {
    color: #222;
    margin-left: 8px;
}
.ytp-chrome-bottom .ytp-chapter-title-prefix {
    display: none;
}
.ytp-chrome-bottom .ytp-chapter-title.ytp-button {
    width: 100% !important;
}
.ytp-chrome-bottom [data-tooltip-target-id="ytp-autonav-toggle-button"] {
    width: 36px !important;
}
