#upload-info [href="/channel/UCa_UMppcMsHIzb5LDx1u9zQ"] {width:173px;height:32px;background-size:contain;font-size:0; /* TheFatRat */
    background-image: url(https://cdn.discordapp.com/attachments/760407935191875584/760413877766193182/unknown.png) !important
}
#upload-info [href="/channel/UCV6mNrW8CrmWtcxWfQXy11g"] {width:173px;height:32px;background-size:contain;font-size:0; /* DarkViperAU */
    background-image: url(https://cdn.discordapp.com/attachments/581117911117070336/595265752408522786/unknown.png) !important
}
#upload-info [href="/channel/UCPcFg7aBbaVzXoIKSNqwaww"] {width:173px;height:32px;background-size:contain;font-size:0; /* Jacksfilms */
    background-image: url(https://cdn.discordapp.com/attachments/581117911117070336/595268715193434136/unknown.png) !important
}
#upload-info [href="/channel/UCK376qNDlNZZDNHsnaWuTeg"] {width:173px;height:32px;background-size:contain;font-size:0; /* AntVenom */
    background-image: url(https://cdn.discordapp.com/attachments/581117911117070336/595269607091077120/unknown.png) !important
}
#upload-info [href="/channel/UCX6OQ3DkcsbYNE6H8uQQuVA"] {width:173px;height:32px;background-size:contain;font-size:0; /* MrBeast */
    background-image: url(https://cdn.discordapp.com/attachments/581117911117070336/595280943397208069/unknown.png) !important
}
#upload-info [href="/channel/UCoKYYUrm0En0U2wAIkxSh5A"] {width:173px;height:32px;background-size:contain;font-size:0; /* whatever57010 */
    background-image: url(https://cdn.discordapp.com/attachments/581117911117070336/595281790315397120/unknown.png) !important
}
#upload-info [href="/channel/UC9ecwl3FTG66jIKA9JRDtmg"] {width:173px;height:32px;background-size:contain;font-size:0; /* SiIvaGunner */
    background-image: url(https://cdn.discordapp.com/attachments/581117911117070336/595282685711351874/unknown.png) !important
}
#upload-info [href="/channel/UCeeFfhMcJa1kjtfZAGskOCA"] {width:173px;height:32px;background-size:contain;font-size:0; /* TechLinked */
    background-image: url(https://cdn.discordapp.com/attachments/581117911117070336/595283805800235027/unknown.png) !important
}
#upload-info [href="/channel/UC0A_Jk_KqFcwnEBtyNqolsA"] {width:173px;height:32px;background-size:contain;font-size:0; /* TyranitarTube */
    background-image: url(https://cdn.discordapp.com/attachments/581117911117070336/595290209474838539/unknown.png) !important
}
#upload-info [href="/channel/UCJrOtniJ0-NWz37R30urifQ"] {width:173px;height:32px;background-size:contain;font-size:0; /* Alan Walker */
    background-image: url(https://cdn.discordapp.com/attachments/581117911117070336/595290764649693198/unknown.png) !important
}
#upload-info [href="/channel/UC2sZyDm1FqBWrWiCiAuI2Ug"] {width:173px;height:32px;background-size:contain;font-size:0; /* Timotainment */
    background-image: url(https://cdn.discordapp.com/attachments/581117911117070336/595333417059483669/unknown.png) !important
}
#upload-info [href="/channel/UCTH6s1SMIQicvyd8OLBYMtQ"] {width:173px;height:32px;background-size:contain;font-size:0; /* 4096 */
    background-image: url(https://cdn.discordapp.com/attachments/581117911117070336/595337777562779668/unknown.png) !important
}
#upload-info [href="/channel/UC7Ucs42FZy3uYzjrqzOIHsw"] {width:173px;height:32px;background-size:contain;font-size:0; /* EmpLemon */
    background-image: url(https://cdn.discordapp.com/attachments/581117911117070336/595346537853223194/unknown.png) !important
}
#upload-info [href="/channel/UC_8NknAFiyhOUaZqHR3lq3Q"] {width:173px;height:32px;background-size:contain;font-size:0; /* Quackity */
    background-image: url(https://cdn.discordapp.com/attachments/581117911117070336/595353761904590858/unknown.png) !important
}
#upload-info [href="/channel/UCQMjMW-9PhWoH6TWwmnVWvA"] {width:173px;height:32px;background-size:contain;font-size:0; /* CallMeCarson */
    background-image: url(https://cdn.discordapp.com/attachments/581117911117070336/595354489423265916/unknown.png) !important
}
#upload-info [href="/channel/UCdHIPSWf3kkwNg9y_puaChA"] {width:173px;height:32px;background-size:contain;font-size:0; /* CHM Tech */
    background-image: url(https://cdn.discordapp.com/attachments/581117911117070336/595354878155554854/unknown.png) !important
}
#upload-info [href="/channel/UCFctpiB_Hnlk3ejWfHqSm6Q"] {width:173px;height:32px;background-size:contain;font-size:0; /* The Official Pokemon YouTube Channel */
    background-image: url(https://cdn.discordapp.com/attachments/581117911117070336/595503465296560139/unknown.png) !important
}
#upload-info [href="/channel/UCRcgy6GzDeccI7dkbbBna3Q"] {width:173px;height:32px;background-size:contain;font-size:0; /* Lemmino */
    background-image: url(https://cdn.discordapp.com/attachments/581117911117070336/595504479575736350/unknown.png) !important
}
#upload-info [href="/channel/UCHdG_oIfad4eeF_CZyN24Ig"] {width:173px;height:32px;background-size:contain;font-size:0; /* Anoyth */
    background-image: url(https://cdn.discordapp.com/attachments/581117911117070336/595505040890920973/unknown.png) !important
}
#upload-info [href="/channel/UC1IQIspOkCeV3WnYm32SBFQ"] {width:173px;height:32px;background-size:contain;font-size:0; /* This Is */
    background-image: url(https://cdn.discordapp.com/attachments/581117911117070336/595506682822524938/unknown.png) !important
}
#upload-info [href="/channel/UCL5RKbiAPqSC_mUIjCpx3xg"] {width:173px;height:32px;background-size:contain;font-size:0; /* ValveNewsNetwork */
    background-image: url(https://cdn.discordapp.com/attachments/581117911117070336/595561621942829067/unknown.png) !important
}
#upload-info [href="/channel/UCRC6cNamj9tYAO6h_RXd5xA"] {width:173px;height:32px;background-size:contain;font-size:0; /* RTGame */
    background-image: url(https://cdn.discordapp.com/attachments/581117911117070336/595563793128357908/unknown.png) !important
}
#upload-info [href="/channel/UCYQT13AtrJC0gsM1far_zJg"] {width:173px;height:32px;background-size:contain;font-size:0; /* FlyingKitty */
    background-image: url(https://cdn.discordapp.com/attachments/581117911117070336/595572268805914634/unknown.png) !important
}
#upload-info [href="/channel/UClq42foiSgl7sSpLupnugGA"] {width:173px;height:32px;background-size:contain;font-size:0; /* D!NG (Vsauce) */
    background-image: url(https://cdn.discordapp.com/attachments/581117911117070336/595572764103147520/unknown.png) !important
}
#upload-info [href="/channel/UCKKKbeAhjKYJfOy5Opg8lcQ"] {width:173px;height:32px;background-size:contain;font-size:0; /* Zame */
    background-image: url(https://cdn.discordapp.com/attachments/581117911117070336/595581893135564801/unknown.png) !important
}
#upload-info [href="/channel/UCBR8-60-B28hp2BmDPdntcQ"] {width:173px;height:32px;background-size:contain;font-size:0; /* YouTube */
    background-image: url(https://cdn.discordapp.com/attachments/581117911117070336/595595501483589653/unknown.png) !important
}
#upload-info [href="/channel/UCK8sQmJBp8GCxrOtXWBpyEA"] {width:173px;height:32px;background-size:contain;font-size:0; /* Google */
    background-image: url(https://cdn.discordapp.com/attachments/581117911117070336/595596886560473094/unknown.png) !important
}
#upload-info [href="/channel/UCY4czRuQ_h0zH1vFHhUsrNQ"] {width:173px;height:32px;background-size:contain;font-size:0; /* Luigi2012SM64 */
    background-image: url(https://cdn.discordapp.com/attachments/581117911117070336/595666075509588212/unknown.png) !important
}
#upload-info [href="/channel/UC9SVhrnsGxWwiBRWT9c7Ozw"] {width:173px;height:32px;background-size:contain;font-size:0; /* RoomieOfficial */
    background-image: url(https://cdn.discordapp.com/attachments/581117911117070336/596070493325623306/unknown.png) !important
}
#upload-info [href="/channel/UCmcQsgVjq5suoCfi_dZXhUg"] {width:173px;height:32px;background-size:contain;font-size:0; /* 11pixels */
    background-image: url(https://cdn.discordapp.com/attachments/760407935191875584/760408248548982804/unknown.png) !important
}
#upload-info [href="/channel/UC4rqhyiTs7XyuODcECvuiiQ"] {width:173px;height:32px;background-size:contain;font-size:0; /* Scott The Woz */
    background-image: url(https://cdn.discordapp.com/attachments/760407935191875584/760415068545613874/unknown.png) !important
}
#upload-info [href="/channel/UCdBK94H6oZT2Q7l0-b0xmMg"] {width:173px;height:32px;background-size:contain;font-size:0; /* ShortCircuit */
    background-image: url(https://cdn.discordapp.com/attachments/760407935191875584/760415662002274345/unknown.png) !important
}
#upload-info [href="/channel/UCXuqSBlHAE6Xw-yeJA0Tunw"] {width:173px;height:32px;background-size:contain;font-size:0; /* LinusTechTips */
    background-image: url(https://cdn.discordapp.com/attachments/760407935191875584/760416224894779442/unknown.png) !important
}
