#upload-info a.yt-simple-endpoint {
    display: block;
    width: 173px;
    padding:8px 0;
    text-align: center;
    vertical-align: middle;
    background: #111;
    background-size: cover;
    border-radius: 1px;
}
#upload-info #owner-sub-count.ytd-video-owner-renderer {
    text-align: right;
    margin-top:-23px;
    margin-bottom:7px
}
#upload-info [href="/channel/UCa_UMppcMsHIzb5LDx1u9zQ"] {color:#0000; /* TheFatRat */
    background-image: url(https://cdn.discordapp.com/attachments/760407935191875584/760413877766193182/unknown.png) !important
}
#upload-info [href="/channel/UCV6mNrW8CrmWtcxWfQXy11g"] {color:#0000; /* DarkViperAU */
    background-image: url(https://cdn.discordapp.com/attachments/581117911117070336/595265752408522786/unknown.png) !important
}
#upload-info [href="/channel/UCPcFg7aBbaVzXoIKSNqwaww"] {color:#0000; /* Jacksfilms */
    background-image: url(https://cdn.discordapp.com/attachments/760407935191875584/760849487094087760/unknown.png) !important
}
#upload-info [href="/channel/UCK376qNDlNZZDNHsnaWuTeg"] {color:#0000; /* AntVenom */
    background-image: url(https://cdn.discordapp.com/attachments/581117911117070336/595269607091077120/unknown.png) !important
}
#upload-info [href="/channel/UCX6OQ3DkcsbYNE6H8uQQuVA"] {color:#0000; /* MrBeast */
    background-image: url(https://cdn.discordapp.com/attachments/581117911117070336/595280943397208069/unknown.png) !important
}
#upload-info [href="/channel/UCoKYYUrm0En0U2wAIkxSh5A"] {color:#0000; /* whatever57010 */
    background-image: url(https://cdn.discordapp.com/attachments/581117911117070336/595281790315397120/unknown.png) !important
}
#upload-info [href="/channel/UC9ecwl3FTG66jIKA9JRDtmg"] {color:#0000; /* SiIvaGunner */
    background-image: url(https://cdn.discordapp.com/attachments/581117911117070336/595282685711351874/unknown.png) !important
}
#upload-info [href="/channel/UCeeFfhMcJa1kjtfZAGskOCA"] {color:#0000; /* TechLinked */
    background-image: url(https://cdn.discordapp.com/attachments/581117911117070336/595283805800235027/unknown.png) !important
}
#upload-info [href="/channel/UC0A_Jk_KqFcwnEBtyNqolsA"] {color:#0000; /* TyranitarTube */
    background-image: url(https://cdn.discordapp.com/attachments/581117911117070336/595290209474838539/unknown.png) !important
}
#upload-info [href="/channel/UCJrOtniJ0-NWz37R30urifQ"] {color:#0000; /* Alan Walker */
    background-image: url(https://cdn.discordapp.com/attachments/581117911117070336/595290764649693198/unknown.png) !important
}
#upload-info [href="/channel/UC2sZyDm1FqBWrWiCiAuI2Ug"] {color:#0000; /* Timotainment */
    background-image: url(https://cdn.discordapp.com/attachments/581117911117070336/595333417059483669/unknown.png) !important
}
#upload-info [href="/channel/UCTH6s1SMIQicvyd8OLBYMtQ"] {color:#0000; /* 4096 */
    background-image: url(https://cdn.discordapp.com/attachments/581117911117070336/595337777562779668/unknown.png) !important
}
#upload-info [href="/channel/UC7Ucs42FZy3uYzjrqzOIHsw"] {color:#0000; /* EmpLemon */
    background-image: url(https://cdn.discordapp.com/attachments/581117911117070336/595346537853223194/unknown.png) !important
}
#upload-info [href="/channel/UC_8NknAFiyhOUaZqHR3lq3Q"] {color:#0000; /* Quackity */
    background-image: url(https://cdn.discordapp.com/attachments/581117911117070336/595353761904590858/unknown.png) !important
}
#upload-info [href="/channel/UCQMjMW-9PhWoH6TWwmnVWvA"] {color:#0000; /* CallMeCarson */
    background-image: url(https://cdn.discordapp.com/attachments/581117911117070336/595354489423265916/unknown.png) !important
}
#upload-info [href="/channel/UCdHIPSWf3kkwNg9y_puaChA"] {color:#0000; /* CHM Tech */
    background-image: url(https://cdn.discordapp.com/attachments/581117911117070336/595354878155554854/unknown.png) !important
}
#upload-info [href="/channel/UCFctpiB_Hnlk3ejWfHqSm6Q"] {color:#0000; /* The Official Pokemon YouTube Channel */
    background-image: url(https://cdn.discordapp.com/attachments/581117911117070336/595503465296560139/unknown.png) !important
}
#upload-info [href="/channel/UCRcgy6GzDeccI7dkbbBna3Q"] {color:#0000; /* Lemmino */
    background-image: url(https://cdn.discordapp.com/attachments/581117911117070336/595504479575736350/unknown.png) !important
}
#upload-info [href="/channel/UCHdG_oIfad4eeF_CZyN24Ig"] {color:#0000; /* Anoyth */
    background-image: url(https://cdn.discordapp.com/attachments/581117911117070336/595505040890920973/unknown.png) !important
}
#upload-info [href="/channel/UC1IQIspOkCeV3WnYm32SBFQ"] {color:#0000; /* This Is */
    background-image: url(https://cdn.discordapp.com/attachments/581117911117070336/595506682822524938/unknown.png) !important
}
#upload-info [href="/channel/UCL5RKbiAPqSC_mUIjCpx3xg"] {color:#0000; /* ValveNewsNetwork */
    background-image: url(https://cdn.discordapp.com/attachments/581117911117070336/595561621942829067/unknown.png) !important
}
#upload-info [href="/channel/UCRC6cNamj9tYAO6h_RXd5xA"] {color:#0000; /* RTGame */
    background-image: url(https://cdn.discordapp.com/attachments/581117911117070336/595563793128357908/unknown.png) !important
}
#upload-info [href="/channel/UCYQT13AtrJC0gsM1far_zJg"] {color:#0000; /* FlyingKitty */
    background-image: url(https://cdn.discordapp.com/attachments/581117911117070336/595572268805914634/unknown.png) !important
}
#upload-info [href="/channel/UClq42foiSgl7sSpLupnugGA"] {color:#0000; /* D!NG (Vsauce) */
    background-image: url(https://cdn.discordapp.com/attachments/581117911117070336/595572764103147520/unknown.png) !important
}
#upload-info [href="/channel/UCKKKbeAhjKYJfOy5Opg8lcQ"] {color:#0000; /* Zame */
    background-image: url(https://cdn.discordapp.com/attachments/581117911117070336/595581893135564801/unknown.png) !important
}
#upload-info [href="/channel/UCBR8-60-B28hp2BmDPdntcQ"] {color:#0000; /* YouTube */
    background-image: url(https://cdn.discordapp.com/attachments/581117911117070336/595595501483589653/unknown.png) !important
}
#upload-info [href="/channel/UCK8sQmJBp8GCxrOtXWBpyEA"] {color:#0000; /* Google */
    background-image: url(https://cdn.discordapp.com/attachments/581117911117070336/595596886560473094/unknown.png) !important
}
#upload-info [href="/channel/UCY4czRuQ_h0zH1vFHhUsrNQ"] {color:#0000; /* Luigi2012SM64 */
    background-image: url(https://cdn.discordapp.com/attachments/581117911117070336/595666075509588212/unknown.png) !important
}
#upload-info [href="/channel/UC9SVhrnsGxWwiBRWT9c7Ozw"] {color:#0000; /* RoomieOfficial */
    background-image: url(https://cdn.discordapp.com/attachments/581117911117070336/596070493325623306/unknown.png) !important
}
#upload-info [href="/channel/UCmcQsgVjq5suoCfi_dZXhUg"] {color:#0000; /* 11pixels */
    background-image: url(https://cdn.discordapp.com/attachments/760407935191875584/760408248548982804/unknown.png) !important
}
#upload-info [href="/channel/UC4rqhyiTs7XyuODcECvuiiQ"] {color:#0000; /* Scott The Woz */
    background-image: url(https://cdn.discordapp.com/attachments/760407935191875584/760415068545613874/unknown.png) !important
}
#upload-info [href="/channel/UCdBK94H6oZT2Q7l0-b0xmMg"] {color:#0000; /* ShortCircuit */
    background-image: url(https://cdn.discordapp.com/attachments/760407935191875584/760415662002274345/unknown.png) !important
}
#upload-info [href="/channel/UCXuqSBlHAE6Xw-yeJA0Tunw"] {color:#0000; /* LinusTechTips */
    background-image: url(https://cdn.discordapp.com/attachments/760407935191875584/760416224894779442/unknown.png) !important
}
#upload-info [href="/channel/UCJ6KZTTnkE-s2XFJJmoTAkw"] {color:#0000; /* Accursed Farms */
    background-image: url(https://cdn.discordapp.com/attachments/760407935191875584/760521561550749706/unknown.png) !important
}
#upload-info [href="/channel/UC0fDG3byEcMtbOqPMymDNbw"] {color:#0000; /* noclip */
    background-image: url(https://cdn.discordapp.com/attachments/760407935191875584/760522217817243698/unknown.png) !important
}
#upload-info [href="/channel/UCsXVk37bltHxD1rDPwtNM8Q"] {color:#0000; /* Kurzgesagt */
    background-image: url(https://cdn.discordapp.com/attachments/760407935191875584/760847511261937674/unknown.png) !important
}
#upload-info [href="/channel/UC4PooiX37Pld1T8J5SYT-SQ"] {color:#0000; /* Good Mythical Morning */
    background-image: url(https://cdn.discordapp.com/attachments/760407935191875584/760848972650381343/unknown.png) !important
}
#upload-info [href="/channel/UClY084mbGLK_SLlOfgizjow"] {color:#0000; /* SalC1 */
    background-image: url(https://cdn.discordapp.com/attachments/760407935191875584/760851637773926420/unknown.png) !important
}
#upload-info [href="/channel/UCXGgrKt94gR6lmN4aN3mYTg"] {color:#0000; /* Austin Evans */
    background-image: url(https://cdn.discordapp.com/attachments/760407935191875584/760852205313064970/unknown.png) !important
}
#upload-info [href="/channel/UCsTcErHg8oDvUnTzoqsYeNw"] {color:#0000; /* Unbox Therapy */
    background-image: url(https://cdn.discordapp.com/attachments/760407935191875584/760852738858024990/unknown.png) !important
}
#upload-info [href="/channel/UCHnyfMqiRRG1u-2MsSQLbXA"] {color:#0000; /* Veritasium */
    background-image: url(https://cdn.discordapp.com/attachments/760407935191875584/760996918465658880/unknown.png) !important
}
#upload-info [href="/channel/UC5WjFrtBdufl6CZojX3D8dQ"] {color:#0000; /* Tesla */
    background-image: url(https://cdn.discordapp.com/attachments/760407935191875584/761183341600571412/unknown.png) !important
}
#upload-info [href="/channel/UC0vBXGSyV14uvJ4hECDOl0Q"] {color:#0000; /* Techquickie */
    background-image: url(https://cdn.discordapp.com/attachments/760407935191875584/761184488301789184/unknown.png) !important
}
#upload-info [href="/channel/UC1XoTfl_ctHKoEbe64yUC_g"] {color:#0000; /* K-391 */
    background-image: url(https://cdn.discordapp.com/attachments/760407935191875584/761186080892125184/unknown.png) !important
}
#upload-info [href="/channel/UCFns-zjrt8RpTLC2_8PcTbw"] {color:#0000; /* Ahrix */
    background-image: url(https://cdn.discordapp.com/attachments/760407935191875584/761186571582963732/unknown.png) !important
}
#upload-info [href="/channel/UC_aEa8K-EOJ3D6gOs7HcyNg"] {color:#0000; /* NoCopyrightSounds */
    background-image: url(https://cdn.discordapp.com/attachments/760407935191875584/761187132533637150/unknown.png) !important
}
#upload-info [href="/channel/UCiJnBO_XuDsi1SSRAmt4n5g"] {color:#0000; /* NCS Arcade */
    background-image: url(https://cdn.discordapp.com/attachments/760407935191875584/761187588191027210/unknown.png) !important
}
#upload-info [href="/channel/UCqCTqVqw6zh8bCEGoEN7qXQ"] {color:#0000; /* NCS Lyrics */
    background-image: url(https://cdn.discordapp.com/attachments/760407935191875584/761187844147511306/unknown.png) !important
}
#upload-info [href="/channel/UCE1jXbVAGJQEORz9nZqb5bQ"] {color:#0000; /* Ahoy */
    background-image: url(https://cdn.discordapp.com/attachments/760407935191875584/761189145880035359/unknown.png) !important
}
#upload-info [href="/channel/UCp_pGFmKwwOrpKzLc0sWvKA"] {color:#0000; /* Ahoy 2 */
    background-image: url(https://cdn.discordapp.com/attachments/760407935191875584/761190359958290442/unknown.png) !important
}
#upload-info [href="/channel/UCV8yIaKoqa-r9SnXPMQ1Spg"] {color:#0000; /* DJVI */
    background-image: url(https://cdn.discordapp.com/attachments/760407935191875584/761190964454096906/unknown.png) !important
}
#upload-info [href="/channel/UCbu2SsF-Or3Rsn3NxqODImw"] {color:#0000; /* GameSpot */
    background-image: url(https://cdn.discordapp.com/attachments/760407935191875584/761254563118055434/unknown.png) !important
}
#upload-info [href="/channel/UCnNlJNSRxa3PF8XrKHOEPug"] {color:#0000; /* The Hoax Hotel */
    background-image: url(https://cdn.discordapp.com/attachments/760407935191875584/761256123230584902/unknown.png) !important
}
#upload-info [href="/channel/UCm22FAXZMw1BaWeFszZxUKw"] {color:#0000; /* Kitboga */
    background-image: url(https://cdn.discordapp.com/attachments/760407935191875584/761259704999215214/unknown.png) !important
}
#upload-info [href="/channel/UCUJXm3LMFLSEe_A2IBf8GwQ"] {color:#0000; /* Harry101UK */
    background-image: url(https://cdn.discordapp.com/attachments/760407935191875584/761269832343093288/unknown.png) !important
}
#upload-info [href="/channel/UCmu9PVIZBk-ZCi-Sk2F2utA"] {color:#0000; /* 3kliksphilip */
    background-image: url(https://cdn.discordapp.com/attachments/760407935191875584/761270738245255199/unknown.png) !important
}
#upload-info [href="/channel/UCEKJKJ3FO-9SFv5x5BzyxhQ"] {color:#0000; /* 2kliksphilip */
    background-image: url(https://cdn.discordapp.com/attachments/760407935191875584/761271175355039814/unknown.png) !important
}
#upload-info [href="/channel/UC0a8nteER_pU4Aj6hmEyJAQ"] {color:#0000; /* kliksphilip */
    background-image: url(https://cdn.discordapp.com/attachments/760407935191875584/761271206254215198/unknown.png) !important
}
#upload-info [href="/channel/UC3_kehZbfRz-KrjXIqeIiPw"] {color:#0000; /* Leadhead */
    background-image: url(https://cdn.discordapp.com/attachments/760407935191875584/761272155144585246/unknown.png) !important
}
#upload-info [href="/channel/UCYxugpxUj8s9lCGTEI-qREA"] {color:#0000; /* KryptoDigital */
    background-image: url(https://cdn.discordapp.com/attachments/760407935191875584/762541848576393226/yt_banner_name.png) !important
}
