@import url(https://xyzenix.github.io/XYZenixThemes/YTCosmicPanda.css);

#watch-header .yt-user-info a[href="/channel/UCa_UMppcMsHIzb5LDx1u9zQ"] { /* TheFatRat */
    border: none!important;width: 173px!important;padding: 0!important;border-radius: 0!important;height: 32px!important;font-size: 0!important;background-color: none!important;box-shadow: none!important;background-size: contain!important;
    background-image: url(https://cdn.discordapp.com/attachments/760407935191875584/760413877766193182/unknown.png) !important;
}
#watch-header .yt-user-info a[href="/channel/UCV6mNrW8CrmWtcxWfQXy11g"] { /* DarkViperAU */
    border: none!important;width: 173px!important;padding: 0!important;border-radius: 0!important;height: 32px!important;font-size: 0!important;background-color: none!important;box-shadow: none!important;background-size: contain!important;
    background-image: url(https://cdn.discordapp.com/attachments/581117911117070336/595265752408522786/unknown.png) !important;
}
#watch-header .yt-user-info a[href="/channel/UCPcFg7aBbaVzXoIKSNqwaww"] { /* Jacksfilms */
    border: none!important;width: 173px!important;padding: 0!important;border-radius: 0!important;height: 32px!important;font-size: 0!important;background-color: none!important;box-shadow: none!important;background-size: contain!important;
    background-image: url(https://cdn.discordapp.com/attachments/760407935191875584/760849487094087760/unknown.png) !important;
}
#watch-header .yt-user-info a[href="/channel/UCK376qNDlNZZDNHsnaWuTeg"] { /* AntVenom */
    border: none!important;width: 173px!important;padding: 0!important;border-radius: 0!important;height: 32px!important;font-size: 0!important;background-color: none!important;box-shadow: none!important;background-size: contain!important;
    background-image: url(https://cdn.discordapp.com/attachments/581117911117070336/595269607091077120/unknown.png) !important;
}
#watch-header .yt-user-info a[href="/channel/UCX6OQ3DkcsbYNE6H8uQQuVA"] { /* MrBeast */
    border: none!important;width: 173px!important;padding: 0!important;border-radius: 0!important;height: 32px!important;font-size: 0!important;background-color: none!important;box-shadow: none!important;background-size: contain!important;
    background-image: url(https://cdn.discordapp.com/attachments/581117911117070336/595280943397208069/unknown.png) !important;
}
#watch-header .yt-user-info a[href="/channel/UCoKYYUrm0En0U2wAIkxSh5A"] { /* whatever57010 */
    border: none!important;width: 173px!important;padding: 0!important;border-radius: 0!important;height: 32px!important;font-size: 0!important;background-color: none!important;box-shadow: none!important;background-size: contain!important;
    background-image: url(https://cdn.discordapp.com/attachments/581117911117070336/595281790315397120/unknown.png) !important;
}
#watch-header .yt-user-info a[href="/channel/UC9ecwl3FTG66jIKA9JRDtmg"] { /* SiIvaGunner */
    border: none!important;width: 173px!important;padding: 0!important;border-radius: 0!important;height: 32px!important;font-size: 0!important;background-color: none!important;box-shadow: none!important;background-size: contain!important;
    background-image: url(https://cdn.discordapp.com/attachments/581117911117070336/595282685711351874/unknown.png) !important;
}
#watch-header .yt-user-info a[href="/channel/UCeeFfhMcJa1kjtfZAGskOCA"] { /* TechLinked */
    border: none!important;width: 173px!important;padding: 0!important;border-radius: 0!important;height: 32px!important;font-size: 0!important;background-color: none!important;box-shadow: none!important;background-size: contain!important;
    background-image: url(https://cdn.discordapp.com/attachments/581117911117070336/595283805800235027/unknown.png) !important;
}
#watch-header .yt-user-info a[href="/channel/UC0A_Jk_KqFcwnEBtyNqolsA"] { /* TyranitarTube */
    border: none!important;width: 173px!important;padding: 0!important;border-radius: 0!important;height: 32px!important;font-size: 0!important;background-color: none!important;box-shadow: none!important;background-size: contain!important;
    background-image: url(https://cdn.discordapp.com/attachments/581117911117070336/595290209474838539/unknown.png) !important;
}
#watch-header .yt-user-info a[href="/channel/UCJrOtniJ0-NWz37R30urifQ"] { /* Alan Walker */
    border: none!important;width: 173px!important;padding: 0!important;border-radius: 0!important;height: 32px!important;font-size: 0!important;background-color: none!important;box-shadow: none!important;background-size: contain!important;
    background-image: url(https://cdn.discordapp.com/attachments/581117911117070336/595290764649693198/unknown.png) !important;
}
#watch-header .yt-user-info a[href="/channel/UC2sZyDm1FqBWrWiCiAuI2Ug"] { /* Timotainment */
    border: none!important;width: 173px!important;padding: 0!important;border-radius: 0!important;height: 32px!important;font-size: 0!important;background-color: none!important;box-shadow: none!important;background-size: contain!important;
    background-image: url(https://cdn.discordapp.com/attachments/581117911117070336/595333417059483669/unknown.png) !important;
}
#watch-header .yt-user-info a[href="/channel/UCTH6s1SMIQicvyd8OLBYMtQ"] { /* 4096 */
    border: none!important;width: 173px!important;padding: 0!important;border-radius: 0!important;height: 32px!important;font-size: 0!important;background-color: none!important;box-shadow: none!important;background-size: contain!important;
    background-image: url(https://cdn.discordapp.com/attachments/581117911117070336/595337777562779668/unknown.png) !important;
}
#watch-header .yt-user-info a[href="/channel/UC7Ucs42FZy3uYzjrqzOIHsw"] { /* EmpLemon */
    border: none!important;width: 173px!important;padding: 0!important;border-radius: 0!important;height: 32px!important;font-size: 0!important;background-color: none!important;box-shadow: none!important;background-size: contain!important;
    background-image: url(https://cdn.discordapp.com/attachments/581117911117070336/595346537853223194/unknown.png) !important;
}
#watch-header .yt-user-info a[href="/channel/UC_8NknAFiyhOUaZqHR3lq3Q"] { /* Quackity */
    border: none!important;width: 173px!important;padding: 0!important;border-radius: 0!important;height: 32px!important;font-size: 0!important;background-color: none!important;box-shadow: none!important;background-size: contain!important;
    background-image: url(https://cdn.discordapp.com/attachments/581117911117070336/595353761904590858/unknown.png) !important;
}
#watch-header .yt-user-info a[href="/channel/UCQMjMW-9PhWoH6TWwmnVWvA"] { /* CallMeCarson */
    border: none!important;width: 173px!important;padding: 0!important;border-radius: 0!important;height: 32px!important;font-size: 0!important;background-color: none!important;box-shadow: none!important;background-size: contain!important;
    background-image: url(https://cdn.discordapp.com/attachments/581117911117070336/595354489423265916/unknown.png) !important;
}
#watch-header .yt-user-info a[href="/channel/UCdHIPSWf3kkwNg9y_puaChA"] { /* CHM Tech */
    border: none!important;width: 173px!important;padding: 0!important;border-radius: 0!important;height: 32px!important;font-size: 0!important;background-color: none!important;box-shadow: none!important;background-size: contain!important;
    background-image: url(https://cdn.discordapp.com/attachments/581117911117070336/595354878155554854/unknown.png) !important;
}
#watch-header .yt-user-info a[href="/channel/UCFctpiB_Hnlk3ejWfHqSm6Q"] { /* The Official Pokemon YouTube Channel */
    border: none!important;width: 173px!important;padding: 0!important;border-radius: 0!important;height: 32px!important;font-size: 0!important;background-color: none!important;box-shadow: none!important;background-size: contain!important;
    background-image: url(https://cdn.discordapp.com/attachments/581117911117070336/595503465296560139/unknown.png) !important;
}
#watch-header .yt-user-info a[href="/channel/UCRcgy6GzDeccI7dkbbBna3Q"] { /* Lemmino */
    border: none!important;width: 173px!important;padding: 0!important;border-radius: 0!important;height: 32px!important;font-size: 0!important;background-color: none!important;box-shadow: none!important;background-size: contain!important;
    background-image: url(https://cdn.discordapp.com/attachments/581117911117070336/595504479575736350/unknown.png) !important;
}
#watch-header .yt-user-info a[href="/channel/UCHdG_oIfad4eeF_CZyN24Ig"] { /* Anoyth */
    border: none!important;width: 173px!important;padding: 0!important;border-radius: 0!important;height: 32px!important;font-size: 0!important;background-color: none!important;box-shadow: none!important;background-size: contain!important;
    background-image: url(https://cdn.discordapp.com/attachments/581117911117070336/595505040890920973/unknown.png) !important;
}
#watch-header .yt-user-info a[href="/channel/UC1IQIspOkCeV3WnYm32SBFQ"] { /* This Is */
    border: none!important;width: 173px!important;padding: 0!important;border-radius: 0!important;height: 32px!important;font-size: 0!important;background-color: none!important;box-shadow: none!important;background-size: contain!important;
    background-image: url(https://cdn.discordapp.com/attachments/581117911117070336/595506682822524938/unknown.png) !important;
}
#watch-header .yt-user-info a[href="/channel/UCL5RKbiAPqSC_mUIjCpx3xg"] { /* ValveNewsNetwork */
    border: none!important;width: 173px!important;padding: 0!important;border-radius: 0!important;height: 32px!important;font-size: 0!important;background-color: none!important;box-shadow: none!important;background-size: contain!important;
    background-image: url(https://cdn.discordapp.com/attachments/581117911117070336/595561621942829067/unknown.png) !important;
}
#watch-header .yt-user-info a[href="/channel/UCRC6cNamj9tYAO6h_RXd5xA"] { /* RTGame */
    border: none!important;width: 173px!important;padding: 0!important;border-radius: 0!important;height: 32px!important;font-size: 0!important;background-color: none!important;box-shadow: none!important;background-size: contain!important;
    background-image: url(https://cdn.discordapp.com/attachments/581117911117070336/595563793128357908/unknown.png) !important;
}
#watch-header .yt-user-info a[href="/channel/UCYQT13AtrJC0gsM1far_zJg"] { /* FlyingKitty */
    border: none!important;width: 173px!important;padding: 0!important;border-radius: 0!important;height: 32px!important;font-size: 0!important;background-color: none!important;box-shadow: none!important;background-size: contain!important;
    background-image: url(https://cdn.discordapp.com/attachments/581117911117070336/595572268805914634/unknown.png) !important;
}
#watch-header .yt-user-info a[href="/channel/UClq42foiSgl7sSpLupnugGA"] { /* D!NG (Vsauce) */
    border: none!important;width: 173px!important;padding: 0!important;border-radius: 0!important;height: 32px!important;font-size: 0!important;background-color: none!important;box-shadow: none!important;background-size: contain!important;
    background-image: url(https://cdn.discordapp.com/attachments/581117911117070336/595572764103147520/unknown.png) !important;
}
#watch-header .yt-user-info a[href="/channel/UCKKKbeAhjKYJfOy5Opg8lcQ"] { /* Zame */
    border: none!important;width: 173px!important;padding: 0!important;border-radius: 0!important;height: 32px!important;font-size: 0!important;background-color: none!important;box-shadow: none!important;background-size: contain!important;
    background-image: url(https://cdn.discordapp.com/attachments/581117911117070336/595581893135564801/unknown.png) !important;
}
#watch-header .yt-user-info a[href="/channel/UCBR8-60-B28hp2BmDPdntcQ"] { /* YouTube */
    border: none!important;width: 173px!important;padding: 0!important;border-radius: 0!important;height: 32px!important;font-size: 0!important;background-color: none!important;box-shadow: none!important;background-size: contain!important;
    background-image: url(https://cdn.discordapp.com/attachments/581117911117070336/595595501483589653/unknown.png) !important;
}
#watch-header .yt-user-info a[href="/channel/UCK8sQmJBp8GCxrOtXWBpyEA"] { /* Google */
    border: none!important;width: 173px!important;padding: 0!important;border-radius: 0!important;height: 32px!important;font-size: 0!important;background-color: none!important;box-shadow: none!important;background-size: contain!important;
    background-image: url(https://cdn.discordapp.com/attachments/581117911117070336/595596886560473094/unknown.png) !important;
}
#watch-header .yt-user-info a[href="/channel/UCY4czRuQ_h0zH1vFHhUsrNQ"] { /* Luigi2012SM64 */
    border: none!important;width: 173px!important;padding: 0!important;border-radius: 0!important;height: 32px!important;font-size: 0!important;background-color: none!important;box-shadow: none!important;background-size: contain!important;
    background-image: url(https://cdn.discordapp.com/attachments/581117911117070336/595666075509588212/unknown.png) !important;
}
#watch-header .yt-user-info a[href="/channel/UC9SVhrnsGxWwiBRWT9c7Ozw"] { /* RoomieOfficial */
    border: none!important;width: 173px!important;padding: 0!important;border-radius: 0!important;height: 32px!important;font-size: 0!important;background-color: none!important;box-shadow: none!important;background-size: contain!important;
    background-image: url(https://cdn.discordapp.com/attachments/581117911117070336/596070493325623306/unknown.png) !important;
}
#watch-header .yt-user-info a[href="/channel/UCmcQsgVjq5suoCfi_dZXhUg"] { /* 11pixels */
    border: none!important;width: 173px!important;padding: 0!important;border-radius: 0!important;height: 32px!important;font-size: 0!important;background-color: none!important;box-shadow: none!important;background-size: contain!important;
    background-image: url(https://cdn.discordapp.com/attachments/760407935191875584/760408248548982804/unknown.png) !important;
}
#watch-header .yt-user-info a[href="/channel/UC4rqhyiTs7XyuODcECvuiiQ"] { /* Scott The Woz */
    border: none!important;width: 173px!important;padding: 0!important;border-radius: 0!important;height: 32px!important;font-size: 0!important;background-color: none!important;box-shadow: none!important;background-size: contain!important;
    background-image: url(https://cdn.discordapp.com/attachments/760407935191875584/760415068545613874/unknown.png) !important;
}
#watch-header .yt-user-info a[href="/channel/UCdBK94H6oZT2Q7l0-b0xmMg"] { /* ShortCircuit */
    border: none!important;width: 173px!important;padding: 0!important;border-radius: 0!important;height: 32px!important;font-size: 0!important;background-color: none!important;box-shadow: none!important;background-size: contain!important;
    background-image: url(https://cdn.discordapp.com/attachments/760407935191875584/760415662002274345/unknown.png) !important;
}
#watch-header .yt-user-info a[href="/channel/UCXuqSBlHAE6Xw-yeJA0Tunw"] { /* LinusTechTips */
    border: none!important;width: 173px!important;padding: 0!important;border-radius: 0!important;height: 32px!important;font-size: 0!important;background-color: none!important;box-shadow: none!important;background-size: contain!important;
    background-image: url(https://cdn.discordapp.com/attachments/760407935191875584/760416224894779442/unknown.png) !important;
}
#watch-header .yt-user-info a[href="/channel/UCJ6KZTTnkE-s2XFJJmoTAkw"] { /* Accursed Farms */
    border: none!important;width: 173px!important;padding: 0!important;border-radius: 0!important;height: 32px!important;font-size: 0!important;background-color: none!important;box-shadow: none!important;background-size: contain!important;
    background-image: url(https://cdn.discordapp.com/attachments/760407935191875584/760521561550749706/unknown.png) !important;
}
#watch-header .yt-user-info a[href="/channel/UC0fDG3byEcMtbOqPMymDNbw"] { /* noclip */
    border: none!important;width: 173px!important;padding: 0!important;border-radius: 0!important;height: 32px!important;font-size: 0!important;background-color: none!important;box-shadow: none!important;background-size: contain!important;
    background-image: url(https://cdn.discordapp.com/attachments/760407935191875584/760522217817243698/unknown.png) !important;
}
#watch-header .yt-user-info a[href="/channel/UCsXVk37bltHxD1rDPwtNM8Q"] { /* Kurzgesagt */
    border: none!important;width: 173px!important;padding: 0!important;border-radius: 0!important;height: 32px!important;font-size: 0!important;background-color: none!important;box-shadow: none!important;background-size: contain!important;
    background-image: url(https://cdn.discordapp.com/attachments/760407935191875584/760847511261937674/unknown.png) !important;
}
#watch-header .yt-user-info a[href="/channel/UC4PooiX37Pld1T8J5SYT-SQ"] { /* Good Mythical Morning */
    border: none!important;width: 173px!important;padding: 0!important;border-radius: 0!important;height: 32px!important;font-size: 0!important;background-color: none!important;box-shadow: none!important;background-size: contain!important;
    background-image: url(https://cdn.discordapp.com/attachments/760407935191875584/760848972650381343/unknown.png) !important;
}
#watch-header .yt-user-info a[href="/channel/UClY084mbGLK_SLlOfgizjow"] { /* SalC1 */
    border: none!important;width: 173px!important;padding: 0!important;border-radius: 0!important;height: 32px!important;font-size: 0!important;background-color: none!important;box-shadow: none!important;background-size: contain!important;
    background-image: url(https://cdn.discordapp.com/attachments/760407935191875584/760851637773926420/unknown.png) !important;
}
#watch-header .yt-user-info a[href="/channel/UCXGgrKt94gR6lmN4aN3mYTg"] { /* Austin Evans */
    border: none!important;width: 173px!important;padding: 0!important;border-radius: 0!important;height: 32px!important;font-size: 0!important;background-color: none!important;box-shadow: none!important;background-size: contain!important;
    background-image: url(https://cdn.discordapp.com/attachments/760407935191875584/760852205313064970/unknown.png) !important;
}
#watch-header .yt-user-info a[href="/channel/UCsTcErHg8oDvUnTzoqsYeNw"] { /* Unbox Therapy */
    border: none!important;width: 173px!important;padding: 0!important;border-radius: 0!important;height: 32px!important;font-size: 0!important;background-color: none!important;box-shadow: none!important;background-size: contain!important;
    background-image: url(https://cdn.discordapp.com/attachments/760407935191875584/760852738858024990/unknown.png) !important;
}
#watch-header .yt-user-info a[href="/channel/UCHnyfMqiRRG1u-2MsSQLbXA"] { /* Veritasium */
    border: none!important;width: 173px!important;padding: 0!important;border-radius: 0!important;height: 32px!important;font-size: 0!important;background-color: none!important;box-shadow: none!important;background-size: contain!important;
    background-image: url(https://cdn.discordapp.com/attachments/760407935191875584/760996918465658880/unknown.png) !important;
}
#watch-header .yt-user-info a[href="/channel/UC5WjFrtBdufl6CZojX3D8dQ"] { /* Tesla */
    border: none!important;width: 173px!important;padding: 0!important;border-radius: 0!important;height: 32px!important;font-size: 0!important;background-color: none!important;box-shadow: none!important;background-size: contain!important;
    background-image: url(https://cdn.discordapp.com/attachments/760407935191875584/761183341600571412/unknown.png) !important;
}
#watch-header .yt-user-info a[href="/channel/UC0vBXGSyV14uvJ4hECDOl0Q"] { /* Techquickie */
    border: none!important;width: 173px!important;padding: 0!important;border-radius: 0!important;height: 32px!important;font-size: 0!important;background-color: none!important;box-shadow: none!important;background-size: contain!important;
    background-image: url(https://cdn.discordapp.com/attachments/760407935191875584/761184488301789184/unknown.png) !important;
}
#watch-header .yt-user-info a[href="/channel/UC1XoTfl_ctHKoEbe64yUC_g"] { /* K-391 */
    border: none!important;width: 173px!important;padding: 0!important;border-radius: 0!important;height: 32px!important;font-size: 0!important;background-color: none!important;box-shadow: none!important;background-size: contain!important;
    background-image: url(https://cdn.discordapp.com/attachments/760407935191875584/761186080892125184/unknown.png) !important;
}
#watch-header .yt-user-info a[href="/channel/UCFns-zjrt8RpTLC2_8PcTbw"] { /* Ahrix */
    border: none!important;width: 173px!important;padding: 0!important;border-radius: 0!important;height: 32px!important;font-size: 0!important;background-color: none!important;box-shadow: none!important;background-size: contain!important;
    background-image: url(https://cdn.discordapp.com/attachments/760407935191875584/761186571582963732/unknown.png) !important;
}
#watch-header .yt-user-info a[href="/channel/UC_aEa8K-EOJ3D6gOs7HcyNg"] { /* NoCopyrightSounds */
    border: none!important;width: 173px!important;padding: 0!important;border-radius: 0!important;height: 32px!important;font-size: 0!important;background-color: none!important;box-shadow: none!important;background-size: contain!important;
    background-image: url(https://cdn.discordapp.com/attachments/760407935191875584/761187132533637150/unknown.png) !important;
}
#watch-header .yt-user-info a[href="/channel/UCiJnBO_XuDsi1SSRAmt4n5g"] { /* NCS Arcade */
    border: none!important;width: 173px!important;padding: 0!important;border-radius: 0!important;height: 32px!important;font-size: 0!important;background-color: none!important;box-shadow: none!important;background-size: contain!important;
    background-image: url(https://cdn.discordapp.com/attachments/760407935191875584/761187588191027210/unknown.png) !important;
}
#watch-header .yt-user-info a[href="/channel/UCqCTqVqw6zh8bCEGoEN7qXQ"] { /* NCS Lyrics */
    border: none!important;width: 173px!important;padding: 0!important;border-radius: 0!important;height: 32px!important;font-size: 0!important;background-color: none!important;box-shadow: none!important;background-size: contain!important;
    background-image: url(https://cdn.discordapp.com/attachments/760407935191875584/761187844147511306/unknown.png) !important;
}
#watch-header .yt-user-info a[href="/channel/UCE1jXbVAGJQEORz9nZqb5bQ"] { /* Ahoy */
    border: none!important;width: 173px!important;padding: 0!important;border-radius: 0!important;height: 32px!important;font-size: 0!important;background-color: none!important;box-shadow: none!important;background-size: contain!important;
    background-image: url(https://cdn.discordapp.com/attachments/760407935191875584/761189145880035359/unknown.png) !important;
}
#watch-header .yt-user-info a[href="/channel/UCp_pGFmKwwOrpKzLc0sWvKA"] { /* Ahoy 2 */
    border: none!important;width: 173px!important;padding: 0!important;border-radius: 0!important;height: 32px!important;font-size: 0!important;background-color: none!important;box-shadow: none!important;background-size: contain!important;
    background-image: url(https://cdn.discordapp.com/attachments/760407935191875584/761190359958290442/unknown.png) !important;
}
#watch-header .yt-user-info a[href="/channel/UCV8yIaKoqa-r9SnXPMQ1Spg"] { /* DJVI */
    border: none!important;width: 173px!important;padding: 0!important;border-radius: 0!important;height: 32px!important;font-size: 0!important;background-color: none!important;box-shadow: none!important;background-size: contain!important;
    background-image: url(https://cdn.discordapp.com/attachments/760407935191875584/761190964454096906/unknown.png) !important;
}
#watch-header .yt-user-info a[href="/channel/UCbu2SsF-Or3Rsn3NxqODImw"] { /* GameSpot */
    border: none!important;width: 173px!important;padding: 0!important;border-radius: 0!important;height: 32px!important;font-size: 0!important;background-color: none!important;box-shadow: none!important;background-size: contain!important;
    background-image: url(https://cdn.discordapp.com/attachments/760407935191875584/761254563118055434/unknown.png) !important;
}
#watch-header .yt-user-info a[href="/channel/UCnNlJNSRxa3PF8XrKHOEPug"] { /* The Hoax Hotel */
    border: none!important;width: 173px!important;padding: 0!important;border-radius: 0!important;height: 32px!important;font-size: 0!important;background-color: none!important;box-shadow: none!important;background-size: contain!important;
    background-image: url(https://cdn.discordapp.com/attachments/760407935191875584/761256123230584902/unknown.png) !important;
}
#watch-header .yt-user-info a[href="/channel/UCm22FAXZMw1BaWeFszZxUKw"] { /* Kitboga */
    border: none!important;width: 173px!important;padding: 0!important;border-radius: 0!important;height: 32px!important;font-size: 0!important;background-color: none!important;box-shadow: none!important;background-size: contain!important;
    background-image: url(https://cdn.discordapp.com/attachments/760407935191875584/761259704999215214/unknown.png) !important;
}
#watch-header .yt-user-info a[href="/channel/UCUJXm3LMFLSEe_A2IBf8GwQ"] { /* Harry101UK */
    border: none!important;width: 173px!important;padding: 0!important;border-radius: 0!important;height: 32px!important;font-size: 0!important;background-color: none!important;box-shadow: none!important;background-size: contain!important;
    background-image: url(https://cdn.discordapp.com/attachments/760407935191875584/761269832343093288/unknown.png) !important;
}
#watch-header .yt-user-info a[href="/channel/UCmu9PVIZBk-ZCi-Sk2F2utA"] { /* 3kliksphilip */
    border: none!important;width: 173px!important;padding: 0!important;border-radius: 0!important;height: 32px!important;font-size: 0!important;background-color: none!important;box-shadow: none!important;background-size: contain!important;
    background-image: url(https://cdn.discordapp.com/attachments/760407935191875584/761270738245255199/unknown.png) !important;
}
#watch-header .yt-user-info a[href="/channel/UCEKJKJ3FO-9SFv5x5BzyxhQ"] { /* 2kliksphilip */
    border: none!important;width: 173px!important;padding: 0!important;border-radius: 0!important;height: 32px!important;font-size: 0!important;background-color: none!important;box-shadow: none!important;background-size: contain!important;
    background-image: url(https://cdn.discordapp.com/attachments/760407935191875584/761271175355039814/unknown.png) !important;
}
#watch-header .yt-user-info a[href="/channel/UC0a8nteER_pU4Aj6hmEyJAQ"] { /* kliksphilip */
    border: none!important;width: 173px!important;padding: 0!important;border-radius: 0!important;height: 32px!important;font-size: 0!important;background-color: none!important;box-shadow: none!important;background-size: contain!important;
    background-image: url(https://cdn.discordapp.com/attachments/760407935191875584/761271206254215198/unknown.png) !important;
}
#watch-header .yt-user-info a[href="/channel/UC3_kehZbfRz-KrjXIqeIiPw"] { /* Leadhead */
    border: none!important;width: 173px!important;padding: 0!important;border-radius: 0!important;height: 32px!important;font-size: 0!important;background-color: none!important;box-shadow: none!important;background-size: contain!important;
    background-image: url(https://cdn.discordapp.com/attachments/760407935191875584/761272155144585246/unknown.png) !important;
}
