// forum input style (2025-02_forum_input_style)
// 0 | C  | styled after the chat input
// 1 | T1 | styled after the quick switcher input
$experiment1: 0;

// profile ui (2025-02_profile_ui)
// 0 | C  | unthemed
// 1 | T1 | styled after the 2018-2021 ui
// 2 | T2 | styled after the late 2016 ui
$experiment2: 0;

// Search page (2023-07_search_page)
// 0 | Control
// 1 | Treatment 1
$legacy_experiment18: 0;