@use "sass:color";
@use "sass:string";
@use "sass:math";

@function dec($num,$amt) {
  $value: 1; 
  @for $i from 1 through $amt {
    $value: $value * 10;
  }
  @return calc(math.round($num*$value)/$value);
}

// converts color to a saturation-slider compatible piece of shit i will never deal with again
@function ss($color) {
  $h: dec(color.channel($color, "hue", $space: hsl),1);
  $s: dec(color.channel($color, "saturation", $space: hsl),1);
  $l: dec(color.channel($color, "lightness", $space: hsl),1);
  $a: dec(color.channel($color, "alpha", $space: hsl),2);
  $h: string.slice(#{$h},0,-4);
  @if ($a < 1) {
    @return #{hsl(#{$h}, calc(var(--saturation-factor, 1) * #{$s}), $l, $a)};
  }
  @return #{hsl($h, calc(var(--saturation-factor, 1) * #{$s}), $l)};
}
@function ssv($color) {
  $h: dec(color.channel($color, "hue", $space: hsl),1);
  $s: dec(color.channel($color, "saturation", $space: hsl),1);
  $l: dec(color.channel($color, "lightness", $space: hsl),1);
  $a: dec(color.channel($color, "alpha", $space: hsl),2);
  $h: string.slice(#{$h},0,-4);
  @if ($a < 1) {
    @return #{#{$h}, calc(var(--saturation-factor, 1) * #{$s}), $l, $a};
  }
  @return #{$h, calc(var(--saturation-factor, 1) * #{$s}), $l};
}