// leftovers from v5

$blurple: #7289da;

// variables
$scrollableContainer: "._740174f3d6a2c8fe-scrollableContainer";
$panels: "._5e434347c823b592-panels";
$panelButton: "._67645e1530f1195d-button";
$panel-account: "._37e49614b9f110a9-container";
$panel-rtcConnection: ".e131a99484292a19-wrapper";
$panel-rtcConInner: ".e131a99484292a19-container";
$panel-rtcConnectionStatus: "._06d6249a1f2584ac-rtcConnectionStatus";
$panel-stream: "._5e434347c823b592-activityPanel";
$attachButton: "._0923f156a0410684-attachButton";
$attachButtonPlus: "._0923f156a0410684-attachButtonPlus";
$attachButtonPlay: ".attachButtonPlay__0923f";
$channelReply: "._841c8f861f7b2704-container";
$channelReplyInner: "._841c8f861f7b2704-replyBar";
$iconContainer: ".c1e9c47c23f12ca3-iconContainer";

// layers
$layer: "._960e4207cea8323e-layer";
$layer-settings: '._960e4207cea8323e-layer:is([data-layer="USER_SETTINGS"],[data-layer="CHANNEL_SETTINGS"],[data-layer="GUILD_SETTINGS"])';
$layer-settings-user: #{$layer-settings};
$layer-settings-server: #{$layer-settings};
$layer-settings-channel: #{$layer-settings};
$layer-settings-server-profile: #{$layer-settings};
$layer-rtc-debug: #{$layer-settings};

$settings-region: "._23e6b439306f125a-standardSidebarView";
$settings-sidebar: "._23e6b439306f125a-sidebarRegion";
$settings-content: "._23e6b439306f125a-contentRegion";

// chat
$chat: ".f75fb00fb7356cbe-chat";
$chat-title: ".f75fb00fb7356cbe-title";
$chat-form: ".f75fb00fb7356cbe-form";

$bar-base: "._0f481cbbd7530492-barBase";
$bar-newMsg: "._0f481cbbd7530492-newMessagesBar";
$bar-jump: "._0f481cbbd7530492-jumpToPresentBar";
$bar-main: "._0f481cbbd7530492-barButtonMain";
$bar-alt: "._0f481cbbd7530492-barButtonAlt";
$bar-error: "._0f481cbbd7530492-messagesErrorBar";

// popouts
$contextMenu: ".c1e9c47c23f12ca3-menu";
$mContextMessage: "#message";
$mMessageActions: "#message-actions";
$mGuildHeader: "#guild-header-popout";
$mContextGuild: "#guild-context";
$mContextUser: "#user-context";
$mContextSettings: "#user-settings-cog";
$mContextAudio: "#audio-device-context";
$mContextChannel: "#channel-context";
$mChannelAttach: "#channel-attach";
$menuScroller: ".c1e9c47c23f12ca3-scroller";
$menuItem: ".c1e9c47c23f12ca3-item";

// buttons
$button: ".a22cb0c66246f5d3-button";

$btnFilled: ".lookFilled_a22cb0";
$btnOutlined: ".lookOutlined_a22cb0";
$btnLink: ".lookLink_a22cb0";

$btnColorBrand: ".colorBrand_a22cb0";
$btnColorGreen: ".colorGreen_a22cb0";
$btnColorPrimary: ".colorPrimary_a22cb0";

// call layout
$callRoot: ".bfe55a0aaaf62375-root";
$videoControls: ".bfe55a0aaaf62375-videoControls";
$bottomControls: ".bfe55a0aaaf62375-bottomControls";
$controlButton: "._1405b3b8e8eb5fd0-controlButton";
$centerButton: ".f1ceaca61b18918e-centerButton";
$controlIcon: "._1405b3b8e8eb5fd0-controlButton";
$centerIcon: ".f1ceaca61b18918e-centerButton";
$contextMenuNub: ".f1ceaca61b18918e-contextMenuNub";

// channels
$containerDefault: ".c69b6db0641110f6-containerDefault";
$containerUserOver: ".c69b6db0641110f6-containerUserOver";
$containerDragBefore: ".c69b6db0641110f6-containerDragBefore";
$containerDragAfter: ".c69b6db0641110f6-containerDragAfter";
$containerDefaultCategory: "._29444ba32c7fbeab-containerDefault";
$voiceUser: "._07f9193042954787-voiceUser";
$userLimit: ".c69b6db0641110f6-channelInfo";
$userLimitWrapper: "._260e1982cd52c5c3-wrapper";
$userLimitUsers: "._260e1982cd52c5c3-users";
$userLimitTotal: "._260e1982cd52c5c3-total";

// the chat itself???????
$message: "._5126c0cd07f243a0-message";
$msgGroupStart: "._5126c0cd07f243a0-groupStart";
$msgBtnContainer: ".c19a557985eb7793-buttonContainer";
$msgBtnContInner: "._040f07d21e1fb0d6-container";
$msgBtnContHeader: "._040f07d21e1fb0d6-isHeader";
$msgBtnContWrap: ".f7ecaca5c80dbf3a-wrapper";
$msgBtnContButton: ".f7ecaca5c80dbf3a-button";
$msgUsername: ".c19a557985eb7793-username";
$msgTimestamp: ".c19a557985eb7793-timestamp";
$msgMentioned: "._5126c0cd07f243a0-mentioned";
$msgAvatar: ".c19a557985eb7793-avatar";
$markup: "._752971923a1e6683-markup";
$scrollerSpacer: "._36d072eab2b2e737-scrollerSpacer";

// user list
$members: ".c8ffbb79449f399c-members";
$memberGroup: ".c8ffbb79449f399c-membersGroup";
$memberListItem: "._5d473ecff348c314-member";
$userLayout: "._91a9d7f7e5248a56-layout";

// header
$guildHeader: ".f37cb1984c371ee5-header";

// embeds
$embed: "._623de82e76ad7f82-embedFull";
$embedGrid: "._623de82e76ad7f82-grid";
$embedAuthor: "._623de82e76ad7f82-embedAuthor";
$embedTitle: "._623de82e76ad7f82-embedTitle";
$embedDescription: "._623de82e76ad7f82-embedDescription";
$embedVideo: "._623de82e76ad7f82-embedVideo";
$embedField: "._623de82e76ad7f82-embedField";
$embedFieldName: "._623de82e76ad7f82-embedFieldName";
$embedFieldValue: "._623de82e76ad7f82-embedFieldValue";
$embedFooter: "._623de82e76ad7f82-embedFooter";
$embedFooterText: "._623de82e76ad7f82-embedFooterText";
$embedFooterSeparator: "._623de82e76ad7f82-embedFooterSeparator";
$embedFooterIcon: "._623de82e76ad7f82-embedFooterIcon";
$embedAuthorName: "._623de82e76ad7f82-embedAuthorName";

// user mini-profiles
$role: "._48c1c0768f2a2421-role";
$roleCircle: "._4f569b8941af22d1-roleCircle";
$roleAddButton: "._48c1c0768f2a2421-addButton";

// bot tag
$botTag: "._82f0793afa59e5dc-botTag";
$botTagRegular: "._82f0793afa59e5dc-botTagRegular";
$botTagInvert: "._82f0793afa59e5dc-botTagInvert";
$botTagText: "._82f0793afa59e5dc-botText";

// badges
$numberBadge: "._2b1f52e43a8f1c02-numberBadge";

// unread indicators
$unreadBottom: "._629e4c86564a4ee7-unreadBottom";
$unreadTop: "._629e4c86564a4ee7-unreadTop";
$unreadWrap: "._629e4c86564a4ee7-unread";
$unreadInner: "._629e4c86564a4ee7-unreadBar";

// upload modals
$uploadModal: ".uploadModal_dbca3c";
$uploadModalInner: ".inner_dbca3c";

// channel list dms
$dmSidebar: "._5e434347c823b592-sidebar";
$privateChannels: ".e6b7699ce8339e1c-privateChannels";
$channelInteractive: "._972a0d22c8afa7f0-interactive";
$dmSearchBar: ".e6b7699ce8339e1c-searchBar";
$dmSBComponent: ".searchBarComponent_e6b769";

$fontSize12Padding: ".fontSize12Padding__74017";
$fontSize14Padding: ".fontSize14Padding__74017";
$fontSize15Padding: ".fontSize15Padding__74017";
$fontSize16Padding: ".fontSize16Padding__74017";
$fontSize18Padding: ".fontSize18Padding__74017";
$fontSize20Padding: ".fontSize20Padding__74017";
$fontSize24Padding: ".fontSize24Padding__74017";

$colorHeaderPrimary: ".colorHeaderPrimary_c9946a";
$colorHeaderSecondary: ".colorHeaderSecondary_c9946a";
$colorInteractiveActive: ".colorInteractiveActive_c9946a";
