// leftovers from v5

$blurple: #7289da;

// variables
$scrollableContainer: ".scrollableContainer__74017";
$panels: ".panels_c48ade";
$panelButton: ".button__67645";
$panel-account: ".container__37e49";
$panel-rtcConnection: ".wrapper_e131a9";
$panel-rtcConInner: ".container_e131a9";
$panel-rtcConnectionStatus: ".rtcConnectionStatus__06d62";
$panel-stream: ".activityPanel_c48ade";
$attachButton: ".attachButton__0923f";
$attachButtonPlus: ".attachButtonPlus__0923f";
$attachButtonPlay: ".attachButtonPlay__0923f";
$channelReply: ".container__841c8";
$channelReplyInner: ".replyBar__841c8";
$iconContainer: ".iconContainer_c1e9c4";

// layers
$layer: ".layer__960e4";
$layer-settings: ".layer__960e4:not(.baseLayer__960e4)";
$layer-settings-user: #{$layer-settings};
$layer-settings-server: #{$layer-settings};
$layer-settings-channel: #{$layer-settings};
$layer-settings-server-profile: #{$layer-settings};
$layer-rtc-debug: #{$layer-settings};

$settings-region: ".standardSidebarView__23e6b";
$settings-sidebar: ".sidebarRegion__23e6b";
$settings-content: ".contentRegion__23e6b";

// chat
$chat: ".chat_f75fb0";
$chat-title: ".title_f75fb0";
$chat-form: ".form_f75fb0";

$bar-base: ".barBase__0f481";
$bar-newMsg: ".newMessagesBar__0f481";
$bar-jump: ".jumpToPresentBar__0f481";
$bar-main: ".barButtonMain__0f481";
$bar-alt: ".barButtonAlt__0f481";
$bar-error: ".messagesErrorBar__0f481";

// popouts
$contextMenu: ".menu_c1e9c4";
$mContextMessage: "#message";
$mMessageActions: "#message-actions";
$mGuildHeader: "#guild-header-popout";
$mContextGuild: "#guild-context";
$mContextUser: "#user-context";
$mContextSettings: "#user-settings-cog";
$mContextAudio: "#audio-device-context";
$mContextChannel: "#channel-context";
$mChannelAttach: "#channel-attach";
$menuScroller: ".scroller_c1e9c4";
$menuItem: ".item_c1e9c4";

// buttons
$button: ".button__201d5";

$btnFilled: ".lookFilled__201d5";
$btnOutlined: ".lookOutlined__201d5";
$btnLink: ".lookLink__201d5";

$btnColorBrand: ".colorBrand__201d5";
$btnColorGreen: ".colorGreen__201d5";
$btnColorPrimary: ".colorPrimary__201d5";

// call layout
$callRoot: ".root_bfe55a";
$videoControls: ".videoControls_bfe55a";
$bottomControls: ".bottomControls_bfe55a";
$controlButton: ".controlButton__1405b";
$centerButton: ".centerButton_f1ceac";
$controlIcon: ".controlButton__1405b";
$centerIcon: ".centerButton_f1ceac";
$contextMenuNub: ".contextMenuNub_f1ceac";

// channels
$containerDefault: ".containerDefault_c69b6d";
$containerUserOver: ".containerUserOver_c69b6d";
$containerDragBefore: ".containerDragBefore_c69b6d";
$containerDragAfter: ".containerDragAfter_c69b6d";
$containerDefaultCategory: ".containerDefault__29444";
$voiceUser: ".voiceUser__07f91";
$userLimit: ".channelInfo_c69b6d";
$userLimitWrapper: ".wrapper__260e1";
$userLimitUsers: ".users__260e1";
$userLimitTotal: ".total__260e1";

// the chat itself???????
$message: ".message__5126c";
$msgGroupStart: ".groupStart__5126c";
$msgBtnContainer: ".buttonContainer_c19a55";
$msgBtnContInner: ".container__040f0";
$msgBtnContHeader: ".isHeader__040f0";
$msgBtnContWrap: ".wrapper_f7ecac";
$msgBtnContButton: ".button_f7ecac";
$msgUsername: ".username_c19a55";
$msgTimestamp: ".timestamp_c19a55";
$msgMentioned: ".mentioned__5126c";
$msgAvatar: ".avatar_c19a55";
$markup: ".markup__75297";
$scrollerSpacer: ".scrollerSpacer__36d07";

// user list
$members: ".members_c8ffbb";
$memberGroup: ".membersGroup_c8ffbb";
$memberListItem: ".member__5d473";
$userLayout: ".layout__91a9d";

// header
$guildHeader: ".header_f37cb1";

// embeds
$embed: ".embedFull__623de";
$embedGrid: ".grid__623de";
$embedAuthor: ".embedAuthor__623de";
$embedTitle: ".embedTitle__623de";
$embedDescription: ".embedDescription__623de";
$embedVideo: ".embedVideo__623de";
$embedField: ".embedField__623de";
$embedFieldName: ".embedFieldName__623de";
$embedFieldValue: ".embedFieldValue__623de";
$embedFooter: ".embedFooter__623de";
$embedFooterText: ".embedFooterText__623de";
$embedFooterSeparator: ".embedFooterSeparator__623de";
$embedFooterIcon: ".embedFooterIcon__623de";
$embedAuthorName: ".embedAuthorName__623de";

// user mini-profiles
$role: ".role__48c1c";
$roleCircle: ".roleCircle__4f569";
$roleAddButton: ".addButton__48c1c";

// bot tag
$botTag: ".botTag__82f07";
$botTagRegular: ".botTagRegular__82f07";
$botTagInvert: ".botTagInvert__82f07";
$botTagText: ".botText__82f07";

// badges
$numberBadge: ".numberBadge__2b1f5";

// unread indicators
$unreadBottom: ".unreadBottom__629e4";
$unreadTop: ".unreadTop__629e4";
$unreadWrap: ".unread__629e4";
$unreadInner: ".unreadBar__629e4";

// upload modals
$uploadModal: ".uploadModal_dbca3c";
$uploadModalInner: ".inner_dbca3c";

// channel list dms
$dmSidebar: ".sidebar_c48ade";
$privateChannels: ".privateChannels__35e86";
$channelInteractive: ".interactive__972a0";
$dmSearchBar: ".searchBar__35e86";
$dmSBComponent: ".searchBarComponent__35e86";

$fontSize12Padding: ".fontSize12Padding__74017";
$fontSize14Padding: ".fontSize14Padding__74017";
$fontSize15Padding: ".fontSize15Padding__74017";
$fontSize16Padding: ".fontSize16Padding__74017";
$fontSize18Padding: ".fontSize18Padding__74017";
$fontSize20Padding: ".fontSize20Padding__74017";
$fontSize24Padding: ".fontSize24Padding__74017";

$colorHeaderPrimary: ".colorHeaderPrimary_c9946a";
$colorHeaderSecondary: ".colorHeaderSecondary_c9946a";
$colorInteractiveActive: ".colorInteractiveActive_c9946a";
