@use "vars" as *;

// badges/tags
@at-root {
  // new badge for the collectibles shop
  ._2b1f52e43a8f1c02-textBadge {
    border-radius: 3px;
  }
  ._4ed1af9a212b8f4f-newBadge._2b1f52e43a8f1c02-textBadge._2b1f52e43a8f1c02-base {
    background: var(--yellow) !important;
    box-shadow: 0 1px 0 rgba(0,0,0,.25),inset 0 1px 0 hsla(0,0%,100%,.15) !important;
    text-shadow: 0 1px 0 rgba(0,0,0,.25) !important;
    font-weight: 500 !important;
  }
  // bot tags
  @at-root {
    ._82f0793afa59e5dc-botTag {
      &._82f0793afa59e5dc-botTag._82f0793afa59e5dc-botTag {
        padding: 1px 2px;
        border-radius: 3px;
        font-size: 10px;
        box-sizing: border-box;
        line-height: 12px;
        height: auto;
        vertical-align: baseline;
        position: relative;
        inset: -2px auto auto auto;
        display: inline-block;
        ._82f0793afa59e5dc-botText {
          font-size: inherit;
          line-height: inherit;
          font-weight: 500;
          position: unset;
          display: inline;
        }
        ._82f0793afa59e5dc-botTagVerified {
          margin: 0 0 -2px -1px;
          width: 12px;
          height: 12px;
          path {
            d: path("M19.246 8.06065L9.69896 17.6077L4.93542 12.8442L7.05675 10.7229L9.69896 13.3651L17.1247 5.93933L19.246 8.06065Z");
          }
        }
      }
    }
    ._82f0793afa59e5dc-botTagRegular {
      background: var(--blurple);
      color: #fff;
    }
    ._82f0793afa59e5dc-botTagInvert {
      background: #fff;
      color: var(--blurple);
    }
    .botTagRemix__82f07 {
      background: var(--text-normal);
      color: var(--background-primary);
    }
    .b99f57e338f8c028-systemTag.b99f57e338f8c028-systemTag.b99f57e338f8c028-systemTag {
      box-sizing: border-box;
      height: 14px;
    }
    .b99f57e338f8c028-spanCorrection .b99f57e338f8c028-systemTag.b99f57e338f8c028-systemTag.b99f57e338f8c028-systemTag {
      margin-top: 4px;
    }
  }
}