@use "vars" as *;

// badges/tags
@at-root {
  // new badge for the collectibles shop
  .textBadge__2b1f5 {
    border-radius: 3px;
  }
  .newBadge__4ed1a.textBadge__2b1f5.base__2b1f5 {
    background: var(--yellow) !important;
    box-shadow: 0 1px 0 rgba(0,0,0,.25),inset 0 1px 0 hsla(0,0%,100%,.15) !important;
    text-shadow: 0 1px 0 rgba(0,0,0,.25) !important;
    font-weight: 500 !important;
  }
  // bot tags
  @at-root {
    .botTag__82f07 {
      &.botTag__82f07.botTag__82f07 {
        padding: 1px 2px;
        border-radius: 3px;
        font-size: 10px;
        box-sizing: border-box;
        line-height: 12px;
        height: auto;
        vertical-align: baseline;
        position: relative;
        inset: -2px auto auto auto;
        display: inline-block;
        .botText__82f07 {
          font-size: inherit;
          line-height: inherit;
          font-weight: 500;
          position: unset;
          display: inline;
        }
        .botTagVerified__82f07 {
          margin: 0 0 -2px -1px;
          width: 12px;
          height: 12px;
          path {
            transform: scale(calc(10/16));
            transform-origin: center;
            d: path("M15.246 4.06065L5.69896 13.6077L0.935425 8.84419L3.05675 6.72286L5.69896 9.36508L13.1247 1.93933L15.246 4.06065Z");
            .show-redesigned-icons & {
              transform: none;
              d: path("M19.246 8.06065L9.69896 17.6077L4.93542 12.8442L7.05675 10.7229L9.69896 13.3651L17.1247 5.93933L19.246 8.06065Z");
            }
          }
        }
      }
    }
    .botTagRegular__82f07 {
      background: var(--blurple);
      color: #fff;
    }
    .botTagInvert__82f07 {
      background: #fff;
      color: var(--blurple);
    }
    .botTagRemix__82f07 {
      background: var(--text-normal);
      color: var(--background-primary);
    }
  }
  // clan tag
  .clanTagChiplet_c19a55, .clanTagChiplet__5bdf8, .chipletContainerInner__4a25c {
    max-width: 72px;
    overflow: hidden;
    white-space: nowrap;
  }
}