@use "funcs" as *;
@at-root {
  :root {
    ._201d5e8a3c09670a-button {
      border-radius: 3px;
      &._201d5e8a3c09670a-lookFilled {
        border: none;
        transition: background-color .2s ease;
        &._201d5e8a3c09670a-colorBrand {
          background: var(--blurple);
          &:is(:hover:not(:disabled), :active:not(:disabled)) {background: var(--blurple-hover)}
          ._201d5e8a3c09670a-contents {color:#fff}
        }
        &._201d5e8a3c09670a-colorPrimary {
          background: var(--dtm-16-button-filled-primary-bg);
          &:hover:not(:disabled) {background: var(--dtm-16-button-filled-primary-bg-hover)}
          &:active:not(:disabled) {background: var(--dtm-16-button-filled-primary-bg-active)}
          ._201d5e8a3c09670a-contents {color:var(--dtm-16-button-filled-primary-fg)}
        }
        &._201d5e8a3c09670a-colorRed {
          background: var(--red);
          &:hover:not(:disabled) {background: var(--red-hover)}
          &:active:not(:disabled) {background: var(--red-active)}
          ._201d5e8a3c09670a-contents {color:#fff}
        }
        &._201d5e8a3c09670a-colorGreen {
          background: var(--green);
          &:hover:not(:disabled) {background: var(--green-hover)}
          &:active:not(:disabled) {background: var(--green-active)}
          ._201d5e8a3c09670a-contents {color:#fff}
        }
      }
      &._201d5e8a3c09670a-lookOutlined {
        background: #0000;
        &._201d5e8a3c09670a-colorBrand {
          background: #0000;
          border-color: #{ss(rgba(114, 137, 218, 0.3))};
          color: var(--blurple);
          &:hover:not(:disabled) {
            background: #0000;
            border-color: #{ss(rgba(114, 137, 218, 0.6))};
            color: var(--blurple);
          }
          &:active:not(:disabled) {
            background: #{ss(rgba(114, 137, 218, 0.1))};
            border-color: var(--blurple);
            color: var(--blurple);
          }
        }
        &._201d5e8a3c09670a-colorPrimary {
          background: #0000;
          border-color: var(--dtm-16-button-outlined-primary-border);
          color: var(--dtm-16-button-outlined-primary-color);
          &:hover:not(:disabled) {
            background: #0000;
            border-color: var(--dtm-16-button-outlined-primary-border-hover);
            color: var(--dtm-16-button-outlined-primary-color-hover);
          }
          &:active:not(:disabled) {
            background: var(--dtm-16-button-outlined-primary-bg-active);
            border-color: var(--dtm-16-button-outlined-primary-border-active);
            color: var(--dtm-16-button-outlined-primary-color-active);
          }
        }
        &._201d5e8a3c09670a-colorRed {
          background: #0000;
          border-color: #{ss(rgba(240, 71, 71, 0.3))};
          color: #{ss(#f04747)};
          &:hover:not(:disabled) {
            background: #0000;
            border-color: #{ss(rgba(240, 71, 71, 0.6))};
            color: #{ss(#f04747)};
          }
          &:active:not(:disabled) {
            background: #{ss(rgba(240, 71, 71, 0.1))};
            border-color: #{ss(#f04747)};
            color: #{ss(#f04747)};
          }
        }
        &.colorYellow__818c3 {
          background: #0000;
          border-color: #{ss(rgba(250, 166, 26, 0.3))};
          color: #{ss(#faa61a)};
          &:hover:not(:disabled) {
            background: #0000;
            border-color: #{ss(rgba(250, 166, 26, 0.6))};
            color: #{ss(#faa61a)};
          }
          &:active:not(:disabled) {
            background: #{ss(rgba(250, 166, 26, 0.1))};
            border-color: #{ss(#faa61a)};
            color: #{ss(#faa61a)};
          }
        }
        &._201d5e8a3c09670a-colorGreen {
          background: #0000;
          border-color: #{ss(rgba(67, 181, 129, 0.3))};
          color: #{ss(#43b581)};
          &:hover:not(:disabled) {
            background: #0000;
            border-color: #{ss(rgba(67, 181, 129, 0.6))};
            color: #{ss(#43b581)};
          }
          &:active:not(:disabled) {
            background: #{ss(rgba(67, 181, 129, 0.1))};
            border-color: #{ss(#43b581)};
            color: #{ss(#43b581)};
          }
        }
        &._201d5e8a3c09670a-colorWhite {
          background: #0000;
          border-color: rgba(255,255,255,.3);
          color: #fff;
          &:hover:not(:disabled) {
            background: #0000;
            border-color: rgba(255,255,255,.6);
            color: #fff;
          }
          &:active:not(:disabled) {
            background: rgba(255,255,255,.1);
            border-color: #fff;
            color: #fff;
          }
        }
      }
      &._201d5e8a3c09670a-lookFilled, &._201d5e8a3c09670a-lookOutlined {
        &:where(:not(._201d5e8a3c09670a-sizeIcon)) {
          padding: 10px 20px;
          min-height: 0;
          height: auto;
          max-height: unset;
        }
        ._201d5e8a3c09670a-contents {
          font-size: 16px;
        }
      }
      ._6a443ac3b8a8970b-shineContainer {display:none}
    }
    // dumb buttons
    .a22cb0c66246f5d3-button {
      border-radius: 3px;
      border: none;
      transition: background-color .2s ease;
      &.a22cb0c66246f5d3-primary {
        background: var(--blurple);
        &:is(:hover:not(:disabled), :active:not(:disabled)) {background: var(--blurple-hover)}
        .a22cb0c66246f5d3-buttonChildren {color:#fff}
      }
      &.a22cb0c66246f5d3-secondary {
        background: var(--dtm-16-button-filled-primary-bg);
        &:hover:not(:disabled) {background: var(--dtm-16-button-filled-primary-bg-hover)}
        &:active:not(:disabled) {background: var(--dtm-16-button-filled-primary-bg-active)}
        .a22cb0c66246f5d3-buttonChildren {color:var(--dtm-16-button-filled-primary-fg)}
      }
      &.critical-a22cb0c66246f5d3-primary {
        background: var(--red);
        &:hover:not(:disabled) {background: var(--red-hover)}
        &:active:not(:disabled) {background: var(--red-active)}
        .a22cb0c66246f5d3-buttonChildren {color:#fff}
      }
      &.critical-a22cb0c66246f5d3-secondary {
        background: #0000;
        transition: background-color .2s ease, border-color .2s ease;
        border: solid 1px #{ss(rgba(240, 71, 71, 0.3))};
        color: #{ss(#f04747)};
        &:hover:not(:disabled) {
          background: #0000;
          border-color: #{ss(rgba(240, 71, 71, 0.6))};
          color: #{ss(#f04747)};
        }
        &:active:not(:disabled) {
          background: #{ss(rgba(240, 71, 71, 0.1))};
          border-color: #{ss(#f04747)};
          color: #{ss(#f04747)};
        }
      }
      &.a22cb0c66246f5d3-active {
        background: var(--green);
        &:hover:not(:disabled) {background: var(--green-hover)}
        &:active:not(:disabled) {background: var(--green-active)}
        ._201d5e8a3c09670a-contents {color:#fff}
      }
      &.a22cb0c66246f5d3-sm, &.a22cb0c66246f5d3-md {
        padding: 10px 20px;
        min-height: 0;
        height: auto;
        max-height: unset;
        .a22cb0c66246f5d3-buttonChildrenWrapper {
          padding: 0;
          border-radius: 0;
          min-height: 0;
          height: auto;
          max-height: unset;
        }
        [data-text-variant="text-sm/medium"] {
          font-size: 16px;
          line-height: 18px;
        }
      }
      // SLOP BUTTON
      &.a22cb0c66246f5d3-expressive {
        .a22cb0c66246f5d3-expressiveRive {display:none!important}
        background: var(--dtm-16-button-filled-primary-bg);
        &:hover:not(:disabled) {background: var(--dtm-16-button-filled-primary-bg-hover)}
        &:active:not(:disabled) {background: var(--dtm-16-button-filled-primary-bg-active)}
        ._201d5e8a3c09670a-contents {color:var(--dtm-16-button-filled-primary-fg)}
      }
    }
  }
}