@use "funcs" as *;
@at-root {
  :root {
    .button__201d5 {
      border-radius: 3px;
      &.lookFilled__201d5 {
        border: none;
        transition: background-color .2s ease;
        &.colorBrand__201d5 {
          background: var(--blurple);
          &:is(:hover:not(:disabled), :active:not(:disabled)) {background: var(--blurple-hover)}
          .contents__201d5 {color:#fff}
        }
        &.colorPrimary__201d5 {
          background: var(--dtm-16-button-filled-primary-bg);
          &:hover:not(:disabled) {background: var(--dtm-16-button-filled-primary-bg-hover)}
          &:active:not(:disabled) {background: var(--dtm-16-button-filled-primary-bg-active)}
          .contents__201d5 {color:var(--dtm-16-button-filled-primary-fg)}
        }
        &.colorRed__201d5 {
          background: var(--red);
          &:hover:not(:disabled) {background: var(--red-hover)}
          &:active:not(:disabled) {background: var(--red-active)}
          .contents__201d5 {color:#fff}
        }
        &.colorGreen__201d5 {
          background: var(--green);
          &:hover:not(:disabled) {background: var(--green-hover)}
          &:active:not(:disabled) {background: var(--green-active)}
          .contents__201d5 {color:#fff}
        }
      }
      &.lookOutlined__201d5 {
        background: #0000;
        &.colorBrand__201d5 {
          background: #0000;
          border-color: #{ss(rgba(114, 137, 218, 0.3))};
          color: var(--blurple);
          &:hover:not(:disabled) {
            background: #0000;
            border-color: #{ss(rgba(114, 137, 218, 0.6))};
            color: var(--blurple);
          }
          &:active:not(:disabled) {
            background: #{ss(rgba(114, 137, 218, 0.1))};
            border-color: var(--blurple);
            color: var(--blurple);
          }
        }
        &.colorPrimary__201d5 {
          background: #0000;
          border-color: var(--dtm-16-button-outlined-primary-border);
          color: var(--dtm-16-button-outlined-primary-color);
          &:hover:not(:disabled) {
            background: #0000;
            border-color: var(--dtm-16-button-outlined-primary-border-hover);
            color: var(--dtm-16-button-outlined-primary-color-hover);
          }
          &:active:not(:disabled) {
            background: var(--dtm-16-button-outlined-primary-bg-active);
            border-color: var(--dtm-16-button-outlined-primary-border-active);
            color: var(--dtm-16-button-outlined-primary-color-active);
          }
        }
        &.colorRed__201d5 {
          background: #0000;
          border-color: #{ss(rgba(240, 71, 71, 0.3))};
          color: #{ss(#f04747)};
          &:hover:not(:disabled) {
            background: #0000;
            border-color: #{ss(rgba(240, 71, 71, 0.6))};
            color: #{ss(#f04747)};
          }
          &:active:not(:disabled) {
            background: #{ss(rgba(240, 71, 71, 0.1))};
            border-color: #{ss(#f04747)};
            color: #{ss(#f04747)};
          }
        }
        &.colorYellow__818c3 {
          background: #0000;
          border-color: #{ss(rgba(250, 166, 26, 0.3))};
          color: #{ss(#faa61a)};
          &:hover:not(:disabled) {
            background: #0000;
            border-color: #{ss(rgba(250, 166, 26, 0.6))};
            color: #{ss(#faa61a)};
          }
          &:active:not(:disabled) {
            background: #{ss(rgba(250, 166, 26, 0.1))};
            border-color: #{ss(#faa61a)};
            color: #{ss(#faa61a)};
          }
        }
        &.colorGreen__201d5 {
          background: #0000;
          border-color: #{ss(rgba(67, 181, 129, 0.3))};
          color: #{ss(#43b581)};
          &:hover:not(:disabled) {
            background: #0000;
            border-color: #{ss(rgba(67, 181, 129, 0.6))};
            color: #{ss(#43b581)};
          }
          &:active:not(:disabled) {
            background: #{ss(rgba(67, 181, 129, 0.1))};
            border-color: #{ss(#43b581)};
            color: #{ss(#43b581)};
          }
        }
        &.colorWhite__201d5 {
          background: #0000;
          border-color: rgba(255,255,255,.3);
          color: #fff;
          &:hover:not(:disabled) {
            background: #0000;
            border-color: rgba(255,255,255,.6);
            color: #fff;
          }
          &:active:not(:disabled) {
            background: rgba(255,255,255,.1);
            border-color: #fff;
            color: #fff;
          }
        }
      }
      .shineContainer__6a443 {display:none}
    }
  }
}