@use "funcs" as *;
@use "exps" as *;
@use "mixins" as *;
@use "chat/chat_textarea.scss";

@at-root {
  // floating sidebar
  .floating__01ae2 {
    z-index: 102;
  }
  // chat
  #app-mount .chat_f75fb0 {
    border-top: none;
    background: var(--bg-overlay-1, var(--background-primary));
    // header
    .title_f75fb0.container__9293f {
      .platform-osx & {
        -webkit-app-region: drag;
        &:after {
          content: "";
          position: absolute;
          top: 0;
          right: 0;
          width: calc(var(--dtm-16-header-button-spacing) + 16px);
          height: 56px;
          -webkit-app-region: no-drag;
          pointer-events: none;
          z-index: 999;
        }
      }
      .titleWrapper__9293f .title__9293f {
        line-height: 22px;
        font-size: 20px;
        font-weight: 700;
        letter-spacing: .8px;
        color: var(--dtm-16-chat-header-name-color);
        &:before {
          content: "#";
          margin-right: 2px;
          color: var(--dtm-16-chat-header-name-prefix);
          font-weight: 300;
        }
      }
      .children__9293f>div:not([class]):nth-child(2)+.titleWrapper__9293f .title__9293f:before {
        display: none;
      }
      .guildBreadcrumbContainer_f75fb0 {
        +.iconWrapper__9293f {
          display: none;
        }
      }
      .dot__9293f.divider__488b1 {display:none}
      // aka tag
      .akaBadge__488b1 {
        border-radius: 3px;
        box-shadow: none !important;
        background: #{ss(#737f8d)} !important;
        color: #fff;
        font-size: 10px;
        font-weight: 400;
        padding: 1px 3px;
        line-height: 1.4;
        font-size: 10px;
        display: block;
        position: relative;
        margin-left: 24px;
        overflow: visible;
        &:before {
          content: "";
          display: block;
          position: absolute;
          inset: -3px auto auto -12px;
          width: 1px;
          height: 22px;
          pointer-events: none;
          background: var(--dtm-16-header-separator);
        }
      }
      // search bar
      .search_c322aa {
        .searchBar_c322aa {
          background: var(--bg-overlay-3, var(--dtm-16-header-search-bar-bg));
          border-radius: 3px;
          height: 28px;
          padding-top: 2px;
          border: none;
          width: 144px;
          .DraftEditor-root {
            padding: 2px 2px 0;
            height: auto;
          }
          .public-DraftEditorPlaceholder-inner {
            font-weight: 500;
            color: var(--dtm-16-header-search-bar-placeholder);
          }
          .public-DraftEditor-content {
            font-weight: 500;
          }
          .iconContainer_fea832 {
            .icon_fea832 {
              width: 18px;
              height: 18px;
              margin-left: -3px;
              margin-top: -1px;
              &.visible_fea832 {
                color: var(--dtm-16-header-search-bar-icon);
                opacity: var(--dtm-16-header-search-bar-icon-opacity);
                &:hover {
                  opacity: var(--dtm-16-header-search-bar-icon-opacity-hover);
                }
              }
            }
          }
          .DraftEditor-root {
            margin-top: -2px;
            line-height: 24px;
            .DraftEditor-editorContainer {
              height: 24px;
            }
            .public-DraftEditor-content {
              height: 26px;
            }
          }
          .searchFilter_bd8186, .searchAnswer_bd8186 {
            height: 21px;
            background: var(--dtm-16-header-search-bar-tag-bg);
            color: var(--dtm-16-header-search-bar-tag-fg);
            box-sizing: border-box;
            font-weight: 500;
            border: none;
          }
          .searchFilter_bd8186 {border-radius: 2px 0 0 2px}
          .searchAnswer_bd8186 {border-radius: 0 2px 2px 0}
        }
        &.open_c322aa .searchBar_c322aa {
          width: 244px;
        }
      }
      // thread caret
      .caret__9293f {
        margin: 0;
        +.iconWrapper__9293f {
          display: none;
          +span+.titleWrapper__9293f {
            margin-left: 8px;
            >h2 {
              &:before {
                content: none;
              }
            }
          }
        }
      }
      .followButton_f75fb0 {
        padding: 0;
        button {
          padding: 5px;
        }
      }
    }
    // chat content
    .content_f75fb0 {
      border-left: none;
    }
    .chatContent_f75fb0 {
      background: none !important;
    }
    // top bars
    :is(.newMessagesBar__0f481, .topicsPillContainer__0f481, .newTopicsBarContainer__0f481) {
      top: 0;
      left: 0;
      right: 0;
      margin: 0 20px;
      box-shadow: none;
      border-radius: 0 0 3px 3px;
      border: none;
      background: var(--dtm-16-chat-bar-bg-blurple);
      width: auto;
      height: auto;
      min-height: 0;
      padding: 0;
      transition: background-color .2s;
      &:hover {
        background: var(--dtm-16-chat-bar-bg-blurple-hover);
      }
      &:active {
        height: 27px;
      }
      .barButtonMain__0f481 {
        padding: 6px 10px;
        font-size: 14px;
        line-height: 14px;
        color: #fff;
        font-weight: 400;
        height: 26px;
        // wtf is this shit
        >span[id] {
          all: unset;
          display: contents;
        }
        >span[id]>div[style] {
          all: unset !important;
          display: contents !important;
        }
        >span[id]>div[style]>div {
          all: unset;
          display: contents;
        }
      }
      .barButtonAlt__0f481 {
        padding: 6px 10px;
        height: 26px;
        box-sizing: border-box;
        background: none !important;
        color: rgba(255,255,255,.6);
        font-size: 12px;
        line-height: 14px;
        text-transform: uppercase;
        font-weight: 300;
        transition: color .2s;
        &:hover {color:#fff}
        .contents__201d5 {all:unset}
        svg {display:none}
      }
    }
    .topicsPillContainer__0f481 {
      background: var(--dtm-16-chat-bar-bg-gray);
      box-shadow: none;
      .topicsPillText__0f481 {
        padding: 6px 10px;
        font-size: 14px;
        line-height: 14px;
        color: #fff;
        font-weight: 400;
        height: 26px;
        box-sizing: border-box;
        transition: opacity .2s;
        opacity: .6;
        &:hover {
          opacity: 1;
        }
        .topicsPillTextUnselected__0f481, .newTopicsBarTextSelected__0f481, .topicsPillTextTitle__0f481 {
          all: unset;
        }
        .topicsPillSummaryIcon__0f481, .topicsPillDropdownCaret__0f481 {display:none}
      }
      .topicsPillCarets__0f481 {
        padding: 0;
        .topicsPillCaret__0f481 {
          border-radius: 3px;
          border: none;
          background: none;
          color: #fff;
          transition: opacity .2s;
          opacity: .6;
          &:hover {
            opacity: 1;
          }
        }
      }
      &:hover {
        background: var(--dtm-16-chat-bar-bg-gray-hover);
      }
    }
    .newTopicsBarContainer__0f481 {
      box-shadow: none;
      .newTopicsBarTopicSection__0f481 {
        margin: 0;
        .newTopicsBarTextSelected__0f481 {all:unset}
        .newTopicsBarTextClickable__0f481 {
          padding: 6px 10px;
          font-size: 14px;
          line-height: 14px;
          color: #fff;
          font-weight: 400;
          height: 26px;
          box-sizing: border-box;
          transition: opacity .2s;
          opacity: .6;
          &:hover {
            opacity: 1;
          }
          .newTopicsBarText__0f481 {
            all: unset;
          }
          .newTopicsBarIcon__0f481, .newTopicsBarCaret__0f481 {display:none}
        }
      }
    }
    // bottom bars
    @at-root .bottomBar__0f481:not(#\#) {
      bottom: 0;
      margin: 0 20px;
      box-shadow: none;
      border-radius: 3px 3px 0 0;
      border: none;
      background: var(--dtm-16-chat-bar-bg-gray);
      width: auto;
      height: auto;
      min-height: 0;
      padding: 0;
      transition: background-color .2s;
      &:hover {
        background: var(--dtm-16-chat-bar-bg-gray-hover);
      }
      &.messagesErrorBar__0f481 {
        background: var(--dtm-16-chat-bar-bg-red);
        &:hover {
          background: var(--dtm-16-chat-bar-bg-red-hover);
        }
      }
      &:active {
        bottom: -1px;
      }
      .barButtonMain__0f481 {
        padding: 6px 10px;
        font-size: 14px;
        line-height: 14px;
        color: #fff;
        font-weight: 400;
        height: 26px;
        min-height: 26px;
        box-sizing: border-box;
        ~.button_a22cb0 {
          padding: 6px 10px;
          height: 26px;
          background: none !important;
          color: rgba(255,255,255,.6);
          font-size: 12px;
          line-height: 14px;
          text-transform: uppercase;
          font-weight: 300;
          transition: color .2s;
          &:hover {color:#fff}
          :is(.buttonChildrenWrapper_a22cb0, .buttonChildren_a22cb0, span) {
            all: unset !important;
            white-space: nowrap !important;
          }
        }
      }
    }
    // forum
    .container_f369db {
      background: var(--background-primary);
      .card_f369db {
        .mainCard_f369db {
          border-radius: 3px;
          background: var(--deprecated-card-editable-bg);
          border: solid 1px var(--background-tertiary);
          box-shadow: none;
          &:not(.header_f369db):hover {
            background: var(--deprecated-card-bg);
          }
          .bodyMedia_faa96b {
            border-radius: 3px;
          }
          .footer_faa96b {
            .reaction_f8896c {
              margin-bottom: 0;
              &:last-child {
                margin-right: 0;
              }
            }
          }
        }
      }
      .headerRow_f369db {
        .mainCard_f369db {
          @if $experiment1 == 0 {
            background: var(--dtm-16-chat-textbox-bg);
            border: solid 2px var(--dtm-16-chat-textbox-border);
          }
          @if $experiment1 == 1 {
            border: none;
            border-radius: 5px;
            background: var(--dtm-16-quick-switcher-big-input-bg);
            box-shadow: var(--dtm-16-quick-switcher-big-input-bs);
          }
          .input__0ed4f {
            box-shadow: none;
            font-weight: 500;
            @if $experiment1 == 0 {color: var(--dtm-16-chat-textbox-attach-button-fg)}
            @if $experiment1 == 1 {color: var(--dtm-16-quick-switcher-big-input-fg)}
            &::placeholder {
              font-weight: 500;
              @if $experiment1 == 1 {color: var(--dtm-16-quick-switcher-big-input-placeholder)}
            }
          }
          .form_d9be46 {
            margin: 0;
            .scrollableContainer__74017 {
              border: none !important;
              background: none !important;
              .inner__74017 {
                padding: 0;
              }
            }
            .controlsContainer_d9be46 {
              .controls_d9be46 {
                gap: 20px;
              }
              .button_a22cb0.sm_a22cb0 {
                &.secondary_a22cb0:not(.hasText_a22cb0) {
                  --this-stupid-buttons-label: attr(aria-label);
                  padding: 4px 0;
                  border-bottom: solid 2px #0000;
                  border-radius: 0;
                  background: none !important;
                  .buttonChildrenWrapper_a22cb0 {
                    padding: 0;
                    min-height: 0;
                    height: auto;
                  }
                  &:is(:hover,:active,:focus) {
                    border-bottom-color: currentColor;
                  }
                  .buttonChildren_a22cb0 {
                    svg {display:none}
                    font-size: 16px;
                    font-weight: 500;
                    &:after {
                      content: var(--this-stupid-buttons-label);
                    }
                  }
                }
                &.primary_a22cb0 {
                  padding: 10px 20px;
                  min-width: 0;
                  min-height: 0;
                  width: auto;
                  height: auto;
                  .buttonChildrenWrapper_a22cb0 {
                    padding: 0;
                    min-height: 0;
                    height: auto;
                  }
                  .buttonChildren_a22cb0 {
                    font-size: 16px;
                    font-weight: 500;
                    svg {display:none}
                    span {font-size:inherit;font-weight:inherit}
                  }
                }
              }
            }
          }
          .cooldownWrapper__7391f {
            color: var(--dtm-16-chat-typing);
            >svg, >div[data-text-variant="text-sm/normal"] {
              color: inherit !important;
            }
          }
          .uploadInput__94439 {
            border-radius: 3px;
            background: var(--background-primary);
          }
          .attachmentContainer__54ab5 {
            height: 78px;
            border-radius: 3px;
            background: var(--background-primary);
          }
          .popout__94439 {
            border-radius: 3px;
            background: var(--background-secondary);
            :is(.upload_aa605f, .uploadInput__94439) {
              border-radius: 3px;
              background: var(--background-primary);
              border: none;
            }
            .icon__41ea0 {
              background-size: 48px;
            }
          }
        }
        .matchingPostsRow_f369db {
          border-radius: 0;
          border: none;
          border-bottom: solid 1px var(--background-accent);
          background: none;
        }
        .tagsContainer_f369db {

        }
      }
      // post guidelines
      .container_ca49a1 {
        background: none;
        border-radius: 0;
        border: none;
        border-bottom: solid 1px var(--background-modifier-accent);
        padding: 0 0 16px;
        .descriptionContainer_ca49a1 {
          background: none;
          border-radius: 0;
          padding: 0;
          margin-top: 4px;
        }
      }
      // tags
      @at-root :root {
        .pill_a2c9e8 {
          &.clickable_a2c9e8 {
            background: none;
            border-radius: 3px;
            border-color: #{ss(rgba(114, 137, 218, 0.3))};
            color: var(--blurple);
            transition: background-color .2s ease, border-color .2s ease, color .2s ease;
            &:hover:not(.disabled_a2c9e8) {
              background: #0000;
              border-color: #{ss(rgba(114, 137, 218, 0.6))};
              color: var(--blurple);
            }
            &:active:not(.disabled_a2c9e8) {
              background: #{ss(rgba(114, 137, 218, 0.1))};
              border-color: var(--blurple);
              color: var(--blurple);
            }
            &.selected_a2c9e8 {
              background: var(--blurple);
              border-color: var(--blurple);
              color: #fff;
              &:hover:not(.disabled_a2c9e8), &:active:not(.disabled_a2c9e8) {
                background: var(--blurple-hover);
                border-color: var(--blurple-hover);
                color: #fff;
              }
            }
          }
          &.small_a2c9e8 {
            border-radius: 3px;
            background: var(--deprecated-card-editable-bg);
            border: solid 1px var(--background-tertiary);
          }
        }
      }
      // filter modal
      @at-root :root .container__5808f {
        border-radius: 3px;
        background: var(--background-secondary);
        border: none;
        box-shadow: var(--elevation-stroke), var(--elevation-high);
        padding: 0;
        .header__5808f {
          padding: 8px 8px 0;
        }
        .tagContainer__5808f {
          padding: 0 8px;
        }
        .separator__5808f {
          margin: 8px 0 0;
        }
        .button_a22cb0  {
          margin: 8px;
          padding: 0;
          height: auto;
          min-height: 0;
        }
      }
    }
    // forum action bar
    @at-root .container__34c2c:not(#\#) {
      background: var(--background-primary);
      border-top: solid 1px var(--background-secondary-alt);
      border-bottom: solid 1px var(--background-secondary-alt);
      &.header__34c2c {
        box-shadow: none;
      }
      +.divider_ee23ac {
        background: var(--background-primary);
      }
      .buttons__34c2c {
        --prefer-16px-icons: true;
      }
      .reactionBtn_f8896c {
        border: none;
        padding: 0;
        min-width: 0;
        visibility: visible !important;
        transition: .18s opacity;
        opacity: 0;
        margin: 0;
        padding-left: 0.25rem;
        padding-right: 0.25rem;
        background: none !important;
        &.active_f8896c {opacity: 1 !important}
        svg path {
          fill: var(--dtm-16-context-menu-item-fg);
          d: path("M21.9499 11C21.9831 11.3308 22 11.6646 22 12C22 17.5228 17.5228 22 12 22C9.34784 22 6.8043 20.9464 4.92893 19.0711C3.05357 17.1957 2 14.6522 2 12C2 6.5 6.47 2 12 2C12.3354 2 12.6692 2.01685 13 2.05009V4.06272C12.67 4.02115 12.3361 4 12 4C7.58172 4 4 7.58172 4 12C4 16.4183 7.58172 20 12 20C16.4183 20 20 16.4183 20 12C20 11.6639 19.9789 11.33 19.9373 11H21.9499ZM12 17.5C14.33 17.5 16.3 16.04 17.11 14H6.89C7.69 16.04 9.67 17.5 12 17.5ZM15.5 11C16.3284 11 17 10.3284 17 9.5C17 8.67157 16.3284 8 15.5 8C14.6716 8 14 8.67157 14 9.5C14 10.3284 14.6716 11 15.5 11ZM8.5 11C9.32843 11 10 10.3284 10 9.5C10 8.67157 9.32843 8 8.5 8C7.67157 8 7 8.67157 7 9.5C7 10.3284 7.67157 11 8.5 11Z M21 3V0H19V3H16V5H19V8H21V5H24V3H21Z");
        }
        &:is(:hover, :active, .active_f8896c) svg path {fill: var(--dtm-16-context-menu-item-fg-hover)}
      }
      &:hover .reactionBtn_f8896c {
        opacity: 1;
      }
    }
    // messages
    .messagesWrapper__36d07 {
      @include mask(none !important);
      >.scroller__36d07 {
        @include mask(none !important);
        &::-webkit-scrollbar {
          width: 14px;
          height: 14px;
          &-track {
            margin-bottom: 0 !important;
            border-width: 3px;
            border-radius: 8px;
          }
          &-track-piece, &-thumb {
            border-width: 3px;
          }
          &-thumb {
            border-color: #0000 !important;
            background-color: var(--dtm-16-scrollbar-thumb-brand) !important;
            background-clip: padding-box !important;
          }
          @media (forced-colors: active) {
            &-track-piece {
              background: none !important;
              border: none !important;
            }
            & {
              background: ButtonFace !important;
              border: solid 1px ButtonText !important;
              border-radius: 8px;
            }
            &-thumb {
              border-color: transparent !important;
              forced-color-adjust: none !important;
            }
          }
        }
      }
    }
    .chatGradientBase__36d07 {
      --background-base-lower: var(--background-primary);
      background: var(--bg-overlay-1, var(--background-primary));
      mask: linear-gradient(to bottom, #0000, #000);
      transition: .2s opacity;
      &.chatTypingGradientAtBottom__36d07 {
        opacity: 0;
      }
    }
    @container style(--dtm-16-plink-ctb: v2016) or
    style(--dtm-16-plink-ctb: v2017p3) or
    style(--dtm-16-plink-ctb: v2017) or
    style(--dtm-16-plink-ctb: v2019) or
    style(--dtm-16-plink-ctb: v2021) {
      @at-root {
        .chatGradientBase__36d07 {
          display: none !important;
        }
        .scrollerContent__36d07 {
          padding-bottom: 0;
        }
      }
    }
    // guide
    .title__7449f {
      border-top: none;
    }
    .homeContainer__7449f {
      .card__73069, .row_d13feb {
        border: solid 1px var(--background-tertiary);
        border-radius: 3px;
        background: var(--deprecated-card-editable-bg);
      }
      .headerName__553a5 {
        .flowerStarContainer__3e3b0 {
          .flowerStar__3e3b0 path {
            fill: var(--background-accent);
          }
          .childContainer__3e3b0 {
            svg {
              width: 24px;
              height: 24px;
            }
          }
        }
      }
    }
  }
  :is(.page__5e434, .chat_f75fb0) {
    // chat sidebar
    .chatLayerWrapper__01ae2 {
      .container__01ae2:where(:not(.chatTarget__01ae2)) {
        contain: none;
        position: relative;
        z-index: 103;
        border-radius: 0;
        border: none;
        // header
        .container__9293f.themed__9293f {
          .iconWrapper__9293f, .titleWrapper__9293f {
            display: flex !important;
          }
          .title__9293f {
            line-height: 22px;
            font-size: 20px;
            font-weight: 700;
            letter-spacing: .8px;
            color: var(--dtm-16-chat-header-name-color);
          }
        }
      }
      .chatContent_f75fb0 {
        background: none;
      }
      .formSection_fb64c9 {
        .sectionTitle__7bffb {
          label, span {
            @include dtm16_eyebrow;
          }
        }
        .checkboxWrapper_f525d3 {
          .input_f525d3 {
            width: 18px !important;
            height: 18px !important;
          }
          .checkbox_f525d3 {
            width: 18px !important;
            height: 18px !important;
            border-radius: 2px;
            box-sizing: border-box;
            border: solid 2px var(--dtm-16-checkbox-border-off);
            transition: .2s;
            svg {
              display: none;
            }
            &:after {
              content: "";
              position: absolute;
              top: 3px;
              left: 6px;
              display: table;
              width: 4px;
              height: 10px;
              border-radius: 0;
              border: 2px solid #0000;
              border-top-width: 0;
              border-left-width: 0;
              transform: rotate(45deg);
            }
            &.checked_f525d3 {
              border-color: var(--blurple);
              &:after {
                border-color: #fff;
              }
            }
          }
        }
      }
    }
    &.threadSidebarOpen_f75fb0 {
      border-radius: 0;
      border-right: none !important;
      --dtm-16-header-button-spacing: 0px;
      --dtm-16-titlebar-button-count: 0;
      ~.guildSidebar_f75fb0 {
        z-index: 103;
        -webkit-app-region: no-drag;
        div.profileThemedContainer__656be {
          border-radius: 0;
        }
      }
    }
    >.page_c791b2+div:not([class]), >.sidebar__6b102 {
      z-index: 103;
    }
  }
  // new thread sidebar
  .container_fb64c9.container_fb64c9 {
    contain: none;
    position: relative;
    z-index: 103;
    background: var(--bg-overlay-1, var(--background-primary));
    .container__9293f {
      border-bottom: none !important;
      height: 56px !important;
    }
  }
  // empty page?
  #app-mount .page__5e434 {
    background: var(--background-primary);
  }
  // members tab
  :root .page_c791b2 {
    background: var(--bg-overlay-1, var(--background-primary)) !important;
    .header_c791b2 {
      .tabsContainer_c791b2 {
        .item_aa8da2 {
          min-width: 56px;
          line-height: 18px;
          font-size: 14px;
          padding: 2px 8px;
          margin: 0 8px;
          min-height: 0;
          border-radius: 4px;
          text-align: center;
          transition: 0s;
          color: var(--dtm-16-header-tab-fg);
          .numberBadge__2b1f5 {
            background: var(--red) !important;
            border-radius: 3px;
            min-width: 0;
            width: auto !important;
            box-shadow: 0 1px 0 rgba(0,0,0,.25),inset 0 1px 0 hsla(0,0%,100%,.15);
            text-shadow: 0 1px 0 rgba(0,0,0,.25);
            color: #fff;
            font-size: 12px;
            font-weight: 500;
            line-height: 12px;
            padding: 3px 5px !important;
          }
          &:hover {
            color: var(--dtm-16-header-tab-fg);
            background: var(--dtm-16-header-tab-hover-bg);
          }
          &.selected_aa8da2 {
            background: var(--dtm-16-header-tab-active-bg);
            color: var(--dtm-16-header-tab-active-fg);
            .numberBadge__2b1f5 {
              background: var(--dtm-16-header-tab-active-fg) !important;
              text-shadow: none;
              box-shadow: none;
              color: var(--dtm-16-header-tab-active-bg);
            }
          }
        }
      }
    }
    .container_c791b2 {
      padding: 0;
      .table_b4ec0b {
        border-top: none;
        padding-left: 0;
        width: calc(100vw - 320px);
      }
      .mainTableContainer__09a38 {
        border-radius: 0;
        border: none;
      }
      .searchHeaderContainer__98d1c {
        padding-bottom: 0;
        .searchHeader__98d1c {
          h2 {
            // font-size: 11px;
            // font-weight: 600;
            // line-height: 13px;
            // text-transform: uppercase;
            // color: var(--dtm-16-settings-eyebrow-color) !important;
            display: none;
          }
          .searchBar__98d1c {
            border: none;
            border-radius: 4px;
            font-size: 12px;
            padding: 0;
            height: auto;
            background: var(--dtm-16-classic-popout-searchbar-bg);
            .inner_a45028 {
              padding: 2px;
              border-radius: 4px;
              background: var(--dtm-16-classic-popout-searchbar-bg-inner);
              border: solid 1px var(--dtm-16-classic-popout-searchbar-border);
            }
            .input_a45028 {
              padding: 5px 7px;
              font-weight: 400;
              font-size: 12px;
              line-height: 15px;
              border: none;
              &::placeholder {
                color: var(--dtm-16-classic-popout-searchbar-placeholder);
              }
            }
            .iconLayout__0c4c4 {
              margin-right: 6px;
              .icon__0c4c4.visible__0c4c4 {
                opacity: .3;
              }
            }
          }
        }
      }
      .loaderContainer__09a38 {
        width: 32px;
        height: 32px;
        position: absolute;
        top: 8px;
        left: 8px;
        border-radius: 0;
        .loaderBar__09a38 {
          animation: spinner-chasing-dots-rotate 2s infinite linear;
          width: 32px !important;
          height: 32px !important;
          background: none;
          &:before, &:after {
            content: "";
            width: 60%;
            height: 60%;
            display: inline-block;
            position: absolute;
            top: 0;
            background: var(--blurple);
            border-radius: 50%;
            animation: spinner-chasing-dots-bounce 2s infinite ease-in-out;
          }
          &:after {
            top: unset;
            bottom: 0;
            animation-delay: -1s;
          }
          &[style="height: 0px;"] {
            display: none;
          }
        }
      }
      .tableHeaderRow__9dd6b {
        height: 56px;
        .tableHeaderCellContainer__9dd6b {
          padding-top: 0;
          padding-bottom: 0;
        }
        .headerCell_ce03f4 {
          padding-top: 0;
          padding-bottom: 0;
        }
        &:first-child:after {
          top: unset;
          bottom: 0;
          box-shadow: inset 0 -1px var(--dtm-16-friends-list-table-header-border);
        }
        .filterIcon__9dd6b {
          path {
            d: path("M7 12.001C7 10.8964 6.10457 10.001 5 10.001C3.89543 10.001 3 10.8964 3 12.001C3 13.1055 3.89543 14.001 5 14.001C6.10457 14.001 7 13.1055 7 12.001ZM14 12.001C14 10.8964 13.1046 10.001 12 10.001C10.8954 10.001 10 10.8964 10 12.001C10 13.1055 10.8954 14.001 12 14.001C13.1046 14.001 14 13.1055 14 12.001ZM19 10.001C20.1046 10.001 21 10.8964 21 12.001C21 13.1055 20.1046 14.001 19 14.001C17.8954 14.001 17 13.1055 17 12.001C17 10.8964 17.8954 10.001 19 10.001Z");
            transition: fill .2s;
          }
        }
        .tableHeaderCell__9dd6b {
          .eyebrow_cf4812 {
            transition: color .2s;
            color: var(--dtm-16-friends-list-table-header-color) !important;
          }
          &.tableHeaderCellWithFilter__9dd6b:is(:hover, [aria-expanded="true"]) {
            .eyebrow_cf4812 {
              color: var(--header-secondary) !important;
            }
            .filterIcon__9dd6b path {
              fill: var(--text-normal);
            }
          }
        }
      }
      .memberRowContainer__71c22 {
        &.loading__71c22 {
          filter: none;
          opacity: .2 !important;
          &:after {display:none}
        }
        .smallCol__71c22 {
          padding-right: 0;
          &:last-of-type {
            padding-right: 8px;
          }
        }
        .inviteContainer__23437 {
          overflow: hidden;
          white-space: wrap;
          flex-flow: wrap;
          display: block;
          svg {margin-right:4px}
          svg, div {
            display: inline;
          }
        }
        .actionCell__71c22 {
          .button__71c22 {
            width: 36px;
            height: 36px;
            border-radius: 3px;
            background-color: var(--dtm-16-friends-list-table-action-bg);
            transition: background-color .2s;
            &:hover {
              background-color: var(--dtm-16-friends-list-table-action-bg-hover);
            }
          }
        }
      }
      .checkbox__09aca {
        --checkbox-background-default: #0000;
        width: 18px !important;
        height: 18px !important;
        border-radius: 2px;
        border: solid 2px var(--dtm-16-checkbox-border-off);
        position: relative;
        transition: background-color .2s, border-color .2s;
        svg {display:none}
        &:after {
          content: "";
          position: absolute;
          top: 0;
          left: 4px;
          display: table;
          width: 4px;
          height: 10px;
          border-radius: 0;
          border: 2px solid #fff;
          border-top-width: 0;
          border-left-width: 0;
          transform: rotate(45deg);
          transition: opacity .2s;
          opacity: 0;
        }
        &.checked__09aca {
          border-color: var(--blurple);
          background: var(--blurple);
          &:after {
            opacity: 1;
          }
        }
      }
    }
    .saveNoticeContainer__7796e {
      .container__9a9f9 {
        background: var(--background-secondary);
        border: none;
        border-radius: 3px;
        box-shadow: var(--elevation-stroke), var(--elevation-high);
        .button_a22cb0 {
          .contents__201d5 {
            div[data-text-variant="text-sm/semibold"] {
              all: inherit;
            }
          }
        }
      }
    }
  }
  // channel browser
  :root .chat_f75fb0 {
    .header__0b563 {
      background: var(--bg-overlay-1, var(--background-primary)) !important;
    }
    .container__0b563 {
      background: var(--bg-overlay-1, var(--background-primary)) !important;
      .pageBody__41ed7 {
        background: none;
        padding: 0;
        .header__41ed7 {
          margin-top: 8px;
        }
      }
      .tabBar__0b563 {
        max-width: unset;
        border-bottom-color: var(--dtm-16-mini-tabs-border);
        gap: 12px;
        padding-top: 0;
        .item_aa8da2 {
          padding-bottom: 15px;
          color: var(--dtm-16-mini-tab-color);
          font-size: 14px;
          line-height: 14px;
          font-weight: 500;
          margin-bottom: -1px;
          margin-left: 0;
          margin-right: 0;
          text-transform: capitalize;
          border-bottom: solid 2px #0000 !important;
          &:after {display:none}
          &:hover {
            border-color: currentColor !important;
          }
          &.selected_aa8da2 {
            color: var(--dtm-16-mini-tab-selected-color);
            border-color: currentColor !important;
          }
          @media (forced-colors: active) {
            margin-bottom: 0;
          }
        }
        .tabIcon__6f81c {display:none}
      }
    }
    .header__41ed7 {
      margin-left: 20px;
      margin-right: 20px;
    }
    .search__41ed7 {
      border: none;
      border-radius: 4px;
      font-size: 12px;
      padding: 0;
      height: auto;
      background: var(--dtm-16-classic-popout-searchbar-bg);
      .inner_a45028 {
        padding: 2px;
        border-radius: 4px;
        background: var(--dtm-16-classic-popout-searchbar-bg-inner);
        border: solid 1px var(--dtm-16-classic-popout-searchbar-border);
      }
      .input_a45028 {
        padding: 5px 7px;
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        border: none;
        &::placeholder {
          color: var(--dtm-16-classic-popout-searchbar-placeholder);
        }
      }
      .iconLayout__0c4c4 {
        margin-right: 6px;
        .icon__0c4c4.visible__0c4c4 {
          opacity: .3;
        }
      }
    }
    .browser__41ed7 {
      .content__99f8c {
        padding-left: 4px;
        padding-right: 4px;
      }
      .categoryRow_e4503a {
        padding-left: 20px;
        padding-right: 4px;
        .categoryText_e4503a {
          @include dtm16_eyebrow;
        }
      }
      .channelRow_e4503a {
        margin-left: 6px;
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 3px;
        border-color: #0000;
        background: none;
        position: relative;
        &:hover {
          background: var(--dtm-16-friends-list-table-item-hover-bg);
          box-shadow: var(--dtm-16-friends-list-table-item-hover-bs);
          z-index: 2;
        }
        &:not(.lastChannel_e4503a) {
          &:not(:hover) {
            &:before {
              content: "";
              position: absolute;
              inset: auto 10px -2px 10px;
              pointer-events: none;
              border-bottom: solid 1px var(--background-modifier-accent);
            }
          }
        }
        .checkboxWrapper_f525d3 {
          .input_f525d3 {
            width: 18px !important;
            height: 18px !important;
          }
          .checkbox_f525d3 {
            width: 18px !important;
            height: 18px !important;
            border-radius: 2px;
            box-sizing: border-box;
            border: solid 2px var(--dtm-16-checkbox-border-off);
            transition: .2s;
            position: relative;
            svg {
              display: none;
            }
            &:after {
              content: "";
              position: absolute;
              top: 0;
              left: 4px;
              display: table;
              width: 4px;
              height: 10px;
              border-radius: 0;
              border: 2px solid #0000;
              border-top-width: 0;
              border-left-width: 0;
              transform: rotate(45deg);
            }
            &.checked_f525d3 {
              border-color: var(--blurple);
              &:after {
                border-color: #fff;
              }
            }
          }
        }
        .channelInfo_e4503a {
          .channelSubtitle_e4503a {
            color: var(--text-muted);
          }
        }
        .viewChannelButtonWrapper_e4503a {
          .overlay-primary__6af3a {
            background: var(--green);
            &:not([disabled]) {
              &:hover {background: var(--green-hover)}
              &:active {background: var(--green-active)}
            }
            [data-text-variant="text-sm/medium"] {
              color: #fff;
            }
          }
        }
      }
    }
  }
  // search
  @at-root {
    // search autocomplete
    .container__16eb0 {
      background: var(--background-primary);
      border: none;
      border-radius: 5px;
      --search-popout-option-fade: linear-gradient(90deg,#0000,var(--background-primary) 80%);
      .theme-light & {box-shadow: 0 2px 6px rgba(0,0,0,.2)}
      .theme-dark & {box-shadow: 0 2px 10px 0 rgba(0,0,0,.2)}
      @container style(--dtm-16-oreo: true) {
        --background-primary: #fff;
        --background-secondary: #{ss(#fbfbfb)};
        --background-secondary-alt: #{ss(#fbfbfb)};
        --header-primary: #{ss(#060607)};
        --header-secondary: #{ss(#87909c)};
        --interactive-normal: #{ss(#4f5660)};
        --interactive-hover: #{ss(#2e3338)};
        --interactive-active: #{ss(#060607)};
        --text-normal: #{ss(#2e3338)};
        --text-muted: #{ss(#747f8d)};
        --text-link: #{ss(#00b0f4)};
        --text-subtle: var(--text-muted);
        --text-default: var(--text-normal);
        --text-strong: var(--text-muted);
        .react-datepicker {
          --primary-630: #dcddde;
        }
      }
      .groupHeader__971b5 {
        @include dtm16_eyebrow;
      }
      .queryContainer__55c99 {
        padding: 20px;
        &.focused__55c99 {
          .theme-light & {background: #f9f9f9}
          .theme-dark & {background: #{ss(#2f3136)}}
        }
        @container style(--dtm-16-oreo: true) {
          background: #fff !important;
          border-bottom-color: #ebebeb !important;
          --dtm-16-key-border: #{ss(#2f4777)};
          --dtm-16-key-bg: #fff;
          --dtm-16-key-shadow: inset 0 -4px 0 #{ss(#e8edf9)};
          --dtm-16-key-color: #{ss(#2f4777)};
          --dtm-16-key-active-border: #000;
          --dtm-16-key-active-bg: #fff;
          --dtm-16-key-active-shadow: inset 0 -2px 0 #{ss(#e8edf9)};
          --dtm-16-key-active-color: #000;
          &.focused__55c99 {background: #f9f9f9 !important}
          .queryText__55c99 {
            color: #{ss(#caccce)};
            strong {color: #{ss(#4f545c)}}
          }
        }
        .key__61c93 span {background:none!important;color:var(--dtm-16-key-color)}
        .queryText__55c99 strong {
          color: var(--text-normal);
        }
      }
      .item__971b5 {
        box-shadow: none;
        .theme-light & {
          &:hover, &[aria-selected=true] {background: #f3f3f3;}
          &:hover:after, &[aria-selected=true]:after {background: linear-gradient(to right, #0000, #f3f3f3 50%)}
          .plusIcon__16eb0 {
            background-color: #{ss(#99aab5)};
            clip-path: path("M10 8V4H8V8H4V10H8V14H10V10H14V8H10Z");
            polygon {display:none}
          }
          .filter__16eb0, .displayedNick__16eb0 {color: #{ss(#4f545c)}}
          .answer__16eb0, .displayUsername__16eb0 {color: #{ss(#caccce)}}
        }
        .theme-dark & {
          &:hover, &[aria-selected=true] {background: #{ss(#2f3136)}}
          &:hover:after, &[aria-selected=true]:after {background: linear-gradient(to right, #0000, #{ss(#2f3136)} 50%)}
          .plusIcon__16eb0 {
            background-color: #{ss(#99aab5)};
            clip-path: path("M10 8V4H8V8H4V10H8V14H10V10H14V8H10Z");
            polygon {display:none}
          }
          .filter__16eb0, .displayedNick__16eb0 {color: #{ss(#caccce)}}
          .answer__16eb0, .displayUsername__16eb0  {color: #{ss(#72767d)}}
        }
        @container style(--dtm-16-oreo: true) {
          &:hover, &[aria-selected=true] {background: #f3f3f3!important}
          &:hover:after, &[aria-selected=true]:after {background: linear-gradient(to right, #0000, #f3f3f3 50%)!important}
          .plusIcon__16eb0 {background-color: #{ss(#99aab5)}!important}
          .filter__16eb0, .displayedNick__16eb0 {color: #{ss(#4f545c)}!important}
          .answer__16eb0, .displayUsername__16eb0 {color: #{ss(#caccce)}!important}
        }
      }
      .itemContainer__8de16 {
        background: #0000 !important;
        .item__8de16 {
          border-radius: 3px;
        }
        &[aria-selected="true"], &:hover {
          .item__8de16 {
            .itemIcon__8de16 {
              color: var(--text-normal);
            }
            .theme-light & {
              background: #f3f3f3;
              --text-normal: #{ss(#4f545c)};
              --text-muted: #{ss(#caccce)};
            }
            .theme-dark & {
              background: #{ss(#2f3136)};
              --text-normal: #{ss(#caccce)};
              --text-muted: #{ss(#72767d)};
            }
            @container style(--dtm-16-oreo: true) {
              background: #f3f3f3 !important;
              --text-normal: #{ss(#4f545c)} !important;
              --text-muted: #{ss(#caccce)} !important;
            }
          }
        }
      }
      .searchLearnMore__16eb0, .searchClearHistory__16eb0 {
        color: #{ss(#99aab5)};
        opacity: .8;
        transition: .18s opacity;
        &:hover {opacity: 1}
      }
      .searchLearnMore__16eb0 path {
        d: path("M11 18h2v-2h-2v2Zm1-16C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2Zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8Zm0-14c-2.21 0-4 1.79-4 4h2c0-1.1.9-2 2-2s2 .9 2 2c0 2-3 1.75-3 5h2c0-2.25 3-2.5 3-5 0-2.21-1.79-4-4-4Z");
      }
      // delete
      [d="M5.06 7a1 1 0 0 0-1 1.06l.76 12.13a3 3 0 0 0 3 2.81h8.36a3 3 0 0 0 3-2.81l.75-12.13a1 1 0 0 0-1-1.06H5.07ZM11 12a1 1 0 1 0-2 0v6a1 1 0 1 0 2 0v-6Zm3-1a1 1 0 0 1 1 1v6a1 1 0 1 1-2 0v-6a1 1 0 0 1 1-1Z"] {
        d: path("M10 10H2v2h8zm4-4H2v2h12zm4.4 9 2.8-2.8-1.4-1.4-2.8 2.8-2.8-2.8-1.4 1.4 2.8 2.8-2.8 2.8 1.4 1.4 2.8-2.8 2.8 2.8 1.4-1.4zM2 16h8v-2H2z");
      }
    }
    // results wrapper
    // search results page
    .searchResultsWrap_a98f3b {
      .searchHeader_ae7890 {
        background: var(--background-secondary);
        box-shadow: var(--elevation-low);
        border-bottom: none;
        height: 48px;
        padding: 0 20px;
        .searchHeaderTabList_ae7890 {
          .item_aa8da2 {
            padding: 15px 8px;
            border-radius: 0;
            background: none !important;
            color: var(--text-normal);
            font-size: 14px;
            &:hover, &.selected_aa8da2, &:active {
              background: none;
              box-shadow: inset 0 -2px var(--interactive-active);
              color: var(--interactive-active);
            }
          }
        }
        .totalResults_ae7890 div[data-text-variant="text-md/medium"] {
          font-weight: 400;
          font-size: 14px;
          color: var(--text-normal);
        }
      }
      .button__80bf8 {
        .theme-light & {background:rgba(115,127,141,.6);color:#ebebeb}
        .theme-dark & {background:#535559;color:rgba(255,255,255,.6)}
        color: var(--interactive-normal);
        padding: 2px 8px;
        height: 20px;
      }
      .pageControl_c15210 {
        .roundButton-2_R5PN, .pageButton_c15210 {
          border-radius: 3px;
          transition: .3s;
          border: solid 1px #0000;
          color: var(--interactive-active);
          &:hover {
            border: solid 1px var(--interactive-muted);
            background: none;
          }
          &:is(:active, .activeButton_c15210) {
            background: none;
            border: solid 1px var(--interactive-active);
          }
        }
      }
      .channelNameContainer_a7e67f:after {
        content: "";
        display: block;
        width: 100%;
        flex: 1;
        height: 1px;
        margin-left: 8px;
        background: var(--background-modifier-accent);
      }
      .scroller_a98f3b {
        &::-webkit-scrollbar {
          width: 14px;
          &-track, &-thumb {
            border-width: 3px;
            border-radius: 16px;
          }
        }
      }
      @if $legacy_experiment18 == 0 {
        .searchResult__80bf8 {
          background: var(--background-primary);
          border: solid 2px var(--dtm-16-classic-popout-message-group-border);
          border-radius: 4px;
          transition: border-color .2s;
          &:hover {
            border-color: var(--dtm-16-classic-popout-message-group-border-hover);
          }
        }
      }
      @if $legacy_experiment18 == 1 {
        .searchResult__80bf8 {
          border-radius: 4px;
          transition: .17s box-shadow;
          &:hover {
            box-shadow: var(--elevation-medium);
          }
        }
      }
    }
  }
  // we do a little trolling
  @at-root {
    .bar_c38106:not(.systemBar_c38106) {
      z-index: 2;
    }
  }
  // server boosts
  @at-root {
    .contentContainer__89463 {
      background: var(--background-primary);
      .powerupsContainer__89463 {
        &::-webkit-scrollbar {
          width: 14px;
          height: 14px;
          &-track {
            margin-bottom: 0 !important;
            border-width: 3px;
            border-radius: 8px;
          }
          &-track-piece, &-thumb {
            border-width: 3px;
            border-radius: 8px;
          }
          @media (forced-colors: active) {
            &-track-piece {
              background: none !important;
              border: none !important;
            }
            & {
              background: ButtonFace !important;
              border: solid 1px ButtonText !important;
              border-radius: 8px;
            }
            &-thumb {
              border-color: transparent !important;
              forced-color-adjust: none !important;
            }
          }
        }
        .powerupsSection__89463 {
          .powerupHorizontalPadding__89463 {
            [data-text-variant="heading-lg/semibold"] {
              font-size: 14px;
              line-height: 16px;
            }
            [data-text-variant="text-sm/medium"] {
              font-size: 12px;
              line-height: 14px;
            }
          }
        }
        :is(.card__823e1, .container__5573a) {
          border-radius: 3px;
          background: var(--deprecated-card-editable-bg);
          border: solid 1px var(--background-tertiary);
        }
        .perkRow__823e1 {
          [d="M5.25 2A3.25 3.25 0 0 0 2 5.25v2.5C2 9.55 3.46 11 5.25 11h2.5C9.55 11 11 9.54 11 7.75v-2.5C11 3.45 9.54 2 7.75 2h-2.5ZM5.25 13A3.25 3.25 0 0 0 2 16.25v2.5C2 20.55 3.46 22 5.25 22h2.5c1.8 0 3.25-1.46 3.25-3.25v-2.5C11 14.45 9.54 13 7.75 13h-2.5ZM13 5.25C13 3.45 14.46 2 16.25 2h2.5C20.55 2 22 3.46 22 5.25v2.5c0 1.8-1.46 3.25-3.25 3.25h-2.5A3.25 3.25 0 0 1 13 7.75v-2.5ZM16.25 13A3.25 3.25 0 0 0 13 16.25v2.5c0 1.8 1.46 3.25 3.25 3.25h2.5c1.8 0 3.25-1.46 3.25-3.25v-2.5c0-1.8-1.46-3.25-3.25-3.25h-2.5Z"] {
            d: path("M17 6V6.999H7C5.896 6.999 5 7.895 5 8.999V16H3C1.895 16 1 15.104 1 14V6C1 4.896 1.895 4 3 4H15C16.104 4 17 4.896 17 6ZM7 10.999C7 9.89502 7.896 8.99902 9 8.99902H21C22.104 8.99902 23 9.89502 23 10.999V18.999C23 20.103 22.104 20.999 21 20.999H9C7.896 20.999 7 20.103 7 18.999V10.999ZM11.828 14.462L9 18.999H21L17.023 12.618L13.85 17.706L11.828 14.462Z");
          }
        }
      }
      .sidebarContainer__89463 {
        .contentContainer__58c46 {
          gap: 0;
          .container__3f864 {
            border-radius: 0;
            border: none;
            background: none;
            box-shadow: none;
            padding: 8px 0;
            +.container__3f864 {
              border-left: solid 1px var(--background-modifier-accent);
            }
          }
        }
        .boostButton__58c46 {
          border-radius: 3px;
          background: var(--dtm-16-button-filled-primary-bg);
          &:hover:not(:disabled) {background: var(--dtm-16-button-filled-primary-bg-hover)}
          &:active:not(:disabled) {background: var(--dtm-16-button-filled-primary-bg-active)}
          min-height: 36px;
          height: 36px;
          padding: 0;
          .boostButtonIcon__58c46 {
            display: none;
          }
        }
      }
    }
  }
}
