#app-mount {
  .channelBottomBarArea_f75fb0 .channelTextArea__74017 {
    html.custom-theme-background.theme-dark & {background: var(--bg-overlay-2, none) !important}
    html.custom-theme-background.theme-light & {background: var(--bg-overlay-3, none) !important}
    
  }
  .panels__5e434 {
    :is(.container__37e49 .buttons__37e49, .container_e131a9 .voiceButtonsContainer_e131a9, .activityPanel__5e434 .panelButtonContainer__4cd01) {
      button {
        html.custom-theme-background & {background: none}
        html.custom-theme-background.theme-light & {background: rgba(255 255 255/.25)!important}
      }
      >button:not(:last-child), .micButtonParent__37e49>button:first-child {
        html.custom-theme-background.theme-dark & {border-right: solid 1px rgba(0 0 0/.5) !important}
        html.custom-theme-background.theme-light & {border-right: solid 1px rgba(255 255 255/.75) !important}
      }
      button:active {
        html.custom-theme-background.theme-dark & {background: rgba(0 0 0/.2)}
        html.custom-theme-background.theme-light & {background: rgba(255 255 255/.75) !important}
      }
    }
  }
  .standardSidebarView__23e6b {
    .sidebar__23e6b {
      html.custom-theme-background & {
        background: var(--bg-overlay-2) !important;
        &::-webkit-scrollbar {
          &, &-track, &-track-piece {
            background: none !important;
          }
          &-thumb {
            border-color: #0000 !important;
            background: var(--bg-overlay-6) !important;
            background-clip: padding-box !important;
          }
        }
      }
    }
    .contentRegion__23e6b {
      .contentRegionScroller__23e6b {
        html.custom-theme-background & {
          background: var(--bg-overlay-1) !important;
          &::-webkit-scrollbar {
            &, &-track, &-track-piece {
              background: none !important;
            }
            &-thumb {
              border-color: #0000 !important;
              background: var(--bg-overlay-6) !important;
              background-clip: padding-box !important;
            }
          }
        }
      }
    }
    .toolsContainer__23e6b {
      html.custom-theme-background & {background: var(--bg-overlay-3) !important}
      html.custom-theme-background.theme-dark & {border-color: rgba(0 0 0/.75)}
      html.custom-theme-background.theme-light & {border-color: rgba(255 255 255/1)}
    }
  }
}