#app-mount {
  .f75fb00fb7356cbe-channelBottomBarArea ._740174f3d6a2c8fe-channelTextArea {
    html.custom-theme-background.theme-dark & {background: var(--bg-overlay-2, none) !important}
    html.custom-theme-background.theme-light & {background: var(--bg-overlay-3, none) !important}
  }
  // forums
  .f369dba7416c67f0-container {
    html.custom-theme-background & {
      background: var(--bg-overlay-3) !important;
      .f369dba7416c67f0-list::-webkit-scrollbar {
        &, &-track, &-track-piece {
          background: none !important;
        }
        &-thumb {
          border-color: #0000 !important;
          background: var(--bg-overlay-6) !important;
          background-clip: padding-box !important;
        }
      }
    }
  }
  ._5e434347c823b592-panels {
    :is(._37e49614b9f110a9-container ._37e49614b9f110a9-buttons, .e131a99484292a19-container .e131a99484292a19-voiceButtonsContainer, ._5e434347c823b592-activityPanel ._4cd01ae64b7d5abc-panelButtonContainer, ._5e434347c823b592-activityPanel ._4cd01ae64b7d5abc-actions) {
      button {
        html.custom-theme-background & {background: none}
        html.custom-theme-background.theme-light & {background: rgba(255 255 255/.25)!important}
      }
      >button:not(:nth-last-child(1 of :not(span))), ._37e49614b9f110a9-micButtonParent>button:nth-child(1 of :not(span)) {
        html.custom-theme-background.theme-dark & {border-right: solid 1px rgba(0 0 0/.5) !important}
        html.custom-theme-background.theme-light & {border-right: solid 1px rgba(255 255 255/.75) !important}
      }
      button:active {
        html.custom-theme-background.theme-dark & {background: rgba(0 0 0/.2)}
        html.custom-theme-background.theme-light & {background: rgba(255 255 255/.75) !important}
      }
    }
  }
  ._23e6b439306f125a-standardSidebarView {
    ._23e6b439306f125a-sidebar {
      html.custom-theme-background & {
        background: var(--bg-overlay-2) !important;
        &::-webkit-scrollbar {
          &, &-track, &-track-piece {
            background: none !important;
          }
          &-thumb {
            border-color: #0000 !important;
            background: var(--bg-overlay-6) !important;
            background-clip: padding-box !important;
          }
        }
      }
    }
    ._23e6b439306f125a-contentRegion {
      ._23e6b439306f125a-contentRegionScroller {
        html.custom-theme-background & {
          background: var(--bg-overlay-1) !important;
          &::-webkit-scrollbar {
            &, &-track, &-track-piece {
              background: none !important;
            }
            &-thumb {
              border-color: #0000 !important;
              background: var(--bg-overlay-6) !important;
              background-clip: padding-box !important;
            }
          }
        }
      }
    }
    ._23e6b439306f125a-toolsContainer {
      html.custom-theme-background & {background: var(--bg-overlay-3) !important}
      html.custom-theme-background.theme-dark & {border-color: rgba(0 0 0/.75)}
      html.custom-theme-background.theme-light & {border-color: rgba(255 255 255/1)}
    }
  }
}