@use "funcs" as *;
.a3002d7de5be5280-appAsidePanelWrapper {
  >.db0ccbb8b3b775e5-container {
    --dtm-16-header-button-spacing: 0px;
    .fe7ab2c36478c141-headerBar {
      padding-right: 20px;
    }
  }
}