@use "funcs" as *;
@use "mixins" as *;
@at-root {
  #app-mount {
    ._9293f6b2fc12398a-container._9293f6b2fc12398a-container._9293f6b2fc12398a-themed {
      ._9293f6b2fc12398a-children>._9293f6b2fc12398a-iconWrapper:first-child {
        &, &~._9293f6b2fc12398a-dot {
          display: none;
        }
      }
      ._9293f6b2fc12398a-titleWrapper ._9293f6b2fc12398a-title {
        line-height: 22px;
        font-size: 20px;
        font-weight: 700;
        letter-spacing: 0.8px;
        color: var(--dtm-16-chat-header-name-color);
      }
      // activity tab
      ._9293f6b2fc12398a-children:has(path[d="M12 23a11 11 0 1 0 0-22 11 11 0 0 0 0 22ZM9 8.09c0-.88 1-1.4 1.73-.9l5.8 3.91c.63.44.63 1.36 0 1.8l-5.8 3.9C10 17.3 9 16.8 9 15.92V8.1Z"])>._9293f6b2fc12398a-titleWrapper:not(#\#) {
        display: block;
      }
    }
    // ._133bf5eea8e33a34-container : friends list
    // .ad5cdf4c3a4bde59-container : game library
    // .f75fb00fb7356cbe-chat.f391e3680aff100a-container : message requests
    :is(._133bf5eea8e33a34-container, .ad5cdf4c3a4bde59-container, .f75fb00fb7356cbe-chat.f391e3680aff100a-container) ._9293f6b2fc12398a-container._9293f6b2fc12398a-container._9293f6b2fc12398a-themed {
      border-bottom: solid 1px var(--dtm-16-friends-list-header-border);
      box-shadow: var(--dtm-16-friends-list-header-shadow);
      ._9293f6b2fc12398a-children>._9293f6b2fc12398a-iconWrapper:first-child+._9293f6b2fc12398a-titleWrapper {
        display: none;
      }
      .divider__9293f {display:none}
      ._133bf5eea8e33a34-tabBar {
        &:after {
          content: "";
          width: 1px;
          height: 22px;
          margin-left: 4px;
          display: block;
          order: -4;
          background: var(--dtm-16-header-tab-separator);
        }
      }
      .platform-osx & {
        -webkit-app-region: drag;
        &:after {
          content: "";
          position: absolute;
          top: 0;
          right: 0;
          width: calc(var(--dtm-16-header-button-spacing) + 16px);
          height: 56px;
          -webkit-app-region: no-drag;
          pointer-events: none;
          z-index: 999;
        }
      }
      ._133bf5eea8e33a34-inviteToolbar {
        padding-right: 0;
        &:after {
          content: "";
          display: block;
          height: 22px;
          width: 1px;
          margin-top: 4px;
          margin-left: 12px;
          background: var(--dtm-16-header-separator);
        }
      }
    }
    ._133bf5eea8e33a34-container {
      border-top: none;
      background: var(--bg-overlay-1, var(--background-primary));
      ._133bf5eea8e33a34-tabBody {
        background: var(--bg-overlay-1, var(--background-primary));
        transform: none !important;
        will-change: none;
      }
      ._133bf5eea8e33a34-peopleColumn {
        ._94b083577c5dbbb3-header {
          padding: 16px 30px 8px;
          border-bottom: solid 1px var(--dtm-16-friends-list-add-header-border);
          background: var(--dtm-16-friends-list-add-header-bg);
          >h2 {
            font-size: 16px;
            font-weight: 700;
            line-height: 18px;
            margin: 5px 0;
            text-transform: uppercase;
            color: var(--header-primary);
          }
          ._72ba79a5dfa2ce86-addFriendWumpusWrapper {
            div[data-text-variant="heading-md/normal"] {
              color: var(--dtm-16-friends-list-add-header-desc-color);
              font-size: 14px;
              font-weight: 500;
              line-height: 17px;
              margin: 5px 0;
            }
            >img {display:none}
          }
          ._72ba79a5dfa2ce86-addFriendInputWrapper {
            margin: 13px 0;
            border-radius: 3px;
            padding: 0 16px;
            background: var(--dtm-16-friends-list-add-input-bg);
            border: solid 1px var(--dtm-16-friends-list-add-input-border);
            ._0ed4fc708cdbac0d-input {
              border: none;
              color: var(--dtm-16-friends-list-add-input-fg);
              font-size: 14px;
              font-weight: 300;
              letter-spacing: .04em;
              box-shadow: none;
              &::placeholder {
                color: var(--dtm-16-friends-list-add-input-placeholder);
              }
            }
          }
        }
        ._5ec2fb8b5de26b21-sectionTitle {
          >h2 {
            margin-left: 0;
            margin-right: 0;
            margin-bottom: 0;
            padding: 8px 30px;
            border-bottom: solid 1px var(--dtm-16-friends-list-table-header-border);
            color: var(--dtm-16-friends-list-table-header-color);
            font-size: 12px;
            font-weight: 500;
            letter-spacing: .025em;
            text-transform: uppercase;
          }
          +.cc61794aab086a2e-peopleListItem {
            border-top-color: #0000;
          }
        }
        .cc61794aab086a2e-peopleListItem {
          border-radius: 3px;
          transition: 0s;
          &:is(:hover, .cc61794aab086a2e-active) {
            background: var(--dtm-16-friends-list-table-item-hover-bg);
            box-shadow: var(--dtm-16-friends-list-table-item-hover-bs);
          }
          :is(.e1ecd30a628c26f3-actions, .fc004c9c041aaefa-actions) {
          }
          .f8fa068db52f043f-actionButton {
            border-radius: 3px;
            background: var(--dtm-16-friends-list-table-action-bg);
            transition: background-color .2s;
            &:hover {
              background: var(--dtm-16-friends-list-table-action-bg-hover);
            }
            svg {
              color: #fff;
            }
            &.f8fa068db52f043f-actionAccept:hover {
              background: var(--green);
            }
            &.f8fa068db52f043f-actionDeny:hover {
              background: var(--red);
            }
          }
          .f4bc976213b83e68-info {
            ._0a06ed6ea040aa1b-username {
              color: var(--dtm-16-friends-list-table-item-primary);
              font-size: 16px;
              font-weight: 500;
              line-height: 18px;
            }
            ._0a06ed6ea040aa1b-discriminator {
              color: var(--dtm-16-friends-list-table-item-primary);
              font-size: 12px;
              font-weight: 500;
              line-height: 18px;
              opacity: .6;
            }
          }
          :is(._19b6da809e654e70-text, .overflow__82b15) {
            color: var(--dtm-16-friends-list-table-item-secondary);
            font-size: 14px;
            font-weight: 400;
            line-height: 16px;
          }
        }
        ._6811a89c5c687a9a-blockedIgnoredSettingsNotice {
          margin: 0;
          background: none;
          border-radius: 0;
          padding: 8px;
          box-sizing: border-box;
          height: 48px;
          min-height: 48px;
          border-bottom: solid 1px var(--background-modifier-accent);
          div[data-text-variant="text-sm/medium"] {
            color: var(--text-normal) !important;
          }
        }
      }
      // activity feed
      ._133bf5eea8e33a34-nowPlayingColumn {
        ._7d20cf18f8a2784c-scroller {
          padding: 0;
          &::-webkit-scrollbar {
            width: 14px;
            &-track-piece {
              border: solid 3px #0000;
              border-radius: 8px;
              background: none;
            }
            &-thumb {
              border: solid 3px #0000;
              background: var(--dtm-16-scrollbar-thumb);
              border-radius: 8px;
              background-clip: padding-box;
            }
          }
        }
        ._7d20cf18f8a2784c-header {
          font-size: 18px;
          font-weight: 500;
          margin: 17px 0 16px;
          padding: 8px 30px 8px 16px;
          border-bottom: solid 1px var(--dtm-16-friends-list-table-header-border);
          color: var(--dtm-16-friends-list-table-header-color);
          font-size: 12px;
          font-weight: 500;
          letter-spacing: 0.025em;
          text-transform: uppercase;
        }
      }
      ._00943886e1cf89d1-applicationStreamingPreviewWrapper {
        border-radius: 3px;
      }
      @container style(--dtm-16-activity-feed-style: v1) {
        ._7d20cf18f8a2784c-container {
          ._7d20cf18f8a2784c-scroller {
            background: var(--dtm-16-activity-feed-v1-bg, transparent);
          }
        }
        ._7e549558f336cddb-emptyCard {
          margin-left: 16px;
          background: none;
          padding: 0;
        }
        ._00943886e1cf89d1-wrapper {
          background: var(--background-mobile-primary);
          margin: 0 4px 20px 20px;
          border: solid 1px var(--dtm-16-activity-feed-v0-card-border, var(--background-mobile-secondary));
          border-radius: 3px;
          overflow: hidden;
          box-shadow: none;
          padding: 0;
          ._00943886e1cf89d1-header {
            padding: 20px;
            border-radius: 0;
            position: relative;
            grid-template-columns: 40px minmax(20px,auto) 24px;
            background: var(--dtm-16-activity-feed-v0-card-header-bg, var(--background-tertiary-alt));
            gap: 20px;
            height: auto;
            &:not(:last-child) {
              border-bottom: solid 1px var(--dtm-16-activity-feed-v0-card-border, var(--background-mobile-secondary));
            }
            &:before {
              content: "";
              background: var(--activity-card-pattern);
              opacity: .3;
              background-position-x: 50%;
              background-position-y: 40%;
              background-size: cover;
              filter: grayscale(100%);
              @include mask(radial-gradient(80% 100% at top right,hsla(0,0%,100%,.5) 0,hsla(0,0%,100%,0) 100%));
              width: 100%;
              height: 100%;
              position: absolute;
            }
            >* {z-index: 10}
            ._00943886e1cf89d1-headerAvatar {
              width: 40px !important;
              height: 40px !important;
              >svg {
                transform-origin: top left;
                transform: scale(calc(40/32));
              }
            }
            [data-text-variant="text-md/semibold"] {
              font-size: 16px;
              line-height: 20px;
            }
            [data-text-variant="text-sm/normal"] {
              font-size: 14px;
            }
            ._00943886e1cf89d1-headerIcon {
              width: 40px;
              height: 40px;
              border-radius: 3px;
            }
          }
          ._00943886e1cf89d1-body {
            margin: 0;
            padding: 20px;
            background: var(--dtm-16-friends-list-activity-feed-item-section-bg);
            border-radius: 0 !important;
            &:empty {
              padding: 0;
            }
            :is(._00943886e1cf89d1-section, .wrapper__960df) {
              border-radius: 0 !important;
              background: none;
              border: none;
              padding: 0;
              +:is(._00943886e1cf89d1-section, .wrapper__960df) {
                margin-top: 20px;
              }
            }
            .e45a823cc146e70a-partyMembers {
              --custom-party-avatars-avatar-diameter: 30px;
              .e45a823cc146e70a-partyMember {
                width: 30px;
                height: 30px;
                >svg {
                  transform-origin: top left;
                  transform: scale(calc(30/24));
                }
              }
            }
            ._00943886e1cf89d1-voiceSection {
              grid-template-columns: 40px minmax(20px, auto) max-content;
              gap: 20px;
              ._00943886e1cf89d1-voiceSectionGuildImage {
                width: 40px;
                height: 40px;
              }
              ._00943886e1cf89d1-voiceSectionIconWrapper {
                width: 24px;
                height: 24px;
                bottom: -8px;
                right: -8px;
                background: var(--dtm-16-friends-list-activity-feed-item-section-bg);
                svg {
                  width: 24px;
                  height: 24px;
                }
                // vc icon
                path[d="M12 3a1 1 0 0 0-1-1h-.06a1 1 0 0 0-.74.32L5.92 7H3a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h2.92l4.28 4.68a1 1 0 0 0 .74.32H11a1 1 0 0 0 1-1V3ZM15.1 20.75c-.58.14-1.1-.33-1.1-.92v-.03c0-.5.37-.92.85-1.05a7 7 0 0 0 0-13.5A1.11 1.11 0 0 1 14 4.2v-.03c0-.6.52-1.06 1.1-.92a9 9 0 0 1 0 17.5Z"] {
                  d: path("M17 12C17 10.2 15.7 8.79998 14 8.59998V9.59998C15.1 9.79998 16 10.8 16 12.1C16 13.3 15.1 14.3 14 14.5V15.5C15.7 15.2 17 13.8 17 12ZM14 5.09998V6.09998C16.8 6.59998 19 8.99998 19 12C19 15 16.8 17.4 14 17.9V18.9C17.4 18.4 20 15.5 20 12C20 8.49998 17.4 5.59998 14 5.09998ZM6 8.99998C5.4 8.99998 5 9.39998 5 9.99998V14C5 14.6 5.4 15 6 15H8L13 18V5.99998L8 8.99998H6ZM8 14H6.5C6.2 14 6 13.8 6 13.5V10.5C6 10.2 6.2 9.99998 6.5 9.99998H8V14ZM9 9.39998L12 7.49998V16.5L9 14.6V9.39998Z");
                }
              }
            }
            ._00943886e1cf89d1-activitySection {
              grid-template-columns: 40px minmax(20px, auto);
              gap: 20px;
              ._00943886e1cf89d1-largeImage {
                width: 40px;
                height: 40px;
              }
              ._00943886e1cf89d1-smallImage {
                width: 20px;
                height: 20px;
              }
            }
            [data-text-variant="text-sm/semibold"] {
              font-size: 16px;
              line-height: 20px;
              color: var(--text-normal) !important;
            }
            [data-text-variant="text-xs/normal"] {
              font-size: 12px;
              line-height: 14px;
              color: var(--text-muted) !important;
            }
            // promotion
            .wrapper__960df {
              .utils__960df {
                >div[role="button"] {
                  display: flex;
                }
              }
              .ctas__960df {
                >button.cta__960df.cta__960df.cta__960df {
                  padding: 8px;
                  min-height: 0;
                  height: auto;
                  ._201d5e8a3c09670a-contents {
                    font-size: 14px;
                  }
                }
              }
            }
          }
          .wrapper__960df {
            border-radius: 0;
          }
          ._00943886e1cf89d1-separator {
            background: var(--background-primary);
          }
          ._00943886e1cf89d1-applicationStreamingHoverText {
            border-radius: 3px;
          }
        }
      }
      @container style(--dtm-16-activity-feed-style: v1-1) {
        ._7d20cf18f8a2784c-container {
          ._7d20cf18f8a2784c-scroller {
            background: var(--dtm-16-activity-feed-v1-bg, transparent);
          }
        }
        ._7e549558f336cddb-emptyCard {
          margin-left: 16px;
          background: none;
          padding: 0;
        }
        ._00943886e1cf89d1-wrapper {
          background: var(--dtm-16-activity-feed-v1-card-bg, var(--background-mobile-primary));
          margin: 0 4px 20px 20px;
          border: none;
          border-radius: 3px;
          overflow: hidden;
          box-shadow: none;
          padding: 0;
          ._00943886e1cf89d1-header {
            padding: 20px;
            border-radius: 0;
            position: relative;
            grid-template-columns: 40px minmax(20px,auto) 24px;
            background: var(--dtm-16-activity-feed-v1-card-header-bg, var(--background-mobile-secondary));
            gap: 20px;
            height: auto;
            &:hover {
              background: var(--dtm-16-activity-feed-v1-card-header-bg-hover, var(--deprecated-card-bg));
            }
            &:before {
              content: "";
              background: var(--activity-card-pattern);
              opacity: .3;
              background-position-x: 50%;
              background-position-y: 40%;
              background-size: 300px;
              filter: grayscale(100%);
              @include mask(radial-gradient(100% 100% at top left,hsla(0,0%,100%,.6) 0,hsla(0,0%,100%,0) 100%));
              width: 100%;
              height: 100%;
              position: absolute;
            }
            >* {z-index: 10}
            ._00943886e1cf89d1-headerAvatar {
              width: 40px !important;
              height: 40px !important;
              >svg {
                transform-origin: top left;
                transform: scale(calc(40/32));
              }
            }
            [data-text-variant="text-md/semibold"] {
              font-size: 16px;
              line-height: 20px;
            }
            [data-text-variant="text-sm/normal"] {
              font-size: 14px;
            }
            ._00943886e1cf89d1-headerIcon {
              width: 40px;
              height: 40px;
              border-radius: 3px;
            }
          }
          ._00943886e1cf89d1-body {
            margin: 0;
            padding: 20px;
            background: var(--dtm-16-activity-feed-v1-card-body-bg, var(--dtm-16-friends-list-activity-feed-item-section-bg));
            border-radius: 0 !important;
            &:empty {
              padding: 0;
            }
            :is(._00943886e1cf89d1-section, .wrapper__960df) {
              border-radius: 0 !important;
              background: none;
              border: none;
              padding: 0;
              +:is(._00943886e1cf89d1-section, .wrapper__960df) {
                margin-top: 20px;
              }
            }
            .e45a823cc146e70a-partyMembers {
              --custom-party-avatars-avatar-diameter: 30px;
              .e45a823cc146e70a-partyMember {
                width: 30px;
                height: 30px;
                >svg {
                  transform-origin: top left;
                  transform: scale(calc(30/24));
                }
              }
            }
            ._00943886e1cf89d1-voiceSection {
              grid-template-columns: 40px minmax(20px, auto) max-content;
              gap: 20px;
              ._00943886e1cf89d1-voiceSectionGuildImage {
                width: 40px;
                height: 40px;
              }
              ._00943886e1cf89d1-voiceSectionIconWrapper {
                width: 24px;
                height: 24px;
                bottom: -8px;
                right: -8px;
                background: var(--dtm-16-friends-list-activity-feed-item-section-bg);
                svg {
                  width: 24px;
                  height: 24px;
                }
                // vc icon
                path[d="M12 3a1 1 0 0 0-1-1h-.06a1 1 0 0 0-.74.32L5.92 7H3a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h2.92l4.28 4.68a1 1 0 0 0 .74.32H11a1 1 0 0 0 1-1V3ZM15.1 20.75c-.58.14-1.1-.33-1.1-.92v-.03c0-.5.37-.92.85-1.05a7 7 0 0 0 0-13.5A1.11 1.11 0 0 1 14 4.2v-.03c0-.6.52-1.06 1.1-.92a9 9 0 0 1 0 17.5Z"] {
                  d: path("M17 12C17 10.2 15.7 8.79998 14 8.59998V9.59998C15.1 9.79998 16 10.8 16 12.1C16 13.3 15.1 14.3 14 14.5V15.5C15.7 15.2 17 13.8 17 12ZM14 5.09998V6.09998C16.8 6.59998 19 8.99998 19 12C19 15 16.8 17.4 14 17.9V18.9C17.4 18.4 20 15.5 20 12C20 8.49998 17.4 5.59998 14 5.09998ZM6 8.99998C5.4 8.99998 5 9.39998 5 9.99998V14C5 14.6 5.4 15 6 15H8L13 18V5.99998L8 8.99998H6ZM8 14H6.5C6.2 14 6 13.8 6 13.5V10.5C6 10.2 6.2 9.99998 6.5 9.99998H8V14ZM9 9.39998L12 7.49998V16.5L9 14.6V9.39998Z");
                }
              }
            }
            ._00943886e1cf89d1-activitySection {
              grid-template-columns: 40px minmax(20px, auto);
              gap: 20px;
              ._00943886e1cf89d1-largeImage {
                width: 40px;
                height: 40px;
              }
              ._00943886e1cf89d1-smallImage {
                width: 20px;
                height: 20px;
              }
            }
            [data-text-variant="text-sm/semibold"] {
              font-size: 16px;
              line-height: 20px;
              color: var(--text-normal) !important;
            }
            [data-text-variant="text-xs/normal"] {
              font-size: 12px;
              line-height: 14px;
              color: var(--text-muted) !important;
            }
            // promotion
            .wrapper__960df {
              .utils__960df {
                >div[role="button"] {
                  display: flex;
                }
              }
              .ctas__960df {
                >button.cta__960df.cta__960df.cta__960df {
                  padding: 8px;
                  min-height: 0;
                  height: auto;
                  ._201d5e8a3c09670a-contents {
                    font-size: 14px;
                  }
                }
              }
            }
          }
          .wrapper__960df {
            border-radius: 0;
          }
          ._00943886e1cf89d1-separator {
            background: var(--background-primary);
          }
          ._00943886e1cf89d1-applicationStreamingHoverText {
            border-radius: 3px;
          }
        }
      }
      @container style(--dtm-16-activity-feed-style: v2) {
        ._00943886e1cf89d1-wrapper {
          margin: 0 4px 0 20px;
          border: none;
          border-radius: 0;
          background: var(--dtm-16-activity-feed-v2-card-bg);
          border-style: solid;
          border-width: var(--dtm-16-activity-feed-v2-border-width-middle, 0px);
          border-color: var(--dtm-16-activity-feed-v2-border, transparent);
          padding: 16px;
          position: relative;
          &:hover {
            background: var(--dtm-16-activity-feed-v2-card-bg-hover);
          }
          &:not(:last-child) {
            &:after {
              content: "";
              display: block;
              position: absolute;
              height: 1px;
              inset: auto 16px 0 16px;
              background: var(--dtm-16-activity-feed-v2-separator);
            }
          }
          &:nth-child(1 of ._00943886e1cf89d1-wrapper) {
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
            border-width: var(--dtm-16-activity-feed-v2-border-width-first, 0px);
          }
          &:nth-last-child(1 of ._00943886e1cf89d1-wrapper) {
            border-bottom-left-radius: 3px;
            border-bottom-right-radius: 3px;
            border-width: var(--dtm-16-activity-feed-v2-border-width-last, 0px);
            margin-bottom: 20px;
          }
          ._00943886e1cf89d1-body:not(:empty) {
            border-radius: 4px;
            padding: 12px;
            background: var(--dtm-16-activity-feed-v2-card-bg-inner);
            ._00943886e1cf89d1-section {
              margin: 0;
              padding: 0;
              border-radius: 0;
              background: none;
              border: none;
              +._00943886e1cf89d1-section {
                margin-top: 12px;
              }
            }
          }
        }
      }
    }
    ._133bf5eea8e33a34-nowPlayingColumnFullWidth {
      @container style(--dtm-16-activity-feed-style: v2) {
        ._7e549558f336cddb-itemCard {
          box-shadow: none;
          ._00943886e1cf89d1-header, ._00943886e1cf89d1-body {
            padding: 0;
            background: none;
          }
          ._00943886e1cf89d1-body:not(:empty) {
            margin-top: 12px;
          }
        }
      }
    }
    ._6e2b9359c6f84cfd-notice+.content_c48ade ._133bf5eea8e33a34-container ._133bf5eea8e33a34-peopleColumn ._5ec2fb8b5de26b21-searchBar {
      top: 40px;
      .platform-win & {
        top: 62px;
      }
    }
  }
}