@use "funcs" as *;
@use "mixins" as *;
@at-root {
  #app-mount {
    .container__9293f.container__9293f.themed__9293f {
      .children__9293f>.iconWrapper__9293f:first-child {
        &, &~.dot__9293f {
          display: none;
        }
      }
      .titleWrapper__9293f .title__9293f {
        line-height: 22px;
        font-size: 20px;
        font-weight: 700;
        letter-spacing: 0.8px;
        color: var(--dtm-16-chat-header-name-color);
      }
      // activity tab
      .children__9293f:has(path[d="M12 23a11 11 0 1 0 0-22 11 11 0 0 0 0 22ZM9 8.09c0-.88 1-1.4 1.73-.9l5.8 3.91c.63.44.63 1.36 0 1.8l-5.8 3.9C10 17.3 9 16.8 9 15.92V8.1Z"])>.titleWrapper__9293f:not(#\#) {
        display: block;
      }
    }
    // .container__133bf : friends list
    // .container_ad5cdf : game library
    // .chat_f75fb0.container_f391e3 : message requests
    :is(.container__133bf, .container_ad5cdf, .chat_f75fb0.container_f391e3) .container__9293f.container__9293f.themed__9293f {
      border-bottom: solid 1px var(--dtm-16-friends-list-header-border);
      box-shadow: var(--dtm-16-friends-list-header-shadow);
      .children__9293f>.iconWrapper__9293f:first-child+.titleWrapper__9293f {
        display: none;
      }
      .divider__9293f {display:none}
      .tabBar__133bf {
        &:after {
          content: "";
          width: 1px;
          height: 22px;
          margin-left: 4px;
          display: block;
          order: -4;
          background: var(--dtm-16-header-tab-separator);
        }
      }
      .platform-osx & {
        -webkit-app-region: drag;
        &:after {
          content: "";
          position: absolute;
          top: 0;
          right: 0;
          width: calc(var(--dtm-16-header-button-spacing) + 16px);
          height: 56px;
          -webkit-app-region: no-drag;
          pointer-events: none;
          z-index: 999;
        }
      }
      .inviteToolbar__133bf {
        padding-right: 0;
        &:after {
          content: "";
          display: block;
          height: 22px;
          width: 1px;
          margin-top: 4px;
          margin-left: 12px;
          background: var(--dtm-16-header-separator);
        }
      }
    }
    .container__133bf {
      border-top: none;
      background: var(--bg-overlay-1, var(--background-primary));
      .tabBody__133bf {
        background: var(--bg-overlay-1, var(--background-primary));
        transform: none !important;
        will-change: none;
      }
      .peopleColumn__133bf {
        .header__94b08 {
          padding: 16px 30px 8px;
          border-bottom: solid 1px var(--dtm-16-friends-list-add-header-border);
          background: var(--dtm-16-friends-list-add-header-bg);
          >h2 {
            font-size: 16px;
            font-weight: 700;
            line-height: 18px;
            margin: 5px 0;
            text-transform: uppercase;
            color: var(--header-primary);
          }
          .addFriendWumpusWrapper__72ba7 {
            div[data-text-variant="heading-md/normal"] {
              color: var(--dtm-16-friends-list-add-header-desc-color);
              font-size: 14px;
              font-weight: 500;
              line-height: 17px;
              margin: 5px 0;
            }
            >img {display:none}
          }
          .addFriendInputWrapper__72ba7 {
            margin: 13px 0;
            border-radius: 3px;
            padding: 0 16px;
            background: var(--dtm-16-friends-list-add-input-bg);
            border: solid 1px var(--dtm-16-friends-list-add-input-border);
            .input__0ed4f {
              border: none;
              color: var(--dtm-16-friends-list-add-input-fg);
              font-size: 14px;
              font-weight: 300;
              letter-spacing: .04em;
              box-shadow: none;
              &::placeholder {
                color: var(--dtm-16-friends-list-add-input-placeholder);
              }
            }
          }
        }
        .sectionTitle__5ec2f {
          >h2 {
            margin-left: 0;
            margin-right: 0;
            margin-bottom: 0;
            padding: 8px 30px;
            border-bottom: solid 1px var(--dtm-16-friends-list-table-header-border);
            color: var(--dtm-16-friends-list-table-header-color);
            font-size: 12px;
            font-weight: 500;
            letter-spacing: .025em;
            text-transform: uppercase;
          }
          +.peopleListItem_cc6179 {
            border-top-color: #0000;
          }
        }
        .peopleListItem_cc6179 {
          border-radius: 3px;
          transition: 0s;
          &:is(:hover, .active_cc6179) {
            background: var(--dtm-16-friends-list-table-item-hover-bg);
            box-shadow: var(--dtm-16-friends-list-table-item-hover-bs);
          }
          :is(.actions_e1ecd3, .actions_fc004c) {
          }
          .actionButton_f8fa06 {
            border-radius: 3px;
            background: var(--dtm-16-friends-list-table-action-bg);
            transition: background-color .2s;
            &:hover {
              background: var(--dtm-16-friends-list-table-action-bg-hover);
            }
            svg {
              color: #fff;
            }
            &.actionAccept_f8fa06:hover {
              background: var(--green);
            }
            &.actionDeny_f8fa06:hover {
              background: var(--red);
            }
          }
          .info_f4bc97 {
            .username__0a06e {
              color: var(--dtm-16-friends-list-table-item-primary);
              font-size: 16px;
              font-weight: 500;
              line-height: 18px;
            }
            .discriminator__0a06e {
              color: var(--dtm-16-friends-list-table-item-primary);
              font-size: 12px;
              font-weight: 500;
              line-height: 18px;
              opacity: .6;
            }
          }
          :is(.text__19b6d, .overflow__82b15) {
            color: var(--dtm-16-friends-list-table-item-secondary);
            font-size: 14px;
            font-weight: 400;
            line-height: 16px;
          }
        }
        .blockedIgnoredSettingsNotice__6811a {
          margin: 0;
          background: none;
          border-radius: 0;
          padding: 8px;
          box-sizing: border-box;
          height: 48px;
          min-height: 48px;
          border-bottom: solid 1px var(--background-modifier-accent);
          div[data-text-variant="text-sm/medium"] {
            color: var(--text-normal) !important;
          }
        }
      }
      // activity feed
      .nowPlayingColumn__133bf {
        .scroller__7d20c {
          padding: 0;
          &::-webkit-scrollbar {
            width: 14px;
            &-track-piece {
              border: solid 3px #0000;
              border-radius: 8px;
              background: none;
            }
            &-thumb {
              border: solid 3px #0000;
              background: var(--dtm-16-scrollbar-thumb);
              border-radius: 8px;
              background-clip: padding-box;
            }
          }
        }
        .header__7d20c {
          font-size: 18px;
          font-weight: 500;
          margin: 17px 0 16px;
          padding: 8px 30px 8px 16px;
          border-bottom: solid 1px var(--dtm-16-friends-list-table-header-border);
          color: var(--dtm-16-friends-list-table-header-color);
          font-size: 12px;
          font-weight: 500;
          letter-spacing: 0.025em;
          text-transform: uppercase;
        }
      }
      .applicationStreamingPreviewWrapper__00943 {
        border-radius: 3px;
      }
      @container style(--dtm-16-activity-feed-style: v1) {
        .container__7d20c {
          .scroller__7d20c {
            background: var(--dtm-16-activity-feed-v1-bg, transparent);
          }
        }
        .emptyCard__7e549 {
          margin-left: 16px;
          background: none;
          padding: 0;
        }
        .wrapper__00943 {
          background: var(--background-mobile-primary);
          margin: 0 4px 20px 20px;
          border: solid 1px var(--dtm-16-activity-feed-v0-card-border, var(--background-mobile-secondary));
          border-radius: 3px;
          overflow: hidden;
          box-shadow: none;
          padding: 0;
          .header__00943 {
            padding: 20px;
            border-radius: 0;
            position: relative;
            grid-template-columns: 40px minmax(20px,auto) 24px;
            background: var(--dtm-16-activity-feed-v0-card-header-bg, var(--background-tertiary-alt));
            gap: 20px;
            height: auto;
            &:not(:last-child) {
              border-bottom: solid 1px var(--dtm-16-activity-feed-v0-card-border, var(--background-mobile-secondary));
            }
            &:before {
              content: "";
              background: var(--activity-card-pattern);
              opacity: .3;
              background-position-x: 50%;
              background-position-y: 40%;
              background-size: cover;
              filter: grayscale(100%);
              @include mask(radial-gradient(80% 100% at top right,hsla(0,0%,100%,.5) 0,hsla(0,0%,100%,0) 100%));
              width: 100%;
              height: 100%;
              position: absolute;
            }
            >* {z-index: 10}
            .headerAvatar__00943 {
              width: 40px !important;
              height: 40px !important;
              >svg {
                transform-origin: top left;
                transform: scale(calc(40/32));
              }
            }
            [data-text-variant="text-md/semibold"] {
              font-size: 16px;
              line-height: 20px;
            }
            [data-text-variant="text-sm/normal"] {
              font-size: 14px;
            }
            .headerIcon__00943 {
              width: 40px;
              height: 40px;
              border-radius: 3px;
            }
          }
          .body__00943 {
            margin: 0;
            padding: 20px;
            background: var(--dtm-16-friends-list-activity-feed-item-section-bg);
            border-radius: 0 !important;
            &:empty {
              padding: 0;
            }
            :is(.section__00943, .wrapper__960df) {
              border-radius: 0 !important;
              background: none;
              border: none;
              padding: 0;
              +:is(.section__00943, .wrapper__960df) {
                margin-top: 20px;
              }
            }
            .partyMembers_e45a82 {
              --custom-party-avatars-avatar-diameter: 30px;
              .partyMember_e45a82 {
                width: 30px;
                height: 30px;
                >svg {
                  transform-origin: top left;
                  transform: scale(calc(30/24));
                }
              }
            }
            .voiceSection__00943 {
              grid-template-columns: 40px minmax(20px, auto) max-content;
              gap: 20px;
              .voiceSectionGuildImage__00943 {
                width: 40px;
                height: 40px;
              }
              .voiceSectionIconWrapper__00943 {
                width: 24px;
                height: 24px;
                bottom: -8px;
                right: -8px;
                background: var(--dtm-16-friends-list-activity-feed-item-section-bg);
                svg {
                  width: 24px;
                  height: 24px;
                }
                // vc icon
                path[d="M12 3a1 1 0 0 0-1-1h-.06a1 1 0 0 0-.74.32L5.92 7H3a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h2.92l4.28 4.68a1 1 0 0 0 .74.32H11a1 1 0 0 0 1-1V3ZM15.1 20.75c-.58.14-1.1-.33-1.1-.92v-.03c0-.5.37-.92.85-1.05a7 7 0 0 0 0-13.5A1.11 1.11 0 0 1 14 4.2v-.03c0-.6.52-1.06 1.1-.92a9 9 0 0 1 0 17.5Z"] {
                  d: path("M17 12C17 10.2 15.7 8.79998 14 8.59998V9.59998C15.1 9.79998 16 10.8 16 12.1C16 13.3 15.1 14.3 14 14.5V15.5C15.7 15.2 17 13.8 17 12ZM14 5.09998V6.09998C16.8 6.59998 19 8.99998 19 12C19 15 16.8 17.4 14 17.9V18.9C17.4 18.4 20 15.5 20 12C20 8.49998 17.4 5.59998 14 5.09998ZM6 8.99998C5.4 8.99998 5 9.39998 5 9.99998V14C5 14.6 5.4 15 6 15H8L13 18V5.99998L8 8.99998H6ZM8 14H6.5C6.2 14 6 13.8 6 13.5V10.5C6 10.2 6.2 9.99998 6.5 9.99998H8V14ZM9 9.39998L12 7.49998V16.5L9 14.6V9.39998Z");
                }
              }
            }
            .activitySection__00943 {
              grid-template-columns: 40px minmax(20px, auto);
              gap: 20px;
              .largeImage__00943 {
                width: 40px;
                height: 40px;
              }
              .smallImage__00943 {
                width: 20px;
                height: 20px;
              }
            }
            [data-text-variant="text-sm/semibold"] {
              font-size: 16px;
              line-height: 20px;
              color: var(--text-normal) !important;
            }
            [data-text-variant="text-xs/normal"] {
              font-size: 12px;
              line-height: 14px;
              color: var(--text-muted) !important;
            }
            // promotion
            .wrapper__960df {
              .utils__960df {
                >div[role="button"] {
                  display: flex;
                }
              }
              .ctas__960df {
                >button.cta__960df.cta__960df.cta__960df {
                  padding: 8px;
                  min-height: 0;
                  height: auto;
                  .contents__201d5 {
                    font-size: 14px;
                  }
                }
              }
            }
          }
          .wrapper__960df {
            border-radius: 0;
          }
          .separator__00943 {
            background: var(--background-primary);
          }
          .applicationStreamingHoverText__00943 {
            border-radius: 3px;
          }
        }
      }
      @container style(--dtm-16-activity-feed-style: v1-1) {
        .container__7d20c {
          .scroller__7d20c {
            background: var(--dtm-16-activity-feed-v1-bg, transparent);
          }
        }
        .emptyCard__7e549 {
          margin-left: 16px;
          background: none;
          padding: 0;
        }
        .wrapper__00943 {
          background: var(--dtm-16-activity-feed-v1-card-bg, var(--background-mobile-primary));
          margin: 0 4px 20px 20px;
          border: none;
          border-radius: 3px;
          overflow: hidden;
          box-shadow: none;
          padding: 0;
          .header__00943 {
            padding: 20px;
            border-radius: 0;
            position: relative;
            grid-template-columns: 40px minmax(20px,auto) 24px;
            background: var(--dtm-16-activity-feed-v1-card-header-bg, var(--background-mobile-secondary));
            gap: 20px;
            height: auto;
            &:hover {
              background: var(--dtm-16-activity-feed-v1-card-header-bg-hover, var(--deprecated-card-bg));
            }
            &:before {
              content: "";
              background: var(--activity-card-pattern);
              opacity: .3;
              background-position-x: 50%;
              background-position-y: 40%;
              background-size: 300px;
              filter: grayscale(100%);
              @include mask(radial-gradient(100% 100% at top left,hsla(0,0%,100%,.6) 0,hsla(0,0%,100%,0) 100%));
              width: 100%;
              height: 100%;
              position: absolute;
            }
            >* {z-index: 10}
            .headerAvatar__00943 {
              width: 40px !important;
              height: 40px !important;
              >svg {
                transform-origin: top left;
                transform: scale(calc(40/32));
              }
            }
            [data-text-variant="text-md/semibold"] {
              font-size: 16px;
              line-height: 20px;
            }
            [data-text-variant="text-sm/normal"] {
              font-size: 14px;
            }
            .headerIcon__00943 {
              width: 40px;
              height: 40px;
              border-radius: 3px;
            }
          }
          .body__00943 {
            margin: 0;
            padding: 20px;
            background: var(--dtm-16-activity-feed-v1-card-body-bg, var(--dtm-16-friends-list-activity-feed-item-section-bg));
            border-radius: 0 !important;
            &:empty {
              padding: 0;
            }
            :is(.section__00943, .wrapper__960df) {
              border-radius: 0 !important;
              background: none;
              border: none;
              padding: 0;
              +:is(.section__00943, .wrapper__960df) {
                margin-top: 20px;
              }
            }
            .partyMembers_e45a82 {
              --custom-party-avatars-avatar-diameter: 30px;
              .partyMember_e45a82 {
                width: 30px;
                height: 30px;
                >svg {
                  transform-origin: top left;
                  transform: scale(calc(30/24));
                }
              }
            }
            .voiceSection__00943 {
              grid-template-columns: 40px minmax(20px, auto) max-content;
              gap: 20px;
              .voiceSectionGuildImage__00943 {
                width: 40px;
                height: 40px;
              }
              .voiceSectionIconWrapper__00943 {
                width: 24px;
                height: 24px;
                bottom: -8px;
                right: -8px;
                background: var(--dtm-16-friends-list-activity-feed-item-section-bg);
                svg {
                  width: 24px;
                  height: 24px;
                }
                // vc icon
                path[d="M12 3a1 1 0 0 0-1-1h-.06a1 1 0 0 0-.74.32L5.92 7H3a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h2.92l4.28 4.68a1 1 0 0 0 .74.32H11a1 1 0 0 0 1-1V3ZM15.1 20.75c-.58.14-1.1-.33-1.1-.92v-.03c0-.5.37-.92.85-1.05a7 7 0 0 0 0-13.5A1.11 1.11 0 0 1 14 4.2v-.03c0-.6.52-1.06 1.1-.92a9 9 0 0 1 0 17.5Z"] {
                  d: path("M17 12C17 10.2 15.7 8.79998 14 8.59998V9.59998C15.1 9.79998 16 10.8 16 12.1C16 13.3 15.1 14.3 14 14.5V15.5C15.7 15.2 17 13.8 17 12ZM14 5.09998V6.09998C16.8 6.59998 19 8.99998 19 12C19 15 16.8 17.4 14 17.9V18.9C17.4 18.4 20 15.5 20 12C20 8.49998 17.4 5.59998 14 5.09998ZM6 8.99998C5.4 8.99998 5 9.39998 5 9.99998V14C5 14.6 5.4 15 6 15H8L13 18V5.99998L8 8.99998H6ZM8 14H6.5C6.2 14 6 13.8 6 13.5V10.5C6 10.2 6.2 9.99998 6.5 9.99998H8V14ZM9 9.39998L12 7.49998V16.5L9 14.6V9.39998Z");
                }
              }
            }
            .activitySection__00943 {
              grid-template-columns: 40px minmax(20px, auto);
              gap: 20px;
              .largeImage__00943 {
                width: 40px;
                height: 40px;
              }
              .smallImage__00943 {
                width: 20px;
                height: 20px;
              }
            }
            [data-text-variant="text-sm/semibold"] {
              font-size: 16px;
              line-height: 20px;
              color: var(--text-normal) !important;
            }
            [data-text-variant="text-xs/normal"] {
              font-size: 12px;
              line-height: 14px;
              color: var(--text-muted) !important;
            }
            // promotion
            .wrapper__960df {
              .utils__960df {
                >div[role="button"] {
                  display: flex;
                }
              }
              .ctas__960df {
                >button.cta__960df.cta__960df.cta__960df {
                  padding: 8px;
                  min-height: 0;
                  height: auto;
                  .contents__201d5 {
                    font-size: 14px;
                  }
                }
              }
            }
          }
          .wrapper__960df {
            border-radius: 0;
          }
          .separator__00943 {
            background: var(--background-primary);
          }
          .applicationStreamingHoverText__00943 {
            border-radius: 3px;
          }
        }
      }
      @container style(--dtm-16-activity-feed-style: v2) {
        .wrapper__00943 {
          margin: 0 4px 0 20px;
          border: none;
          border-radius: 0;
          background: var(--dtm-16-activity-feed-v2-card-bg);
          border-style: solid;
          border-width: var(--dtm-16-activity-feed-v2-border-width-middle, 0px);
          border-color: var(--dtm-16-activity-feed-v2-border, transparent);
          padding: 16px;
          position: relative;
          &:hover {
            background: var(--dtm-16-activity-feed-v2-card-bg-hover);
          }
          &:not(:last-child) {
            &:after {
              content: "";
              display: block;
              position: absolute;
              height: 1px;
              inset: auto 16px 0 16px;
              background: var(--dtm-16-activity-feed-v2-separator);
            }
          }
          &:nth-child(1 of .wrapper__00943) {
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
            border-width: var(--dtm-16-activity-feed-v2-border-width-first, 0px);
          }
          &:nth-last-child(1 of .wrapper__00943) {
            border-bottom-left-radius: 3px;
            border-bottom-right-radius: 3px;
            border-width: var(--dtm-16-activity-feed-v2-border-width-last, 0px);
            margin-bottom: 20px;
          }
          .body__00943:not(:empty) {
            border-radius: 4px;
            padding: 12px;
            background: var(--dtm-16-activity-feed-v2-card-bg-inner);
            .section__00943 {
              margin: 0;
              padding: 0;
              border-radius: 0;
              background: none;
              border: none;
              +.section__00943 {
                margin-top: 12px;
              }
            }
          }
        }
      }
    }
    .nowPlayingColumnFullWidth__133bf {
      @container style(--dtm-16-activity-feed-style: v2) {
        .itemCard__7e549 {
          box-shadow: none;
          .header__00943, .body__00943 {
            padding: 0;
            background: none;
          }
          .body__00943:not(:empty) {
            margin-top: 12px;
          }
        }
      }
    }
    .notice__6e2b9+.content_c48ade .container__133bf .peopleColumn__133bf .searchBar__5ec2f {
      top: 40px;
      .platform-win & {
        top: 62px;
      }
    }
  }
}