@use "funcs" as *;
@use "mixins" as *;
@at-root {
  #app-mount {
    ._9293f6b2fc12398a-container._9293f6b2fc12398a-container {
      &._9293f6b2fc12398a-themed {
        background: var(--bg-overlay-1, var(--background-primary));
        border-bottom: solid 1px var(--dtm-16-header-border);
        box-shadow: var(--dtm-16-header-shadow);
        ._9293f6b2fc12398a-children:after {
          background: linear-gradient(to right, #0000, var(--background-primary));
        }
        .f75fb00fb7356cbe-linkedLobbyTooltip {
          path[d="M24 5.7c0-1.54-.2-2.66-.34-3.23C23.35 1.17 22.3.92 21.2.68a.68.68 0 0 0-.62.18c-.16.16-.35.33-.58.32a19.27 19.27 0 0 0-2 0c-.23 0-.42-.16-.58-.32a.68.68 0 0 0-.62-.18c-1.1.24-2.15.5-2.46 1.8-.13.56-.34 1.68-.34 3.22v2.23a1.4 1.4 0 0 0 2.66.63l.8-1.6c.1-.2.34-.3.56-.25.26.06.62.12.98.12s.72-.06.98-.12a.5.5 0 0 1 .56.25l.8 1.6A1.4 1.4 0 0 0 24 7.93V5.7Z"] {
            d: path("M5.79335761,5 L18.2066424,5 C19.7805584,5 21.0868816,6.21634264 21.1990185,7.78625885 L21.8575059,17.0050826 C21.9307825,18.0309548 21.1585512,18.9219909 20.132679,18.9952675 C20.088523,18.9984215 20.0442685,19 20,19 C18.8245863,19 17.8000084,18.2000338 17.5149287,17.059715 L17,15 L7,15 L6.48507125,17.059715 C6.19999155,18.2000338 5.1754137,19 4,19 C2.97151413,19 2.13776159,18.1662475 2.13776159,17.1377616 C2.13776159,17.0934931 2.1393401,17.0492386 2.1424941,17.0050826 L2.80098151,7.78625885 C2.91311838,6.21634264 4.21944161,5 5.79335761,5 Z M14.5,10 C15.3284271,10 16,9.32842712 16,8.5 C16,7.67157288 15.3284271,7 14.5,7 C13.6715729,7 13,7.67157288 13,8.5 C13,9.32842712 13.6715729,10 14.5,10 Z M18.5,13 C19.3284271,13 20,12.3284271 20,11.5 C20,10.6715729 19.3284271,10 18.5,10 C17.6715729,10 17,10.6715729 17,11.5 C17,12.3284271 17.6715729,13 18.5,13 Z M6,9 L4,9 L4,11 L6,11 L6,13 L8,13 L8,11 L10,11 L10,9 L8,9 L8,7 L6,7 L6,9 Z");
          }
          path+path {d:path("")}
        }
      }
      height: 57px;
      min-height: 0;
      padding: 0 calc(20px + var(--dtm-16-header-button-spacing)) 0 20px;
      ._9293f6b2fc12398a-toolbar {
        gap: 0;
        ._496769951eb140fe-search {
          margin: 0 0 0 8px;
        }
        ._9293f6b2fc12398a-iconWrapper {
          width: 30px;
          height: 30px;
          border-radius: 4px;
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 0 0 0 8px;
          ._9293f6b2fc12398a-icon {
            opacity: .6;
            transition: opacity .2s;
            width: 24px;
            height: 24px;
            color: var(--dtm-16-header-button-fg);
          }
          &:hover, &:active {
            ._9293f6b2fc12398a-icon {
              opacity: 1;
            }
          }
          &._9293f6b2fc12398a-selected, &[aria-expanded="true"] {
            @container style(--dtm-16-plink: v2015) or style(--dtm-16-plink: v2016) {
              background: var(--dtm-16-header-button-active-bg);
            }
            @container style(--dtm-16-plink: v2016) or style(--dtm-16-plink: v2017) {
              ._9293f6b2fc12398a-icon {
                opacity: 1;
              }
            }
          }
          >svg>foreignObject {
            x: -2px;
            y: -2px;
            @include mask(none !important);
          }
          ._9293f6b2fc12398a-iconBadge {
            top: 3px;
            right: 3px;
            border: solid 2px var(--background-primary);
            background: var(--red);
            width: 12px;
            height: 12px;
          }
        }
        ._9db96f7a92c2b507-lastButton {
          margin-right: 0;
        }
        ._233f8e0899e46d2b-chatIcon {
          min-width: 24px;
        }
        ._9293f6b2fc12398a-dot {
          circle {display:none}
          width: 1px;
          height: 24px;
          background: var(--dtm-16-header-separator);
          margin: 0 8px;
        }
      }
      ._133bf5eea8e33a34-tabBar {
        ._133bf5eea8e33a34-item {
          min-width: 56px;
          line-height: 18px;
          font-size: 14px;
          padding: 2px 8px;
          margin: 0 8px;
          min-height: 0;
          border-radius: 4px;
          text-align: center;
          transition: 0s;
          color: var(--dtm-16-header-tab-fg);
          ._2b1f52e43a8f1c02-numberBadge {
            background: var(--red) !important;
            border-radius: 3px;
            min-width: 0;
            width: auto !important;
            box-shadow: 0 1px 0 rgba(0,0,0,.25),inset 0 1px 0 hsla(0,0%,100%,.15);
            text-shadow: 0 1px 0 rgba(0,0,0,.25);
            color: #fff;
            font-size: 12px;
            font-weight: 500;
            line-height: 12px;
            padding: 3px 5px !important;
          }
          &:hover {
            color: var(--dtm-16-header-tab-fg);
            background: var(--dtm-16-header-tab-hover-bg);
          }
          &.aa8da23faa27393c-selected {
            background: var(--dtm-16-header-tab-active-bg);
            color: var(--dtm-16-header-tab-active-fg);
            ._2b1f52e43a8f1c02-numberBadge {
              background: var(--dtm-16-header-tab-active-fg) !important;
              text-shadow: none;
              box-shadow: none;
              color: var(--dtm-16-header-tab-active-bg);
            }
          }
          &._133bf5eea8e33a34-addFriend {
            order: -5;
            margin-left: 0;
            color: #fff;
            background: var(--blurple);
            ._2b1f52e43a8f1c02-numberBadge {
              background: #fff !important;
              text-shadow: none;
              box-shadow: none;
              color: var(--blurple);
            }
            &:hover {
              background: var(--blurple-hover);
            }
            &.aa8da23faa27393c-selected {
              background: #fff;
              color: var(--blurple);
              ._2b1f52e43a8f1c02-numberBadge {
                background: var(--blurple) !important;
                text-shadow: none;
                box-shadow: none;
                color: #fff;
              }
              html.theme-light & {
                background: var(--dtm-16-header-tab-active-bg);
                color: var(--dtm-16-header-tab-active-fg);
                ._2b1f52e43a8f1c02-numberBadge {
                  background: var(--dtm-16-header-tab-active-fg) !important;
                  text-shadow: none;
                  box-shadow: none;
                  color: var(--dtm-16-header-tab-active-bg);
                }
              }
            }
          }
        }
      }
    }
    .cb9592ad77576717-sidebarOpen ._9293f6b2fc12398a-container._9293f6b2fc12398a-container,
    ._01ae244280823725-container ._9293f6b2fc12398a-container._9293f6b2fc12398a-container {
      padding-right: 20px;
    }
  }
}