@use "funcs" as *;
@at-root {
  :root {
    // normal input
    :is(.input__0ed4f, .wrapper__3412a:where(:not(.select__3f413))) {
      border: none;
      background: none;
      border-radius: 0;
      box-shadow: 0 1px var(--dtm-16-input-text-border);
      padding-left: 2px;
      padding-right: 2px;
      &:is(:focus, :focus-within) {
        box-shadow: 0 2px var(--dtm-16-input-text-border-focus);
        border: none;
      }
      .emojiButton_ac72c6 {
        background: none;
      }
    }
    .emojiButtonContainer_dbc4b7+.inputWrapper__0ed4f .input__0ed4f {
      padding-left: 48px;
    }
    .nameInput_ac72c6 {
      border: none;
      border-radius: 0;
      padding-bottom: 2px;
    }
    // copy input
    @at-root .copyInput_fffc15.copyInput_fffc15:not(.content__67dba .copyInput_fffc15) {
      background: var(--background-primary) !important;
      border-radius: 3px;
      &.copyInputDefault_fffc15,
      &.copyInputSuccess_fffc15 {
        .input_fffc15 {
          color: #{ss(#747f8d)};
          font-size: 14px;
          font-weight: 600;
          .theme-dark & {
            color: var(--text-normal);
          }
          &::selection {
            background: var(--blurple);
            color: #fff;
          }
        }
        button.button_fffc15.button__201d5 {
          transition: 0s;
          margin: 0;
          border-radius: 0;
          border-left: solid 1px #e1e3e5;
          background-color: #f3f3f3;
          &, &:is(:hover, :active) {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' viewBox='0 0 16 16'%3E%3Cpath fill='%23747F8D' fill-rule='evenodd' d='M4 10h8V9H4v1zm0-2h8V7H4v1zm7.5-6V1H10c0-.6-.4-1-1-1H7c-.6 0-1 .4-1 1H4.5v1H1v14h14V2h-3.5zm-6 0H7v-.5c0-.3.2-.5.5-.5h1c.3 0 .5.2.5.5V2h1.5v2h-5V2zM14 15H2V3h2.5v2h7V3H14v12zM4 12h5v-1H4v1z' clip-rule='evenodd'/%3E%3C/svg%3E");
            background-size: 16px;
            background-position: 50%;
            background-repeat: no-repeat;
          }
          box-sizing: border-box;
          width: 40px;
          padding: 0 !important;
          .contents__201d5 {
            display: none;
          }
          .theme-dark & {
            background-color: var(--background-secondary);
            border-color: var(--background-tertiary);
          }
        }
      }
      &.copyInputDefault_fffc15 {
        border: solid 1px #e1e3e5;
        .theme-dark & {
          border-color: var(--background-tertiary);
        }
      }
      &.copyInputSuccess_fffc15 {
        border-color: var(--green) !important;
        .input_fffc15::selection {
          background: var(--green) !important;
        }
        button {
          border-left: solid 1px var(--green) !important;
          background-color: var(--green) !important;
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' viewBox='0 0 18 18'%3E%3Cpath fill='%23FFF' d='M6.6 8c-.2-.2-.5-.2-.7 0-.3.2-.3.6-.2.8L9 12s0 .1.1.1c.1.1.3.2.4.2s.3 0 .4-.1c0 0 0-.1.1-.1l7.8-7.8c.2-.2.2-.6 0-.8a.6.6 0 0 0-.8 0L9.6 11l-3-3zm10.3.4V9c0 4.4-3.5 7.9-7.9 7.9S1.1 13.4 1.1 9 4.6 1.1 9 1.1c1.9 0 3.7.7 5.2 1.9l.8-.8A9.8 9.8 0 0 0 9 0C4 0 0 4 0 9s4 9 9 9 9-4.1 9-9c0-.6 0-1-.1-1.5l-1 .9z'/%3E%3C/svg%3E") !important;
          background-size: 16px !important;
          background-position: 50% !important;
          background-repeat: no-repeat !important;
        }
      }
    }
    // prefix
    .inputPrefix_ac72c6 {
      top: 14px;
      color: var(--text-muted);
      +.input__0ed4f {
        padding-left: 32px;
      }
    }
    // select
    .select__3f413 {
      border-radius: 3px;
      background: none;
      border: solid 1px var(--background-secondary-alt);
      &:is(:hover,.open__3f413) {
        border: solid 1px var(--background-tertiary);
      }
    }
    .icons__3f413 {
      path[d="M5.3 9.3a1 1 0 0 1 1.4 0l5.3 5.29 5.3-5.3a1 1 0 1 1 1.4 1.42l-6 6a1 1 0 0 1-1.4 0l-6-6a1 1 0 0 1 0-1.42Z"] {
        d: path("M5.3 9.3h13.4L12 16 5.3 9.3Z");
      }
      path[d="M5.3 14.7a1 1 0 0 0 1.4 0L12 9.42l5.3 5.3a1 1 0 0 0 1.4-1.42l-6-6a1 1 0 0 0-1.4 0l-6 6a1 1 0 0 0 0 1.42Z"] {
        d: path("M5.3 14.7h13.4L12 8l-6.7 6.7Z");
      }
    }
    // select popout
    .popout__3f413 {
      &:not(.popoutPositionTop__3f413) {
        margin-top: -1px;
        border-radius: 0 0 3px 3px;
      }
      &.popoutPositionTop__3f413 {
        margin-bottom: -1px;
        border-radius: 3px 3px 0 0;
      }
      border: solid 1px var(--background-tertiary);
    }
    // key
    .combo_fcddc1 {
      .key_fcddc1 {
        border-radius: 2px;
        border: solid 1px var(--dtm-16-key-border);
        background: var(--dtm-16-key-bg);
        box-shadow: var(--dtm-16-key-shadow);
        color: var(--dtm-16-key-color);
        &:active {
          border-color: var(--dtm-16-key-active-border);
          box-shadow: var(--dtm-16-key-active-shadow);
          color: var(--dtm-16-key-active-color);
        }
      }
    }
    // form notice
    .container__6436f {
      &.info__6436f {
        border: solid 1px var(--blurple);
        border-radius: 5px;
        padding: 10px 15px;
        background: hsl(var(--blurple-hsl),.1);
        .text__6436f {
          color: var(--blurple) !important;
          font-size: 12px;
          line-height: 12px;
          font-weight: 500;
        }
        .iconDiv__6436f {
          display: none;
        }
      }
    }
    // sliders
    .slider_a562c8 {
      position: relative;
      .bar_a562c8 {
        height: 8px;
        top: 8px;
        margin: 0;
        background: var(--dtm-16-slider-bg);
      }
      &.hasMarks_a562c8 {
        .bar_a562c8 {
          top: 20px;
        }
        .mark_a562c8 {
          top: -12px;
        }
      }
      .barFill_a562c8 {
        background: var(--dtm-16-slider-bg-active);
        border: none;
      }
      .grabber_a562c8 {
        width: 26px;
        height: 26px;
        margin-left: -13px;
        margin-top: -13px;
        background: #fff;
        border: solid 1px var(--dtm-16-slider-bg-active);
        box-shadow: 0 2px 4px 1px rgba(0,0,0,.1);
        border-radius: 64px;
      }
      @at-root html:not(.visual-refresh) .slider_a562c8 {
        .grabber_a562c8 {
          margin-top: 0;
          top: 0;
        }
        &.hasMarks_a562c8 {
          .bar_a562c8 {
            top: 8px;
          }
          .markDash_a562c8 {
            height: 20px;
          }
        }
      }
    }
  }
}