@use "funcs" as *;
@at-root {
  :root {
    // game librarby
    .container_ad5cdf {
      .libraryHeader__5a895 {
        &:before {
          top: 56px;
        }
        .topPill_b3f026 {
          .item_b3f026 {
            min-width: 56px;
            line-height: 18px;
            font-size: 14px;
            padding: 2px 8px;
            margin: 0 8px;
            min-height: 0;
            border-radius: 4px;
            text-align: center;
            transition: 0s;
            color: var(--dtm-16-header-tab-fg);
            .numberBadge__2b1f5 {
              background: var(--red) !important;
              border-radius: 3px;
              min-width: 0;
              width: auto !important;
              box-shadow: 0 1px 0 rgba(0,0,0,.25),inset 0 1px 0 hsla(0,0%,100%,.15);
              text-shadow: 0 1px 0 rgba(0,0,0,.25);
              color: #fff;
              font-size: 12px;
              font-weight: 500;
              line-height: 12px;
              padding: 3px 5px !important;
            }
            &:first-child {
              margin-left: 0;
            }
            &:hover {
              color: var(--dtm-16-header-tab-fg);
              background: var(--dtm-16-header-tab-hover-bg);
            }
            &.selected_b3f026 {
              background: var(--dtm-16-header-tab-active-bg);
              color: var(--dtm-16-header-tab-active-fg);
              .numberBadge__2b1f5 {
                background: var(--dtm-16-header-tab-active-fg) !important;
                text-shadow: none;
                box-shadow: none;
                color: var(--dtm-16-header-tab-active-bg);
              }
            }
          }
        }
      }
      .rowWrapper_adb41f {
        border-radius: 3px;
        transition: 0s;
        &:is(:hover, .rowWrapperActive_adb41f) {
          background: var(--dtm-16-friends-list-table-item-hover-bg);
          box-shadow: var(--dtm-16-friends-list-table-item-hover-bs);
        }
        .gameIcon_b52e4f {
          border-radius: 3px;
        }
      }
    }
    // message requests
    .chat_f75fb0.container_f391e3 {
      .topPill_b3f026 {
        .item_b3f026 {
          min-width: 56px;
          line-height: 18px;
          font-size: 14px;
          padding: 2px 8px;
          margin: 0 8px;
          min-height: 0;
          border-radius: 4px;
          text-align: center;
          transition: 0s;
          color: var(--dtm-16-header-tab-fg);
          .numberBadge__2b1f5 {
            background: var(--red) !important;
            border-radius: 3px;
            min-width: 0;
            width: auto !important;
            box-shadow: 0 1px 0 rgba(0,0,0,.25),inset 0 1px 0 hsla(0,0%,100%,.15);
            text-shadow: 0 1px 0 rgba(0,0,0,.25);
            color: #fff;
            font-size: 12px;
            font-weight: 500;
            line-height: 12px;
            padding: 3px 5px !important;
          }
          &:first-child {
            margin-left: 0;
          }
          &:hover {
            color: var(--dtm-16-header-tab-fg);
            background: var(--dtm-16-header-tab-hover-bg);
          }
          &.selected_b3f026 {
            background: var(--dtm-16-header-tab-active-bg);
            color: var(--dtm-16-header-tab-active-fg);
            .numberBadge__2b1f5 {
              background: var(--dtm-16-header-tab-active-fg) !important;
              text-shadow: none;
              box-shadow: none;
              color: var(--dtm-16-header-tab-active-bg);
            }
          }
        }
      }
      // .list_f391e3 = requests
      // ^ .sectionTitle_f391e3
      // ^ ..actions__24368
      // .list_dcc822 = spam
      // ^ .sectionTitle_dcc822
      // ^ .actions__0b7fc
      :is(.list_f391e3, .list_dcc822) {
        padding: 0 !important;
        &::-webkit-scrollbar {
          width: 14px;
          &-track-piece {
            border: solid 3px #0000;
            border-radius: 8px;
            background: none;
          }
          &-thumb {
            border: solid 3px #0000;
            background: var(--dtm-16-scrollbar-thumb);
            border-radius: 8px;
            background-clip: padding-box;
          }
        }
        :is(.sectionTitle_f391e3, .sectionTitle_dcc822) {
          margin-left: 0;
          margin-right: 0;
          margin-bottom: 0;
          padding: 8px 30px;
          border-bottom: solid 1px var(--dtm-16-friends-list-table-header-border);
          color: var(--dtm-16-friends-list-table-header-color);
          font-size: 12px;
          font-weight: 500;
          letter-spacing: .025em;
          text-transform: uppercase;
        }
        .messageRequestItem_abb9ad {
          margin: 0 30px;
          padding-left: 0;
          padding-right: 0;
          border-radius: 3px;
          &:hover {
            margin: 0 20px;
            padding-left: 10px;
            padding-right: 10px;
            background: var(--dtm-16-friends-list-table-item-hover-bg);
            box-shadow: var(--dtm-16-friends-list-table-item-hover-bs);
          }
          .username_b8dbac {
            color: var(--dtm-16-friends-list-table-item-primary);
            font-size: 16px;
            font-weight: 500;
            line-height: 18px;
          }
          .globalName_b8dbac {
            color: var(--dtm-16-friends-list-table-item-primary);
            font-size: 12px;
            font-weight: 500;
            line-height: 18px;
            opacity: .6;
          }
          :is(.actions__24368, .actions__0b7fc) {
            margin-right: 8px;
          }
        }
      }
    }
    // nitro home
    // collectible shop
    .shop__6db1d {
      .headerBar__80679 {
        height: 57px;
        border-bottom: solid 1px var(--dtm-16-friends-list-header-border);
        box-shadow: var(--dtm-16-friends-list-header-shadow);
        background: var(--background-primary) !important;
        .discordLogo__80679 {
          display: none;
          +.titleWrapper__9293f .title__9293f {
            line-height: 22px;
            font-size: 20px;
            font-weight: 700;
            letter-spacing: .8px;
            color: var(--dtm-16-chat-header-name-color);
            &:before {
              content: "Discord";
              margin-right: 6px;
            }
          }
        }
        .balanceWidgetMenu__80679 {
          margin-right: 0;
          .container_a3e8db {
            border-radius: 3px;
          }
        }
        .back__80679 {
          display: flex;
        }
      }
      .shopScroll__6db1d, .shop__08415 {
        background: none !important;
      }
      .bannerShadow__08415 {
        display: none;
      }
    }
    // family center
  }
}