@use "funcs" as *;
@at-root {
  :root {
    // game librarby
    .ad5cdf4c3a4bde59-container {
      ._5a8959fbcedb42ba-libraryHeader {
        &:before {
          top: 56px;
        }
        .aa8da23faa27393c-topPill {
          .aa8da23faa27393c-item {
            min-width: 56px;
            line-height: 18px;
            font-size: 14px;
            padding: 2px 8px;
            margin: 0 8px;
            min-height: 0;
            border-radius: 4px;
            text-align: center;
            transition: 0s;
            color: var(--dtm-16-header-tab-fg);
            ._2b1f52e43a8f1c02-numberBadge {
              background: var(--red) !important;
              border-radius: 3px;
              min-width: 0;
              width: auto !important;
              box-shadow: 0 1px 0 rgba(0,0,0,.25),inset 0 1px 0 hsla(0,0%,100%,.15);
              text-shadow: 0 1px 0 rgba(0,0,0,.25);
              color: #fff;
              font-size: 12px;
              font-weight: 500;
              line-height: 12px;
              padding: 3px 5px !important;
            }
            &:first-child {
              margin-left: 0;
            }
            &:hover {
              color: var(--dtm-16-header-tab-fg);
              background: var(--dtm-16-header-tab-hover-bg);
            }
            &.aa8da23faa27393c-selected {
              background: var(--dtm-16-header-tab-active-bg);
              color: var(--dtm-16-header-tab-active-fg);
              ._2b1f52e43a8f1c02-numberBadge {
                background: var(--dtm-16-header-tab-active-fg) !important;
                text-shadow: none;
                box-shadow: none;
                color: var(--dtm-16-header-tab-active-bg);
              }
            }
          }
        }
        ._3fb48a36faa8fdf6-libraryFilter {
          transition: .2s;
          :is(._5a8382cf5c9d77df-container, ._5a8382cf5c9d77df-control, ._72c3859781ebce8f-container, ._72c3859781ebce8f-wrapper, ._0f0849b61557225e-input, ._0f0849b61557225e-icon):not(#\#):not(#\#):not(#\#) {
            all: unset;
          }
          ._5a8382cf5c9d77df-container:not(#\#):not(#\#):not(#\#) {
            min-width: 0;
            width: auto;
            flex: 1;
            ._5a8382cf5c9d77df-control:not(#\#):not(#\#):not(#\#) {
              ._72c3859781ebce8f-container:not(#\#):not(#\#):not(#\#) {
                ._72c3859781ebce8f-wrapper:not(#\#):not(#\#):not(#\#) {
                  background: var(--dtm-16-header-search-bar-bg);
                  display: flex;
                  height: 28px;
                  border-radius: 3px;
                  align-items: center;
                  position: relative;
                  padding-right: 24px;
                  padding-left: 8px;
                  ._0f0849b61557225e-input:not(#\#):not(#\#):not(#\#) {
                    flex: 1;
                    width: auto;
                    min-width: 0;
                  }
                  ._0f0849b61557225e-icon:not(#\#):not(#\#):not(#\#) {
                    display: flex;
                    position: absolute;
                    top: 6px;
                    right: 6px;
                  }
                }
              }
            }
          }
          .searchBar__3fb48 {
            background: var(--dtm-16-header-search-bar-bg);
            z-index: 2;
            border-radius: 3px;
            height: 28px;
            border: none;
            .inner_a45028 {
              padding: 2px 6px;
              border-radius: 4px;
              border: none;
              background: none;
            }
            .input_a45028 {
              padding: 0;
              height: auto;
              font-weight: 400;
              font-size: 14px;
              line-height: 1;
              &::placeholder {
                font-weight: 500;
                color: var(--dtm-16-header-search-bar-placeholder);
              }
            }
            ._0c4c409e1915aba4-iconLayout {
              width: 16px;
              height: 16px;
              path[d="M15.62 17.03a9 9 0 1 1 1.41-1.41l4.68 4.67a1 1 0 0 1-1.42 1.42l-4.67-4.68ZM17 10a7 7 0 1 1-14 0 7 7 0 0 1 14 0Z"] {
                d: path("M4.80106 9.6038C4.80106 6.94628 6.94628 4.80106 9.6038 4.80106C12.2613 4.80106 14.4065 6.94628 14.4065 9.6038C14.4065 12.2613 12.2613 14.4065 9.6038 14.4065C6.94628 14.4065 4.80106 12.2613 4.80106 9.6038V9.6038ZM16.0075 14.4065H15.1643L14.8655 14.1184C15.9114 12.9017 16.5411 11.3221 16.5411 9.6038C16.5411 5.77228 13.4353 2.6665 9.6038 2.6665C5.77228 2.6665 2.6665 5.77228 2.6665 9.6038C2.6665 13.4353 5.77228 16.5411 9.6038 16.5411C11.3221 16.5411 12.9017 15.9114 14.1184 14.8655L14.4065 15.1643V16.0075L19.7429 21.3332L21.3332 19.7429L16.2802 14.6798L16.0075 14.4065V14.4065Z")
              }
              path[d="M17.3 18.7a1 1 0 0 0 1.4-1.4L13.42 12l5.3-5.3a1 1 0 0 0-1.42-1.4L12 10.58l-5.3-5.3a1 1 0 0 0-1.4 1.42L10.58 12l-5.3 5.3a1 1 0 1 0 1.42 1.4L12 13.42l5.3 5.3Z"] {
                d: path("M12.0002 1.81836C17.6307 1.81836 22.182 6.36963 22.182 12.0002C22.182 17.6307 17.6307 22.182 12.0002 22.182C6.36963 22.182 1.81836 17.6307 1.81836 12.0002C1.81836 6.36963 6.36963 1.81836 12.0002 1.81836ZM15.9165 6.54563L12.0002 10.462L8.08381 6.54563L6.54563 8.08381L10.462 12.0002L6.54563 15.9165L8.08381 17.4547L12.0002 13.5384L15.9165 17.4547L17.4547 15.9165L13.5384 12.0002L17.4547 8.08381L15.9165 6.54563Z")
              }
              ._0c4c409e1915aba4-visible {
                color: var(--dtm-16-header-search-bar-icon);
                opacity: var(--dtm-16-header-search-bar-icon-opacity);
                &:hover {
                  opacity: var(--dtm-16-header-search-bar-icon-opacity-hover);
                }
              }
            }
            .enable-forced-colors & {
              outline: solid 1px ButtonText;
              .input__0c4c4 {
                border: none;
              }
            }
          }
        }
      }
      ._4903508b8d56909a-gameUpdates {
        width: 100%;
        background: var(--background-tertiary);
        ._4903508b8d56909a-actionButton {
          --interactive-normal: var(--interactive-active);
        }
      }
      .adb41f8099151bc8-rowWrapper {
        border-radius: 3px;
        transition: 0s;
        &:is(:hover, .adb41f8099151bc8-rowWrapperActive) {
          background: var(--dtm-16-friends-list-table-item-hover-bg);
          box-shadow: var(--dtm-16-friends-list-table-item-hover-bs);
        }
        .b52e4f70d11a5ca2-gameIcon {
          border-radius: 3px;
        }
      }
    }
    // message requests
    .f75fb00fb7356cbe-chat.f391e3680aff100a-container {
      .topPill_b3f026 {
        .aa8da23faa27393c-item {
          min-width: 56px;
          line-height: 18px;
          font-size: 14px;
          padding: 2px 8px;
          margin: 0 8px;
          min-height: 0;
          border-radius: 4px;
          text-align: center;
          transition: 0s;
          color: var(--dtm-16-header-tab-fg);
          ._2b1f52e43a8f1c02-numberBadge {
            background: var(--red) !important;
            border-radius: 3px;
            min-width: 0;
            width: auto !important;
            box-shadow: 0 1px 0 rgba(0,0,0,.25),inset 0 1px 0 hsla(0,0%,100%,.15);
            text-shadow: 0 1px 0 rgba(0,0,0,.25);
            color: #fff;
            font-size: 12px;
            font-weight: 500;
            line-height: 12px;
            padding: 3px 5px !important;
          }
          &:first-child {
            margin-left: 0;
          }
          &:hover {
            color: var(--dtm-16-header-tab-fg);
            background: var(--dtm-16-header-tab-hover-bg);
          }
          &.aa8da23faa27393c-selected {
            background: var(--dtm-16-header-tab-active-bg);
            color: var(--dtm-16-header-tab-active-fg);
            ._2b1f52e43a8f1c02-numberBadge {
              background: var(--dtm-16-header-tab-active-fg) !important;
              text-shadow: none;
              box-shadow: none;
              color: var(--dtm-16-header-tab-active-bg);
            }
          }
        }
      }
      // .f391e3680aff100a-list = requests
      // ^ .f391e3680aff100a-sectionTitle
      // ^ .._24368aff68d52a85-actions
      // .dcc822f5d1a23123-list = spam
      // ^ .dcc822f5d1a23123-sectionTitle
      // ^ ._0b7fcbe7261eb741-actions
      :is(.f391e3680aff100a-list, .dcc822f5d1a23123-list) {
        padding: 0 !important;
        &::-webkit-scrollbar {
          width: 14px;
          &-track-piece {
            border: solid 3px #0000;
            border-radius: 8px;
            background: none;
          }
          &-thumb {
            border: solid 3px #0000;
            background: var(--dtm-16-scrollbar-thumb);
            border-radius: 8px;
            background-clip: padding-box;
          }
        }
        :is(.f391e3680aff100a-sectionTitle, .dcc822f5d1a23123-sectionTitle) {
          margin-left: 0;
          margin-right: 0;
          margin-bottom: 0;
          padding: 8px 30px;
          border-bottom: solid 1px var(--dtm-16-friends-list-table-header-border);
          color: var(--dtm-16-friends-list-table-header-color);
          font-size: 12px;
          font-weight: 500;
          letter-spacing: .025em;
          text-transform: uppercase;
        }
        .abb9ad4c358e5829-messageRequestItem {
          margin: 0 30px;
          padding-left: 0;
          padding-right: 0;
          border-radius: 3px;
          &:hover {
            margin: 0 20px;
            padding-left: 10px;
            padding-right: 10px;
            background: var(--dtm-16-friends-list-table-item-hover-bg);
            box-shadow: var(--dtm-16-friends-list-table-item-hover-bs);
          }
          .b8dbac637569713c-username {
            color: var(--dtm-16-friends-list-table-item-primary);
            font-size: 16px;
            font-weight: 500;
            line-height: 18px;
          }
          .b8dbac637569713c-globalName {
            color: var(--dtm-16-friends-list-table-item-primary);
            font-size: 12px;
            font-weight: 500;
            line-height: 18px;
            opacity: .6;
          }
          :is(._24368aff68d52a85-actions, ._0b7fcbe7261eb741-actions) {
            margin-right: 8px;
          }
        }
      }
    }
    // nitro home
    // collectible shop
    ._6db1d32c47b6ad72-shop {
      ._8067953d83f4b8a8-headerBar {
        height: 57px;
        border-bottom: solid 1px var(--dtm-16-friends-list-header-border);
        box-shadow: var(--dtm-16-friends-list-header-shadow);
        background: var(--background-primary) !important;
        ._8067953d83f4b8a8-discordLogo {
          display: none;
          +._9293f6b2fc12398a-titleWrapper ._9293f6b2fc12398a-title {
            line-height: 22px;
            font-size: 20px;
            font-weight: 700;
            letter-spacing: .8px;
            color: var(--dtm-16-chat-header-name-color);
            &:before {
              content: "Discord";
              margin-right: 6px;
            }
          }
        }
        ._8067953d83f4b8a8-balanceWidgetMenu {
          margin-right: 0;
          .a3e8dbaff932c162-container {
            border-radius: 3px;
          }
        }
        .back__80679 {
          display: flex;
        }
      }
      .shopScroll__6db1d, ._084152b107f71237-shop {
        background: none !important;
      }
      .bannerShadow__08415 {
        display: none;
      }
    }
    // family center
  }
}