@use "funcs" as *;
@at-root {
  :root {
    // game librarby
    .container_ad5cdf {
      .libraryHeader__5a895 {
        &:before {
          top: 56px;
        }
        .topPill_b3f026 {
          .item_b3f026 {
            min-width: 56px;
            line-height: 18px;
            font-size: 14px;
            padding: 2px 8px;
            margin: 0 8px;
            min-height: 0;
            border-radius: 4px;
            text-align: center;
            transition: 0s;
            color: var(--dtm-16-header-tab-fg);
            .numberBadge__2b1f5 {
              background: var(--red) !important;
              border-radius: 3px;
              min-width: 0;
              width: auto !important;
              box-shadow: 0 1px 0 rgba(0,0,0,.25),inset 0 1px 0 hsla(0,0%,100%,.15);
              text-shadow: 0 1px 0 rgba(0,0,0,.25);
              color: #fff;
              font-size: 12px;
              font-weight: 500;
              line-height: 12px;
              padding: 3px 5px !important;
            }
            &:first-child {
              margin-left: 0;
            }
            &:hover {
              color: var(--dtm-16-header-tab-fg);
              background: var(--dtm-16-header-tab-hover-bg);
            }
            &.selected_b3f026 {
              background: var(--dtm-16-header-tab-active-bg);
              color: var(--dtm-16-header-tab-active-fg);
              .numberBadge__2b1f5 {
                background: var(--dtm-16-header-tab-active-fg) !important;
                text-shadow: none;
                box-shadow: none;
                color: var(--dtm-16-header-tab-active-bg);
              }
            }
          }
        }
        .libraryFilter__3fb48 {
          .searchBar__3fb48 {
            background: var(--dtm-16-header-search-bar-bg);
            z-index: 2;
            border-radius: 3px;
            height: 28px;
            border: none;
            .inner_a45028 {
              padding: 2px 6px;
              border-radius: 4px;
              border: none;
              background: none;
            }
            .input_a45028 {
              padding: 0;
              height: auto;
              font-weight: 400;
              font-size: 14px;
              line-height: 1;
              &::placeholder {
                font-weight: 500;
                color: var(--dtm-16-header-search-bar-placeholder);
              }
            }
            .iconLayout__0c4c4 {
              width: 16px;
              height: 16px;
              path[d="M15.62 17.03a9 9 0 1 1 1.41-1.41l4.68 4.67a1 1 0 0 1-1.42 1.42l-4.67-4.68ZM17 10a7 7 0 1 1-14 0 7 7 0 0 1 14 0Z"] {
                d: path("M4.80106 9.6038C4.80106 6.94628 6.94628 4.80106 9.6038 4.80106C12.2613 4.80106 14.4065 6.94628 14.4065 9.6038C14.4065 12.2613 12.2613 14.4065 9.6038 14.4065C6.94628 14.4065 4.80106 12.2613 4.80106 9.6038V9.6038ZM16.0075 14.4065H15.1643L14.8655 14.1184C15.9114 12.9017 16.5411 11.3221 16.5411 9.6038C16.5411 5.77228 13.4353 2.6665 9.6038 2.6665C5.77228 2.6665 2.6665 5.77228 2.6665 9.6038C2.6665 13.4353 5.77228 16.5411 9.6038 16.5411C11.3221 16.5411 12.9017 15.9114 14.1184 14.8655L14.4065 15.1643V16.0075L19.7429 21.3332L21.3332 19.7429L16.2802 14.6798L16.0075 14.4065V14.4065Z")
              }
              path[d="M17.3 18.7a1 1 0 0 0 1.4-1.4L13.42 12l5.3-5.3a1 1 0 0 0-1.42-1.4L12 10.58l-5.3-5.3a1 1 0 0 0-1.4 1.42L10.58 12l-5.3 5.3a1 1 0 1 0 1.42 1.4L12 13.42l5.3 5.3Z"] {
                d: path("M12.0002 1.81836C17.6307 1.81836 22.182 6.36963 22.182 12.0002C22.182 17.6307 17.6307 22.182 12.0002 22.182C6.36963 22.182 1.81836 17.6307 1.81836 12.0002C1.81836 6.36963 6.36963 1.81836 12.0002 1.81836ZM15.9165 6.54563L12.0002 10.462L8.08381 6.54563L6.54563 8.08381L10.462 12.0002L6.54563 15.9165L8.08381 17.4547L12.0002 13.5384L15.9165 17.4547L17.4547 15.9165L13.5384 12.0002L17.4547 8.08381L15.9165 6.54563Z")
              }
              .visible__0c4c4 {
                color: var(--dtm-16-header-search-bar-icon);
                opacity: var(--dtm-16-header-search-bar-icon-opacity);
                &:hover {
                  opacity: var(--dtm-16-header-search-bar-icon-opacity-hover);
                }
              }
            }
            .enable-forced-colors & {
              outline: solid 1px ButtonText;
              .input__0c4c4 {
                border: none;
              }
            }
          }
        }
      }
      .gameUpdates__49035 {
        width: 100%;
        background: var(--background-tertiary);
        .actionButton__49035 {
          --interactive-normal: var(--interactive-active);
        }
      }
      .rowWrapper_adb41f {
        border-radius: 3px;
        transition: 0s;
        &:is(:hover, .rowWrapperActive_adb41f) {
          background: var(--dtm-16-friends-list-table-item-hover-bg);
          box-shadow: var(--dtm-16-friends-list-table-item-hover-bs);
        }
        .gameIcon_b52e4f {
          border-radius: 3px;
        }
      }
    }
    // message requests
    .chat_f75fb0.container_f391e3 {
      .topPill_b3f026 {
        .item_b3f026 {
          min-width: 56px;
          line-height: 18px;
          font-size: 14px;
          padding: 2px 8px;
          margin: 0 8px;
          min-height: 0;
          border-radius: 4px;
          text-align: center;
          transition: 0s;
          color: var(--dtm-16-header-tab-fg);
          .numberBadge__2b1f5 {
            background: var(--red) !important;
            border-radius: 3px;
            min-width: 0;
            width: auto !important;
            box-shadow: 0 1px 0 rgba(0,0,0,.25),inset 0 1px 0 hsla(0,0%,100%,.15);
            text-shadow: 0 1px 0 rgba(0,0,0,.25);
            color: #fff;
            font-size: 12px;
            font-weight: 500;
            line-height: 12px;
            padding: 3px 5px !important;
          }
          &:first-child {
            margin-left: 0;
          }
          &:hover {
            color: var(--dtm-16-header-tab-fg);
            background: var(--dtm-16-header-tab-hover-bg);
          }
          &.selected_b3f026 {
            background: var(--dtm-16-header-tab-active-bg);
            color: var(--dtm-16-header-tab-active-fg);
            .numberBadge__2b1f5 {
              background: var(--dtm-16-header-tab-active-fg) !important;
              text-shadow: none;
              box-shadow: none;
              color: var(--dtm-16-header-tab-active-bg);
            }
          }
        }
      }
      // .list_f391e3 = requests
      // ^ .sectionTitle_f391e3
      // ^ ..actions__24368
      // .list_dcc822 = spam
      // ^ .sectionTitle_dcc822
      // ^ .actions__0b7fc
      :is(.list_f391e3, .list_dcc822) {
        padding: 0 !important;
        &::-webkit-scrollbar {
          width: 14px;
          &-track-piece {
            border: solid 3px #0000;
            border-radius: 8px;
            background: none;
          }
          &-thumb {
            border: solid 3px #0000;
            background: var(--dtm-16-scrollbar-thumb);
            border-radius: 8px;
            background-clip: padding-box;
          }
        }
        :is(.sectionTitle_f391e3, .sectionTitle_dcc822) {
          margin-left: 0;
          margin-right: 0;
          margin-bottom: 0;
          padding: 8px 30px;
          border-bottom: solid 1px var(--dtm-16-friends-list-table-header-border);
          color: var(--dtm-16-friends-list-table-header-color);
          font-size: 12px;
          font-weight: 500;
          letter-spacing: .025em;
          text-transform: uppercase;
        }
        .messageRequestItem_abb9ad {
          margin: 0 30px;
          padding-left: 0;
          padding-right: 0;
          border-radius: 3px;
          &:hover {
            margin: 0 20px;
            padding-left: 10px;
            padding-right: 10px;
            background: var(--dtm-16-friends-list-table-item-hover-bg);
            box-shadow: var(--dtm-16-friends-list-table-item-hover-bs);
          }
          .username_b8dbac {
            color: var(--dtm-16-friends-list-table-item-primary);
            font-size: 16px;
            font-weight: 500;
            line-height: 18px;
          }
          .globalName_b8dbac {
            color: var(--dtm-16-friends-list-table-item-primary);
            font-size: 12px;
            font-weight: 500;
            line-height: 18px;
            opacity: .6;
          }
          :is(.actions__24368, .actions__0b7fc) {
            margin-right: 8px;
          }
        }
      }
    }
    // nitro home
    // collectible shop
    .shop__6db1d {
      .headerBar__80679 {
        height: 57px;
        border-bottom: solid 1px var(--dtm-16-friends-list-header-border);
        box-shadow: var(--dtm-16-friends-list-header-shadow);
        background: var(--background-primary) !important;
        .discordLogo__80679 {
          display: none;
          +.titleWrapper__9293f .title__9293f {
            line-height: 22px;
            font-size: 20px;
            font-weight: 700;
            letter-spacing: .8px;
            color: var(--dtm-16-chat-header-name-color);
            &:before {
              content: "Discord";
              margin-right: 6px;
            }
          }
        }
        .balanceWidgetMenu__80679 {
          margin-right: 0;
          .container_a3e8db {
            border-radius: 3px;
          }
        }
        .back__80679 {
          display: flex;
        }
      }
      .shopScroll__6db1d, .shop__08415 {
        background: none !important;
      }
      .bannerShadow__08415 {
        display: none;
      }
    }
    // family center
  }
}