@use "funcs" as *;
@at-root {
  ._6e2b9359c6f84cfd-notice._6e2b9359c6f84cfd-notice {
    border-radius: 0;
    border-top: none;
    color: #fff;
    background: var(--dtm-16-notice-bg-color, #000);
    height: 40px;
    line-height: 40px;
    ._6e2b9359c6f84cfd-closeButton {
      opacity: .5;
      transition: .2s;
      height: 40px;
      &:hover {
        opacity: 1;
      }
      ._6e2b9359c6f84cfd-closeIcon {
        color: #fff !important;
        width: 24px;
        height: 24px;
      }
      path {
        d: path("m7.22 8.43 1.2-1.2c.3-.3.78-.3 1.08 0l2.5 2.5 2.5-2.5c.3-.3.78-.3 1.07 0l1.2 1.2c.3.3.3.77 0 1.07l-2.5 2.5 2.5 2.5c.3.3.3.78 0 1.07l-1.2 1.2c-.3.3-.77.3-1.07 0l-2.5-2.5-2.5 2.5c-.3.3-.78.3-1.07 0l-1.2-1.2a.76.76 0 0 1 0-1.07l2.5-2.5-2.5-2.5a.76.76 0 0 1 0-1.07Z");
        fill: currentColor;
      }
    }
    .c9e42fe11bb9448d-button:not(#\#) {
      background: none;
      border: 1px solid hsla(0,0%,100%,.25) !important;
      transition: .25s;
      color: #fff !important;
      margin-top: 2px;
      padding: 0 8px;
      min-height: 32px;
      &:hover {
        background: #fff;
        color: var(--dtm-16-notice-bg-color, #000) !important;
      }
    }
    &._6e2b9359c6f84cfd-colorCustom {--dtm-16-notice-bg-color: #{ss(#202225)};}
    &._6e2b9359c6f84cfd-colorDefault {--dtm-16-notice-bg-color: #{ss(#f26522)};}
    &._6e2b9359c6f84cfd-colorInfo {--dtm-16-notice-bg-color: #{ss(#4a90e2)};}
    &._6e2b9359c6f84cfd-colorNeutral {--dtm-16-notice-bg-color: #{ss(#202225)};}
    &.colorSuccess__6e2b9 {--dtm-16-notice-bg-color: var(--green);}
    &._6e2b9359c6f84cfd-colorWarning {--dtm-16-notice-bg-color: var(--yellow);}
    &._6e2b9359c6f84cfd-colorDanger {--dtm-16-notice-bg-color: var(--red);}
    &._6e2b9359c6f84cfd-colorStreamerMode {
      --dtm-16-notice-bg-color: #{ss(#593695)};
      ._6e2b9359c6f84cfd-button._6e2b9359c6f84cfd-button {top: 8px}
    }
    &._6e2b9359c6f84cfd-colorSpotify {--dtm-16-notice-bg-color: #{ss(#1db954)};}
    &._6e2b9359c6f84cfd-colorPlayStation {--dtm-16-notice-bg-color: #{ss(#01439a)};}
    &._6e2b9359c6f84cfd-colorBrand {--dtm-16-notice-bg-color: var(--blurple);}
    &._6e2b9359c6f84cfd-colorPremiumTier0, &._6e2b9359c6f84cfd-colorPremiumTier1 {
      background: linear-gradient(to right, #{ss(#b3aeff)}, #{ss(#738ef5)});
      --dtm-16-notice-bg-color: var(--blurple);
    }
    &._6e2b9359c6f84cfd-colorPremiumTier0, &._6e2b9359c6f84cfd-colorPremiumTier1, &._6e2b9359c6f84cfd-colorPremiumTier2 {
      --dtm-16-notice-bg-color: var(--blurple);
      background: linear-gradient(to right, #{ss(#e292aa)}, #{ss(#b473f5)});
    }
  }
}