@use "funcs" as *;
@use "mixins" as *;
@at-root {
  :root {
    .panels_c48ade {
      display: flex;
      width: 240px;
      flex-direction: column;
      border: none;
      border-radius: 0;
      background: var(--background-secondary-alt);
      >div:not([class]):not(#vc-spotify-player) {display:contents}
      // dev banner
      @at-root :root .devBanner__56d75 {
        background: var(--background-secondary-alt);
        border-top: solid 1px var(--background-secondary);
        color: var(--dtm-16-panels-linkbar);
        font-size: 10px;
        text-align: left;
        box-sizing: border-box;
        padding: 6px 10px;
        height: 25px;
        line-height: 11px;
        margin-bottom: -26px;
        transition: transform .2s;
        position: relative;
        z-index: 2;
        order: 999;
        @at-root :root.custom-theme-background .panels_c48ade .devBanner__56d75 {
         background: var(--bg-overlay-2), var(--bg-overlay-5);
         background-clip: padding-box, padding-box, border-box, border-box;
         border-color: #0000;
        }
        .icon__56d75 {display:none}
        .closeButton__56d75 {display: none}
        &:after {
          content: "";
          display: block;
          position: absolute;
          inset: 0;
          transform: translateY(-26px);
          transition: .2s;
          transform-origin: top left;
        }
        &:hover {
          transform: translateY(-26px);
          &:after {
            transform: translateY(0) scaleY(0);
          }
          .closeButton__56d75 {opacity:.3}
        }
      }
      // fake links bar
      &:after {
        content: "Support • Change Log • Download Apps";
        display: flex;
        background: var(--background-secondary-alt);
        border-top: solid 1px var(--background-secondary);
        color: var(--dtm-16-panels-linkbar);
        font-size: 10px;
        font-weight: 500;
        text-align: left;
        box-sizing: content-box;
        padding: 6px 10px;
        height: 26px;
        box-sizing: border-box;
        line-height: 11px;
        @at-root :root.custom-theme-background .panels_c48ade:after {
         background: var(--bg-overlay-2), var(--bg-overlay-5);
         background-clip: padding-box, padding-box, border-box, border-box;
         border-color: #0000;
        }
      }
      // account panel
      .container__37e49 {
        background: var(--background-secondary-alt);
        height: 71px;
        box-sizing: border-box;
        border-top: solid 1px var(--background-tertiary);
        border-radius: 0;
        margin: 0;
        justify-content: space-between;
        @at-root :root.custom-theme-background .panels_c48ade .container__37e49 {
          background: var(--bg-overlay-2), var(--bg-overlay-5);
          background-clip: padding-box, padding-box, border-box, border-box;
          border-color: #0000;
        }
        padding: 0 10px;
        .content__37e49 {
          padding: 0;
          align-items: center;
          height: 100%;
        }
        .avatarWrapper__37e49 {
          border-radius: 0;
          background: none !important;
          gap: 10px;
          >.avatar__37e49 {
            width: 30px !important;
            height: 30px !important;
            >svg {
              transform-origin: top left;
              transform: scale(calc(30/40));
            }
            &[style*="width: 44px"]>svg {
              transform: scale(calc(30/44));
            }
          }
          .panelTitleContainer__37e49 {
            >div[data-text-variant="text-sm/medium"],
            >div[data-text-variant="text-md/medium"] {
              font-size: 14px;
              font-weight: 400;
              line-height: 16px;
              color: var(--header-primary);
            }
          }
          .panelSubtextContainer__37e49 {
            >div[data-text-variant="text-xs/normal"],
            >div[data-text-variant="text-xs/medium"] {
              opacity: .4;
            }
            >div[data-text-variant="text-xs/normal"],
            div[data-text-variant="text-xs/medium"] {
              font-size: 10px;
              font-weight: 400;
              line-height: 12px;
              color: var(--header-primary);
            }
          }
        }
        .panelSubtextContainer__37e49 {
          margin-top: -3px;
          .customStatusAction_b5ae07>svg {
            display: none;
          }
        }
        .buttons__37e49 {
          gap: 0;
          border: solid 1px var(--background-tertiary);
          border-radius: 4px;
          padding-bottom: 1px;
          .button__67645:is(.button__67645,.button__67645,.redGlow__67645.enabled__67645) {
            margin: 0;
            background: var(--background-secondary);
            transition: 0s;
            border-radius: 0;
            .contents__201d5 {
              position: relative;
              width: 20px !important;
              height: 20px !important;
              display: flex;
              .lottieIcon__5eb9b {display:none!important}
              &:before, &:after {
                content: "";
                display: block;
                position: absolute;
                inset: 0;
                pointer-events: none;
                -webkit-mask-position: center !important;
                mask-position: center !important;
                -webkit-mask-size: 20px !important;
                mask-size: 20px !important;
                -webkit-mask-repeat: no-repeat !important;
                mask-repeat: no-repeat !important;
              }
              &:before {
                background: var(--dtm-16-panel-button-fg);
              }
              &:after {
                background: var(--red);
                display: none;
              }
            }
            &:hover .contents__201d5:before {
              background: var(--dtm-16-panel-button-fg-hover);
            }
            &:active {
              background: var(--dtm-16-panel-button-bg-hover);
              box-shadow: var(--dtm-16-panel-button-active-shadow);
            }
            &:not(:first-child) {
              box-shadow: var(--dtm-16-panel-button-shadow);
            }
            &:not(:last-of-type) {
              border-right: solid 1px var(--background-tertiary);
            }
          }
          >.button__67645:is(.button__67645,.button__67645,.redGlow__67645.enabled__67645):last-of-type {
            border-top-right-radius: 3px;
            border-bottom-right-radius: 3px;
          }
          .micButtonParent__37e49 {
            margin: 0 !important;
            .button__67645:is(.button__67645,.button__67645,.redGlow__67645.enabled__67645) {
              border-top-left-radius: 3px;
              border-bottom-left-radius: 3px;
              border-right: solid 1px var(--background-tertiary);
              path {d:path("")}
              .contents__201d5 {
                &:before {
                  @include mask(url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='none'%3E%3Cpath fill='%23fff' fill-rule='evenodd' d='M14.5 10v1c0 2.2-1.8 4-4 4h-1c-2.2 0-4-1.8-4-4v-1h-1v1c0 2.8 2.2 5 5 5v1H9c-.3 0-.5.2-.5.5s.2.5.5.5h2c.3 0 .5-.2.5-.5s-.2-.5-.5-.5h-.5v-1c2.8 0 5-2.2 5-5v-1h-1ZM10 14c1.9 0 3.5-1.6 3.5-3.5v-5C13.5 3.6 11.9 2 10 2S6.5 3.6 6.5 5.5v5c0 1.9 1.6 3.5 3.5 3.5ZM7.5 5.5C7.5 4.1 8.6 3 10 3s2.5 1.1 2.5 2.5v5c0 1.4-1.1 2.5-2.5 2.5s-2.5-1.1-2.5-2.5v-5Z' clip-rule='evenodd'/%3E%3C/svg%3E"));
                }
                &:after {
                  @include mask(url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='none'%3E%3Cpath fill='%23fff' d='m17.9 2.7-3.7 3.7-7.8 7.8-3.7 3.7-.8-.7L17.2 1.9l.7.8Z'/%3E%3C/svg%3E"));
                }
              }
              &[aria-checked="true"] .contents__201d5 {
                &:before {
                  @include mask(url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='none'%3E%3Cpath fill='%23fff' d='M7.5 10.2V5.5a2.5 2.5 0 0 1 5-.2l.8-.8C12.9 3 11.6 2 10 2 8.1 2 6.5 3.6 6.5 5.5v5c0 .2 0 .5.1.7l.9-1Zm5 .3c0 1.4-1.1 2.5-2.5 2.5-.5 0-1-.1-1.3-.4l-.7.7c.5.4 1.2.7 2 .7 1.9 0 3.5-1.6 3.5-3.5V7.8l-1 1v1.7Zm2-.5v1c0 2.2-1.8 4-4 4h-1c-.9 0-1.7-.3-2.4-.8l-.7.7c.8.7 1.9 1.1 3.1 1.1v1H9c-.3 0-.5.2-.5.5s.2.5.5.5h2c.3 0 .5-.2.5-.5s-.2-.5-.5-.5h-.5v-1c2.8 0 5-2.2 5-5v-1h-1Zm-9 0h-1v1c0 .7.1 1.3.4 1.9l.8-.8c-.1-.4-.2-.7-.2-1.1v-1Z'/%3E%3C/svg%3E"));
                }
                &:after {
                  display: block;
                }
              }
            }
            +.micButtonParent__37e49 {
              .button__67645:is(.button__67645,.button__67645,.redGlow__67645.enabled__67645) {
                border-radius: 0;
                box-shadow: var(--dtm-16-panel-button-shadow);
                .contents__201d5 {
                  &:before {
                    @include mask(url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='none'%3E%3Cpath fill='%23fff' fill-rule='evenodd' d='M17.9 11c.1-.3.1-.7.1-1 0-4.4-3.6-8-8-8s-8 3.6-8 8c0 .3 0 .7.1 1-.1.2-.1.3-.1.5v4c0 .8.7 1.5 1.5 1.5h2c.8 0 1.5-.7 1.5-1.5v-4c0-.8-.7-1.5-1.5-1.5h-2c-.2 0-.3 0-.5.1V10c0-3.9 3.1-7 7-7s7 3.1 7 7v.1c-.2-.1-.3-.1-.5-.1h-2c-.8 0-1.5.7-1.5 1.5v4c0 .8.7 1.5 1.5 1.5h2c.8 0 1.5-.7 1.5-1.5v-4c0-.2 0-.3-.1-.5ZM3.5 11h2c.3 0 .5.2.5.5v4c0 .3-.2.5-.5.5h-2c-.3 0-.5-.2-.5-.5v-4c0-.3.2-.5.5-.5ZM17 15.5c0 .3-.2.5-.5.5h-2c-.3 0-.5-.2-.5-.5v-4c0-.3.2-.5.5-.5h2c.3 0 .5.2.5.5v4Z' clip-rule='evenodd'/%3E%3C/svg%3E"));
  
                  }
                  &:after {
                    @include mask(url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='none'%3E%3Cpath fill='%23fff' fill-rule='evenodd' d='M18.1 2.6 6.6 14.1l-4 4-.7-.7 4-4 7.5-7.5 4-4 .7.7Zm-4.7 3.3-7.5 7.5 7.5-7.5Z' clip-rule='evenodd'/%3E%3C/svg%3E"));
                  }
                }
                &[aria-checked="true"] {
                  .contents__201d5 {
                    &:before {
                      @include mask(url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='none'%3E%3Cpath fill='%23fff' fill-rule='evenodd' d='M17.9 11c.1-.3.1-.7.1-1 0-1.8-.6-3.4-1.5-4.7l-.8.7c.8 1.1 1.3 2.5 1.3 4v.1c-.2-.1-.3-.1-.5-.1h-2c-.8 0-1.5.7-1.5 1.5v4c0 .8.7 1.5 1.5 1.5h2c.8 0 1.5-.7 1.5-1.5v-4c0-.2 0-.3-.1-.5Zm-.9 4.5c0 .3-.2.5-.5.5h-2c-.3 0-.5-.2-.5-.5v-4c0-.3.2-.5.5-.5h2c.3 0 .5.2.5.5v4Zm-2.3-12A8.02 8.02 0 0 0 2 10c0 .3 0 .7.1 1-.1.2-.1.3-.1.5v4c0 .2 0 .4.1.6l.9-.9v-3.7c0-.3.2-.5.5-.5h2c.3 0 .5.2.5.5v.7l1-1c-.1-.6-.8-1.2-1.5-1.2h-2c-.2 0-.3 0-.5.1V10a6.96 6.96 0 0 1 11-5.7l.7-.8ZM6.8 15l-2 2h.7c.8 0 1.5-.7 1.5-1.5v-.7l-.2.2Zm6.6-9.1-7.5 7.5 7.5-7.5Z' clip-rule='evenodd'/%3E%3C/svg%3E"));
                    }
                    &:after {
                      display: block;
                    }
                  }
                }
              }
            }
            .buttonChevron__37e49 {
              display: none;
            }
          }
          >.button__67645.button__67645.button__67645.button__67645 {
            &:nth-last-child(2 of :not(span)) {
              path {d:path("")}
              .contents__201d5 {
                &:before {
                  @include mask(url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='none'%3E%3Cpath fill='%23fff' fill-rule='evenodd' d='M17.9 11c.1-.3.1-.7.1-1 0-4.4-3.6-8-8-8s-8 3.6-8 8c0 .3 0 .7.1 1-.1.2-.1.3-.1.5v4c0 .8.7 1.5 1.5 1.5h2c.8 0 1.5-.7 1.5-1.5v-4c0-.8-.7-1.5-1.5-1.5h-2c-.2 0-.3 0-.5.1V10c0-3.9 3.1-7 7-7s7 3.1 7 7v.1c-.2-.1-.3-.1-.5-.1h-2c-.8 0-1.5.7-1.5 1.5v4c0 .8.7 1.5 1.5 1.5h2c.8 0 1.5-.7 1.5-1.5v-4c0-.2 0-.3-.1-.5ZM3.5 11h2c.3 0 .5.2.5.5v4c0 .3-.2.5-.5.5h-2c-.3 0-.5-.2-.5-.5v-4c0-.3.2-.5.5-.5ZM17 15.5c0 .3-.2.5-.5.5h-2c-.3 0-.5-.2-.5-.5v-4c0-.3.2-.5.5-.5h2c.3 0 .5.2.5.5v4Z' clip-rule='evenodd'/%3E%3C/svg%3E"));

                }
                &:after {
                  @include mask(url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='none'%3E%3Cpath fill='%23fff' fill-rule='evenodd' d='M18.1 2.6 6.6 14.1l-4 4-.7-.7 4-4 7.5-7.5 4-4 .7.7Zm-4.7 3.3-7.5 7.5 7.5-7.5Z' clip-rule='evenodd'/%3E%3C/svg%3E"));
                }
              }
              &[aria-checked="true"] {
                .contents__201d5 {
                  &:before {
                    @include mask(url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='none'%3E%3Cpath fill='%23fff' fill-rule='evenodd' d='M17.9 11c.1-.3.1-.7.1-1 0-1.8-.6-3.4-1.5-4.7l-.8.7c.8 1.1 1.3 2.5 1.3 4v.1c-.2-.1-.3-.1-.5-.1h-2c-.8 0-1.5.7-1.5 1.5v4c0 .8.7 1.5 1.5 1.5h2c.8 0 1.5-.7 1.5-1.5v-4c0-.2 0-.3-.1-.5Zm-.9 4.5c0 .3-.2.5-.5.5h-2c-.3 0-.5-.2-.5-.5v-4c0-.3.2-.5.5-.5h2c.3 0 .5.2.5.5v4Zm-2.3-12A8.02 8.02 0 0 0 2 10c0 .3 0 .7.1 1-.1.2-.1.3-.1.5v4c0 .2 0 .4.1.6l.9-.9v-3.7c0-.3.2-.5.5-.5h2c.3 0 .5.2.5.5v.7l1-1c-.1-.6-.8-1.2-1.5-1.2h-2c-.2 0-.3 0-.5.1V10a6.96 6.96 0 0 1 11-5.7l.7-.8ZM6.8 15l-2 2h.7c.8 0 1.5-.7 1.5-1.5v-.7l-.2.2Zm6.6-9.1-7.5 7.5 7.5-7.5Z' clip-rule='evenodd'/%3E%3C/svg%3E"));
                  }
                  &:after {
                    display: block;
                  }
                }
              }
            }
            &:nth-last-child(1 of :not(span)) {
              path {d:path("")}
              .contents__201d5 {
                >svg {display:none}
                &:before {
                  @include mask(url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='none'%3E%3Cpath fill='%23fff' fill-rule='evenodd' d='M10 7c-1.7 0-3 1.3-3 3s1.3 3 3 3 3-1.3 3-3-1.3-3-3-3Zm0 5a2 2 0 0 1-2-2c0-1.1.9-2 2-2a2 2 0 0 1 2 2 2 2 0 0 1-2 2Zm8-2c0-1-.8-1.9-1.8-2-.1-.3-.3-.7-.4-1 .7-.8.6-1.9-.1-2.7a2 2 0 0 0-2.7-.1 3 3 0 0 0-1-.4c-.1-1-1-1.8-2-1.8s-1.9.8-2 1.8c-.3.1-.7.3-1 .4-.8-.6-1.9-.6-2.7.1-.7.8-.7 1.9-.1 2.7-.1.3-.3.7-.4 1-1 .1-1.8 1-1.8 2s.8 1.9 1.8 2c.1.3.3.7.4 1-.7.8-.6 1.9.1 2.7a2 2 0 0 0 2.7.1c.3.2.6.3 1 .4.1 1 1 1.8 2 1.8s1.9-.8 2-1.8c.3-.1.7-.3 1-.4.8.7 1.9.6 2.7-.1a2 2 0 0 0 .1-2.7c.2-.3.3-.6.4-1 1-.1 1.8-1 1.8-2Zm-2.6 1c-.1.8-.5 1.5-.9 2.1l.4.4c.4.4.4 1 0 1.4-.4.4-1 .4-1.4 0l-.4-.4c-.6.5-1.3.8-2.1.9v.6c0 .6-.4 1-1 1s-1-.4-1-1v-.6c-.8-.1-1.5-.5-2.1-.9l-.4.4c-.4.4-1 .4-1.4 0-.4-.4-.4-1 0-1.4l.4-.4c-.5-.6-.8-1.3-.9-2.1H4c-.6 0-1-.4-1-1s.4-1 1-1h.6c.1-.8.4-1.5.9-2.1l-.4-.4c-.4-.4-.4-1 0-1.4.4-.4 1-.4 1.4 0l.4.4c.6-.5 1.3-.8 2.1-.9V4c0-.6.4-1 1-1s1 .4 1 1v.6c.8.1 1.5.5 2.1.9l.4-.4c.4-.4 1-.4 1.4 0 .4.4.4 1 0 1.4l-.4.4c.5.6.8 1.3.9 2.1h.6c.6 0 1 .4 1 1s-.4 1-1 1h-.6Z' clip-rule='evenodd'/%3E%3C/svg%3E"));
                }
              }
            }
          }
          @at-root :root.custom-theme-background .panels_c48ade .container__37e49 .buttons__37e49 {
            background: var(--bg-overlay-4), var(--bg-overlay-1);
            background-clip: padding-box, padding-box, border-box, border-box;
            border-color: #0000;
            button {
              background: rgba(255,255,255,.05);
              background-clip: padding-box !important;
              border-color: #0000 !important;
              &:active {
                background: var(--dtm-16-panel-button-bg-active);
              }
            }
          }
        }
      }
      @at-root .visual-refresh.align-chat-input .container__37e49 {
        .avatarWrapper__37e49>.avatar__37e49>svg {
          transform-origin: top left;
          transform: scale(calc(30/32));
        }

      }
      // non visual refresh fix
      @at-root html:not(.visual-refresh) .panels_c48ade .container__37e49 {
        .avatarWrapper__37e49>.avatar__37e49>svg {
          transform: scale(calc(30/32));
        }
        .nameTag__37e49 {
          padding: 0;
        }
      }
      // vc panel
      .container_e131a9 {
        background: var(--background-secondary-alt);
        border-top: solid 1px var(--background-tertiary);
        border-bottom: none;
        border-radius: 0;
        box-sizing: border-box;
        margin: 0;
        padding: 10px;
        gap: 0;
        @at-root :root.custom-theme-background .panels_c48ade .container_e131a9 {
          background: var(--bg-overlay-2), var(--bg-overlay-5);
          background-clip: padding-box, padding-box, border-box, border-box;
          border-color: #0000;
        }
        // top section
        .connection_e131a9 {
          padding-bottom: 0;
        }
        .inner_e131a9 {
          .rtcConnectionStatus__06d62 {
            >.ping__06d62 {
              display: block;
              @include mask(no-repeat url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none'%3E%3Cpath fill='%23000' d='M10 0H9a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h1a1 1 0 0 0 1-1V1a1 1 0 0 0-1-1ZM6 4H5a1 1 0 0 0-1 1v6a1 1 0 0 0 1 1h1a1 1 0 0 0 1-1V5a1 1 0 0 0-1-1ZM1 8h1a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V9a1 1 0 0 1 1-1Z'/%3E%3C/svg%3E") top left/12px);
              background: var(--dtm-16-panel-voice-ping-muted);
              transform: translateY(0);
              margin-left: 1px;
              width: 12px;
              height: 12px;
              path {
                display: none;
              }
            }
            &.rtcConnectionQualityBad__06d62 {
              >.ping__06d62 {
                background: linear-gradient(to right, var(--status-danger) 4px, var(--dtm-16-panel-voice-ping-muted) 4px);
              }
              .rtcConnectionStatusConnected__06d62.rtcConnectionStatusLabel__06d62 {
                color: var(--red);
              }
            }
            &.rtcConnectionQualityAverage__06d62 {
              >.ping__06d62 {
                background: linear-gradient(to right, var(--status-warning) 8px, var(--dtm-16-panel-voice-ping-muted) 8px);
              }
              .rtcConnectionStatusConnected__06d62.rtcConnectionStatusLabel__06d62 {
                color: var(--yellow);
              }
            }
            &.rtcConnectionQualityFine__06d62 {
              >.ping__06d62 {
                background: var(--status-positive);
              }
            }
            .default__0263c, .hovered__0263c {
              transition: all .22s ease, color 0s;
              div[data-text-variant="text-md/medium"] {
                font-size: inherit;
                font-weight: inherit;
                line-height: inherit;
              }
            }
            .rtcConnectionStatusLabel__06d62 {
              font-size: 14px;
              font-weight: 500;
              line-height: 16px;
            }
            @at-root .visual-refresh.align-chat-input {
              .wrapper_e131a9 {
                margin-left: 0;
              }
              .inner_e131a9, .connection_e131a9 {
                height: auto !important;
              }
              .rtcConnectionStatus__06d62 {
                display: grid !important;
                height: auto !important;
                grid-template-areas: "ping top" "btm btm";
                grid-template-columns: [ping-start] min-content [top-start] 1fr [end];
                >.ping__06d62 {
                  grid-area: ping;
                  width: 14px !important;
                  height: 14px !important;
                  margin: 2px 4px 0 0 !important;
                  padding: 0 !important;
                  border-radius: 0 !important;
                  border: none !important;
                }
                .labelWrapper__06d62 {
                  display: contents;
                  >button {
                    grid-area: top;
                    justify-content: start;
                    .rtcConnectionStatusLabel__06d62 {
                      margin-top: 0;
                    }
                  }
                  >a {
                    grid-area: btm;
                    padding: 0;
                    [data-text-variant="text-xs/medium"] {
                      color: var(--text-muted) !important;
                      margin-top: -1px;
                      font-size: 10px;
                      font-weight: 500;
                      line-height: 12px;
                    }
                  }
                }
              }
            }
          }
          div[data-text-variant="text-sm/medium"] {
            font-size: inherit;
            font-weight: inherit;
            line-height: inherit;
            color: inherit !important;
          }
          .subtext__339d0 {
            color: var(--text-muted);
            margin-top: -1px;
            font-size: 10px;
            font-weight: 500;
            line-height: 12px;
          }
        }
        .voiceUsers__68617 {
          margin-top: 8px;
          gap: 3px;
          &.collapsed__68617 {
            >.avatarContainer__68617:nth-child(7 of .avatarContainer__68617)~.avatarContainer__68617 {
              display: none;
            }
          }
        }
        .voiceButtonsContainer_e131a9 {
          margin-left: 10px;
          gap: 0;
          border: solid 1px var(--background-tertiary);
          border-radius: 4px;
          padding-bottom: 1px;
          >.button__67645 {
            margin: 0;
            background: var(--background-secondary);
            transition: 0s;
            border-radius: 0;
            .contents__201d5 {
              position: relative;
              width: 20px !important;
              height: 20px !important;
              display: flex;
              .lottieIcon__5eb9b {display:none!important}
              &:before {
                content: "";
                display: block;
                position: absolute;
                inset: 0;
                pointer-events: none;
                mask-position: center !important;
                -webkit-mask-position: center !important;
                mask-size: 20px !important;
                -webkit-mask-size: 20px !important;
                mask-repeat: no-repeat !important;
                -webkit-mask-repeat: no-repeat !important;
              }
              &:before {
                background: var(--dtm-16-panel-button-fg);
              }
            }
            &:hover .contents__201d5:before {
              background: var(--dtm-16-panel-button-fg-hover);
            }
            &:active {
              background: var(--dtm-16-panel-button-bg-hover);
              box-shadow: var(--dtm-16-panel-button-active-shadow);
            }
            &:not(:nth-child(1 of :not(span))) {
              box-shadow: var(--dtm-16-panel-button-shadow);
            }
            &:not(:nth-last-child(1 of :not(span))) {
              border-right: solid 1px var(--background-tertiary);
            }
            &:nth-child(1 of :not(span)) {
              border-top-left-radius: 3px;
              border-bottom-left-radius: 3px;
            }
            &:nth-last-child(1 of :not(span)) {
              border-top-right-radius: 3px;
              border-bottom-right-radius: 3px;
            }
            &:nth-last-child(2 of :not(span)) .contents__201d5:before {
              @include mask(url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='none'%3E%3Cpath stroke='%23fff' d='M7 9.45c-.03.2.08.4.3.48.19.08.4.08.6.12.44.08.58.25.58.77v.24c-.18 1.22-.4 2.43-.59 3.65-.1.69-.22 1.42-.3 2.1-.1 1.02.78 1.99 1.48 2.1.45.09.85.09 1.3.09.92 0 1.7-.45 2.36-1.17a1 1 0 0 0 .26-.49c.07-.28-.15-.49-.41-.36-.18.08-.33.2-.52.28-.22.08-.44.16-.66.2-.26.04-.48-.12-.55-.4a2.1 2.1 0 0 1-.04-.7c.04-.44.15-.92.22-1.37l.7-4.17c.07-.36.11-.77.11-1.13 0-.45-.26-.69-.66-.69H7.82c-.15 0-.26 0-.4.04-.27.08-.38.2-.41.4Zm.77-5.47c0 1.11.8 2.02 1.84 2.02 1 0 1.84-.9 1.84-1.98 0-1.11-.8-2.02-1.84-2.02-1.03 0-1.84.87-1.84 1.98Z' clip-rule='evenodd'/%3E%3C/svg%3E"));
            }
            &:nth-last-child(1 of :not(span)) .contents__201d5:before {
              @include mask(url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='none'%3E%3Cpath fill='%23fff' d='M17.8 4.4S16.1 2 15.2 2c-2.7.1-6 2.7-8.2 4.8-2.3 2.3-5 5.4-5.1 8.2 0 1 2.3 2.7 2.3 2.7.6.4 1.3.3 1.6-.1.2-.2 2-2.9 2.2-3.2.1-.1.1-.3.1-.5s-.1-.5-.2-.8c-.1-.3-.6-1-.8-1.4.2-.3.9-1.1 2.1-2.3 1.3-1.2 2.1-1.8 2.4-2.1.4.2 1.2.7 1.4.8.5.3 1 .3 1.3.1l3.3-2.1c.2-.2.4-.5.4-.8.1-.3 0-.6-.2-.9Zm-.7.9c-.4.3-2.7 1.8-3.2 2 0 0-.2 0-.3-.1-.2-.1-.7-.4-1.4-.8l-.5-.3-.5.3c-.4.3-1.3.9-2.6 2.2-1.3 1.2-1.9 2.1-2.2 2.4l-.4.6.3.6c.3.5.7 1.2.8 1.4.1.2.1.3.1.3-.2.4-1.8 2.7-2.1 3.1 0 0-.1 0-.2-.1-.9-.7-1.8-1.6-2-1.9.1-1.9 1.8-4.5 4.8-7.4 3-2.9 5.6-4.5 7.5-4.5.3.1 1.2 1 1.8 1.9.1.1.1.1.1.3 0-.1 0-.1 0 0Z'/%3E%3Cpath fill='%23fff' fill-rule='evenodd' d='M12.1 12.1c.2-.2.5-.2.7 0l5 5c.2.2.2.5 0 .7-.2.2-.5.2-.7 0l-5-5c-.2-.2-.2-.5 0-.7Z' clip-rule='evenodd'/%3E%3Cpath fill='%23fff' fill-rule='evenodd' d='M17.8 12.1c.2.2.2.5 0 .7l-5 5c-.2.2-.5.2-.7 0-.2-.2-.2-.5 0-.7l5-5c.2-.2.5-.2.7 0Z' clip-rule='evenodd'/%3E%3C/svg%3E"));
            }
          }
        }
        // action bar
        .actionButtons_e131a9 {
          padding-top: 12px;
          button {
            .contents__201d5 {
              min-width: 24px;
            }
            .lottieIcon__5eb9b {
              width: 24px !important;
              height: 24px !important;
              min-width: 24px;
              min-height: 24px;
              svg {display: none !important}
              background: currentColor !important;
            }
            background: none;
            border-radius: 3px;
            // border: solid 1px #{ss(rgba(116, 127, 141, 0.4))};
            outline: solid 1px #{ss(rgba(116, 127, 141, 0.4))};
            outline-offset: -1px;
            color: var(--dtm-16-panel-action-button-fg);
            // transition: outline-color .2s, background-color .2s, color .2s;
            transition: none;
            height: 34px;
            .contents__201d5 {color: inherit}
            &:hover {
              background: none !important;
              // border-color: #{ss(rgba(114, 137, 218, 0.53))};
              outline-color: #{ss(rgba(114, 137, 218, 0.53))};
              color: var(--dtm-16-panel-action-button-fg-hover);
            }
            &:active {
              // border-color: var(--blurple);
              outline-color: var(--blurple);
              background: #{ss(rgba(114, 137, 218, 0.13))} !important;
            }
            &.buttonActive_e131a9 {
              background: #0000 !important;
              // border-color: #{ss(rgba(67, 181, 129, 0.53))};
              outline-color: #{ss(rgba(67, 181, 129, 0.53))};
              color: var(--green);
              &:hover {border-color: var(--green)}
              &:active {
                // border-color: var(--green);
                outline-color: var(--green);
                background: #{ss(rgba(67, 181, 129, 0.14))} !important;
              }
            }
          }
          >:nth-child(1) {
            .lottieIcon__5eb9b {
              @include mask(url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24'%3E%3Cpath d='M21 6.5L17 10.5V7C17 6.45 16.55 6 16 6H4C3.45 6 3 6.45 3 7V17C3 17.55 3.45 18 4 18H16C16.55 18 17 17.55 17 17V13.5L21 17.5V6.5ZM16 17H4V7H16V17ZM16.9142 12L20 8.91421V15.0858L16.9142 12Z' fill='%23000'/%3E%3C/svg%3E") center);
            }
          }
          >:nth-child(2 of :not(span)) {
            .lottieIcon__5eb9b {
              @include mask(url("data:image/svg+xml,%3Csvg width='24' height='24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8 8H13V10V12H8V8Z M13 10L16 12V8L13 10Z M14.8772 19H16V20H8V19H9.12285L9.97999 16H5C4.44772 16 4 15.5523 4 15V5C4 4.44772 4.44772 4 5 4H19C19.5523 4 20 4.44772 20 5V15C20 15.5523 19.5523 16 19 16H14.02L14.8772 19ZM5 5H19V15H5V5ZM13 16H11V16.07L10.1629 19H13.8371L13 16.07V16Z' fill='black'/%3E%3C/svg%3E%0A") center);
            }
          }
          >:nth-child(3 of :not(span)) {
            .lottieIcon__5eb9b {
              @include mask(url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24'%3E%3Cpath d='M9 16V21H15V16L12 13L9 16ZM10 16.4143V20H14V16.4143L12 14.4143L10 16.4143Z M15 8V3H9V8L12 11L15 8ZM10 7.58579L12 9.58579L14 7.58579V4H10V7.58579Z M21 15H16L13 12L16 9H21V15ZM16.4143 10L14.4143 12L16.4143 14H20V10H16.4143Z M8 9H3V15H8L11 12L8 9ZM4 14H7.58579L9.58579 12L7.58579 10H4V14Z' fill-rule='evenodd' fill='%23000'/%3E%3C/svg%3E") center);
            }
          }
          >:nth-child(4 of :not(span)) {
            .lottieIcon__5eb9b {
              @include mask(url("data:image/svg+xml,%3Csvg width='24' height='24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M17 11.9996C17 10.1996 15.7 8.79961 14 8.59961V9.59961C15.1 9.79961 16 10.7996 16 12.0996C16 13.2996 15.1 14.2996 14 14.4996V15.4996C15.7 15.1996 17 13.7996 17 11.9996ZM14 5.09961V6.09961C16.8 6.59961 19 8.99961 19 11.9996C19 14.9996 16.8 17.3996 14 17.8996V18.8996C17.4 18.3996 20 15.4996 20 11.9996C20 8.49961 17.4 5.59961 14 5.09961ZM6 8.99961C5.4 8.99961 5 9.39961 5 9.99961V13.9996C5 14.5996 5.4 14.9996 6 14.9996H8L13 17.9996V5.99961L8 8.99961H6ZM8 13.9996H6.5C6.2 13.9996 6 13.7996 6 13.4996V10.4996C6 10.1996 6.2 9.99961 6.5 9.99961H8V13.9996ZM9 9.39961L12 7.49961V16.4996L9 14.5996V9.39961Z' fill='black'/%3E%3C/svg%3E%0A") center);
            }
          }
          .disabledButtonWrapper__201d5 {
            background: none !important;
            border: none !important;
            border-radius: 3px;
            height: 34px;
          }
          .dot__148e9 {display:none}
        }
        @at-root :root.custom-theme-background .panels_c48ade .container_e131a9 .voiceButtonsContainer_e131a9 {
          background: var(--bg-overlay-4), var(--bg-overlay-1);
          background-clip: padding-box, padding-box, border-box, border-box;
          border-color: #0000;
          button {
            background: rgba(255,255,255,.05);
            background-clip: padding-box !important;
            border-color: #0000 !important;
            &:active {
              background: var(--dtm-16-panel-button-bg-active);
            }
          }
        }
        @container style(--dtm-16-hide-vc-panel-buttons: full) {
          .actionButtons_e131a9 {
            display: none;
          }
        }
        @container style(--dtm-16-hide-vc-panel-buttons: partial) {
          margin-bottom: -46px;
          transition: transform .8s;
          transition-timing-function: linear(0, 0.115 2.2%, 0.877 9.4%, 1.016 11.9%, 1.081 14.7%, 1.088 16%, 1.084 17.5%, 1.013 25.3%, 0.993 30.8%, 1.001 46.8%, 1);
          transform: translateY(0);
          &:hover {
            transform: translateY(-46px);
          }
        }
      }
      // activity panel
      .activityPanel_c48ade {
        background: var(--background-secondary-alt);
        border-top: solid 1px var(--background-tertiary);
        border-bottom: none;
        border-radius: 0;
        box-sizing: border-box;
        margin: 0;
        padding: 10px;
        @at-root :root.custom-theme-background .panels_c48ade .activityPanel_c48ade {
          background: var(--bg-overlay-2), var(--bg-overlay-5);
          background-clip: padding-box, padding-box, border-box, border-box;
          border-color: #0000;
        }
        // activity
        .gameWrapper__5dec7 {
          .gameIcon_b52e4f {
            width: 32px;
            height: 32px;
            border-radius: 3px;
          }
          .info__5dec7 {
            margin-left: 10px;
            .activityName__5dec7 {
              font-size: 14px;
              font-weight: 400;
              line-height: 16px;
              color: var(--header-primary);
            }
            div[data-text-variant="text-xs/normal"] {
              font-size: 12px;
              font-weight: 400;
              line-height: 14px;
              color: var(--header-secondary);
            }
            // another shitty upsell
            .perksDemoContainer__5dec7 {
              >svg {display:none}
              .perksDemoText__5dec7 {
                all: unset;
                font-size: 10px;
                font-weight: 400;
                line-height: 12px;
                color: var(--header-secondary);
              }
            }
          }
          // screenshare icon
          .wrapper_a629d4 {
            // camera
            path[d="M4 4a3 3 0 0 0-3 3v10a3 3 0 0 0 3 3h11a3 3 0 0 0 3-3v-2.12a1 1 0 0 0 .55.9l3 1.5a1 1 0 0 0 1.45-.9V7.62a1 1 0 0 0-1.45-.9l-3 1.5a1 1 0 0 0-.55.9V7a3 3 0 0 0-3-3H4Z"] {
              d: path("M13 11V4l-3 3V5.5C10 4.7 9.3 4 8.5 4h-6C1.7 4 1 4.7 1 5.5v4c0 .8.7 1.5 1.5 1.5h6c.8 0 1.5-.7 1.5-1.5V8l3 3Zm-2-3.5 1 1v-2l-1 1Zm-2-2c0-.3-.2-.5-.5-.5h-6c-.3 0-.5.2-.5.5v4c0 .3.2.5.5.5h6c.3 0 .5-.2.5-.5v-4Z");
              transform: scale(calc(24/14));
              fill-rule: evenodd;
              opacity: .5;
            }
          }
        }
        // game
        .gameWrapper__8c6c2 {
          // .gameIconWrapper__8c6c2 {
          //   height: 32px;
          // }
          .gameIcon_b52e4f {
            width: 32px;
            height: 32px;
            border-radius: 3px;
            path[d="M5 2a3 3 0 0 0-3 3v14a3 3 0 0 0 3 3h14a3 3 0 0 0 3-3V5a3 3 0 0 0-3-3H5Zm6.81 7c-.54 0-1 .26-1.23.61A1 1 0 0 1 8.92 8.5 3.49 3.49 0 0 1 11.82 7c1.81 0 3.43 1.38 3.43 3.25 0 1.45-.98 2.61-2.27 3.06a1 1 0 0 1-1.96.37l-.19-1a1 1 0 0 1 .98-1.18c.87 0 1.44-.63 1.44-1.25S12.68 9 11.81 9ZM13 16a1 1 0 1 1-2 0 1 1 0 0 1 2 0Zm7-10.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0ZM18.5 20a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3ZM7 18.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0ZM5.5 7a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3Z"] {
              d: path("M12.7357 15.5078V18H10.4825V15.5078H12.7357Z M15.8595 9.14083C15.8595 11.0526 14.6304 12.0256 12.4285 12.8279L12.326 14.0057L11.0799 14.2788L10.8751 11.5647L11.4043 11.3599C13.043 10.7795 13.6916 10.2504 13.6916 9.29445C13.6916 8.4239 13.0088 7.91181 11.9846 7.91181C10.7727 7.91181 9.66316 8.45804 8.69019 9.2091L8.4 7.22902C9.42418 6.49502 10.6532 6 12.2065 6C14.4427 6 15.8595 7.17781 15.8595 9.14083Z M4.2 5.4C4.86274 5.4 5.4 4.86274 5.4 4.2C5.4 3.53726 4.86274 3 4.2 3C3.53726 3 3 3.53726 3 4.2C3 4.86274 3.53726 5.4 4.2 5.4Z M5.4 19.8C5.4 20.4627 4.86274 21 4.2 21C3.53726 21 3 20.4627 3 19.8C3 19.1373 3.53726 18.6 4.2 18.6C4.86274 18.6 5.4 19.1373 5.4 19.8Z M19.8 5.4C20.4627 5.4 21 4.86274 21 4.2C21 3.53726 20.4627 3 19.8 3C19.1373 3 18.6 3.53726 18.6 4.2C18.6 4.86274 19.1373 5.4 19.8 5.4Z M21 19.8C21 20.4627 20.4627 21 19.8 21C19.1373 21 18.6 20.4627 18.6 19.8C18.6 19.1373 19.1373 18.6 19.8 18.6C20.4627 18.6 21 19.1373 21 19.8Z M3.6 0C1.61177 0 0 1.61177 0 3.6V20.4C0 22.3882 1.61177 24 3.6 24H20.4C22.3882 24 24 22.3882 24 20.4V3.6C24 1.61177 22.3882 0 20.4 0H3.6ZM1.2 3.6C1.2 2.27452 2.27452 1.2 3.6 1.2H20.4C21.7255 1.2 22.8 2.27452 22.8 3.6V20.4C22.8 21.7255 21.7255 22.8 20.4 22.8H3.6C2.27452 22.8 1.2 21.7255 1.2 20.4V3.6Z");
              @include mask(radial-gradient(50% 50% at 50% 50%, rgba(255,255,255,.8) 68%, rgba(255,255,255,.4) 68%));
            }
          }
          .info__8c6c2 {
            margin-left: 10px;
            .gameName__8c6c2 {
              font-size: 14px;
              font-weight: 400;
              line-height: 16px;
              color: var(--header-primary);
            }
          }
        }
        .actions__4cd01 {
          gap: 0;
          border: solid 1px var(--background-tertiary);
          border-radius: 4px;
          padding-bottom: 1px;
          button {
            background: var(--background-secondary);
            color: var(--dtm-16-panel-button-fg);
            margin: 0;
            border-radius: 0;
            transition: 0s;
            &:nth-child(1 of :not(span)) {
              border-top-left-radius: 3px;
              border-bottom-left-radius: 3px;
            }
            &:nth-last-child(1 of :not(span)) {
              border-top-right-radius: 3px;
              border-bottom-right-radius: 3px;
            }
            &:not(:nth-child(1 of :not(span))) {
              box-shadow: var(--dtm-16-panel-button-shadow)
            }
            &:not(:nth-last-child(1 of :not(span))) {
              border-right: solid 1px var(--background-tertiary);
            }
            &:hover {
              color: var(--dtm-16-panel-button-fg-hover);
            }
            &:active {
              background: var(--dtm-16-panel-button-bg-hover);
              box-shadow: var(--dtm-16-panel-button-active-shadow);
            }
            >.contents__201d5 {
              color: inherit;
              >svg {
                color: inherit;
              }
              path {
                d: path("");
              }
              // stream
              path[d="M2 5a3 3 0 0 1 3-3h14a3 3 0 0 1 3 3v8a3 3 0 0 1-3 3H5a3 3 0 0 1-3-3V5Zm16 3a1 1 0 0 0-.3-.7l-3-3a1 1 0 1 0-1.4 1.4L14.58 7H13a6 6 0 0 0-6 6 1 1 0 1 0 2 0 4 4 0 0 1 4-4h1.59l-1.3 1.3a1 1 0 0 0 1.42 1.4l3-3A1 1 0 0 0 18 8Z"] {
                d: path("M6 6H13.5V9V12H6V6Z M13.5 9L18 12V6L13.5 9Z M16.3157 22.5H18V24H6V22.5H7.68427L8.96999 18H1.5C0.671573 18 0 17.3284 0 16.5V1.5C0 0.671573 0.671573 0 1.5 0H22.5C23.3284 0 24 0.671573 24 1.5V16.5C24 17.3284 23.3284 18 22.5 18H15.03L16.3157 22.5ZM1.5 1.5H22.5V16.5H1.5V1.5ZM13.5 18H10.5V18.105L9.2443 22.5H14.7557L13.5 18.105V18Z");
                transform-origin: center;
                transform: scale(calc(16/20));
              }
              // stop streaming
              path[d="M2 5a3 3 0 0 1 3-3h14a3 3 0 0 1 3 3v8a3 3 0 0 1-3 3H5a3 3 0 0 1-3-3V5Zm6.3.3a1 1 0 0 1 1.4 0L12 7.58l2.3-2.3a1 1 0 1 1 1.4 1.42L13.42 9l2.3 2.3a1 1 0 0 1-1.42 1.4L12 10.42l-2.3 2.3a1 1 0 0 1-1.4-1.42L10.58 9l-2.3-2.3a1 1 0 0 1 0-1.4Z"] {
                d: path("M8.46967 6.53033L10.9393 9L8.46967 11.4697L9.53033 12.5303L12 10.0607L14.4697 12.5303L15.5303 11.4697L13.0607 9L15.5303 6.53033L14.4697 5.46967L12 7.93934L9.53033 5.46967L8.46967 6.53033Z M18 22.5H16.3157L15.03 18H22.5C23.3284 18 24 17.3284 24 16.5V1.5C24 0.671573 23.3284 0 22.5 0H1.5C0.671573 0 0 0.671573 0 1.5V16.5C0 17.3284 0.671573 18 1.5 18H8.96999L7.68427 22.5H6V24H18V22.5ZM22.5 1.5H1.5V16.5H22.5V1.5ZM10.5 18.105V18H13.5V18.105L14.7557 22.5H9.2443L10.5 18.105Z");
                transform-origin: center;
                transform: scale(calc(16/20));
              }
              // activity leave
              path[d="M2.75 3.02A3 3 0 0 1 5 2h10a3 3 0 0 1 3 3v7.64c0 .44-.55.7-.95.55a3 3 0 0 0-3.17 4.93l.02.03a.5.5 0 0 1-.35.85h-.05a.5.5 0 0 0-.5.5 2.5 2.5 0 0 1-3.68 2.2l-5.8-3.09A3 3 0 0 1 2 16V5a3 3 0 0 1 .76-1.98Zm1.3 1.95A.04.04 0 0 0 4 5v11c0 .36.2.68.49.86l5.77 3.08a.5.5 0 0 0 .74-.44V8.02a.5.5 0 0 0-.32-.46l-6.63-2.6Z"] {d: path("M3.25 3a.25.25 0 0 0-.25.25v12.5c0 .14.11.25.25.25h11.5c.14 0 .25-.11.25-.25V13.5a.5.5 0 0 1 1 0v2.25c0 .69-.56 1.25-1.25 1.25H3.25C2.56 17 2 16.44 2 15.75V3.25C2 2.56 2.56 2 3.25 2h11.5c.69 0 1.25.56 1.25 1.25V5.5a.5.5 0 0 1-1 0V3.25a.25.25 0 0 0-.25-.25H3.25Zm5.6 2.15c.2.2.2.5 0 .7L5.71 9H17.5a.5.5 0 0 1 0 1H5.7l3.15 3.15a.5.5 0 0 1-.7.7l-4-4a.5.5 0 0 1 0-.7l4-4c.2-.2.5-.2.7 0Z");
                transform: scale(calc(24/20));
              }
              // clip
              path[d="M2 10.5c0-.28.22-.5.5-.5h19c.28 0 .5.22.5.5V19a3 3 0 0 1-3 3H5a3 3 0 0 1-3-3v-8.5ZM5 14a1 1 0 0 1 1-1h9a1 1 0 1 1 0 2H6a1 1 0 0 1-1-1Zm1 3a1 1 0 1 0 0 2h4a1 1 0 1 0 0-2H6Z"] {
                d: path("M1.5 19.5C1.5 21.1569 2.84314 22.5 4.5 22.5H19.5C21.1569 22.5 22.5 21.1569 22.5 19.5V4.5C22.5 2.84314 21.1569 1.5 19.5 1.5H4.5C2.84314 1.5 1.5 2.84314 1.5 4.5V19.5ZM3 19.5C3 20.3284 3.67157 21 4.5 21H19.5C20.3284 21 21 20.3284 21 19.5V9H3V19.5ZM4.5 3H5.625L9 7.5H3V4.5C3 3.67157 3.67157 3 4.5 3ZM7.5 3L10.875 7.5H15.75L12.375 3H7.5ZM17.625 7.5L14.25 3H19.5C20.3284 3 21 3.67157 21 4.5V7.5H17.625Z");
                transform: scale(calc(16/20));
                transform-origin: center;
              }
            }
          }
          .disabledButtonWrapper__201d5 {
            margin: 0;
            border-radius: 0;
            button {
              border-right: 0;
            }
          }
          >.panelButtonContainer__4cd01:nth-last-child(2) button {
            border-right: solid 1px var(--background-tertiary);
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
          }
        }
        @at-root :root.custom-theme-background .panels_c48ade .activityPanel_c48ade .actions__4cd01 {
          background: var(--bg-overlay-4), var(--bg-overlay-1);
          background-clip: padding-box, padding-box, border-box, border-box;
          border-color: #0000;
          button {
            background: rgba(255,255,255,.05);
            background-clip: padding-box !important;
            border-color: #0000 !important;
            &:active {
              background: var(--dtm-16-panel-button-bg-active);
            }
          }
        }
      }
      // listen along panel
      .listeningAlong_e0cf27 {
        background: var(--background-secondary-alt);
        border-top: solid 1px var(--background-tertiary);
        border-bottom: none;
        border-radius: 0;
        box-sizing: border-box;
        margin: 0;
        height: 56px;
        padding: 0 10px;
        @at-root :root.custom-theme-background .panels_c48ade .listeningAlong_e0cf27 {
          background: var(--bg-overlay-2), var(--bg-overlay-5);
          background-clip: padding-box, padding-box, border-box, border-box;
          border-color: #0000;
        }
        div[data-text-variant="text-sm/medium"] {
          font-size: 14px;
          font-weight: 400;
          line-height: 16px;
          color: var(--header-primary);
        }
        div[data-text-variant="text-xs/normal"] {
          font-size: 12px;
          font-weight: 400;
          line-height: 14px;
          color: var(--header-secondary);
        }
        .party_e0cf27 .wrapper__44b0c>svg {
          width: 20px !important;
          height: 20px !important;
        }
        .icons_e0cf27 {
          gap: 0;
          border: solid 1px var(--background-tertiary);
          border-radius: 4px;
          padding-bottom: 1px;
          >button {
            background: var(--background-secondary);
            color: var(--dtm-16-panel-button-fg);
            margin: 0;
            &:first-child {
              border-top-left-radius: 3px;
              border-bottom-left-radius: 3px;
            }
            &:last-child {
              border-top-right-radius: 3px;
              border-bottom-right-radius: 3px;
            }
            &:not(:first-child) {
              box-shadow: var(--dtm-16-panel-button-shadow)
            }
            &:not(:last-child) {
              border-right: solid 1px var(--background-tertiary);
            }
            &:hover {
              color: var(--dtm-16-panel-button-fg-hover);
            }
            &:active {
              background: var(--dtm-16-panel-button-bg-hover);
              box-shadow: var(--dtm-16-panel-button-active-shadow);
            }
            >.contents__201d5 {
              color: inherit;
              >svg {
                color: inherit;
              }
              path {
                d: path("");
              }
              // "what's this"
              path[d="M23 12a11 11 0 1 1-22 0 11 11 0 0 1 22 0Zm-9.5-4.75a1.25 1.25 0 1 1-2.5 0 1.25 1.25 0 0 1 2.5 0Zm-.77 3.96a1 1 0 1 0-1.96-.42l-1.04 4.86a2.77 2.77 0 0 0 4.31 2.83l.24-.17a1 1 0 1 0-1.16-1.62l-.24.17a.77.77 0 0 1-1.2-.79l1.05-4.86Z"] {
                d: path("M7 9.45c-.03.2.08.4.3.48.19.08.4.08.6.12.44.08.58.25.58.77v.24c-.18 1.22-.4 2.43-.59 3.65-.1.69-.22 1.42-.3 2.1-.1 1.02.78 1.99 1.48 2.1.45.09.85.09 1.3.09.92 0 1.7-.45 2.36-1.17a1 1 0 0 0 .26-.49c.07-.28-.15-.49-.41-.36-.18.08-.33.2-.52.28-.22.08-.44.16-.66.2-.26.04-.48-.12-.55-.4a2.1 2.1 0 0 1-.04-.7c.04-.44.15-.92.22-1.37l.7-4.17c.07-.36.11-.77.11-1.13 0-.45-.26-.69-.66-.69H7.82c-.15 0-.26 0-.4.04-.27.08-.38.2-.41.4Zm.77-5.47c0 1.11.8 2.02 1.84 2.02 1 0 1.84-.9 1.84-1.98 0-1.11-.8-2.02-1.84-2.02-1.03 0-1.84.87-1.84 1.98Z");
                transform: scale(calc(24/20));
                fill: none;
                stroke: currentColor;
              }
            }
          }
        }
        @at-root :root.custom-theme-background .panels_c48ade .listeningAlong_e0cf27 .icons_e0cf27 {
          background: var(--bg-overlay-4), var(--bg-overlay-1);
          background-clip: padding-box, padding-box, border-box, border-box;
          border-color: #0000;
          button {
            background: rgba(255,255,255,.05);
            background-clip: padding-box !important;
            border-color: #0000 !important;
            &:active {
              background: var(--dtm-16-panel-button-bg-active);
            }
          }
        }
      }
    }
  }
}