#app-mount {
  .container__955a3 {
    background: var(--bg-overlay-1, var(--background-primary));
    .scroller__23746 {
      background: #0000;
    }
    .wrapper__0829a {
      display: none;
    }
  }
  .orbsLottieContainer_a3e8db {
    height: 24px;
  }
  .orbsLottie_a3e8db {
    width: 24px;
    height: 24px;
    >svg {display:none}
    &:after {
      content: "orbs";
      font-family: cursive;
      font-size: 12px;
      color: var(--text-primary);
    }
  }
}