@use "funcs" as *;
@use "mixins" as *;
@at-root {
  :root ._5e434347c823b592-guilds {
    width: 80px;
    &.ef3116c2da186559-wrapper._5e434347c823b592-guilds { // override fast follows experiment
      background: var(--background-tertiary);
    }
    @at-root ._5e434347c823b592-guilds {
      @include mask(none !important);
    }
    // top section
    .topSection_ef3116 {
      padding-top: 8px;
    }
    ._3b95d7d910416e54-bar {
      border-radius: 4px;
      height: 36px;
      font-size: 11px;
      font-weight: 400;
      ._3b95d7d910416e54-text:after {
        content: "";
        display: inline-block;
        width: 12px;
        height: 12px;
        margin-left: 4px;
        position: relative;
        top: 2px;
        background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='M0 12V0h12v12'/%3E%3Cpath fill='%23FFF' d='M5.25 2v5.22L3 5 2 6l4 4 4-4-1-1-2.28 2.22V2'/%3E%3C/g%3E%3C/svg%3E");
      }
    }
    .ef3116c2da186559-unreadMentionsIndicatorBottom {
      padding-bottom: 0;
      padding-top: 16px;
      height: 36px;
      ._3b95d7d910416e54-bar {
        border-radius: 4px 4px 0 0;
        padding-bottom: 16px;
        margin-bottom: -16px;
      }
    }
    .ef3116c2da186559-unreadMentionsIndicatorTop {
      padding-top: 0;
      padding-bottom: 16px;
      height: 40px;
      ._3b95d7d910416e54-bar {
        border-radius: 0 0 4px 4px;
        padding-top: 16px;
        margin-top: -16px;
      }
      ._3b95d7d910416e54-text:after {transform: rotate(180deg)}
    }
    .ef3116c2da186559-unreadMentionsIndicatorTop {
      width: 80px;
    }
    .ef3116c2da186559-unreadMentionsIndicatorBottom {
      width: 80px;
    }
    .ef3116c2da186559-scroller {
      padding-top: 18px;
      >div[style]:not([class]) {
        height: auto !important;
      }
      #guild-list-unread-dms>div[style]:not([class]) {
        min-height: 0;
        height: auto !important;
      }
    }
    ._650eb104245d257b-listItem {
      width: 80px;
      .cc5dd25190031396-wrapper {
        width: 50px !important;
        height: 50px !important;
        >.cc5dd25190031396-svg {
          inset: auto;
          contain: none;
          foreignObject {
            @include mask(none);
            overflow: visible;
            x: 0;
            y: 0;
          }
          &[viewBox^="-4 -4"] foreignObject {
            x: -4;
            y: -4;
          }
        }
        ._6e9f8dce4cc18de3-wrapper {
          width: 50px;
          height: 50px;
          // animation: server-anim-close .18s ease-in;
          border-radius: 25px;
          overflow: hidden;
          transition: border-radius 1.5s;
          transition-timing-function: linear(0, 0.01 0.7%, 0.042 1.5%, 0.162 3.1%, 0.334 4.7%, 0.842 8.9%, 1.072 11.3%, 1.157 12.5%, 1.215 13.6%, 1.258 14.8%, 1.279 16%, 1.281 17.5%, 1.257 19.1%, 1.209 20.9%, 1.055 25.4%, 0.992 27.6%, 0.943 30.1%, 0.921 32.7%, 0.927 35.9%, 1.002 44.4%, 1.022 49.3%, 0.994 65.7%, 1.002 82.2%, 1);
          &._6e9f8dce4cc18de3-selected {
            // animation: server-anim 1.5s;
            // animation-timing-function: ease-out;
            border-radius: 15px;
            &[data-list-item-id="guildsnav___home"] ._6e9f8dce4cc18de3-childWrapper>svg {
              background-image: var(--dtm-16-home-button-image-hover);
            }
          }
          &[data-list-item-id="guildsnav___home"] ._6e9f8dce4cc18de3-childWrapper>svg {
            height: 48px;
            width: 48px;
            path {display: none}
            rect {fill: none}
            background-image: var(--dtm-16-home-button-image);
            background-size: 28px 28px;
            background-position: center;
            background-repeat: no-repeat;
          }
        }
        ._6e9f8dce4cc18de3-childWrapper {
          width: 50px;
          height: 50px;
          >img {
            width: 50px;
            height: 50px;
          }
        }
        ._6e9f8dce4cc18de3-icon {
          width: 50px;
          height: 50px;
        }
        ._5bc7ed9d4097f6b5-circleIconButton {
          width: 50px;
          height: 50px;
          // animation: server-anim-close .18s ease-in;
          border-radius: 25px;
          background: #0000;
          border: dashed 1px var(--dtm-16-server-button-color);
          color: var(--dtm-16-server-button-color);
          transition: .25s;
          &:is(:hover, ._5bc7ed9d4097f6b5-selected) {
            border-color: var(--dtm-16-server-button-color-active);
            color: var(--dtm-16-server-button-color-active);
          }
          &[data-list-item-id="guildsnav___create-join-button"] {
            >svg {display:none}
            &:after {
              content: "+";
              font-size: 40px;
              font-weight: 200;
              text-align: center;
              line-height: 100%;
            }
          }
          &[data-list-item-id="guildsnav___guild-discover-button"] {
            >svg {
              width: 24px;
              height: 24px;
              path {
                d: path("M4.80121 9.60397C4.80121 6.94645 6.94644 4.80122 9.60395 4.80122C12.2615 4.80122 14.4067 6.94645 14.4067 9.60397C14.4067 12.2615 12.2615 14.4067 9.60395 14.4067C6.94644 14.4067 4.80121 12.2615 4.80121 9.60397ZM16.0076 14.4067H15.1645L14.8656 14.1185C15.9116 12.9019 16.5413 11.3223 16.5413 9.60397C16.5413 5.77245 13.4355 2.66667 9.60395 2.66667C5.77243 2.66667 2.66666 5.77245 2.66666 9.60397C2.66666 13.4355 5.77243 16.5413 9.60395 16.5413C11.3223 16.5413 12.9018 15.9116 14.1185 14.8656L14.4067 15.1645V16.0076L19.7431 21.3333L21.3333 19.7431L16.2803 14.68L16.0076 14.4067Z");
              }
            }
          }
          &[data-list-item-id="guildsnav___app-download-button"] {
            border: none;
            background-image: var(--dtm-16-download-apps-bg-image) !important;
            background-color: var(--dtm-16-download-apps-bg) !important;
            transition: .2s;
            opacity: 1 !important;
            svg {
              display: none;
            }
            @at-root ._650eb104245d257b-listItem:has([data-list-item-id="guildsnav___app-download-button"]) {
              flex-direction: column;
              position: relative;
              ._918165dab2b1e10b-listItemWrapper {
                margin: 0 auto 3px;
                transform: none !important;
              }
              ._5bc7ed9d4097f6b5-pill {
                display: none;
              }
              foreignObject {
                overflow: visible;
              }
              &:hover ._5bc7ed9d4097f6b5-circleIconButton._5bc7ed9d4097f6b5-circleIconButton._5bc7ed9d4097f6b5-circleIconButton {
                background-color: var(--dtm-16-download-apps-bg-hover) !important;
              }
              &:after {
                content: "Download Apps";
                text-transform: uppercase;
                color: var(--dtm-16-download-apps-text);
                font-size: 10px;
                text-align: center;
                transition: .2s;
              }
              &:hover:after {
                color: var(--dtm-16-download-apps-text-hover);
              }
            }
          }
        }
        @at-root {
          ._48112cbe77dc5022-folderButtonContent {
            position: relative !important;
            transform: translate3d(0, -50px, 0) !important;
          }
          .full-motion ._48112cbe77dc5022-folderButtonContent {
            transition: transform var(--custom-folder-item-animation-duration) ease-out !important;
          }
          ._48112cbe77dc5022-isExpanded ._48112cbe77dc5022-folderButtonContent {
            transform: translateZ(0) !important;
          }
        }
      }
      ._581051df43c5ebb6-wrapper {
        height: 50px;
        transition: .2s;
        ._581051df43c5ebb6-item {
          margin-left: -6px;
          width: 12px;
          min-height: 12px;
          border-radius: 50px;
          background: var(--dtm-16-server-pill);
        }
      }
      .cc5dd25190031396-lowerBadge {
        .d70e0d488d672a1f-pauseBackground {
          width: 24px;
          height: 24px;
          background: var(--background-tertiary);
          margin-bottom: -6px;
          margin-right: -6px;
          border-radius: 64px;
          >.d70e0d488d672a1f-pause {
            width: 16px;
            height: 16px;
            path {
              d: path("M10.5 6h-3v12h3V6Zm6 0h-3v12h3V6Z");
            }
          }
        }
        ._2b1f52e43a8f1c02-numberBadge {
          background: var(--red);
          border-radius: 3px;
          min-width: 0;
          width: auto !important;
          box-shadow: 0 1px 0 rgba(0,0,0,.25),inset 0 1px 0 hsla(0,0%,100%,.15);
          text-shadow: 0 1px 0 rgba(0,0,0,.25);
          color: #fff;
          font-size: 12px;
          font-weight: 500;
          line-height: 12px;
          padding: 3px 5px !important;
          margin-bottom: -2px;
          margin-right: -2px;
        }
      }
      .cc5dd25190031396-upperBadge {
        ._650eb104245d257b-iconBadge {
          width: 24px;
          height: 24px;
          background: var(--background-tertiary);
          margin-top: -6px;
          margin-right: -6px;
          border-radius: 64px;
          color: var(--header-primary);
          --prefer-16px-icons: true;
          @container style(--dtm-16-plink: v2017) {
            --prefer-16px-icons: false;
          }
          >._2b1f52e43a8f1c02-icon {
            width: 16px;
            height: 16px;
          }
          &._650eb104245d257b-isCurrentUserConnected>._2b1f52e43a8f1c02-icon {
            color: var(--green);
          }
        }
        ._650eb104245d257b-unavailableBadge {
          background: var(--background-tertiary);
          box-shadow: inset 0 0 0 1px var(--red);
          ._2b1f52e43a8f1c02-icon {color: var(--red)}
        }
        ._1f388bcaa446c0c8-downloadProgress {
          width: 24px;
          height: 24px;
          margin-top: -3px;
          margin-right: -3px;
          .progressCircle__68862 {
            width: 24px;
            height: 24px;
          }
          .circle__68862 {
            width: 20px;
            height: 20px;
            overflow: visible;
            margin-top: 2px;
            margin-left: 2px;
          }
          .circleBackgroundAlt__68862 {
            fill: var(--background-tertiary);
            cx: 10;
            cy: 10;
            r: 12;
          }
          .circleBackground__68862 {
            fill: var(--background-primary);
            cx: 10;
            cy: 10;
            r: 10;
          }
          .circleProgress__68862 {
            cx: 10;
            cy: 10;
            r: 11;
            stroke-width: 2px;
          }
        }
      }
    }
    ._252b6afd49fda06f-guildSeparator {
      height: 2px;
      border-radius: 0;
      background: var(--background-secondary);
    }
    // server folders
    ._48112cbe77dc5022-folderGroup {
      width: 80px;
      min-height: 50px;
      >._650eb104245d257b-listItem {
        min-height: 50px;
      }
      ._48112cbe77dc5022-folderHeader {
        width: 50px;
        height: 50px;
        margin: 0;
      }
      .expandedFolderBackground__48112, ._48112cbe77dc5022-folderGroupBackground {
        left: 15px;
        width: 50px;
        bottom: 4px;
        border-radius: 16px 16px 25px 25px;
        background: var(--background-modifier-accent);
        border: none;
      }
      ._48112cbe77dc5022-folderButton {
        width: 50px;
        height: 50px;
        padding: 0 !important;
        .cc5dd25190031396-wrapper {
          width: 50px !important;
          height: 50px !important;
          ._48112cbe77dc5022-folderIconWrapper {
            padding: 0;
            ._48112cbe77dc5022-folderIcon {
              width: 50px;
              height: 50px;
              >svg {
                width: 24px;
                height: 24px;
              }
            }
          }
          ._48112cbe77dc5022-folderPreviewWrapper {
            width: 50px;
            height: 50px;
            border-radius: 16px;
            padding: 6px;
            ._48112cbe77dc5022-folderPreview {
              gap: 2px;
              width: auto;
              height: auto;
              .f34534e8a5d3ca64-icon {
                border-radius: 50px;
                width: 18px;
                height: 18px;
              }
            }
          }
          ._48112cbe77dc5022-folderButtonInner {
            width: 50px;
            height: 50px;
          }
          >.cc5dd25190031396-svg {
            overflow: visible;
            top: 0;
            foreignObject {
              width: 50px;
              height: 50px;
              @include mask(none);
            }
          }
        }
        &[aria-expanded="false"] {
          .cc5dd25190031396-wrapper>.cc5dd25190031396-svg {
            overflow: visible;
          }
        }
      }
      &._48112cbe77dc5022-isExpanded ._48112cbe77dc5022-folderButton .cc5dd25190031396-wrapper {
        ._48112cbe77dc5022-folderPreviewWrapper {
          margin-top: 8px;
        }
      }
      .folder__48112 {
        margin-left: -5px;
        margin-top: -4px;
      }
      ._48112cbe77dc5022-folderIconWrapper, .folder__48112 {
        width: 50px;
        height: 50px;
      }
      .expandedFolderIconWrapper__48112 {
        margin: 0;
        width: 50px;
        height: 50px;
        >svg {
          width: 24px;
          height: 24px;
        }
      }
      .closedFolderIconWrapper__48112 .guildIcon__48112 {
        border-radius: 32px !important;
      }
      gap: 8px !important;
      .dbd2630aec71879b-stack {
        padding-top: 16px !important;
        margin-top: -16px;
        @at-root html:not(.visual-refresh) ._5e434347c823b592-guilds .wrapper__48112 .dbd2630aec71879b-stack {
          gap: 0 !important;
        }
        height: auto !important;
        max-height: min-content !important;
        ._650eb104245d257b-listItem:last-child {
          margin-bottom: 4px;
        }
      }
    }
    // fix
      .e5445cbd3ad226f2-blobContainer .cc5dd25190031396-wrapper {
        width: 50px !important;
        height: 50px !important;
      }
    // drag
    ._8784752aa3af335e-placeholderMask {
      width: 50px;
      height: 50px;
      ._8784752aa3af335e-dragInner {
        box-sizing: border-box;
        background: #0000;
        border: dashed 1px var(--dtm-16-server-button-color);
        border-radius: 50px;
      }
      &.miniPlaceholder__48112.miniPlaceholder__48112 {
        width: 48px;
        height: 48px;
        position: absolute;
        top: 0;
        left: 0;
        foreignObject {
          x: 0;
          y: 0;
        }
        ._8784752aa3af335e-dragInner {
          border-radius: 16px;
        }
      }
    }
    // unavailable
    .e8d03f772dd98c5d-guildsError {
      width: 50px;
      height: 50px;
      border-radius: 64px;
      background: #{ss(rgba(240,71,71,.1))};
      border-color: var(--red);
      text-decoration: none;
      &:hover {
        background: var(--red);
      }
      >svg {
        display: none;
      }
      &:after {
        content: "!";
        color: #fff;
        font-size: 24px;
        font-weight: bold;
      }
    }
  }
  html:not(.visual-refresh) {
    .wrapper__48112 {
      margin-top: 8px;
    }
    ._48112cbe77dc5022-folderIcon {
      margin-left: 10px;
      .folder__48112 {
        border-radius: 16px;
      }
    }
  }
  .platform-osx {
    ._5e434347c823b592-guilds {
      padding-top: 32px;
    }
    .ef3116c2da186559-unreadMentionsIndicatorTop:not(#\#) {
      margin-top: 32px;
    }
  }
  .platform-win ._5e434347c823b592-guilds .ef3116c2da186559-scroller {
    padding-top: 8px;
  }
  .ef3116c2da186559-unreadMentionsIndicatorBottom {
    bottom: 0 !important;
  }
}