@use "funcs" as *;
@use "mixins" as *;

// base
[data-mana-component="layer-modal"]:has(.container_abd9a8) {
	max-width: 900px;
	border-radius: 5px;
	border: none;
}
.container_abd9a8 {
	border-radius: 5px;
	// test if the base modal classname is used elsewhere:
	// box-shadow: 0 0 0 1px red, 0 0 16px 2px red;
	background: none;
	.sidebar__409aa {
		border-radius: 5px 0 0 5px;
		background: var(--background-secondary);
		width: 190px;
		flex: 0 0 190px;
		box-sizing: border-box;
		padding: 0;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      width: 14px;
      height: 0;
      &-track {
        margin-bottom: 0 !important;
        border: solid 3px #0000;
        border-radius: 8px;
      }
      &-track-piece, &-thumb {
        border: solid 3px #0000;
        border-radius: 8px;
      }
      &-thumb {
        border-color: #0000 !important;
        background-color: var(--dtm-16-scrollbar-thumb-brand) !important;
        background-clip: padding-box !important;
      }
      @media (forced-colors: active) {
        &-track-piece {
          background: none !important;
          border: none !important;
        }
        & {
          background: ButtonFace !important;
          border: solid 1px ButtonText !important;
          border-radius: 8px;
        }
        &-thumb {
          border-color: transparent !important;
          forced-color-adjust: none !important;
        }
      }
    }
    &:not(:hover) {
      &::-webkit-scrollbar-thumb {
        background: none !important;
      }
    }
    .fixedContent__409aa, .section__409aa, .nav__409aa {
      display: contents;
    }
    .fixedContent__409aa {
      >div {
        display: contents;
      }
      .item_caf372 {
        border-radius: 0;
        padding: 8px 6px 10px 16px;
        border-left: solid 4px #0000;
        color: var(--interactive-active);
        .profileCustomizationTab__3cfcf {
          display: contents;
          .wrapper__44b0c {display:none}
          .textContainer__3cfcf {
            display: contents;
            color: inherit !important;
            >.lineClamp1__4bd52 {display:none}
          }
          .editProfilesRow__3cfcf {
            display: contents;
            svg {display:none}
            .lineClamp1__4bd52 {
              color: inherit !important;
            }
          }
        }
        .lineClamp1__4bd52 {opacity:.3}
        &:hover, &:active, &.active_caf372 {
          border-left-color: var(--blurple-st);
          background: none !important;
          .lineClamp1__4bd52 {
            opacity: 1;
          }
        }
        &.active_caf372 {
          border-left-color: var(--blurple);
        }
      }
    }
    .searchBarContainer_fffcb4 {
      display: flex !important;
      --use-alt-input-style: true;
      margin: 14px 0 8px 14px;
      order: -100;
    }
    .emptySearchResultsContainer_fffcb4 {
      [data-text-variant="text-sm/semibold"] {
        padding: 8px 0 8px 20px;
        display: block;
        color: var(--interactive-normal) !important;
        font-size: 14px;
        font-weight: 200;
      }
      [data-text-variant="text-sm/normal"] {
        display: none;
      }
    }
    [data-settings-sidebar-item="account_panel"] {
      order: -80;
    }
	}
	// sidebar header crap
	.fixedContent__409aa {
		padding: 0;
		.section__409aa {
			padding: 0;
		}
		&:after {display:none}
	}
	// sidebar scroller
	.navScroller__409aa {
		padding: 0;
		margin: 0;
    display: contents;
		.nav__409aa {
			gap: 0;
		}
		.sectionLabel__409aa {
			display: none;
		}
		.section__409aa {
			gap: 0;
			border: none;
			padding: 0;
			&:after {
				content: "";
				display: block;
        width: 20px;
        min-height: 1px;
        margin: 8px 20px;
        background-color: var(--dtm-16-settings-sidebar-separator);
        .enable-forced-colors & {
          background: ButtonText !important;
          opacity: .2;
        }
			}
		}
		.item_caf372 {
			border-radius: 0;
			padding: 8px 6px 10px 16px;
			border-left: solid 4px #0000;
			color: var(--interactive-active);
      +.subnavContainer_e4d939 {
        border-left: solid 4px #0000;
      }
      &:hover, &:active {
        &, +.subnavContainer_e4d939  {
          border-left-color: var(--blurple-st);
        }
        // background: linear-gradient(to right, var(--background-secondary) 80%, #0000) !important;
        background: none !important;
        [data-text-variant="text-md/medium"] {
        	opacity: 1;
        }
      }
      &.active_caf372 {
        &, +.subnavContainer_e4d939  {
          border-left-color: var(--blurple);
        }
        // background: linear-gradient(to right, var(--background-secondary) 80%, #0000) !important;
        background: none !important;
        [data-text-variant="text-md/medium"] {
        	opacity: 1;
        }
      }
			.icon_caf372:first-child, .vc-icon:first-child {
				display: none;
			}
			[data-text-variant="text-md/medium"] {
				font-size: 14px;
				line-height: 1.25em;
				opacity: .3;
			}
      &[data-list-item-id="settings-sidebar___logout_sidebar_item"] {
        display: block;
        position: absolute;
        bottom: 18px;
        left: 220px;
        z-index: 999;
        background-color: transparent !important;
        border-radius: 3px !important;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='%2387909C' d='M13,13.5c0,0.3-0.2,0.5-0.5,0.5h-11C1.2,14,1,13.8,1,13.5v-12C1,1.2,1.2,1,1.5,1h11C12.8,1,13,1.2,13,1.5 V4h1V1c0-0.6-0.4-1-1-1H1C0.4,0,0,0.4,0,1v13c0,0.6,0.4,1,1,1h12c0.6,0,1-0.4,1-1v-3h-1V13.5z M15.5,7H3.7l3.2-3.2 C7,3.6,7,3.3,6.9,3.1C6.7,3,6.4,3,6.2,3.1l-4,4c0,0,0,0-0.1,0C2,7.2,2,7.4,2,7.5l0,0l0,0c0,0.1,0,0.3,0.1,0.4c0,0,0,0,0.1,0l4,4 c0.2,0.2,0.5,0.2,0.7,0s0.2-0.5,0-0.7L3.7,8h11.8C15.8,8,16,7.8,16,7.5S15.8,7,15.5,7z'/%3E%3C/svg%3E") !important;
        background-repeat: no-repeat !important;
        background-size: 16px 16px !important;
        background-position: center !important;
        font-size: 0 !important;
        padding: 0;
        width: 40px !important;
        height: 38px !important;
        transition: .15s;
        box-shadow: none !important;
        box-sizing: border-box;
        border: none !important;
        &:hover, &:active {
          background-color: var(--red) !important;
          box-shadow: none !important;
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='%23FFFFFF' d='M13,13.5c0,0.3-0.2,0.5-0.5,0.5h-11C1.2,14,1,13.8,1,13.5v-12C1,1.2,1.2,1,1.5,1h11C12.8,1,13,1.2,13,1.5 V4h1V1c0-0.6-0.4-1-1-1H1C0.4,0,0,0.4,0,1v13c0,0.6,0.4,1,1,1h12c0.6,0,1-0.4,1-1v-3h-1V13.5z M15.5,7H3.7l3.2-3.2 C7,3.6,7,3.3,6.9,3.1C6.7,3,6.4,3,6.2,3.1l-4,4c0,0,0,0-0.1,0C2,7.2,2,7.4,2,7.5l0,0l0,0c0,0.1,0,0.3,0.1,0.4c0,0,0,0,0.1,0l4,4 c0.2,0.2,0.5,0.2,0.7,0s0.2-0.5,0-0.7L3.7,8h11.8C15.8,8,16,7.8,16,7.5S15.8,7,15.5,7z'/%3E%3C/svg%3E") !important;
        }
        .itemContent_caf372 {display:none}
      }
		}
    .subnav_e4d939 {
      padding-block: 0 4px;
      margin-inline-start: 16px;
      gap: 0;
      .item_e4d939 {
        font-size: 12px;
        line-height: 16px;
      }
    }
    .track_e4d939, .thumbAnchor_e4d939 {
      display: none;
    }
    .nav__409aa+div:not([class]) {
      display: flex;
      flex-direction: column;
      align-items: stretch;
    }
		.clickable__081d7, .links_b5b79f, .bd-version-info {
			padding: 0 6px 8px 20px;
      display: block;
		}
    .clickable__081d7 {
      width: auto;
			display: flex;
      flex-direction: column;
    }
	}
	.content_e9e3ed {
		border-radius: 0 5px 5px 0;
		background: var(--background-primary);
		border-left-color: var(--background-secondary-alt);
		width: 710px;
		box-sizing: border-box;
		.contentHeader_e9e3ed {
			order: 2;
			border-radius: 0 0 5px 0;
			padding: 18px 40px;
			height: 75px;
			box-sizing: border-box;
			background: var(--override-background-secondary);
			border-width: 1px 0 0 0;
			border-style: solid none none none;
			border-color: var(--override-background-secondary-alt);
			h1 {display:none}
      .theme-dark & {
        background: var(--override-background-secondary-alt);
        border-color: var(--override-background-tertiary);

      }
      .button_a22cb0.icon-only_a22cb0 {
        border-radius: 3px;
        width: auto;
        height: auto;
        min-width: 0;
        min-height: 0;
        padding: 10px 20px;
        border: none;
        background: var(--blurple);
        color: #fff;
        font-weight: 500;
        transform: none !important;
        transition: .2s background-color;
        aspect-ratio: unset;
        padding: 10px 20px;
        &:hover {background: var(--blurple-hover)}
        &:active {background: var(--blurple-active)}
        .buttonChildrenWrapper_a22cb0 {display:none}
        &:after {
          content:"Done";
          font-size: 16px;
          font-weight: 500;
        }
        .enable-forced-colors & {
          outline: solid 1px ButtonText !important;
        }
      }
      .contentHeaderLeft_e9e3ed {
        margin-left: 40px;
        >.textBadge__2b1f5 {
          display: none;
        }
      }
      .breadcrumbsNav__6989f {
        display: none; // TODO properly theme this later
      }
		}
		.panel__6131a {
			margin: 0;
			padding: 28px 40px;
		}
		.contentBody_e9e3ed {
			>.scroller__6131a {
				scrollbar-gutter: stable;
			}
		}
	}
  .customizationSection_ace4f5 .bioTextAreaContainer__6a919 {
    border-radius: 0;
    border: none;
    background: none;
    .editor__1b31f {
      padding: 8px;
    }
  }
  .section__409aa:last-child:after {
    content: none;
  }
  // shared
  @at-root {
    .panel__6131a .stack_dbd263 [data-text-variant="heading-xl/normal"] {
      color: var(--header-secondary) !important;
      line-height: 1;
      font-size: 12px;
      font-weight: 800;
      text-transform: uppercase;
    }
    .baseControlItem_dbfbe0:not(#\#) {
      border-radius: 0;
      background: 0;
      padding: 0;
    }
  }
  // user » account
  @at-root {
    #account_security_tab-tab {
      .warning__35859 {
        color: var(--red);
        border: solid 1px var(--red);
        border-radius: 5px;
        background: #{ss(rgba(240, 71, 71, .1))};
        font-size: 14px;
        font-weight: 500;
        line-height: 16px;
        padding: 10px 15px;
        .iconDiv__35859 {display:none}
        >div[data-text-variant="text-sm/medium"] {
          margin: 0;
          font-size: inherit;
          font-weight: inherit;
          line-height: inherit;
          color: inherit !important;
          .noticeTextButton_df9945 {
            color: inherit;
          }
        }
      }
    }
    .container__75920[data-debug-key="account_authentication_category"] {
      .container__35859.positive__35859 {
        background: none;
        border: 0;
        border-radius: 0;
        padding: 0;
        .iconDiv__35859 {
          width: 12px;
          height: 14px;
          overflow: hidden;
          svg {
            width: 14px;
            height: 14px;
          }
          path {
            d: path("M13.71 10.29H3.43V8.57a5.15 5.15 0 0 1 10.28 0zM6.86 20.57h3.43v-6.86H6.86zM8.57 0A8.57 8.57 0 0 0 0 8.57v12C0 22.47 1.54 24 3.43 24H13.7c1.9 0 3.43-1.54 3.43-3.43v-12A8.57 8.57 0 0 0 8.57 0");
            fill: var(--green);
          }
        }
        .text__35859 {
          margin-left: 4px;
          color: var(--green) !important;
          font-size: 12px;
          font-weight: 800;
          text-transform: uppercase;
        }
      }
    }
    .accountProfileCard_a9178b {
      display: flex;
      align-items: flex-start;
      justify-content: start;
      flex-direction: row-reverse;
      background: none;
      .mask__68edb {display:none}
      .avatar_a9178b {
        top: unset;
        left: unset;
        position: relative;
        width: 130px !important;
        height: 130px !important;
        box-sizing: content-box;
        margin: 0 !important;
        margin-top: 4px !important;
        background: none;
        border: 5px solid var(--dtm-16-settings-account-avatar-border);
        svg:not(.avatarDecoration__44b0c) {
          width: 120px !important;
          height: 120px !important;
          transform: scale(calc(130/120));
          transform-origin: top left;
        }
        .avatarStack__44b0c {
          img[style*="--avatar-url-256"] {
            content: var(--avatar-url-256);
          }
        }
        .avatarDecoration__44b0c {
          display: none !important;
          // overflow: visible;
          // contain: none;
          // foreignObject {
          //   -webkit-mask: none;
          //   mask: none;
          //   width: calc(128px * var(--decoration-to-avatar-ratio));
          //   height: calc(128px * var(--decoration-to-avatar-ratio));
          // }
        }
        .mask__44b0c.svg__44b0c foreignObject:not([mask="url(#svg-mask-avatar-default)"]) {
          width: 92px;
          height: 92px;
          @include mask(none);
          border-radius: 50%;
        }
        rect, +div, +div+button {
          display: none;
        }
      }
      .userInfo_a9178b {
        height: unset !important;
        justify-content: center !important;
        padding: 0 !important;
        margin: 0 !important;
        align-items: unset !important;
      }
      .background_a9178b {
        width: 100%;
        padding: 0;
        margin: 0;
        background: none;
      }
      .fieldList_a9178b {
        background: none;
        margin-top: 0 !important;
        padding: 0 !important;
        border: 0 !important;
      }
      .field_a9178b {
        position: relative;
        border-bottom: 1px solid var(--dtm-16-settings-account-field-border);
        padding-bottom: 10px;
        div[data-text-variant="text-md/normal"] {padding: 10px 0 0}
        .pomeloWarning_a9178b {display:none}
        .fieldButton_a9178b :is(.button_a22cb0, .textButton__7a01b) {
          position: absolute;
          bottom: 10px;
          width: 24px;
          height: 24px;
          min-height: unset;
          min-width: unset;
          padding: 0 !important;
          background-color: transparent !important;
          background-repeat: no-repeat;
          background-size: 18px 18px;
          background-position: 4px 4px;
          color: transparent !important;
          text-indent: -99999px;
          transition: opacity .2s ease;
          .text__7a01b {
            display: none;
          }
        }
        .fieldButton_a9178b .button_a22cb0 {
          right: 0;
          bottom: 16px;
          background-image: url("data:image/svg+xml,%3Csvg fill='white' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Ctitle%3EDiscord%3C/title%3E%3Cpath d='M1.3335 20.8891V16.4446L15.3424 2.48908C15.6802 2.13352 16.2491 2.13352 16.6046 2.48908L19.7335 5.61797C20.0891 5.97352 20.0891 6.52463 19.7335 6.88019L5.72461 20.8891H1.3335ZM22.6668 20.8891H9.3335L12.8891 17.3335H22.6668V20.8891Z'/%3E%3C/svg%3E");
          background-size: 16px;
          opacity: .3;
          .theme-light & {
            background-image: url("data:image/svg+xml,%3Csvg fill='rgb(6, 6, 7)' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Ctitle%3EDiscord%3C/title%3E%3Cpath d='M1.3335 20.8891V16.4446L15.3424 2.48908C15.6802 2.13352 16.2491 2.13352 16.6046 2.48908L19.7335 5.61797C20.0891 5.97352 20.0891 6.52463 19.7335 6.88019L5.72461 20.8891H1.3335ZM22.6668 20.8891H9.3335L12.8891 17.3335H22.6668V20.8891Z'/%3E%3C/svg%3E");
            background-size: 16px;
          }
          &:hover {
            opacity: .6;
          }
        }
        .fieldButton_a9178b .textButton__7a01b {
          right: 24px;
          margin: 0;
          background-image: url("data:image/svg+xml,%3Csvg fill='rgb(240, 71, 71)' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Ctitle%3EDiscord%3C/title%3E%3Cpath d='M7.5 9.75H6V18.75H7.5V9.75ZM21.75 3H15V0.75C15 0.3 14.7 0 14.25 0H8.25C7.8 0 7.5 0.3 7.5 0.75V3H0.75C0.3 3 0 3.3 0 3.75C0 4.2 0.3 4.5 0.75 4.5H1.5V22.5C1.5 23.4 2.1 24 3 24H19.5C20.4 24 21 23.4 21 22.5V4.5H21.75C22.2 4.5 22.5 4.2 22.5 3.75C22.5 3.3 22.2 3 21.75 3ZM9 1.5H13.5V3H9V1.5ZM19.5 21.75C19.5 22.2 19.2 22.5 18.75 22.5H3.75C3.3 22.5 3 22.2 3 21.75V4.5H19.5V21.75ZM12 8.25H10.5V18.75H12V8.25ZM16.5 9.75H15V18.75H16.5V9.75Z'/%3E%3C/svg%3E");
          background-size: 16px;
          filter: #{"saturate(var(--saturation-factor,1))"};
          opacity: .6;
          &:hover {
            opacity: 1;
          }
        }
        .lookLink_a22cb0.sizeMin_a22cb0 {
          color: var(--blurple);
          font-size: 11px;
          padding: 0 4px;
          position: relative;
          text-transform: uppercase;
          .contents__201d5 {
            background: #0000 !important;
            font-weight: 900;
          }
          &:hover {
            color: var(--blurple-active);
          }
        }
      }
      .lookLink_a22cb0.colorPrimary_a22cb0:hover .contents__201d5 {
        --button-underline-color: transparent !important;
        background-image: none;
      }
      .fieldTitle_a9178b {
        margin-bottom: 20px;
      }
    }
  }
  // user » profile customization
  @at-root {
    .baseLayout__44061 {
      grid-template-columns: auto 250px;
    }
    .previewsContainer__44061 {
      .header__5a2c6 {
        display: contents;
      }
      .mask__68edb, .avatar_d28e10 {
        order: -10;
      }
      .avatar_d28e10 {
        margin-bottom: 16px !important;
        position: relative;
        width: 90px !important;
        height: 90px !important;
        min-height: 90px !important;
        max-height: 90px !important;
      }
      .overlay_d28e10:after {
        inset: 4px auto auto 4px;
        content: "CHANGE AVATAR";
        display: grid;
        place-content: center;
        text-align: center;
        font-size: 10px;
        font-weight: 700;
        line-height: 1.2;
        box-sizing: border-box;
        padding-inline: 10px;
      }
      .overlayIcon_d28e10 {
        display: none !important;
      }
    }
    .container__8279f { // CollectiblesUpsellBanner
      display: none;
    }
  }
  // user » connections
  @at-root {
    .connection__41de9:not(#\#) {
      all: unset;
      display: flex;
      flex-direction: column;
      --connection-color: var(--blurple);
      border-radius: 3px;
      border: solid 1px var(--connection-color);
      background: var(--connection-color);
      margin-bottom: 20px;
      .connectionHeader__41de9 {
        all: unset;
        display: flex;
        padding: 20px 0;
        margin: 0 20px;
        border-bottom: solid 1px rgba(255 255 255/.2);
        background: none;
        order: -2;
        >div:not([class]) {
          flex: 1;
        }
        .connectionAccountLabelContainer__41de9 {
          color: rgba(255,255,255,.9);
        }
        .connectionAccountValue__41de9 {
          color: inherit !important;
        }
        .connectionAccountLabel__41de9 {
          color: rgba(255 255 255/.6) !important;
        }
        .connectionIcon__41de9 {
          width: 36px;
          height: 36px;
        }
      }
      .connectionOptions__41de9 {
        all: unset;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 12px 20px;
        order: -1;
        .container__5a838 {
          all: unset;
          display: flex;
          &[data-disabled="true"] {
            opacity: .3;
          }
          .control__5a838 {
            order: -2;
            input[type=checkbox]:not(:checked):before {
              border-color: rgba(255 255 255/.5);
            }
            input[type=checkbox]:checked:before {
              background: #fff;
              border-color: #fff;
            }
            input[type=checkbox]:checked:after {
              border-color: var(--connection-color);
            }
          }
          .labelContainer__5a838 {
            margin: 0 0 0 8px;
          }
          .label__5a838 {
            margin-top: 2px;
            color: #fff !important;
            font-size: 16px;
            font-weight: 400;
            line-height: 16px;
          }
        }
      }
      .divider__1de9c {
        display: none;
      }
      .connectedAccountSeparator__41de9 {display:none}
      >.container__5a838 {
        padding: 8px 20px 12px;
        .label__5a838 {
          color: #fff !important;
          font-size: 11px;
          font-weight: 700;
          text-transform: uppercase;
        }
        >.control__5a838 {
          display: flex;
          grid-gap: 8px 16px;
          flex-flow: wrap;
        }
        .integrationWrapper__41de9 {
          z-index: 999;
          width: calc(50% - 8px);
          position: relative;
          background: rgba(0,0,0,.1);
          border: 1px solid rgba(0,0,0,.3);
          border-radius: 3px;
          padding: 10px;
          margin: 0;
          [data-text-variant="text-md/semibold"] {
            font-weight: 400;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
          }
          .integrationInner__41de9 {
            overflow: hidden;
            flex: 1 auto;
            --header-secondary: rgba(255 255 255/.5);
          }
          .icon_f34534 {
            flex-shrink: 0;
          }
          a[href^="https://www.twitch.tv/"] {
            [data-text-variant="text-xs/normal"]:before {
              content: "twitch.tv/";
            }
          }
        }
        .integrationRevoked__41de9 {
          text-align: center;
          color: #fffa;
          font-weight: 400;
          a {
            color: #fff;
          }
        }
      }
      .metadataContainer__41de9 {
        margin: 0 20px 10px;
      }
      :is(.metadataContainer__41de9, .container_cd2add) {
        background: rgba(0,0,0,.1);
        border: 1px solid rgba(0,0,0,.3);
        border-radius: 3px;
        --interactive-active: #fff;
        --text-normal: #fff;
        --text-default: #fff;
        --text-secondary: #fff;
        --text-link: #fffb;
        --text-link-low-saturation: #fffb;
        .connectedAccountVanityMetadata_fffe42 {
          font-size: 12px;
          line-height: 1;
        }
        .connectedAccountVanityMetadataTag_fffe42 {
          border-radius: 3px;
          background: none;
          border: solid 1px #fff3;
        }
        .connectionMetadataUpsellTag__41de9.connectionMetadataUpsellTag__41de9 {
          background: #fff !important;
          color: color-mix(in srgb, #000 10%, var(--connection-color, var(--blurple))) !important;
        }
      }
      .integrationWrapper__41de9, .metadataContainer__41de9 {
        .button_a22cb0:not(#\#) {
          &, & * {
            all: unset;
          }
          & * {
            display: contents;
          }
          &:not(#\#):not(#\#) {
            cursor: pointer;
            border: solid 1px #0000004d;
            background: var(--connection-color) !important;
            color: #fff;
            padding: 5px 16px;
            min-height: 0px;
            height: auto;
            min-width: 0px;
            font-size: 14px;
            font-weight: 400;
            transition: 0s;
            flex-shrink: 0;
            &:active {
              background: linear-gradient(#0002, #0002) padding-box, linear-gradient(var(--connection-color), var(--connection-color)) border-box !important;
              border-color: #0000004d;
            }
          }
        }
      }
      // .connectionAccountLabelVerified__41de9 {
      //   .flowerStar_ff7d90 path {fill: #fff!important}
      //   .childContainer_ff7d90 path {fill: var(--connection-color)!important}
      // }
      .connectionDelete__41de9 {
        width: auto;
        height: 36px;
        border: solid 1px rgba(255,255,255,.1);
        border-radius: 3px;
        margin-right: 0;
        display: flex;
        align-items: center;
        padding: 0 16px;
        color: #fff;
        font-size: 14px;
        >svg {
          display: none;
        }
        &:after {content: attr(aria-label)}
        &:hover {border-color: rgba(255,255,255,.5)}
      }
      &:has(img[alt="Battle.net"]) {--connection-color: #{ss(#009ae5)};}
      &:has(img[alt="Bluesky"]) {--connection-color: #{ss(#0085ff)};}
      &:has(img[alt="Crunchyroll"]) {--connection-color: #{ss(#f47521)};}
      &:has(img[alt="Domain"]) {--connection-color: #{ss(#2e3136)};}
      &:has(img[alt="eBay"]) {--connection-color: #{ss(#696d70)};}
      &:has(img[alt="Epic Games"]) {--connection-color: #{ss(#121212)};}
      &:has(img[alt="Facebook"]) {--connection-color: #{ss(#3d4e84)};}
      &:has(img[alt="GitHub"]) {--connection-color: #{ss(#191717)};}
      &:has(img[alt="Instagram"]) {--connection-color: #{ss(#0a5589)};}
      &:has(img[alt="League of Legends"]) {--connection-color: #{ss(#021f25)};}
      &:has(img[alt="PayPal"]) {--connection-color: #{ss(#334399)};}
      &:has(img[alt="PlayStation Network"]) {--connection-color: #{ss(#023791)};}
      &:has(img[alt="Reddit"]) {--connection-color: #{ss(#5f99cf)};}
      &:has(img[alt="Riot Games"]) {--connection-color: #{ss(#ed1c2c)};}
      &:has(img[alt="Roblox"]) {--connection-color: #{ss(#0074bd)};}
      &:has(img[alt="Skype"]) {--connection-color: #{ss(#009dd7)};}
      &:has(img[alt="Spotify"]) {--connection-color: #{ss(#1db954)};}
      &:has(img[alt="Steam"]) {--connection-color: #{ss(#182332)};}
      &:has(img[alt="TikTok"]) {--connection-color: #111;}
      &:has(img[alt="Twitch"]) {--connection-color: #{ss(#593695)};}
      &:has(img:is([alt="Twitter"],[alt="X"])) {--connection-color: #{ss(#1da1f2)};}
      &:has(img[alt="Xbox"]) {--connection-color: #{ss(#107c10)};}
      &:has(img[alt="YouTube"]) {--connection-color: #{ss(#cb2120)};}
    }
  }
  // user » authorized apps
  @at-root {
    .authedApp__92059 {
      background: none;
      border: solid 1px var(--background-tertiary);
      border-radius: 5px;
      .h5_b717a1 {
        font-size: 11px;
        font-weight: bold;
      }
      .permissionCheckmark__92059 {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 18 18' fill='none'%3E%3Cpath d='M2.83887 8.32083L6.34685 11.8288L14.3866 3.78906' stroke='%237289DA' stroke-width='3'/%3E%3C/svg%3E");
      }
    }
    // ⚠️⚠️⚠️⚠️⚠️ SHITCORD UI ⚠️⚠️⚠️⚠️⚠️
    .authedAppV2__92059 {
      background: none;
      border: solid 1px var(--background-tertiary);
      border-radius: 5px;
      padding: 20px;
      .headerV2__92059 {
        background: none;
        border-radius: 0;
        padding: 0;
      }
      .appDetailsContainer__92059 {
        background: none;
        border-radius: 0;
        padding: 0;
      }
      .footer__92059 {
        margin: 10px 0 0;
      }
    }
  }
  // user » appearance
  @at-root {
    .themeSelectionContainer__36dee {
      width: auto;
      height: auto;
      .redCircle__36dee {
        position: absolute;
        background: var(--red);
        top: -2px;
        right: -2px;
        border-radius: 2px;
        text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
        box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25), inset 0 1px 0 rgba(255, 255, 255, 0.15);
        width: auto;
        height: auto;
        font-size: 12px;
        padding: 3px;
        color: #fff;
        &:after {
          font-weight: 500;
          content: "NEW";
        }
      }
      .selectionCircle__36dee {display:none}
      .iconWrapper__36dee {display:none}
    }
    .themeSelection__36dee {
      border-radius: 4px;
      &:before, &:after {
        content: '';
        display: block;
      }
      &:before {
        width: 130px;
        height: 100px;
        background-size: 130px 100px;
        border: solid 1px var(--background-accent);
        border-bottom: none;
        border-radius: 3px 3px 0 0;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='130' height='100' fill='none'%3E%3Cg clip-path='url(%23a)'%3E%3Cpath fill='%2336393E' d='M0 0h130v100H0z'/%3E%3Cpath fill='%231E2124' d='M0 0h18v100H0z'/%3E%3Cpath fill='%232E3136' d='M18 0h40v83H18z'/%3E%3Cmask id='b' fill='%23fff'%3E%3Cpath d='M18 82h40v18H18V82Z'/%3E%3C/mask%3E%3Cpath fill='%23282B30' d='M18 82h40v18H18V82Z'/%3E%3Cpath fill='%231C1E22' d='M18 83h40v-2H18v2Z' mask='url(%23b)'/%3E%3Cg filter='url(%23c)'%3E%3Cpath fill='%2336393E' d='M58 0h72v12H58z'/%3E%3C/g%3E%3Cg filter='url(%23d)'%3E%3Cpath fill='%232E3136' d='M18 0h40v12H18z'/%3E%3C/g%3E%3Crect width='63' height='9' x='62.5' y='86.5' fill='%233F4347' stroke='%235D6063' rx='1.5'/%3E%3Crect width='15' height='7' x='40.5' y='87.5' fill='%232E3136' stroke='%231C1E22' rx='1.5'/%3E%3Crect width='10' height='10' x='4' y='4' fill='%237289DA' rx='5'/%3E%3Crect width='10' height='10' x='4' y='18' fill='%2336393E' rx='5'/%3E%3Crect width='10' height='10' x='4' y='32' fill='%2336393E' rx='5'/%3E%3Crect width='10' height='10' x='4' y='46' fill='%2336393E' rx='5'/%3E%3Cpath fill='%237289DA' d='M18 18h2v6h-2z'/%3E%3Cpath fill='url(%23e)' d='M20 18h38v6H20z'/%3E%3Crect width='8' height='8' x='21' y='87' fill='%23848C95' rx='4'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='c' width='72' height='13' x='58' y='0' color-interpolation-filters='sRGB' filterUnits='userSpaceOnUse'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' result='hardAlpha' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0'/%3E%3CfeOffset dy='1'/%3E%3CfeComposite in2='hardAlpha' operator='out'/%3E%3CfeColorMatrix values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.15 0'/%3E%3CfeBlend in2='BackgroundImageFix' result='effect1_dropShadow_4043_19877'/%3E%3CfeBlend in='SourceGraphic' in2='effect1_dropShadow_4043_19877' result='shape'/%3E%3C/filter%3E%3Cfilter id='d' width='40' height='13' x='18' y='0' color-interpolation-filters='sRGB' filterUnits='userSpaceOnUse'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' result='hardAlpha' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0'/%3E%3CfeOffset dy='1'/%3E%3CfeComposite in2='hardAlpha' operator='out'/%3E%3CfeColorMatrix values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.15 0'/%3E%3CfeBlend in2='BackgroundImageFix' result='effect1_dropShadow_4043_19877'/%3E%3CfeBlend in='SourceGraphic' in2='effect1_dropShadow_4043_19877' result='shape'/%3E%3C/filter%3E%3ClinearGradient id='e' x1='20' x2='58' y1='24' y2='24' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='.86' stop-color='%23282B30'/%3E%3Cstop offset='1' stop-color='%232E3136'/%3E%3C/linearGradient%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M0 0h130v100H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
      }
      &:after {
        content: "Apply Theme";
        text-transform: uppercase;
        font-weight: 600;
        font-size: 14px;
        background: var(--green);
        border-radius: 0 0 3px 3px;
        width: 132px;
        box-sizing: border-box;
        height: auto;
        padding: 8px 0;
        color: #fff;
        text-align: center;
      }
      &.lightOverlay__36dee,
      &.darkOverlay__36dee {
        --bg-overlay: linear-gradient(#0000,#0000);
      }
      &.lightOverlay__36dee:before {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='130' height='100' fill='none'%3E%3Cg clip-path='url(%23a)'%3E%3Cpath fill='%23fff' fill-opacity='.25' d='M0 0h18v100H0z'/%3E%3Cpath fill='%23fff' fill-opacity='.5' d='M18 13h40v69H18z'/%3E%3Cg filter='url(%23b)'%3E%3Cpath fill='%23fff' fill-opacity='.75' d='M58 0h72v12H58z' shape-rendering='crispEdges'/%3E%3C/g%3E%3Cg filter='url(%23c)'%3E%3Cpath fill='%23fff' fill-opacity='.5' d='M18 0h40v12H18z' shape-rendering='crispEdges'/%3E%3C/g%3E%3Crect width='62' height='8' x='63' y='87' fill='%23fff' fill-opacity='.5' rx='1'/%3E%3Crect width='63' height='9' x='62.5' y='86.5' stroke='%23fff' stroke-opacity='.15' rx='1.5'/%3E%3Cpath fill='%23fff' fill-opacity='.75' fill-rule='evenodd' d='M130 13H58v87h72V13ZM64 86a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2h60a2 2 0 0 0 2-2v-6a2 2 0 0 0-2-2H64Z' clip-rule='evenodd'/%3E%3Cpath fill='%23fff' fill-opacity='.65' fill-rule='evenodd' d='M58 83H18v17h40V83Zm-16 4a2 2 0 0 0-2 2v4a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-4a2 2 0 0 0-2-2H42Z' clip-rule='evenodd'/%3E%3Crect width='14' height='6' x='41' y='88' fill='%23fff' fill-opacity='.5' rx='1'/%3E%3Crect width='10' height='10' x='4' y='4' fill='%237289DA' rx='5'/%3E%3Crect width='10' height='10' x='4' y='18' fill='%23fff' rx='5'/%3E%3Crect width='10' height='10' x='4' y='32' fill='%23fff' rx='5'/%3E%3Crect width='10' height='10' x='4' y='46' fill='%23fff' rx='5'/%3E%3Cpath fill='%237289DA' d='M18 18h2v6h-2z'/%3E%3Cpath fill='url(%23d)' d='M20 18h38v6H20z'/%3E%3Crect width='8' height='8' x='21' y='87' fill='%23848C95' rx='4'/%3E%3Cpath fill='%23fff' fill-opacity='.35' d='M18 82h40v1H18zm0-70h40v1H18z'/%3E%3Cpath fill='%23fff' fill-opacity='.55' d='M58 12h72v1H58z'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='b' width='72' height='13' x='58' y='0' color-interpolation-filters='sRGB' filterUnits='userSpaceOnUse'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' result='hardAlpha' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0'/%3E%3CfeOffset dy='1'/%3E%3CfeComposite in2='hardAlpha' operator='out'/%3E%3CfeColorMatrix values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.15 0'/%3E%3CfeBlend in2='BackgroundImageFix' result='effect1_dropShadow_4043_19915'/%3E%3CfeBlend in='SourceGraphic' in2='effect1_dropShadow_4043_19915' result='shape'/%3E%3C/filter%3E%3Cfilter id='c' width='40' height='13' x='18' y='0' color-interpolation-filters='sRGB' filterUnits='userSpaceOnUse'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' result='hardAlpha' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0'/%3E%3CfeOffset dy='1'/%3E%3CfeComposite in2='hardAlpha' operator='out'/%3E%3CfeColorMatrix values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.15 0'/%3E%3CfeBlend in2='BackgroundImageFix' result='effect1_dropShadow_4043_19915'/%3E%3CfeBlend in='SourceGraphic' in2='effect1_dropShadow_4043_19915' result='shape'/%3E%3C/filter%3E%3ClinearGradient id='d' x1='20' x2='58' y1='24' y2='24' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='.858' stop-color='%23fff' stop-opacity='.5'/%3E%3Cstop offset='1' stop-color='%23fff' stop-opacity='0'/%3E%3C/linearGradient%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M0 0h130v100H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
      }
      &.darkOverlay__36dee:before {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='130' height='100' fill='none'%3E%3Cg clip-path='url(%23a)'%3E%3Cpath fill='%23000' fill-opacity='.35' d='M0 0h18v100H0z'/%3E%3Cpath fill='%23000' fill-opacity='.65' d='M18 12h40v70H18z'/%3E%3Cg filter='url(%23b)'%3E%3Cpath fill='%23000' fill-opacity='.75' d='M58 0h120v12H58z' shape-rendering='crispEdges'/%3E%3C/g%3E%3Cg filter='url(%23c)'%3E%3Cpath fill='%23000' fill-opacity='.65' d='M18 0h40v12H18z' shape-rendering='crispEdges'/%3E%3C/g%3E%3Crect width='62' height='8' x='63' y='87' fill='%23000' fill-opacity='.75' rx='1'/%3E%3Crect width='63' height='9' x='62.5' y='86.5' stroke='%23000' stroke-opacity='.65' rx='1.5'/%3E%3Cpath fill='%23000' fill-opacity='.75' fill-rule='evenodd' d='M130 12H58v88h72V12ZM64 86a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2h60a2 2 0 0 0 2-2v-6a2 2 0 0 0-2-2H64Z' clip-rule='evenodd'/%3E%3Cpath fill='%23000' fill-opacity='.65' fill-rule='evenodd' d='M58 83H18v17h40V83Zm-16 4a2 2 0 0 0-2 2v4a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-4a2 2 0 0 0-2-2H42Z' clip-rule='evenodd'/%3E%3Cg filter='url(%23d)'%3E%3Crect width='14' height='6' x='41' y='88' fill='%23000' fill-opacity='.75' rx='1' shape-rendering='crispEdges'/%3E%3C/g%3E%3Crect width='10' height='10' x='4' y='4' fill='%237289DA' rx='5'/%3E%3Crect width='10' height='10' x='4' y='18' fill='%23000' rx='5'/%3E%3Crect width='10' height='10' x='4' y='32' fill='%23000' rx='5'/%3E%3Crect width='10' height='10' x='4' y='46' fill='%23000' rx='5'/%3E%3Cpath fill='%237289DA' d='M18 18h2v6h-2z'/%3E%3Cpath fill='url(%23e)' d='M20 18h38v6H20z'/%3E%3Crect width='8' height='8' x='21' y='87' fill='%23848C95' rx='4'/%3E%3Cpath fill='%23000' fill-opacity='.75' d='M18 82h40v1H18z'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='b' width='120' height='13' x='58' y='0' color-interpolation-filters='sRGB' filterUnits='userSpaceOnUse'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' result='hardAlpha' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0'/%3E%3CfeOffset dy='1'/%3E%3CfeComposite in2='hardAlpha' operator='out'/%3E%3CfeColorMatrix values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.15 0'/%3E%3CfeBlend in2='BackgroundImageFix' result='effect1_dropShadow_4043_19938'/%3E%3CfeBlend in='SourceGraphic' in2='effect1_dropShadow_4043_19938' result='shape'/%3E%3C/filter%3E%3Cfilter id='c' width='40' height='13' x='18' y='0' color-interpolation-filters='sRGB' filterUnits='userSpaceOnUse'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' result='hardAlpha' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0'/%3E%3CfeOffset dy='1'/%3E%3CfeComposite in2='hardAlpha' operator='out'/%3E%3CfeColorMatrix values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.15 0'/%3E%3CfeBlend in2='BackgroundImageFix' result='effect1_dropShadow_4043_19938'/%3E%3CfeBlend in='SourceGraphic' in2='effect1_dropShadow_4043_19938' result='shape'/%3E%3C/filter%3E%3Cfilter id='d' width='16' height='8' x='40' y='87' color-interpolation-filters='sRGB' filterUnits='userSpaceOnUse'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' result='hardAlpha' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0'/%3E%3CfeMorphology in='SourceAlpha' operator='dilate' radius='1' result='effect1_dropShadow_4043_19938'/%3E%3CfeOffset/%3E%3CfeComposite in2='hardAlpha' operator='out'/%3E%3CfeColorMatrix values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.5 0'/%3E%3CfeBlend in2='BackgroundImageFix' result='effect1_dropShadow_4043_19938'/%3E%3CfeBlend in='SourceGraphic' in2='effect1_dropShadow_4043_19938' result='shape'/%3E%3C/filter%3E%3ClinearGradient id='e' x1='20' x2='58' y1='24' y2='24' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='.858' stop-opacity='.5'/%3E%3Cstop offset='1' stop-opacity='0'/%3E%3C/linearGradient%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M0 0h130v100H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
      }
      &.selected__36dee {
        &:before {border-color: var(--blurple)}
        &:after {
          content: "Applied";
          background: var(--blurple);
        }
      }
      .borderOverlay__8fea4 {
        display: none;
      }
      &.container__8fea4 {
        display: block;
        position: relative;
        .paletteIcon__8fea4 {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
    .container_a1d343 {display:none}
    [data-nav-anchor-key="appearance_default_themes"] {
      .lightIcon__36dee:before {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='130' height='100' fill='none'%3E%3Cg clip-path='url(%23a)'%3E%3Cpath fill='%23fff' d='M0 0h130v100H0z'/%3E%3Cpath fill='%23E3E5E8' d='M0 0h18v100H0z'/%3E%3Cpath fill='%23EBEDEF' d='M18 0h40v83H18z'/%3E%3Cmask id='b' fill='%23fff'%3E%3Cpath d='M18 82h40v18H18V82Z'/%3E%3C/mask%3E%3Cpath fill='%23EBEDEF' d='M18 82h40v18H18V82Z'/%3E%3Cpath fill='%23DEDEDE' d='M18 83h40v-2H18v2Z' mask='url(%23b)'/%3E%3Cg filter='url(%23c)'%3E%3Cpath fill='%23fff' d='M58 0h72v12H58z'/%3E%3C/g%3E%3Cg filter='url(%23d)'%3E%3Cpath fill='%23EBEDEF' d='M18 0h40v12H18z'/%3E%3C/g%3E%3Crect width='63' height='9' x='62.5' y='86.5' fill='%23fff' stroke='%23DADDDF' rx='1.5'/%3E%3Crect width='15' height='7' x='40.5' y='87.5' fill='%23F2F3F5' stroke='%23DEDEDE' rx='1.5'/%3E%3Crect width='10' height='10' x='4' y='4' fill='%237289DA' rx='5'/%3E%3Crect width='10' height='10' x='4' y='18' fill='%23fff' rx='5'/%3E%3Crect width='10' height='10' x='4' y='32' fill='%23fff' rx='5'/%3E%3Crect width='10' height='10' x='4' y='46' fill='%23fff' rx='5'/%3E%3Cpath fill='%237289DA' d='M18 18h2v6h-2z'/%3E%3Cpath fill='url(%23e)' d='M20 18h38v6H20z'/%3E%3Crect width='8' height='8' x='21' y='87' fill='%23848C95' rx='4'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='c' width='72' height='13' x='58' y='0' color-interpolation-filters='sRGB' filterUnits='userSpaceOnUse'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' result='hardAlpha' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0'/%3E%3CfeOffset dy='1'/%3E%3CfeComposite in2='hardAlpha' operator='out'/%3E%3CfeColorMatrix values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.15 0'/%3E%3CfeBlend in2='BackgroundImageFix' result='effect1_dropShadow_4043_19861'/%3E%3CfeBlend in='SourceGraphic' in2='effect1_dropShadow_4043_19861' result='shape'/%3E%3C/filter%3E%3Cfilter id='d' width='40' height='13' x='18' y='0' color-interpolation-filters='sRGB' filterUnits='userSpaceOnUse'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' result='hardAlpha' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0'/%3E%3CfeOffset dy='1'/%3E%3CfeComposite in2='hardAlpha' operator='out'/%3E%3CfeColorMatrix values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.15 0'/%3E%3CfeBlend in2='BackgroundImageFix' result='effect1_dropShadow_4043_19861'/%3E%3CfeBlend in='SourceGraphic' in2='effect1_dropShadow_4043_19861' result='shape'/%3E%3C/filter%3E%3ClinearGradient id='e' x1='20' x2='58' y1='24' y2='24' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='.86' stop-color='%23E3E5E8'/%3E%3Cstop offset='1' stop-color='%23F2F3F5'/%3E%3C/linearGradient%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M0 0h130v100H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
      }
      .darkerIcon__36dee:before {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='130' height='100' fill='none'%3E%3Cg clip-path='url(%23a)'%3E%3Cpath fill='%23040405' d='M0 0h130v100H0z'/%3E%3Cpath fill='%230C0D0E' d='M0 0h18v100H0z'/%3E%3Cpath fill='%23111315' d='M18 0h40v83H18z'/%3E%3Cmask id='b' fill='%23fff'%3E%3Cpath d='M18 82h40v18H18V82Z'/%3E%3C/mask%3E%3Cpath fill='%2318191C' d='M18 82h40v18H18V82Z'/%3E%3Cpath fill='%231C1E22' d='M18 83h40v-2H18v2Z' mask='url(%23b)'/%3E%3Cg filter='url(%23c)'%3E%3Cpath fill='%23040405' d='M58 0h72v12H58z'/%3E%3C/g%3E%3Cg filter='url(%23d)'%3E%3Cpath fill='%23111315' d='M18 0h40v12H18z'/%3E%3C/g%3E%3Crect width='63' height='9' x='62.5' y='86.5' fill='%23131314' stroke='%23424243' rx='1.5'/%3E%3Crect width='15' height='7' x='40.5' y='87.5' fill='%23111315' stroke='%23333' rx='1.5'/%3E%3Crect width='10' height='10' x='4' y='4' fill='%237289DA' rx='5'/%3E%3Crect width='10' height='10' x='4' y='18' fill='%232E3136' rx='5'/%3E%3Crect width='10' height='10' x='4' y='32' fill='%232E3136' rx='5'/%3E%3Crect width='10' height='10' x='4' y='46' fill='%232E3136' rx='5'/%3E%3Cpath fill='%237289DA' d='M18 18h2v6h-2z'/%3E%3Cpath fill='url(%23e)' d='M20 18h38v6H20z'/%3E%3Crect width='8' height='8' x='21' y='87' fill='%23848C95' rx='4'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='c' width='72' height='13' x='58' y='0' color-interpolation-filters='sRGB' filterUnits='userSpaceOnUse'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' result='hardAlpha' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0'/%3E%3CfeOffset dy='1'/%3E%3CfeComposite in2='hardAlpha' operator='out'/%3E%3CfeColorMatrix values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.15 0'/%3E%3CfeBlend in2='BackgroundImageFix' result='effect1_dropShadow_3864_25996'/%3E%3CfeBlend in='SourceGraphic' in2='effect1_dropShadow_3864_25996' result='shape'/%3E%3C/filter%3E%3Cfilter id='d' width='40' height='13' x='18' y='0' color-interpolation-filters='sRGB' filterUnits='userSpaceOnUse'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' result='hardAlpha' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0'/%3E%3CfeOffset dy='1'/%3E%3CfeComposite in2='hardAlpha' operator='out'/%3E%3CfeColorMatrix values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.15 0'/%3E%3CfeBlend in2='BackgroundImageFix' result='effect1_dropShadow_3864_25996'/%3E%3CfeBlend in='SourceGraphic' in2='effect1_dropShadow_3864_25996' result='shape'/%3E%3C/filter%3E%3ClinearGradient id='e' x1='20' x2='58' y1='24' y2='24' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='.858' stop-color='%2318191C'/%3E%3Cstop offset='1' stop-color='%23111315'/%3E%3C/linearGradient%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M0 0h130v100H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
      }
      .midnightIcon__36dee:before {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='130' height='100' fill='none'%3E%3Cpath fill='%231E2124' d='M0 0h130v100H0z'/%3E%3Cpath fill='%23F04747' d='M59.752 48H56.84l-3.616-5.76V48h-3.04V36.96h3.232l3.296 5.28v-5.28h3.04V48Zm12.065-5.536c0 3.408-2.128 5.744-5.376 5.744-3.216 0-5.344-2.304-5.344-5.712 0-3.424 2.128-5.744 5.376-5.744 3.232 0 5.344 2.304 5.344 5.712Zm-3.264.016c0-1.984-.752-3.248-2.096-3.248s-2.096 1.264-2.096 3.248c0 1.984.752 3.248 2.096 3.248s2.096-1.264 2.096-3.248Zm12.978-2.8h-3.088V48h-3.28v-8.32h-2.96v-2.72h8.88l.448 2.72ZM28.98 60.528c0 2.608-1.904 3.6-4.144 3.6-1.616 0-2.928-.336-4.192-.88l.48-2.672c1.296.64 2.656 1.056 3.76 1.056.64 0 1.056-.224 1.056-.704 0-.464-.272-.688-1.776-1.216-2.256-.8-3.28-1.536-3.28-3.472 0-2.272 1.776-3.408 3.952-3.408 1.6 0 2.576.272 3.664.784l-.48 2.656c-1.152-.624-2.288-.944-3.12-.944-.656 0-.976.224-.976.608 0 .432.256.656 1.504 1.072 2.512.832 3.552 1.712 3.552 3.52Zm10.629-.976c0 3.216-2.128 4.608-4.8 4.608-2.704 0-4.72-1.36-4.72-4.608V52.96h3.28v6.64c0 1.216.56 1.856 1.488 1.856.992 0 1.472-.672 1.472-1.824V52.96h3.28v6.592Zm10.008-2.816c0 2.608-1.856 3.952-4.64 3.952h-.512V64H41.2V52.96h3.824c2.848 0 4.592 1.232 4.592 3.776Zm-3.136.048c0-.96-.56-1.44-1.648-1.44h-.4v2.96h.368c1.088 0 1.68-.48 1.68-1.52Zm12.636-.048c0 2.608-1.856 3.952-4.64 3.952h-.512V64H50.7V52.96h3.824c2.848 0 4.592 1.232 4.592 3.776Zm-3.136.048c0-.96-.56-1.44-1.648-1.44h-.4v2.96h.368c1.088 0 1.68-.48 1.68-1.52Zm14.556 1.68c0 3.408-2.128 5.744-5.376 5.744-3.216 0-5.344-2.304-5.344-5.712 0-3.424 2.128-5.744 5.376-5.744 3.232 0 5.344 2.304 5.344 5.712Zm-3.264.016c0-1.984-.752-3.248-2.096-3.248s-2.096 1.264-2.096 3.248c0 1.984.752 3.248 2.096 3.248s2.096-1.264 2.096-3.248Zm13.847 5.104-3.456.528-2.032-3.536h-.496V64h-3.248V52.96h4.224c2.848 0 4.48 1.264 4.48 3.632 0 1.488-.672 2.544-1.92 3.184l2.448 3.808Zm-3.712-6.8c0-.928-.592-1.44-1.648-1.44h-.656v2.96h.672c1.056 0 1.632-.544 1.632-1.52Zm13.155-1.104h-3.088V64h-3.28v-8.32h-2.96v-2.72h8.88l.448 2.72ZM99 64h-7.424V52.96h7.28v2.576h-4.08v1.584h3.088l.4 2.544h-3.488v1.76H99V64Zm11.293-5.536c0 3.28-2.032 5.536-5.744 5.536h-4.192V52.96h4.064c3.84 0 5.872 2.208 5.872 5.504Zm-3.28.016c0-2.128-1.12-3.056-2.72-3.056h-.672v6.112h.688c1.664 0 2.704-.88 2.704-3.056Z'/%3E%3C/svg%3E");
      }
      .defaultThemeSelection__36dee:has(.iconWrapper__36dee):before {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='130' height='100' fill='none'%3E%3Cg clip-path='url(%23a)'%3E%3Cpath fill='%2336393E' d='M0 0h130v100H0z'/%3E%3Cpath fill='%232E3136' d='M18 12h40v70H18z'/%3E%3Cpath fill='%23fff' d='M130 100V0H85L45 100h85Z'/%3E%3Cpath fill='%23EBEDEF' d='M58 67.5 52.2 82H58V67.5Z'/%3E%3Cpath fill='%231E2124' d='M0 0h18v100H0z'/%3E%3Cmask id='b' fill='%23fff'%3E%3Cpath d='M18 82h40v18H18V82Z'/%3E%3C/mask%3E%3Cpath fill='%23282B30' d='M18 82h40v18H18V82Z'/%3E%3Cpath fill='%231C1E22' d='M18 83h40v-2H18v2Z' mask='url(%23b)'/%3E%3Cpath fill='%23EBEDEF' d='M58 100V82h-5.8L45 100h13Z'/%3E%3Cpath fill='%23DEDEDE' d='M58 82h-5.8l-.4 1H58v-1Z'/%3E%3Cg filter='url(%23c)'%3E%3Cpath fill='%2336393E' d='M58 0h72v12H58z'/%3E%3C/g%3E%3Cg filter='url(%23d)'%3E%3Cpath fill='%23fff' d='M80.2 12h49.799V0h-45l-4.8 12Z'/%3E%3C/g%3E%3Cg filter='url(%23e)'%3E%3Cpath fill='%232E3136' d='M18 0h40v12H18z'/%3E%3C/g%3E%3Crect width='63' height='9' x='62.5' y='86.5' fill='%23fff' stroke='%23DADDDF' rx='1.5'/%3E%3Crect width='15' height='7' x='40.5' y='87.5' fill='%232E3136' stroke='%231C1E22' rx='1.5'/%3E%3Cpath fill='%23F2F3F5' d='M47 95h7a2 2 0 0 0 2-2v-4a2 2 0 0 0-2-2h-3.8L47 95Z'/%3E%3Cpath fill='%23DEDEDE' d='M48.477 94H54a1 1 0 0 0 1-1v-4a1 1 0 0 0-1-1h-4.2l.4-1H54a2 2 0 0 1 2 2v4a2 2 0 0 1-2 2h-7l.4-1h1.077Z'/%3E%3Crect width='10' height='10' x='4' y='4' fill='%237289DA' rx='5'/%3E%3Crect width='10' height='10' x='4' y='18' fill='%2336393E' rx='5'/%3E%3Crect width='10' height='10' x='4' y='32' fill='%2336393E' rx='5'/%3E%3Crect width='10' height='10' x='4' y='46' fill='%2336393E' rx='5'/%3E%3Cpath fill='%237289DA' d='M18 18h2v6h-2z'/%3E%3Cpath fill='url(%23f)' d='M20 18h38v6H20z'/%3E%3Crect width='8' height='8' x='21' y='87' fill='%23848C95' rx='4'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='c' width='72' height='13' x='58' y='0' color-interpolation-filters='sRGB' filterUnits='userSpaceOnUse'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' result='hardAlpha' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0'/%3E%3CfeOffset dy='1'/%3E%3CfeComposite in2='hardAlpha' operator='out'/%3E%3CfeColorMatrix values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.15 0'/%3E%3CfeBlend in2='BackgroundImageFix' result='effect1_dropShadow_4043_19962'/%3E%3CfeBlend in='SourceGraphic' in2='effect1_dropShadow_4043_19962' result='shape'/%3E%3C/filter%3E%3Cfilter id='d' width='49.801' height='13' x='80.199' y='0' color-interpolation-filters='sRGB' filterUnits='userSpaceOnUse'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' result='hardAlpha' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0'/%3E%3CfeOffset dy='1'/%3E%3CfeComposite in2='hardAlpha' operator='out'/%3E%3CfeColorMatrix values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.15 0'/%3E%3CfeBlend in2='BackgroundImageFix' result='effect1_dropShadow_4043_19962'/%3E%3CfeBlend in='SourceGraphic' in2='effect1_dropShadow_4043_19962' result='shape'/%3E%3C/filter%3E%3Cfilter id='e' width='40' height='13' x='18' y='0' color-interpolation-filters='sRGB' filterUnits='userSpaceOnUse'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' result='hardAlpha' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0'/%3E%3CfeOffset dy='1'/%3E%3CfeComposite in2='hardAlpha' operator='out'/%3E%3CfeColorMatrix values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.15 0'/%3E%3CfeBlend in2='BackgroundImageFix' result='effect1_dropShadow_4043_19962'/%3E%3CfeBlend in='SourceGraphic' in2='effect1_dropShadow_4043_19962' result='shape'/%3E%3C/filter%3E%3ClinearGradient id='f' x1='20' x2='58' y1='24' y2='24' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='.858' stop-color='%23282B30'/%3E%3Cstop offset='1' stop-color='%232E3136'/%3E%3C/linearGradient%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M0 0h130v100H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
      }
    }
    .appIconSelectionContainer__8a3d7,
    .appIconSelection__8a3d7,
    .appIconSelection__8a3d7 img {
      outline: 0;
      width: 50px;
      height: 50px;
    }
    .appIconSelection__8a3d7 {
      border-radius: 25px;
      transition: border-radius 1.5s;
      transition-timing-function: linear(0, 0.01 0.7%, 0.042 1.5%, 0.162 3.1%, 0.334 4.7%, 0.842 8.9%, 1.072 11.3%, 1.157 12.5%, 1.215 13.6%, 1.258 14.8%, 1.279 16%, 1.281 17.5%, 1.257 19.1%, 1.209 20.9%, 1.055 25.4%, 0.992 27.6%, 0.943 30.1%, 0.921 32.7%, 0.927 35.9%, 1.002 44.4%, 1.022 49.3%, 0.994 65.7%, 1.002 82.2%, 1);
      &:hover, &[aria-checked="true"] {
        border-radius: 15px;
      }
    }
    .selectionCircle__36dee {
      box-shadow: inset 0 0 0 2px var(--blurple);
      border-radius: 15px;
    }
  }
  // user » voice & video
  @at-root {
    .soundButtonSettingContainer__84bad {
      border-radius: 0;
      border: 0;
      background: 0;
      box-shadow: 0 1px var(--dtm-16-input-text-border);
    }
  }
  // server » audit logs
  @at-root {
    .customHeader__5906b {
      position: sticky;
      top: 0;
      background: var(--background-primary);
      z-index: 2;
      .labelContainer__5a838 {
        display: none;
      }
    }
    .divider__5906b {
      display: none;
    }
  }
  // server » emoji settings
  @at-root {
    .table_e7d73e {
      border: none;
      border-radius: 0;
    }
    .tableHeader_e7d73e {
      padding: 0;
      background: #0000;
      margin: 0;
      border: none;
      [data-text-variant="text-sm/semibold"] {
        font-weight: 800;
        font-size: 12px;
        line-height: 1.2;
        text-transform: uppercase;
      }
    }
    .tableBody_e7d73e {
      padding: 0;
    }
    .column_e7d73e {
      margin: 0;
    }
    .emojiRow_e7d73e:not(#\#) {
      border-radius: 0;
      border: none;
      background: none;
      &:before {content:none}
    }
    .emojiColumn_e7d73e {
      min-width: 72px;
      width: 72px;
    }
    .emojiRow_e7d73e {
      .emojiAliasInputContainer_e7d73e {
        &:before, &:after {
          display: none !important;
        }
      }
      div.input__4f074 {
        display: none !important;
      }
      .input__4f074 {
        opacity: 1 !important;
        background: #0000 !important;
        border: solid 1px #0000 !important;
        outline: none !important;
        padding: 8px;
        width: 194px;
        height: auto;
        margin: 0;
        height: 40px !important;
        position: unset !important;
      }
      .emojiAliasPlaceholder_e7d73e {
        display: none;
      }
      &:hover .input__4f074 {
        border-radius: 3px;
        background: var(--dtm-16-server-settings-emoji-input-hover-bg) !important;
        border-color: var(--dtm-16-server-settings-emoji-input-hover-border) !important;
      }
    }
    .columnLabel_e7d73e, .column_e7d73e {
      min-width: 220px;
      max-width: 220px;
      width: 220px;
    }
    .emojiRowTools_e7d73e {
      button {
        min-width: 0;
        min-height: 0;
        padding: 8px !important;
      }
      .buttonChildrenWrapper_a22cb0 {
        min-width: 0;
      }
    }
  }
  // vencord » [SHARED]
  @at-root {
    :is(.vc-settings-tab-bar) {
      max-width: unset;
      border-bottom-color: var(--dtm-16-mini-tabs-border);
      gap: 12px;
      padding-top: 0;
      .item_aa8da2 {
        padding-bottom: 15px;
        color: var(--dtm-16-mini-tab-color);
        font-size: 14px;
        line-height: 14px;
        font-weight: 500;
        margin-bottom: -1px;
        margin-left: 0;
        margin-right: 0;
        text-transform: capitalize;
        border-bottom: solid 2px #0000 !important;
        &:after {display:none}
        &:hover {
          border-color: currentColor !important;
        }
        &.selected_aa8da2 {
          color: var(--dtm-16-mini-tab-selected-color);
          border-color: currentColor !important;
        }
        @media (forced-colors: active) {
          margin-bottom: 0;
        }
      }
    }
  }
}