@use "funcs" as *;
@use "mixins" as *;

// base
[data-mana-component="layer-modal"]:has(.abd9a8b9030934e3-container) {
	max-width: 900px;
	border-radius: 5px;
	border: none;
}
.abd9a8b9030934e3-container {
	border-radius: 5px;
	// test if the base modal classname is used elsewhere:
	// box-shadow: 0 0 0 1px red, 0 0 16px 2px red;
	background: none;
	._409aa1aeee28d5f7-sidebar {
		border-radius: 5px 0 0 5px;
		background: var(--background-secondary);
		width: 190px;
		flex: 0 0 190px;
		box-sizing: border-box;
		padding: 0;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      width: 14px;
      height: 0;
      &-track {
        margin-bottom: 0 !important;
        border: solid 3px #0000;
        border-radius: 8px;
      }
      &-track-piece, &-thumb {
        border: solid 3px #0000;
        border-radius: 8px;
      }
      &-thumb {
        border-color: #0000 !important;
        background-color: var(--dtm-16-scrollbar-thumb-brand) !important;
        background-clip: padding-box !important;
      }
      @media (forced-colors: active) {
        &-track-piece {
          background: none !important;
          border: none !important;
        }
        & {
          background: ButtonFace !important;
          border: solid 1px ButtonText !important;
          border-radius: 8px;
        }
        &-thumb {
          border-color: transparent !important;
          forced-color-adjust: none !important;
        }
      }
    }
    &:not(:hover) {
      &::-webkit-scrollbar-thumb {
        background: none !important;
      }
    }
    ._409aa1aeee28d5f7-fixedContent, ._409aa1aeee28d5f7-section, ._409aa1aeee28d5f7-nav {
      display: contents;
    }
    ._409aa1aeee28d5f7-fixedContent {
      >div {
        display: contents;
      }
      .caf372efc4d47562-item {
        border-radius: 0;
        padding: 8px 6px 10px 16px;
        border-left: solid 4px #0000;
        color: var(--interactive-active);
        ._994649ede0ea4c23-profileCustomizationTab {
          display: contents;
          ._44b0c28be7879b7b-wrapper {display:none}
          ._994649ede0ea4c23-textContainer {
            display: contents;
            color: inherit !important;
            >._4bd5201c86a2042b-lineClamp1 {display:none}
          }
          ._994649ede0ea4c23-editProfilesRow {
            display: contents;
            svg {display:none}
            ._4bd5201c86a2042b-lineClamp1 {
              color: inherit !important;
            }
          }
        }
        ._4bd5201c86a2042b-lineClamp1 {opacity:.3}
        &:hover, &:active, &.caf372efc4d47562-active {
          border-left-color: var(--blurple-st);
          background: none !important;
          ._4bd5201c86a2042b-lineClamp1 {
            opacity: 1;
          }
        }
        &.caf372efc4d47562-active {
          border-left-color: var(--blurple);
        }
      }
    }
    ._409aa1aeee28d5f7-searchBarContainer {
      display: flex !important;
      --use-alt-input-style: true;
      margin: 14px 0 8px 14px;
      order: -100;
    }
    .cf016e08e522ecc6-emptySearchResultsContainer {
      [data-text-variant="text-sm/semibold"] {
        padding: 8px 0 8px 20px;
        display: block;
        color: var(--interactive-normal) !important;
        font-size: 14px;
        font-weight: 200;
      }
      [data-text-variant="text-sm/normal"] {
        display: none;
      }
    }
    [data-settings-sidebar-item="account_panel"] {
      order: -80;
    }
	}
	// sidebar header crap
	._409aa1aeee28d5f7-fixedContent {
		padding: 0;
		._409aa1aeee28d5f7-section {
			padding: 0;
		}
		&:after {display:none}
	}
	// sidebar scroller
	._409aa1aeee28d5f7-navScroller {
		padding: 0;
		margin: 0;
    display: contents;
		._409aa1aeee28d5f7-nav {
			gap: 0;
		}
		._409aa1aeee28d5f7-sectionLabel {
			display: none;
		}
		._409aa1aeee28d5f7-section {
			gap: 0;
			border: none;
			padding: 0;
			&:after {
				content: "";
				display: block;
        width: 20px;
        min-height: 1px;
        margin: 8px 20px;
        background-color: var(--dtm-16-settings-sidebar-separator);
        .enable-forced-colors & {
          background: ButtonText !important;
          opacity: .2;
        }
			}
		}
		.caf372efc4d47562-item {
			border-radius: 0;
			padding: 8px 6px 10px 16px;
			border-left: solid 4px #0000;
			color: var(--interactive-active);
      &:hover, &:active {
        border-left-color: var(--blurple-st);
        // background: linear-gradient(to right, var(--background-secondary) 80%, #0000) !important;
        background: none !important;
        [data-text-variant="text-md/medium"] {
        	opacity: 1;
        }
      }
      &.caf372efc4d47562-active {
        border-left-color: var(--blurple);
        // background: linear-gradient(to right, var(--background-secondary) 80%, #0000) !important;
        background: none !important;
        [data-text-variant="text-md/medium"] {
        	opacity: 1;
        }
      }
			.caf372efc4d47562-icon:first-child, .vc-icon:first-child {
				display: none;
			}
			[data-text-variant="text-md/medium"] {
				font-size: 14px;
				line-height: 1.25em;
				opacity: .3;
			}
      &[data-list-item-id="settings-sidebar___logout_sidebar_item"] {
        display: block;
        position: absolute;
        bottom: 18px;
        left: 220px;
        z-index: 999;
        background-color: transparent !important;
        border-radius: 3px !important;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='%2387909C' d='M13,13.5c0,0.3-0.2,0.5-0.5,0.5h-11C1.2,14,1,13.8,1,13.5v-12C1,1.2,1.2,1,1.5,1h11C12.8,1,13,1.2,13,1.5 V4h1V1c0-0.6-0.4-1-1-1H1C0.4,0,0,0.4,0,1v13c0,0.6,0.4,1,1,1h12c0.6,0,1-0.4,1-1v-3h-1V13.5z M15.5,7H3.7l3.2-3.2 C7,3.6,7,3.3,6.9,3.1C6.7,3,6.4,3,6.2,3.1l-4,4c0,0,0,0-0.1,0C2,7.2,2,7.4,2,7.5l0,0l0,0c0,0.1,0,0.3,0.1,0.4c0,0,0,0,0.1,0l4,4 c0.2,0.2,0.5,0.2,0.7,0s0.2-0.5,0-0.7L3.7,8h11.8C15.8,8,16,7.8,16,7.5S15.8,7,15.5,7z'/%3E%3C/svg%3E") !important;
        background-repeat: no-repeat !important;
        background-size: 16px 16px !important;
        background-position: center !important;
        font-size: 0 !important;
        padding: 0;
        width: 40px !important;
        height: 38px !important;
        transition: .15s;
        box-shadow: none !important;
        box-sizing: border-box;
        border: none !important;
        &:hover, &:active {
          background-color: var(--red) !important;
          box-shadow: none !important;
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='%23FFFFFF' d='M13,13.5c0,0.3-0.2,0.5-0.5,0.5h-11C1.2,14,1,13.8,1,13.5v-12C1,1.2,1.2,1,1.5,1h11C12.8,1,13,1.2,13,1.5 V4h1V1c0-0.6-0.4-1-1-1H1C0.4,0,0,0.4,0,1v13c0,0.6,0.4,1,1,1h12c0.6,0,1-0.4,1-1v-3h-1V13.5z M15.5,7H3.7l3.2-3.2 C7,3.6,7,3.3,6.9,3.1C6.7,3,6.4,3,6.2,3.1l-4,4c0,0,0,0-0.1,0C2,7.2,2,7.4,2,7.5l0,0l0,0c0,0.1,0,0.3,0.1,0.4c0,0,0,0,0.1,0l4,4 c0.2,0.2,0.5,0.2,0.7,0s0.2-0.5,0-0.7L3.7,8h11.8C15.8,8,16,7.8,16,7.5S15.8,7,15.5,7z'/%3E%3C/svg%3E") !important;
        }
        .caf372efc4d47562-itemContent {display:none}
      }
		}
		.devToolsEducation__7aac8 {
			padding: 0 20px;
		}
		._2debea61131de3de-clickable, ._7aac80f6cab00c3b-links, .bd-version-info {
			padding: 0 20px 8px;
      display: block;
		}
    ._2debea61131de3de-clickable {
			display: flex;
      flex-direction: column;
    }
	}
	.e9e3ed8b8badfe05-content {
		border-radius: 0 5px 5px 0;
		background: var(--background-primary);
		border-left-color: var(--background-secondary-alt);
		width: 710px;
		box-sizing: border-box;
		.e9e3ed8b8badfe05-contentHeader {
			order: 2;
			border-radius: 0 0 5px 0;
			padding: 18px 40px;
			height: 75px;
			box-sizing: border-box;
			background: var(--override-background-secondary);
			border-width: 1px 0 0 0;
			border-style: solid none none none;
			border-color: var(--override-background-secondary-alt);
			h1 {display:none}
      .theme-dark & {
        background: var(--override-background-secondary-alt);
        border-color: var(--override-background-tertiary);

      }
      .a22cb0c66246f5d3-button.a22cb0c66246f5d3-icon-only {
        border-radius: 3px;
        width: auto;
        height: auto;
        min-width: 0;
        min-height: 0;
        padding: 10px 20px;
        border: none;
        background: var(--blurple);
        color: #fff;
        font-weight: 500;
        transform: none !important;
        transition: .2s background-color;
        &:hover {background: var(--blurple-hover)}
        &:active {background: var(--blurple-active)}
        .a22cb0c66246f5d3-buttonChildrenWrapper {display:none}
        &:after {
          content:"Done";
          font-size: 16px;
          font-weight: 500;
        }
        .enable-forced-colors & {
          outline: solid 1px ButtonText !important;
        }
      }
      .e9e3ed8b8badfe05-contentHeaderLeft {
        margin-left: 40px;
        >._2b1f52e43a8f1c02-textBadge {
          display: none;
        }
      }
		}
		._6131ab3dbe0affed-panel {
			margin: 0;
			padding: 28px 40px;
		}
		.e9e3ed8b8badfe05-contentBody {
			>._6131ab3dbe0affed-scroller {
				scrollbar-gutter: stable;
			}
		}
	}
  .ace4f5a2d9b7fc28-customizationSection ._6a919231d4bdfd4f-bioTextAreaContainer {
    border-radius: 0;
    border: none;
    background: none;
    ._1b31f471f0bb10ab-editor {
      padding: 8px;
    }
  }
}