@use "options" as *;
@use "exps" as *;
@use "funcs" as *;
// switches
@at-root {
  :is(.container__3f21e, .container_a28278) {
    border-radius: 0;
    border-color: #0000 !important;
    .enable-forced-colors & {
      border: none !important;
      width: 18px;
      height: 18px;
    }
    >span:not(#\#) {
      display: contents !important;
    }
    >div:not(#\#) {
      display: none !important;
    }
    width: 18px;
    height: 18px;
    input[type="checkbox"]:not(#\#) {
      all: unset;
      opacity: 1;
      width: 0;
      appearance: none;
      position: relative;
      &:before, &:after {
        margin-top: -1px;
        margin-left: -1px;
        transition: .2s;
        content: "";
        display: block;
        border-radius: 50px;
      }
      &:before {
        width: 18px;
        height: 18px;
        border-radius: 2px;
        box-sizing: border-box;
        border: solid 2px var(--dtm-16-checkbox-border-off);
      }
      &:after {
        content: "";
        position: absolute;
        top: 2px;
        left: 6px;
        display: table;
        width: 4px;
        height: 10px;
        border-radius: 0;
        border: 2px solid #0000;
        border-top-width: 0;
        border-left-width: 0;
        transform: rotate(45deg);
        .enable-forced-colors & {
          opacity: 0;
        }
      }
      &:checked {
        &:before {
          background: var(--blurple);
          background-size: 14px 14px;
          border-color: var(--blurple);
        }
        &:after {
          border-color: #fff;
          .enable-forced-colors & {
            opacity: 1;
          }
        }
      }
    }
    background: #0000 !important;
    svg {display: none}
  }
  // checkboxes
  .checkboxOption__714a9:not(#\#) {
    .checkboxIndicator__714a9:not(#\#) {
      width: 18px !important;
      height: 18px !important;
      border-radius: 2px;
      background: none;
      box-sizing: border-box;
      border: solid 2px var(--dtm-16-checkbox-border-off);
      transition: .2s;
      svg {
        display: none;
      }
      &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 4px;
        display: table;
        width: 4px;
        height: 10px;
        border-radius: 0;
        border: 2px solid #0000;
        border-top-width: 0;
        border-left-width: 0;
        transform: rotate(45deg);
      }
    }
    &[data-selected="true"]:not(#\#) .checkboxIndicator__714a9:not(#\#) {
      border-color: var(--blurple);
      background: var(--blurple);
      &:after {
        border-color: #fff;
      }
    }
  }
  // switches in role settings
  @supports not (-moz-appearance: none) {
    .permissionsWrapper__16663 {
      .container__0d850 .input__87bf1 {
        &:checked {
          &:before {
            background: var(--green);
            border-color: var(--green);
          }
        }
      }
    }
  }
  @supports not (-moz-appearance: none) {
    // switches - channel role overrides
    .group__344e6 {
      border: none;
    }
    .item__344e6 {
      path, g {
        display: none;
      }
      cursor: pointer;
      width: 36px;
      border: solid 1px #{ss(#18191c)};
      .theme-light & {border-color: #{ss(#dadddf)}}
      &:first-of-type {border-radius: 3px 0 0 3px}
      &:nth-of-type(2) {border-left: none; border-right: none}
      &:last-of-type {border-radius: 0 3px 3px 0}
      &:not(.selected__344e6):hover {background: none}
      svg {background: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3.2852 15.675C2.8352 15.5325 2.4752 15.1725 2.3252 14.7225L14.7227 2.325C15.1727 2.475 15.5327 2.835 15.6752 3.285L3.2852 15.675Z' fill='%23747F8D'/%3E%3C/svg%3E%0A") center}
      &.selected__344e6 {
        svg {background:url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3.2852 15.675C2.8352 15.5325 2.4752 15.1725 2.3252 14.7225L14.7227 2.325C15.1727 2.475 15.5327 2.835 15.6752 3.285L3.2852 15.675Z' fill='white'/%3E%3C/svg%3E%0A") center}
        background: #{ss(#747f8d)};
      }
      &.allow__344e6 {
        svg {background:url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15.75 5.25L6.75 14.25L2.625 10.125L3.6825 9.0675L6.75 12.1275L14.6925 4.1925' fill='%2343B581'/%3E%3C/svg%3E") center}
        &.selected__344e6 {
          border-color: var(--green);
          background: var(--green);
          svg {background:url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15.75 5.25L6.75 14.25L2.625 10.125L3.6825 9.0675L6.75 12.1275L14.6925 4.1925' fill='white'/%3E%3C/svg%3E%0A") center}
        }
      }
      &.deny__344e6 {
        svg {background:url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M14.25 4.8075L13.1925 3.75L9 7.9425L4.8075 3.75L3.75 4.8075L7.9425 9L3.75 13.1925L4.8075 14.25L9 10.0575L13.1925 14.25L14.25 13.1925L10.0575 9' fill='%23F04747'/%3E%3C/svg%3E%0A") center}
        &.selected__344e6 {
          border-color: var(--red);
          background: var(--red);
          svg {background:url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M14.25 4.8075L13.1925 3.75L9 7.9425L4.8075 3.75L3.75 4.8075L7.9425 9L3.75 13.1925L4.8075 14.25L9 10.0575L13.1925 14.25L14.25 13.1925L10.0575 9' fill='white'/%3E%3C/svg%3E%0A") center}
        }
      }
    }
  }
  // radio bars
  :root {
    .radioGroup__963c3 {
      gap: 0;
    }
    .item__88a69 {
      background: none !important;
      border-radius: 0;
      .radioBar__88a69 {
        padding: 0 !important;
        gap: 10px;
        border: none;
        border-radius: 0;
      }
      // .radioIndicator__88a69.radioBaricon__62141 {
      //   width: 30px;
      //   height: 30px;
      //   margin: -1px 0 0 -1px;
      //   .refreshIconStroke__88a69 {
      //     stroke: var(--dtm-16-switch-ring);
      //     stroke-width: 1.25px;
      //     transition: .24s;
      //   }
      //   .refreshIconFill__88a69 {
      //     transition: .24s;
      //   }
      //   &.radioIndicatorChecked__88a69 {
      //     .refreshIconFill__88a69 {
      //       fill: var(--blurple);
      //     }
      //     .refreshIconStroke__88a69 {
      //       stroke: var(--blurple);
      //     }
      //   }
      // }
      .radioIndicatorGroup__88a69 {
        .radioIndicator__88a69 {display:none}
        width: 30px;
        height: 30px;
        box-sizing: border-box;
        border: solid 1px var(--dtm-16-switch-ring);
        border-radius: 50%;
        display: flex;
        min-width: 30px;
        place-items: center;
        justify-content: center;
        overflow: visible;
        &:after {
          content: "";
          display: block;
          width: 14px;
          height: 14px;
          border-radius: 50%;
          background: var(--blurple);
          opacity: 0;
          transition: opacity .3s ease;
        }
        .icon__88a69 {
          display: none;
        }
      }
      &:hover .radioIndicatorGroup__88a69:after {
        opacity: .2;
      }
      &[aria-checked="true"] .radioIndicatorGroup__88a69:after {
        opacity: 1;
      }
      .radioItemName__62141 {
        .icon__62141 {
          order: 2;
          margin-left: auto;
        }
      }
      .radioLabelName__62141, .info__88a69 div[data-text-variant="text-md/medium"] {
        font-size: 16px;
        line-height: 16px;
        font-weight: 400;
        color: var(--radio-bar-accent-color, var(--interactive-active));
      }
      .radioBarLabel__62141 {
        order: 5;
        .icon__62141 {
          margin: 0 8px 0 0;
          order: -1;
        }
      }
      .radioLabelDescription__62141, .info__88a69 div[data-text-variant="text-sm/normal"] {
        font-size: 11px;
        line-height: 13px;
        color: var(--dtm-16-switch-description) !important;
      }
      +.item__88a69 {
        margin-top: 12px;
      }
    }
    .group__64e61 {
      .radioGroupOption__64e61:not(#\#) {
        .radioIndicator__64e61 {
          width: 30px;
          height: 30px;
          .outerRadioBase__64e61 {
            stroke-width: calc(1px * calc(30/40));
            fill: none;
            stroke: var(--background-accent);
          }
          .outerRadioFill__64e61 {
            display: none;
          }
          .innerDotRadio__64e61 {
            r: calc(7 * calc(40/30));
            fill: var(--blurple);
            opacity: 0;
            transition: .2s opacity;
          }
        }
        &:hover .radioIndicator__64e61 .innerDotRadio__64e61 {
          opacity: .2;
        }
        &[data-selected="true"] .radioIndicator__64e61 .innerDotRadio__64e61 {
          opacity: 1;
        }
        .stack_dbd263[data-direction="vertical"] {
          gap: 0;
          [data-text-variant="text-sm/normal"] {
            font-size: 11px;
            line-height: 13px;
            font-weight: 400;
            color: var(--dtm-16-switch-description);
            .emojiContainer__75abc>.emoji {
              width: 16px;
              height: 16px;
            }
          }
        }
        .label__64e61 {
          line-height: 30px;
          [data-text-variant] {
            line-height: inherit;
          }
        }
      }
    }
  }
  html:not(.visual-refresh) {
    .item__88a69 {
      .radioBar__88a69 {
        .radioIndicatorChecked__88a69, .radioBaricon__62141, >[class=""] {
          width: 30px;
          height: 30px;
          box-sizing: border-box;
          border: solid 1px var(--dtm-16-switch-ring);
          border-radius: 50%;
          display: flex;
          min-width: 30px;
          place-items: center;
          justify-content: center;
          overflow: visible;
          &:after {
            content: "";
            display: block;
            width: 14px;
            height: 14px;
            border-radius: 50%;
            background: var(--blurple);
            opacity: 0;
            transition: opacity .3s ease;
          }
          svg {
            display: none;
          }
        }
        &:hover>[class=""]:after, &:hover .radioBaricon__62141:after {
          opacity: .2;
        }
        .radioIndicatorChecked__88a69:after {
          opacity: 1 !important;
        }
      }
    }
  }
}
.container__28dfe[data-layout=horizontal] {
  grid-template-areas: "control labels" "empty helper-text";
  grid-template-columns: auto 1fr;
  column-gap: 10px;
  .labelContainer__28dfe {
    .description__28dfe {
      font-size: 11px;
      line-height: 13px;
      font-weight: 400;
      color: var(--dtm-16-switch-description);
      .emojiContainer__75abc>.emoji {
        width: 16px;
        height: 16px;
      }
    }
  }
}