@use "options" as *;
@use "exps" as *;
@use "funcs" as *;
// switches
@at-root {
  :is(._3f21e80f8677ec40-container, .a2827844fe91d55f-container) {
    border-radius: 0;
    border-color: #0000 !important;
    .enable-forced-colors & {
      border: none !important;
      width: 18px;
      height: 18px;
    }
    >span:not(#\#) {
      display: contents !important;
    }
    >div:not(#\#) {
      display: none !important;
    }
    width: 18px;
    height: 18px;
    input[type="checkbox"]:not(#\#) {
      all: unset;
      opacity: 1;
      width: 0;
      appearance: none;
      position: relative;
      &:before, &:after {
        margin-top: -1px;
        margin-left: -1px;
        transition: .2s;
        content: "";
        display: block;
        border-radius: 50px;
      }
      &:before {
        width: 18px;
        height: 18px;
        border-radius: 2px;
        box-sizing: border-box;
        border: solid 2px var(--dtm-16-checkbox-border-off);
      }
      &:after {
        content: "";
        position: absolute;
        top: 2px;
        left: 6px;
        display: table;
        width: 4px;
        height: 10px;
        border-radius: 0;
        border: 2px solid #0000;
        border-top-width: 0;
        border-left-width: 0;
        transform: rotate(45deg);
        .enable-forced-colors & {
          opacity: 0;
        }
      }
      &:checked {
        &:before {
          background: var(--blurple);
          background-size: 14px 14px;
          border-color: var(--blurple);
        }
        &:after {
          border-color: #fff;
          .enable-forced-colors & {
            opacity: 1;
          }
        }
      }
    }
    background: #0000 !important;
    svg {display: none}
  }
  // checkboxes
  ._714a9a7abaf0392a-checkboxOption:not(#\#) {
    ._714a9a7abaf0392a-checkboxIndicator:not(#\#) {
      width: 18px !important;
      height: 18px !important;
      border-radius: 2px;
      background: none;
      box-sizing: border-box;
      border: solid 2px var(--dtm-16-checkbox-border-off);
      transition: .2s;
      svg {
        display: none;
      }
      &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 4px;
        display: table;
        width: 4px;
        height: 10px;
        border-radius: 0;
        border: 2px solid #0000;
        border-top-width: 0;
        border-left-width: 0;
        transform: rotate(45deg);
      }
    }
    &[data-selected="true"]:not(#\#) ._714a9a7abaf0392a-checkboxIndicator:not(#\#) {
      border-color: var(--blurple);
      background: var(--blurple);
      &:after {
        border-color: #fff;
      }
    }
  }
  // switches in role settings
  @supports not (-moz-appearance: none) {
    ._166631599d7f960b-permissionsWrapper {
      .container__0d850 .input__87bf1 {
        &:checked {
          &:before {
            background: var(--green);
            border-color: var(--green);
          }
        }
      }
    }
  }
  // @supports not (-moz-appearance: none) {
  //   // switches - channel role overrides
  //   ._344e69670924b1be-group {
  //     border: none;
  //   }
  //   ._344e69670924b1be-item {
  //     path, g {
  //       display: none;
  //     }
  //     cursor: pointer;
  //     width: 36px;
  //     border: solid 1px #{ss(#18191c)};
  //     .theme-light & {border-color: #{ss(#dadddf)}}
  //     &:first-of-type {border-radius: 3px 0 0 3px}
  //     &:nth-of-type(2) {border-left: none; border-right: none}
  //     &:last-of-type {border-radius: 0 3px 3px 0}
  //     &:not(._344e69670924b1be-selected):hover {background: none}
  //     svg {background: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3.2852 15.675C2.8352 15.5325 2.4752 15.1725 2.3252 14.7225L14.7227 2.325C15.1727 2.475 15.5327 2.835 15.6752 3.285L3.2852 15.675Z' fill='%23747F8D'/%3E%3C/svg%3E%0A") center}
  //     &._344e69670924b1be-selected {
  //       svg {background:url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3.2852 15.675C2.8352 15.5325 2.4752 15.1725 2.3252 14.7225L14.7227 2.325C15.1727 2.475 15.5327 2.835 15.6752 3.285L3.2852 15.675Z' fill='white'/%3E%3C/svg%3E%0A") center}
  //       background: #{ss(#747f8d)};
  //     }
  //     &._344e69670924b1be-allow {
  //       svg {background:url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15.75 5.25L6.75 14.25L2.625 10.125L3.6825 9.0675L6.75 12.1275L14.6925 4.1925' fill='%2343B581'/%3E%3C/svg%3E") center}
  //       &._344e69670924b1be-selected {
  //         border-color: var(--green);
  //         background: var(--green);
  //         svg {background:url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15.75 5.25L6.75 14.25L2.625 10.125L3.6825 9.0675L6.75 12.1275L14.6925 4.1925' fill='white'/%3E%3C/svg%3E%0A") center}
  //       }
  //     }
  //     &._344e69670924b1be-deny {
  //       svg {background:url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M14.25 4.8075L13.1925 3.75L9 7.9425L4.8075 3.75L3.75 4.8075L7.9425 9L3.75 13.1925L4.8075 14.25L9 10.0575L13.1925 14.25L14.25 13.1925L10.0575 9' fill='%23F04747'/%3E%3C/svg%3E%0A") center}
  //       &._344e69670924b1be-selected {
  //         border-color: var(--red);
  //         background: var(--red);
  //         svg {background:url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M14.25 4.8075L13.1925 3.75L9 7.9425L4.8075 3.75L3.75 4.8075L7.9425 9L3.75 13.1925L4.8075 14.25L9 10.0575L13.1925 14.25L14.25 13.1925L10.0575 9' fill='white'/%3E%3C/svg%3E%0A") center}
  //       }
  //     }
  //   }
  // }
  @supports not (-moz-appearance: none) {
    // switches - channel role overrides
    ._344e69670924b1be-group {
      border: none;
      position: relative;
      width: 18px;
      height: 18px;
      background: none;
    }
    ._344e69670924b1be-item {
      path, g {
        display: none;
      }
      cursor: pointer;
      width: 18px;
      height: 18px;
      box-sizing: border-box;
      position: absolute;
      top: 0;
      left: 0;
      border: solid 2px var(--dtm-16-checkbox-border-off);
      transition: .2s;
      border-radius: 2px;
      background: none;
      &._344e69670924b1be-deny {
        border-color: var(--red);
        background: var(--red);
        &:after, &:before {
          content: "";
          position: absolute;
          inset: 1px auto auto 6px;
          display: block;
          border-right: solid 2px #fff;
          width: 0;
          height: 12px;
        }
        &:before {transform: rotate(45deg)}
        &:after {transform: rotate(-45deg)}
      }
      &._344e69670924b1be-passthrough {
        background: none;
        &:after {
          content: "";
          position: absolute;
          inset: 1px auto auto 6px;
          display: block;
          border-right: solid 2px var(--dtm-16-checkbox-border-off);
          width: 0;
          height: 12px;
          transform: rotate(45deg);
        }
      }
      &._344e69670924b1be-allow {
        border-color: var(--green);
        background: var(--green);
        &:after {
          content: "";
          position: absolute;
          inset: 0 auto auto 4px;
          display: block;
          border: solid 2px #fff;
          border-top: none;
          border-left: none;
          width: 4px;
          height: 10px;
          transform: rotate(45deg);
        }
      }
      &:not(:first-child):not(._344e69670924b1be-selected+._344e69670924b1be-item),
      &._344e69670924b1be-selected {
        pointer-events: none;
      }
      &:not(._344e69670924b1be-selected) {
        opacity: 0;
      }
    }
  }
  // radio bars
  :root {
    .radioGroup__963c3 {
      gap: 0;
    }
    ._88a69141dd70013a-item {
      background: none !important;
      border-radius: 0;
      ._88a69141dd70013a-radioBar {
        padding: 0 !important;
        gap: 10px;
        border: none;
        border-radius: 0;
      }
      // ._88a69141dd70013a-radioIndicator.radioBaricon__62141 {
      //   width: 30px;
      //   height: 30px;
      //   margin: -1px 0 0 -1px;
      //   ._88a69141dd70013a-refreshIconStroke {
      //     stroke: var(--dtm-16-switch-ring);
      //     stroke-width: 1.25px;
      //     transition: .24s;
      //   }
      //   ._88a69141dd70013a-refreshIconFill {
      //     transition: .24s;
      //   }
      //   &._88a69141dd70013a-radioIndicatorChecked {
      //     ._88a69141dd70013a-refreshIconFill {
      //       fill: var(--blurple);
      //     }
      //     ._88a69141dd70013a-refreshIconStroke {
      //       stroke: var(--blurple);
      //     }
      //   }
      // }
      ._88a69141dd70013a-radioIndicatorGroup {
        ._88a69141dd70013a-radioIndicator {display:none}
        width: 30px;
        height: 30px;
        box-sizing: border-box;
        border: solid 1px var(--dtm-16-switch-ring);
        border-radius: 50%;
        display: flex;
        min-width: 30px;
        place-items: center;
        justify-content: center;
        overflow: visible;
        &:after {
          content: "";
          display: block;
          width: 14px;
          height: 14px;
          border-radius: 50%;
          background: var(--blurple);
          opacity: 0;
          transition: opacity .3s ease;
        }
        ._88a69141dd70013a-icon {
          display: none;
        }
      }
      &:hover ._88a69141dd70013a-radioIndicatorGroup:after {
        opacity: .2;
      }
      &[aria-checked="true"] ._88a69141dd70013a-radioIndicatorGroup:after {
        opacity: 1;
      }
      .radioItemName__62141 {
        .icon__62141 {
          order: 2;
          margin-left: auto;
        }
      }
      .radioLabelName__62141, ._88a69141dd70013a-info div[data-text-variant="text-md/medium"] {
        font-size: 16px;
        line-height: 16px;
        font-weight: 400;
        color: var(--radio-bar-accent-color, var(--interactive-active));
      }
      .radioBarLabel__62141 {
        order: 5;
        .icon__62141 {
          margin: 0 8px 0 0;
          order: -1;
        }
      }
      .radioLabelDescription__62141, ._88a69141dd70013a-info div[data-text-variant="text-sm/normal"] {
        font-size: 11px;
        line-height: 13px;
        color: var(--dtm-16-switch-description) !important;
      }
      +._88a69141dd70013a-item {
        margin-top: 12px;
      }
    }
    ._64e6155a0667273d-group {
      ._64e6155a0667273d-radioGroupOption:not(#\#) {
        ._64e6155a0667273d-radioIndicator {
          width: 30px;
          height: 30px;
          ._64e6155a0667273d-outerRadioBase {
            stroke-width: calc(1px * calc(30/40));
            fill: none;
            stroke: var(--background-accent);
          }
          ._64e6155a0667273d-outerRadioFill {
            display: none;
          }
          ._64e6155a0667273d-innerDotRadio {
            r: calc(7 * calc(40/30));
            fill: var(--blurple);
            opacity: 0;
            transition: .2s opacity;
          }
        }
        &:hover ._64e6155a0667273d-radioIndicator ._64e6155a0667273d-innerDotRadio {
          opacity: .2;
        }
        &[data-selected="true"] ._64e6155a0667273d-radioIndicator ._64e6155a0667273d-innerDotRadio {
          opacity: 1;
        }
        .dbd2630aec71879b-stack[data-direction="vertical"] {
          gap: 0;
          [data-text-variant="text-sm/normal"] {
            font-size: 11px;
            line-height: 13px;
            font-weight: 400;
            color: var(--dtm-16-switch-description);
            ._75abce0dd8453367-emojiContainer>.emoji {
              width: 16px;
              height: 16px;
            }
          }
        }
        ._64e6155a0667273d-label {
          line-height: 30px;
          [data-text-variant] {
            line-height: inherit;
          }
        }
      }
    }
  }
  html:not(.visual-refresh) {
    ._88a69141dd70013a-item {
      ._88a69141dd70013a-radioBar {
        ._88a69141dd70013a-radioIndicatorChecked, .radioBaricon__62141, >[class=""] {
          width: 30px;
          height: 30px;
          box-sizing: border-box;
          border: solid 1px var(--dtm-16-switch-ring);
          border-radius: 50%;
          display: flex;
          min-width: 30px;
          place-items: center;
          justify-content: center;
          overflow: visible;
          &:after {
            content: "";
            display: block;
            width: 14px;
            height: 14px;
            border-radius: 50%;
            background: var(--blurple);
            opacity: 0;
            transition: opacity .3s ease;
          }
          svg {
            display: none;
          }
        }
        &:hover>[class=""]:after, &:hover .radioBaricon__62141:after {
          opacity: .2;
        }
        ._88a69141dd70013a-radioIndicatorChecked:after {
          opacity: 1 !important;
        }
      }
    }
  }
}
.container__28dfe[data-layout=horizontal] {
  grid-template-areas: "control labels" "empty helper-text";
  grid-template-columns: auto 1fr;
  column-gap: 10px;
  .labelContainer__28dfe {
    .description__28dfe {
      font-size: 11px;
      line-height: 13px;
      font-weight: 400;
      color: var(--dtm-16-switch-description);
      ._75abce0dd8453367-emojiContainer>.emoji {
        width: 16px;
        height: 16px;
      }
    }
  }
}