@use "funcs" as *;
@use "mixins" as *;
@at-root {
  .layerContainer_da8173 {
    @at-root .c36707910f687430-tooltip {
      --tooltip-color: var(--blurple);
      border-radius: 3px;
      border: none;
      box-shadow: 0 2px 4px 1px rgba(0,0,0,.1);
      background: var(--tooltip-color, var(--blurple));
      color: #fff;
      &.c36707910f687430-tooltipRed {--tooltip-color: var(--red)}
      &.tooltipYellow_c36707 {--tooltip-color: var(--yellow)}
      &.c36707910f687430-tooltipGreen {--tooltip-color: var(--green)}
      .c36707910f687430-tooltipContent {
        padding: 5px 10px;
        font-size: 12px;
        font-weight: 500;
        line-height: 12px;
        // server badge tooltip
        ._7d7feb6bbfde0545-tooltipBodyContainer {
          padding: 0;
          div[class="cf48127484dbde85-text-xs/bold"] {
            font-size: 12px;
            font-weight: 700;
            line-height: 16px;
            text-transform: uppercase;
            color: #fff !important;
          }
          div[class="cf48127484dbde85-text-xs/medium"] {
            font-size: 10px;
            font-weight: 500;
            line-height: 16px;
            color: #fff !important;
          }
        }
        .b1f768426adf64d9-muteText {
          color: #fff !important;
          font-size: 10px;
        }
        ._7d7feb6bbfde0545-tooltipPremiumFooterContainer {
          margin: 5px 0 0;
          background: none;
          gap: 5px;
          width: auto;
          ._7d7feb6bbfde0545-tooltipPremiumFooterSegment {
            border-radius: 3px;
            background: #0000;
            border: solid 1px #fff6;
            height: 16px;
            width: max-content;
            white-space: nowrap;
            >div[data-text-variant="text-xs/semibold"] {
              font-weight: 600;
              font-size: 12px;
              line-height: 12px;
              text-transform: uppercase;
            }
          }
        }
        // react bar
        ._040f07d21e1fb0d6-emojiTooltipText[data-text-variant="text-xs/normal"] {
          font-size: 10px;
          color: #fff !important;
        }
        // emoji hover
        @at-root ._0f481cbbd7530492-clickCTA:not(#\#):not(#\#):not(#\#) {
          font-size: 10px;
          font-weight: 500;
          line-height: 12px;
          color: #fff !important;
        }
        // nitro badge
        .tooltipContainer_f240e3 {
          padding: 0;
          >img {
            width: auto;
            height: 48px;
          }
          .tooltipWordmarkContainer_f240e3 {
            // margin-top: 0;
            // margin-bottom: -4px;
            display: none;
          }
          // .tooltipWordmark_f240e3 {
          //   color: #fff;
          // }
          h1 {
            margin-top: 4px;
            color: #fff !important;
            text-transform: uppercase;
            font-style: oblique;
            line-height: 1;
            font-size: 18px;
          }
          .tooltipDescription_f240e3 {
            color: #fff !important;
            font-size: 10px;
            margin-top: 0;
          }
        }
        // disgusting slop
        ._4ed1af9a212b8f4f-shopMarketingTooltipContent {
          h2, span, div {
            color: #fff;
          }
          ._4ed1af9a212b8f4f-avatarContainer {
            display: none;
          }
        }
        .tooltipContainer__6f9f7 {
          [data-text-variant="text-xs/semibold"] {
            color: #fff;
            font-size: 12px;
            line-height: 12px;
          }
          [data-text-variant="text-xs/medium"] {
            color: #fff;
            font-size: 12px;
            line-height: 12px;
          }
        }
        // soundmoji details
        ._14ad3407b4b8a3bc-infoTooltip {
          ._14ad3407b4b8a3bc-infoSoundContainer {
            border-radius: 0;
            background: none;
            padding: 0;
          }
          ._14ad3407b4b8a3bc-infoSoundContainer {gap:0}
          ._14ad3407b4b8a3bc-infoSoundIcon {display:none}
          ._14ad3407b4b8a3bc-infoSoundInnerContainer {
            justify-content: center;
            text-align: center;
            div[data-text-variant="text-md/semibold"] {
              font-size: 14px;
              font-weight: 500;
              line-height: 1;
            }
            div[data-text-variant="text-sm/normal"] {
              font-size: 10px;
              font-weight: 500;
              line-height: 12px;
              color: #fff !important;
            }
          }
        }
        // lobby
        .f75fb00fb7356cbe-linkedLobbyEducationTooltip {
          div[data-text-variant="text-md/semibold"] {
            @include dtm16_eyebrow;
            color: #fff !important;
          }
          div[data-text-variant="text-sm/medium"] {
            font-size: 12px;
            color: #fff !important;
            a {
              color: #fff !important;
            }
          }
          .f75fb00fb7356cbe-linkedLobbyEducationTooltipCloseIcon {
            color: #fff;
          }
        }
        // generic shit
        >[data-text-variant="text-sm/medium"],
        >[data-text-variant="text-sm/normal"] {
          color: #fff !important;
        }
      }
      .c36707910f687430-tooltipPointer {
        border-top-color: var(--tooltip-color, var(--blurple));
        &.c36707910f687430-tooltipPointerBg {
          display: none;
        }
      }
      &.c36707910f687430-tooltipTop  .c36707910f687430-tooltipPointer {margin-top: 0}
      &.c36707910f687430-tooltipLeft  .c36707910f687430-tooltipPointer {margin-left: 0}
      &.c36707910f687430-tooltipRight  .c36707910f687430-tooltipPointer {margin-right: 0}
      &.c36707910f687430-tooltipBottom  .c36707910f687430-tooltipPointer {margin-bottom: 0}
      &.c36707910f687430-tooltipGrey {
        --tooltip-color: #fff;
        box-shadow: 0 2px 4px 1px rgba(0,0,0,.1);
        border: 1px solid #{ss(#dbdde1)};
        border-radius: 5px;
        .c36707910f687430-tooltipContent {
          padding: 6px 10px;
          color: #{ss(#87909c)};
          font-size: 12px;
          line-height: 12px;
          font-weight: 700;
        }
      }
    }
    @at-root ._4e35b986167c457d-tooltip {
      border-radius: 3px;
      border: none;
      box-shadow: 0 2px 4px 1px rgba(0,0,0,.1);
      background: var(--blurple);
      color: #fff;
      padding: 5px 10px;
      ._4e35b986167c457d-caretFill {
        fill: var(--blurple);
        transform: scale(calc(20/24));
        +mask {display:none}
      }
      ._4e35b986167c457d-tooltipContent {
        font-size: 12px;
        font-weight: 500;
        line-height: 12px;
        >[data-text-variant="text-sm/medium"] {
          all: inherit;
        }
      }
      .a899850c63fdcb58-richTooltipContent {
        padding: 0;
      }
      ._4bd5201c86a2042b-defaultColor {
        color: #fff;
      }
      .b1f768426adf64d9-muteText {
        color: #fff !important;
        font-size: 10px;
      }
      // server tooltip
      .b1f768426adf64d9-rowGuildName {
        font-size: 12px;
        font-weight: 500;
        line-height: 12px;
        color: #fff;
        align-items: center;
        ._3e3b0b1c0f688f9e-flowerStarContainer {
          margin: 0 4px 0 0;
          ._3e3b0b1c0f688f9e-flowerStar path {
            fill: #fff;
          }
          ._3e3b0b1c0f688f9e-childContainer path {
            fill: var(--tooltip-color, var(--blurple));
          }
        }
        .b1f768426adf64d9-guildNameText {
          color: inherit;
        }
      }
      ._918165dab2b1e10b-listItemTooltipContent {
        font-size: 12px;
        font-weight: 500;
        line-height: 12px;
        color: #fff;
        align-items: center;
      }
      .b1f768426adf64d9-row {
        --prefer-16px-icons: true;
        +.b1f768426adf64d9-row {
          margin-top: 4px;
        }
        .b1f768426adf64d9-rowIcon {
          color: #fff;
          width: 16px;
          height: 16px;
          margin-right: 4px;
        }
        ._183c2cc3c55377b0-avatarContainerMasked, ._183c2cc3c55377b0-avatarContainer {
          width: 16px;
          height: 16px;
        }
      }
      .b1f768426adf64d9-invitesDisabledTooltip {
        font-size: 10px;
        font-weight: 500;
        color: #fff !important;
      }
      :is(._183c2cc3c55377b0-moreUsers, .b1f768426adf64d9-stageListenerPill) {
        height: 16px;
        padding: 0;
        background: #0000;
        color: #fff;
      }
      .b1f768426adf64d9-stageListenerPill>div {
        color: inherit !important;
      }
    }
    @at-root .dialogWrapper_b1f768 {
      border-radius: 3px;
      border: none;
      box-shadow: 0 2px 4px 1px rgba(0,0,0,.1);
      background: var(--blurple);
      color: #fff;
      padding: 5px 10px;
      font-size: 12px;
      font-weight: 500;
      line-height: 12px;
      .b1f768426adf64d9-row {
        --prefer-16px-icons: true;
        +.b1f768426adf64d9-row {
          margin-top: 4px;
        }
        .b1f768426adf64d9-rowIcon {
          color: #fff;
          width: 16px;
          height: 16px;
          margin-right: 4px;
        }
        ._183c2cc3c55377b0-avatarContainerMasked, ._183c2cc3c55377b0-avatarContainer {
          width: 16px;
          height: 16px;
        }
      }
      .b1f768426adf64d9-rowGuildName {
        align-items: center;
        ._3e3b0b1c0f688f9e-flowerStarContainer {
          margin: 0 4px 0 0;
          ._3e3b0b1c0f688f9e-flowerStar path {
            fill: #fff;
          }
          ._3e3b0b1c0f688f9e-childContainer path {
            fill: var(--tooltip-color, var(--blurple));
          }
        }
        .b1f768426adf64d9-guildNameText {
          color: inherit;
        }
      }
      .b1f768426adf64d9-muteText {
        color: #fff !important;
        font-size: 10px;
      }
    }
    // stream preview
    ._6da2d8abf659f945-streamPreview {
      box-shadow: var(--elevation-stroke), var(--elevation-high);
      ._6da2d8abf659f945-body {
        background: var(--background-secondary-alt);
      }
    }
  }
}