@use "exps" as *;
@use "funcs" as *;
@use "mixins" as *;
@at-root {
  .wrapper_cb9592 {
    .callContainer_cb9592.callContainer_cb9592 {
      border: none;
      border-radius: 0;
      padding-top: 56px;
      background-color: var(--dtm-16-vc-bg-color);
      background-image: var(--dtm-16-vc-bg-image);
      background-size: 200px 204px;
      background-position: 50% -30px;
    }
    &.video_cb9592 .callContainer_cb9592.callContainer_cb9592 {
      background: #000;
    }
  }
  .root_bfe55a {
    .topControls_bfe55a {
      margin-top: -56px;
      opacity: 1 !important;
      transform: none !important;
      .container__9293f {
        background: var(--background-primary);
        border-bottom: solid 1px var(--dtm-16-header-border);
        box-shadow: var(--dtm-16-header-shadow);
      }
    }
    .tile__2f4f7 {
      border-radius: 3px;
      .background_fb62e2 {
        background-image: radial-gradient(#0004, #000 125%);
      }
      .avatarWrapper_fb62e2 {
        box-shadow: 0 2px 10px 0 rgb(0 0 0 / 20%);
      }
    }
    .overlayContainer__2f4f7 {
      --prefer-16px-icons: true;
      @container style(--dtm-16-plink: v2017) {
        --prefer-16px-icons: false;
      }
      .experimentOverlayTitle__2f4f7 {
        border-radius: 3px;
      }
    }
    // slop
    .singleUserRoot__4ad81 {
      border-radius: 3px;
      button .buttonChildrenWrapper_a22cb0 {
        padding: 0;
        min-height: 0;
        height: auto;
      }
    }
    .root__4ad81 {
      background: var(--background-primary);
      &:before {
        content: "Gee, it sure is empty around here.";
        font-size: 16px;
        font-weight: 500;
        color: var(--text-muted);
      }
      button {
        min-width: 0;
        min-height: 0;
        width: auto;
        height: auto;
        padding: 10px 20px;
        --prefer-16px-icons: true;
        >div {font-size:16px}
      }
      >img {
        display: none;
      }
    }
    .gradientContainer_bfe55a, .pulseGradient__11664 {display:none}
  }
  :is(.root_bfe55a .bottomControls_bfe55a, .wrapper__49094 .footer__49094) {
    >.justifyCenter_abf706 {gap:5px}
    .wrapper__1405b {
      gap: 5px;
    }
    // vc, stage
    .buttonSection__1405b, .buttonSection_fcb27c, .buttonSection__49094 {
      padding: 0;
      background: none;
      border-radius: 0;
      border: none;
      gap: 5px;
    }
    .caretButtonContainer_f1ceac {gap:0;margin:0}
    .avSpacing__1405b {display:none}
    .contextMenuNub_f1ceac {display:none}
    .centerButton_f1ceac {
      width: 26px;
      height: 26px;
      box-sizing: border-box;
      border-radius: 3px;
      background: var(--dtm-16-vc-button-bg);
      &:hover {background:var(--dtm-16-vc-button-bg-hover)}
      &.disconnect_f1ceac {
        &:after {content: attr(aria-label);color:#fff}
        width: auto !important;
        padding-left: 16px;
        padding-right: 16px;
        text-transform: uppercase;
        font-size: 12px;
        white-space: nowrap;
        [data-text-variant="text-sm/medium"] {font-size: inherit}
        background: var(--red);
        &:hover {background: var(--red-hover)}
        &:active {background: var(--red-active)}
        .lottieIcon__5eb9b {display:none!important}
        .centerIcon_f1ceac {
          all: unset;
        }
      }
    }
    .attachedCaretButtonContainer_f1ceac {
    }
    // i am filled with HATRED
    .lottieIcon__5eb9b svg {
      g {display:none}
      background: currentColor;
      // camera
      &:has([d=" M-5.5,-8 C-5.5,-8 -1.253999948501587,-8 -1.253999948501587,-8 C-1.253999948501587,-8 5.5,-8 5.5,-8 C7.1570000648498535,-8 8.5,-6.6570000648498535 8.5,-5 C8.5,-5 8.5,5 8.5,5 C8.5,6.6570000648498535 7.1570000648498535,8 5.5,8 C5.5,8 0.13199999928474426,8 0.13199999928474426,8 C0.13199999928474426,8 -5.5,8 -5.5,8 C-7.1570000648498535,8 -8.5,6.6570000648498535 -8.5,5 C-8.5,5 -8.5,-5 -8.5,-5 C-8.5,-6.6570000648498535 -7.1570000648498535,-8 -5.5,-8z"]) {
        @include mask(url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M21 6.5L17 10.5V7C17 6.45 16.55 6 16 6H4C3.45 6 3 6.45 3 7V17C3 17.55 3.45 18 4 18H16C16.55 18 17 17.55 17 17V13.5L21 17.5V6.5ZM16 17H4V7H16V17ZM16.9142 12L20 8.91421V15.0858L16.9142 12Z' /%3E%3C/svg%3E") no-repeat center/24px !important);
      }
      // game
      &:has([d=" M8.967000007629395,-6.936999797821045 C8.967000007629395,-6.760000228881836 9.050999641418457,-6.586999893188477 9.208999633789062,-6.506999969482422 C9.762999534606934,-6.2270002365112305 10.102999687194824,-5.695000171661377 10.246999740600586,-5.091000080108643 C10.543000221252441,-3.8480000495910645 11,-1.38100004196167 11,2 C11,2 11,6.910999774932861 11,6.910999774932861 C11,8.618000030517578 9.616999626159668,10 7.909999847412109,10 C6.739999771118164,10 5.669000148773193,9.33899974822998 5.145999908447266,8.291999816894531 C5.145999908447266,8.291999816894531 3.388000011444092,4.776000022888184 3.388000011444092,4.776000022888184 C3.1649999618530273,4.330999851226807 2.6480000019073486,4.114999771118164 2.1630001068115234,4.2270002365112305 C1.590999960899353,4.359000205993652 0.7960000038146973,4.5 0,4.5 C-0.7960000038146973,4.5 -1.590999960899353,4.359000205993652 -2.1630001068115234,4.2270002365112305 C-2.6480000019073486,4.114999771118164 -3.1649999618530273,4.330999851226807 -3.388000011444092,4.776000022888184 C-3.388000011444092,4.776000022888184 -5.145999908447266,8.291999816894531 -5.145999908447266,8.291999816894531 C-5.669000148773193,9.33899974822998 -6.739999771118164,10 -7.909999847412109,10 C-9.616999626159668,10 -11,8.618000030517578 -11,6.910999774932861 C-11,6.910999774932861 -11,2 -11,2 C-11,-1.38100004196167 -10.543000221252441,-3.8480000495910645 -10.246999740600586,-5.091000080108643 C-10.102999687194824,-5.695000171661377 -9.762999534606934,-6.2270002365112305 -9.208999633789062,-6.506999969482422 C-9.050999641418457,-6.586999893188477 -8.968000411987305,-6.760000228881836 -8.968000411987305,-6.936999797821045 C-8.968999862670898,-7.63100004196167 -8.484999656677246,-8.255000114440918 -7.7789998054504395,-8.404999732971191 C-7.7789998054504395,-8.404999732971191 -4.84499979019165,-9.029000282287598 -4.84499979019165,-9.029000282287598 C-4.335999965667725,-9.13700008392334 -3.8320000171661377,-8.972999572753906 -3.484999895095825,-8.635000228881836 C-3.128999948501587,-8.288000106811523 -2.7009999752044678,-7.919000148773193 -2.2049999237060547,-7.945000171661377 C-1.5260000228881836,-7.980000019073486 -0.7919999957084656,-8 0,-8 C0.7919999957084656,-8 1.5260000228881836,-7.980000019073486 2.2049999237060547,-7.945000171661377 C2.7009999752044678,-7.919000148773193 3.128999948501587,-8.288000106811523 3.484999895095825,-8.635000228881836 C3.8320000171661377,-8.972999572753906 4.335999965667725,-9.13700008392334 4.84499979019165,-9.029000282287598 C4.84499979019165,-9.029000282287598 7.7789998054504395,-8.404999732971191 7.7789998054504395,-8.404999732971191 C8.484999656677246,-8.255000114440918 8.968000411987305,-7.63100004196167 8.967000007629395,-6.936999797821045z"]) {
        @include mask(url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill-rule='evenOdd' viewBox='0 0 24 24'%3E%3Cpath d='M9 16V21H15V16L12 13L9 16ZM10 16.4143V20H14V16.4143L12 14.4143L10 16.4143Z M15 8V3H9V8L12 11L15 8ZM10 7.58579L12 9.58579L14 7.58579V4H10V7.58579Z M21 15H16L13 12L16 9H21V15ZM16.4143 10L14.4143 12L16.4143 14H20V10H16.4143Z M8 9H3V15H8L11 12L8 9ZM4 14H7.58579L9.58579 12L7.58579 10H4V14Z' /%3E%3C/svg%3E") no-repeat center/24px !important);
      }
      // screenshare
      &:has([d=" M-10,-7 C-10,-8.656999588012695 -8.656999588012695,-10 -7,-10 C-7,-10 7,-10 7,-10 C8.656999588012695,-10 10,-8.656999588012695 10,-7 C10,-7 10,1 10,1 C10,2.6570000648498535 8.656999588012695,4 7,4 C7,4 -7,4 -7,4 C-8.656999588012695,4 -10,2.6570000648498535 -10,1 C-10,1 -10,-7 -10,-7z"]) {
        @include mask(url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill-rule='evenOdd' viewBox='0 0 24 24'%3E%3Cpath d='M12.3989 11.294C11.9014 11.3178 11.4362 11.3722 11 11.4584C10.7159 11.5145 10.4441 11.584 10.1836 11.6673C8.87675 12.0852 7.85511 12.8496 7 14C7.3087 12.5282 7.91825 11.0593 9.05478 9.94703C9.88017 9.13923 10.9835 8.51945 12.4514 8.22308C12.6289 8.18724 12.8117 8.15614 13 8.13V6L17 9.73L13 13.47V11.28C12.7945 11.28 12.5942 11.2846 12.3989 11.294Z M21.99 15L22 5C22 3.89 21.1 3 20 3H4C2.89 3 2 3.89 2 5V15C2 16.1 2.89 17 4 17H11V20H9V21H15V20H13V17H20C21.1 17 21.99 16.1 21.99 15ZM20.99 14.999V15C20.99 15.5543 20.5412 16 20 16H4C3.44554 16 3 15.551 3 15V5C3 4.44228 3.44228 4 4 4H20C20.5507 4 20.9996 4.44514 21 4.99926L20.99 14.999Z' /%3E%3C/svg%3E") no-repeat center/24px !important);
      }
      // mic off
      &:has([d=" M-4,-1.4600000381469727 C-4,-3.6689999103546143 -2.2090001106262207,-5.460000038146973 0,-5.460000038146973 C2.2090001106262207,-5.460000038146973 4,-3.6689999103546143 4,-1.4600000381469727 C4,-1.4600000381469727 4,2.5 4,2.5 C4,4.709000110626221 2.2090001106262207,6.5 0,6.5 C-2.2090001106262207,6.5 -4,4.709000110626221 -4,2.5 C-4,2.5 -4,-1.4600000381469727 -4,-1.4600000381469727z"]),
      &:has([d=" M-4,-1.3799999952316284 C-4,-3.5889999866485596 -2.2090001106262207,-5.380000114440918 0,-5.380000114440918 C2.2090001106262207,-5.380000114440918 4,-3.5889999866485596 4,-1.3799999952316284 C4,-1.3799999952316284 4,2.509999990463257 4,2.509999990463257 C4,4.718999862670898 2.2090001106262207,6.5 0,6.5 C-2.2090001106262207,6.5 -4,4.718999862670898 -4,2.509999990463257 C-4,2.509999990463257 -4,-1.3799999952316284 -4,-1.3799999952316284z"]) {
        @include mask(url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill-rule='evenOdd' viewBox='0 0 24 24'%3E%3Cpath d='M8.25 12.3V5.25C8.25 3.15 9.9 1.5 12 1.5C13.95 1.5 15.6 3 15.75 4.95L16.95 3.75C16.35 1.5 14.4 0 12 0C9.15 0 6.75 2.4 6.75 5.25V12.75C6.75 13.05 6.75 13.5 6.9 13.8L8.25 12.3ZM15.75 12.75C15.75 14.85 14.1 16.5 12 16.5C11.25 16.5 10.5 16.35 10.05 15.9L9 16.95C9.75 17.55 10.8 18 12 18C14.85 18 17.25 15.6 17.25 12.75V8.7L15.75 10.2V12.75ZM18.75 12V13.5C18.75 16.8 16.05 19.5 12.75 19.5H11.25C9.9 19.5 8.7 19.05 7.65 18.3L6.6 19.35C7.8 20.4 9.45 21 11.25 21V22.5H10.5C10.05 22.5 9.75 22.8 9.75 23.25C9.75 23.7 10.05 24 10.5 24H13.5C13.95 24 14.25 23.7 14.25 23.25C14.25 22.8 13.95 22.5 13.5 22.5H12.75V21C16.95 21 20.25 17.7 20.25 13.5V12H18.75ZM5.25 12H3.75V13.5C3.75 14.55 3.9 15.45 4.35 16.35L5.55 15.15C5.4 14.55 5.25 14.1 5.25 13.5V12Z M23.8501 1.0501L18.3001 6.6001L6.6001 18.3001L1.0501 23.8501L-0.149902 22.8001L22.8001 -0.149902L23.8501 1.0501Z' /%3E%3C/svg%3E") no-repeat center/16px !important);
      }
      // mic
      &:has([d=" M1025.219970703125,-87.2040023803711 C1025.219970703125,-87.2040023803711 853.697021484375,87.75 853.697021484375,87.75 C853.697021484375,87.75 789.760009765625,155.23199462890625 839.1370239257812,204.86199951171875 C893,259 957.6799926757812,191.05599975585938 957.6799926757812,191.05599975585938 C957.6799926757812,191.05599975585938 1129.2030029296875,16.101999282836914 1129.2030029296875,16.101999282836914 C1129.2030029296875,16.101999282836914 1212,-66 1160.2149658203125,-115.55400085449219 C1108.781005859375,-164.77200317382812 1025.219970703125,-87.2040023803711 1025.219970703125,-87.2040023803711"]) {
        @include mask(url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill-rule='evenOdd' viewBox='0 0 24 24'%3E%3Cpath d='M18.75 12V13.5C18.75 16.8 16.05 19.5 12.75 19.5H11.25C7.95 19.5 5.25 16.8 5.25 13.5V12H3.75V13.5C3.75 17.7 7.05 21 11.25 21V22.5H10.5C10.05 22.5 9.75 22.8 9.75 23.25C9.75 23.7 10.05 24 10.5 24H13.5C13.95 24 14.25 23.7 14.25 23.25C14.25 22.8 13.95 22.5 13.5 22.5H12.75V21C16.95 21 20.25 17.7 20.25 13.5V12H18.75ZM12 18C14.85 18 17.25 15.6 17.25 12.75V5.25C17.25 2.4 14.85 0 12 0C9.15 0 6.75 2.4 6.75 5.25V12.75C6.75 15.6 9.15 18 12 18ZM8.25 5.25C8.25 3.15 9.9 1.5 12 1.5C14.1 1.5 15.75 3.15 15.75 5.25V12.75C15.75 14.85 14.1 16.5 12 16.5C9.9 16.5 8.25 14.85 8.25 12.75V5.25Z' /%3E%3C/svg%3E") no-repeat center/16px !important);
      }
      // sound
      &:has([d=" M-0.6899999976158142,0.6899999976158142 C0.6679999828338623,2.0480000972747803 1.5089999437332153,3.5239999294281006 1.840000033378601,4.736000061035156 C2.187999963760376,6.011000156402588 1.8919999599456787,6.564000129699707 1.7280000448226929,6.728000164031982 C1.5640000104904175,6.892000198364258 1.0110000371932983,7.188000202178955 -0.2639999985694885,6.840000152587891 C-1.4759999513626099,6.508999824523926 -2.9519999027252197,5.668000221252441 -4.309999942779541,4.309999942779541 C-5.668000221252441,2.9519999027252197 -6.510000228881836,1.4759999513626099 -6.840000152587891,0.2639999985694885 C-7.188000202178955,-1.0110000371932983 -6.892000198364258,-1.5640000104904175 -6.728000164031982,-1.7280000448226929 C-6.564000129699707,-1.8919999599456787 -6.011000156402588,-2.187999963760376 -4.736000061035156,-1.840000033378601 C-3.5239999294281006,-1.5089999437332153 -2.0480000972747803,-0.6679999828338623 -0.6899999976158142,0.6899999976158142z M0.7239999771118164,-0.7239999771118164 C-2.3919999599456787,-3.8399999141693115 -6.361999988555908,-4.923999786376953 -8.142999649047852,-3.1429998874664307 C-8.6850004196167,-2.6010000705718994 -8.961000442504883,-1.8559999465942383 -8.996000289916992,-0.9940000176429749 C-8.996000289916992,-0.9940000176429749 -9,-1 -9,-1 C-9,-1 -10.163999557495117,7.921999931335449 -10.163999557495117,7.921999931335449 C-10.333999633789062,9.223999977111816 -9.223999977111816,10.333999633789062 -7.921999931335449,10.163999557495117 C-7.921999931335449,10.163999557495117 1,9 1,9 C1,9 0.9940000176429749,8.996000289916992 0.9940000176429749,8.996000289916992 C1.8559999465942383,8.961000442504883 2.6010000705718994,8.6850004196167 3.1429998874664307,8.142999649047852 C4.923999786376953,6.361999988555908 3.8399999141693115,2.3919999599456787 0.7239999771118164,-0.7239999771118164z"]) {
        @include mask(url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M17 11.9996C17 10.1996 15.7 8.79961 14 8.59961V9.59961C15.1 9.79961 16 10.7996 16 12.0996C16 13.2996 15.1 14.2996 14 14.4996V15.4996C15.7 15.1996 17 13.7996 17 11.9996ZM14 5.09961V6.09961C16.8 6.59961 19 8.99961 19 11.9996C19 14.9996 16.8 17.3996 14 17.8996V18.8996C17.4 18.3996 20 15.4996 20 11.9996C20 8.49961 17.4 5.59961 14 5.09961ZM6 8.99961C5.4 8.99961 5 9.39961 5 9.99961V13.9996C5 14.5996 5.4 14.9996 6 14.9996H8L13 17.9996V5.99961L8 8.99961H6ZM8 13.9996H6.5C6.2 13.9996 6 13.7996 6 13.4996V10.4996C6 10.1996 6.2 9.99961 6.5 9.99961H8V13.9996ZM9 9.39961L12 7.49961V16.4996L9 14.5996V9.39961Z' fill='black'/%3E%3C/svg%3E%0A")  no-repeat center/24px !important);
      }
    }
  }
  // text in voice ui
  :root .container__01ae2 {
    background: var(--background-primary);
  }
  // stage ui
  :root {
    .container__722ff .topControls_bfe55a {
      margin-top: 0;
      .container__9293f {
        padding-left: 8px !important;
        background: none !important;
      }
    }
    .focusedRow__56ccd {
      margin-top: calc(56px + 8px);
    }
    .container_fcb27c {
      gap: 5px;
    }
  }
  // gradient background slop
  .gradientBackground__11664 {display:none}
  // disconnected state
  .container__5aa3a {
    .channelName__5aa3a {
      line-height: 22px;
      font-size: 20px;
      font-weight: 700;
      letter-spacing: .8px;
      margin: 0 0 8px;
    }
    .participantsRow__5aa3a div[data-text-variant="text-sm/normal"] {
      font-size: 12px;
    }
    .tiles__5aa3a {
      .tile__2f4f7 {
        border-radius: 3px;
        .background_fb62e2 {
          background-image: radial-gradient(#0004, #000 125%);
        }
        .avatarWrapper_fb62e2 {
          box-shadow: 0 2px 10px 0 rgb(0 0 0 / 20%);
        }
      }
    }
    .joinButton__5aa3a {
      min-width: 0;
      min-height: 0;
      width: auto;
      height: auto;
      padding: 10px 20px;
      margin-top: 16px;
      .contents__201d5 {
        font-size: 16px;
      }
    }
  }
  // channel status
  .channelStatusClickable__49508 {
    position: absolute;
    top: 36px;
    left: 0;
  }
}