@use "mixins" as *;
// base layout
:root.visual-refresh ._5e434347c823b592-base {
  grid-template-areas: "titleBar titleBar titleBar" "notice notice notice" "guildsList channelsList page";
  grid-template-rows: [top] min-content [titlebarEnd] min-content [page] max-content [end];
  &.vc-betterFolders-sidebar-grid {
    grid-template-columns: [start] 80px [guilds-end] min-content [betterFoldersSidebar-end] 240px [channelsEnd] 1fr [end];
    grid-template-areas: "titleBar titleBar titleBar titleBar" "guildsList betterFoldersSidebar notice notice" "guildsList betterFoldersSidebar channelsList page";
    ._5e434347c823b592-sidebar {
      grid-template-columns: [start] 80px [guilds-end] min-content [betterFoldersSidebar-end] 240px [end];
      grid-template-areas: "guilds betterFoldersSidebar sidebar" "guilds betterFoldersSidebar panels";
      width: auto !important;
    }
    ._5e434347c823b592-guilds {
      margin-bottom: 0 !important;
    }
  }
  ._5e434347c823b592-sidebar {
    display: grid;
    grid-template-areas: "guilds sidebar" "guilds panels";
    grid-template-columns: [start] min-content [sidebarStart] 1fr [end];
    grid-template-rows: [start] 1fr [panelsStart] min-content [end];
    width: calc(80px + 240px) !important;
    border-radius: 0;
    >._5e434347c823b592-guilds {
      grid-area: guilds;
      margin-bottom: 0;
    }
    >._5e434347c823b592-sidebarList {
      grid-area: sidebar;
      width: 240px;
      --custom-app-panels-height: 0;
    }
    >._5e434347c823b592-sidebarResizeHandle,
    &:after {display:none}
    >._5e434347c823b592-panels {
      grid-area: panels;
      position: static;
      inset: auto;
    }
  }
  &:has(>._6e2b9359c6f84cfd-notice)>.c38106a3f0c3ca76-bar {
    margin-top: 40px;
  }
}
// titlebar
.c38106a3f0c3ca76-bar {
  padding: 0 16px 0 0;
  height: 56px;
  .c38106a3f0c3ca76-title {
    display: none;
  }
  // fast travel
  ._63abbca6d53b6035-backForwardButtons {
    display: none;
  }
  .c38106a3f0c3ca76-trailing {
    gap: 8px;
    >div:not([class]):not([style]) {
      display: contents;
    }
    .c99c29809d200a61-clickable {
      margin: 0;
      padding: 0;
      width: 30px;
      justify-content: center;
      foreignObject {
        @include mask(none !important);
        &[mask="url(#svg-mask-header-bar-badge-bottom)"] {
          @include mask(url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M0 24h24V6a6 6 0 1 1-6-6H0zM24 0h-6a6 6 0 0 1 6 6z'/%3E%3C/svg%3E") !important);
        }
      }
      .c99c29809d200a61-badge {
        margin: 0;
        inset: 2px 5px auto auto;
      }
    }
    ._9293f6b2fc12398a-iconWrapper {
      width: 30px;
      height: 30px;
      border-radius: 4px;
      &[aria-label="Submit a Bug Report"] {
        display: none;
      }
      &[aria-label="DevTools"] {
        background: none !important;
        path {
          transform: scale(calc(20/24)) !important;
        }
      }
      ._9293f6b2fc12398a-icon {
        opacity: .6;
        transition: opacity .2s;
        width: 24px;
        height: 24px;
        color: var(--dtm-16-header-button-fg);
        ._496769951eb140fe-updateIconForeground {
          d: path("M12 17L8 13H11V3H13V13H16L12 17Z M4 19H20V21H4V19Z");
        }
        ._496769951eb140fe-downloadArrow {
          animation: none !important;
          d: path("M15 5.62a7.5 7.5 0 0 1 4.35 5.42A4.98 4.98 0 0 1 19 21H6a6 6 0 0 1-.65-11.96A7.53 7.53 0 0 1 9 5.63v2.26A5.54 5.54 0 0 0 6.71 11H6a4 4 0 1 0 0 8h13a3 3 0 1 0 0-6h-1.5v-.5c0-1.93-1-3.63-2.5-4.61V5.62Z M13 13V3h-2v10H8l4 4 4-4h-3Z");
          color: inherit;
        }
      }
      &:hover, &:active {
        ._9293f6b2fc12398a-icon {
          opacity: 1;
        }
      }
      &._9293f6b2fc12398a-selected {
        background: var(--dtm-16-header-button-active-bg);
        ._9293f6b2fc12398a-icon {
          opacity: 1;
        }
      }
      >svg>foreignObject {
        x: -2px;
        y: -2px;
        -webkit-mask: none !important;
        mask: none !important;
      }
      ._9293f6b2fc12398a-iconBadge {
        top: 3px;
        right: 3px;
        border: solid 2px var(--override-background-primary);
        background: var(--red);
        width: 12px;
        height: 12px;
        transform-origin: top right;
        transform: scale(0.75);
      }
    }
    .c99c29809d200a61-clickable:nth-last-child(3 of :not(span):not(.c38106a3f0c3ca76-winButtons))~a {
      display: none;
    }
  }
  html:not(.platform-win) & {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 101;
  }
  @at-root {
    html.platform-win {
      --custom-app-top-bar-height: 22px !important;
      ._5e434347c823b592-base {
        margin-top: 22px;
      }
    }
  }
  @at-root html.platform-win {
    .c38106a3f0c3ca76-bar.c38106a3f0c3ca76-systemBar {
      height: 22px;
      min-height: 22px;
      display: flex !important;
      background: var(--background-tertiary);
      // wordmark
      &:before {
        content: "";
        width: 71px;
        height: 22px;
        background: var(--interactive-active);
        opacity: .6;
        position: absolute;
        top: 0;
        left: 0;
        -webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='71' height='22' fill='none'%3E%3Cpath fill='%23fff' d='M12.6 6.1H9v4.1l2.4 2.2v-4h1.3c.8 0 1.2.4 1.2 1v3.1c0 .6-.4 1-1.2 1H9V16h3.6c1.9 0 3.7-1 3.7-3.2V9.4C16.3 7 14.5 6 12.6 6Zm18.7 6.6V9.3c0-1.2 2.2-1.5 2.8-.2l2-.9A3.5 3.5 0 0 0 32.7 6C30.8 6 29 7.1 29 9.3v3.4c0 2.2 1.9 3.3 3.8 3.3 1.2 0 2.6-.6 3.4-2.2l-2-1c-.6 1.4-2.8 1-2.8-.1Zm-6.5-3c-.7 0-1.2-.4-1.3-.8 0-1.2 1.8-1.2 2.8-.1l1.6-1.2A3.9 3.9 0 0 0 24.6 6c-1.8 0-3.5 1-3.5 3 0 1.8 1.4 2.8 3 3 .8.1 1.6.4 1.6 1 0 1-2.2 1-3.1-.2L21 14.2a4.2 4.2 0 0 0 3.2 1.8c1.8 0 3.7-1 3.8-3 .1-2.3-1.6-2.9-3.3-3.2ZM17.6 16H20V6h-2.4v10ZM58.3 6h-3.6v4.1l2.4 2.2v-4h1.3c.8 0 1.2.4 1.2 1v3.1c0 .6-.4 1-1.2 1h-3.7V16h3.6c1.9 0 3.7-1 3.7-3.2V9.4C62 7 60.2 6 58.3 6ZM40.7 6c-2 0-4 1.1-4 3.3v3.4c0 2.2 2 3.3 4 3.3s4-1.1 4-3.3V9.3c0-2.2-2-3.3-4-3.3Zm1.6 6.7c0 .7-.8 1-1.6 1-.7 0-1.5-.3-1.5-1V9.3c0-.7.7-1 1.5-1s1.6.3 1.6 1v3.4Zm11-3.4c0-2.2-1.5-3.2-3.5-3.2H46V16h2.4v-3.1h.5l2.2 3h3l-2.6-3.3c1.1-.3 1.9-1.4 1.9-3.2Zm-3.5 1.4h-1.4V8.4h1.4c1.6 0 1.6 2.3 0 2.3Z'/%3E%3C/svg%3E");
        mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='71' height='22' fill='none'%3E%3Cpath fill='%23fff' d='M12.6 6.1H9v4.1l2.4 2.2v-4h1.3c.8 0 1.2.4 1.2 1v3.1c0 .6-.4 1-1.2 1H9V16h3.6c1.9 0 3.7-1 3.7-3.2V9.4C16.3 7 14.5 6 12.6 6Zm18.7 6.6V9.3c0-1.2 2.2-1.5 2.8-.2l2-.9A3.5 3.5 0 0 0 32.7 6C30.8 6 29 7.1 29 9.3v3.4c0 2.2 1.9 3.3 3.8 3.3 1.2 0 2.6-.6 3.4-2.2l-2-1c-.6 1.4-2.8 1-2.8-.1Zm-6.5-3c-.7 0-1.2-.4-1.3-.8 0-1.2 1.8-1.2 2.8-.1l1.6-1.2A3.9 3.9 0 0 0 24.6 6c-1.8 0-3.5 1-3.5 3 0 1.8 1.4 2.8 3 3 .8.1 1.6.4 1.6 1 0 1-2.2 1-3.1-.2L21 14.2a4.2 4.2 0 0 0 3.2 1.8c1.8 0 3.7-1 3.8-3 .1-2.3-1.6-2.9-3.3-3.2ZM17.6 16H20V6h-2.4v10ZM58.3 6h-3.6v4.1l2.4 2.2v-4h1.3c.8 0 1.2.4 1.2 1v3.1c0 .6-.4 1-1.2 1h-3.7V16h3.6c1.9 0 3.7-1 3.7-3.2V9.4C62 7 60.2 6 58.3 6ZM40.7 6c-2 0-4 1.1-4 3.3v3.4c0 2.2 2 3.3 4 3.3s4-1.1 4-3.3V9.3c0-2.2-2-3.3-4-3.3Zm1.6 6.7c0 .7-.8 1-1.6 1-.7 0-1.5-.3-1.5-1V9.3c0-.7.7-1 1.5-1s1.6.3 1.6 1v3.4Zm11-3.4c0-2.2-1.5-3.2-3.5-3.2H46V16h2.4v-3.1h.5l2.2 3h3l-2.6-3.3c1.1-.3 1.9-1.4 1.9-3.2Zm-3.5 1.4h-1.4V8.4h1.4c1.6 0 1.6 2.3 0 2.3Z'/%3E%3C/svg%3E");
      }
    }
    .c38106a3f0c3ca76-bar:not(.c38106a3f0c3ca76-systemBar) {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 101;
      padding-right: 16px;
      -webkit-app-region: no-drag;
      .c38106a3f0c3ca76-winButtons {
        display: none;
      }
    }
    .c38106a3f0c3ca76-winButtons {
      gap: 0;
      &:before {
        display: none;
      }
      .c38106a3f0c3ca76-winButton {
        height: 22px;
        width: 28px;
      }
    }
    .c38106a3f0c3ca76-trailing .c99c29809d200a61-clickable:nth-last-child(3 of :not(span))+a {display:block}
    .c38106a3f0c3ca76-trailing .c99c29809d200a61-clickable:nth-last-child(4 of :not(span))+a {display:none}
    .c38106a3f0c3ca76-trailing>div:nth-child(2 of :not([class]):not([style])):nth-last-child(3 of :not(span)) [aria-label="DevTools"] {display:none}
  }
}

@container style(--dtm-16-hide-windows-titlebar: true) {
  .c38106a3f0c3ca76-bar.c38106a3f0c3ca76-systemBar.c38106a3f0c3ca76-systemBar.c38106a3f0c3ca76-systemBar.c38106a3f0c3ca76-systemBar {
    display: none !important;
  }
  ._5e434347c823b592-base {
    margin-top: 0 !important;
  }
  #app-mount ._133bf5eea8e33a34-container ._133bf5eea8e33a34-peopleColumn ._5ec2fb8b5de26b21-searchBar {
    top: 0 !important;
  }
}

html.platform-linux .c38106a3f0c3ca76-bar .c38106a3f0c3ca76-winButtons {
  display: none;
}