:root
  // server channel list
  ._2637a2609f343032-container
    background: no-repeat linear-gradient(to bottom, #0000 48px, rgba(0 0 0/.2) 48px, rgba(0 0 0/.4))
    .f37cb1984c371ee5-header
      border-radius: 0
      border-top: none
  ._629e4c86564a4ee7-scroller
    margin-bottom: 0
    margin-right: 0
    border: none !important
  // channel
  ._2ea32c412048f708-wrapper
    color: rgba(255 255 255/.6)
    ._2ea32c412048f708-name
      text-shadow: 0 1px 2px #000b
      color: inherit
    ._2ea32c412048f708-link
      margin-left: 2px
      margin-right: 2px 
      border-radius: 3px
      color: inherit
      cursor: inherit
    ._2ea32c412048f708-icon
      color: inherit
    &._2ea32c412048f708-modeMuted
      color: rgba(255 255 255/.3)
    &._2ea32c412048f708-modeUnreadImportant
      color: rgba(255 255 255/.9)
    &._2ea32c412048f708-modeSelected
      color: #fff
    &:hover, &:focus, &:focus-within
      ._2ea32c412048f708-link
        background: var(--d8-channel-bg-hover)
        box-shadow: var(--d8-channel-shadow-hover)
    &:active ._2ea32c412048f708-link
      background: var(--d8-channel-bg-active)
      box-shadow: var(--d8-channel-shadow-active)
    &._2ea32c412048f708-modeSelected ._2ea32c412048f708-link
      background: var(--d8-channel-bg-selected)
      box-shadow: var(--d8-channel-shadow-selected)
    &._2ea32c412048f708-modeLocked
      cursor: not-allowed
      &, &:hover, &:active
        ._2ea32c412048f708-link
          opacity: .5
          background: #0000
          box-shadow: unset
  // dms
  // discover