:root .f75fb00fb7356cbe-chat
  background: none
  border-top: none !important
:root
  .f75fb00fb7356cbe-chatContent
    background: none
  ._36d072eab2b2e737-messagesWrapper
    background: none
  .f75fb00fb7356cbe-form
    background-image: var(--d8-chatbox-bg)
    margin-left: 0
    margin-right: 0
    margin-top: 0
    padding-left: 20px
    padding-right: 20px
    box-shadow: inset 0 2px #fff1
    border-top: solid 1px #000b
    &:before, &:after
      display: none
    .f75fb00fb7356cbe-channelTextArea
      margin-top: 24px
      margin-bottom: 24px
      background: #0000
  ._740174f3d6a2c8fe-scrollableContainer
      border-radius: 3px
      background: var(--d8-chatinput-bg)
      box-shadow: var(--d8-chatinput-shadow)
      border: solid 1px var(--d8-chatinput-border)
      ._0923f156a0410684-attachWrapper
        padding: 0
      ._0923f156a0410684-attachButton, ._4d3a93bb8f6e0dd9-icon
        padding: 10px
        border-radius: 0
        margin-right: 8px
        border-right: solid 1px #3F4144
        border-image: var(--d8-chatinput-attach-border) 1
      .b77158512e0ab116-channelAttachmentArea
        background: none
  ._740174f3d6a2c8fe-channelTextAreaDisabled
    ._740174f3d6a2c8fe-scrollableContainer
      opacity: 1
      background: none !important
      box-shadow: none !important
      border-color: #0000
      overflow: visible
    ._740174f3d6a2c8fe-innerDisabled
      padding-left: 0
      cursor: unset
      ._740174f3d6a2c8fe-buttons
        opacity: .25
      ._0923f156a0410684-attachButton
        margin-left: -1px
        border-radius: 3px
        background: var(--d8-chatinput-bg)
        box-shadow: var(--d8-chatinput-shadow)
        border: solid 1px var(--d8-chatinput-border)
    ._1b31f471f0bb10ab-placeholder
      opacity: 1
      color: var(--header-secondary)
      font-weight: 600
      text-align: center
      text-shadow: 0 1px rgba(0 0 0/.25), 0 1px 2px rgba(0 0 0/.25), 0 2px 4px rgba(0 0 0/.2)
  ._36d072eab2b2e737-messagesWrapper
    background: var(--d8-chat-bg)