.f75fb00fb7356cbe-title
  border: none !important
  &._9293f6b2fc12398a-themed
    background: var(--d8-header-bg)
    box-shadow: var(--d8-header-shadow)
.f37cb1984c371ee5-container
  &:not(.f37cb1984c371ee5-bannerVisible)
    background: var(--d8-header-bg)
    box-shadow: var(--d8-header-shadow)
    .f37cb1984c371ee5-header
      border: none