:root
  .guilds_c48ade
    width: 72px
    background: none
    margin-top: 48px
    // home
    ._1f388bcaa446c0c8-tutorialContainer
      position: fixed
      // top: 32px
      top: var(--custom-app-top-bar-height)
      contain: none
      ._650eb104245d257b-listItem
        width: 72px
      ._1f388bcaa446c0c8-pill
        display: none
      .cc5dd25190031396-wrapper
        width: 72px !important
        height: 48px !important
        >svg
          &[viewBox="-4 -4 52 52"]
            width: 52px !important
            height: 52px !important
          &[viewBox="-4 -4 48 48"]
            width: 48px !important
            height: 48px !important
      .cc5dd25190031396-svg
        width: 72px
        overflow: visible
        mask: none
        contain: none
        foreignObject
          overflow: visible
          mask: none
          x: 0
          y: 0
      ._6e9f8dce4cc18de3-wrapper
        width: 72px
        height: 48px
      ._6e9f8dce4cc18de3-childWrapper
        width: 72px
        height: 48px
        background: var(--d8-header-bg)
        box-shadow: var(--d8-header-shadow)
    // servers
    ._650eb104245d257b-listItem
      width: 72px