// layout
:root ._5e434347c823b592-sidebar
  --custom-app-panels-height: 0px !important
  display: grid
  grid-template-areas: "guilds channels handle" "guilds panels handle"
  grid-template-columns: [guilds-start] 72px [channels-start] auto [handle-start] 0
  grid-template-rows: [channels-start] 1fr [panels-start] auto [panels-end]
  min-width: 300px
  width: auto !important
  ._5e434347c823b592-guilds
    grid-area: guilds
    margin-bottom: 0
  ._5e434347c823b592-sidebarList
    grid-area: channels
    border-top: none
    border-radius: 0
    width: 100%
  ._5e434347c823b592-sidebarResizeHandle
    grid-area: handle
  ._5e434347c823b592-panels
    grid-area: panels
    position: static
    width: auto
    height: min-content
  &:after
    display: none

// base
.sidebar_c48ade
  background: none

:root .sidebarList_c48ade
  background: none
  border: none
  border-radius: 0

// channel list
:root ._2637a2609f343032-container
  padding-bottom: 0