//META{"name":"Discord Sword & Shield","description":"Theme based on the Pokemon Sword & Shield UI","author":"11pixels","website":"https://discord.gg/vUN9sNW","version":"AUTO"}*//{}

@import url(https://xyzenix.github.io/XYZenixThemes/discord-swsh.theme.css);
:root { /* some configurable mumbo jumbo that i dont even remember what it does, but feel free to mess around with it */
	--ptc: #1f6dc7;
	--tbc1: #1f6dc714;
	--tbc2: #4085d624;
	--tbc3: #5388c547;
	--tbc1a: #1f6dc703;
	--tbc2a: #4085d60d;
	--tbc3a: #5388c517;
}
