/* 11pixels' Steam Theme #001
   Style: Skeuomorphic + Glossy
   Version: 0.0.4
   Status: Not finished. */

.appactionbutton_Green_3cI5T > .appactionbutton_ButtonChild_2AzIX {
    background: linear-gradient(#5fcc63, #4CAF50 50%, #479a4b 50%, #3f9843) !important;
    box-shadow: 0 0 0 2px black, inset 0 1px #FFF7, inset 0 -1px #0005;
    transition: 0s !important;
}
.appactionbutton_Green_3cI5T > .appactionbutton_ButtonChild_2AzIX:hover {
    background: linear-gradient(#7ee882, #5ac35e 50%, #53ad57 50%, #51b555) !important
}
.appactionbutton_Green_3cI5T > .appactionbutton_ButtonChild_2AzIX:active {
    background: linear-gradient(#4c924f, #458648 50%, #3f6b41 50%, #3a753c) !important;
    box-shadow: 0 0 0 2px black, inset 0 1px #0005, inset 0 -1px #FFF1;
}
.appactionbutton_ButtonChild_2AzIX {
    background: linear-gradient(#2086d8, #1f8ce2 50%, #1070bd 50%, #0b63a9) !important;
    box-shadow: 0 0 0 2px black, inset 0 1px #FFF7, inset 0 -1px #0005;
    transition: 0s !important;
}
.appactionbutton_ButtonChild_2AzIX:hover {
    background: linear-gradient(#339cf1, #379ae8 50%, #2087da 50%, #197ac7) !important;
}
.appactionbutton_ButtonChild_2AzIX:active {
    background: linear-gradient(#1e639a, #206ba7 50%, #195a8e 50%, #0f65a9) !important;
    box-shadow: 0 0 0 2px black, inset 0 1px #0005, inset 0 -1px #FFF1;
}
.appdetailsplaysection_MenuButton_3qDWQ {
    border-radius: 2px;
    background: linear-gradient(#909090, #848484 50%, #6f6f6f 50%, #585858);
    box-shadow: 0 0 0 2px black, inset 0 1px #FFF7, inset 0 -1px #0005;
    transition: 0s !important;
}
.appdetailsplaysection_MenuButton_3qDWQ:hover {
    background: linear-gradient(#9c9c9c, #848484 50%, #737373 50%, #676767) !important;
}
.appdetailsplaysection_MenuButton_3qDWQ:active {
    background: linear-gradient(#4a4a4a, #525252 50%, #4a4a4a 50%, #444444) !important;
    box-shadow: 0 0 0 2px black, inset 0 1px #0005, inset 0 -1px #FFF1;
}
.appdetailsprimarylinkssection_LinksSection_3-V8v > div {
    margin: 0;
    margin-left: -10px;
    margin-right: -10px;
    padding: 0 10px;
    border-radius: 0;
    background: linear-gradient(#505050, #424242 50%, #3a3939 50%, #424242) !important;
    box-shadow: 0 1px #fff6, 0 2px black, 0 -1px #fff6, 0 3px #555, 0 -2px #151515 !important;
    margin-bottom: 3px;
}
.appdetailsprimarylinkssection_LinkInner_7k4qm .appdetailsprimarylinkssection_Link_1b6LY:hover {
    box-shadow: 0 1px 3px #000a;
    background: none !important;
}
.appdetailsprimarylinkssection_LinkInner_7k4qm .appdetailsprimarylinkssection_Link_1b6LY,
.appdetailsprimarylinkssection_LinkInner_7k4qm .appdetailsprimarylinkssection_Link_1b6LY * {
    transition: .3s !important;
}
.appdetailsprimarylinkssection_LinkInner_7k4qm .appdetailsprimarylinkssection_Link_1b6LY:active {
    box-shadow: inset 0 1px 3px #000c;
}
.appdetailsplaysection_Glassy_3DeO9.appdetailsplaysection_PlayBar_3fLo1 {
    background: linear-gradient(#5f5f5f, #464646);
    box-shadow: inset 0 1px #000c, inset 0 2px #fff7, 0 0 15px black;
}
.appdetailsoverview_Container_27RcN .appdetailsoverview_ColumnContainer_OhSdL {
    background: linear-gradient(#464646, #353535 90px, #101010 350px)
}
.appdetailsoverview_Glassy_2OOzY .appdetailsoverview_BackdropGlass_Jbe-- {
    background: linear-gradient(#4a4a4a, #0a0a0a 450px)
}
.appdetails_ScrollContainer_2l416 .appdetails_InnerContainer_1Svpj {
    background: #0a0a0a;
}
.appdetailsplaysection_DetailsProgressContainer_25YVD {
    background: linear-gradient(#353535, #656565);
    box-shadow: 0 0 0 1px #222, 0 1px 0 1px #fff6, inset 0 1px #fff2;
}
.appdetailsplaysection_DetailsProgressContainer_25YVD .appdetailsplaysection_DetailsProgressBar_1FnTq {
    background: linear-gradient(#62aacc, #126990);
    box-shadow: inset 0 1px #fff9, 1px 0 #0005;
}
.contextmenu_contextMenu_PP7LM {
    background: linear-gradient(#464646, #2b2b2b)
}
.contextmenu_contextMenuItem_1n7Wl {
    transition: .2s;
    border-radius: 3px;
    border: none;
}
.contextmenu_contextMenuItem_1n7Wl:hover {
    background: none;
    box-shadow: 0 1px 5px #000b, inset 0 1px #fff3, inset 0 -1px #0007;
}
.contextmenu_contextMenuItem_1n7Wl:active {
    background: none;
    box-shadow: inset 0 1px 5px #000b, inset 0 -1px #fff4;
}
.appdetails_Header_2gZXh button.DialogButton.Primary {
    background: #0007;
    text-shadow: 0 0 2px black, 0 0 2px black , 0 0 2px black, 0 0 2px black, 0 0 2px black,0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black;
    border: dashed 2px #00ffe5;
    box-shadow: 0 0 5px 1px black;
    border-radius: 2px;
}
.appdetails_Header_2gZXh button.DialogButton.Primary:hover {
    background: linear-gradient(#30dac9, #019e8e);
    border: dashed 0px;
    padding: 2px 12px;
    text-shadow: 0 0 2px black, 0 0 2px black, 0 0 2px black;
    box-shadow: 0 0 0 2px black, inset 0 1px #fffa, inset 0 -1px #0005;
}
.appdetails_Header_2gZXh button.DialogButton.Primary:active {
    background: linear-gradient(#1b8c81, #129487) !important;
    border: dashed 0px;
    padding: 2px 12px;
    text-shadow: 0 0 2px black, 0 0 2px black, 0 0 2px black;
    box-shadow: 0 0 0 2px black, inset 0 -1px #fff5;
}
.appdetailsgameinfopanel_Container_2jPMy {
    background: linear-gradient(to right, #000b, #0005, #000b);
}
.appdetailsgameinfocontainer_AppGameInfoContainer_25oBZ.appdetailsgameinfocontainer_AppDetailsExpanded_3s6_6 {
    margin-bottom: 2px;
    margin-top: 2px;
}
.appdetailsheader_HeaderFeatures_2b6Wk .appdetailsheader_InCollection_1HS4t {
    border: none;
    border-radius: 2px;
    box-shadow: 0 0 0 1px #0004 !important;
}
.appdetailsheader_HeaderFeatures_2b6Wk:hover .appdetailsheader_InCollection_1HS4t {
    background: #555;
    border: none;
    border-radius: 2px;
    box-shadow: 0 0 0 1px #000, inset 0 1px #fffa, inset 0 -1px #0005 !important;
}
.appdetailsheader_HeaderFeatures_2b6Wk .appdetailsheader_InCollection_1HS4t:hover {
    background: #666;
    box-shadow: 0 0 0 1px #000, inset 0 1px #fffb, inset 0 -1px #0009 !important;
}
.appportrait_LibraryItemActionButton_3AjoL.appportrait_Play_1_Bo2:not(.appportrait_Disabled_1aml4) {
    background: linear-gradient(#4CAF50, #5bce60 50%, #50ab54 50%, #4CAF50);
    box-shadow: 0 0 0 2px #000, inset 0 1px #fff9, inset 0 -1px #0005;
}
.appportrait_LibraryItemActionButton_3AjoL.appportrait_Play_1_Bo2:not(.appportrait_Disabled_1aml4):hover {
    background: linear-gradient(#65d46a, #6cdc71 50%, #5cc361 50%, #76d67a) !important;
    box-shadow: 0 0 0 2px #000, inset 0 1px #fff9, inset 0 -1px #0005;
}
.appportrait_LibraryItemActionButton_3AjoL.appportrait_Play_1_Bo2:not(.appportrait_Disabled_1aml4):active {
    background: linear-gradient(#1e5d21, #247128 50%, #215623 50%, #235d25) !important;
    box-shadow: 0 0 0 2px #000, inset 0 1px #0005, inset 0 -1px #fff3;
}
.posttextentry_PostTextEntry_3x31A .posttextentry_PostTextEntryArea_1JlC2 {
    background: #3e3e3e;
    border-color: transparent;
    border-radius: 4px;
    border: solid 1px #222;
    box-shadow: 0 0 1px #000, inset 0 1px #fff6, inset 0 -1px #0003 !important;
}
.posttextentry_PostTextEntry_3x31A .posttextentry_PostTextEntryArea_1JlC2:focus {
    background: #2d2d2d;
    box-shadow: 0 0 1px #000, 0 1px #fff4, inset 0 1px 10px #000 !important;
}
.posttextentry_PostTextEntry_3x31A .posttextentry_Controls_37e7D .posttextentry_PostButton_2JSyA {
    background: linear-gradient(#0d2b44, #0c304c 50%, #0f283c 50%, #082740) !important;
    box-shadow: 0 0 0 1px #000;
    margin-top: 2px;
    margin-right: 2px;
}
.posttextentry_PostTextEntry_3x31A .posttextentry_Controls_37e7D .posttextentry_PostButton_2JSyA.posttextentry_Enabled_bGfja {
    background: linear-gradient(#2086d8, #1f8ce2 50%, #1070bd 50%, #0b63a9) !important;
    box-shadow: 0 0 0 1px #000, inset 0 1px #fff6, 0 2px #fff2, 0 -2px #0005;
    margin-top: 2px;
    margin-right: 2px;
}
.posttextentry_PostTextEntry_3x31A .posttextentry_Controls_37e7D .posttextentry_PostButton_2JSyA.posttextentry_Enabled_bGfja:hover {
    background: linear-gradient(#3c98e2, #3994dc 50%, #2382ce 50%, #1a70b5) !important;
}
.posttextentry_PostTextEntry_3x31A .posttextentry_Controls_37e7D .posttextentry_PostButton_2JSyA.posttextentry_Enabled_bGfja:active {
    background: linear-gradient(#0c5690, #0763ab 50%, #06508c 50%, #124e7d) !important;
    box-shadow: 0 0 0 1px #000, inset 0 -1px #fff2, 0 2px #fff2, 0 -2px #0005;
    margin-top: 2px;
    margin-right: 2px;
}
.posttextentry_PostTextEntry_3x31A .posttextentry_Controls_37e7D button.posttextentry_EmoticonButton_bACIu {
    background: linear-gradient(#152f44, #1b3448 50%, #0b1823 50%, #14324a) !important;
    box-shadow: 0 0 0 1px #000, inset 0 1px #fff3, 0 2px #fff2, 0 -2px #0005;
    margin-top: 2px;
    margin-right: 2px;
}
.posttextentry_PostTextEntry_3x31A .posttextentry_Controls_37e7D button.posttextentry_EmoticonButton_bACIu:hover {
    background: linear-gradient(#224867, #203f58 50%, #122638 50%, #17344c) !important;
}
.posttextentry_PostTextEntry_3x31A .posttextentry_Controls_37e7D button.posttextentry_EmoticonButton_bACIu:active {
    background: linear-gradient(#0e1f2d, #112331 50%, #050b10 50%, #0d1f2d) !important;
    box-shadow: 0 0 0 1px #000, inset 0 -1px #fff2, 0 2px #fff2, 0 -2px #0005;
}
.spotlightgameplaysummary_SummaryCarouselContainer_wgbDI {
    background: linear-gradient(#313131, #313131) !important;
    border-radius: 2px;
    box-shadow: 0 0 0 1px #000, 0 2px #fff3, 0 -2px #0004, inset 0 1px #fff3 !important;
}
.spotlightgameplaysummary_SummaryCarouselContainer_wgbDI:after {
    box-shadow: 0 0;
}
.gamelisthome_Bar_3pSPl {
    background: linear-gradient(#222, #444);
    border: none;
    box-shadow: 0 0 0 1px #000, 0 2px #fff2, inset 0 1px #fff3;
    border-radius: 2px 0 0 2px;
}
.gamelisthome_Bar_3pSPl:hover {
    background: linear-gradient(#333, #555);
}
.gamelisthome_Bar_3pSPl:active {
    background: linear-gradient(#111, #333);
    box-shadow: 0 0 0 1px #000, 0 2px #fff2, inset 0 -1px #fff2;
}
.gamelistbar_GameListHomeAndSearch_2TKEa .gamelistbar_HomeBox_3AhYl {
    overflow: visible;
}
.gamelisthome_Bar_3pSPl.gamelisthome_CollectionButton_30KGS  {
    padding: 1px;
    margin-left: 0px;
    border-radius: 0 2px 2px 0 !important;
}
.gamelisthome_Bar_3pSPl.gamelisthome_Selected_eNLOx {
    background: linear-gradient(#2b404a,#2d4b5a)
}
.gamelisthome_Bar_3pSPl.gamelisthome_Selected_eNLOx:hover {
    background: linear-gradient(#3e5d6b,#2d4b5a)
}
.gamelisthome_Bar_3pSPl.gamelisthome_Selected_eNLOx:active {
    background: linear-gradient(#19252b,#233742)
}
.appdetailsplaysection_DetailsSection_1dg8h .appdetailsplaysection_DetailsSectionStatus_1sKdg {
    word-wrap: break-word;
    text-overflow: unset;
    width: 100%;
    white-space: pre-wrap;
}
.appactionbutton_PlayButton_3ydig .appactionbutton_ButtonText_33cnX {
    color: #fffc;
    text-shadow: -1px -1px #0009, 1px 1px #fff5;
    font-weight: bold;
}
