/* 11pixels' Steam Theme #001
   Style: Skeuomorphic + Glossy
   Version: 0.0.2
   Status: Not finished. */

.appactionbutton_Green_3cI5T > .appactionbutton_ButtonChild_2AzIX {
    background: linear-gradient(#5fcc63, #4CAF50 50%, #479a4b 50%, #3f9843) !important;
    box-shadow: 0 0 0 2px black, inset 0 1px #FFF7, inset 0 -1px #0005;
    transition: 0s !important;
}
.appactionbutton_Green_3cI5T > .appactionbutton_ButtonChild_2AzIX:hover {
    background: linear-gradient(#7ee882, #5ac35e 50%, #53ad57 50%, #51b555) !important
}
.appactionbutton_Green_3cI5T > .appactionbutton_ButtonChild_2AzIX:active {
    background: linear-gradient(#4c924f, #458648 50%, #3f6b41 50%, #3a753c) !important;
    box-shadow: 0 0 0 2px black, inset 0 1px #0005, inset 0 -1px #FFF1;
}
.appactionbutton_ButtonChild_2AzIX {
    background: linear-gradient(#2086d8, #1f8ce2 50%, #1070bd 50%, #0b63a9) !important;
    box-shadow: 0 0 0 2px black, inset 0 1px #FFF7, inset 0 -1px #0005;
    transition: 0s !important;
}
.appactionbutton_ButtonChild_2AzIX:hover {
    background: linear-gradient(#339cf1, #379ae8 50%, #2087da 50%, #197ac7) !important;
}
.appactionbutton_ButtonChild_2AzIX:active {
    background: linear-gradient(#1e639a, #206ba7 50%, #195a8e 50%, #0f65a9) !important;
    box-shadow: 0 0 0 2px black, inset 0 1px #0005, inset 0 -1px #FFF1;
}
.appdetailsplaysection_MenuButton_3qDWQ {
    border-radius: 2px;
    background: linear-gradient(#909090, #848484 50%, #6f6f6f 50%, #585858);
    box-shadow: 0 0 0 2px black, inset 0 1px #FFF7, inset 0 -1px #0005;
    transition: 0s !important;
}
.appdetailsplaysection_MenuButton_3qDWQ:hover {
    background: linear-gradient(#9c9c9c, #848484 50%, #737373 50%, #676767) !important;
}
.appdetailsplaysection_MenuButton_3qDWQ:active {
    background: linear-gradient(#4a4a4a, #525252 50%, #4a4a4a 50%, #444444) !important;
    box-shadow: 0 0 0 2px black, inset 0 1px #0005, inset 0 -1px #FFF1;
}
.appdetailsprimarylinkssection_LinksSection_3-V8v > div {
    margin: 0;
    margin-left: -10px;
    margin-right: -10px;
    padding: 0 10px;
    border-radius: 0;
    background: linear-gradient(#505050, #424242 50%, #3a3939 50%, #424242) !important;
    box-shadow: 0 1px #fff6, 0 2px black, 0 -1px #fff6, 0 3px #555, 0 -2px #151515 !important;
    margin-bottom: 3px;
}
.appdetailsprimarylinkssection_LinkInner_7k4qm .appdetailsprimarylinkssection_Link_1b6LY:hover {
    box-shadow: 0 1px 3px #000a;
    background: none !important;
}
.appdetailsprimarylinkssection_LinkInner_7k4qm .appdetailsprimarylinkssection_Link_1b6LY,
.appdetailsprimarylinkssection_LinkInner_7k4qm .appdetailsprimarylinkssection_Link_1b6LY * {
    transition: .3s !important;
}
.appdetailsprimarylinkssection_LinkInner_7k4qm .appdetailsprimarylinkssection_Link_1b6LY:active {
    box-shadow: inset 0 1px 3px #000c;
}
.appdetailsplaysection_Glassy_3DeO9.appdetailsplaysection_PlayBar_3fLo1 {
    background: linear-gradient(#5f5f5f, #464646);
    box-shadow: inset 0 1px #000c, inset 0 2px #fff7, 0 0 15px black;
}
.appdetailsoverview_Container_27RcN .appdetailsoverview_ColumnContainer_OhSdL {
    background: linear-gradient(#464646, #353535 90px, transparent 150px)
}
.appdetailsoverview_Glassy_2OOzY .appdetailsoverview_BackdropGlass_Jbe-- {
    background: linear-gradient(#4a4a4a, #1b1b1b 450px)
}
.posttextentry_PostTextEntry_3x31A .posttextentry_PostTextEntryArea_1JlC2 {
    background: linear-gradient(#3e3e3e, #4c4c4c);
    border-color: transparent;
    border-radius: 4px;
    border: solid 1px #222;
    box-shadow: inset -.5px -1.3px #fff4, inset .5px 1.3px #000b, inset 0 1px 10px 3px #0008;
}
.appdetailsplaysection_DetailsProgressContainer_25YVD {
    background: linear-gradient(#353535, #656565);
    box-shadow: 0 0 0 1px #222, 0 1px 0 1px #fff6, inset 0 1px #fff2;
}
.appdetailsplaysection_DetailsProgressContainer_25YVD .appdetailsplaysection_DetailsProgressBar_1FnTq {
    background: linear-gradient(#62aacc, #126990);
    box-shadow: inset 0 1px #fff9;
}
.contextmenu_contextMenu_PP7LM {
    background: linear-gradient(#464646, #2b2b2b)
}
.contextmenu_contextMenuItem_1n7Wl {
    transition: .2s;
    border-radius: 3px;
    border: none;
}
.contextmenu_contextMenuItem_1n7Wl:hover {
    background: none;
    box-shadow: 0 1px 5px #000b, inset 0 1px #fff3, inset 0 -1px #0007;
}
.contextmenu_contextMenuItem_1n7Wl:active {
    background: none;
    box-shadow: inset 0 1px 5px #000b, inset 0 -1px #fff4;
}
.appdetails_Header_2gZXh button.DialogButton.Primary {
    background: #0007;
    text-shadow: 0 0 2px black, 0 0 2px black , 0 0 2px black, 0 0 2px black, 0 0 2px black,0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black;
    border: dashed 2px #00ffe5;
    box-shadow: 0 0 5px 1px black;
    border-radius: 2px;
}
.appdetails_Header_2gZXh button.DialogButton.Primary:hover {
    background: linear-gradient(#30dac9, #019e8e);
    border: dashed 0px;
    padding: 2px 12px;
    text-shadow: 0 0 2px black, 0 0 2px black, 0 0 2px black;
    box-shadow: 0 0 0 2px black, inset 0 1px #fffa, inset 0 -1px #0005;
}
.appdetails_Header_2gZXh button.DialogButton.Primary:active {
    background: linear-gradient(#1b8c81, #129487) !important;
    border: dashed 0px;
    padding: 2px 12px;
    text-shadow: 0 0 2px black, 0 0 2px black, 0 0 2px black;
    box-shadow: 0 0 0 2px black, inset 0 -1px #fff5;
}
