//META{"name":"FluentClickEffect","description":"Mini theme that adds the Fluent Design-like click effects to various buttons","author":"11pixels","version":"3"}*//{}
.button-14-BFJ, .wrapper-1ucjTd, .iconItem-1-bXkn svg, .item-PXvHYJ, .lookFilled-1Gx00P, .item-3T2z1R,
.closeButton-1tv5uR, .attachButton-2WznTc, .emojiButton-3uL3Aw, .button-3AYNKb, .clickable-3rdHwn, .focusable-1YV_-H,
.button-1ZiXG9, .children-13TY0l, .item-26Dhrx, .lookLink-9FtZy-, .item-1GzJrl, .lookOutlined-3sRXeN, .member-3-YXUe, .lookInverted-2D7oAl,
.additionalActionsIcon-1FoUlE, .labelContainer-1BLJti, .clickable-2ap7je .header-2o-2hj, .searchBar-6Kv8R2 .searchBarComponent-32dTOx,
.actionButton-uPB8Fs, .peopleListItem-2nzedh, .buttonWrapper-1ZmCpA,.channel-2QD9_O, .wrapper-25eVIn {
    transition: .4s;
    cursor: default !important;
}
.button-14-BFJ:active, .wrapper-1ucjTd:active, .iconItem-1-bXkn:active svg, .item-PXvHYJ:active, .lookFilled-1Gx00P:active, .item-3T2z1R:active,
.closeButton-1tv5uR:active, .attachButton-2WznTc:active, .emojiButton-3uL3Aw:active, .button-3AYNKb:active, .clickable-3rdHwn:active, .focusable-1YV_-H:active,
.button-1ZiXG9:active, .children-13TY0l:active, .lookLink-9FtZy-:active, .item-1GzJrl:active, .lookOutlined-3sRXeN:active, .lookInverted-2D7oAl:active,
.additionalActionsIcon-1FoUlE:active, .labelContainer-1BLJti:active, .clickable-2ap7je .header-2o-2hj:active, .searchBar-6Kv8R2 .searchBarComponent-32dTOx:active,
.actionButton-uPB8Fs:active, .peopleListItem-2nzedh:active, .buttonWrapper-1ZmCpA:active, .channel-2QD9_O:active, .wrapper-25eVIn:active {
    transform: scale(0.95) !important;
    transition: 0.2s !important; 
}
.item-26Dhrx:active, .member-3-YXUe:active {
    transform: scale(0.97);
}
.item-26Dhrx *, .lookOutlined-3sRXeN *, .lookFilled-1Gx00P *, .member-3-YXUe *, .lookInverted-2D7oAl *, .channel-2QD9_O *, .wrapper-25eVIn * {
    cursor: default !important;
}
