//META{"name":"FluentClickEffect","description":"Mini theme that adds the Fluent Design-like click effects to various buttons","author":"Zenix","version":"1"}*//{}
.contentConnectedText-16O0fe,.contentConnectedVoice-qL-YrL, .contentDefaultText-3vZplL, .contentDefaultVoice-2ko43i, .contentHoveredText-2D9B-x, .contentHoveredVoice-3p_NEO, .contentLockedText-1aHuz8, .contentLockedVoice-1gx-SP, .contentMutedText-2y6aPQ, .contentMutedVoice-2lJ0UD, .contentSelectedText-3wUhMi, .contentSelectedVoice-1WDIBM, .contentUnreadText-2vNnZc, .contentUnreadVoice-1dijOt {
    transition: .4s;
    cursor: default !important;
}
.contentConnectedText-16O0fe:active, .contentConnectedVoice-qL-YrL:active, .contentDefaultText-3vZplL:active, .contentDefaultVoice-2ko43i:active, .contentHoveredText-2D9B-x:active, .contentHoveredVoice-3p_NEO:active, .contentLockedText-1aHuz8:active, .contentLockedVoice-1gx-SP:active, .contentMutedText-2y6aPQ:active, .contentMutedVoice-2lJ0UD:active, .contentSelectedText-3wUhMi:active, .contentSelectedVoice-1WDIBM:active, .contentUnreadText-2vNnZc:active, .contentUnreadVoice-1dijOt:active {
    transform: scale(0.95);
    transition: 0.2s;
}
.content-OzHfo4, .channel-2QD9_O, .content-OzHfo4, .channel-2QD9_O a, .side-8zPYf6 .item-PXvHYJ, .item-26Dhrx.marginBottom8-AtZOdT, .actionButton-3W1xZa, .attachButton-1UjEWA, .attachButton-1UjEWA *, .iconInactive-g2AXfB,
.theme-dark .item-1GzJrl, .lookFilled-1Gx00P, .button-2b6hmh, .lookOutlined-3sRXeN, .theme-dark .closeButton-1tv5uR, .uploadModal-2ifh8j .footer-3mqk7D .button, .button-2KyEfG, .theme-dark .guild-1EfMGQ .guildInner-3DSoA4, .theme-dark .guild-1EfMGQ .guildInner-3DSoA4 a {
    transition: .4s;
    cursor: default !important;
}
.content-OzHfo4:active, .channel-2QD9_O a:active, .side-8zPYf6 .item-PXvHYJ:active, .item-26Dhrx.marginBottom8-AtZOdT:active, .actionButton-3W1xZa:active, .attachButton-1UjEWA:active, .attachButton-1UjEWA:active *,
.theme-dark .item-1GzJrl:active, .lookFilled-1Gx00P:active, .lookOutlined-3sRXeN:active, .theme-dark .closeButton-1tv5uR:active, .uploadModal-2ifh8j .footer-3mqk7D .button:active, .button-2KyEfG:active, .theme-dark .guild-1EfMGQ .guildInner-3DSoA4:active {
    transform: scale(0.95);
    transition: 0.2s;
}
.iconInactive-g2AXfB:active, .button-2b6hmh:active {
    transform: scale(0.85);
}
