//META{"name":"FluentClickEffect","description":"Mini theme that adds the Fluent Design-like click effects to various buttons","author":"Zenix","version":"2"}*//{}
.button-14-BFJ, .wrapper-1ucjTd, .iconItem-1-bXkn svg, .item-PXvHYJ, .lookFilled-1Gx00P, .item-3T2z1R,
.closeButton-1tv5uR, .attachButton-2WznTc, .emojiButton-3uL3Aw, .button-3AYNKb, .clickable-3rdHwn, .focusable-1YV_-H,
.button-1ZiXG9, .children-13TY0l, .item-26Dhrx, .lookLink-9FtZy-, .item-1GzJrl, .lookOutlined-3sRXeN, .member-3-YXUe {
    transition: .4s;
    cursor: default !important;
}
.button-14-BFJ:active, .wrapper-1ucjTd:active, .iconItem-1-bXkn:active svg, .item-PXvHYJ:active, .lookFilled-1Gx00P:active, .item-3T2z1R:active,
.closeButton-1tv5uR:active, .attachButton-2WznTc:active, .emojiButton-3uL3Aw:active, .button-3AYNKb:active, .clickable-3rdHwn:active, .focusable-1YV_-H:active,
.button-1ZiXG9:active, .children-13TY0l:active, .lookLink-9FtZy-:active, .item-1GzJrl:active, .lookOutlined-3sRXeN:active {
    transform: scale(0.95) !important;
    transition: 0.2s !important; 
}
.item-26Dhrx:active, .member-3-YXUe:active {
    transform: scale(0.97);
}
.item-26Dhrx *, .lookOutlined-3sRXeN *, .lookFilled-1Gx00P *, .member-3-YXUe * {
    cursor: default !important;
}
