//META{"name":"HideEmail","description":"Mini theme that hides email from user settings","author":"Zenix","version":"1"}*//{}
:root {
	--thingTitle: "Status";
	--thingDescr: "Active";
}
.userSettingsAccount-2eMFVR .userInfoViewing-16kqK3 .flexChild-faoVW3:last-of-type>div:last-of-type>h5 {
    font-size: 0px;
}
.userSettingsAccount-2eMFVR .userInfoViewing-16kqK3 .flexChild-faoVW3:last-of-type>div:last-of-type>h5:after {
    content: var(--thingTitle);
    margin: 0;
    padding: 0;
    display: inline;
    font-size: 12px !important;
    margin-left: -2px;
}
.userSettingsAccount-2eMFVR .userInfoViewing-16kqK3 .flexChild-faoVW3:last-of-type>div:last-of-type>div {
    font-size: 0px;
    margin: 0;
}
.userSettingsAccount-2eMFVR .userInfoViewing-16kqK3 .flexChild-faoVW3:last-of-type>div:last-of-type>div:after {
    content: var(--thingDescr);
    margin: 0;
    padding: 0;
    display: inline;
    font-size: 16px;
}
