/**
* @name NewDrag&DropModal (Non-Nitro)
* @author 11pixels#2004
* @version 2.1
* @invite vUN9sNW
* @description Mini theme that adds the new drag and drop modal from the nitro tab video. This is the non-nitro version, use this only if you don't have Nitro or Nitro Classic. Won't accurately reflect server-specific upload limits.
*/
.uploadModalIn-2w48Zf .uploadDropModal-13Kd20 {
    background: var(--background-secondary);
    animation: none;
    border-radius: 5px;
}
.uploadModalIn-2w48Zf .uploadDropModal-13Kd20 .bgScale-1iWuPF {
    display: none !important;
}
.uploadModalIn-2w48Zf .base-3G-1g8, .uploadModalIn-2w48Zf .uploadDropModal-13Kd20 .inner-rBP-MS .icons-1UZPvE {
    display: none;
}
.uploadModalIn-2w48Zf .uploadDropModal-13Kd20 .inner-rBP-MS .title-3ChJ_v:before,
.uploadModalIn-2w48Zf .uploadDropModal-13Kd20 .inner-rBP-MS .title-3ChJ_v:after {
    font-size: 16px;
}
.uploadModalIn-2w48Zf .uploadDropModal-13Kd20 .inner-rBP-MS .title-3ChJ_v:before {
    content: " ";
    background: url(https://media.discordapp.net/attachments/555111179840782360/559048837151326208/file-upload.png);
    display: inline-block;
    padding-right: 5px;
    background-repeat: no-repeat;
    background-size: contain;
    width: 24px;
    height: 24px;
    margin-bottom: -6px;
    opacity: 0.6;
}
.theme-light .uploadModalIn-2w48Zf .uploadDropModal-13Kd20 .inner-rBP-MS .title-3ChJ_v:before {
    filter: invert(1)
}
.uploadModalIn-2w48Zf .uploadDropModal-13Kd20 .inner-rBP-MS .title-3ChJ_v:after {
    content: "Maximum file size: 8 MB";
    font-size: 16px;
  background: -webkit-linear-gradient(left, var(--interactive-normal) 78%, #56A6BE 78%, #8DA3DC 124%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.uploadModalIn-2w48Zf .uploadDropModal-13Kd20 .inner-rBP-MS .title-3ChJ_v {
    font-size: 0;
    padding-bottom: 10px;
    text-align: left;
    margin-left: -8px;
}
.uploadModalIn-2w48Zf .uploadDropModal-13Kd20 .inner-rBP-MS {
    align-items: start;
    justify-content: start;
    padding: 12px;
    border: none !important;
}
.uploadModalIn-2w48Zf .uploadDropModal-13Kd20 .inner-rBP-MS .instructions-272j2A {
    font-size: 0;
    display: block;
    background: var(--background-tertiary);
    width: 100%;
    border-radius: 5px;
    height: 100%;
    overflow: hidden;
}
.uploadModalIn-2w48Zf .uploadDropModal-13Kd20 {
    width: 350px;
    height: 250px;
}
.uploadModalIn-2w48Zf .uploadDropModal-13Kd20 .inner-rBP-MS .instructions-272j2A pre {
    display: block;
    background: transparent;
    border: dashed 2px;
    border-radius: 4.0px;
    margin: 20px;
    height: 77%;
    overflow: hidden;
    filter: hue-rotate(260deg);
    border-image: url(https://media.discordapp.net/attachments/555111179840782360/559054381803241483/uploadboxtest.png) 1;
}
.uploadModalIn-2w48Zf .uploadDropModal-13Kd20.error-3lNz4C .inner-rBP-MS .title-3ChJ_v:after {
    content: "Your files are too powerful!";
   -webkit-text-fill-color: #f6f6f7;
}
.uploadModalIn-2w48Zf .uploadDropModal-13Kd20.error-3lNz4C {
  background: #f04747;
  border-radius: 5px;
  padding-bottom: 0px;
}
.uploadModalIn-2w48Zf .uploadDropModal-13Kd20.error-3lNz4C .instructions-272j2A {
  font-size: 14px;
  background: none;
  text-align: left;
}
.uploadModalIn-2w48Zf .uploadDropModal-13Kd20.error-3lNz4C .inner-rBP-MS .title-3ChJ_v:before {
  content: none;
}
