//META{"name":"NewDragNDropModal (Non Nitro)","description":"Mini theme that adds the new drag and drop modal from the nitro tab video. This is the non-Nitro version, use this only if you dont nitro","author":"11pixels","version":"2"}*//{}
.uploadModalIn-1z07Bv .uploadDropModal-2kTwbc {
    background: var(--background-secondary);
    animation: none;
    border-radius: 5px;
}
.uploadModalIn-1z07Bv .uploadDropModal-2kTwbc .bgScale-1otPtc {
    display: none !important;
}
.uploadModalIn-1z07Bv .base-18fc34, .uploadModalIn-1z07Bv .uploadDropModal-2kTwbc .inner-3nWsbo .icons-1w691d {
    display: none;
}
.uploadModalIn-1z07Bv .uploadDropModal-2kTwbc .inner-3nWsbo .title-2Vtl4y:before,
.uploadModalIn-1z07Bv .uploadDropModal-2kTwbc .inner-3nWsbo .title-2Vtl4y:after {
    font-size: 16px;
}
.uploadModalIn-1z07Bv .uploadDropModal-2kTwbc .inner-3nWsbo .title-2Vtl4y:before {
    content: " ";
    background: url(https://media.discordapp.net/attachments/555111179840782360/559048837151326208/file-upload.png);
    display: inline-block;
    padding-right: 5px;
    background-repeat: no-repeat;
    background-size: contain;
    width: 24px;
    height: 24px;
    margin-bottom: -6px;
    opacity: 0.6;
}
.theme-light .uploadModalIn-1z07Bv .uploadDropModal-2kTwbc .inner-3nWsbo .title-2Vtl4y:before {
    filter: invert(1)
}
.uploadModalIn-1z07Bv .uploadDropModal-2kTwbc .inner-3nWsbo .title-2Vtl4y:after {
    content: "Maximum file size: 8 MB";
    font-size: 16px;
  background: -webkit-linear-gradient(left, var(--interactive-normal) 78%, #56A6BE 78%, #8DA3DC 124%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.uploadModalIn-1z07Bv .uploadDropModal-2kTwbc .inner-3nWsbo .title-2Vtl4y {
    font-size: 0;
    padding-bottom: 10px;
}
.uploadModalIn-1z07Bv .uploadDropModal-2kTwbc .inner-3nWsbo {
    align-items: start;
    justify-content: start;
    padding: 12px;
    border: none !important;
}
.uploadModalIn-1z07Bv .uploadDropModal-2kTwbc .inner-3nWsbo .instructions-2Du9gG {
    font-size: 0;
    display: block;
    background: var(--background-tertiary);
    width: 100%;
    border-radius: 5px;
    height: 100%;
    overflow: hidden;
}
.uploadModalIn-1z07Bv .uploadDropModal-2kTwbc {
    width: 350px;
    height: 250px;
}
.uploadModalIn-1z07Bv .uploadDropModal-2kTwbc .inner-3nWsbo .instructions-2Du9gG pre {
    display: block;
    background: transparent;
    border: dashed 2px;
    border-radius: 4.0px;
    margin: 20px;
    height: 77%;
    overflow: hidden;
    filter: hue-rotate(260deg);
    border-image: url(https://media.discordapp.net/attachments/555111179840782360/559054381803241483/uploadboxtest.png) 1;
}
.uploadModalIn-1z07Bv .uploadDropModal-2kTwbc.error-kKl9o2 .inner-3nWsbo .title-2Vtl4y:after {
    content: "Your files are too powerful!";
   -webkit-text-fill-color: #f6f6f7;
}
.uploadModalIn-1z07Bv .uploadDropModal-2kTwbc.error-kKl9o2 {
  background: #f04747;
  border-radius: 5px;
  padding-bottom: 0px;
}
.uploadModalIn-1z07Bv .uploadDropModal-2kTwbc.error-kKl9o2 .instructions-2Du9gG {
  font-size: 14px;
  background: none;
  text-align: left;
}
.uploadModalIn-1z07Bv .uploadDropModal-2kTwbc.error-kKl9o2 .inner-3nWsbo .title-2Vtl4y:before {
  content: none;
}
