//META{"name":"NewEmojiPicker","description":"Mini theme that adds the new emoji picker from the nitro tab video.","author":"Zenix","version":"1"}*//{}
.emoji-picker, .emojiPicker-3m1S-j, .searchBar-2_Yu-C.searchBarLight-1NxoDG {
    background: #36393E;
    border: none;
}
.emoji-picker, .emojiPicker-3m1S-j {
    box-shadow: 0 0 1px;
}
.searchBar-2_Yu-C input::placeholder {
    color: #717276 !important;
}
.searchBar-2_Yu-C.searchBarLight-1NxoDG .searchBarInner-1_Tg2R {
    background: #212226;
    border-radius: 5px !important;
}
.emojiPicker-3m1S-j .scroller-3vODG7 {
    background: #303135;
}
.emojiPicker-3m1S-j .stickyHeader-1SS0JU {
    background: hsla(228, 5%, 20%, .95);
}
.searchBarLight-1NxoDG .searchBarIcon-1J6sKG .icon-3cZ1F_.visible-3V0mGj {
    opacity: 1;
    filter: invert(0.4);
}
.emojiPicker-3m1S-j .categories-1feg4n .item-16cXuq.selected-39BZ4S {
    border-bottom-color: transparent;
}
.emojiPicker-3m1S-j .categories-1feg4n .item-16cXuq {
    opacity: .6;
    background-size: 24px;
}
.emojiPicker-3m1S-j .categories-1feg4n .item-16cXuq.selected-39BZ4S, .emojiPicker-3m1S-j .categories-1feg4n .item-16cXuq.selected-39BZ4S:hover {
    opacity: 1
}

.emojiPicker-3m1S-j .categories-1feg4n .item-16cXuq:hover {
    opacity: .8;
}

.emojiPicker-3m1S-j .categories-1feg4n .item-16cXuq.recent-rdY7_c {
    background-image: url(https://cdn.discordapp.com/attachments/555111179840782360/559157371734065152/emojipicker-1.png) !important;
}
.emojiPicker-3m1S-j .categories-1feg4n .item-16cXuq.people-2y6eof {
    background-image: url(https://cdn.discordapp.com/attachments/555111179840782360/559157373193945103/emojipicker-2.png) !important;
}
.emojiPicker-3m1S-j .categories-1feg4n .item-16cXuq.nature-WkggKK {
    background-image: url(https://cdn.discordapp.com/attachments/555111179840782360/559157374594580520/emojipicker-3.png) !important;
}
.emojiPicker-3m1S-j .categories-1feg4n .item-16cXuq.food-3vb4RY {
    background-image: url(https://cdn.discordapp.com/attachments/555111179840782360/559157375953797121/emojipicker-4.png) !important;
}
.emojiPicker-3m1S-j .categories-1feg4n .item-16cXuq.activity-2oLAbd {
    background-image: url(https://cdn.discordapp.com/attachments/555111179840782360/559157381741805585/emojipicker-5.png) !important;
}
.emojiPicker-3m1S-j .categories-1feg4n .item-16cXuq.travel-2FeozN {
    background-image: url(https://cdn.discordapp.com/attachments/555111179840782360/559157381825691668/emojipicker-6.png) !important;
}
.emojiPicker-3m1S-j .categories-1feg4n .item-16cXuq.objects-ktZjG4 {
    background-image: url(https://cdn.discordapp.com/attachments/555111179840782360/559157384954642434/emojipicker-7.png) !important;
}
.emojiPicker-3m1S-j .categories-1feg4n .item-16cXuq.symbols-3xtDtJ {
    background-image: url(https://cdn.discordapp.com/attachments/555111179840782360/559157385718005802/emojipicker-8.png) !important;
}
.emojiPicker-3m1S-j .categories-1feg4n .item-16cXuq.flags-3peqg9 {
    background-image: url(https://cdn.discordapp.com/attachments/555111179840782360/559157388389908571/emojipicker-9.png) !important;
}
.emojiPicker-3m1S-j .categories-1feg4n .item-16cXuq.custom-2TY7UZ {
    background-image: url(https://cdn.discordapp.com/attachments/555111179840782360/559477925515100160/help-box_1.png) !important;
}
.emojiPicker-3m1S-j .scroller-3vODG7::-webkit-scrollbar-track {
    background: #303135 !important;
}
.emojiPicker-3m1S-j .scroller-3vODG7::-webkit-scrollbar {
    width: 4px !important;
}
.emojiPicker-3m1S-j .scroller-3vODG7::-webkit-scrollbar-thumb {
    border: solid 2px transparent;
    background: #212226 !important;
}
.emojiPicker-3m1S-j .scroller-3vODG7 .emojiItem-109bjA.selected-39BZ4S {
    background-color: #212226;
}
.emojiPicker-3m1S-j .category-2U57w6 {
    color: #BABBBF;
}
