//META{"name":"NoAutocompleteHover","description":"Mini theme that prevents mouse hover/click effects on chat autocomplete","author":"11pixels","version":"1"}*//{}
.autocompleteInner-zh20B_:after {
    content:"a"!important;
    display: block;
    position: absolute;
    background: red;
    width: 100%;
    height: 9000px;
    margin-top: -100%;
    opacity: 0;
}

.theme-dark .contentTitle-2tG_sM strong:after {
    content: " - KEYBOARD NAV ONLY";
    font-weight: 200 !important;
    color: #868686;
}
