/* 0.1 - might not update */
.userPopout-29jUdN .bannerSVGWrapper-qc0szY {
    display: none;
}
.userPopout-29jUdN .userPopoutInner-1v4xcM,
.userPopout-29jUdN .userPopoutInner-1v4xcM:before {
    padding: 0 !important;
    margin: 0 !important;
    border-radius: 0 !important;
    min-height: 0 !important;
    height: 0 !important;
}
.userPopout-29jUdN .avatarWrapper-3y0KZ1 {
    left: unset;
    right: 0;
    top: 0;
}
.userPopout-29jUdN .avatarWrapper-3y0KZ1 {
    padding-top: 4px;
    padding-left: 4px;
    background: #111;
    width: 84px;
    min-height: 84px !important;
    border-radius: 0;
}
.userPopout-29jUdN .avatarWrapper-3y0KZ1 foreignObject {
    mask: none;
    clip-path: polygon(15% 0%, 100% 0, 100% 85%, 85% 100%, 0 100%, 0% 15%);
}
.userPopout-29jUdN .avatarWrapper-3y0KZ1 circle,
.userPopout-29jUdN .avatarWrapper-3y0KZ1 rect {
    display: none;
}
.userPopout-29jUdN .avatarHint-2g3Mcd {
    top: 4px;
    left: 4px;
}
.userPopout-29jUdN .profileBadges-31rDHI {
    top: 90px;
    z-index: 10;
    right: 0;
    border-radius: 0;
    background: #111;
}
.userPopout-29jUdN .overlayBackground-2Zjm9f {
    position: absolute;
    padding: 0;
    margin: 0;
    top: 28px;
    right: 90px;
    background: none;
    border-radius: 0;
    overflow: visible;
    z-index: 12;
    --text-normal: #fff !important;
    --profile-role-pill-background-color: #444 !important;
    --interactive-active: #fff !important;
}
.userPopout-29jUdN .userTagNoNickname-2MJ9HD.userTag-PXLYzP,
.userPopout-29jUdN .nickname-2rimyL {
    background: #fff;
    padding: 4px;
    font-family: var(--font-primary);
}
.userPopout-29jUdN .userTagNoNickname-2MJ9HD.userTag-PXLYzP:after,
.userPopout-29jUdN .nickname-2rimyL:after {
    content: "";
    position: absolute;
    background: #fff;
    width: 16px;
    height: 32px;
    top: 0;
    right: -16px;
    clip-path: polygon(100% 50%, 0 0, 0 100%);
}
.userPopout-29jUdN .userTagNoNickname-2MJ9HD.userTag-PXLYzP .userTagUsernameNoNickname-2e_xaO,
.userPopout-29jUdN .nickname-2rimyL {
    color: #000;
    font-weight: 600;
}
.userPopout-29jUdN .userTagNoNickname-2MJ9HD.userTag-PXLYzP .discrimBase-KriZSj {
    color: #0008;
}
.userPopout-29jUdN .userTagWithNickname-3-znkC.userTag-PXLYzP {
    background: #111;
    padding: 4px;
    margin-top: 2px;
    width: auto;
    display: inline-block;
}
.userPopout-29jUdN .userTagWithNickname-3-znkC.userTag-PXLYzP .username-3JLfHz,
.userPopout-29jUdN .userTagWithNickname-3-znkC.userTag-PXLYzP .discrimBase-KriZSj {
    color: #fff;
}
.userPopout-29jUdN .customStatus-3Bvsdb {
    background: #111;
    padding: 4px;
    margin-top: 2px;
    display: inline-block;
    width: auto;
}
.userPopout-29jUdN .customStatus-3Bvsdb .customStatusEmoji-1hUpwD.customStatusSoloEmoji-3jUFFX {
    width: 24px;
    height: 24px;
}
.userPopout-29jUdN .section-3FmfOT {
    padding: 0;
}
.userPopout-29jUdN .title-1r9MQ6 {
    display: none;
}
.userPopout-29jUdN .title-1r9MQ6+.markup-eYLPri {
    background: #111;
    padding: 4px;
    margin-top: 2px;
}
.userPopout-29jUdN .divider-1tWBgZ {
    display: none;
}
.userPopout-29jUdN .roles-3zC7MX {
    background: #111;
    padding: 4px 2px 2px 4px;
}
.userPopout-29jUdN .note-6O4w9y {
    background: #111;
    margin-top: 2px;
}
.userPopout-29jUdN .messageInputContainer-2rGDH8 {
    background: #111;
    border-radius: 0;
    border: none;
    margin-top: 2px;
}