#avatar, #author-thumbnail, #author-thumbnail * {
    border-radius: 0 !important
}
tp-yt-paper-button.ytd-subscribe-button-renderer {
    background: linear-gradient(to bottom, #fff 0, #e0e0e0 100%) !important;
    color: #333 !important;
    text-transform: none !important;
    letter-spacing: 0 !important;
    border: 1px solid #ccc !important;
    padding: 0 !important;
    font-size: 11px !important;
    font-family: Arial !important;
    font-weight: bold !important;
    transition: 0s !important;
}
tp-yt-paper-button.ytd-subscribe-button-renderer:hover,
tp-yt-paper-button.ytd-subscribe-button-renderer:active {
    background: linear-gradient(to bottom, #fff 0, #d2d2d2 100%) !important;
    border-color: #333 !important;
}
tp-yt-paper-button.ytd-subscribe-button-renderer:active {
    box-shadow: inset 0 2px 2px rgb(0 0 0 / 75%) !important;
    background: linear-gradient(to top, #fff 0, #d2d2d2 100%) !important;
}
tp-yt-paper-button.ytd-subscribe-button-renderer:before {
    content: "" !important;
    width: 16px !important;
    height: 12px !important;
    padding: 6px 5px !important;
    background: no-repeat url(https://cdn.discordapp.com/attachments/733624227378495488/857302918662717480/www-hitchhiker-vflmnaCdT.png) -90px -160px content-box, #a9382e !important;
    border: 1px solid #880904 !important;
    margin: -1px 0 -1px -1px !important;
    border-radius: 3px 0 0 3px !important;
}
tp-yt-paper-button.ytd-subscribe-button-renderer:hover:before,
tp-yt-paper-button.ytd-subscribe-button-renderer:active:before {
    background: no-repeat url(https://cdn.discordapp.com/attachments/733624227378495488/857302918662717480/www-hitchhiker-vflmnaCdT.png) -90px -160px content-box, linear-gradient(to bottom, #b85046 0, #91251e 100%) !important;
}
tp-yt-paper-button.ytd-subscribe-button-renderer:active:before {
    background: no-repeat url(https://cdn.discordapp.com/attachments/733624227378495488/857302918662717480/www-hitchhiker-vflmnaCdT.png) -90px -160px content-box, linear-gradient(to top, #b85046 0, #91251e 100%) !important;
    box-shadow: inset 0 2px 2px rgb(0 0 0 / 75%) !important;
}
tp-yt-paper-button.ytd-subscribe-button-renderer yt-formatted-string {
    padding: 0 6px !important;
}
tp-yt-paper-button.ytd-subscribe-button-renderer[subscribed] {
    background: #fff !important;
    color: #949494 !important;
    border-color: #e1e1e1 !important;
}
tp-yt-paper-button.ytd-subscribe-button-renderer[subscribed] yt-formatted-string {
    font-size: 0 !important;
}
tp-yt-paper-button.ytd-subscribe-button-renderer[subscribed] yt-formatted-string:after {
    font-size: 11px !important;
    content: "Subscribed" !important;
}
tp-yt-paper-button.ytd-subscribe-button-renderer[subscribed]:hover yt-formatted-string:after,
tp-yt-paper-button.ytd-subscribe-button-renderer[subscribed]:active yt-formatted-string:after {
    font-size: 11px !important;
    content: "Unsubscribe" !important;
}
tp-yt-paper-button.ytd-subscribe-button-renderer[subscribed]:before {
    border: none !important;
    background: no-repeat url(https://cdn.discordapp.com/attachments/733624227378495488/857302918662717480/www-hitchhiker-vflmnaCdT.png) -237px -148px content-box !important;
    margin: none !important;
    width: 11px !important;
    padding: 7px 0 5px 6px !important;
}
tp-yt-paper-button.ytd-subscribe-button-renderer[subscribed]:hover,
tp-yt-paper-button.ytd-subscribe-button-renderer[subscribed]:active {
    background: #a9382e !important;
    box-shadow: none !important;
}
tp-yt-paper-button.ytd-subscribe-button-renderer[subscribed]:hover yt-formatted-string:after,
tp-yt-paper-button.ytd-subscribe-button-renderer[subscribed]:active yt-formatted-string:after {
    color: #fff !important;
    text-shadow: 0 -1px 0 rgb(0 0 0 / 50%) !important;
    opacity: .9 !important;
}
tp-yt-paper-button.ytd-subscribe-button-renderer[subscribed]:hover:before,
tp-yt-paper-button.ytd-subscribe-button-renderer[subscribed]:active:before {
    border: none !important;
    background: no-repeat url(https://cdn.discordapp.com/attachments/733624227378495488/857302918662717480/www-hitchhiker-vflmnaCdT.png) -46px 0 content-box !important;
    margin: none !important;
    width: 11px !important;
    padding: 6px 0 6px 6px !important;
    box-shadow: none !important;
    border: none !important;
}
#sponsor-button tp-yt-paper-button {
    background: linear-gradient(to bottom, #fff 0, #e0e0e0 100%) !important;
    color: #333 !important;
    text-transform: none !important;
    letter-spacing: 0 !important;
    border: 1px solid #ccc !important;
    padding: 0 !important;
    font-size: 11px !important;
    font-family: Arial !important;
    font-weight: bold !important;
    transition: 0s !important;
}
#sponsor-button tp-yt-paper-button:hover,
#sponsor-button tp-yt-paper-button:active {
    background: linear-gradient(to bottom, #fff 0, #d2d2d2 100%) !important;
    border-color: #333 !important;
}
#sponsor-button tp-yt-paper-button:active {
    box-shadow: inset 0 2px 2px rgb(0 0 0 / 75%) !important;
    background: linear-gradient(to top, #fff 0, #d2d2d2 100%) !important;
}
#sponsor-button tp-yt-paper-button:before {
    content: "" !important;
    width: 16px !important;
    height: 12px !important;
    padding: 6px 5px !important;
    background: no-repeat url(https://cdn.discordapp.com/attachments/733624227378495488/857302918662717480/www-hitchhiker-vflmnaCdT.png) -387px -43px content-box, #79ba64 !important;
    border: 1px solid #499b2e !important;
    margin: -1px 0 -1px -1px !important;
    border-radius: 3px 0 0 3px !important;
}
#sponsor-button tp-yt-paper-button:hover:before,
#sponsor-button tp-yt-paper-button:active:before {
    background: no-repeat url(https://cdn.discordapp.com/attachments/733624227378495488/857302918662717480/www-hitchhiker-vflmnaCdT.png) -387px -43px content-box, linear-gradient(to bottom, #92cb83 0, #5ba54c 100%) !important;
}
#sponsor-button tp-yt-paper-button:active:before {
    background: no-repeat url(https://cdn.discordapp.com/attachments/733624227378495488/857302918662717480/www-hitchhiker-vflmnaCdT.png) -387px -43px content-box, linear-gradient(to top, #92cb83 0, #5ba54c 100%) !important;
    box-shadow: inset 0 2px 2px rgb(0 0 0 / 75%) !important;
}
#sponsor-button tp-yt-paper-button yt-formatted-string {
    padding: 0 6px !important;
}
