ytd-expandable-metadata-renderer {
    background: var(--yt-spec-additive-background);
}
ytd-expandable-metadata-renderer[is-expanded] {
    background: transparent;
    border: 1px solid var(--yt-spec-outline);
}
ytd-flat-dropdown-renderer tp-yt-paper-listbox.ytd-flat-dropdown-renderer {
    background-color: var(--yt-spec-raised-background);
}
ytd-alert-with-button-renderer[type=INFO],
ytd-alert-with-button-renderer[type=SUCCESS] {
    background-color: var(--yt-spec-additive-background);
}
ytd-destination-button-renderer {
    background: var(--yt-spec-additive-background);
}
ytd-handles-claiming-header-renderer #action-button.ytd-handles-claiming-header-renderer ytd-button-renderer.ytd-handles-claiming-header-renderer {
    width: 320px;
}
html.ytd-rich-grid-media,
.ytd-rich-grid-media .ytd-rich-grid-media[light] {
    --yt-spec-text-primary: #0f0f0f;
    --yt-spec-text-primary-inverse: #fff;
}
html.ytd-rich-grid-media.ytd-rich-grid-media[dark],
.ytd-rich-grid-media .ytd-rich-grid-media[dark] {
    --yt-spec-text-primary: #f1f1f1;
    --yt-spec-text-primary-inverse: #0f0f0f;
}
yt-chip-cloud-renderer {
    background-color: var(--yt-spec-base-background);
}
yt-chip-cloud-renderer #left-arrow.yt-chip-cloud-renderer:after {
    background: linear-gradient(to right, var(--ytd-chip-cloud-background, var(--yt-spec-base-background)) 10%, rgba(249, 249, 249, 0) 90%);
}
yt-chip-cloud-renderer[is-dark-theme] #left-arrow.yt-chip-cloud-renderer:after {
    background: linear-gradient(to right, var(--ytd-chip-cloud-background, var(--yt-spec-base-background)) 10%, rgba(24, 24, 24, 0) 90%);
}
yt-chip-cloud-renderer #right-arrow.yt-chip-cloud-renderer:before {
    background: linear-gradient(to left, var(--ytd-chip-cloud-background, var(--yt-spec-base-background)) 10%, rgba(249, 249, 249, 0) 90%);
}
yt-chip-cloud-renderer[is-dark-theme] #right-arrow.yt-chip-cloud-renderer:before {
    background: linear-gradient(to left, var(--ytd-chip-cloud-background, var(--yt-spec-base-background)) 10%, rgba(24, 24, 24, 0) 90%);
}
yt-chip-cloud-renderer #left-arrow-button.yt-chip-cloud-renderer,
yt-chip-cloud-renderer #right-arrow-button.yt-chip-cloud-renderer {
    background: var(--ytd-chip-cloud-background, var(--yt-spec-base-background));
}
yt-chip-cloud-renderer#search-chip-bar {
    background-color: var(--yt-spec-base-background);
}
yt-chip-cloud-renderer#search-chip-bar #left-arrow-button.yt-chip-cloud-renderer,
yt-chip-cloud-renderer#search-chip-bar #right-arrow-button.yt-chip-cloud-renderer {
    background: var(--yt-spec-base-background);
}
ytd-commerce-cart-renderer {
    background: transparent;
}
ytd-merch-shelf-renderer {
    background-color: var(--yt-spec-base-background);
}
ytd-c4-tabbed-header-renderer {
    --yt-lightsource-section1-color: var(--yt-spec-base-background);
}
ytd-c4-tabbed-header-renderer #channel-container.ytd-c4-tabbed-header-renderer,
ytd-c4-tabbed-header-renderer #tabs-container.ytd-c4-tabbed-header-renderer {
    background-color: var(--yt-spec-base-background);
}
ytd-c4-tabbed-header-renderer #tabs-divider.ytd-c4-tabbed-header-renderer {
    display: block;
    position: absolute;
    width: 100%;
    bottom: 0px;
    border-bottom: 1px solid var(--yt-spec-10-percent-layer);
}
ytd-c4-tabbed-header-renderer tp-yt-paper-tabs.ytd-c4-tabbed-header-renderer {
    padding-bottom: 0px;
}
ytd-playlist-sidebar-renderer {
    background-color: transparent;
}
ytd-settings-sidebar-renderer {
    background-color: transparent;
}
ytd-carousel-header-renderer {
    background-color: var(--yt-spec-additive-background);
}
ytd-feed-filter-chip-bar-renderer #left-arrow.ytd-feed-filter-chip-bar-renderer:after {
    background: linear-gradient(to right, var(--yt-spec-base-background) 20%, rgba(255, 255, 255, 0) 80%);
}
ytd-feed-filter-chip-bar-renderer[is-dark-theme] #left-arrow.ytd-feed-filter-chip-bar-renderer:after {
    background: linear-gradient(to right, var(--yt-spec-base-background) 20%, rgba(33, 33, 33, 0) 80%);
}
ytd-feed-filter-chip-bar-renderer #right-arrow.ytd-feed-filter-chip-bar-renderer:before {
    background: linear-gradient(to left, var(--yt-spec-base-background) 20%, rgba(255, 255, 255, 0) 80%);
}
ytd-feed-filter-chip-bar-renderer[is-dark-theme] #right-arrow.ytd-feed-filter-chip-bar-renderer:before {
    background: linear-gradient(to left, var(--yt-spec-base-background) 20%, rgba(33, 33, 33, 0) 80%);
}
ytd-feed-filter-chip-bar-renderer #left-arrow-button.ytd-feed-filter-chip-bar-renderer,
ytd-feed-filter-chip-bar-renderer #right-arrow-button.ytd-feed-filter-chip-bar-renderer {
    background-color: var(--yt-spec-base-background);
}
ytd-feed-filter-chip-bar-renderer #chips-wrapper.ytd-feed-filter-chip-bar-renderer {
    background-color: var(--yt-spec-base-background);
    border-top: none;
    border-bottom: none;
}
ytd-feed-filter-chip-bar-renderer[component-style=FEED_FILTER_CHIP_BAR_STYLE_TYPE_HASHTAG_LANDING_PAGE] #chips-wrapper.ytd-feed-filter-chip-bar-renderer {
    background-color: var(--yt-spec-base-background);
}
ytd-tvfilm-offer-module-renderer {
    border-color: var(--yt-spec-outline);
}
@media(min-width:876px) {
    ytd-two-column-browse-results-renderer[page-subtype=history] #secondary.ytd-two-column-browse-results-renderer {
        background-color: transparent;
    }
}
ytd-browse[page-subtype=channels],
ytd-browse[page-subtype=channels][background-refresh],
ytd-browse[page-subtype=trending][has-c4-tabbed-header-renderer],
ytd-browse[page-subtype=trending][has-c4-tabbed-header-renderer][background-refresh] {
    background: transparent;
}
ytd-browse[page-subtype=playlist],
ytd-browse[page-subtype=show],
ytd-browse[page-subtype=playlist] ytd-two-column-browse-results-renderer.ytd-browse,
ytd-browse[page-subtype=show] ytd-two-column-browse-results-renderer.ytd-browse,
ytd-browse[page-subtype=playlist][background-refresh],
ytd-browse[page-subtype=show][background-refresh] {
    background: transparent;
}
ytd-watch-card-rich-header-renderer {
    background-color: var(--yt-spec-additive-background);
}
ytd-watch-card-section-dropdown-renderer {
    background-color: transparent;
}
yt-notification-action-renderer tp-yt-paper-toast.yt-notification-action-renderer {
    background-color: var(--yt-spec-inverted-background);
}
ytd-backstage-post-dialog-popup-renderer[dialog][dialog][dialog] {
    background-color: var(--yt-spec-raised-background);
}
ytd-simple-menu-header-renderer {
    background-color: var(--yt-spec-menu-background);
    border-bottom-color: var(--yt-spec-outline);
}
ytd-multi-page-menu-renderer {
    background: var(--yt-spec-menu-background);
}
ytd-channel-switcher-renderer[dialog][dialog][dialog] {
    background-color: var(--yt-spec-raised-background);
}
ytd-checkbox-survey-renderer[dialog][dialog][dialog] {
    background-color: var(--yt-spec-raised-background);
}
ytd-dismissal-follow-up-renderer[dialog][dialog][dialog] {
    background-color: var(--yt-spec-raised-background);
}
ytd-single-select-question-renderer[dialog][dialog][dialog] {
    background-color: var(--yt-spec-raised-background);
}
ytd-single-option-survey-renderer[dialog][dialog][dialog] {
    background-color: var(--yt-spec-raised-background);
}
ytd-survey-follow-up-renderer[dialog][dialog][dialog] {
    background-color: var(--yt-spec-raised-background);
}
ytd-legal-report-details-form-renderer[dialog][dialog][dialog] {
    background-color: initial;
}
ytd-flow-root-renderer[dialog][dialog][dialog] {
    background-color: var(--yt-spec-raised-background);
}
ytd-form-popup-renderer[dialog][dialog][dialog] {
    background-color: var(--yt-spec-raised-background);
}
ytd-connect-gpg-dialog-renderer[dialog][dialog][dialog] {
    background-color: var(--yt-spec-raised-background);
}
ytd-gaming-account-link-confirm-dialog-renderer[dialog][dialog][dialog] {
    background-color: var(--yt-spec-raised-background);
}
ytd-gaming-account-link-setting-renderer[dialog][dialog][dialog] {
    background-color: var(--yt-spec-raised-background);
}
ytd-queue-to-play-dialog-renderer[dialog][dialog][dialog] {
    background-color: var(--yt-spec-raised-background);
}
ytd-guide-entry-renderer[active] {
    background-color: var(--yt-spec-additive-background);
}
ytd-mini-guide-entry-renderer {
    background-color: var(--yt-spec-base-background);
}
ytd-mini-guide-renderer {
    background-color: var(--yt-spec-base-background);
}
ytd-handles-claiming-confirm-dialog-renderer[dialog][dialog][dialog] {
    background-color: var(--yt-spec-raised-background);
}
ytd-handles-claiming-edit-dialog-renderer[dialog][dialog][dialog] {
    background-color: var(--yt-spec-raised-background);
}
ytd-handles-claiming-select-dialog-renderer[dialog][dialog][dialog] {
    background-color: var(--yt-spec-raised-background);
}
ytd-hotkey-dialog-renderer[dialog][dialog][dialog] {
    background: initial;
}
ytd-menu-popup-renderer {
    background-color: var(--yt-spec-menu-background);
}
ytd-pdg-buy-flow-renderer[dialog][dialog][dialog] {
    background-color: var(--yt-spec-raised-background);
}
ytd-red-cancel-survey-renderer[dialog][dialog][dialog] {
    background-color: var(--yt-spec-raised-background);
}
ytd-download-quality-selector-renderer[dialog][dialog][dialog] {
    background-color: var(--yt-spec-raised-background);
}
ytd-cross-account-transfer-channel-confirm-dialog-renderer[dialog][dialog][dialog] {
    background-color: initial;
}
ytd-cross-account-transfer-channel-overview-renderer[dialog][dialog][dialog] {
    background-color: initial;
}
ytd-cross-account-transfer-channel-tnc-dialog-renderer[dialog][dialog][dialog] {
    background-color: initial;
}
ytd-transfer-channel-confirm-dialog-renderer[dialog][dialog][dialog] {
    background-color: initial;
}
ytd-membership-post-cancel-renderer[dialog][dialog][dialog] {
    background-color: var(--yt-spec-raised-background);
}
ytd-sponsorship-confirm-cancel-renderer[dialog][dialog][dialog] {
    background-color: initial;
}
ytd-sponsorships-celebration-renderer[dialog][dialog][dialog] {
    background-color: var(--yt-spec-raised-background);
}
ytd-sponsorships-offer-renderer[dialog][dialog][dialog] {
    background-color: initial;
}
ytd-subscription-notification-options-renderer[dialog][dialog][dialog] {
    background-color: var(--yt-spec-raised-background);
}
ytd-ypc-offers-overlay-renderer[dialog][dialog][dialog] {
    background-color: var(--yt-spec-raised-background);
}
ytd-offline-promo-renderer[dialog][dialog][dialog] {
    background-color: var(--yt-spec-raised-background);
}
ytd-consent-bump-v2-lightbox .loading-overlay.ytd-consent-bump-v2-lightbox {
    background: var(--yt-spec-raised-background);
}
ytd-consent-bump-v2-lightbox .error-overlay.ytd-consent-bump-v2-lightbox {
    background: var(--yt-spec-inverted-background);
}
ytd-ypc-transaction-error-message-renderer[dialog][dialog][dialog] {
    background-color: var(--yt-spec-raised-background);
}
ytd-masthead {
    background: var(--yt-spec-base-background);
}
ytd-app {
    background: var(--yt-spec-base-background);
    --app-drawer-content-container-background-color: var( --yt-spec-base-background);
}
ytd-app #guide-content.ytd-app {
    background: var(--yt-spec-base-background);
}
html,
 [light] {
    --yt-spec-text-primary: #0f0f0f;
    --yt-spec-text-primary-inverse: #fff;
}
html[dark],
 [dark] {
    --yt-spec-text-primary: #f1f1f1;
    --yt-spec-text-primary-inverse: #0f0f0f;
}
html {
    --paper-dialog-background-color: var(--yt-spec-raised-background);
    --paper-listbox-background-color: var(--yt-spec-menu-background);
    --paper-menu-background-color: var(--yt-spec-menu-background);
}