.osu-layout--body, .osu-layout--body-landing {
  background: #a9a9ff linear-gradient(#686ec2, #a9a9ff 183px);
  background-repeat: no-repeat;
  --font-default: "Arial Grande",Tahoma,Helvetica,Arial,sans-serif;
  --font-content: "Arial Grande",Tahoma,Helvetica,Arial,sans-serif;
  font-family: "Arial Grande", Tahoma, Helvetica, Arial, sans-serif;
}

.osu-layout__section {
  margin-bottom: 40px;
}

.header-v4__bg-container, .nav2-header__transition-overlay, .nav2-header__triangles {
  display: none;
}

.nav2-header {
  position: unset;
}

.nav2-header__body .nav2.js-nav-button {
  height: 146px;
  justify-content: flex-end;
}
.nav2-header__body .nav2.js-nav-button > .nav2__colgroup {
  flex: 0;
  width: 100%;
}

.header-v4__container {
  padding-top: 0;
  min-height: 0;
}

.js-header-is-pinned .nav2 {
  height: 90px;
}

.nav2__col.nav2__col--logo {
  width: 0 !important;
  height: 175px !important;
  position: absolute;
  top: 0;
}
.nav2__col.nav2__col--logo .nav2__logo-link {
  width: 0 !important;
  height: 175px !important;
}
.nav2__col.nav2__col--logo .nav2__logo--bg {
  display: none !important;
}
.nav2__col.nav2__col--logo .nav2__logo {
  background-image: url("https://s.ppy.sh/images/head-logo.png");
  width: 175px !important;
  height: 175px !important;
  left: -107px;
  top: 0;
  clip-path: path("M165 87.5C165 130.302 130.302 165 87.5 165C44.6979 165 10 130.302 10 87.5C10 44.6979 44.6979 10 87.5 10C130.302 10 165 44.6979 165 87.5Z");
  transform: none !important;
}
.nav2__col.nav2__col--logo + div {
  margin-left: 52px;
}

.nav2 {
  flex-direction: column;
}

.nav2__colgroup.nav2__colgroup--menu {
  height: 24px;
  align-self: flex-end;
  flex: 1;
  background: #fed5f2;
}
.nav2__colgroup.nav2__colgroup--menu .nav2__col.nav2__col--menu {
  height: 24px;
}
.nav2__colgroup.nav2__colgroup--menu .nav2__col.nav2__col--menu .nav2__menu-link-main {
  color: #4e2151;
  line-height: 24px;
  font-size: 11px;
  font-weight: bold;
  transition: 0s;
  padding-right: 2.25em;
}
.nav2__colgroup.nav2__colgroup--menu .nav2__col.nav2__col--menu .nav2__menu-link-main.js-menu--active {
  background: #f375c5;
  color: #fff;
}
.nav2__colgroup.nav2__colgroup--menu .nav2__col.nav2__col--menu .nav2__menu-link-main .u-relative {
  position: unset;
}
.nav2__colgroup.nav2__colgroup--menu .nav2__col.nav2__col--menu .nav2__menu-link-main .u-relative:after {
  content: " »";
  position: absolute;
  display: block;
  right: 0.75em;
  top: 0.8em;
  width: 10px;
  height: 10px;
  text-indent: -999em;
  overflow: hidden;
  background: url("https://s.ppy.sh/images/arrows-ffffff.png") no-repeat 0 -100px;
}
.nav2__colgroup.nav2__colgroup--menu .nav2__col.nav2__col--menu:hover .u-relative:after {
  background-position: -10px -100px;
}
.nav2__colgroup.nav2__colgroup--menu .nav2__col.nav2__col--menu .nav2__menu-popup {
  left: 0;
}
.nav2__colgroup.nav2__colgroup--menu .nav2__col.nav2__col--menu .simple-menu {
  left: 0 !important;
  padding: 0;
  margin-top: 20px;
  border-radius: 0;
  background: #eca1dd !important;
}
.nav2__colgroup.nav2__colgroup--menu .nav2__col.nav2__col--menu .simple-menu .simple-menu__item {
  padding: 0 1em;
  line-height: 24px;
  font-size: 11px;
  font-weight: bold;
  color: #4e2151;
  border-radius: 0;
}
.nav2__colgroup.nav2__colgroup--menu .nav2__col.nav2__col--menu .simple-menu .simple-menu__item:hover {
  background: #f375c5;
  color: #fff;
}
.nav2__colgroup.nav2__colgroup--menu .nav2__col.nav2__col--menu .simple-menu .simple-menu__item:before {
  display: none !important;
}
.nav2__colgroup.nav2__colgroup--menu .nav2__menu-link-bar {
  display: none;
}
.nav2__colgroup.nav2__colgroup--menu .nav2__menu-link-main--search {
  height: 24px;
  border-radius: 0;
  padding: 0 !important;
}
.nav2__colgroup.nav2__colgroup--menu .nav2__menu-link-main--search.u-section--bg-normal {
  background: #f375c5 !important;
  color: #fff !important;
}

.nav2__colgroup--icons {
  justify-content: end;
  background: #fff;
  border-radius: 4px 4px 0 0;
  border: solid 2px #5a539a;
  border-width: 2px 2px 0 2px;
  color: #666;
}
.nav2__colgroup--icons .avatar--nav2 {
  width: 24px;
  height: 24px;
  border-radius: 0;
  box-shadow: none !important;
}
.nav2__colgroup--icons .nav-button {
  padding: 0;
}
.nav2__colgroup--icons .nav-button--twitter {
  position: absolute;
  background: url(https://s.ppy.sh/images/social.png);
  top: 6px;
  width: 61px;
  height: 62px;
  background-position: -61px 0;
  right: 100px;
}
.nav2__colgroup--icons .nav-button--twitter:hover {
  background-position: -61px 62px;
}
.nav2__colgroup--icons .nav-button--twitter span {
  display: none;
}
.nav2__colgroup--icons .nav-button--support {
  position: absolute;
  background: url(https://s.ppy.sh/images/social.png);
  top: 6px;
  width: 61px;
  height: 62px;
  right: 40px;
  background-position: -122px 0;
}
.nav2__colgroup--icons .nav-button--support:hover {
  background-position: -122px 62px;
}
.nav2__colgroup--icons .nav-button--support span {
  display: none;
}
.nav2__colgroup--icons .nav2__notification-container {
  border: none;
  padding: 0;
  border-radius: 0;
  gap: 8px;
}
.nav2__colgroup--icons .nav2__notification-container .notification-icon {
  color: #666 !important;
}

.nav2-header__menu-bg {
  display: none;
}

.header-v4__content, .osu-page {
  max-width: 864px;
}

.header-v4__row .game-mode {
  position: unset;
}

.header-v4__row--title {
  background: #f0ecfa;
  border: solid 2px #5a539a;
  border-top: none;
  border-bottom: none;
  display: none;
}

.header-v4__row--bar {
  background: #f0ecfa;
  border: solid 2px #5a539a;
  border-top: none;
  border-bottom: none;
  padding-left: 6px;
  padding-right: 6px;
}

.user-home {
  padding-left: 0;
  padding-right: 0;
  background: #f0ecfa;
  border: solid 2px #5a539a;
  border-top: none;
  box-shadow: none;
  border-radius: 0 0 4px 4px;
}
.user-home .user-home__news {
  width: 500px;
  margin-right: 0;
  box-sizing: border-box;
  padding-left: 7px;
  padding-right: 8px;
}
.user-home .user-home__news .user-home__news-title {
  font-size: 17px;
  color: #de3397;
  font-weight: 400;
  padding-top: 4px;
  padding-bottom: 5px;
}
.user-home .user-home__news .news-post-preview {
  box-shadow: none;
}
.user-home .user-home__news .news-post-preview .news-post-preview__image {
  border-radius: 5px 5px 0 0;
}
.user-home .user-home__news .news-post-preview .news-post-preview__body {
  background: #fff;
  padding: 5px 3px;
  border-radius: 0 0 5px 5px;
  border: solid 1px #d2d4fa;
  border-top: solid 1px #e869a2;
}
.user-home .user-home__news .news-post-preview .news-post-preview__body .news-post-preview__post-date {
  margin: 0 8px 0 0;
  color: #000;
  font-size: 13px;
  border-color: #d2d4fa;
}
.user-home .user-home__news .news-post-preview .news-post-preview__body .news-post-preview__post-title {
  color: #3843a6;
  font-size: 13px;
  font-weight: bold;
  margin: 0 0 2px 0;
}
.user-home .user-home__news .news-post-preview .news-post-preview__body .news-post-preview__post-content {
  color: #000;
  font-size: 11px;
}
.user-home .user-home__news .news-post-preview .news-post-preview__body .news-post-preview__post-content p {
  margin: 0;
}
.user-home .user-home__news .user-home__news-posts-group {
  padding: 0;
  background: none;
  box-shadow: none;
}
.user-home .user-home__news .user-home__news-posts-group .news-post-preview--collapsed {
  margin-bottom: 4px;
}
.user-home .user-home__news .user-home__news-posts-group--more {
  color: #3843a6;
  margin: 0;
}
.user-home .user-home__right-sidebar {
  width: 360px;
  margin-left: 0;
  background: #0000;
  padding-left: 0;
  padding-top: 0;
  padding-bottom: 0;
  box-shadow: none;
}
.user-home .user-home__right-sidebar .user-home__status-box .user-online-status {
  margin: 0;
}
.user-home .user-home__right-sidebar .user-home__status-box .user-online-status__item {
  padding: 0;
  flex: 1;
}
.user-home .user-home__right-sidebar .user-home__status-box .user-online-status__item .user-online-status__label {
  color: #cc2e8a;
  font-size: 11px;
}
.user-home .user-home__right-sidebar .user-home__status-box .user-online-status__item .user-online-status__value {
  color: #cc2e8a;
  font-size: 14px;
  font-weight: 400;
}
.user-home .user-home__right-sidebar .user-home__status-box .user-online-status__item--chart .fancy-graph {
  width: 350px;
}
.user-home .user-home__right-sidebar .user-home__status-box .user-online-status__item--chart .fancy-graph .fancy-graph__hover-area {
  width: 350px;
}
.user-home .user-home__right-sidebar .user-home__status-box .user-online-status__item--chart .fancy-graph g {
  transform-origin: center left;
  transform: scaleX(calc(350/334)) translate(0, 25px);
}
.user-home .user-home__right-sidebar .user-home__status-box .user-online-status__item--chart .fancy-graph .fancy-graph__line {
  stroke: #de3397;
}
.user-home .user-home__right-sidebar .user-home__status-box .user-online-status__item--chart .fancy-graph .fancy-graph__circle {
  stroke: #0000ff;
  fill: #0000ff;
}
.user-home .user-home__right-sidebar .user-home__buttons {
  z-index: 2;
  position: relative;
}
.user-home .user-home__right-sidebar .user-home__buttons .user-home__button {
  margin: 0 !important;
}
.user-home .user-home__right-sidebar .user-home__buttons .user-home__button a {
  background: cyan;
  width: 356px;
  height: 55px;
  transform: none !important;
  box-shadow: none !important;
  border-radius: 0 !important;
  margin: 0 !important;
}
.user-home .user-home__right-sidebar .user-home__buttons .user-home__button a span {
  display: none;
}
.user-home .user-home__right-sidebar .user-home__buttons .user-home__button a[href="https://osu.ppy.sh/home/download"] {
  background: url("https://s.ppy.sh/images/osu-download.png");
}
.user-home .user-home__right-sidebar .user-home__buttons .user-home__button a[href="https://osu.ppy.sh/store/listing"] {
  background: url("https://s.ppy.sh/images/osu-goodies.png");
}
.user-home .user-home__right-sidebar .user-home__buttons .user-home__button a[href="https://osu.ppy.sh/home/support"] {
  background: url("https://s.ppy.sh/images/osu-support.png");
}
.user-home .user-home__right-sidebar .user-home__beatmap-list-title {
  font-size: 17px;
  color: #de3397;
  font-weight: 400;
  padding-top: 16px;
  padding-bottom: 5px;
}
.user-home .user-home__right-sidebar .user-home__beatmapsets {
  border: solid 2px #9799cc;
  border-radius: 4px;
  margin-top: 0;
}
.user-home .user-home__right-sidebar .user-home__beatmapsets .user-home-beatmapset {
  margin: 0;
  width: 100%;
  padding: 1px 4px;
  background: #e3e1fa !important;
}
.user-home .user-home__right-sidebar .user-home__beatmapsets .user-home-beatmapset:nth-child(odd) {
  background: #edebfa !important;
}
.user-home .user-home__right-sidebar .user-home__beatmapsets .user-home-beatmapset .beatmapset-cover {
  width: 80px;
}
.user-home .user-home__right-sidebar .user-home__beatmapsets .user-home-beatmapset .user-home-beatmapset__meta {
  color: #3843a6;
}
.user-home .user-home__right-sidebar .user-home__beatmapsets .user-home-beatmapset .user-home-beatmapset__meta .user-home-beatmapset__playmode-icon {
  font-size: 6pt;
}
.user-home .user-home__right-sidebar .user-home__beatmapsets .user-home-beatmapset .user-home-beatmapset__meta .user-home-beatmapset__title,
.user-home .user-home__right-sidebar .user-home__beatmapsets .user-home-beatmapset .user-home-beatmapset__meta .user-home-beatmapset__artist,
.user-home .user-home__right-sidebar .user-home__beatmapsets .user-home-beatmapset .user-home-beatmapset__meta .user-home-beatmapset__creator {
  font-size: 8pt;
}
.user-home .user-home__right-sidebar .user-home__beatmapsets .user-home-beatmapset .user-home-beatmapset__chevron {
  display: none;
}

.osu-layout__row {
  max-width: 864px;
}

.header-v4__container .header-nav-v4 {
  flex: 1;
  margin-bottom: 8px;
  margin-top: 8px;
  gap: 8px;
}
.header-v4__container .header-nav-v4:before {
  display: none;
}
.header-v4__container .header-nav-v4 .header-nav-v4__item {
  flex: 1;
  justify-content: center;
}
.header-v4__container .header-nav-v4 .header-nav-v4__item .header-nav-v4__link {
  flex: 1;
  background: #e7e4fc;
  border: solid 2px #978cd0;
  border-radius: 5px;
  line-height: 30px;
  font-size: 16px;
  padding: 0 8px;
  height: 30px;
  box-sizing: content-box;
  font-size: 16px;
  padding: 0;
  text-align: center;
  line-height: 30px;
  color: #3843a6;
  transition: 0s !important;
  font-weight: 400 !important;
}
.header-v4__container .header-nav-v4 .header-nav-v4__item .header-nav-v4__link:before {
  display: none !important;
}
.header-v4__container .header-nav-v4 .header-nav-v4__item .header-nav-v4__link:hover {
  text-shadow: #e5c6db 1px 1px 2px;
}
.header-v4__container .header-nav-v4 .header-nav-v4__item .header-nav-v4__link.header-nav-v4__link--active {
  background: #bea8f4;
  color: #fff;
}

.beatmapsets-search {
  padding: 1px 20px;
  background: #f0ecfa;
  border: solid 2px #5a539a;
  border-top: none;
  border-bottom: none;
  box-shadow: none;
}
.beatmapsets-search .beatmapsets-search__cover {
  display: none;
}
.beatmapsets-search .beatmapsets-search__input-container {
  margin: 0;
}
.beatmapsets-search .beatmapsets-search__input {
  border: solid 1px #90ace7 !important;
  background: none;
  color: #000;
  padding: 1px 2px;
  font-size: 12px;
  border-radius: 3px;
}
.beatmapsets-search .beatmapsets-search__icon {
  display: none;
}
.beatmapsets-search .beatmapsets-search__filter-grid .beatmapsets-search-filter__header {
  color: #000;
  font-size: 8pt;
}
.beatmapsets-search .beatmapsets-search__filter-grid .beatmapsets-search-filter__item {
  color: #3843a6;
  font-size: 8pt;
}
.beatmapsets-search .beatmapsets-search__filter-grid .beatmapsets-search-filter__item.beatmapsets-search-filter__item--featured-artists {
  text-shadow: 0 0 10px #efcfe1;
}
.beatmapsets-search .beatmapsets-search__filter-grid .beatmapsets-search-filter__item.beatmapsets-search-filter__item--active {
  color: #000;
  font-weight: bold;
}
.beatmapsets-search .beatmapsets-search__expand-link {
  color: #3843a6;
  font-size: 8pt;
  font-weight: bold;
}

.beatmapsets {
  padding: 0;
  background: #f0ecfa;
  border: solid 2px #5a539a;
  border-top: none;
  border-bottom: none;
}
.beatmapsets .beatmapsets__content {
  padding: 0 2px;
}
.beatmapsets .beatmapsets__content .beatmapsets__item {
  margin: 2px 0;
  width: 50%;
}
.beatmapsets .beatmapsets__content .beatmapset-panel {
  padding: 0;
  height: 60px;
  border: solid 1px #dad7fb;
  background: #e7e4fc;
  border-radius: 5px;
  overflow: hidden;
  --menu-container-width: 0px;
}
.beatmapsets .beatmapsets__content .beatmapset-panel:hover {
  --menu-container-width: 24px;
}
.beatmapsets .beatmapsets__content .beatmapset-panel .beatmapset-panel__menu-container {
  border-radius: 0 5px 5px 0;
}
.beatmapsets .beatmapsets__content .beatmapset-panel .beatmapset-panel__menu-container:before, .beatmapsets .beatmapsets__content .beatmapset-panel .beatmapset-panel__menu-container:after {
  display: none;
}
.beatmapsets .beatmapsets__content .beatmapset-panel .beatmapset-panel__play-container {
  width: 80px;
  border-radius: 5px 0 0 5px;
}
.beatmapsets .beatmapsets__content .beatmapset-panel .beatmapset-panel__info {
  border-radius: 0;
  background: #e7e4fc;
}
.beatmapsets .beatmapsets__content .beatmapset-panel .beatmapset-panel__info .beatmapset-panel__info-row--title {
  color: #000;
  font-size: 12.8px;
  text-shadow: none;
  font-weight: normal;
}
.beatmapsets .beatmapsets__content .beatmapset-panel .beatmapset-panel__info :is(.beatmapset-panel__info-row--artist, .beatmapset-panel__info-row--mapper) {
  color: #75787a;
  font-size: 9.6px;
  text-shadow: none;
  font-weight: normal;
}
.beatmapsets .beatmapsets__content .beatmapset-panel .beatmapset-panel__info :is(.beatmapset-panel__info-row--artist, .beatmapset-panel__info-row--mapper) a {
  color: #3843a6;
}
.beatmapsets .beatmapsets__content .beatmapset-panel .beatmapset-panel__info .beatmapset-panel__info-row--stats {
  position: absolute;
  opacity: 1;
  display: flex;
  bottom: 0;
  right: 0;
  color: #000;
  z-index: 2;
}
.beatmapsets .beatmapsets__content .beatmapset-panel .beatmapset-panel__info .beatmapset-panel__info-row--stats .beatmapset-panel__stats-item-icon {
  color: #000;
}
.beatmapsets .beatmapsets__content .beatmapset-panel .beatmapset-panel__info .beatmapset-panel__main-link {
  color: inherit;
}
.beatmapsets .beatmapsets__content .beatmapset-panel .beatmapset-panel__cover-container .beatmapset-cover {
  border-radius: 5px 0 0 5px;
}
.beatmapsets .beatmapsets__content .beatmapset-panel .beatmapset-panel__cover-container .beatmapset-panel__cover-col--info {
  display: none;
}
.beatmapsets .beatmapsets__toolbar {
  background: #d7d2fb;
  box-shadow: 0 1px #a79ef3;
  padding: 0 4px;
  width: max-content;
  margin: 0 auto;
}
.beatmapsets .beatmapsets__toolbar .sort__items {
  margin: 0;
}
.beatmapsets .beatmapsets__toolbar .sort__item.sort__item--title {
  margin: 0 8px 0 0;
  color: #000;
}
.beatmapsets .beatmapsets__toolbar .sort__item.sort__item--button {
  margin: 0;
  padding: 0;
  color: #3843a6;
  margin-left: 8px;
  margin-right: 8px;
  background: none;
}
.beatmapsets .beatmapsets__toolbar .sort__item--active {
  background: none;
  font-weight: bold;
}
.beatmapsets .beatmapsets__toolbar .sort.sort--beatmapsets {
  padding: 0;
}
.beatmapsets .beatmapsets__toolbar .sort.hidden-xs {
  display: none;
}
.beatmapsets .beatmapsets__toolbar .sort.hidden-xs .sort__item--active {
  color: #000;
}

@media (min-width: 900px) {
  .beatmaps-popup {
    --panel-height: 60px;
  }
}
.osu-page--wiki {
  position: relative;
  padding-left: 1em;
  padding-right: 1em;
  background: #f0ecfa;
  border: solid 2px #5a539a;
  border-top: none;
  box-shadow: none;
  border-radius: 0 0 4px 4px;
  color: #000;
}
.osu-page--wiki .wiki-search {
  padding: 0;
}
.osu-page--wiki .wiki-search .wiki-search__bar {
  background: #fff;
  border: solid 1px #90ace7;
  border-radius: 3px;
  padding: 0 2px;
}
.osu-page--wiki .wiki-search .wiki-search__bar:focus, .osu-page--wiki .wiki-search .wiki-search__bar:focus-within {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05), 0 0 8px rgba(82, 168, 236, 0.6);
  border-color: #56b4ef;
}
.osu-page--wiki .wiki-search .wiki-search__bar .wiki-search__input {
  color: #000;
  font-size: 8pt;
}
.osu-page--wiki .wiki-search .wiki-search__bar .wiki-search__input::placeholder {
  color: rgba(0, 0, 0, 0.5);
}
.osu-page--wiki .wiki-search .wiki-search__bar .wiki-search__button {
  color: #000;
  font-size: 8pt;
}
.osu-page--wiki .wiki-main-page__blurb {
  color: #000;
}
.osu-page--wiki .wiki-main-page-panel {
  background: none;
  border-radius: 0;
  padding: 0;
  min-height: 0;
  box-shadow: none;
}
.osu-page--wiki .wiki-main-page-panel .wiki-main-page__heading {
  background: #bbf;
  font-weight: bold;
  color: #000;
  font-size: 8pt;
  line-height: 16px;
  margin: 0;
}
.osu-page--wiki .wiki-main-page-panel .wiki-main-page__paragraph {
  color: #000;
  font-size: 8pt;
  margin: 0;
  font-weight: normal;
}
.osu-page--wiki .wiki-main-page-panel a {
  color: #0645ad;
  font-size: 8pt;
  line-height: 1.125em;
}
.osu-page--wiki .wiki-main-page-panel a:hover {
  text-decoration: underline;
}
.osu-page--wiki .osu-md--wiki .osu-md__header {
  color: #cc2e8a;
  text-shadow: #efcfe1 0px 0px 10px;
  font-weight: normal;
  border: none;
}
.osu-page--wiki .osu-md--wiki .osu-md__link {
  color: #0645ad;
}
.osu-page--wiki .osu-md--wiki code {
  background: #f9f9f9;
  color: #000;
  padding: 0;
  border-radius: 0;
}
@media (min-width: 900px) {
  .osu-page--wiki .wiki-page {
    grid-template-columns: 1fr;
  }
  .osu-page--wiki .wiki-page__toc {
    border: solid 2px #6261ae;
    position: absolute;
    top: 0;
    padding: 1em 0 0 0;
    width: 10em;
    left: -10.5em;
    background: #ffffff;
    border-radius: 5px;
    overflow: visible;
    max-height: unset;
  }
  .osu-page--wiki .wiki-page__toc .sidebar__title {
    font-weight: normal;
    color: #444444;
    text-transform: none;
    margin: 0;
    padding: 0 0.25em 0.25em 1.75em;
    cursor: default;
    border: none;
  }
  .osu-page--wiki .wiki-page__toc .sidebar__mobile-toggle {
    margin: 0;
  }
  .osu-page--wiki .wiki-page__toc .wiki-toc-list {
    padding: 0.5em 0 0 0;
    margin: 0 0 0 1.25em;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAIwAAAABCAAAAAAphRnkAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAClJREFUeF61yMEJACAQxMCN/Xfr/yIsaAfOJxC2UTPWS6f5gABhUTedBz7fGPSonIP/AAAAAElFTkSuQmCC);
    background-repeat: no-repeat;
    background-position: top left;
  }
  .osu-page--wiki .wiki-page__toc .wiki-toc-list .wiki-toc-list__item {
    line-height: 1.125em;
    padding: 0;
    padding-bottom: 0.5em;
    margin: 0;
    overflow: hidden;
  }
  .osu-page--wiki .wiki-page__toc .wiki-toc-list .wiki-toc-list__item a {
    color: #0645ad;
    font-size: 8pt;
    line-height: 1.125em;
  }
  .osu-page--wiki .wiki-page__toc .wiki-toc-list .wiki-toc-list__item a:hover {
    text-decoration: underline;
  }
}

footer.footer {
  background: #37344a url("https://s.ppy.sh/images/footer_bg.jpg");
  box-shadow: 0 0 8px #000d;
}
