/**
* @name Skeucord Legacy
* @author 11pixels
* @version 1.02
* @description A recreation of the very first iteration of Skeucord, later known as DTM-08. Not light mode compatible. Apply on top of DTM-17. Yes, it looks bad, but this is what the oldest version of DTM-08 looked like, I didn't recreate it to be appealing, but I may continue it as a separate theme someday.
* @source https://github.com/XYZenix/XYZenixThemes/
*/
.theme-dark {
  --background-primary: #3e3e3e !important;
  --override-background-primary: #3e3e3e !important;
  --background-secondary: #2f2f2f !important;
  --override-background-secondary: #2f2f2f !important;
  --background-secondary-alt: #383838 !important;
  --override-background-secondary-alt: #383838 !important;
  --background-tertiary: #272727 !important;
  --override-background-tertiary: #272727 !important;
  --background-floating: #222 !important;
  --override-background-floating: #222 !important;
}

.button_afdfd9:is(.lookFilled__19298, .lookOutlined__46d54) {
  transition: 0s !important;
}
.button_afdfd9:is(.lookFilled__19298, .lookOutlined__46d54).colorBrand_b2253e {
  box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, 0.71) !important;
  background: linear-gradient(hsl(226.7, calc(var(--saturation-factor, 1) * 58.4%), 65.1%), hsl(225.8, calc(var(--saturation-factor, 1) * 33.7%), 32%)) !important;
  border-radius: 10px !important;
  border: solid 2px hsl(226.7, calc(var(--saturation-factor, 1) * 58.4%), 65.1%);
}
.button_afdfd9:is(.lookFilled__19298, .lookOutlined__46d54).colorBrand_b2253e:hover {
  box-shadow: inset 0 0 15px 0px black !important;
  background: linear-gradient(hsl(226.3, calc(var(--saturation-factor, 1) * 100%), 80.2%), hsl(225.8, calc(var(--saturation-factor, 1) * 36.9%), 52.7%)) !important;
  border: solid 2px hsl(226.7, calc(var(--saturation-factor, 1) * 85%), 73.9%) !important;
}
.button_afdfd9:is(.lookFilled__19298, .lookOutlined__46d54).colorBrand_b2253e:active {
  box-shadow: inset 0 0 5px 0px black !important;
  background: linear-gradient(hsl(225.9, calc(var(--saturation-factor, 1) * 39.5%), 42.2%), hsl(225.8, calc(var(--saturation-factor, 1) * 36.9%), 52.7%)) !important;
  border: solid 2px hsl(227, calc(var(--saturation-factor, 1) * 39.3%), 51.6%) !important;
}
.button_afdfd9:is(.lookFilled__19298, .lookOutlined__46d54).colorPrimary__6ed40 {
  box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, 0.71) !important;
  background: linear-gradient(hsl(0, calc(var(--saturation-factor, 1) * 0%), 52.2%), hsl(0, calc(var(--saturation-factor, 1) * 0%), 37.3%)) !important;
  border-radius: 10px !important;
  border: solid 2px hsl(0, calc(var(--saturation-factor, 1) * 0%), 42%) !important;
}
.button_afdfd9:is(.lookFilled__19298, .lookOutlined__46d54).colorPrimary__6ed40:hover {
  box-shadow: inset 0 0 15px 0px black !important;
  background: linear-gradient(hsl(0, calc(var(--saturation-factor, 1) * 0%), 62.7%), hsl(0, calc(var(--saturation-factor, 1) * 0%), 40.8%)) !important;
  border: solid 2px hsl(0, calc(var(--saturation-factor, 1) * 0%), 44.7%) !important;
}
.button_afdfd9:is(.lookFilled__19298, .lookOutlined__46d54).colorPrimary__6ed40:active {
  box-shadow: inset 0 0 5px 0px black !important;
  background: linear-gradient(hsl(0, calc(var(--saturation-factor, 1) * 0%), 20%), hsl(0, calc(var(--saturation-factor, 1) * 0%), 37.3%)) !important;
  border: solid 2px hsl(0, calc(var(--saturation-factor, 1) * 0%), 54.1%) !important;
}
.button_afdfd9:is(.lookFilled__19298, .lookOutlined__46d54).colorRed_d6b062 {
  box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, 0.71) !important;
  background: linear-gradient(hsl(0, calc(var(--saturation-factor, 1) * 51%), 40%), hsl(0, calc(var(--saturation-factor, 1) * 57.1%), 32%)) !important;
  border-radius: 10px !important;
  border: solid 2px hsl(0, calc(var(--saturation-factor, 1) * 58.8%), 53.3%) !important;
}
.button_afdfd9:is(.lookFilled__19298, .lookOutlined__46d54).colorRed_d6b062:hover {
  box-shadow: inset 0 0 15px 0px black !important;
  background: linear-gradient(hsl(0, calc(var(--saturation-factor, 1) * 56.2%), 54.3%), hsl(0, calc(var(--saturation-factor, 1) * 60.8%), 37.1%)) !important;
  border: solid 2px hsl(0, calc(var(--saturation-factor, 1) * 100%), 68.8%) !important;
}
.button_afdfd9:is(.lookFilled__19298, .lookOutlined__46d54).colorRed_d6b062:active {
  box-shadow: inset 0 0 5px 0px black !important;
  background: linear-gradient(hsl(0, calc(var(--saturation-factor, 1) * 60.5%), 29.8%), hsl(0, calc(var(--saturation-factor, 1) * 60.8%), 37.1%)) !important;
  border: solid 2px hsl(0, calc(var(--saturation-factor, 1) * 62.1%), 40.4%) !important;
}
.button_afdfd9:is(.lookFilled__19298, .lookOutlined__46d54).colorRed_d6b062 .contents_fb6220 {
  color: hsl(0, calc(var(--saturation-factor, 1) * 84.9%), 61%);
  text-shadow: 0 1px 4px #000;
}
.button_afdfd9:is(.lookFilled__19298, .lookOutlined__46d54).colorGreen__5f181 {
  box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, 0.71) !important;
  background: linear-gradient(hsl(153.1, calc(var(--saturation-factor, 1) * 56.6%), 56.7%), hsl(153.4, calc(var(--saturation-factor, 1) * 47.9%), 32.4%)) !important;
  border-radius: 10px !important;
  border: solid 2px hsl(152.6, calc(var(--saturation-factor, 1) * 46%), 48.6%) !important;
}
.button_afdfd9:is(.lookFilled__19298, .lookOutlined__46d54).colorGreen__5f181:hover {
  box-shadow: inset 0 0 15px 0px black !important;
  background: linear-gradient(hsl(152.8, calc(var(--saturation-factor, 1) * 70.3%), 64.3%), hsl(152.9, calc(var(--saturation-factor, 1) * 45.4%), 51.2%)) !important;
  border: solid 2px hsl(153.2, calc(var(--saturation-factor, 1) * 59.4%), 62.4%) !important;
}
.button_afdfd9:is(.lookFilled__19298, .lookOutlined__46d54).colorGreen__5f181:active {
  box-shadow: inset 0 0 5px 0px black !important;
  background: linear-gradient(hsl(153.4, calc(var(--saturation-factor, 1) * 48.9%), 35.3%), hsl(153.3, calc(var(--saturation-factor, 1) * 48.8%), 39.8%)) !important;
  border: solid 2px hsl(153.2, calc(var(--saturation-factor, 1) * 52.8%), 34.9%) !important;
}

:root .panels__58331 :is(.container_ca50b9, .container_ca50b9, .container_d667ff) {
  background: var(--background-secondary-alt) !important;
}
:root .panels__58331 .button__4f306 {
  box-shadow: inset 0 0 8px #686868;
  border-radius: 3px;
  opacity: 1 !important;
  border: solid 1px #686868;
  background: linear-gradient(#686868, transparent);
}
:root .panels__58331 .button__4f306:hover {
  border: solid 1px #bbbbbb !important;
  box-shadow: inset 0 0 8px #adadad !important;
  background: linear-gradient(#d8d8d8, transparent) !important;
}
:root .panels__58331 .button__4f306:active {
  border: solid 1px #484848 !important;
  box-shadow: inset 0 0 8px #484848 !important;
  background: linear-gradient(#484848, transparent) !important;
}
:root .panels__58331 .container_ca50b9 .flex_f5fbb7 .button__4f306:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
:root .panels__58331 .container_ca50b9 .flex_f5fbb7 .button__4f306:nth-child(2):not(:last-child) {
  border-radius: 0;
}
:root .panels__58331 .container_ca50b9 .flex_f5fbb7 .button__4f306:last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.devBanner_f362b1 {
  background: var(--background-secondary-alt) !important;
}

:root .container__7c79d .header__104ca {
  background: linear-gradient(#656565, rgba(0, 0, 0, 0)) !important;
}

:root :is(.containerDefault__3187b, .containerDragAfter__437c5, .containerDragBefore_fe91aa, .containerUserOver__8b873, .wrapper__7bcde):hover .link__95dc0 {
  background: linear-gradient(#5d5d5d, #404040);
  box-shadow: inset 0px 0px 10px 0px rgba(255, 255, 255, 0.26);
}
:root :is(.containerDefault__3187b, .containerDragAfter__437c5, .containerDragBefore_fe91aa, .containerUserOver__8b873, .wrapper__7bcde) .modeSelected__487d6 .link__95dc0 {
  box-shadow: inset 1px 4px 6px 0px rgba(0, 0, 0, 0.67) !important;
  background: linear-gradient(hsl(240, calc(var(--saturation-factor, 1) * 2%), 38.8%) 0%, hsl(240, calc(var(--saturation-factor, 1) * 0.7%), 28.8%) 50%, hsl(210, calc(var(--saturation-factor, 1) * 2%), 19.6%) 50%, hsl(240, calc(var(--saturation-factor, 1) * 1.8%), 11.2%) 100%) !important;
}

:root .standardSidebarView__1129a .sidebarRegion__60457 .sidebarRegionScroller__1fa7e {
  background: #2f2f2f;
}
:root .standardSidebarView__1129a .sidebarRegion__60457 .sidebarRegionScroller__1fa7e .sidebar__9e3e2 .item__48dda.selected__5711d {
  box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, 0.71);
  background: linear-gradient(hsl(226.7, calc(var(--saturation-factor, 1) * 58.4%), 65.1%), hsl(225.8, calc(var(--saturation-factor, 1) * 33.7%), 32%)) !important;
  border-radius: 10px;
  border: solid 2px hsl(226.7, calc(var(--saturation-factor, 1) * 58.4%), 65.1%);
}
:root .standardSidebarView__1129a .contentRegion__0bec1 {
  background: #2f2f2f;
}
:root .standardSidebarView__1129a .contentRegion__0bec1 .contentRegionScroller__86c79 {
  background: #2f2f2f;
}
:root .standardSidebarView__1129a .contentRegion__0bec1 .scroller__52680 {
  background: #2f2f2f;
}

:root .item_b7fb7e[aria-checked=false] .radioBar__40e1b {
  border-color: hsl(216, calc(var(--saturation-factor, 1) * 7.2%), 13.5%) !important;
  background: linear-gradient(hsl(200, calc(var(--saturation-factor, 1) * 2.1%), 28.4%), hsl(240, calc(var(--saturation-factor, 1) * 1.5%), 12.7%));
}
:root .item_b7fb7e[aria-checked=false] .radioBar__40e1b:hover {
  background: linear-gradient(hsl(0, calc(var(--saturation-factor, 1) * 0%), 42.7%), hsl(240, calc(var(--saturation-factor, 1) * 2.3%), 25.3%));
}
:root .item_b7fb7e[aria-checked=false] .radioBar__40e1b:active {
  background: linear-gradient(hsl(200, calc(var(--saturation-factor, 1) * 3.3%), 17.8%), hsl(0, calc(var(--saturation-factor, 1) * 0%), 22%));
}
:root .item_b7fb7e[aria-checked=true] .radioBar__40e1b {
  background: linear-gradient(hsl(226.7, calc(var(--saturation-factor, 1) * 67.5%), 69.8%), hsl(226.7, calc(var(--saturation-factor, 1) * 41.9%), 55.5%)) !important;
}
:root .item_b7fb7e[aria-checked=true] .radioBar__40e1b:hover {
  background: linear-gradient(hsl(227.1, calc(var(--saturation-factor, 1) * 100%), 80%), hsl(227, calc(var(--saturation-factor, 1) * 67.3%), 67.6%)) !important;
}
:root .item_b7fb7e[aria-checked=true] .radioBar__40e1b:active {
  background: linear-gradient(hsl(226.9, calc(var(--saturation-factor, 1) * 41.6%), 41%), hsl(226.1, calc(var(--saturation-factor, 1) * 26.4%), 41.6%)) !important;
}
:root .item_b7fb7e[aria-checked=true] .radioBar__40e1b[style*="--radio-bar-accent-color: var(--green-360)"] {
  background: linear-gradient(hsl(152.7, calc(var(--saturation-factor, 1) * 77.5%), 63.3%), hsl(152.8, calc(var(--saturation-factor, 1) * 45.5%), 41%)) !important;
}
:root .item_b7fb7e[aria-checked=true] .radioBar__40e1b[style*="--radio-bar-accent-color: var(--green-360)"]:hover {
  background: linear-gradient(hsl(152.9, calc(var(--saturation-factor, 1) * 100%), 71.4%), hsl(152.8, calc(var(--saturation-factor, 1) * 50.6%), 53.9%)) !important;
}
:root .item_b7fb7e[aria-checked=true] .radioBar__40e1b[style*="--radio-bar-accent-color: var(--green-360)"]:active {
  background: linear-gradient(hsl(152.7, calc(var(--saturation-factor, 1) * 45.3%), 43.7%), hsl(152.9, calc(var(--saturation-factor, 1) * 49.3%), 44.9%)) !important;
}
:root .item_b7fb7e[aria-checked=true] .radioBar__40e1b[style*="--radio-bar-accent-color: var(--yellow-360)"] {
  background: linear-gradient(hsl(37.4, calc(var(--saturation-factor, 1) * 100%), 60%), hsl(37.4, calc(var(--saturation-factor, 1) * 83.9%), 39%)) !important;
}
:root .item_b7fb7e[aria-checked=true] .radioBar__40e1b[style*="--radio-bar-accent-color: var(--yellow-360)"]:hover {
  background: linear-gradient(hsl(37.2, calc(var(--saturation-factor, 1) * 100%), 64.9%), hsl(37.3, calc(var(--saturation-factor, 1) * 75.8%), 48.6%)) !important;
}
:root .item_b7fb7e[aria-checked=true] .radioBar__40e1b[style*="--radio-bar-accent-color: var(--yellow-360)"]:active {
  background: linear-gradient(hsl(37.4, calc(var(--saturation-factor, 1) * 74.1%), 39.4%), hsl(37.3, calc(var(--saturation-factor, 1) * 72.8%), 49%)) !important;
}
:root .item_b7fb7e[aria-checked=true] .radioBar__40e1b[style*="--radio-bar-accent-color: var(--red-360)"] {
  background: linear-gradient(hsl(0, calc(var(--saturation-factor, 1) * 84.9%), 61%), hsl(0, calc(var(--saturation-factor, 1) * 53.2%), 42.7%)) !important;
}
:root .item_b7fb7e[aria-checked=true] .radioBar__40e1b[style*="--radio-bar-accent-color: var(--red-360)"]:hover {
  background: linear-gradient(hsl(0, calc(var(--saturation-factor, 1) * 100%), 69.2%), hsl(0, calc(var(--saturation-factor, 1) * 49.8%), 50%)) !important;
}
:root .item_b7fb7e[aria-checked=true] .radioBar__40e1b[style*="--radio-bar-accent-color: var(--red-360)"]:active {
  background: linear-gradient(hsl(0, calc(var(--saturation-factor, 1) * 55.2%), 39.4%), hsl(0, calc(var(--saturation-factor, 1) * 48.8%), 48.2%)) !important;
}
:root .item_b7fb7e[aria-checked=true] .radioBar__40e1b[style*="--radio-bar-accent-color: var(--red-400)"] {
  background: linear-gradient(hsl(0, calc(var(--saturation-factor, 1) * 84.9%), 61%), hsl(0, calc(var(--saturation-factor, 1) * 53.2%), 42.7%)) !important;
}
:root .item_b7fb7e[aria-checked=true] .radioBar__40e1b[style*="--radio-bar-accent-color: var(--red-400)"]:hover {
  background: linear-gradient(hsl(0, calc(var(--saturation-factor, 1) * 100%), 69.2%), hsl(0, calc(var(--saturation-factor, 1) * 49.8%), 50%)) !important;
}
:root .item_b7fb7e[aria-checked=true] .radioBar__40e1b[style*="--radio-bar-accent-color: var(--red-400)"]:active {
  background: linear-gradient(hsl(0, calc(var(--saturation-factor, 1) * 55.2%), 39.4%), hsl(0, calc(var(--saturation-factor, 1) * 48.8%), 48.2%)) !important;
}

.toolsContainer_f5d55d .container_bb0c52 .closeButton__34341 {
  background: linear-gradient(#808080, transparent) !important;
  box-shadow: inset 0 0 8px 0 #000 !important;
}
.toolsContainer_f5d55d .container_bb0c52 .closeButton__34341:hover {
  background-color: rgba(114, 118, 126, 0.3) !important;
}

:root .container__871ba .input_be50d1:before {
  background: linear-gradient(#464646, #777777);
}
:root .container__871ba .input_be50d1:checked:before {
  background: linear-gradient(#9cb2ff, #5d71b7);
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.35), 0 0 0 1px rgba(0, 0, 0, 0.35);
}

:root .connectionList__7b310 .connection_fff5f6 {
  background-image: linear-gradient(#fff1, #0003);
}

:root .chat__52833 .container__11d72 {
  background: linear-gradient(#656565, rgba(0, 0, 0, 0)) !important;
}
:root .chat__52833 .container__11d72 .search__07df0 .search_ac353c .searchBar_e0c60b {
  background: linear-gradient(#353535 0%, #272727 50%, #3a3a3a 50%, #353535 100%);
  box-shadow: inset 0px 1px 6px 0px rgba(0, 0, 0, 0.81);
}
:root .chat__52833 .container_b2ce9c .members__9f47b .member_aa4760:hover {
  background: linear-gradient(#616165 0%, #49494a 50%, #313233 50%, #1c1c1d 100%) !important;
  box-shadow: inset 0px 0px 10px #000;
}
:root .chat__52833 .container_b2ce9c .members__9f47b .member_aa4760.selected__9800b {
  background: linear-gradient(#616165 0%, #49494a 50%, #313233 50%, #1c1c1d 100%) !important;
  box-shadow: inset 0px 0px 20px #000;
}
:root .chat__52833 .container_b2ce9c .members__9f47b .member_aa4760 .layout_bb8e67 {
  background: #0000 !important;
}
:root .channelTextArea__56a36 .scrollableContainer__33e06 {
  background: linear-gradient(#353535 0%, #272727 50%, #3a3a3a 50%, #353535 100%);
  box-shadow: inset 0px 1px 6px 0px rgba(0, 0, 0, 0.81);
}

:root .privateChannels__93473 .searchBar_e4ea2a {
  background: linear-gradient(#656565, rgba(0, 0, 0, 0)) !important;
}

:root .container__5c7e7 .container__11d72 {
  background: linear-gradient(#656565, rgba(0, 0, 0, 0)) !important;
}

:root .userPopoutOuter_d739b2 .userPopoutInner_f545a3 {
  --profile-bg-secondary: var(--background-secondary) !important;
  background: linear-gradient(#fff3, #fff0), linear-gradient(var(--profile-theme-color-default), var(--profile-theme-color-default)) !important;
  box-shadow: inset 0 0 25px #000d;
}
:root .userPopoutOuter_d739b2 .userPopoutInner_f545a3 .overlayBackground__86b78 .scroller__83262 .section__6f61e:has(.markup_a7e664), :root .userPopoutOuter_d739b2 .userPopoutInner_f545a3 .overlayBackground__86b78 .scroller__83262 .section__6f61e:has(.memberSinceContainer__0a28b), :root .userPopoutOuter_d739b2 .userPopoutInner_f545a3 .overlayBackground__86b78 .scroller__83262 .section__6f61e:has(.activityUserPopoutV2__32328), :root .userPopoutOuter_d739b2 .userPopoutInner_f545a3 .overlayBackground__86b78 .scroller__83262 .section__6f61e:has(.buttonsContainer__241b0), :root .userPopoutOuter_d739b2 .userPopoutInner_f545a3 .overlayBackground__86b78 .scroller__83262 .section__6f61e:has(.connectionsContainer__67854) {
  background: linear-gradient(#fff3, #fff0), linear-gradient(var(--profile-theme-color-default), var(--profile-theme-color-default));
  box-shadow: inset 0 0 25px #000d;
}
:root .userPopoutOuter_d739b2 .userPopoutInner_f545a3 .overlayBackground__86b78 .scroller__83262 .section__6f61e .messageInputContainer__768e6 .input_d266e7 {
  box-shadow: inset 0 0 5px #000;
  background: linear-gradient(#333333, #424242) !important;
}

.menu_dc52c6#message-actions .item__183e8 {
  background: linear-gradient(#b9b9b9 0%, #a7a7a7 50%, #888888 50%, #9c9c9c 100%);
  color: #000;
  text-shadow: 0 0 5px #fff;
}
.menu_dc52c6#message-actions .item__183e8:is(:hover,.focused__27621) {
  color: #000 !important;
  background: linear-gradient(#e0e0e0 0%, #b9b9b9 50%, #9c9c9c 50%, #c3c3c3 100%) !important;
}
