/**
* @name Skeucord Legacy
* @author 11pixels
* @version 1.0
* @invite vUN9sNW
* @description A recreation of the very first iteration of Skeucord, later known as DTM-08. Not light mode compatible. Apply on top of DTM-17. Yes, it looks bad, but this is what the oldest version of DTM-08 looked like, I didn't recreate it to be appealing, but I may continue it as a separate theme someday.
* @source https://github.com/XYZenix/XYZenixThemes/
*/
.theme-dark {
  --background-primary: #3e3e3e !important;
  --override-background-primary: #3e3e3e !important;
  --background-secondary: #2f2f2f !important;
  --override-background-secondary: #2f2f2f !important;
  --background-secondary-alt: #383838 !important;
  --override-background-secondary-alt: #383838 !important;
  --background-tertiary: #272727 !important;
  --override-background-tertiary: #272727 !important;
  --background-floating: #222 !important;
  --override-background-floating: #222 !important;
}

.button-ejjZWC:is(.lookFilled-1H2Jvj, .lookOutlined-3RTC7c) {
  transition: 0s !important;
}
.button-ejjZWC:is(.lookFilled-1H2Jvj, .lookOutlined-3RTC7c).colorBrand-2M3O3N {
  box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, 0.71) !important;
  background: linear-gradient(hsl(226.7, calc(var(--saturation-factor, 1) * 58.4%), 65.1%), hsl(225.8, calc(var(--saturation-factor, 1) * 33.7%), 32%)) !important;
  border-radius: 10px !important;
  border: solid 2px hsl(226.7, calc(var(--saturation-factor, 1) * 58.4%), 65.1%);
}
.button-ejjZWC:is(.lookFilled-1H2Jvj, .lookOutlined-3RTC7c).colorBrand-2M3O3N:hover {
  box-shadow: inset 0 0 15px 0px black !important;
  background: linear-gradient(hsl(226.3, calc(var(--saturation-factor, 1) * 100%), 80.2%), hsl(225.8, calc(var(--saturation-factor, 1) * 36.9%), 52.7%)) !important;
  border: solid 2px hsl(226.7, calc(var(--saturation-factor, 1) * 85%), 73.9%) !important;
}
.button-ejjZWC:is(.lookFilled-1H2Jvj, .lookOutlined-3RTC7c).colorBrand-2M3O3N:active {
  box-shadow: inset 0 0 5px 0px black !important;
  background: linear-gradient(hsl(225.9, calc(var(--saturation-factor, 1) * 39.5%), 42.2%), hsl(225.8, calc(var(--saturation-factor, 1) * 36.9%), 52.7%)) !important;
  border: solid 2px hsl(227, calc(var(--saturation-factor, 1) * 39.3%), 51.6%) !important;
}
.button-ejjZWC:is(.lookFilled-1H2Jvj, .lookOutlined-3RTC7c).colorPrimary-2-Lusz {
  box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, 0.71) !important;
  background: linear-gradient(hsl(0, calc(var(--saturation-factor, 1) * 0%), 52.2%), hsl(0, calc(var(--saturation-factor, 1) * 0%), 37.3%)) !important;
  border-radius: 10px !important;
  border: solid 2px hsl(0, calc(var(--saturation-factor, 1) * 0%), 42%) !important;
}
.button-ejjZWC:is(.lookFilled-1H2Jvj, .lookOutlined-3RTC7c).colorPrimary-2-Lusz:hover {
  box-shadow: inset 0 0 15px 0px black !important;
  background: linear-gradient(hsl(0, calc(var(--saturation-factor, 1) * 0%), 62.7%), hsl(0, calc(var(--saturation-factor, 1) * 0%), 40.8%)) !important;
  border: solid 2px hsl(0, calc(var(--saturation-factor, 1) * 0%), 44.7%) !important;
}
.button-ejjZWC:is(.lookFilled-1H2Jvj, .lookOutlined-3RTC7c).colorPrimary-2-Lusz:active {
  box-shadow: inset 0 0 5px 0px black !important;
  background: linear-gradient(hsl(0, calc(var(--saturation-factor, 1) * 0%), 20%), hsl(0, calc(var(--saturation-factor, 1) * 0%), 37.3%)) !important;
  border: solid 2px hsl(0, calc(var(--saturation-factor, 1) * 0%), 54.1%) !important;
}
.button-ejjZWC:is(.lookFilled-1H2Jvj, .lookOutlined-3RTC7c).colorRed-2VFhM4 {
  box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, 0.71) !important;
  background: linear-gradient(hsl(0, calc(var(--saturation-factor, 1) * 51%), 40%), hsl(0, calc(var(--saturation-factor, 1) * 57.1%), 32%)) !important;
  border-radius: 10px !important;
  border: solid 2px hsl(0, calc(var(--saturation-factor, 1) * 58.8%), 53.3%) !important;
}
.button-ejjZWC:is(.lookFilled-1H2Jvj, .lookOutlined-3RTC7c).colorRed-2VFhM4:hover {
  box-shadow: inset 0 0 15px 0px black !important;
  background: linear-gradient(hsl(0, calc(var(--saturation-factor, 1) * 56.2%), 54.3%), hsl(0, calc(var(--saturation-factor, 1) * 60.8%), 37.1%)) !important;
  border: solid 2px hsl(0, calc(var(--saturation-factor, 1) * 100%), 68.8%) !important;
}
.button-ejjZWC:is(.lookFilled-1H2Jvj, .lookOutlined-3RTC7c).colorRed-2VFhM4:active {
  box-shadow: inset 0 0 5px 0px black !important;
  background: linear-gradient(hsl(0, calc(var(--saturation-factor, 1) * 60.5%), 29.8%), hsl(0, calc(var(--saturation-factor, 1) * 60.8%), 37.1%)) !important;
  border: solid 2px hsl(0, calc(var(--saturation-factor, 1) * 62.1%), 40.4%) !important;
}
.button-ejjZWC:is(.lookFilled-1H2Jvj, .lookOutlined-3RTC7c).colorRed-2VFhM4 .contents-3NembX {
  color: hsl(0, calc(var(--saturation-factor, 1) * 84.9%), 61%);
  text-shadow: 0 1px 4px #000;
}
.button-ejjZWC:is(.lookFilled-1H2Jvj, .lookOutlined-3RTC7c).colorGreen-jIPCAS {
  box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, 0.71) !important;
  background: linear-gradient(hsl(153.1, calc(var(--saturation-factor, 1) * 56.6%), 56.7%), hsl(153.4, calc(var(--saturation-factor, 1) * 47.9%), 32.4%)) !important;
  border-radius: 10px !important;
  border: solid 2px hsl(152.6, calc(var(--saturation-factor, 1) * 46%), 48.6%) !important;
}
.button-ejjZWC:is(.lookFilled-1H2Jvj, .lookOutlined-3RTC7c).colorGreen-jIPCAS:hover {
  box-shadow: inset 0 0 15px 0px black !important;
  background: linear-gradient(hsl(152.8, calc(var(--saturation-factor, 1) * 70.3%), 64.3%), hsl(152.9, calc(var(--saturation-factor, 1) * 45.4%), 51.2%)) !important;
  border: solid 2px hsl(153.2, calc(var(--saturation-factor, 1) * 59.4%), 62.4%) !important;
}
.button-ejjZWC:is(.lookFilled-1H2Jvj, .lookOutlined-3RTC7c).colorGreen-jIPCAS:active {
  box-shadow: inset 0 0 5px 0px black !important;
  background: linear-gradient(hsl(153.4, calc(var(--saturation-factor, 1) * 48.9%), 35.3%), hsl(153.3, calc(var(--saturation-factor, 1) * 48.8%), 39.8%)) !important;
  border: solid 2px hsl(153.2, calc(var(--saturation-factor, 1) * 52.8%), 34.9%) !important;
}

:root .panels-3wFtMD :is(.container-YkUktl, .container-1zzFcN) {
  background: var(--background-secondary-alt) !important;
}
:root .panels-3wFtMD .button-12Fmur {
  box-shadow: inset 0 0 8px #686868;
  border-radius: 3px;
  opacity: 1 !important;
  border: solid 1px #686868;
  background: linear-gradient(#686868, transparent);
}
:root .panels-3wFtMD .button-12Fmur:hover {
  border: solid 1px #bbbbbb !important;
  box-shadow: inset 0 0 8px #adadad !important;
  background: linear-gradient(#d8d8d8, transparent) !important;
}
:root .panels-3wFtMD .button-12Fmur:active {
  border: solid 1px #484848 !important;
  box-shadow: inset 0 0 8px #484848 !important;
  background: linear-gradient(#484848, transparent) !important;
}
:root .panels-3wFtMD .container-YkUktl .flex-2S1XBF .button-12Fmur:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
:root .panels-3wFtMD .container-YkUktl .flex-2S1XBF .button-12Fmur:nth-child(2):not(:last-child) {
  border-radius: 0;
}
:root .panels-3wFtMD .container-YkUktl .flex-2S1XBF .button-12Fmur:last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.devBanner-AXSCfT {
  background: var(--background-secondary-alt) !important;
}

:root .container-1-ERn5 .header-3OsQeK {
  background: linear-gradient(#656565, rgba(0, 0, 0, 0)) !important;
}

:root :is(.containerDefault-YUSmu3, .containerDragAfter-3aBiOW, .containerDragBefore-1s5Qg6, .containerUserOver-SDa1HW, .wrapper-NhbLHG):hover .link-1_kTxV {
  background: linear-gradient(#5d5d5d, #404040);
  box-shadow: inset 0px 0px 10px 0px rgba(255, 255, 255, 0.26);
}
:root :is(.containerDefault-YUSmu3, .containerDragAfter-3aBiOW, .containerDragBefore-1s5Qg6, .containerUserOver-SDa1HW, .wrapper-NhbLHG) .modeSelected-3DmyhH .link-1_kTxV {
  box-shadow: inset 1px 4px 6px 0px rgba(0, 0, 0, 0.67) !important;
  background: linear-gradient(hsl(240, calc(var(--saturation-factor, 1) * 2%), 38.8%) 0%, hsl(240, calc(var(--saturation-factor, 1) * 0.7%), 28.8%) 50%, hsl(210, calc(var(--saturation-factor, 1) * 2%), 19.6%) 50%, hsl(240, calc(var(--saturation-factor, 1) * 1.8%), 11.2%) 100%) !important;
}

:root .standardSidebarView-E9Pc3j .sidebarRegion-1VBisG .sidebarRegionScroller-FXiQOh {
  background: #2f2f2f;
}
:root .standardSidebarView-E9Pc3j .sidebarRegion-1VBisG .sidebarRegionScroller-FXiQOh .sidebar-nqHbhN .item-2GWPIy.selected-1sf9UK {
  box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, 0.71);
  background: linear-gradient(hsl(226.7, calc(var(--saturation-factor, 1) * 58.4%), 65.1%), hsl(225.8, calc(var(--saturation-factor, 1) * 33.7%), 32%)) !important;
  border-radius: 10px;
  border: solid 2px hsl(226.7, calc(var(--saturation-factor, 1) * 58.4%), 65.1%);
}
:root .standardSidebarView-E9Pc3j .contentRegion-3HkfJJ {
  background: #2f2f2f;
}
:root .standardSidebarView-E9Pc3j .contentRegion-3HkfJJ .contentRegionScroller-2_GT_N {
  background: #2f2f2f;
}
:root .standardSidebarView-E9Pc3j .contentRegion-3HkfJJ .scroller-3_YDR2 {
  background: #2f2f2f;
}

:root .item-1TA5qI[aria-checked=false] .radioBar-1XgZqD {
  border-color: hsl(216, calc(var(--saturation-factor, 1) * 7.2%), 13.5%) !important;
  background: linear-gradient(hsl(200, calc(var(--saturation-factor, 1) * 2.1%), 28.4%), hsl(240, calc(var(--saturation-factor, 1) * 1.5%), 12.7%));
}
:root .item-1TA5qI[aria-checked=false] .radioBar-1XgZqD:hover {
  background: linear-gradient(hsl(0, calc(var(--saturation-factor, 1) * 0%), 42.7%), hsl(240, calc(var(--saturation-factor, 1) * 2.3%), 25.3%));
}
:root .item-1TA5qI[aria-checked=false] .radioBar-1XgZqD:active {
  background: linear-gradient(hsl(200, calc(var(--saturation-factor, 1) * 3.3%), 17.8%), hsl(0, calc(var(--saturation-factor, 1) * 0%), 22%));
}
:root .item-1TA5qI[aria-checked=true] .radioBar-1XgZqD {
  background: linear-gradient(hsl(226.7, calc(var(--saturation-factor, 1) * 67.5%), 69.8%), hsl(226.7, calc(var(--saturation-factor, 1) * 41.9%), 55.5%)) !important;
}
:root .item-1TA5qI[aria-checked=true] .radioBar-1XgZqD:hover {
  background: linear-gradient(hsl(227.1, calc(var(--saturation-factor, 1) * 100%), 80%), hsl(227, calc(var(--saturation-factor, 1) * 67.3%), 67.6%)) !important;
}
:root .item-1TA5qI[aria-checked=true] .radioBar-1XgZqD:active {
  background: linear-gradient(hsl(226.9, calc(var(--saturation-factor, 1) * 41.6%), 41%), hsl(226.1, calc(var(--saturation-factor, 1) * 26.4%), 41.6%)) !important;
}
:root .item-1TA5qI[aria-checked=true] .radioBar-1XgZqD[style*="--radio-bar-accent-color: var(--green-360)"] {
  background: linear-gradient(hsl(152.7, calc(var(--saturation-factor, 1) * 77.5%), 63.3%), hsl(152.8, calc(var(--saturation-factor, 1) * 45.5%), 41%)) !important;
}
:root .item-1TA5qI[aria-checked=true] .radioBar-1XgZqD[style*="--radio-bar-accent-color: var(--green-360)"]:hover {
  background: linear-gradient(hsl(152.9, calc(var(--saturation-factor, 1) * 100%), 71.4%), hsl(152.8, calc(var(--saturation-factor, 1) * 50.6%), 53.9%)) !important;
}
:root .item-1TA5qI[aria-checked=true] .radioBar-1XgZqD[style*="--radio-bar-accent-color: var(--green-360)"]:active {
  background: linear-gradient(hsl(152.7, calc(var(--saturation-factor, 1) * 45.3%), 43.7%), hsl(152.9, calc(var(--saturation-factor, 1) * 49.3%), 44.9%)) !important;
}
:root .item-1TA5qI[aria-checked=true] .radioBar-1XgZqD[style*="--radio-bar-accent-color: var(--yellow-360)"] {
  background: linear-gradient(hsl(37.4, calc(var(--saturation-factor, 1) * 100%), 60%), hsl(37.4, calc(var(--saturation-factor, 1) * 83.9%), 39%)) !important;
}
:root .item-1TA5qI[aria-checked=true] .radioBar-1XgZqD[style*="--radio-bar-accent-color: var(--yellow-360)"]:hover {
  background: linear-gradient(hsl(37.2, calc(var(--saturation-factor, 1) * 100%), 64.9%), hsl(37.3, calc(var(--saturation-factor, 1) * 75.8%), 48.6%)) !important;
}
:root .item-1TA5qI[aria-checked=true] .radioBar-1XgZqD[style*="--radio-bar-accent-color: var(--yellow-360)"]:active {
  background: linear-gradient(hsl(37.4, calc(var(--saturation-factor, 1) * 74.1%), 39.4%), hsl(37.3, calc(var(--saturation-factor, 1) * 72.8%), 49%)) !important;
}
:root .item-1TA5qI[aria-checked=true] .radioBar-1XgZqD[style*="--radio-bar-accent-color: var(--red-360)"] {
  background: linear-gradient(hsl(0, calc(var(--saturation-factor, 1) * 84.9%), 61%), hsl(0, calc(var(--saturation-factor, 1) * 53.2%), 42.7%)) !important;
}
:root .item-1TA5qI[aria-checked=true] .radioBar-1XgZqD[style*="--radio-bar-accent-color: var(--red-360)"]:hover {
  background: linear-gradient(hsl(0, calc(var(--saturation-factor, 1) * 100%), 69.2%), hsl(0, calc(var(--saturation-factor, 1) * 49.8%), 50%)) !important;
}
:root .item-1TA5qI[aria-checked=true] .radioBar-1XgZqD[style*="--radio-bar-accent-color: var(--red-360)"]:active {
  background: linear-gradient(hsl(0, calc(var(--saturation-factor, 1) * 55.2%), 39.4%), hsl(0, calc(var(--saturation-factor, 1) * 48.8%), 48.2%)) !important;
}
:root .item-1TA5qI[aria-checked=true] .radioBar-1XgZqD[style*="--radio-bar-accent-color: var(--red-400)"] {
  background: linear-gradient(hsl(0, calc(var(--saturation-factor, 1) * 84.9%), 61%), hsl(0, calc(var(--saturation-factor, 1) * 53.2%), 42.7%)) !important;
}
:root .item-1TA5qI[aria-checked=true] .radioBar-1XgZqD[style*="--radio-bar-accent-color: var(--red-400)"]:hover {
  background: linear-gradient(hsl(0, calc(var(--saturation-factor, 1) * 100%), 69.2%), hsl(0, calc(var(--saturation-factor, 1) * 49.8%), 50%)) !important;
}
:root .item-1TA5qI[aria-checked=true] .radioBar-1XgZqD[style*="--radio-bar-accent-color: var(--red-400)"]:active {
  background: linear-gradient(hsl(0, calc(var(--saturation-factor, 1) * 55.2%), 39.4%), hsl(0, calc(var(--saturation-factor, 1) * 48.8%), 48.2%)) !important;
}

.toolsContainer-25FL6V .container-O54IuJ .closeButton-PCZcma {
  background: linear-gradient(#808080, transparent) !important;
  box-shadow: inset 0 0 8px 0 #000 !important;
}
.toolsContainer-25FL6V .container-O54IuJ .closeButton-PCZcma:hover {
  background-color: rgba(114, 118, 126, 0.3) !important;
}

:root .container-1QtPKm .input-125oad:before {
  background: linear-gradient(#464646, #777777);
}
:root .container-1QtPKm .input-125oad:checked:before {
  background: linear-gradient(#9cb2ff, #5d71b7);
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.35), 0 0 0 1px rgba(0, 0, 0, 0.35);
}

:root .connectionList-11Q_X- .connection-YOVI9j {
  background-image: linear-gradient(#fff1, #0003);
}

:root .chat-2ZfjoI .container-ZMc96U {
  background: linear-gradient(#656565, rgba(0, 0, 0, 0)) !important;
}
:root .chat-2ZfjoI .container-ZMc96U .search-39IXmY .search-2Mwzzq .searchBar-jGtisZ {
  background: linear-gradient(#353535 0%, #272727 50%, #3a3a3a 50%, #353535 100%);
  box-shadow: inset 0px 1px 6px 0px rgba(0, 0, 0, 0.81);
}
:root .chat-2ZfjoI .container-2o3qEW .members-3WRCEx .member-2gU6Ar:hover {
  background: linear-gradient(#616165 0%, #49494a 50%, #313233 50%, #1c1c1d 100%) !important;
  box-shadow: inset 0px 0px 10px #000;
}
:root .chat-2ZfjoI .container-2o3qEW .members-3WRCEx .member-2gU6Ar.selected-1-Z6gm {
  background: linear-gradient(#616165 0%, #49494a 50%, #313233 50%, #1c1c1d 100%) !important;
  box-shadow: inset 0px 0px 20px #000;
}
:root .chat-2ZfjoI .container-2o3qEW .members-3WRCEx .member-2gU6Ar .layout-1qmrhw {
  background: #0000 !important;
}
:root .channelTextArea-1VQBuV .scrollableContainer-15eg7h {
  background: linear-gradient(#353535 0%, #272727 50%, #3a3a3a 50%, #353535 100%);
  box-shadow: inset 0px 1px 6px 0px rgba(0, 0, 0, 0.81);
}

:root .privateChannels-oVe7HL .searchBar-3TnChZ {
  background: linear-gradient(#656565, rgba(0, 0, 0, 0)) !important;
}

:root .container-2cd8Mz .container-ZMc96U {
  background: linear-gradient(#656565, rgba(0, 0, 0, 0)) !important;
}

:root .userPopoutOuter-1OHwPL .userPopoutInner-nv9Y92 {
  --profile-bg-secondary: var(--background-secondary) !important;
  background: linear-gradient(#fff3, #fff0), linear-gradient(var(--profile-theme-color-default), var(--profile-theme-color-default)) !important;
  box-shadow: inset 0 0 25px #000d;
}
:root .userPopoutOuter-1OHwPL .userPopoutInner-nv9Y92 .overlayBackground-2aa7wt .scroller-15bIdk .section-28YDOf:has(.markup-eYLPri), :root .userPopoutOuter-1OHwPL .userPopoutInner-nv9Y92 .overlayBackground-2aa7wt .scroller-15bIdk .section-28YDOf:has(.memberSinceContainer-2CBD23), :root .userPopoutOuter-1OHwPL .userPopoutInner-nv9Y92 .overlayBackground-2aa7wt .scroller-15bIdk .section-28YDOf:has(.activityUserPopoutV2-3eKqzY), :root .userPopoutOuter-1OHwPL .userPopoutInner-nv9Y92 .overlayBackground-2aa7wt .scroller-15bIdk .section-28YDOf:has(.buttonsContainer-3iOFIV), :root .userPopoutOuter-1OHwPL .userPopoutInner-nv9Y92 .overlayBackground-2aa7wt .scroller-15bIdk .section-28YDOf:has(.connectionsContainer-3MmgH3) {
  background: linear-gradient(#fff3, #fff0), linear-gradient(var(--profile-theme-color-default), var(--profile-theme-color-default));
  box-shadow: inset 0 0 25px #000d;
}
:root .userPopoutOuter-1OHwPL .userPopoutInner-nv9Y92 .overlayBackground-2aa7wt .scroller-15bIdk .section-28YDOf .messageInputContainer-24qqTx .input-3O04eu {
  box-shadow: inset 0 0 5px #000;
  background: linear-gradient(#333333, #424242) !important;
}

.menu-2TXYjN#message-actions .item-5ApiZt {
  background: linear-gradient(#b9b9b9 0%, #a7a7a7 50%, #888888 50%, #9c9c9c 100%);
  color: #000;
  text-shadow: 0 0 5px #fff;
}
.menu-2TXYjN#message-actions .item-5ApiZt:is(:hover,.focused-3LIdPu) {
  color: #000 !important;
  background: linear-gradient(#e0e0e0 0%, #b9b9b9 50%, #9c9c9c 50%, #c3c3c3 100%) !important;
}