 /**
 * @name DTM-16 Addon: 11pixels' Addon
 * @author 11pixels#2004
 * @version 1.1
 * @invite JB6axYch8m
 * @description Various small changes that I consider optional
*/


.title-29uC1r {
    display: block;
}
.children-19S4PO {
    display: block;
    margin-left: 15px;
}
.divider-3FBTu8 {
    display: none;
}
.children-19S4PO .iconWrapper-2OrFZ1 {
    display: none;
}
.item-2hkk8m {
    width: 10px;
    border-radius: 999px;
    min-height: 10px;
    opacity: .5 !important;
}
.item-2hkk8m[style="opacity: 1; height: 40px; transform: none;"] {
    opacity: 1 !important;
}
.topic-TCb_qw {
  margin-left: 0
}
.children-19S4PO .followButton-L6L-Us {
  float: right;
  top: -12px;
  margin-bottom: -10px
}
