 /**
 * @name DTM-16 Addon: (Very) Old Embeds
 * @author 11pixels#2004
 * @version 1.1
 * @invite vUN9sNW
 * @description Brings back the oldest embed style back from...2015? No idea exactly when these were used.
*/

.theme-dark .embedFull-2tM8--, .theme-light .embedFull-2tM8-- {
	background: none !important;
	border-width: 0px 0px 0px 4px !important;
	border-radius: 0 !important;
}
