//META{"name":"DTM-016 Addon: (Very) Old Embeds","description":"Brings back the oldest embed style back from...2015? No idea exactly when these were used.","author":"11pixels","version":"1.0"}*//{}

.theme-dark .embedFull-2tM8--, .theme-light .embedFull-2tM8-- {
	background: none !important;
	border-width: 0px 0px 0px 4px !important;
	border-radius: 0 !important;
}
