 /**
 * @name DTM-16 Addon: 2015 User Panel Links
 * @author 11pixels#2004
 * @version 1.1
 * @invite JB6axYch8m
 * @description Brings back the links below the user panel from 2015 (they do NOT work lol)
*/

.container-3baos1 {
	padding-bottom: 25px;
	border-top-color: #2C2F33;
}
.container-3baos1:after {
	content: "Support · Change Log · Download Apps";
	display: block;
	width: 220px;
	position: absolute;
	left: 0;
	bottom: 0px;
	padding: 7px 10px;
	background: #282b30;
	font-size: 10px;
	border-top: solid 1px #36393E;
	color: #535559;
}
