//META{"name":"DTM-16 Addons: Full Light Mode","description":"","author":"11pixels","version":"1.1"}*//{}

.side-8zPYf6 .themed-OHr7kt.item-PXvHYJ:hover, .topPill-30KHOu .themed-OHr7kt.item-PXvHYJ:hover {
    color: #333 !important;
}
.systemPad-3UxEGl .side-8zPYf6 .item-PXvHYJ, .ui-tab-bar-item {
    color: #666 !important;
}
.name-uJV0GL {
    color: #555;
}
.container-3baos1 {
    background: #ececec;
    border-top-color: #cdcfd2;
}
.nameTag-3uD-yy .subtext-3CDbHg {
    color: #444;
    font-weight: 500;
}
.nameTag-3uD-yy .title-eS5yk3 {
    color: #222
}
.container-2Pjhx-.selected-aXhQR6, .wrapper-1ucjTd.modeSelected-1zApJ_ .content-3at_AU, .wrapper-1ucjTd.modeSelected-1zApJ_ .content-3at_AU:hover {
    background: linear-gradient(to right,#cbd8ec 85%,transparent) !important;
}
.clickable-1JJAn8.container-2Pjhx-:hover, .theme-dark .wrapper-1ucjTd:hover .content-3at_AU, .theme-light .wrapper-1ucjTd:hover .content-3at_AU {
    color: #7b7b7b !important;
    background: linear-gradient(to right, #d8dfec 70%, transparent) !important;
}
.activityText-OW8WYb {
    color: #555;
}
.privateChannelRecipientsInviteButtonIcon-cXLJ7f {
    filter: invert(0.8)
}
.privateChannels-1nO12o {
    background: var(--background-secondary)
}
.container-3baos1>.directionRow-3v3tfG, .container-1giJp5>.directionRow-3v3tfG {
    border-color: #bbb;
}
.container-3baos1>.directionRow-3v3tfG>button {
    border-right-color: #ffffff;
    border-left: solid 1px #bbb!important;
    background-color: #f3f3f3 !important;
}
.container-3baos1>.directionRow-3v3tfG>button:first-of-type {
    border-left: none!important;
}
button:hover>div>svg>path[d="M14.99 11C14.99 12.66 13.66 14 12 14C10.34 14 9 12.66 9 11V5C9 3.34 10.34 2 12 2C13.66 2 15 3.34 15 5L14.99 11ZM12 16.1C14.76 16.1 17.3 14 17.3 11H19C19 14.42 16.28 17.24 13 17.72V21H11V17.72C7.72 17.23 5 14.41 5 11H6.7C6.7 14 9.24 16.1 12 16.1ZM12 4C11.2 4 11 4.66667 11 5V11C11 11.3333 11.2 12 12 12C12.8 12 13 11.3333 13 11V5C13 4.66667 12.8 4 12 4Z"], button:hover>div svg>path[d="M12 2.00305C6.486 2.00305 2 6.48805 2 12.0031V20.0031C2 21.1071 2.895 22.0031 4 22.0031H6C7.104 22.0031 8 21.1071 8 20.0031V17.0031C8 15.8991 7.104 15.0031 6 15.0031H4V12.0031C4 7.59105 7.589 4.00305 12 4.00305C16.411 4.00305 20 7.59105 20 12.0031V15.0031H18C16.896 15.0031 16 15.8991 16 17.0031V20.0031C16 21.1071 16.896 22.0031 18 22.0031H20C21.104 22.0031 22 21.1071 22 20.0031V12.0031C22 6.48805 17.514 2.00305 12 2.00305Z"], button:hover>div>svg>path[d="M6.16204 15.0065C6.10859 15.0022 6.05455 15 6 15H4V12C4 7.588 7.589 4 12 4C13.4809 4 14.8691 4.40439 16.0599 5.10859L17.5102 3.65835C15.9292 2.61064 14.0346 2 12 2C6.486 2 2 6.485 2 12V19.1685L6.16204 15.0065Z"], button:hover>div>svg>path[d="M9.01 11.085C9.015 11.1125 9.02 11.14 9.02 11.17L15 5.18V5C15 3.34 13.66 2 12 2C10.34 2 9 3.34 9 5V11C9 11.03 9.005 11.0575 9.01 11.085Z"], .container-3baos1>.directionRow-3v3tfG>button:hover svg[name="Gear"]>path {
    fill: #333 !important;
}
.container-PNkimc, .clickable-2ap7je .header-2o-2hj {
    background: var(--background-secondary)
}
.clickable-2ap7je .header-2o-2hj:hover {
    background: var(--background-primary)
}
.header-2o-2hj .name-3YKhmS {
    color: #222;
}
.header-2o-2hj .name-3YKhmS:hover {
    color: #111;
}
.modeConnected-2IEL4z .name-3_Dsmg, .modeConnected-2IEL4z:hover .name-3_Dsmg, .modeSelected-1zApJ_ .name-3_Dsmg, .modeSelected-1zApJ_:hover .name-3_Dsmg, .modeUnread-1zpFdA .name-3_Dsmg, .modeUnread-1zpFdA:hover .name-3_Dsmg, .notInteractive-YF5EXq.modeConnected-2IEL4z .name-3_Dsmg, .notInteractive-YF5EXq.modeSelected-1zApJ_ .name-3_Dsmg {
    color: #555
}
.wrapper-CU3qI5.muted-1NRuDm:hover .icon-WnO6o2, .wrapper-CU3qI5.muted-1NRuDm:hover .name-IbjUBS, .wrapper-CU3qI5:hover .icon-WnO6o2, .wrapper-CU3qI5:hover .name-IbjUBS {
    color: #333
}
.addButtonIcon-3u-3Hu:hover {
    color: #333;
}
.modeMuted-3osy7j:hover .name-3_Dsmg, .wrapper-1ucjTd:hover .name-3_Dsmg{
    color: #555;
}
.unread-3zKkbm {
    background: #333 !important;
}
.button-1w5pas {
    filter: brightness(0.4)
}
.side-8zPYf6 .themed-OHr7kt.selected-3s45Ha.item-PXvHYJ, .topPill-30KHOu .themed-OHr7kt.selected-3s45Ha.item-PXvHYJ {
    color: #111 !important;
}
.sidebarRegion-VFTUkN .side-8zPYf6 .header-2RyJ0Y:first-child {
    color: #222;
}
.sidebarRegion-VFTUkN .side-8zPYf6 .socialLinks-3jqNFy:after {
    color: #333;
}
.scroller-2TZvBN {
    background: #fff;
}
.item-2hkk8m {
    background: #383838 !important;
}
.guildSeparator-3s64Iy {
    background: #aaa;
}
.childWrapper-anI2G9 {
    background: #ddd;
    color: #444;
}
.panels-j1Uci_ {
    background: #eee;
}
.contextMenu-HLZMGh {
    background: #eee;
}
.clickable-11uBi- {
    color: #666;
}
.clickable-11uBi-:hover, .selected-BYpGTS {
    background: #bbb;
    color: #222;
}
.menu-Sp6bN1 {
    background: #eee;
}
.statusIconText-3b4TkH, .customStatusContentIcon-2sionu {
    color: #444;
}
.itemBase-1Qj4z6:hover {
    color: #666;
    background: #ddd;
}
.searchBar-6Kv8R2 .searchBarComponent-32dTOx {
    background: #ddd;color:#666;border-color:#ccc
}
.sidebarRegion-VFTUkN .side-8zPYf6 .item-PXvHYJ, .ui-tab-bar-item {
    color: var(--interactive-normal) !important
}
.hasBanner-14PPlG.clickable-2ap7je .header-2o-2hj .name-3YKhmS {color: #fff}
.expandedFolderBackground-2sPsd-, .folder-21wGz3 {background:#ddd}
.folder-21wGz3:hover {background:#eee}