 /**
 * @name DTM-16 Addon: Old Invite Embeds
 * @author 11pixels#2004
 * @version 1.1
 * @invite JB6axYch8m
 * @description Brings back the old invite embeds from 2016 (idk why anyone would use this)
*/

.header-2BTCnc,.guildDetail-1nRKNE{display:none;}
.guildIconImage-3qTk45{visibility:hidden}
.wrapper-35wsBm .button-3To2tQ.buttonSize-DbrWhv {position:absolute;font-size:0;min-width:0;width:52px;height:52px;padding-left:1px;padding-top:5px;border-radius:50%;margin-left:-2px}
.guildName-2hvnt_,.guildNameExpired-2Hp80V{margin-bottom:0}
.guildNameExpired-2Hp80V{color:white;text-transform:uppercase;font-weight:900}
.theme-light .guildNameExpired-2Hp80V{color:#4f545c}
.wrapper-35wsBm .buttonIcon-1pYT18 {display:none}
.wrapper-35wsBm{border-radius:5px;border-width:2px;min-width:300px;width:300px}
.wrapper-35wsBm .lookFilled-1Gx00P.colorBrand-3pXr91{background:url(https://cdn.discordapp.com/attachments/642779987044204544/643937287809400832/unknown.png)!important;background-position:center!important}
.wrapper-35wsBm .lookFilled-1Gx00P.colorGreen-29iAKY{background:url(https://cdn.discordapp.com/attachments/642779987044204544/643937264422092800/unknown.png)!important;background-size:contain!important}
.wrapper-35wsBm .lookOutlined-3sRXeN.colorPrimary-3b3xI6{border:none!important;background:url(https://cdn.discordapp.com/attachments/642779987044204544/643937275473952788/unknown.png)!important;background-size:contain!important}
.wrapper-35wsBm .lookFilled-1Gx00P.colorBrand-3pXr91:after,.wrapper-35wsBm .lookFilled-1Gx00P.colorGreen-29iAKY:after,.wrapper-35wsBm .lookOutlined-3sRXeN.colorPrimary-3b3xI6:after{content:"";background:none;position:absolute;width:300px;height:74px;top:-10px;left:-10px}
.guildIconExpired-2Qcq05{background:url(https://cdn.discordapp.com/attachments/642779987044204544/643937287809400832/unknown.png)!important;border-radius:50%;width:52px;height:52px;margin-top:-2px;margin-left:-2px;}
