/*topbar*/
.selected-1GqIat svg path{
  fill:#b6b8bb;
}


/*status*/
.mask-1l8v16 rect.pointerEvents-2zdfdO:not([mask="url(#svg-mask-status-online-mobile)"]){
  mask:url(#svg-mask-status-online);
}


/*server list*/
.wrapper-25eVIn .svg-1X37T1 foreignObject{
	mask:none;
}
.listItem-2P_4kh:first-of-type .svg-1X37T1 foreignObject{
	border-radius:50%;
	transition:.15s ease-out;
}
.listItem-2P_4kh:first-of-type .svg-1X37T1 foreignObject:hover{
    border-radius:14px;
}


/*servers*/
.hasBanner-14PPlG.clickable-2ap7je .header-2o-2hj .name-3YKhmS{
    text-shadow:none;
}


/*message bar*/
.attachButton-1UjEWA:hover .attachButtonPlus-rUdX-B{
    fill:#fff!important;
}


/*gifs*/
.gifTag-31zFY8{
	background:url(https://cdn.discordapp.com/attachments/619899344727834654/643462240426655744/f08d762d18b676262c8d40c5aff9e640.svg);
	background-size:36px 22px;
	width:36px;
	height:22px;
}


/*calls*/
.videoHeight-Qp_9vC.normal-1jW0uq{
	height:auto;
}


/*user popout/profile*/
/*user popout/profile blurple*/
.theme-dark .bodyInner-245q0L,
.theme-light .bodyInner-245q0L{
    background-color:#fbfbfb;
}
.bodyInner-245q0L .bodyTitle-Y0qMQz{
    color:#87909c;
}
.theme-dark .bodyInner-245q0L,
.theme-light .bodyInner-245q0L{
	color:rgba(79,84,92,.8);
}
.theme-dark .footer-1fjuF6,
.theme-light .footer-1fjuF6{
	background-color:white;
	border-color:#e0e5e8;
}
.theme-dark .quickMessage-1yeL4E,
.theme-light .quickMessage-1yeL4E{
	background-color:#fbfbfb;
	border-color:#e0e5e8;
}
.theme-dark .primary-jw0I4K,
.theme-light .primary-jw0I4K{
	color:#9eaeb8;
}
.theme-dark .topSectionNormal-2-vo2m .header-QKLPzZ,
.theme-light ..topSectionNormal-2-vo2m .header-QKLPzZ{
	background-color:#7289da;
}
.theme-dark .topSectionNormal-2-vo2m .discriminator-xUhQkU,
.theme-light .topSectionNormal-2-vo2m .discriminator-xUhQkU,
.theme-dark .topSectionPlaying-1J5E4n .disableColor-MwOAZf,
.theme-light .topSectionPlaying-1J5E4n .disableColor-MwOAZf{
	color:#adbaea;
}
.topSectionNormal-2-vo2m .lookFilled-1Gx00P.colorGreen-29iAKY,
.topSectionPlaying-1J5E4n .lookFilled-1Gx00P.colorBrand-3pXr91{
	background-color:white;
}
.topSectionNormal-2-vo2m .tabBarContainer-1s1u-z,
.topSectionPlaying-1J5E4n .tabBarContainer-1s1u-z{
	background-color:white;
	border-bottom:1px solid #f2f2f2;
}
.top-28JiJ- .selected-3s45Ha.themed-OHr7kt.item-PXvHYJ{
	color:#7289da;
	border-color:#7289da;
}
.body-3ND3kc{
	background-color:white;
}
.connectedAccount-36nQx7{
	border:none;
	padding:0;
}
.connectedAccount-36nQx7 .connectedAccountName-f8AEe2{
	color:#00a9f3;
}
.theme-dark .autocompleteHeaderBackground-30T70q,
.theme-light .autocompleteHeaderBackground-30T70q{
	background-color:#7289da;
}
.theme-dark .container-VSDcQc .headerText-3i6A8K,
.theme-light .container-VSDcQc .headerText-3i6A8K{
	color:#c9d2f0;
}
.theme-dark .container-VSDcQc .sectionTag-pXyto9,
.theme-light .container-VSDcQc .sectionTag-pXyto9{
	background-color:white;
}


/*upload modal*/
.theme-light .uploadModal-2ifh8j,
.theme-dark .uploadModal-2ifh8j{
    background-color:#7289da;
    width:520px;
}
.uploadModal-2ifh8j .inner-3nWsbo{
    border:2px dashed #aab8e8;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    margin:10px;
}
.uploadModal-2ifh8j .inner-3nWsbo .file-34mY5K .icon-kyxXVr.image-2yrs5j{
    border:2px solid #7289da;
}
.uploadModal-2ifh8j .inner-3nWsbo .file-34mY5K .description-2ug5H_{
	overflow:visible;
}

.uploadModal-2ifh8j .inner-3nWsbo .file-34mY5K .description-2ug5H_ .filename-ovv3c5{
	font-size:18px;
	font-weight:500;
	position:relative;
	top:6px;
	right:4px;
}
.theme-light .footer-3mqk7D,
.theme-dark .footer-3mqk7D{
    background-color:#5b6dae;
    box-shadow:none;
    padding:10px;
}
.theme-light .checkbox-1ix_J3,
.theme-dark .checkbox-1ix_J3{
	border-color:white;

}
.theme-light .uploadModal-2ifh8j .primary-jw0I4K,
.theme-dark .uploadModal-2ifh8j .primary-jw0I4K{
	color:white;
}
.uploadModal-2ifh8j .lookLink-9FtZy-.colorPrimary-3b3xI6{
    color:white;
}
.uploadModal-2ifh8j .lookFilled-1Gx00P.colorBrand-3pXr91{
	background-color:white;
	color:#6576b3;
}


/*emoji picker*/
.emojiPicker-3m1S-j{
	padding:0;
}

/*emoji picker blurple*/
.theme-dark .emojiPicker-3m1S-j .scroller-3vODG7 .emojiItem-109bjA.selected-39BZ4S,
.theme-light .emojiPicker-3m1S-j .scroller-3vODG7 .emojiItem-109bjA.selected-39BZ4S{
	background-color:rgba(123,123,123,.37);
}
.categories-1feg4n svg{
    filter:invert(1);
}
.selected-39BZ4S svg{
	filter:invert(0);
}


/*server discovery*/
.bg-AYqtMd{
	display:none;
}


/*cards*/
.card-3DjzTQ{
	border-radius:3px;
	background-color:#32363b!important;
	border:1px solid #2f3137;
}
.card-3DjzTQ:hover{
	transform:none;
	transition:none;
	box-shadow:none!important;
}


/*settings*/
.contentRegion-3nDuYy .sidebarScrollable-1qPI87 .flexChild-faoVW3{
	padding:0!important;
}
.contentRegion-3nDuYy .cardPrimary-1Hv-to{
	background:none;
	padding:0;
	border:none;
}

/*settings blurple*/
.contentRegion-3nDuYy .defaultColor-1_ajX0{
	color:#7289da;
}


/*tooltips*/
.tooltipTop-XDDSxx{
	transition:none!important;
    transform:none!important;
}


/*dms*/
.privateChannels-1nO12o .avatar-3uk_u9{
  background-color:#4f545c;
  border-radius:50px;
  transform:scale(0.9);
}
.privateChannels-1nO12o .container-2Pjhx-.selected-aXhQR6 .avatar-3uk_u9{
    background-color:#7289da;
}
.avatar-3uk_u9 svg path{
  color:white;
}
.avatar-3uk_u9 svg foreignObject img[src="/assets/b8912961ea6ab32f0655d583bbc26b4f.png"],
.avatar-3uk_u9 svg foreignObject img[src="/assets/773616c3c8a7e21f8a774eb0d5625436.png"],
.avatar-3uk_u9 svg foreignObject img[src="/assets/e1fb24a120bdd003a84e021b16ec3bef.png"],
.avatar-3uk_u9 svg foreignObject img[src="/assets/861ab526aa1fabb04c6b7da8074e3e21.png"],
.avatar-3uk_u9 svg foreignObject img[src="/assets/f810dc5fedb7175c43a3389aa890534f.png"],
.avatar-3uk_u9 svg foreignObject img[src="/assets/485a854d5171c8dc98088041626e6fea.png"],
.avatar-3uk_u9 svg foreignObject img[src="/assets/1531b79c2f2927945582023e1edaaa11.png"],
.avatar-3uk_u9 svg foreignObject img[src="/assets/b3150d5cef84b9e82128a1131684f287.png"]{
    content:url("https://cdn.discordapp.com/attachments/642747031349100565/648925464944967682/unknown.png");
}

.scroller-1JbKMe .subtext-1RtU34{
  color:#4e555b;
}
.scroller-1JbKMe .clickable-1JJAn8.container-2Pjhx-{
  color:#6c6e71!important;
}
.activity-525YDR svg path,
.activity-2Gy-9S svg path{
  display:none;
}

.container-2OH5nX{
  padding:0;
  padding-top:62px;
  padding-left:20px;
}
.container-2OH5nX .wrapper-3t9DeA,
.container-2OH5nX .header-37a0R7{
  display:none;
}


/*message bars*/
.barButtonAlt-3gIkIj{
  display:none;
}
.barButtonMain-1giYuj{
  text-align:center;
}


/*emoji*/
.emoji.jumboable{
  width:32px;
  height:32px;
  min-height:32px;
}


/*friends list*/
.friendsTable-133bsv .friendsRow-2yicud .discordTag-1Hozyw .username-1r0gCl{
	color:#adaeb0;
}
.item-3HpYcP{
	border-radius:3px!important;
}
.item-3HpYcP[style="background-color: rgb(67, 181, 129); color: rgb(255, 255, 255);"]{
	background-color:#728adc!important;
}
.topPill-30KHOu .themed-OHr7kt.selected-3s45Ha.item-PXvHYJ{
	background-color:white;
	color:#36393e;
}


/*blurple restoration*/
.theme-dark .container-2x5lvQ .header-2C89wJ,
.theme-light .container-2x5lvQ .header-2C89wJ{
	background-color:#7289da;
}
.container-2x5lvQ section,
.emojiPicker-3m1S-j,
.emojiPicker-3m1S-j .stickyHeader-1SS0JU,
.emojiPicker-3m1S-j .categories-1feg4n,
.scroller-305q3I,
.contentRegionScroller-26nc1e{
	background-color:white!important;
}
.theme-dark .container-2x5lvQ section p{
	color:black;
}

streamPreviewWrapper-2DSWOK..mounted-26niXS{
	box-shadow:none;
}
.body-Ogsp8i{
    background-color:white!important;
}
.body-Ogsp8i .contents-18-Yxp{
    color:#4e555b;
}
.emojiPicker-3m1S-j{
	border:1px solid #f2f2f2;
}
.emojiPicker-3m1S-j .header-1nkwgG{
	box-shadow:none;
	border-bottom:1px solid #e6e6e6;
}
.emojiPicker-3m1S-j .container-2XeR5Z{
	background-color:#eef1f3;
}
.emojiPicker-3m1S-j .category-2U57w6{
	color:#98aab7;
}
.infoBar-U6oBFk,
.infoBarWrapper-283ttO{
	display:none;
	transition:none;
	transform:none;
}
.emojiPicker-3m1S-j .categories-1feg4n{
	border-top:1px solid #e6e6e6;
}
.layer-3QrUeG .toolsContainer-1edPuj{
	background-color:#f9f9f9!important;
}
.contentRegion-3nDuYy .title-31JmR4{
	color:#010101;
}
.contentRegion-3nDuYy .scroller-305q3I{
	border-right:1px solid #f0f0f0;
}
.systemPad-3UxEGl .side-8zPYf6 .item-PXvHYJ[style*="; color: rgb(255, 255, 255);"]{
	color:#87909d!important;
}


/*switch to checkbox*/
.themeDefault-24hCdX{
    background-color:white;
    border:2px solid #cdcdcd;
    border-radius:3px;
}
.themeDefault-24hCdX.valueChecked-m-4IJZ{
    background-color:#7289da!important;
    border-color:#7289da;
    box-shadow:none;
    background-image:url(https://cdn.discordapp.com/attachments/642779987044204544/642823054044561418/checkIcon.png);
    background-repeat:no-repeat;
    background-position:center
}
.themeDefault-24hCdX.valueUnchecked-2lU_20.sizeDefault-2YlOZr:after,
.themeDefault-24hCdX.valueChecked-m-4IJZ.sizeDefault-2YlOZr:after{
    display:none;
}
.switchEnabled-V2WDBB:active:before{
	opacity:00;
}
.themeDefault-24hCdX.sizeDefault-2YlOZr{
    width:18px;
    height:18px;
    transition:none;
    box-shadow:none;
}
