.container-5SvbtF {
    justify-content: start;
}
.avatarUploaderInnerSquare-2J8lU8 {
    width: 320px;
}
.imageUploaderIconWrapper-14sdnH {
    width: 100%;
}
.container-24rGVp {
    justify-content: start;
}
.bar-wDIGjg {
    justify-content: center;
    position: relative;
    font-weight: 600;
    color: var(--white-500);
    height: 24px;
    width: 224px;
    box-sizing: border-box;
    margin: 8px;
    background: var(--background-accent) !important;
    opacity: .9;
    border-radius: 12px;
    -webkit-box-shadow: 0 2px 6px rgba(var(--black-500-rgb),.24);
    box-shadow: 0 2px 6px rgba(var(--black-500-rgb),.24);
    -webkit-app-region: no-drag;
}
.bottom-29W7pW .bar-wDIGjg:after {
    position: absolute;
    content: "";
    top: 0;
    left: -8px;
    right: -8px;
    bottom: -8px;
}
.top-2wJPMI .bar-wDIGjg:after {
    position: absolute;
    content: "";
    top: -8px;
    left: -8px;
    right: -8px;
    bottom: 0;
}
.bar-wDIGjg:hover {
    opacity: 1;
}
.bar-wDIGjg * {
    color: inherit !important;
}
.waitlistCtaButton-3zHsw8 {
    border-radius: 3px;
}
.avatarDecorationBorder-1EBepl {
    display: none;
}
.banner-3Uu4yV .header-2Iw_Lc {
    color: #fff !important;
}
.banner-3Uu4yV .defaultColor-24IHKz {
    color: #eee !important;
}
.membershipDialog-1U_2jd * {
    color: #fff !important;
}
.browserNotice-1u-Y5o .text-lg-medium-3LMagp {
    font-size: 16px;
    line-height: unset;
}
html.theme-light .theme-dark .divider-3qUeLQ {
    border-color: #3f4248;
}
/* dec 8 */
.button-12Fmur:hover {
    background: var(--background-modifier-hover)
}
.button-12Fmur:active {
    background: var(--background-modifier-active)
}