/**
* @name NewDrag&DropModal
* @author 11pixels
* @version 3.0
* @description Overhauls the drag&drop file upload modal. (Configurable, CAN'T and DOESN'T detect your upload filesize limit.)
*/
:root {
  /* options: */
  /* var(--dragndrop-25mb) */
  /* var(--dragndrop-50mb) */
  /* var(--dragndrop-50mb-classic) */
  /* var(--dragndrop-50mb-boost) */
  /* var(--dragndrop-100mb-boost) */
  /* var(--dragndrop-500mb) */
  /* keep the number after 'dragndrop' and before the dash the same for each line */
  /* also keep all set to the same style for best experience or something idk */
  --dragndrop0-style: var(--dragndrop0-500mb);
  --dragndrop1-style: var(--dragndrop1-500mb);
  --dragndrop2-style: var(--dragndrop2-500mb);
}
/* END OF CONFIG */
:root {
  --dragndrop0-25mb: "Maximum file size: 25 MB";
  --dragndrop0-50mb: "Maximum file size: 50 MB";
  --dragndrop0-50mb-classic: "Maximum file size: 50 MB";
  --dragndrop0-50mb-boost: "Maximum file size: 50 MB";
  --dragndrop0-100mb-boost: "Maximum file size: 100 MB";
  --dragndrop0-500mb: "Maximum file size: 500 MB";
  --dragndrop1-25mb: linear-gradient(to right, var(--interactive-normal) 73%, #5865F2 73%, #5865F2);
  --dragndrop1-50mb: linear-gradient(to right, var(--interactive-normal) 73%, var(--premium-tier-0-blue-for-gradients) 73%, var(--premium-tier-0-blue-for-gradients-2));
  --dragndrop1-50mb-boost: linear-gradient(to right, var(--interactive-normal) 73%, var(--guild-boosting-blue) 73%, var(--guild-boosting-purple));
  --dragndrop1-100mb-boost: linear-gradient(to right, var(--interactive-normal) 71%, var(--guild-boosting-blue) 71%, var(--guild-boosting-purple));
  --dragndrop1-50mb-classic: linear-gradient(to right, var(--interactive-normal) 73%, var(--premium-tier-1-blue-for-gradients) 73%, var(--premium-tier-1-dark-blue-for-gradients));
  --dragndrop1-500mb: linear-gradient(to right, var(--interactive-normal) 70%, var(--premium-tier-2-pink-for-gradients) 70%, var(--premium-tier-2-pink-for-gradients-2));
  --dragndrop2-25mb: var(--brand-experiment);
  --dragndrop2-50mb: linear-gradient(135deg, var(--premium-tier-0-blue-for-gradients), var(--premium-tier-0-blue-for-gradients-2));
  --dragndrop2-50mb-boost: linear-gradient(135deg,var(--guild-boosting-blue),var(--guild-boosting-purple));
  --dragndrop2-100mb-boost: linear-gradient(135deg,var(--guild-boosting-blue),var(--guild-boosting-purple));
  --dragndrop2-50mb-classic: linear-gradient(135deg, var(--premium-tier-1-blue-for-gradients), var(--premium-tier-1-dark-blue-for-gradients));
  --dragndrop2-500mb: linear-gradient(135deg, var(--premium-tier-2-pink-for-gradients), var(--premium-tier-2-pink-for-gradients-2));
}
.uploadModalIn_f82cc7 .uploadDropModal_f82cc7 {
  background: var(--background-secondary);
  animation: none;
  border-radius: 10px;
}
.uploadModalIn_f82cc7 .uploadDropModal_f82cc7 .bgScale_f82cc7 {
  display: none !important;
}
.uploadModalIn_f82cc7 .base_e5520d,
.uploadModalIn_f82cc7 .uploadDropModal_f82cc7 .inner_f82cc7 .icons_f82cc7 {
  display: none;
}
.uploadModalIn_f82cc7 .uploadDropModal_f82cc7 .inner_f82cc7 .title_f82cc7:before,
.uploadModalIn_f82cc7 .uploadDropModal_f82cc7 .inner_f82cc7 .title_f82cc7:after {
  font-size: 16px;
}
.uploadModalIn_f82cc7 .uploadDropModal_f82cc7 .inner_f82cc7 .title_f82cc7:before {
  content: " ";
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAAAXNSR0IArs4c6QAAAYBJREFUaIHt2NFtgzAQxvHvSAfoCBmhGYFGCPHWFTpCJyhM0BG6Qt9QFKV0g3SEjMAA4OsTLY1I7cDZBtX/t0gOvl8sAQoQCv3vyGRRWVXrVYNXEN8x43bKhkpxkaXbfMo1+mkBZVWtVy0fpw7eTxIRaRe0eJEcHgCiiJ7L3cENAMwPIhtFlJ99FkHoAUIl27iwgXAGAOwgnAIAeYRzACCL8AIA5BDeAIAMwisAmI7wDgCmIWYBAC4jdN+bDQAYRui6sTXMebv9O5usU8po2XezOoExBYDvAsB3lgGUX3tbvDaLt1HK0yQuAGB/qKAUW4FYOoGf4YFxDyjTLAB+D99lCyEMGB6+ywZCEPD38F3SCCGA2fBdkggBwHXDd0khtH8tmr5F9kuT+8HrSl6rKzyJfRcAvls8wMrL3Ji7zdgWfwJaAAG1i0HGZnICn9anuBCD33RrtIC2oUcfp0BAzU30pFunBWRZfGob2sDg15CIgJqBj7ahTZbFJxd7hkJL7gvhhZgUq6GnsgAAAABJRU5ErkJggg==);
  display: inline-block;
  padding-right: 5px;
  background-repeat: no-repeat;
  background-size: contain;
  width: 24px;
  height: 24px;
  margin-bottom: -6px;
  opacity: 0.6;
}
.theme-light .uploadModalIn_f82cc7 .uploadDropModal_f82cc7 .inner_f82cc7 .title_f82cc7:before {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAAAXNSR0IArs4c6QAAAZFJREFUaIHtmD9OwzAUhz+nDIwcoRtILO0NOAHNgKqO4QicgPQEHIGMqOoQeoLegC4MbD1C5w4xU6QSNbJTP8et8De/2L/PT/KfQCTyv1E2ReksG2rNO5oRcOMyoYb5alHkLmMcMjAVpLNsqCu+gDvg2nVCBQ+39yP1871Zu44FkJgKdMUbjqveRMHr4zQT6YJRAEglJlIVfwJLSdgIiFAui7kPid4EwI9ErwIgL9G7AMhKBBEAOYlgAiAjEVQA3CWCC4CbxFkIQLuE6buzEYDjEiaufIVpMplm2qbOquiAs+rAKUSB0ESB0HgV0BV5122xK962UV2Rr5bFHCB9ytCJHxEvHTgMD6cdULaICzTD1/iSEBVoC1/jQ0JMwBS+RlpCRMA2fI2khLNA1/A1UhLO26hKyCeNh8fnojj6z7V5I+168zxGPIlDEwVCc/ECXi5ztu9fCS6+AzYCO+8pHDALaDY95GijNBUYBdSAZ8J0Yaf2vJiKjALlR7FVCWMsVkOIHZq12jMuy2Lb05yRyMXyCx4KsVxnr04xAAAAAElFTkSuQmCC);
}
.uploadModalIn_f82cc7 .uploadDropModal_f82cc7 .inner_f82cc7 .title_f82cc7:after {
  content: var(--dragndrop0-style);
  font-size: 16px;
  background: var(--dragndrop1-style);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.uploadModalIn_f82cc7 .uploadDropModal_f82cc7 .inner_f82cc7 .title_f82cc7 {
  font-size: 0;
  padding-bottom: 10px;
  text-align: left;
  margin-left: -8px;
  transform: none;
  opacity: 1;
  animation: .8s dragndrop0 ease-out;
  animation-delay: -0.3s;
}
.uploadModalIn_f82cc7 .uploadDropModal_f82cc7 .inner_f82cc7 {
  align-items: start;
  justify-content: start;
  padding: 12px;
  border: none !important;
}
.uploadModalIn_f82cc7 .uploadDropModal_f82cc7 .inner_f82cc7 .instructions_f82cc7 {
  font-size: 0;
  display: block;
  background: var(--background-tertiary);
  width: 100%;
  border-radius: 5px;
  height: 100%;
  margin: 0;
  overflow: hidden;
  transform: none;
  opacity: 1;
  animation: .8s dragndrop0 ease-out;
  animation-delay: -0.25s;
}
.uploadModalIn_f82cc7 .uploadDropModal_f82cc7 {
  width: 350px;
  height: 250px;
}
.uploadModalIn_f82cc7 .uploadDropModal_f82cc7 .inner_f82cc7 .instructions_f82cc7 pre {
  display: block;
  border-radius: 4.0px;
  mask: url("data:image/svg+xml,%3Csvg viewBox='0 0 286 154' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 0H4.51786V2L2 2V4.5H0V2C0 0.895431 0.895431 0 2 0Z M0 152V149.5H2L2 152H4.51776V154H2C0.895427 154 0 153.105 0 152Z M0 144.5V139.5H2V144.5H0Z M0 134.5V129.5H2V134.5H0Z M0 124.5V119.5H2V124.5H0Z M0 114.5V109.5H2V114.5H0Z M0 104.5V99.5H2V104.5H0Z M0 94.5V89.5H2V94.5H0Z M0 84.5V79.5H2V84.5H0Z M0 74.5V69.5H2V74.5H0Z M0 64.5V59.5H2V64.5H0Z M0 54.5V49.5H2V54.5H0Z M0 44.5V39.5H2V44.5H0Z M0 34.5V29.5H2V34.5H0Z M0 24.5V19.5H2V24.5H0Z M0 14.5V9.5H2V14.5H0Z M9.55357 0H14.5893V2H9.55357V0Z M19.625 0H24.6607V2H19.625V0Z M29.6964 0H34.7321V2H29.6964V0Z M39.7679 0H44.8036V2H39.7679V0Z M49.8393 0H54.875V2H49.8393V0Z M59.9107 0H64.9464V2H59.9107V0Z M69.9821 0H75.0178V2H69.9821V0Z M80.0536 0H85.0893V2H80.0536V0Z M90.125 0H95.1607V2H90.125V0Z M100.196 0H105.232V2H100.196V0Z M110.268 0H115.304V2H110.268V0Z M120.339 0H125.375V2H120.339V0Z M130.411 0H135.446V2H130.411V0Z M140.482 0H145.518V2H140.482V0Z M150.554 0H155.589V2H150.554V0Z M160.625 0H165.661V2H160.625V0Z M170.696 0H175.732V2H170.696V0Z M180.768 0H185.804V2H180.768V0Z M190.839 0H195.875V2H190.839V0Z M200.911 0H205.947V2H200.911V0Z M210.982 0H216.018V2H210.982V0Z M221.054 0H226.089V2H221.054V0Z M231.125 0H236.161V2H231.125V0Z M241.197 0H246.232V2H241.197V0Z M251.268 0H256.304V2H251.268V0Z M261.339 0H266.375V2H261.339V0Z M271.411 0H276.447V2H271.411V0Z M281.482 0H284C285.105 0 286 0.895431 286 2V4.5H284V2H281.482V0Z M286 9.5V14.5H284V9.5H286Z M286 19.5V24.5H284V19.5H286Z M286 29.5V34.5H284V29.5H286Z M286 39.5V44.5H284V39.5H286Z M286 49.5V54.5H284V49.5H286Z M286 59.5V64.5H284V59.5H286Z M286 69.5V74.5H284V69.5H286Z M286 79.5V84.5H284V79.5H286Z M286 89.5V94.5H284V89.5H286Z M286 99.5V104.5H284V99.5H286Z M286 109.5V114.5H284V109.5H286Z M286 119.5V124.5H284V119.5H286Z M286 129.5V134.5H284V129.5H286Z M286 139.5V144.5H284V139.5H286Z M286 149.5V152C286 153.105 285.105 154 284 154H281.482V152H284V149.5H286Z M276.446 154H271.411V152H276.446V154Z M266.375 154H261.339V152H266.375V154Z M256.304 154H251.268V152H256.304V154Z M246.232 154H241.196V152H246.232V154Z M236.161 154H231.125V152H236.161V154Z M226.089 154H221.054V152H226.089V154Z M216.018 154H210.982V152H216.018V154Z M205.946 154H200.911V152H205.946V154Z M195.875 154H190.839V152H195.875V154Z M185.804 154H180.768V152H185.804V154Z M175.732 154H170.696V152H175.732V154Z M165.661 154H160.625V152H165.661V154Z M155.589 154H150.554V152H155.589V154Z M145.518 154H140.482V152H145.518V154Z M135.446 154H130.411V152H135.446V154Z M125.375 154H120.339V152H125.375V154Z M115.304 154H110.268V152H115.304V154Z M105.232 154H100.196V152H105.232V154Z M95.1607 154H90.1249V152H95.1607V154Z M85.0892 154H80.0535V152H85.0892V154Z M75.0178 154H69.982V152H75.0178V154Z M64.9463 154H59.9106V152H64.9463V154Z M54.8749 154H49.8392V152H54.8749V154Z M44.8035 154H39.7677V152H44.8035V154Z M34.732 154H29.6963V152H34.732V154Z M24.6606 154H19.6249V152H24.6606V154Z M14.5892 154H9.55346V152H14.5892V154Z' fill='%23fff'/%3E%3C/svg%3E%0A");
  -webkit-mask: url("data:image/svg+xml,%3Csvg viewBox='0 0 286 154' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 0H4.51786V2L2 2V4.5H0V2C0 0.895431 0.895431 0 2 0Z M0 152V149.5H2L2 152H4.51776V154H2C0.895427 154 0 153.105 0 152Z M0 144.5V139.5H2V144.5H0Z M0 134.5V129.5H2V134.5H0Z M0 124.5V119.5H2V124.5H0Z M0 114.5V109.5H2V114.5H0Z M0 104.5V99.5H2V104.5H0Z M0 94.5V89.5H2V94.5H0Z M0 84.5V79.5H2V84.5H0Z M0 74.5V69.5H2V74.5H0Z M0 64.5V59.5H2V64.5H0Z M0 54.5V49.5H2V54.5H0Z M0 44.5V39.5H2V44.5H0Z M0 34.5V29.5H2V34.5H0Z M0 24.5V19.5H2V24.5H0Z M0 14.5V9.5H2V14.5H0Z M9.55357 0H14.5893V2H9.55357V0Z M19.625 0H24.6607V2H19.625V0Z M29.6964 0H34.7321V2H29.6964V0Z M39.7679 0H44.8036V2H39.7679V0Z M49.8393 0H54.875V2H49.8393V0Z M59.9107 0H64.9464V2H59.9107V0Z M69.9821 0H75.0178V2H69.9821V0Z M80.0536 0H85.0893V2H80.0536V0Z M90.125 0H95.1607V2H90.125V0Z M100.196 0H105.232V2H100.196V0Z M110.268 0H115.304V2H110.268V0Z M120.339 0H125.375V2H120.339V0Z M130.411 0H135.446V2H130.411V0Z M140.482 0H145.518V2H140.482V0Z M150.554 0H155.589V2H150.554V0Z M160.625 0H165.661V2H160.625V0Z M170.696 0H175.732V2H170.696V0Z M180.768 0H185.804V2H180.768V0Z M190.839 0H195.875V2H190.839V0Z M200.911 0H205.947V2H200.911V0Z M210.982 0H216.018V2H210.982V0Z M221.054 0H226.089V2H221.054V0Z M231.125 0H236.161V2H231.125V0Z M241.197 0H246.232V2H241.197V0Z M251.268 0H256.304V2H251.268V0Z M261.339 0H266.375V2H261.339V0Z M271.411 0H276.447V2H271.411V0Z M281.482 0H284C285.105 0 286 0.895431 286 2V4.5H284V2H281.482V0Z M286 9.5V14.5H284V9.5H286Z M286 19.5V24.5H284V19.5H286Z M286 29.5V34.5H284V29.5H286Z M286 39.5V44.5H284V39.5H286Z M286 49.5V54.5H284V49.5H286Z M286 59.5V64.5H284V59.5H286Z M286 69.5V74.5H284V69.5H286Z M286 79.5V84.5H284V79.5H286Z M286 89.5V94.5H284V89.5H286Z M286 99.5V104.5H284V99.5H286Z M286 109.5V114.5H284V109.5H286Z M286 119.5V124.5H284V119.5H286Z M286 129.5V134.5H284V129.5H286Z M286 139.5V144.5H284V139.5H286Z M286 149.5V152C286 153.105 285.105 154 284 154H281.482V152H284V149.5H286Z M276.446 154H271.411V152H276.446V154Z M266.375 154H261.339V152H266.375V154Z M256.304 154H251.268V152H256.304V154Z M246.232 154H241.196V152H246.232V154Z M236.161 154H231.125V152H236.161V154Z M226.089 154H221.054V152H226.089V154Z M216.018 154H210.982V152H216.018V154Z M205.946 154H200.911V152H205.946V154Z M195.875 154H190.839V152H195.875V154Z M185.804 154H180.768V152H185.804V154Z M175.732 154H170.696V152H175.732V154Z M165.661 154H160.625V152H165.661V154Z M155.589 154H150.554V152H155.589V154Z M145.518 154H140.482V152H145.518V154Z M135.446 154H130.411V152H135.446V154Z M125.375 154H120.339V152H125.375V154Z M115.304 154H110.268V152H115.304V154Z M105.232 154H100.196V152H105.232V154Z M95.1607 154H90.1249V152H95.1607V154Z M85.0892 154H80.0535V152H85.0892V154Z M75.0178 154H69.982V152H75.0178V154Z M64.9463 154H59.9106V152H64.9463V154Z M54.8749 154H49.8392V152H54.8749V154Z M44.8035 154H39.7677V152H44.8035V154Z M34.732 154H29.6963V152H34.732V154Z M24.6606 154H19.6249V152H24.6606V154Z M14.5892 154H9.55346V152H14.5892V154Z' fill='%23fff'/%3E%3C/svg%3E%0A");
  margin: 20px;
  height: 77%;
  height: 154px;
  width: 286px;
  box-sizing: border-box;
  overflow: hidden;
  background: var(--dragndrop2-style);
}
.uploadDropModal_f82cc7.error_f82cc7 {
  background: none;
}
.uploadDropModal_f82cc7.error_f82cc7 .icons_f82cc7 {
  display: none;
}
.uploadDropModal_f82cc7.error_f82cc7 .inner_f82cc7 {
  padding-top: 16px;
  border: dashed 2px var(--status-danger);
}
.uploadDropModal_f82cc7.error_f82cc7 .instructions_f82cc7 {
  font-size: 14px;
}
@keyframes dragndrop0 {
  0% {transform: translateY(-8px);opacity:0}
  50% {transform: translateY(-8px);opacity:0}
  100% {transform: translateY(0);opacity:1}
}