/*
name: Light Mode
version: 0.0.1
description: a theme that adds light mode to hiven. not meant to be a full thing, just a quick thing until the actual light mode is released
author: 11pixels
*/
.bDzDqd { /* app-mount */
    background: #F4F4F4;
}
.exNGVM { /* sidebar-option */
    color:#888
}
.exNGVM:hover {
    color: #555
}
.dUfpMU { /* sidebar-option-selected */
    color: #000;
}
.cDSkqO, .kfSPU, .kFNvan, .dGrnzh { /* sidebar-option-selected-bar */
    background-color: #000;
}
.itHXfc { /* sidebar-logo */
    filter: brightness(.6) contrast(3) grayscale(1);
}
.hmxYsa, .joMWDq { /* app-inner (server list), friends-list-wrapper(?) */
    background: #E5E5E5
}
.iBOTmN, .fEjJYA { /* unread-indicator, horizontal-servers-unread */
    background: #888
}
.dOwxNR, .hNahwF { /* server-list-separator, horizontal-servers-separators */
    background: #bbb
}
.ecVVCl { /* server-list-add */
    background: #f4f4f4;
    color: #888;
}
.ecVVCl:hover {
    background: #fff;
    color: #444;
}
.eXqFNU, .eGjhnm { /* friends-list-inner, house-inner */
    background: #ddd
}
.eFkIkh { /* channels-wrapper-header */
    background: #d0d0d0;
    color: #222;
}
.eFkIkh svg { /* same as above but svg */
    color: #555
}
.heGrK, .kQiQsH { /* channels-category */
    background: #ddd;
    color: #333;
}
.eavVla {
    color: #222;
}
.eavVla:hover, .bqiRlv {
    background: #eee;
    color: #000;
}
.bqiRlv:hover {
    color: #000;
}
.iSvLXd {
    filter: none;
    opacity: .5
}
.bPLYTX {
    background: #aaa;
}
.gURgUY { /* chat wrapper */
}
.kutmQQ { /* chat header */
    background: #eeee;
    color: #666;
}
.kutmQQ .hqCIBS {
    color: #666
}
.hmcOJH .action:hover {
    color: #000;
}
.AjfdZ { /* chat inner */
    background: #eee
}
.nCrHn text { /* message username */
    color: #222
}
.nCrHn time { /* message timestamp */
    color: #888;
}
.bseLDp, .cygAGP { /* message content */
    color: #000;
}
.bseLDp:hover {
    background: #f4f4f4
}
.boZfLv { /* message actions */
    background: #f4f4f4;
    border-color: #bbb;
}
.bSsBpT { /* message "edited' "*/
    color: #888
}
.cXFRCe { /* typing indicator inactive */
    background: #bbb;
}
/* message action stuff */
.bseLDp svg {
    color: #888
}
.eCBmHI:hover {
    color: #222;
    background: #ddd
}
.eCBmHI:hover svg {
    color: #222
}
.iNVoxx svg {
    color: rgb(255, 79, 79)
}
.iNVoxx:hover {
    background: rgb(255, 79, 79)
}
.iNVoxx:hover svg {
    color: #fff;
}
.bGCQbR { /* message edit textbox */
    background: #ddd;
}
.WvTEw {
    color: #222;
}
.jzBDOx {
    background: #eee;
    border-color: #aaa
}
.eHvnlG, .iIulAi {
    color: #222;
}
.eyjXKS:hover {
    background-color: rgba(255, 121, 198, .1);
    color: rgb(255, 121, 198);
}
.eyjXKS:hover div {
    color: #000 !important;
}
.eyjXKS:hover svg {
    color: rgb(255 121 198) !important
}
.jTLEix:hover {
    background: rgba(255, 79, 79, .1);
}
.jTLEix:hover div {
    color: #000 !important;
}
.jTLEix:hover svg {
    color: rgb(255, 79, 79) !important
}
.CsUZz {
    background: #e2e2e2;
}
.CsUZz text {
    color: #000 !important;
}
.bvRdqG {
    background: #d4d4d4;
    color: #111;
}
.cygAGP code {
    background: #bbb;
    color: #000;
}
.cygAGP code span {
    filter: brightness(0.5) contrast(2)
}
.gITtXP {
    color: #222
}
.gITtXP::placeholder {
    color: #888
}
.bBTDcN {
    background: #ddd
}
.bBTDcN svg {
    color: #888
}
.bBTDcN:hover svg {
    color: #222;
}
.gTkHrZ {
    color: #666
}
.gTkHrZ .action:hover {
    color: #000
}
.ilalSY::-webkit-scrollbar-track {
    background-color: #ccc
}
.ilalSY::-webkit-scrollbar-thumb {
    background-color: #aaa
}
.gJkEUj {
    background: #e8e8e8;
}
.flGHCv {
    background: #ddd;
    color: #222;
}
.XAuPU:first-child {
    background: #aaa
}
.XAuPU:last-child {
    background: #888
}
.kbnlxd, .kCcIvE {
    background: #ddd;
}
.hnNGdY {
    color: #444
}
.kCcIvE::placeholder {
    color: #aaa
}
.fOozpg {
    color: #111
}
.hZVZXO {
    color: #888
}
.AZYAV {
    color: #444
}
.hMrLtV {
    color: #888
}
.gKzCcW:hover {
    background: #0001
}
.jkrDq {
    background: #eee;
    color: #000;
    border-color: #0003;
}
.jkrDq::placeholder {
    color: #0006
}
.djbugS, .kgAXER {
    background-color: #eee;
}
.kgAXER {
    border-color: #bbb
}
.kmcEBZ {
    border-color: #eee;
}
.juMrFM {
    color: #666
}
.tippy-tooltip.default-theme, .tippy-tooltip.default-theme [x-circle] {
    background: #eee!important;
}
.EuqBn, .eSbheu svg {
    color:#888;
}
.eSbheu [color="#ff4f4f"] {
    color: #ff4f4f
}
.iksWBS {
    background: #ddd;
}
.fsNIRC svg {
     color: #222;
}
.fsNIRC {
    color: #222
}
.fmGTFg {
    background: #ccc;
    color: #222
}
.liKqHd svg {
    color: #222
}
.liKqHd span {
    color: #888
}
.ksIqCc {
    background: #ddd
}
.ksIqCc::-webkit-scrollbar-thumb {
    background:#aaa
}
.TqCWf {
    background: #eee;
    color: #222
}
.btXXMy, .btXXMy:hover {
    background: #bbb
}
.iaoEQK {
    color: #888
}
.iaoEQK:hover {
    background: #bbb;
    color: #222
}
.hhVKCB, .gevuvs {
    color: #888
}
.jhbvRT {
    border-color:#888
}
.kcWoaE {
    background:#ccc;
    border-color: #bbb;
}
.kcWoaE::placeholder {
    color: #888
}
.byhLkn {
    background: #fff
}
.eKHkbG h1 {
    color: #888;
}
.kdeLNf {
    color: #444
}
.eKHkbG h3 {
    color: #bbb
}
.bZEmZm {
    border-color: #e8e8e8
}
.jfTUjW, .gzxKtg, .hdmoSs {
    background: #ebebeb;
    border-color: #bbb
}
.gKzCcW:hover .bZEmZm {border-color:#D9D9D9}
.czvVic {background:#ddd}
.yFjTl {color:#888}
.jeGzgw {color:#3c9860}
.fhTztU {background:#444}
.iJZGib svg, .iJZGib h3 {color:#888}
.iJZGib p {color: #aaa}
.dJyXTL {background:#bbb}
.fcgbCH:first-child {border-right-color:#bbb}
.cyfJHf {border-color:#bbb}
.tippy-tooltip {color:#222}
.kqAwBq {color:#bbb}
.bZgrLU {border-color:#E8E8E8}
.iqwwjo:hover {background:none}