/**
* @name DTM-16-V5 Compact Mode Fix
* @author 11pixels#2004
* @version 5.1
* @invite vUN9sNW
* @description Fixes certain elements for compact mode
* @source https://github.com/XYZenix/XYZenixThemes/blob/master/DTM-16-V5/Compact-Mode-Fix.theme.css
*/
.divider-IqmEqJ.isUnread-3Lojb-,
.divider-IqmEqJ.isUnread-3Lojb-:not(.beforeGroup-1BvJAt) {
  top: 40px;
  margin-top: -42px !important;
  margin-bottom: 34px !important;
}
.compact-2Nkcau .buttonContainer-1502pf {
  top: 8px;
}
.divider-IqmEqJ.hasContent-31hcsn:not(.isUnread-3Lojb-) {
  margin-top: -20px !important;
}
.divider-IqmEqJ.beforeGroup-1BvJAt.isUnread-3Lojb- {
  margin-top: -35px !important;
  top: 35px !important;
}
.divider-IqmEqJ.hasContent-1y12-u.divider-2rZFJK {
  top: 16px !important;
  margin-top: -0px !important;
}
.divider-IqmEqJ.hasContent-1y12-u.divider-2rZFJK.isUnread-3Lojb-.hasContent-31hcsn {
  margin-top: 2px !important;
  margin-bottom: -0px !important;
  top: 13px !important;
  position: relative;
  width: calc(100% - 24px);
}
.divider-IqmEqJ:not(.isUnread-3Lojb-) + .messageListItem-ZZ7v6g .message-2CShn3, .divider-IqmEqJ:not(.isUnread-3Lojb-) + .backgroundFlash-1X5jVs .message-2CShn3 {
  margin-bottom: -8px !important;
}
.messageListItem-ZZ7v6g:last-of-type .message-2CShn3, .backgroundFlash-1X5jVs:last-of-type .message-2CShn3 {
  margin-bottom: -18px !important;
}
.messageListItem-ZZ7v6g > .message-2CShn3.compact-2Nkcau.groupStart-3Mlgv1, .backgroundFlash-1X5jVs > .messageListItem-ZZ7v6g > .message-2CShn3.compact-2Nkcau.groupStart-3Mlgv1 {
  margin-bottom: -8px !important;
}
