/**
* @name DTM-16 Message Style Addon
* @author 11pixels#2004
* @version 1.0
* @invite vUN9sNW
* @description poorly written css to attempt to partially revert the message style changes in DTM-16/DTM-17
* @source https://github.com/XYZenix/XYZenixThemes/blob/master/DTM-16.theme.css
*/
.scrollerInner-2PPAp2 .message-2CShn3.groupStart-3Mlgv1:before {
  display: none !important;
}
.scrollerInner-2PPAp2 .message-2CShn3.groupStart-3Mlgv1 {
  margin-top: 10px !important;
  padding-top: 0 !important;
}
.divider-IqmEqJ.beforeGroup-1BvJAt {
  top: 8px !important;
}
.cozy-VmLDNB.groupStart-3Mlgv1 .container-2gUZhU {
  margin-top: -16px !important;
}
.group-spacing-0 .scrollerInner-2PPAp2 .message-2CShn3.groupStart-3Mlgv1 {
  margin-top: 0px !important;
  padding-top: 0 !important;
}
.group-spacing-0 .cozy-VmLDNB.groupStart-3Mlgv1 .container-2gUZhU {
  margin-top: -20px !important;
}
.group-spacing-4 .scrollerInner-2PPAp2 .message-2CShn3.groupStart-3Mlgv1 {
  margin-top: 4px !important;
}
.group-spacing-4 .cozy-VmLDNB.groupStart-3Mlgv1 .container-2gUZhU {
  margin-top: -20px !important;
}
.group-spacing-4 .divider-IqmEqJ.beforeGroup-1BvJAt {
  top: 0px !important;
}
.group-spacing-4 .divider-IqmEqJ.hasContent-1y12-u+li .groupStart-3Mlgv1 {
margin-top: 4px !important;
}
.group-spacing-8 .scrollerInner-2PPAp2 .message-2CShn3.groupStart-3Mlgv1 {
  margin-top: 8px !important;
}
.group-spacing-8 .cozy-VmLDNB.groupStart-3Mlgv1 .container-2gUZhU {
  margin-top: -20px !important;
}
.group-spacing-8 .divider-IqmEqJ.beforeGroup-1BvJAt {
  top: 0px !important;
}
.group-spacing-8 .divider-IqmEqJ.hasContent-1y12-u+li .groupStart-3Mlgv1 {
margin-top: 8px !important;
}
.group-spacing-16 .scrollerInner-2PPAp2 .message-2CShn3.groupStart-3Mlgv1 {
  margin-top: 16px !important;
}
.group-spacing-16 .cozy-VmLDNB.groupStart-3Mlgv1 .container-2gUZhU {
  margin-top: -20px !important;
}
.group-spacing-16 .divider-IqmEqJ.beforeGroup-1BvJAt {
  top: 4px !important;
}
.group-spacing-16 .divider-IqmEqJ.hasContent-1y12-u+li .groupStart-3Mlgv1 {
margin-top: 16px !important;
}
.group-spacing-24 .scrollerInner-2PPAp2 .message-2CShn3.groupStart-3Mlgv1 {
  margin-top: 24px !important;
}
.group-spacing-24 .cozy-VmLDNB.groupStart-3Mlgv1 .container-2gUZhU {
  margin-top: -20px !important;
}
.group-spacing-24 .divider-IqmEqJ.beforeGroup-1BvJAt {
  top: 8px !important;
}
.group-spacing-24 .divider-IqmEqJ.hasContent-1y12-u+li .groupStart-3Mlgv1 {
  margin-top: 24px !important;
}
.mouse-mode .message-2CShn3:hover {
  background: #0001 !important;
}
.theme-light.mouse-mode .message-2CShn3:hover {
  background: #00000007 !important;
}