/**
* @name DTM-16 Message Style Addon
* @author 11pixels#2004
* @version 2.0
* @invite vUN9sNW
* @description poorly written css to attempt to partially revert the message style changes in DTM-16/DTM-17
* @source https://github.com/XYZenix/XYZenixThemes/blob/master/DTM-16.theme.css
*/
.scrollerInner-2PPAp2 :is(.backgroundFlash-1X5jVs, .messageListItem-ZZ7v6g, .quotedChatMessage-PxNsZi) .groupStart-3Mlgv1, .scrollerInner-2PPAp2 :is(.backgroundFlash-1X5jVs, .messageListItem-ZZ7v6g, .quotedChatMessage-PxNsZi) .isSystemMessage-QNv9ZH {
  border-top: none;
  padding-top: 8px;
}
.scrollerInner-2PPAp2 :is(.backgroundFlash-1X5jVs, .messageListItem-ZZ7v6g, .quotedChatMessage-PxNsZi) .groupStart-3Mlgv1 > .contents-2MsGLg > :is(.avatar-2e8lTP, .avatarDecoration-34OC0G), .scrollerInner-2PPAp2 :is(.backgroundFlash-1X5jVs, .messageListItem-ZZ7v6g, .quotedChatMessage-PxNsZi) .isSystemMessage-QNv9ZH > .contents-2MsGLg > :is(.avatar-2e8lTP, .avatarDecoration-34OC0G) {
  margin-top: 10px;
}
.scrollerInner-2PPAp2 :is(.backgroundFlash-1X5jVs, .messageListItem-ZZ7v6g, .quotedChatMessage-PxNsZi):has(+ :is(.backgroundFlash-1X5jVs, .messageListItem-ZZ7v6g) .groupStart-3Mlgv1) .message-2CShn3, .scrollerInner-2PPAp2 :is(.backgroundFlash-1X5jVs, .messageListItem-ZZ7v6g, .quotedChatMessage-PxNsZi):has(+ .divider-IqmEqJ:is(.hasContent-1y12-u, .beforeGroup-1BvJAt)) .message-2CShn3, .scrollerInner-2PPAp2 :is(.backgroundFlash-1X5jVs, .messageListItem-ZZ7v6g, .quotedChatMessage-PxNsZi):has(+ .scrollerSpacer-3AqkT9) .message-2CShn3, .scrollerInner-2PPAp2 :is(.backgroundFlash-1X5jVs, .messageListItem-ZZ7v6g, .quotedChatMessage-PxNsZi):has(.isSystemMessage-QNv9ZH) .message-2CShn3 {
  padding-bottom: 8px;
}
.scrollerInner-2PPAp2 .message-2CShn3:hover {
  background: var(--background-message-hover) !important;
  box-shadow: -20px 0 var(--background-message-hover), 20px 0 var(--background-message-hover);
}
.message-2CShn3 .buttonContainer-1502pf .isHeader-2bbX-L {
  top: 33px;
}