/* random unfinished theme lol */
.appdetailsoverview_Glassy_2OOzY .appdetailsoverview_BackdropGlass_Jbe--,
.appdetailsoverview_Container_27RcN {
    background: #111;
}
/* install button */
.appactionbutton_PlayButton_3ydig.appactionbutton_ButtonChild_2AzIX {
    border: solid 1px #4be;
    background: none !important;
    color: white;
    transition: 0s;
}
.appactionbutton_PlayButton_3ydig.appactionbutton_ButtonChild_2AzIX .appactionbutton_ButtonText_33cnX {
    font-weight: bold;
    color: inherit;
}
.appactionbutton_PlayButton_3ydig.appactionbutton_ButtonChild_2AzIX svg,
.appactionbutton_PlayButton_3ydig.appactionbutton_ButtonChild_2AzIX svg * {
    transition: 0s;
    stroke: currentColor !important;
}
.appactionbutton_PlayButton_3ydig.appactionbutton_ButtonChild_2AzIX:hover,
.appactionbutton_PlayButton_3ydig.appactionbutton_ButtonChild_2AzIX:active {
    border: solid 1px #4ef;
    background: #4ef !important;
    color: #000;
}
/* play button */
.appactionbutton_Green_3cI5T>.appactionbutton_ButtonChild_2AzIX {
    background: none !important;
    border: solid 1px #8e6 !important;
    transition: 0s;
}
.appactionbutton_Green_3cI5T>.appactionbutton_ButtonChild_2AzIX:hover,
.appactionbutton_Green_3cI5T>.appactionbutton_ButtonChild_2AzIX:active {
    background: #8e6 !important;
}
.appactionbutton_Green_3cI5T>.appactionbutton_ButtonChild_2AzIX .appactionbutton_ButtonText_33cnX {
    font-weight: bold;
}
.appactionbutton_Green_3cI5T>.appactionbutton_ButtonChild_2AzIX:hover .appactionbutton_ButtonText_33cnX,
.appactionbutton_Green_3cI5T>.appactionbutton_ButtonChild_2AzIX:active .appactionbutton_ButtonText_33cnX {
    color: #000;
}
.appactionbutton_Green_3cI5T>.appactionbutton_ButtonChild_2AzIX:hover svg *,
.appactionbutton_Green_3cI5T>.appactionbutton_ButtonChild_2AzIX:active svg * {
    fill: #000 !important;
}
.appdetailsheader_DemoBanner_3EXkl:before,
.appdetailsheader_DemoBanner_3EXkl:after {
    display: none;
}
.appdetailsheader_DemoBanner_3EXkl {
    transform: none;
    padding: 2px 8px;
    border-radius: 0 0 8px 0;
    top: 0;
    left: 0;
    background: #111;
    border-bottom: solid 1px;
    border-right: solid 1px;
    border-color: #fff;
    box-shadow: 1px 1px 8px;
}
