/* 11pixels' Steam Theme #002
   Style: Discord
   Version: 0.0.3
   Status: Not finished. */

body {
    font-family: "Whitney";
}
/*
@font-face {
    font-family: Whitney;
    font-weight: 300;
    src: url(https://discordapp.com/assets/6c6374bad0b0b6d204d8d6dc4a18d820.woff) format("woff")
}

@font-face {
    font-family: Whitney;
    font-weight: 400;
    src: url(https://discordapp.com/assets/e8acd7d9bf6207f99350ca9f9e23b168.woff) format("woff")
}

@font-face {
    font-family: Whitney;
    font-weight: 500;
    src: url(https://discordapp.com/assets/3bdef1251a424500c1b3a78dea9b7e57.woff) format("woff")
}

@font-face {
    font-family: Whitney;
    font-weight: 600;
    src: url(https://discordapp.com/assets/be0060dafb7a0e31d2a1ca17c0708636.woff) format("woff")
}

@font-face {
    font-family: Whitney;
    font-weight: 700;
    src: url(https://discordapp.com/assets/8e12fb4f14d9c4592eb8ec9f22337b04.woff) format("woff")
}
*/ /* UNCOMMENT THIS IF YOU DONT HAVE WHITNEY OR IT LOOKS WEIRD */
.appdetailsoverview_Glassy_2OOzY .appdetailsoverview_BackdropGlass_Jbe--,
.appdetailsoverview_Container_27RcN .appdetailsoverview_ColumnContainer_OhSdL {
    background: #36393f;
}
.appdetailsplaysection_Glassy_3DeO9.appdetailsplaysection_PlayBar_3fLo1,
.appdetailssection_AppDetailsSectionContainer_31ptF.appdetailssection_RightColumnSection_3KfxI {
    background: none !important;
    box-shadow: none !important;
}
.appdetails_Glassy_3Fmxx.appdetails_ScrollContainer_2l416::-webkit-scrollbar {
    background: #36393f;
}
.appdetails_Glassy_3Fmxx.appdetails_ScrollContainer_2l416::-webkit-scrollbar-thumb {
    background: #2f3136;
    box-shadow: none;
    border: solid 3px #36393f;
    border-radius: 50px;
}
.gamelist_Container_1ijTa .ReactVirtualized__Grid::-webkit-scrollbar {
    background: #2f3136;
    width: 10px;
}
.gamelist_Container_1ijTa .ReactVirtualized__Grid::-webkit-scrollbar-thumb {
    background: #25272b;
    box-shadow: none;
    border-radius: 50px;
    border: solid 3px #2f3136;
}
.appactionbutton_Green_3cI5T > .appactionbutton_ButtonChild_2AzIX {
    background: #43b581 !important;
}
.appactionbutton_Green_3cI5T:hover > .appactionbutton_ButtonChild_2AzIX {
    background: #3ca374 !important;
}
.appactionbutton_Green_3cI5T:active > .appactionbutton_ButtonChild_2AzIX {
    background: #369167 !important;
}
.appactionbutton_PlayButton_3ydig .appactionbutton_ButtonText_33cnX {
    text-transform: none;
    font-weight: 500;
    letter-spacing: unset;
}
.appactionbutton_PlayButton_3ydig svg {
    display: none;
}
:not(.appactionbutton_Disabled_1Pb6P) > .appactionbutton_ButtonChild_2AzIX svg line, :not(.appactionbutton_Disabled_1Pb6P) > .appactionbutton_ButtonChild_2AzIX svg polygon {
    fill: #fff;
    transform: scaleX(0.75) translate(50px, 0)
}
.appactionbutton_ButtonChild_2AzIX {
    background: #4f545c !important;
}
.appactionbutton_ButtonChild_2AzIX:hover {
    background: #43b581 !important;
}
.appactionbutton_ButtonChild_2AzIX:active {
    background: #3ca374 !important;
}
.tooltip_TextToolTip_2FxbH {
    background: #000;
    box-shadow: 0 8px 16px rgba(0,0,0,0.24);
    border-radius: 5px;
    padding: 8px 12px;
    font-size: 14px;
}
.contextmenu_contextMenu_PP7LM {
    background: #18191c;
    border-radius: 4px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.24);
    padding: 6px 8px;
}
.contextmenu_contextMenuItem_1n7Wl {
    border: none;
    font-weight: 500;
    color: #b9bbbe;
    padding: 6px 12px;
    border-radius: 2px;
    margin: 2px 0;
    text-transform: none !important;

}
.contextmenu_contextMenuItem_1n7Wl:hover {
    color: #dcddde !important;
    background: #4f545c29 !important;
}
.contextmenu_contextMenuItem_1n7Wl:active {
    color: #b9bbbe !important;
    background: #4f545c3d !important;
}
.gamelistbar_Container_3x1Hk {
    background: #2f3136;
}
.gamelistentry_Container_2-O4Z.gamelistentry_Installed_2ws8D {
    color: #8e9297;
}
.gamelistentry_Container_2-O4Z.gamelistentry_Uninstalled_5YTBr {
    color: #4f545c;
}
.gamelistentry_Container_2-O4Z .gamelistentry_GameListEntryContainer_1vO6B {
    font-weight: 500;
}
.gamelistentry_Container_2-O4Z:hover, .gamelistentry_Container_2-O4Z.gamelistentry_HoverOverlay_3cMVy {
    color: #fff !important;
    background: #4f545c29;
}
.gamelistentry_Container_2-O4Z {
    margin: 0 10px;
    border-radius: 4px;
}
.appdetailsprimarylinkssection_LinkInner_7k4qm .appdetailsprimarylinkssection_Link_1b6LY {
    background: none !important;
    cursor: default !important;
}
.appdetailsprimarylinkssection_LinkInner_7k4qm .appdetailsprimarylinkssection_Text_2sNDj {
    color: #8e9297 !important;
}
.appdetailsprimarylinkssection_LinkInner_7k4qm .appdetailsprimarylinkssection_Text_2sNDj:hover {
    color: #dcddde !important;
    text-decoration: underline !important;
}
.library_LibraryWindowDivider_276E6 {
    background: #2f3136;
}
.gamelistentry_Selected_1UBpA.gamelistentry_Container_2-O4Z, .gamelistentry_Selected_1UBpA .gamelistentry_Container_2-O4Z, .gamelistentry_Selected_1UBpA.gamelistentry_Container_2-O4Z :hover {
    background: #4f545c52 !important;
    box-shadow: none;
}
.gamelistsectionheader_Container_2sYIg {
    background: none !important;
}
.gamelistsectionheader_SectionHeaderContent_3cV3O {
    color: #8e9297;
    font-weight: 600;
}
.gamelistsectionheader_SectionName_2mZ8L {
    letter-spacing: unset;
}
.gamelistsectionheader_Container_2sYIg:hover .gamelistsectionheader_SectionHeaderContent_3cV3O {
    color: #dcddde;
}
.library_ContextMenuAction_Z5iAX.Stream,
.library_ContextMenuAction_Z5iAX.Connect,
.library_ContextMenuAction_Z5iAX.Launch,
.library_ContextMenuAction_Z5iAX.PlayMusic,
.library_ContextMenuAction_Z5iAX.Play {
    background: none;
    color: #43b581 !important;
    letter-spacing: unset;
}
.library_ContextMenuAction_Z5iAX.Stream svg,
.library_ContextMenuAction_Z5iAX.Connect svg,
.library_ContextMenuAction_Z5iAX.Launch svg,
.library_ContextMenuAction_Z5iAX.PlayMusic svg,
.library_ContextMenuAction_Z5iAX.Play svg {
    display: none;
}
.library_ContextMenuAction_Z5iAX.Download,
.library_ContextMenuAction_Z5iAX.Update,
.library_ContextMenuAction_Z5iAX.PreLoad,
.library_ContextMenuAction_Z5iAX.Resume,
.library_ContextMenuAction_Z5iAX.Pause,
.library_ContextMenuAction_Z5iAX.BorrowApp,
.library_ContextMenuAction_Z5iAX.Stop,
.library_ContextMenuAction_Z5iAX.Cancel,
.library_ContextMenuAction_Z5iAX.Install,
.library_ContextMenuAction_Z5iAX.PurchaseApp {
    background: none;
    color: #7289da !important;
    letter-spacing: unset;
}
.library_ContextMenuAction_Z5iAX.Download svg,
.library_ContextMenuAction_Z5iAX.Update svg,
.library_ContextMenuAction_Z5iAX.PreLoad svg,
.library_ContextMenuAction_Z5iAX.Resume svg,
.library_ContextMenuAction_Z5iAX.Pause svg,
.library_ContextMenuAction_Z5iAX.BorrowApp svg,
.library_ContextMenuAction_Z5iAX.Stop svg,
.library_ContextMenuAction_Z5iAX.Cancel svg,
.library_ContextMenuAction_Z5iAX.Install svg,
.library_ContextMenuAction_Z5iAX.PurchaseApp svg {
    display: none;
}
.gamelistbar_GameListHomeAndSearch_2TKEa {
    background: none;
    box-shadow: 0 1px 0 rgba(4,4,5,0.2),0 1.5px 0 rgba(6,6,7,0.05),0 2px 0 rgba(4,4,5,0.05);
}
button.DialogButton.Primary {
    background: #7289da !important;
    font-weight: 500;
}
button.DialogButton.Primary:hover {
    background: #677bc4 !important;
}
button.DialogButton.Primary:active {
    background: #5b6eae !important;
}
.sharedappdetailsheader_PinBox_2O6k6.sharedappdetailsheader_CenterCenter_27g5S {
    border-color: #43b581;
}
.collectionview_OuterContainer_2sNr7 {
    background: #36393f;
}
.collectionview_Container_2q70u .collectionview_Header_2rqTS .collectionview_CollectionName_2oJt3 {
    font-weight: 500;
    letter-spacing: unset;
    text-transform: none
}
.collectionview_Container_2q70u .collectionview_Header_2rqTS .DialogInput_Wrapper .DialogTextInputBase {
    font-weight: 400;
    text-transform: none;
}
.gamelistsectionheader_Container_2sYIg.gamelistsectionheader_Selected_sXMOs {
    box-shadow: none
}
.appdetailssectionheader_Label_1SQ30 {
    font-weight: 700;
    letter-spacing: 0.2px;
    font-size: 12px;
    color: #8e9297
}
.appdetailsplaysection_SharedLibrary_z8GYw .appdetailsplaysection_Label_1j9LN {
    color: #b9bbbe;
    font-size: 14px;
}
.gamelistsearchbar_Container_20QAC .gamelistsearchbar_SearchInput_12vo5 .DialogTextInputBase {
    background-color: #2a2c31 !important;
    box-shadow: inset 0 0 0 1px #1d1f22;
    border-radius: 4px;
    margin-right: 5px;
}
.gamelistsearchbar_Container_20QAC .gamelistsearchbar_AdvancedSearchContainer_vCCmY {
    background: none !important;
}
.gamelistsearchbar_Container_20QAC .gamelistsearchbar_AdvancedSearchContainer_vCCmY:hover {
    background: #4f545c52 !important;
}
.appfilterpane_Container_170Np .appfilterpane_SaveButton_1bqGA:disabled, .appfilterpane_Container_170Np .appfilterpane_SaveButton_1bqGA:disabled:hover {
    color: #fff;
    opacity: .5;
}
.appfilterpane_Container_170Np .DialogButton .SVGIcon_Button {
    margin-top: -5px;
}
.gamelistsearchbar_SearchFilterInput_172OF .gamelistsearchbar_FilterTag_3gzh_ {
    color: #fff;
    background: none;
    border-radius: 50px;
    box-shadow: inset 0 0 0 1px dodgerblue;
    padding: 2px 6px 5px 6px;
}
.gamelistsearchbar_SearchFilterInput_172OF .gamelistsearchbar_FilterTag_3gzh_>div:nth-of-type(2) {
    margin-top: 1px;
    margin-left: 1px;
    margin-right: -1px;
}
.gamelistsearchbar_SearchFilterInput_172OF .gamelistsearchbar_FilterTag_3gzh_ svg {
    opacity: .6 !important;
}
.gamelistsearchbar_SearchFilterInput_172OF .gamelistsearchbar_FilterTag_3gzh_ svg:hover {
    opacity: .9 !important;
}
.gamelistsearchbar_SearchFilterInput_172OF .gamelistsearchbar_FilterTag_3gzh_ svg line {
    opacity: 1 !important;
    stroke-width: 0px;
}
.gamelistsearchbar_SearchFilterInput_172OF:hover .gamelistsearchbar_FilterTag_3gzh_ svg line {
    stroke-width: 30px !important;
}
.gamelistsearchbar_SearchFilterInput_172OF .gamelistsearchbar_FilterTag_3gzh_>div:nth-of-type(2) {
    opacity: 1;
}
.gamelistsearchbar_SearchFilterInput_172OF .gamelistsearchbar_FilterTag_3gzh_>div:last-of-type:after {
    width: 13px;
    height: 13px;
    border-radius: 50px;
    margin-left: -11px;
    margin-top: 2px;
    background: dodgerblue;
    content: "";
    display: block;
    pointer-events: none;
}
.appdetailsplaysection_PlayBarLabel_34lrt {
    text-transform: none;
    letter-spacing: unset;
    margin-top: -5px;
}
.appdetailsplaysection_StickyHeader_39Rhe .appdetailsplaysection_Glassy_3DeO9 {
    background: #36393f !important;
    box-shadow: 0 1px 0 rgba(4,4,5,0.2),0 1.5px 0 rgba(6,6,7,0.05),0 2px 0 rgba(4,4,5,0.05) !important;
}
.appdetailsplaysection_StickyHeaderShadow_2_86Q {
    display: none;
}
.appactivityday_PartnerEventTextOnly_3QRf- {
    background: #202225 !important;
    border: none;
    border-radius: 4px;
    box-shadow: none;
}
.appactivityday_PartnerEventType_1ujzu {
    letter-spacing: unset;
    text-transform: none;
}
.appactivityday_PartnerEventTextOnly_Time_ZzN4S {
    color: #666;
}
.appactivityday_Event_UVeN0 .appactivityday_EventBody_NEMXh {
    border-radius: 4px;
    border: none;
    box-shadow: none;
    background: #2f3136 !important;
}
.appactivityday_Event_UVeN0 {
    border-radius: 4px;
    background: #202225;
    padding: 5px 14px 5px 4px;
}
.comment_thread_ActivityCommentThreadMinimized_EhWKR {
    height: 15px
}
.spotlightgameplaysummary_SummaryCarouselContainer_wgbDI {
    border-radius: 4px;
    background: #202225;
}
.spotlightgameplaysummary_SummaryCarouselContainer_wgbDI:after {
    display: none
}
.appdetailshover_AppDetailsHover_38FqI .appdetailshover_BlurContainer_2HshO {
    display: none;
}
.appdetailshover_AppDetailsHover_38FqI .appdetailshover_Background_rYBZB {
    background: #202225;
    border-radius: 4px;
}
.appdetailsachievementssection_Hover_37Lk8 .appdetailsachievementssection_Unlocked_2KA0p {
    background: #2f3136;
    margin: 10px;
    margin-bottom: 9px;
    border-radius: 4px;
    margin-top: 0;
}
.appdetailshover_AppDetailsHover_38FqI {
    padding-bottom: 1px;
    border-radius: 4px;
}
.appdetailsachievementssection_TopSection_1LRR7 .appdetailsachievementssection_Icon_zcasg {
    margin: 10px;
}
.appdetailsplaysection_DetailsProgressContainer_25YVD {
    background: #4f545c
}
.appdetailsplaysection_DetailsProgressContainer_25YVD .appdetailsplaysection_DetailsProgressBar_1FnTq {
    background: #7289da;
}
.appdetailsplaysection_StatusAndStats_1YbtI.appdetailsplaysection_PermanentlyUnavailable_3CYvy .appdetailsplaysection_PlayBarLabel_34lrt {
    margin-top: 0;
    font-weight: 300;
}
div.NarrowRightPanel .appdetailsplaysection_PlayBarLabel_34lrt {
    margin-top: 3px;
}
.appdetailsheader_DemoBanner_3EXkl:before,
.appdetailsheader_DemoBanner_3EXkl:after {
    display: none;
}
.appdetailsheader_DemoBanner_3EXkl {
    transform: none;
    top: 10px;
    left: 10px;
    padding: 6px 20px;
    font-weight: bold;
    font-size: 12px;
    border-radius: 5px;
    background: #000b;
}
.appdetailscommunityfeed_HeaderStyles_2lNdD {
    background: #0003;
    border-radius: 5px;
}
.appdetailscommunityfeed_HeaderStyles_2lNdD .appdetailssectionheader_Label_1SQ30 {
    font-weight: 900;
}
.appdetailsactivitysection_NoActivity_2-kDc, .appdetailsactivitysection_Loading_3UShz {
    border: none;
    background: #0003;
}
