/* another random unfinished theme lol */
body {
  box-sizing: border-box;
  padding: 2px;
  background: #111;
}
.gamelistbar_GameListHomeAndSearch_2TKEa {
  padding: 0;
  box-shadow: none;
  margin-bottom: 2px;
}
.gamelisthome_Bar_3pSPl {
  background: #222;
  border: solid 1px #0000;
  border-radius: 0;
  font-weight: 800;
}
.gamelisthome_Bar_3pSPl:hover {
  background: #333;
}
.gamelisthome_Label_3O48L {
  width: 100%;
  text-align: center;
  margin: 0;
}
.gamelisthome_Bar_3pSPl.gamelisthome_Selected_eNLOx {
  background: #333;
}
.gamelisthome_Icon_1ooRO {
  display: none;
}
.gamelisthome_Bar_3pSPl.gamelisthome_CollectionButton_30KGS {
  margin: 0;
}
.gamelistbar_GameListHomeAndSearch_2TKEa {
  height: 32px;
}
.gamelistdropdown_Bar_1ZS_x {
  padding: 0;
}
.gamelistdropdown_Bar_1ZS_x .gamelistdropdown_Filters_1PgAo .gamelistdropdown_CheckboxWithImage_3mzKd {
  width: 32px;
  height: 32px;
  box-sizing: border-box;
  margin: 0;
  padding: 6px;
  background: #222;
}
.gamelistdropdown_Bar_1ZS_x .gamelistdropdown_Filters_1PgAo .gamelistdropdown_CheckboxWithImage_3mzKd:hover {
  background: #333;
  transition: .15s;
}
.gamelistdropdown_Bar_1ZS_x .gamelistdropdown_ViewFiltersBar_36r2a {
  margin: 0;
}
.gamelistdropdown_Bar_1ZS_x .gamelistdropdown_MenuHeader_2PF_m {
  background: #222;
  border-radius: 0;
}
.gamelistdropdown_Bar_1ZS_x .gamelistdropdown_MenuHeader_2PF_m:hover {
  background: #333;
}
.gamelistbar_Container_3x1Hk {
  background: #111;
}
.gamelistdropdown_Bar_1ZS_x .gamelistdropdown_Filters_1PgAo .gamelistdropdown_CheckboxWithImage_3mzKd .SVGIcon_SortBy {
  transform: translateX(4px) scale(1.25)
}
.gamelistsearchbar_Container_20QAC {
  padding: 0;
  margin-top: 2px;
}
.gamelistsearchbar_Container_20QAC .gamelistsearchbar_SearchInput_12vo5 {
  border-radius: 0;
}
.gamelistsearchbar_Container_20QAC .gamelistsearchbar_SearchInput_12vo5 .DialogTextInputBase {
  background-color: #222;
}
.gamelistsearchbar_Container_20QAC .gamelistsearchbar_AdvancedSearchContainer_vCCmY {
  background: #222;
  border-radius: 0;
}
.gamelistsearchbar_Container_20QAC .gamelistsearchbar_SearchInput_12vo5 .DialogTextInputBase::placeholder {
  color: #fff2 !important;
}
.gamelistsearchbar_Container_20QAC .gamelistsearchbar_SearchInput_12vo5 .DialogTextInputBase:focus {
  box-shadow: none;
}
.gamelistsearchbar_Container_20QAC .gamelistsearchbar_AdvancedSearchContainer_vCCmY.gamelistsearchbar_Disabled_1Gjk2 {
  background: #222;
}
.gamelistdropdown_ScrollToTop_uE7Pj .SVGIcon_Arrow {
  background: #222;
  border-color: #0000;
  border-radius: 0;
}
.gamelistdropdown_ScrollToTop_uE7Pj .SVGIcon_Arrow:hover {
  background: #333;
}
.gamelistdropdown_ScrollToTop_uE7Pj.gamelistdropdown_Visible_rkfSf {
  margin-left: 0;
}
.gamelistsectionheader_Container_2sYIg {
  background: linear-gradient(#222,#333);
  border: none;
  padding: 1px;
}
.gamelistsectionheader_Container_2sYIg:hover {
  background: linear-gradient(#222,#444)
}
.gamelistsectionheader_SectionHeaderContent_3cV3O {
  color: #aaa;
}
.gamelistsectionheader_SectionName_2mZ8L {
  letter-spacing: unset;
  text-transform: none;
  font-weight: 900;
}
.gamelistsectionheader_SectionCount_29ute {
  color: #aaa;
}
.collapseicon_CollapseIconParent_ehAsU .collapseicon_Container_3SFRZ {
  stroke: #666;
}
.collapseicon_CollapseIconParent_ehAsU .collapseicon_Container_3SFRZ:hover {
  stroke: #eee;
}
.gamelist_Container_1ijTa {
  margin-top: 2px;
  background: #222;
}
.gamelistentry_Container_2-O4Z.gamelistentry_Uninstalled_5YTBr {
  color: #666;
}
.gamelistentry_Container_2-O4Z.gamelistentry_Installed_2ws8D {
  color: #fff;
}
.gamelistentry_Container_2-O4Z:hover, .gamelistentry_Container_2-O4Z.gamelistentry_HoverOverlay_3cMVy {
  background-color: #333;
}
.gamelistentry_Container_2-O4Z.gamelistentry_Updating_1LVQp {
  color: #0fc;
}
.gamelistentry_Container_2-O4Z .gamelistentry_GameListEntryContainer_1vO6B .gamelistentry_DownloadProgress_3uk3F {
  color: #0fc;
}
.gamelistdropdown_Bar_1ZS_x .gamelistdropdown_Filters_1PgAo .gamelistdropdown_CheckboxWithImage_3mzKd.gamelistdropdown_Active_1QFFk svg path, .gamelistdropdown_Bar_1ZS_x .gamelistdropdown_Filters_1PgAo .gamelistdropdown_CheckboxWithImage_3mzKd.gamelistdropdown_Active_1QFFk svg line, .gamelistdropdown_Bar_1ZS_x .gamelistdropdown_Filters_1PgAo .gamelistdropdown_CheckboxWithImage_3mzKd.gamelistdropdown_Active_1QFFk svg polyline, .gamelistdropdown_Bar_1ZS_x .gamelistdropdown_Filters_1PgAo .gamelistdropdown_CheckboxWithImage_3mzKd.gamelistdropdown_Active_1QFFk svg circle {
  stroke: #0fc;
}
.gamelistdropdown_Bar_1ZS_x .gamelistdropdown_Filters_1PgAo .gamelistdropdown_CheckboxWithImage_3mzKd.gamelistdropdown_Active_1QFFk svg {
  fill: #0fc;
}
.appdetailsplaysection_Glassy_3DeO9.appdetailsplaysection_PlayBar_3fLo1 {
  background: #222;
}
div.NarrowRightPanel .appdetailsprimarylinkssection_LinksSection_3-V8v {
  background: #222;
}
.appdetailsoverview_Glassy_2OOzY .appdetailsoverview_ColumnContainer_OhSdL {
  background: #222;
}
.appactionbutton_Green_3cI5T>.appactionbutton_ButtonChild_2AzIX {
  background: #222;
  border: solid 1px #0fc;
  color: #0fc;
}
.appactionbutton_PlayButton_3ydig .appactionbutton_ButtonText_33cnX {
  color: currentColor;
}
.appactionbutton_Green_3cI5T>.appactionbutton_ButtonChild_2AzIX svg {
  fill: currentColor !important;
}
.appactionbutton_Green_3cI5T>.appactionbutton_ButtonChild_2AzIX:hover {
  background: #0fc !important;
  color: #222 !important;
}
.appactionbutton_Green_3cI5T>.appactionbutton_ButtonChild_2AzIX,
.appactionbutton_Green_3cI5T>.appactionbutton_ButtonChild_2AzIX *,
.appactionbutton_ButtonChild_2AzIX,
.appactionbutton_ButtonChild_2AzIX * {
  transition: 0s !important;
}
.appactionbutton_ButtonChild_2AzIX {
  background: #222 !important;
  color: #ddd;
  border: solid 1px #333;
}
.appactionbutton_ButtonChild_2AzIX:hover {
  background: #333 !important;
  color: #fff;
}
:not(.appactionbutton_Disabled_1Pb6P)>.appactionbutton_ButtonChild_2AzIX svg,
:not(.appactionbutton_Disabled_1Pb6P)>.appactionbutton_ButtonChild_2AzIX svg line,
:not(.appactionbutton_Disabled_1Pb6P)>.appactionbutton_ButtonChild_2AzIX svg polygon {
  fill: currentColor !important;
  stroke: currentColor !important;
}
:not(.appactionbutton_Disabled_1Pb6P)>.appactionbutton_ButtonChild_2AzIX svg polyline {
  stroke: currentColor;
}
:not(.appactionbutton_Disabled_1Pb6P)>.appactionbutton_ButtonChild_2AzIX svg path {
  stroke: currentColor;
}
.appdetailsprimarylinkssection_LinksSection_3-V8v>div {
  margin-left: 0;
  margin-right: 0;
}
div.NarrowRightPanel .appdetailsprimarylinkssection_LinksSection_3-V8v {
  padding: 0;
}
.appdetailsprimarylinkssection_LinksSection_3-V8v .appdetailsprimarylinkssection_LinksSectionBody_25f0f {
  padding: 0;
  background: #222;
  border-top: solid 1px;
  border-bottom: solid 1px;
  border-color: #333;
}
.appdetailsprimarylinkssection_LinksSection_3-V8v .appdetailsprimarylinkssection_Links_DgVQa {
  justify-content: center;
  display: flex;
  height: 33px !important;
}
.appdetailsprimarylinkssection_LinkInner_7k4qm {
  position: unset;
  margin: 0;
  width: 100%;
}
.appdetailsprimarylinkssection_LinkInner_7k4qm {
  padding: 0;
  height: 32px;
}
.appdetailsprimarylinkssection_Anchor_DY4_w .appdetailsprimarylinkssection_Link_1b6LY {
  padding: 7px 0;
  border-radius: 0;
  transition: 0s;
}
.appdetailsprimarylinkssection_Anchor_DY4_w .appdetailsprimarylinkssection_Link_1b6LY:hover {
  background: #333;
}
.appdetailsplaysection_MenuButton_3qDWQ {
    border-radius: 2px;
    background: #222;
}
.appdetailsplaysection_MenuButton_3qDWQ:hover {
    background: #333;
}
.posttextentry_PostTextEntry_3x31A .posttextentry_PostTextEntryArea_1JlC2 {
    background: #222;
    border-color: #333;
}
.posttextentry_PostTextEntry_3x31A .posttextentry_PostTextEntryArea_1JlC2:focus {
    background: #333;
    box-shadow: none;
}
.posttextentry_PostTextEntry_3x31A .posttextentry_Controls_37e7D button.posttextentry_EmoticonButton_bACIu {
    background: #222;
    border: solid 1px #333;
    border-radius: 2px;
}
.posttextentry_PostTextEntry_3x31A .posttextentry_Controls_37e7D button.posttextentry_EmoticonButton_bACIu:hover {
    background: #333;
}
.posttextentry_PostTextEntry_3x31A .posttextentry_Controls_37e7D .posttextentry_PostButton_2JSyA.posttextentry_Enabled_bGfja {
    background: #222;
    border: solid 1px #333;
    box-sizing: border-box;
    height: 40px;
}
.posttextentry_PostTextEntry_3x31A .posttextentry_Controls_37e7D .posttextentry_PostButton_2JSyA.posttextentry_Enabled_bGfja:hover {
    background: #333;
}

.appdetailssection_AppDetailsSectionContainer_31ptF.appdetailssection_AppDetailsSectionHasLabel_2G5B7.appdetailssection_RightColumnSection_3KfxI.Panel.Focusable {
  background: #333;
  box-shadow: none;
}

.appdetailssection_AppDetailsSection_2r4TK.appdetailsfriendssection_FriendsSection_qGJMO.Panel.Focusable {
  margin-bottom: 0;
}
.appdetailssection_Highlight_38t1m {
  background: #444;
  box-shadow: none;
}
div.NarrowRightPanel .appactivityday_PartnerEventMediumImage_Contents_2gv3E {
  background: #333;
}
.appactivityday_PartnerEventMediumImage_Container_1HZy7,
.appactivityday_PartnerEvent_1AYE1 {
  background: #333;
  border-color: #333;
  border-image: none;
}
.appdetailsgameinfocontainer_AppGameInfoContainer_25oBZ {
  background: #222 !important;
}