/**
* @name DTM-16-V5 Compact Mode Fix
* @author 11pixels
* @version 5.2
* @invite vUN9sNW
* @description Fixes certain elements for compact mode
* @source https://github.com/XYZenix/XYZenixThemes/blob/master/DTM-16-V5/Compact-Mode-Fix.theme.css
*/
.divider__8cf56.isUnread__6f880,
.divider__8cf56.isUnread__6f880:not(.beforeGroup__1e5e5) {
  top: 40px;
  margin-top: -42px !important;
  margin-bottom: 34px !important;
}
.compact__54ecc .buttonContainer_dd4b62 {
  top: 8px;
}
.divider__8cf56.hasContent_fea365:not(.isUnread__6f880) {
  margin-top: -20px !important;
}
.divider__8cf56.beforeGroup__1e5e5.isUnread__6f880 {
  margin-top: -35px !important;
  top: 35px !important;
}
.divider__8cf56.hasContent__8519e.divider_b9338f {
  top: 16px !important;
  margin-top: -0px !important;
}
.divider__8cf56.hasContent__8519e.divider_b9338f.isUnread__6f880.hasContent_fea365 {
  margin-top: 2px !important;
  margin-bottom: -0px !important;
  top: 13px !important;
  position: relative;
  width: calc(100% - 24px);
}
.divider__8cf56:not(.isUnread__6f880) + .messageListItem__6a4fb .message__80c10, .divider__8cf56:not(.isUnread__6f880) + .backgroundFlash_e5b9ad .message__80c10 {
  margin-bottom: -8px !important;
}
.messageListItem__6a4fb:last-of-type .message__80c10, .backgroundFlash_e5b9ad:last-of-type .message__80c10 {
  margin-bottom: -18px !important;
}
.messageListItem__6a4fb > .message__80c10.compact__54ecc.groupStart__56db5, .backgroundFlash_e5b9ad > .messageListItem__6a4fb > .message__80c10.compact__54ecc.groupStart__56db5 {
  margin-bottom: -8px !important;
}
