/**
* @name DTM-16 Message Style Addon
* @author 11pixels
* @version 2.1
* @invite vUN9sNW
* @description poorly written css to attempt to partially revert the message style changes in DTM-16/DTM-17
* @source https://github.com/XYZenix/XYZenixThemes/blob/master/DTM-16.theme.css
*/
.scrollerInner__37fee :is(.backgroundFlash__28f42, .messageListItem__050f9, .quotedChatMessage_d0497b) .groupStart__7b93c, .scrollerInner__37fee :is(.backgroundFlash__28f42, .messageListItem__050f9, .quotedChatMessage_d0497b) .isSystemMessage__0f7c5 {
  border-top: none;
  padding-top: 8px;
}
.scrollerInner__37fee :is(.backgroundFlash__28f42, .messageListItem__050f9, .quotedChatMessage_d0497b) .groupStart__7b93c > .contents_d3ae0d > :is(.avatar__08316, .avatarDecoration__8a0c2), .scrollerInner__37fee :is(.backgroundFlash__28f42, .messageListItem__050f9, .quotedChatMessage_d0497b) .isSystemMessage__0f7c5 > .contents_d3ae0d > :is(.avatar__08316, .avatarDecoration__8a0c2) {
  margin-top: 10px;
}
.scrollerInner__37fee :is(.backgroundFlash__28f42, .messageListItem__050f9, .quotedChatMessage_d0497b):has(+ :is(.backgroundFlash__28f42, .messageListItem__050f9) .groupStart__7b93c) .message_ccca67, .scrollerInner__37fee :is(.backgroundFlash__28f42, .messageListItem__050f9, .quotedChatMessage_d0497b):has(+ .divider__01aed:is(.hasContent__1fe13, .beforeGroup__6532c)) .message_ccca67, .scrollerInner__37fee :is(.backgroundFlash__28f42, .messageListItem__050f9, .quotedChatMessage_d0497b):has(+ .scrollerSpacer__6b1b6) .message_ccca67, .scrollerInner__37fee :is(.backgroundFlash__28f42, .messageListItem__050f9, .quotedChatMessage_d0497b):has(.isSystemMessage__0f7c5) .message_ccca67 {
  padding-bottom: 8px;
}
.scrollerInner__37fee .message_ccca67:hover {
  background: var(--background-message-hover) !important;
  box-shadow: -20px 0 var(--background-message-hover), 20px 0 var(--background-message-hover);
}
.message_ccca67 .buttonContainer__6de7e .isHeader_db0644 {
  top: 33px;
}