/* ==UserStyle==
@name           [pxls] pix's chat theme
@namespace      github.com/xyzenix/xyzenixthemes
@version        1.0
@description    slightly alters the chat on pxls.space
@author         11pixels
@preprocessor   stylus
==/UserStyle== */

@-moz-document domain("pxls.space") {
  #bottom-banner {display:none}
  .flair.text-badge {
    border-radius: 4px;
    padding: 3px 2px;
    font-size: x-small;
    font-weight:Bold;
    line-height: 24px;
    background: #111;
    text-shadow: none;
    box-shadow: none;
    color: #aaa;
    &[title^="1k+"] {color: red}
    &[title^="5k+"] {color: orangered}
    &[title^="10k+"] {color: orange}
    &[title^="25k+"] {color: yellow}
    &[title^="50k+"] {color: lime}
    &[title^="100k+"] {color: #0fc}
    &[title^="200k+"] {color: #0df}
    &[title^="300k+"] {color: #07f}
    &[title^="400k+"] {color: #a5f}
    &[title^="500k+"] {color: #f0f}
    &[title^="600k+"] {color: #fff;background:red}
    &[title^="700k+"] {color: #fff;background:orangered}
    &[title^="800k+"] {color: #fff;background:orange}
    &[title^="900k+"] {color: #000;background:yellow}
    &[title^="1M+"] {color: #000;background:lime}
    &[title^="1.25M+"] {color: #000;background:#0fc}
    &[title^="1.5M+"] {color: #000;background:#0df}
    &[title^="1.75M+"] {color: #fff;background:#07f}
    &[title^="2M+"] {color: #fff;background:#a5f}
    &[title^="2.25M+"] {color: red;box-shadow:inset 0 0 0 1px red}
    &[title^="2.5M+"] {color: orangered;box-shadow:inset 0 0 0 1px orangered}
    &[title^="2.75M+"] {color: orange;box-shadow:inset 0 0 0 1px orange}
    &[title^="3M+"] {color: yellow;box-shadow:inset 0 0 0 1px yellow}
  }
}