.fieldList-21DyL8 {
  position: relative;
}
.fieldList-21DyL8:after {
  content: "";
  position: absolute;
  background: linear-gradient(#222, #111);
  bottom: 0;
  left: 0;
  right: 0;
  top: 70px;
  border-radius: 3px;
}
.flex-1xMQg5.flex-1O1GKY.horizontal-1ae9ci.horizontal-2EEEnY.flex-1O1GKY.directionRow-3v3tfG.justifyStart-2NDFzi.alignStretch-DpGPf3.noWrap-3jynv6.marginBottom20-32qID7+.marginTop40-i-78cZ>.children-rWhLdy>.colorStandard-2KCXvj.size14-e6ZScH.description-3_Ncsb.formText-3fs7AJ.modeDefault-3a2Ph1+.colorStandard-2KCXvj.size14-e6ZScH.description-3_Ncsb.formText-3fs7AJ.marginBottom8-AtZOdT.modeDefault-3a2Ph1:after {
  content: "";
  width: 300px;
  height: 15px;
  background: linear-gradient(#222, #111);
  position: relative;
  display: inline-block;
  top: 3px;
  left: -230px;
}
