 /**
 * @name DTM-16 Addon: (Very) Old Embeds
 * @author 11pixels
 * @version 1.2
 * @invite vUN9sNW
 * @description Brings back the oldest embed style back from...2015? No idea exactly when these were used.
*/

.grid__35551 {
  background: none !important;
  border: none !important;
  padding: 0 0 2px 8px !important;
}
.embedWrapper__47b23 {
  border-radius: 0;
  background: none !important;
}
