/* not finished, meant to be used on top of DTM-16. version: 0.1 */

:root {
  --channelBarWidth: 4px;
}

.theme-light {
  --scrollbar-auto-thumb: var(--blurple);
}

.item-2idW98 .radioBar-3w9XY- {
  --radio-bar-accent-color: var(--header-primary);
  background: #0000 !important;
  border-color: #0000 !important;
}
.item-2idW98 .radioBar-3w9XY- .colorStandard-21JIj7, .item-2idW98 .radioBar-3w9XY- .title-1yyp9V {
  color: var(--radio-bar-accent-color);
}
.item-2idW98 .radioBar-3w9XY- .colorHeaderSecondary-g5teka, .item-2idW98 .radioBar-3w9XY- .icon-1ykL9s, .item-2idW98 .radioBar-3w9XY- .size14-3fJ-ot {
  color: var(--header-secondary);
}
.item-2idW98 .radioBar-3w9XY- > div:not([class*="-"]) > svg:not(.icon-NDLBMG) {
  border-radius: 50%;
  border: solid 1px var(--text-muted);
}
.item-2idW98 .radioBar-3w9XY- > div:not([class*="-"]) > svg:not(.icon-NDLBMG) path {
  display: none;
}
.item-2idW98:not([aria-checked=true]):hover .radioBar-3w9XY- > div:not([class*="-"]) > svg:not(.icon-NDLBMG), .item-2idW98:not([aria-checked=true]):active .radioBar-3w9XY- > div:not([class*="-"]) > svg:not(.icon-NDLBMG) {
  background: #7289da66;
  box-shadow: inset 0 0 0 5px var(--background-primary);
}
.item-2idW98[aria-checked=true] .radioBar-3w9XY- {
  --radio-bar-accent-color: var(--header-primary);
}
.item-2idW98[aria-checked=true] .radioBar-3w9XY- > div:not([class*="-"]) > svg:not(.icon-NDLBMG) {
  border-radius: 50%;
  border: solid 1px var(--text-muted);
  background: var(--blurple);
  box-shadow: inset 0 0 0 5px var(--background-primary);
}
.item-2idW98[aria-checked=true] .radioBar-3w9XY- .colorStandard-21JIj7, .item-2idW98[aria-checked=true] .radioBar-3w9XY- .title-1yyp9V {
  color: var(--radio-bar-accent-color);
}
.item-2idW98[aria-checked=true] .radioBar-3w9XY- .colorHeaderSecondary-g5teka, .item-2idW98[aria-checked=true] .radioBar-3w9XY- .icon-1ykL9s, .item-2idW98[aria-checked=true] .radioBar-3w9XY- .size14-3fJ-ot {
  color: var(--header-secondary);
}
