 /**
 * @name DTM-16 Addon: Old Help Button
 * @author 11pixels#2004
 * @version 0.2
 * @invite vUN9sNW
 * @description This version only works with English Discord.
*/

.iconWrapper-2awDjA[aria-label="Help"] {
    position: fixed;
    bottom: 0;
    left: 0;
    background:linear-gradient(#0000, var(--background-tertiary) 15px);
    margin:0;
    padding: 25px 22px 44px 22px
}
.iconWrapper-2awDjA[aria-label="Help"]:after {
    content:"?";
    width: 24px;
    padding: 2px 0;
    display: block;
    text-align: center;
    border: solid 2px hsla(0,0%,100%,.3);
    border-radius: 5px;
    font-size: 12px;
    color: hsla(0,0%,100%,.6);
    transition: .3s;
}
.iconWrapper-2awDjA[aria-label="Help"] svg {
    display: none;
}
.iconWrapper-2awDjA[aria-label="Help"]:hover:after {
    color: #7289da;
    border-color: #7289da;
}
