 /**
 * @name DTM-16 Addon: Old Invite Embeds
 * @author 11pixels
 * @version 1.2
 * @invite vUN9sNW
 * @description Brings back the old invite embeds from 2016 (idk why anyone would use this)
*/

.header-3anOjb,.guildDetail-3EJhW_{display:none;}
.guildIconImage-74OdmM{visibility:hidden}
.wrapper-1HIH0j .button-2b4VEQ.buttonSize-3QlBTl {position:absolute;font-size:0;min-width:0;width:52px;height:52px;padding-left:1px;padding-top:5px;border-radius:50%;margin-left:-2px}
.guildName-3G4jq-,.inviteDestinationExpired-1n9a5a{margin-bottom:0}
.inviteDestinationExpired-1n9a5a{color:white;text-transform:uppercase;font-weight:900}
.theme-light .inviteDestinationExpired-1n9a5a{color:#4f545c}
.wrapper-1HIH0j .buttonIcon-1pYT18 {display:none}
.wrapper-1HIH0j{border-radius:5px;border-width:2px;min-width:300px;width:300px}
.wrapper-1HIH0j .lookFilled__19298.colorBrand_b2253e{background:url(https://cdn.discordapp.com/attachments/642779987044204544/643937287809400832/unknown.png)!important;background-position:center!important}
.wrapper-1HIH0j .lookFilled__19298.colorGreen__5f181{background:url(https://cdn.discordapp.com/attachments/642779987044204544/643937264422092800/unknown.png)!important;background-size:contain!important}
.wrapper-1HIH0j .lookOutlined-3sRXeN.colorPrimary-3b3xI6{border:none!important;background:url(https://cdn.discordapp.com/attachments/642779987044204544/643937275473952788/unknown.png)!important;background-size:contain!important}
.wrapper-1HIH0j .lookFilled__19298.colorBrand_b2253e:after,.wrapper-1HIH0j .lookFilled__19298.colorGreen__5f181:after,.wrapper-1HIH0j .lookOutlined-3sRXeN.colorPrimary-3b3xI6:after{content:"";background:none;position:absolute;width:300px;height:74px;top:-10px;left:-10px}
.guildIconExpired-2BFmZC{background:url(https://cdn.discordapp.com/attachments/642779987044204544/643937287809400832/unknown.png)!important;border-radius:50%;width:52px;height:52px;margin-top:-2px;margin-left:-2px;}
