/* ============================== */
/* Rounded Server Icons           */
/* Updated Jun 19, 2024           */
/* ============================== */
.scroller_fea3ef > :not(.tutorialContainer_f9623d) .wrapper_c5f96a {
  border-radius: 25px;
  animation: server-anim-close 0.18s ease-in;
}
.scroller_fea3ef > :not(.tutorialContainer_f9623d) .wrapper_c5f96a foreignObject {
  border-radius: 0;
  mask: none !important;
}
.scroller_fea3ef > :not(.tutorialContainer_f9623d) .wrapper_c5f96a .wrapper_f90abb,
.scroller_fea3ef > :not(.tutorialContainer_f9623d) .wrapper_c5f96a .childWrapper_f90abb,
.scroller_fea3ef > :not(.tutorialContainer_f9623d) .wrapper_c5f96a .wrapper_f90abb[data-list-item-id=guildsnav___favorites] .childWrapper_f90abb,
.scroller_fea3ef .listItem_c96c45 .listItemWrapper_dfb2f8 .circleIconButton_db6521 {
  overflow: hidden;
  border-radius: 25px;
  animation: server-anim-close 0.18s ease-in;
}
@keyframes server-anim-close {
  0% {
    border-radius: 15px;
  }
  100% {
    border-radius: 25px;
  }
}
@keyframes server-anim {
  0% {
    border-radius: 25px;
  }
  20% {
    border-radius: 11.8px;
  }
  35% {
    border-radius: 16.1px;
  }
  50% {
    border-radius: 14.7px;
  }
  65% {
    border-radius: 15.3px;
  }
  80% {
    border-radius: 14.9px;
  }
  100% {
    border-radius: 15px;
  }
}
.scroller_fea3ef > :not(.tutorialContainer_f9623d) .wrapper_c5f96a .wrapper_f90abb:hover,
.scroller_fea3ef > :not(.tutorialContainer_f9623d) .wrapper_c5f96a .wrapper_f90abb.selected_f90abb,
.scroller_fea3ef > :not(.tutorialContainer_f9623d) .wrapper_c5f96a .childWrapper_f90abb:hover,
.scroller_fea3ef > :not(.tutorialContainer_f9623d) .wrapper_c5f96a .childWrapper_f90abb.selected_f90abb,
.scroller_fea3ef > :not(.tutorialContainer_f9623d) .wrapper_c5f96a .wrapper_f90abb[data-list-item-id=guildsnav___favorites] .childWrapper_f90abb:hover,
.scroller_fea3ef > :not(.tutorialContainer_f9623d) .wrapper_c5f96a > svg > foreignObject > .wrapper_f90abb[data-list-item-id=guildsnav___favorites] > div.childWrapper_f90abb:has(.favoriteIcon__91c06).selected_f90abb,
.scroller_fea3ef .listItem_c96c45 .listItemWrapper_dfb2f8 .circleIconButton_db6521:is(.selected_db6521, :hover) {
  animation: server-anim 1.5s;
  animation-timing-function: ease-out;
  border-radius: 15px;
}
.scroller_fea3ef > :not(.tutorialContainer_f9623d) .wrapper_c5f96a:has(:is(.wrapper_f90abb:hover,.wrapper_f90abb.selected_f90abb)) {
  animation: server-anim 1.5s;
  animation-timing-function: ease-out;
  border-radius: 15px;
}
.scroller_fea3ef > :not(.tutorialContainer_f9623d) .wrapper_c5f96a .folder_bc7085, .scroller_fea3ef > :not(.tutorialContainer_f9623d) .wrapper_c5f96a .folderIconWrapper_bc7085 {
  border-radius: 14px;
}
.scroller_fea3ef > :not(.tutorialContainer_f9623d) .wrapper_c5f96a .upperBadge_c5f96a {
  background: var(--background-tertiary);
  border-radius: 50%;
}
.scroller_fea3ef > :not(.tutorialContainer_f9623d) .wrapper_c5f96a .upperBadge_c5f96a .iconBadge-3qSJIw {
  background: var(--background-floating);
}
.scroller_fea3ef > :not(.tutorialContainer_f9623d) .wrapper_c5f96a .upperBadge_c5f96a .downloadProgress_f9623d {
  top: 0;
  right: 0;
}
.scroller_fea3ef > :not(.tutorialContainer_f9623d) .wrapper_c5f96a .upperBadge_c5f96a .unavailableBadge_c96c45 {
  background: var(--background-tertiary);
}
.scroller_fea3ef > :not(.tutorialContainer_f9623d) .wrapper_c5f96a .upperBadge_c5f96a .unavailableBadge_c96c45 .icon_df8943 {
  color: var(--red);
}

.scroller_fea3ef :is(.folder_bc7085, .folderIconWrapper_bc7085) .guildIcon_bc7085.iconSizeSmol_f11207 {
  border-radius: 50px;
}