/* ============================== */
/* Rounded Server Icons           */
/* Updated Jan 29, 2025           */
/* ============================== */
.ef3116c2da186559-scroller > :not(._1f388bcaa446c0c8-tutorialContainer) .cc5dd25190031396-wrapper {
  border-radius: 25px;
  animation: server-anim-close 0.18s ease-in;
}
.ef3116c2da186559-scroller > :not(._1f388bcaa446c0c8-tutorialContainer) .cc5dd25190031396-wrapper foreignObject {
  border-radius: 0;
  mask: none !important;
}
.ef3116c2da186559-scroller > :not(._1f388bcaa446c0c8-tutorialContainer) .cc5dd25190031396-wrapper ._6e9f8dce4cc18de3-wrapper,
.ef3116c2da186559-scroller > :not(._1f388bcaa446c0c8-tutorialContainer) .cc5dd25190031396-wrapper ._6e9f8dce4cc18de3-childWrapper,
.ef3116c2da186559-scroller > :not(._1f388bcaa446c0c8-tutorialContainer) .cc5dd25190031396-wrapper ._6e9f8dce4cc18de3-wrapper[data-list-item-id=guildsnav___favorites] ._6e9f8dce4cc18de3-childWrapper,
.ef3116c2da186559-scroller ._650eb104245d257b-listItem .listItemWrapper_dfb2f8 ._5bc7ed9d4097f6b5-circleIconButton {
  overflow: hidden;
  border-radius: 25px;
  animation: server-anim-close 0.18s ease-in;
}
@keyframes server-anim-close {
  0% {
    border-radius: 15px;
  }
  100% {
    border-radius: 25px;
  }
}
@keyframes server-anim {
  0% {
    border-radius: 25px;
  }
  20% {
    border-radius: 11.8px;
  }
  35% {
    border-radius: 16.1px;
  }
  50% {
    border-radius: 14.7px;
  }
  65% {
    border-radius: 15.3px;
  }
  80% {
    border-radius: 14.9px;
  }
  100% {
    border-radius: 15px;
  }
}
.ef3116c2da186559-scroller > :not(._1f388bcaa446c0c8-tutorialContainer) .cc5dd25190031396-wrapper ._6e9f8dce4cc18de3-wrapper:hover,
.ef3116c2da186559-scroller > :not(._1f388bcaa446c0c8-tutorialContainer) .cc5dd25190031396-wrapper ._6e9f8dce4cc18de3-wrapper._6e9f8dce4cc18de3-selected,
.ef3116c2da186559-scroller > :not(._1f388bcaa446c0c8-tutorialContainer) .cc5dd25190031396-wrapper ._6e9f8dce4cc18de3-childWrapper:hover,
.ef3116c2da186559-scroller > :not(._1f388bcaa446c0c8-tutorialContainer) .cc5dd25190031396-wrapper ._6e9f8dce4cc18de3-childWrapper._6e9f8dce4cc18de3-selected,
.ef3116c2da186559-scroller > :not(._1f388bcaa446c0c8-tutorialContainer) .cc5dd25190031396-wrapper ._6e9f8dce4cc18de3-wrapper[data-list-item-id=guildsnav___favorites] ._6e9f8dce4cc18de3-childWrapper:hover,
.ef3116c2da186559-scroller > :not(._1f388bcaa446c0c8-tutorialContainer) .cc5dd25190031396-wrapper > svg > foreignObject > ._6e9f8dce4cc18de3-wrapper[data-list-item-id=guildsnav___favorites] > div._6e9f8dce4cc18de3-childWrapper:has(.favoriteIcon__91c06)._6e9f8dce4cc18de3-selected,
.ef3116c2da186559-scroller ._650eb104245d257b-listItem .listItemWrapper_dfb2f8 ._5bc7ed9d4097f6b5-circleIconButton:is(._5bc7ed9d4097f6b5-selected, :hover) {
  animation: server-anim 1.5s;
  animation-timing-function: ease-out;
  border-radius: 15px;
}
.ef3116c2da186559-scroller > :not(._1f388bcaa446c0c8-tutorialContainer) .cc5dd25190031396-wrapper:has(:is(._6e9f8dce4cc18de3-wrapper:hover,._6e9f8dce4cc18de3-wrapper._6e9f8dce4cc18de3-selected)) {
  animation: server-anim 1.5s;
  animation-timing-function: ease-out;
  border-radius: 15px;
}
.ef3116c2da186559-scroller > :not(._1f388bcaa446c0c8-tutorialContainer) .cc5dd25190031396-wrapper .folder__48112, .ef3116c2da186559-scroller > :not(._1f388bcaa446c0c8-tutorialContainer) .cc5dd25190031396-wrapper ._48112cbe77dc5022-folderIconWrapper {
  border-radius: 14px;
}
.ef3116c2da186559-scroller > :not(._1f388bcaa446c0c8-tutorialContainer) .cc5dd25190031396-wrapper .cc5dd25190031396-upperBadge {
  background: var(--background-tertiary);
  border-radius: 50%;
}
.ef3116c2da186559-scroller > :not(._1f388bcaa446c0c8-tutorialContainer) .cc5dd25190031396-wrapper .cc5dd25190031396-upperBadge .iconBadge-3qSJIw {
  background: var(--background-floating);
}
.ef3116c2da186559-scroller > :not(._1f388bcaa446c0c8-tutorialContainer) .cc5dd25190031396-wrapper .cc5dd25190031396-upperBadge ._1f388bcaa446c0c8-downloadProgress {
  top: 0;
  right: 0;
}
.ef3116c2da186559-scroller > :not(._1f388bcaa446c0c8-tutorialContainer) .cc5dd25190031396-wrapper .cc5dd25190031396-upperBadge ._650eb104245d257b-unavailableBadge {
  background: var(--background-tertiary);
}
.ef3116c2da186559-scroller > :not(._1f388bcaa446c0c8-tutorialContainer) .cc5dd25190031396-wrapper .cc5dd25190031396-upperBadge ._650eb104245d257b-unavailableBadge ._2b1f52e43a8f1c02-icon {
  color: var(--red);
}

.ef3116c2da186559-scroller :is(.folder__48112, ._48112cbe77dc5022-folderIconWrapper) .guildIcon__48112.f34534e8a5d3ca64-iconSizeSmol {
  border-radius: 50px;
}