/* ============================== */
/* Rounded Server Icons           */
/* ============================== */
.scroller_de945b > :not(.tutorialContainer_b06ae6) .wrapper__9916c {
  border-radius: 25px;
  animation: server-anim-close 0.18s ease-in;
}
.scroller_de945b > :not(.tutorialContainer_b06ae6) .wrapper__9916c foreignObject {
  border-radius: 0;
  mask: none !important;
}
.scroller_de945b > :not(.tutorialContainer_b06ae6) .wrapper__9916c .wrapper__8436d,
.scroller_de945b > :not(.tutorialContainer_b06ae6) .wrapper__9916c .childWrapper_a6ce15,
.scroller_de945b > :not(.tutorialContainer_b06ae6) .wrapper__9916c .wrapper__8436d[data-list-item-id=guildsnav___favorites] .childWrapper_a6ce15,
.scroller_de945b .listItem__48528 .listItemWrapper__3d465 .circleIconButton__05cf2 {
  overflow: hidden;
  border-radius: 25px;
  animation: server-anim-close 0.18s ease-in;
}
@keyframes server-anim-close {
  0% {
    border-radius: 15px;
  }
  100% {
    border-radius: 25px;
  }
}
@keyframes server-anim {
  0% {
    border-radius: 25px;
  }
  20% {
    border-radius: 11.8px;
  }
  35% {
    border-radius: 16.1px;
  }
  50% {
    border-radius: 14.7px;
  }
  65% {
    border-radius: 15.3px;
  }
  80% {
    border-radius: 14.9px;
  }
  100% {
    border-radius: 15px;
  }
}
.scroller_de945b > :not(.tutorialContainer_b06ae6) .wrapper__9916c .wrapper__8436d:hover,
.scroller_de945b > :not(.tutorialContainer_b06ae6) .wrapper__9916c .wrapper__8436d.selected_ae80f7,
.scroller_de945b > :not(.tutorialContainer_b06ae6) .wrapper__9916c .childWrapper_a6ce15:hover,
.scroller_de945b > :not(.tutorialContainer_b06ae6) .wrapper__9916c .childWrapper_a6ce15.selected_ae80f7,
.scroller_de945b > :not(.tutorialContainer_b06ae6) .wrapper__9916c .wrapper__8436d[data-list-item-id=guildsnav___favorites] .childWrapper_a6ce15:hover,
.scroller_de945b > :not(.tutorialContainer_b06ae6) .wrapper__9916c > svg > foreignObject > .wrapper__8436d[data-list-item-id=guildsnav___favorites] > div.childWrapper_a6ce15:has(.favoriteIcon__91c06).selected_ae80f7,
.scroller_de945b .listItem__48528 .listItemWrapper__3d465 .circleIconButton__05cf2:is(.selected_aded59, :hover) {
  animation: server-anim 1.5s;
  animation-timing-function: ease-out;
  border-radius: 15px;
}
.scroller_de945b > :not(.tutorialContainer_b06ae6) .wrapper__9916c:has(:is(.wrapper__8436d:hover,.wrapper__8436d.selected_ae80f7)) {
  animation: server-anim 1.5s;
  animation-timing-function: ease-out;
  border-radius: 15px;
}
.scroller_de945b > :not(.tutorialContainer_b06ae6) .wrapper__9916c .folder__17546, .scroller_de945b > :not(.tutorialContainer_b06ae6) .wrapper__9916c .folderIconWrapper__11165 {
  border-radius: 14px;
}
.scroller_de945b > :not(.tutorialContainer_b06ae6) .wrapper__9916c .upperBadge__00ad0 {
  background: var(--background-tertiary);
  border-radius: 50%;
}
.scroller_de945b > :not(.tutorialContainer_b06ae6) .wrapper__9916c .upperBadge__00ad0 .iconBadge-3qSJIw {
  background: var(--background-floating);
}
.scroller_de945b > :not(.tutorialContainer_b06ae6) .wrapper__9916c .upperBadge__00ad0 .downloadProgress_f0d8b1 {
  top: 0;
  right: 0;
}
.scroller_de945b > :not(.tutorialContainer_b06ae6) .wrapper__9916c .upperBadge__00ad0 .unavailableBadge__5b346 {
  background: var(--background-tertiary);
}
.scroller_de945b > :not(.tutorialContainer_b06ae6) .wrapper__9916c .upperBadge__00ad0 .unavailableBadge__5b346 .icon__62c73 {
  color: var(--red);
}

.scroller_de945b :is(.folder__17546, .folderIconWrapper__11165) .guildIcon_b6bfa7.iconSizeSmol__44614 {
  border-radius: 50px;
}