/* ============================== */
/* Rounded Server Icons           */
/* ============================== */
.scroller__3d071 > :not(.tutorialContainer__890ea) .wrapper__3af0b {
  border-radius: 25px;
  animation: server-anim-close 0.18s ease-in;
}
.scroller__3d071 > :not(.tutorialContainer__890ea) .wrapper__3af0b foreignObject {
  border-radius: 0;
  mask: none !important;
}
.scroller__3d071 > :not(.tutorialContainer__890ea) .wrapper__3af0b .wrapper_d281dd, .scroller__3d071 > :not(.tutorialContainer__890ea) .wrapper__3af0b .childWrapper__01b9c, .scroller__3d071 > :not(.tutorialContainer__890ea) .wrapper__3af0b > svg > foreignObject > .wrapper_d281dd[data-list-item-id=guildsnav___favorites] > div.childWrapper__01b9c:has(.favoriteIcon__91c06) {
  overflow: hidden;
  border-radius: 25px;
  animation: server-anim-close 0.18s ease-in;
}
@keyframes server-anim-close {
  0% {
    border-radius: 15px;
  }
  100% {
    border-radius: 25px;
  }
}
@keyframes server-anim {
  0% {
    border-radius: 25px;
  }
  20% {
    border-radius: 11.8px;
  }
  35% {
    border-radius: 16.1px;
  }
  50% {
    border-radius: 14.7px;
  }
  65% {
    border-radius: 15.3px;
  }
  80% {
    border-radius: 14.9px;
  }
  100% {
    border-radius: 15px;
  }
}
.scroller__3d071 > :not(.tutorialContainer__890ea) .wrapper__3af0b .wrapper_d281dd:hover, .scroller__3d071 > :not(.tutorialContainer__890ea) .wrapper__3af0b .wrapper_d281dd.selected_f5ec8e, .scroller__3d071 > :not(.tutorialContainer__890ea) .wrapper__3af0b .childWrapper__01b9c:hover, .scroller__3d071 > :not(.tutorialContainer__890ea) .wrapper__3af0b .childWrapper__01b9c.selected_f5ec8e, .scroller__3d071 > :not(.tutorialContainer__890ea) .wrapper__3af0b > svg > foreignObject > .wrapper_d281dd[data-list-item-id=guildsnav___favorites] > div.childWrapper__01b9c:has(.favoriteIcon__91c06):hover, .scroller__3d071 > :not(.tutorialContainer__890ea) .wrapper__3af0b > svg > foreignObject > .wrapper_d281dd[data-list-item-id=guildsnav___favorites] > div.childWrapper__01b9c:has(.favoriteIcon__91c06).selected_f5ec8e {
  animation: server-anim 1.5s;
  animation-timing-function: ease-out;
  border-radius: 15px;
}
.scroller__3d071 > :not(.tutorialContainer__890ea) .wrapper__3af0b:has(:is(.wrapper_d281dd:hover,.wrapper_d281dd.selected_f5ec8e)) {
  animation: server-anim 1.5s;
  animation-timing-function: ease-out;
  border-radius: 15px;
}
.scroller__3d071 > :not(.tutorialContainer__890ea) .wrapper__3af0b .folder__17546, .scroller__3d071 > :not(.tutorialContainer__890ea) .wrapper__3af0b .folderIconWrapper__72239 {
  border-radius: 14px;
}
.scroller__3d071 > :not(.tutorialContainer__890ea) .wrapper__3af0b .upperBadge_c7cfb3 {
  background: var(--background-tertiary);
  border-radius: 50%;
}
.scroller__3d071 > :not(.tutorialContainer__890ea) .wrapper__3af0b .upperBadge_c7cfb3 .iconBadge-3qSJIw {
  background: var(--background-floating);
}
.scroller__3d071 > :not(.tutorialContainer__890ea) .wrapper__3af0b .upperBadge_c7cfb3 .downloadProgress__6d36c {
  top: 0;
  right: 0;
}
.scroller__3d071 > :not(.tutorialContainer__890ea) .wrapper__3af0b .upperBadge_c7cfb3 .unavailableBadge__93b13 {
  background: var(--background-tertiary);
}
.scroller__3d071 > :not(.tutorialContainer__890ea) .wrapper__3af0b .upperBadge_c7cfb3 .unavailableBadge__93b13 .icon__92653 {
  color: var(--red);
}

.scroller__3d071 :is(.folder__17546, .folderIconWrapper__72239) .guildIcon__2e5ab.iconSizeSmol__7ee47 {
  border-radius: 50px;
}