// Action Button style (2021-06_vc_action_buttons)
// 0 | Control: Outlined
// 2 | Treatment 2: Transparent (lookGhost)
$experiment1: 0;

// Server Discovery card style (2022-06_server_discovery)
// 0 | Control: No change
// 1 | Treatment 1: Early 2019
// 2 | Treatment 2: Late 2019
$experiment2: 2;

// Server Badge Style (2022-06_server_badges)
// 0 | Control: No change
// 1 | Treatment 1: Old flower star
// 2 | Treatment 2: Circle
$experiment3: 1;

// Channel List Thread Style (2022-06_channel_list_threads)
// 0 | Control: Current style
// 1 | Treatment 1: Pre-release style
$experiment4: 1;

// Stage Channel Icon (2022-06_stage_channel_icon)
// 0 | Control: User Broadcast icon...? (new icon)
// 1 | Treatment 1: Spotlight icon (old icon)
$experiment5: 1;

// Nitro Page Feature Grid (2022-07_nitro_page_feature_grid)
// 0 | Control: No change
// 1 | Treatment 1: 2020 design
// 2 | Treatment 2: 2017 design (Some feature cards are missing due to lack of images)
$experiment6: 1;

// Server Banner Style (2022-08_server_banner)
// 0 | Control: Current
// 1 | Treatment 1: Previous iteration (faded)
$experiment7: 0;

// User Profile Experiment (2022-08_user_profiles)
// 0 | Control: No change
// 1 | Treatment 1: 2016-09 profiles
$experiment8: 1;

// Modal styling (2022-08_modal_styling)
// 0 | Control: No change
// 1 | Treatment 1: 2015/2016 modal styling
$experiment9: 1;

// Connections (2022-11_connections)
// 0 | Control: No change
// 2 | Treatment 2: Connections styling based on one of 11pixels's concepts. Works best with light mode.
// 3 | Treatment 3: Late 2016 to early 2017 
$experiment10: 3;

// Switches (2022-12_switches)
// 0 | Control: No change
// 1 | Treatment 1: Old switches
// 2 | Treatment 2: Checkboxes
$experiment12: 2;

// Account Settings (2023-01_account_settings)
// 0 | Control: No change
// 1 | Treatment 1: Mixed
// 2 | Treatment 2: 2016 (credit: dav)
$experiment13: 2;

// Radio bars (2023-01_radio_bars)
// 0 | Control: 2017-2020 radio bars
// 1 | Treatment 1: 2015-2016 radio bars
$experiment14: 1;

// Attachments (2023-04_attachments)
// 0 | Control
// 1 | Treatment 1: No background
$experiment15: 1;

// Invite Icons (2023-06_invite_icons)
// 0 | Original icon (arrow out of box)
// 1 | Treatment 1: Person (+)
// 2 | Treatment 2: Link icon
$experiment16: 0;

// Search bar (2023-07_search_bar)
// 0 | Control
// 1 | Treatment 1
$experiment17: 1;

// Search page (2023-07_search_page)
// 0 | Control
// 1 | Treatment 1
$experiment18: 0;

// Connections restyle (2023-09_connections_restyle)
// 0 | 2016-12
// 1 | 2016-07
$experiment19: 0;

// Threads browser search bar (2024-09_threads_browser_searchbar)
// 0 | Classic Styling
// 1 | Alt Styling
$experiment20: 1;