// debug modes:
// 0 - none
// 1 - settings
// 2 - settings + avatars
// 3 - avatars + no settings ui
$debug: 0;

// WIP reworks of the theme
$redoChannels: true;
$redoMessages: false;
$redoInputs: false;
$redoCtxMenus: false;
$redoModals: false;
$redoServers: false;
$redoProfiles: false;
$redoVoiceUI: false;
$redoIcons: false;
$redoSettings: false;


$messageStyle: 3;
$resizeServers: true; // changes servers from 48x48 to 50x50 (if this breaks stuff, i'm going to disable it)
$accountPanelBug: true; // set this to true to replicate a bug with the account panel button group having 1px of empty spacing on the bottom
$oldServerButtonIcon: false; // 3 lines icon instead of arrow for server menu bar
$useOldRoleStyling: false; // use old role tag styling
$rewritePanelButtons: true;

// AMOLED Dark / Darker Dark toggle
// usually you can just use discord's amoled dark thing but since people can't figure out how to use experiments, you can use this to force it on for normal dark mode
$forceAmoledDark: false;

// disables the "silly zone" easter egg
$hasAnyoneComplainedAboutTheSillyZoneYet: true;
