$blurple: #7289da;

// variables
$scrollableContainer: ".scrollableContainer_d0696b";
$panels: ".panels_a4d4d9";
$panelButton: ".button_f67531";
$panel-account: ".container_b2ca13";
$panel-rtcConnection: ".wrapper_adcaac";
$panel-rtcConInner: ".container_adcaac";
$panel-rtcConnectionStatus: ".rtcConnectionStatus_c02c63";
$panel-stream: ".activityPanel_a4d4d9";
$attachButton: ".attachButton_f298d4";
$attachButtonPlus: ".attachButtonPlus_f298d4";
$attachButtonPlay: ".attachButtonPlay_f298d4";
$channelReply: ".container_b11c5e";
$channelReplyInner: ".replyBar_b11c5e";
$iconContainer: ".iconContainer_d90b3d";

// layers
$layer: ".layer_d4b6c5";
$layer-settings: ".layer_d4b6c5:not(.baseLayer_d4b6c5)";
$layer-settings-user: #{$layer-settings};
$layer-settings-server: #{$layer-settings};
$layer-settings-channel: #{$layer-settings};
$layer-settings-server-profile: #{$layer-settings};
$layer-rtc-debug: #{$layer-settings};

$settings-region: ".standardSidebarView_c25c6d";
$settings-sidebar: ".sidebarRegion_c25c6d";
$settings-content: ".contentRegion_c25c6d";

// chat
$chat: ".chat_a7d72e";
$chat-title: ".title_a7d72e";
$chat-form: ".form_a7d72e";

$bar-base: ".barBase_cf58b5";
$bar-newMsg: ".newMessagesBar_cf58b5";
$bar-jump: ".jumpToPresentBar_cf58b5";
$bar-main: ".barButtonMain_cf58b5";
$bar-alt: ".barButtonAlt_cf58b5";
$bar-error: ".messagesErrorBar_cf58b5";

// popouts
$contextMenu: ".menu_d90b3d";
$mContextMessage: "#message";
$mMessageActions: "#message-actions";
$mGuildHeader: "#guild-header-popout";
$mContextGuild: "#guild-context";
$mContextUser: "#user-context";
$mContextSettings: "#user-settings-cog";
$mContextAudio: "#audio-device-context";
$mContextChannel: "#channel-context";
$mChannelAttach: "#channel-attach";
$menuScroller: ".scroller_d90b3d";
$menuItem: ".item_d90b3d";

// buttons
$button: ".button_dd4f85";

$btnFilled: ".lookFilled_dd4f85";
$btnInverted: ".__REMOVED__";
$btnOutlined: ".lookOutlined_dd4f85";
$btnLink: ".lookLink_dd4f85";

$btnColorBrand: ".colorBrand_dd4f85";
$btnColorGreen: ".colorGreen_dd4f85";
$btnColorPrimary: ".colorPrimary_dd4f85";

// call layout
$callRoot: ".root_dd069c";
$videoControls: ".videoControls_dd069c";
$bottomControls: ".bottomControls_dd069c";
$controlButton: ".controlButton_b6e2f9";
$centerButton: ".centerButton_ef18ee";
$controlIcon: ".controlButton_b6e2f9";
$centerIcon: ".centerButton_ef18ee";
$contextMenuNub: ".contextMenuNub_ef18ee";

// channels
$containerDefault: ".containerDefault_f6f816";
$containerUserOver: ".containerUserOver_f6f816";
$containerDragBefore: ".containerDragBefore_f6f816";
$containerDragAfter: ".containerDragAfter_f6f816";
$containerDefaultCategory: ".containerDefault_a08117";
$voiceUser: ".voiceUser_cdc675";
$userLimit: ".channelInfo_f6f816";
$userLimitWrapper: ".wrapper_a5bc92";
$userLimitUsers: ".users_a5bc92";
$userLimitTotal: ".total_a5bc92";

// the chat itself???????
$message: ".message_d5deea";
$msgGroupStart: ".groupStart_d5deea";
$msgBtnContainer: ".buttonContainer_f9f2ca";
$msgBtnContInner: ".container_a3b500";
$msgBtnContHeader: ".isHeader_a3b500";
$msgBtnContWrap: ".wrapper_ef319f";
$msgBtnContButton: ".button_ef319f";
$msgUsername: ".username_f9f2ca";
$msgTimestamp: ".timestamp_f9f2ca";
$msgMentioned: ".mentioned_d5deea";
$msgAvatar: ".avatar_f9f2ca";
$markup: ".markup_f8f345";
$scrollerSpacer: ".scrollerSpacer_e2e187";

// user list
$members: ".members_cbd271";
$memberGroup: ".membersGroup_cbd271";
$memberListItem: ".member_a31c43";
$userLayout: ".layout_e9f61e";

// header
$guildHeader: ".header_fd6364";

// embeds
$embed: ".embedFull_ad0b71";
$embedGrid: ".grid_ad0b71";
$embedAuthor: ".embedAuthor_ad0b71";
$embedTitle: ".embedTitle_ad0b71";
$embedDescription: ".embedDescription_ad0b71";
$embedVideo: ".embedVideo_ad0b71";
$embedField: ".embedField_ad0b71";
$embedFieldName: ".embedFieldName_ad0b71";
$embedFieldValue: ".embedFieldValue_ad0b71";
$embedFooter: ".embedFooter_ad0b71";
$embedFooterText: ".embedFooterText_ad0b71";
$embedFooterSeparator: ".embedFooterSeparator_ad0b71";
$embedFooterIcon: ".embedFooterIcon_ad0b71";
$embedAuthorName: ".embedAuthorName_ad0b71";

// user mini-profiles
$role: ".role_e4010c";
$roleCircle: ".roleCircle_a26d7b";
$roleAddButton: ".addButton_e4010c";

// bot tag
$botTag: ".botTag_a02df3";
$botTagRegular: ".botTagRegular_a02df3";
$botTagInvert: ".botTagInvert_a02df3";
$botTagText: ".botText_a02df3";

// badges
$numberBadge: ".numberBadge_df8943";

// unread indicators
$unreadBottom: ".unreadBottom_c43953";
$unreadTop: ".unreadTop_c29de3";
$unreadWrap: ".unread_c43953";
$unreadInner: ".unreadBar_c43953";

// upload modals
$uploadModal: ".uploadModal_f82cc7";
$uploadModalInner: ".inner_f82cc7";

// channel list dms
$dmSidebar: ".sidebar_a4d4d9";
$privateChannels: ".privateChannels_f0963d";
$channelInteractive: ".interactive_c91bad";
$dmSearchBar: ".searchBar_f0963d";
$dmSBComponent: ".searchBarComponent_f0963d";

$fontSize12Padding: ".fontSize12Padding_d0696b";
$fontSize14Padding: ".fontSize14Padding_d0696b";
$fontSize15Padding: ".fontSize15Padding_d0696b";
$fontSize16Padding: ".fontSize16Padding_d0696b";
$fontSize18Padding: ".fontSize18Padding_d0696b";
$fontSize20Padding: ".fontSize20Padding_d0696b";
$fontSize24Padding: ".fontSize24Padding_d0696b";

$colorHeaderPrimary: ".colorHeaderPrimary_fbc755";
$colorHeaderSecondary: ".colorHeaderSecondary_fbc755";
$colorInteractiveActive: ".colorInteractiveActive_fbc755";
