$blurple: #7289da;

// variables
$scrollableContainer: ".scrollableContainer_ff917f";
$panels: ".panels__58331";
$panelButton: ".button_ae40a4";
$panel-account: ".container_debb33";
$panel-rtcConnection: ".wrapper_e832ee";
$panel-rtcConInner: ".container_e1958d";
$panel-rtcConnectionStatus: ".rtcConnectionStatus_e749c4";
$panel-stream: ".activityPanel_b73e7a";
$attachButton: ".attachButton__56f98";
$attachButtonPlus: ".attachButtonPlus_fd0021";
$attachButtonPlay: ".attachButtonPlay__6ccc4";
$channelReply: ".container__72188";
$channelReplyInner: ".replyBar_ed6afc";
$iconContainer: ".iconContainer__5d61c";

// layers
$layer: ".layer_f7d46a";
$layer-settings: ".layer_f7d46a:not(.baseLayer__2b890)";
$layer-settings-user: #{$layer-settings};
$layer-settings-server: #{$layer-settings};
$layer-settings-channel: #{$layer-settings};
$layer-settings-server-profile: #{$layer-settings};
$layer-rtc-debug: #{$layer-settings};

$settings-region: ".standardSidebarView__12528";
$settings-sidebar: ".sidebarRegion__36437";
$settings-content: ".contentRegion__08eba";

// chat
$chat: ".chat__52833";
$chat-title: ".title_d4ba1a";
$chat-form: ".form_d8a4a1";

$bar-base: ".barBase__8839d";
$bar-newMsg: ".newMessagesBar__8b272";
$bar-jump: ".jumpToPresentBar__69174";
$bar-main: ".barButtonMain__984b4";
$bar-alt: ".barButtonAlt_e800ef";
$bar-error: ".messagesErrorBar__82c21";

// popouts
$contextMenu: ".menu__088f7";
$mContextMessage: "#message";
$mMessageActions: "#message-actions";
$mGuildHeader: "#guild-header-popout";
$mContextGuild: "#guild-context";
$mContextUser: "#user-context";
$mContextSettings: "#user-settings-cog";
$mContextAudio: "#audio-device-context";
$mContextChannel: "#channel-context";
$mChannelAttach: "#channel-attach";
$menuScroller: ".scroller__8f066";
$menuItem: ".item__183e8";

// buttons
$button: ".button__581d0";

$btnFilled: ".lookFilled__950dd";
$btnInverted: ".lookInverted_a299dc";
$btnOutlined: ".lookOutlined__014b5";
$btnLink: ".lookLink_a2da25";

$btnColorBrand: ".colorBrand__27d57";
$btnColorGreen: ".colorGreen__75c93";
$btnColorPrimary: ".colorPrimary_ebe632";

// call layout
$callRoot: ".root__3eef0";
$videoControls: ".videoControls_af6621";
$bottomControls: ".bottomControls__72d8d";
$controlButton: ".controlButton__863c7";
$centerButton: ".centerButton__8316e";
$controlIcon: ".controlIcon__73723";
$centerIcon: ".centerIcon_e3df23";
$contextMenuNub: ".contextMenuNub_bea150";

// channels
$containerDefault: ".containerDefault_ae2ea4";
$containerUserOver: ".containerUserOver__2f65b";
$containerDragBefore: ".containerDragBefore__257b9";
$containerDragAfter: ".containerDragAfter_fec62e";
$containerDefaultCategory: ".containerDefault_e3b32b";
$voiceUser: ".voiceUser__629a5";
$userLimit: ".channelInfo_b0882c";
$userLimitWrapper: ".wrapper__71278";
$userLimitUsers: ".users__65981";
$userLimitTotal: ".total_c01838";

// the chat itself???????
$message: ".message_ccca67";
$msgGroupStart: ".groupStart__7b93c";
$msgBtnContainer: ".buttonContainer__6de7e";
$msgBtnContInner: ".container__2f489";
$msgBtnContHeader: ".isHeader_db0644";
$msgBtnContWrap: ".wrapper__4e6b6";
$msgBtnContButton: ".button_d4bf9b";
$msgUsername: ".username__0b0e7";
$msgTimestamp: ".timestamp_c79dd2";
$msgMentioned: ".mentioned_fa6fd2";
$msgAvatar: ".avatar__08316";
$markup: ".markup_a7e664";
$scrollerSpacer: ".scrollerSpacer__6b1b6";

// user list
$members: ".members__573eb";
$memberGroup: ".membersGroup_cad095";
$memberListItem: ".member_aa4760";
$userLayout: ".layout_bb8e67";

// header
$guildHeader: ".header__77c95";

// embeds
$embed: ".embedFull__14919";
$embedGrid: ".grid__35551";
$embedAuthor: ".embedAuthor__3e899";
$embedTitle: ".embedTitle__1ac59";
$embedDescription: ".embedDescription_f5043f";
$embedVideo: ".embedVideo__303fe";
$embedField: ".embedField__9d0ae";
$embedFieldName: ".embedFieldName__933cd";
$embedFieldValue: ".embedFieldValue_f2dcec";
$embedFooter: ".embedFooter_c26cec";
$embedFooterText: ".embedFooterText_c3068e";
$embedFooterSeparator: ".embedFooterSeparator__53351";
$embedFooterIcon: ".embedFooterIcon_a4d42f";
$embedAuthorName: ".embedAuthorName__9a491";

// user mini-profiles
$role: ".role_d81130";
$roleCircle: ".roleCircle__61ad8";
$roleAddButton: ".addButton__6f12b";

// bot tag
$botTag: ".botTag__4211a";
$botTagRegular: ".botTagRegular_fc4b4a";
$botTagInvert: ".botTagInvert_eb4d55";
$botTagText: ".botText_daff56";

// unread indicators
$unreadBottom: ".unreadBottom_c146f7";
$unreadTop: ".unreadTop_c29de3";
$unreadWrap: ".unread__11823";
$unreadInner: ".unreadBar__4ead4";

// upload modals
$uploadModal: ".uploadModal__6eb75";
$uploadModalInner: ".inner__7afe9";

// channel list dms
$dmSidebar: ".sidebar_e031be";
$privateChannels: ".privateChannels__9b518";
$channelInteractive: ".interactive__3e804";
$dmSearchBar: ".searchBar__621ec";
$dmSBComponent: ".searchBarComponent__8f95f";

$fontSize12Padding: ".fontSize12Padding_e8a649";
$fontSize14Padding: ".fontSize14Padding_d72d40";
$fontSize15Padding: ".fontSize15Padding__412d1";
$fontSize16Padding: ".fontSize16Padding_bcbeae";
$fontSize18Padding: ".fontSize18Padding__1f460";
$fontSize20Padding: ".fontSize20Padding_a6d622";
$fontSize24Padding: ".fontSize24Padding_c4b656";

$colorHeaderPrimary: ".colorHeaderPrimary_b60093";
$colorHeaderSecondary: ".colorHeaderSecondary__5539c";
$colorInteractiveActive: ".colorInteractiveActive__8ecbe";
