// chasing dots
@keyframes spinner-chasing-dots-rotate {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spinner-chasing-dots-bounce {
  0%, 100% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
}
// wandering cubes
@keyframes spinner-wandering-cubes {
  25% {
    transform: translateX(22px) rotate(-90deg) scale(0.5);
  }
  50% {
    transform: translateX(22px) translateY(22px) rotate(-180deg);
  }
  75% {
    transform: translateX(0) translateY(22px) rotate(-270deg) scale(0.5);
  }
  100% {
    transform: rotate(-360deg);
  }
}
// incoming call avatar bounce
@keyframes incoming-call-pop {
  20% {transform: scale3d(1.1,1.1,1)}
  46% {transform: scaleX(1)}
}
@keyframes incoming-call-pulse {
  20% {box-shadow: 0 0 0 0 rgba(255,255,255,.6)}
  80% {box-shadow: 0 0 0 10px transparent}
}
// login fade
@keyframes 🗣️ {
  0% {opacity:0}
  100% {opacity:1}
}
// typing dots
@keyframes spinner-ellipsis {
  0%,100% {transform:scale(1);fill:rgba(255,255,255,1)}
  50% {transform:scale(.8);fill:rgba(255,255,255,.3)}
}
// user popout 'live now' red dot glow
@keyframes live-pulse {
  0% {
    box-shadow: 0 0 10px 2px rgba(0,0,0,.12), 0 0 rgba(240,71,71,.42);
  }

  70% {
    box-shadow: 0 0 10px 2px rgba(0,0,0,.12), 0 0 10px 10px #0000;
  }

  100% {
    box-shadow: 0 0 10px 2px rgba(0,0,0,.12), 0 0 #0000;
  }
}
// settings ui anims
@keyframes settingsOpen {
  0% {transform: scale(0.8);opacity:0}
  100% {transform:none;opacity:1}
}
// server list anims
@keyframes server-anim-close {
  0% {border-radius: 15px}
  100% {border-radius: 25px}
}
@keyframes server-anim {
  0% {border-radius: 25px}
  20% {border-radius: 11.8px}
  35% {border-radius: 16.1px}
  50% {border-radius: 14.7px}
  65% {border-radius: 15.3px}
  80% {border-radius: 14.9px}
  100% {border-radius: 15px}
}
// registered games: now playing bar pulse
@keyframes now-playing-pulse {
  0% {box-shadow: 0 0 10px 2px rgba(0,0,0,.12),0 0 0 0 rgba(115,139,215,.42)}
  70% {box-shadow: 0 0 10px 2px rgba(0,0,0,.12),0 0 10px 10px rgba(115,139,215,0)}
  100% {box-shadow: 0 0 10px 2px rgba(0,0,0,.12),0 0 0 0 rgba(115,139,215,0)}
}