@use "vars" as *;

// badges/tags
@at-root {
  .iconBadge__650eb.isCurrentUserConnected__650eb {
    background: var(--green);
  }
  .default_e18686 {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' fill='none'%3E%3Cpath fill='%23F04747' d='m14.25 4.8-1.06-1.05L9 7.95l-4.2-4.2-1.05 1.06L7.95 9l-4.2 4.2 1.06 1.05L9 10.05l4.2 4.2 1.05-1.06L10.05 9l4.2-4.2Z'/%3E%3C/svg%3E");
  }
  :is(.headerBarInner_dc1a41, .tabBarItemContainer_c7e907) .textBadge__2b1f5,
  :is(.tabBarItem_d6f9e9+.textBadge__2b1f5, .betaTagIcon_d65f20) {
    border-radius: 3px;
    background: var(--blurple) !important;
    text-shadow: 0 1px 0 rgba(0 0 0 / 25%);
    box-shadow: 0 1px 0 rgb(0 0 0 / 25%), inset 0 1px 0 hsl(0deg 0% 100% / 15%);
  }
  .tabBarItem_d6f9e9+.textBadge__2b1f5 {
    background: var(--red) !important;
  }
  .tabBarItemContainer_c7e907 .textBadge__2b1f5[style="background-color: var(--status-danger);"] {
    background: var(--red) !important;
  }
  .newBadge__29021.textBadge__2b1f5 {
    background: var(--blurple) !important;
    border-radius: 3px;
    .newBadgeText__29021 {
      color: #fff;
      font-weight: 500;
    }
  }
  // new badge for the collectibles shop
  .newBadge__4ed1a.textBadge__2b1f5.base__2b1f5 {
    background: var(--yellow) !important;
    box-shadow: 0 1px 0 rgba(0,0,0,.25),inset 0 1px 0 hsla(0,0%,100%,.15) !important;
    text-shadow: 0 1px 0 rgba(0,0,0,.25) !important;
    font-weight: 500 !important;
  }
  // bot tags
  @at-root {
    #{$botTag} {
      &#{$botTag}#{$botTag} {
        padding: 1px 2px;
        border-radius: 3px;
        font-size: 10px;
        box-sizing: border-box;
        line-height: 12px;
        height: auto;
        vertical-align: baseline;
        position: relative;
        inset: -2px auto auto auto;
        display: inline-block;
        #{$botTagText} {
          font-size: inherit;
          line-height: inherit;
          font-weight: 500;
          position: unset;
          display: inline;
        }
        .botTagVerified__82f07 {
          margin: 0 0 -2px -1px;
          width: 12px;
          height: 12px;
          path {
            transform: scale(calc(10/16));
            transform-origin: center;
            d: path("M15.246 4.06065L5.69896 13.6077L0.935425 8.84419L3.05675 6.72286L5.69896 9.36508L13.1247 1.93933L15.246 4.06065Z");
            .show-redesigned-icons & {
              transform: none;
              d: path("M19.246 8.06065L9.69896 17.6077L4.93542 12.8442L7.05675 10.7229L9.69896 13.3651L17.1247 5.93933L19.246 8.06065Z");
            }
          }
        }
      }
    }
    #{$botTagRegular} {
      background: var(--blurple);
      color: #fff;
    }
    #{$botTagInvert} {
      background: #fff;
      color: var(--blurple);
    }
    .botTagRemix__82f07 {
      background: var(--text-normal);
      color: var(--background-primary);
    }
  }
  // mentions badge
  #{$numberBadge} {
    background-clip: padding-box;
    background-color: var(--red);
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(0,0,0,.25), inset 0 1px 0 hsla(0,0%,100%,.15);
    color: #fff;
    display: inline-block;
    font-size: 12px;
    font-weight: 500;
    line-height: 12px;
    height: unset !important;
    padding: 3px 4px !important;
    text-shadow: 0 1px 0 rgba(0,0,0,.25);
    text-transform: uppercase;
    padding-left: 2px;
    min-width: 16px !important;
    width: auto !important;
    .link__2ea32 &.numberBadge__2ea32, &.searchFilterCount_c7e907 {
      background: var(--background-accent);
    }
  }
  // new badge and beta badge
  @at-root {
    .alphaBetaTag_c5e6a1,
    .newBadge__0b563.textBadge__2b1f5.base__2b1f5,
    .textBadge__2b1f5.base__2b1f5 {
      background: var(--blurple) !important;
      border-radius: 2px;
      color: #fff;
      --interactive-active: #fff;
    }
    .wrapper__44b0c+.textBadge__0034b {
      border-radius: 6px;
      overflow: hidden;
      background: var(--blurple) !important;
    }
  }
  // server badges
  @at-root {
    // flower
    [d="m16 7.6c0 .79-1.28 1.38-1.52 2.09s.44 2 0 2.59-1.84.35-2.46.8-.79 1.84-1.54 2.09-1.67-.8-2.47-.8-1.75 1-2.47.8-.92-1.64-1.54-2.09-2-.18-2.46-.8.23-1.84 0-2.59-1.54-1.3-1.54-2.09 1.28-1.38 1.52-2.09-.44-2 0-2.59 1.85-.35 2.48-.8.78-1.84 1.53-2.12 1.67.83 2.47.83 1.75-1 2.47-.8.91 1.64 1.53 2.09 2 .18 2.46.8-.23 1.84 0 2.59 1.54 1.3 1.54 2.09z"] {
      d: path("M8 15.16a3 3 0 0 0 .24 0c.77-.1 1.64-.3 2.04-.7.33-.34.61-.74.73-1.16.98.69 2.62.43 3.49-.45.83-.84.32-2.1 0-2.87a3 3 0 0 0 .76-.58A2.4 2.4 0 0 0 16 7.6a2.42 2.42 0 0 0-.74-1.8c-.22-.22-.5-.45-.76-.57.32-.77.83-2.04 0-2.88-.87-.88-2.51-1.14-3.5-.45-.1-.42-.4-.82-.72-1.15C9.88.35 9.01.1 8.24.02a3.7 3.7 0 0 0-.5-.03c-.63.12-1.63.37-2.02.76-.33.33-.61.73-.72 1.15-.99-.69-2.63-.43-3.5.45-.83.84-.32 2.1 0 2.88-.26.12-.54.35-.76.57A2.42 2.42 0 0 0 0 7.6a2.4 2.4 0 0 0 .74 1.8c.22.22.5.45.76.58-.32.76-.83 2.03 0 2.87.87.88 2.51 1.14 3.5.45.1.42.4.82.72 1.15.39.4 1.4.6 2.02.68.08.04.16.03.26.03Z");
    }
    // partner
    [d="M10.5906 6.39993L9.19223 7.29993C8.99246 7.39993 8.89258 7.39993 8.69281 7.29993C8.59293 7.19993 8.39317 7.09993 8.29328 6.99993C7.89375 6.89993 7.5941 6.99993 7.29445 7.19993L6.79504 7.49993L4.29797 9.19993C3.69867 9.49993 2.99949 9.39993 2.69984 8.79993C2.30031 8.29993 2.50008 7.59993 2.99949 7.19993L5.99598 5.19993C6.79504 4.69993 7.79387 4.49993 8.69281 4.69993C9.49188 4.89993 10.0912 5.29993 10.5906 5.89993C10.7904 6.09993 10.6905 6.29993 10.5906 6.39993Z"] {
      d: path("M11.35 4.9a3.87 3.87 0 0 0-2.84 1.2.15.15 0 0 0 .03.17l1.4 1.25a.15.15 0 0 0 .2 0c.33-.3.76-.46 1.2-.44.87 0 .87.97.87.97a.85.85 0 0 1-.87.87 2.3 2.3 0 0 1-1.57-.72c-.42-.35-.48-.43-.98-.88-.49-.45-2.29-2.41-4.17-2.41a3.01 3.01 0 0 0-3.04 3.04c0 .68.21 1.35.6 1.92a2.9 2.9 0 0 0 2.44 1.18 3.92 3.92 0 0 0 2.83-1.13.15.15 0 0 0-.03-.16L6.07 8.53a.15.15 0 0 0-.18 0c-.37.26-.8.4-1.26.39a.95.95 0 0 1-.88-.97.84.84 0 0 1 .87-.86c.95 0 1.9 1 2.59 1.7 1 1.01 2.21 2.38 4.14 2.32a3.04 3.04 0 0 0 3.07-3.06c0-.7-.2-1.38-.6-1.96a2.85 2.85 0 0 0-2.47-1.18Z");
      ~path {d:path("")}
    }
  }
  // clan tag
  .clanTagChiplet_c19a55, .clanTagChiplet__5bdf8, .chipletContainerInner__4a25c {
    max-width: 72px;
    overflow: hidden;
    white-space: nowrap;
  }
}