@use "vars" as *;
@use "options" as *;
@use "funcs" as *;
// context menu
@if not $redoCtxMenus {
  #{$contextMenu} {
    background-color: #fff;
    min-width: 140px;
    box-shadow: 0 1px 4px rgba(0,0,0,.2);
    .theme-dark & {
      background-color: #{ss(#282b30)};
      box-shadow: 0 0 1px rgba(0,0,0,.82), 0 1px 4px rgba(0,0,0,.1);
    }
    #{$menuScroller} {
      padding: 0;
      border-radius: 4px;
      &::-webkit-scrollbar {width: 0}
      :is(.labelContainer_d90b3d, .item_d90b3d) {
        margin: 0;
        color: #{ss(#99aab5)};
        padding: 4px 8px;
        min-height: 28px;
        border-radius: 0;
        font-size: 13px;
        .statusItem-2a1giL {padding: 0}
        .theme-dark & {color: rgba(255,255,255,.6)}
        &:hover, &.focused_d90b3d, &:active, &.focused_d90b3d:active {
          background: #f9f9f9 !important;
          color: #{ss(#737f8d)};
          .theme-dark & {
            background: #{ss(#25282d)} !important;
            color: #fff;
          }
        }
      }
      .item_d90b3d>.labelContainer_d90b3d {
        padding: 0;
        min-height: 0;
        color: inherit;
      }
      :is(.subtext_d90b3d, .tipSubtext_d3460f) {color: inherit}
      .colorDanger_d90b3d {color: var(--red) !important}
      .colorBrand_d90b3d {color: var(--blurple) !important}
      .separator_d90b3d {margin: 0}
    }
    .submenuPaddingContainer_d90b3d {
      padding: 0;
      .submenu_d90b3d {
        margin-left: -4px;
        margin-right: -4px;
      }
    }
    .textBadge_df8943 {margin-top: -4px}
    #{$menuItem} {
      .theme-light & {
        &.focused_d90b3d :is(.checkbox-hADx5o, .radioSelection-1UHp0b, .subtext-2GlkbE) {
          color: #444;
        }
      }
    }
    .groupLabel_d90b3d.labelContainer_d90b3d {
      font-size: 12px;
      pointer-events: none;
      // &, &:hover, &:active {
      //   background: #0000 !important;
      //   .theme-dark & {
      //     color: rgba(255, 255, 255, 0.6) !important;
      //   }
      //   .theme-light & {
      //     color: hsl(203.6,calc(var(--saturation-factor,1)*15.9%),65.5%) !important;
      //   }
      // }
    }
    .sliderContainer_e13f88 {
      padding-left: 0;
      padding-right: 0;
      .bar_c7a159 {
        margin-left: 0;
        margin-right: 0;
      }
    }
    // context menu icons
    [d="M19.738 10H22V14H19.739C19.498 14.931 19.1 15.798 18.565 16.564L20 18L18 20L16.565 18.564C15.797 19.099 14.932 19.498 14 19.738V22H10V19.738C9.069 19.498 8.203 19.099 7.436 18.564L6 20L4 18L5.436 16.564C4.901 15.799 4.502 14.932 4.262 14H2V10H4.262C4.502 9.068 4.9 8.202 5.436 7.436L4 6L6 4L7.436 5.436C8.202 4.9 9.068 4.502 10 4.262V2H14V4.261C14.932 4.502 15.797 4.9 16.565 5.435L18 3.999L20 5.999L18.564 7.436C19.099 8.202 19.498 9.069 19.738 10ZM12 16C14.2091 16 16 14.2091 16 12C16 9.79086 14.2091 8 12 8C9.79086 8 8 9.79086 8 12C8 14.2091 9.79086 16 12 16Z"] {
      d: path("M12 8.00004C9.73331 8.00004 7.99998 9.73337 7.99998 12C7.99998 14.2667 9.73331 16 12 16C14.2666 16 16 14.2667 16 12C16 9.73337 14.2666 8.00004 12 8.00004ZM12 14.6667C10.5333 14.6667 9.33331 13.4667 9.33331 12C9.33331 10.5334 10.5333 9.33337 12 9.33337C13.4666 9.33337 14.6666 10.5334 14.6666 12C14.6666 13.4667 13.4666 14.6667 12 14.6667ZM22.6666 12C22.6666 10.6667 21.6 9.46671 20.2666 9.33337C20.1333 8.93337 19.8666 8.40004 19.7333 8.00004C20.6666 6.93337 20.5333 5.46671 19.6 4.40004C18.6666 3.46671 17.0666 3.33337 16 4.26671C15.6 4.00004 15.2 3.86671 14.6666 3.73337C14.5333 2.40004 13.3333 1.33337 12 1.33337C10.6666 1.33337 9.46665 2.40004 9.33331 3.73337C8.93331 3.86671 8.39998 4.13337 7.99998 4.26671C6.93331 3.46671 5.46665 3.46671 4.39998 4.40004C3.46665 5.46671 3.46665 6.93337 4.26665 8.00004C4.13331 8.40004 3.86665 8.93337 3.73331 9.33337C2.39998 9.46671 1.33331 10.6667 1.33331 12C1.33331 13.3334 2.39998 14.5334 3.73331 14.6667C3.86665 15.0667 4.13331 15.6 4.26665 16C3.33331 17.0667 3.46665 18.5334 4.39998 19.6C5.33331 20.5334 6.93331 20.6667 7.99998 19.7334C8.39998 20 8.79998 20.1334 9.33331 20.2667C9.46665 21.6 10.6666 22.6667 12 22.6667C13.3333 22.6667 14.5333 21.6 14.6666 20.2667C15.0666 20.1334 15.6 19.8667 16 19.7334C17.0666 20.6667 18.5333 20.5334 19.6 19.6C20.5333 18.6667 20.6666 17.0667 19.7333 16C20 15.6 20.1333 15.2 20.2666 14.6667C21.6 14.5334 22.6666 13.3334 22.6666 12ZM19.2 13.3334C19.0666 14.4 18.5333 15.3334 18 16.1334L18.5333 16.6667C19.0666 17.2 19.0666 18 18.5333 18.5334C18 19.0667 17.2 19.0667 16.6666 18.5334L16.1333 18C15.3333 18.6667 14.4 19.0667 13.3333 19.2V20C13.3333 20.8 12.8 21.3334 12 21.3334C11.2 21.3334 10.6666 20.8 10.6666 20V19.2C9.59998 19.0667 8.66665 18.5334 7.86665 18L7.33331 18.5334C6.79998 19.0667 5.99998 19.0667 5.46665 18.5334C4.93331 18 4.93331 17.2 5.46665 16.6667L5.99998 16.1334C5.33331 15.3334 4.93331 14.4 4.79998 13.3334H3.99998C3.19998 13.3334 2.66665 12.8 2.66665 12C2.66665 11.2 3.19998 10.6667 3.99998 10.6667H4.79998C4.93331 9.60004 5.33331 8.66671 5.99998 7.86671L5.46665 7.33337C4.93331 6.80004 4.93331 6.00004 5.46665 5.46671C5.99998 4.93337 6.79998 4.93337 7.33331 5.46671L7.86665 6.00004C8.66665 5.33337 9.59998 4.93337 10.6666 4.80004V4.00004C10.6666 3.20004 11.2 2.66671 12 2.66671C12.8 2.66671 13.3333 3.20004 13.3333 4.00004V4.80004C14.4 4.93337 15.3333 5.46671 16.1333 6.00004L16.6666 5.46671C17.2 4.93337 18 4.93337 18.5333 5.46671C19.0666 6.00004 19.0666 6.80004 18.5333 7.33337L18 7.86671C18.6666 8.66671 19.0666 9.60004 19.2 10.6667H20C20.8 10.6667 21.3333 11.2 21.3333 12C21.3333 12.8 20.8 13.3334 20 13.3334H19.2Z");
    }
    // checkboxes & radios
    .checkbox_d90b3d, .radioSelection_d90b3d {
      fill: var(--blurple) !important;
    }
    // color fix
    .colorDefault_d90b3d.focused_d90b3d {
      path {
        fill: currentColor;
      }
      .check_d90b3d {
        fill: var(--white);
      }
    }
  }
  // menus - message actions (right click)
  #{$contextMenu}#message {
    div[role="group"] >.item_d90b3d .iconContainer_d90b3d {display: none}
  }
  .caret_d90b3d {
    background: currentColor;
    transform: translate(10px,0.5px);
    clip-path: path("M3.1114 9.63171L7.1114 5.69573C7.50193 5.31145 7.50193 4.68842 7.1114 4.30414L3.1114 0.368134C2.72088 -0.0161415 2.08771 -0.0161415 1.69719 0.368134C1.30667 0.752411 1.30667 1.37544 1.69719 1.75972L4.99008 4.99993L5.69719 5.69573V4.30414L4.99008 4.99993L1.69719 8.24014C1.30667 8.62442 1.30667 9.24744 1.69719 9.63171C2.08771 10.016 2.72088 10.016 3.1114 9.63171Z M4.99008 4.99993L5.69719 5.69573V4.30414L4.99008 4.99993Z");
    polygon {
      display: none;
    }
    .show-redesigned-icons & {
      transform: translate(10px, 3.5px);
    }
    .focused_d90b3d & {
      color: inherit !important;
    }
  }
  // menus - b🤮rst reactions
  .submenu_d90b3d.menu_d90b3d.isBurstReactionPicker__428c0 {
    border: none;
    box-shadow: inset 0 0 0 2px var(--blurple);
    .burstCount__835d0 {
      background: var(--blurple);
      .burstIcon__2b0aa {
        color: #fff;
        path {d: path("M11 15H6L13 1V9H18L11 23V15Z")}
      }
      [data-text-variant="heading-sm/bold"] {color: #fff !important}
    }
    .separator_d90b3d {
      margin-left: 2px;
      margin-right: 2px;
      &:nth-child(2) {
        background: var(--blurple);
        border-color: #0000;
      }
    }
    .labelContainer_d90b3d.focused_d90b3d {
      background: var(--blurple) !important;
      .label_d90b3d {
        color: #fff !important;
      }
    }
  }
  // menus - message actions
  #{$mMessageActions} {
    min-width: 0;
    background: #fff;
    .theme-dark & {
      background: #{ss(#18191c)};
    }
    #{$iconContainer} {display:none}
    #{$menuScroller} {
      padding: 0px;
      &::-webkit-scrollbar {width: 0px}
    }
    #{$menuItem} {
      padding: 2px 8px;
      margin: 0;
      text-align: center;
      min-height: 0;
      color: #87909c;
      font-size: 12px;
      font-weight: 500;
      .theme-dark & {
        color: hsla(0,0%,100%,.6);
      }
      &:hover {
        background: rgba(0,0,0,.05);
        color: #{ss(#2e3136)};
        .theme-dark & {
          background: #{ss(#040405)};
          color: #fff;
        }
      }
    }
    .wrapper_a24e84 {
      display: none;
    }
    .submenu_d90b3d {
      background: #fff;
      .theme-dark & {
        background: #{ss(#18191c)};
      }
      .label_d90b3d {
        text-align: start;
      }
      .image_d90b3d {
        width: 18px;
        object-fit: contain;
      }
    }
    [d="M12 23a11 11 0 1 0 0-22 11 11 0 0 0 0 22ZM6.5 13a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3Zm11 0a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3Zm-9.8 1.17a1 1 0 0 1 1.39.27 3.5 3.5 0 0 0 5.82 0 1 1 0 0 1 1.66 1.12 5.5 5.5 0 0 1-9.14 0 1 1 0 0 1 .27-1.4Z"] {
      d: path("M21.95 11A10.01 10.01 0 0 1 12 22a10 10 0 1 1 1-19.95v2.01A8 8 0 1 0 19.94 11h2.01ZM12 17.5a5.5 5.5 0 0 0 5.11-3.5H6.89A5.5 5.5 0 0 0 12 17.5Zm3.5-6.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3Zm-7 0a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3ZM21 3V0h-2v3h-3v2h3v3h2V5h3V3h-3Z");
    }
    :is(#message-actions-add-reaction, #message-actions-apps, #message-actions-save-for-later) {
      >.iconContainer_d90b3d {
        display: block;
        position: absolute;
        right: 8px;
        margin-top: 1px;
      }
      &+.layer_cd0de5 .submenuPaddingContainer_d90b3d {
        .iconContainer_d90b3d {
          display: block;
        }
      }
    }
  }
  // quick emoji bar
  .wrapper_a24e84 {
    .button_a24e84 {
      background: none;
      border-radius: 0;
      padding: 0;
      &:is(:hover, :active) {
        background: var(--background-modifier-hover);
      }
    }
    padding: 0;
  }
  // menus - server settings
  :is(#{$mGuildHeader}, #favorites-header-popout) {
    background: #fff;
    border-radius: 5px;
    .theme-dark & {
      background: #{ss(#282b30)};
    }
    #{$menuScroller} {
      padding: 0;
      &::-webkit-scrollbar {display:none}
    }
    overflow: hidden;
    .label_d90b3d {
      font-weight: 400;
      margin-left: 38px;
    }
    #{$iconContainer} {
      left: 8px;
      position: absolute;
      color: #{ss(#8e98a3)};
      .theme-dark & {
        color: #{ss(#646e7a)};
      }
    }
    .item_d90b3d:before {
      width: 18px;
      height: 18px;
      left: 16px;
      position: absolute;
      background: currentColor;
      color: #{ss(#8e98a3)};
      .theme-dark & {
        color: #{ss(#646e7a)};
      }
    }
    .item_d90b3d {
      color: #{ss(#99aab5)};
      font-size: 15px;
      padding: 10px 8px;
      margin: 0;
      border-radius: 0;
      font-weight: 400;
      .theme-dark & {
        color: rgba(255, 255, 255, 0.6);
      }
      &:hover, &.focused_d90b3d, &:active {
        background: #F9F9F9;
        color: #{ss(#737f8d)};
        .theme-dark & {
          color: #fff;
        }
        #{$iconContainer}, &:before {
          color: #{ss(#737f8d)};
        }
        path {
          fill: currentColor;
        }
      }
    }
    .separator_d90b3d {
      margin:0;
      background: #f5f5f5;
      .theme-dark & {
        background: hsla(0,0%,96%,.08);
      }
    }
    #guild-header-popout-premium-subscribe {
      color: #{ss(#ff73fa)};
      .icon_d90b3d {
        background: linear-gradient(90deg,#{ss(#b473f5)},#{ss(#e292aa)});
        border-radius: 50%;
        path {
          d: path("M4 2.24219L1.75 4.49219V7.5147L4 9.7647L6.25 7.5147V4.49219L4 2.24219ZM5.5 7.19969L4 8.6997L2.5 7.19969V4.79969L4 3.29969L5.5 4.79969V7.19969Z");
          fill: #fff !important;
        }
      }
    }
    #guild-header-popout-invite-people {
      color: var(--blurple);
      path {fill:var(--blurple)!important}
    }
    #guild-header-popout-leave {color: var(--red)}
    // invite
    // [d="M21 3H24V5H21V8H19V5H16V3H19V0H21V3ZM10 12C12.205 12 14 10.205 14 8C14 5.795 12.205 4 10 4C7.795 4 6 5.795 6 8C6 10.205 7.795 12 10 12ZM10 13C5.289 13 2 15.467 2 19V20H18V19C18 15.467 14.711 13 10 13Z"] {
    #guild-header-popout-invite-people path {
      d: path("M10.0605 14.979L17.7405 8.05905C18.0805 7.74905 17.6705 7.59905 17.2205 7.86905L7.74047 13.859L3.64047 12.5591C2.76047 12.3091 2.75047 11.699 3.84047 11.259L19.8105 5.09905C20.5405 4.76905 21.2405 5.27905 20.9605 6.39905L18.2405 19.209C18.0505 20.119 17.5005 20.3391 16.7405 19.9191L12.6005 16.859L10.6105 18.7891C10.3805 19.0191 10.1905 19.209 9.78047 19.209L10.0605 14.979V14.979Z")
    }
    // settings
    // [d="M19.738 10H22V14H19.739C19.498 14.931 19.1 15.798 18.565 16.564L20 18L18 20L16.565 18.564C15.797 19.099 14.932 19.498 14 19.738V22H10V19.738C9.069 19.498 8.203 19.099 7.436 18.564L6 20L4 18L5.436 16.564C4.901 15.799 4.502 14.932 4.262 14H2V10H4.262C4.502 9.068 4.9 8.202 5.436 7.436L4 6L6 4L7.436 5.436C8.202 4.9 9.068 4.502 10 4.262V2H14V4.261C14.932 4.502 15.797 4.9 16.565 5.435L18 3.999L20 5.999L18.564 7.436C19.099 8.202 19.498 9.069 19.738 10ZM12 16C14.2091 16 16 14.2091 16 12C16 9.79086 14.2091 8 12 8C9.79086 8 8 9.79086 8 12C8 14.2091 9.79086 16 12 16Z"] {
    #guild-header-popout-settings path {
      d: path("M12 9C10.344 9 9 10.343 9 12C9 13.657 10.344 15 12 15C13.657 15 15 13.657 15 12C15 10.343 13.657 9 12 9ZM12 14C10.896 14 10 13.105 10 12C10 10.896 10.896 10 12 10C13.104 10 14 10.896 14 12C14 13.105 13.104 14 12 14ZM21 12C21 10.8323 20.1045 9.88275 18.9649 9.7725C18.8411 9.38437 18.6825 9.012 18.498 8.65538C19.2304 7.77113 19.1933 6.465 18.3641 5.637C17.5361 4.809 16.2289 4.77075 15.3458 5.50312C14.988 5.31862 14.6167 5.16 14.2275 5.03625C14.1184 3.89438 13.1689 3 12 3C10.8311 3 9.88163 3.89438 9.77138 5.03513C9.38325 5.16 9.01088 5.3175 8.65425 5.502C7.77 4.77075 6.465 4.80788 5.637 5.63588C4.809 6.46388 4.77075 7.77 5.50312 8.65425C5.31862 9.01088 5.16 9.38325 5.03513 9.7725C3.8955 9.88162 3 10.8311 3 12C3 13.17 3.8955 14.1184 5.03625 14.2275C5.16 14.6156 5.31862 14.988 5.50312 15.3458C4.77075 16.23 4.809 17.535 5.637 18.363C6.465 19.191 7.77112 19.2281 8.65425 18.4969C9.01088 18.6814 9.38325 18.84 9.77138 18.9638C9.88163 20.1056 10.8311 21 12 21C13.1689 21 14.1184 20.1056 14.2286 18.9649C14.6168 18.8411 14.9891 18.6825 15.3469 18.498C16.23 19.2304 17.5373 19.1921 18.3653 18.3641C19.1933 17.5361 19.2315 16.23 18.498 15.3458C18.6825 14.9891 18.84 14.6168 18.9649 14.2286C20.1045 14.1184 21 13.17 21 12ZM17.408 13C17.266 13.774 16.952 14.485 16.523 15.109L16.951 15.537C17.342 15.929 17.342 16.56 16.951 16.951C16.56 17.342 15.928 17.342 15.537 16.951L15.109 16.523C14.484 16.95 13.773 17.263 13 17.405V18C13 18.552 12.553 19 12 19C11.448 19 11 18.552 11 18V17.406C10.227 17.264 9.517 16.951 8.893 16.522L8.465 16.95C8.074 17.341 7.442 17.341 7.051 16.95C6.66 16.559 6.66 15.928 7.051 15.536L7.478 15.109C7.048 14.485 6.734 13.774 6.592 13H6C5.448 13 5 12.552 5 12C5 11.448 5.448 11 6 11H6.592C6.734 10.226 7.048 9.515 7.478 8.891L7.051 8.464C6.66 8.073 6.66 7.441 7.051 7.05C7.442 6.659 8.074 6.659 8.465 7.05L8.893 7.478C9.517 7.05 10.227 6.737 11 6.595V6C11 5.447 11.448 5 12 5C12.553 5 13 5.447 13 6V6.594C13.773 6.736 14.484 7.049 15.108 7.478L15.536 7.05C15.927 6.659 16.56 6.659 16.95 7.05C17.341 7.441 17.341 8.073 16.95 8.464L16.523 8.891C16.953 9.515 17.266 10.226 17.409 11H18C18.553 11 19 11.448 19 12C19 12.553 18.553 13 18 13H17.408V13Z")
    }
    // create channel
    // [d="M12 2.00098C6.486 2.00098 2 6.48698 2 12.001C2 17.515 6.486 22.001 12 22.001C17.514 22.001 22 17.515 22 12.001C22 6.48698 17.514 2.00098 12 2.00098ZM17 13.001H13V17.001H11V13.001H7V11.001H11V7.00098H13V11.001H17V13.001Z"] {
    #guild-header-popout-create-channel path {
      d: path("M20 13.3333H13.3333V20H10.6667V13.3333H4V10.6667H10.6667V4H13.3333V10.6667H20")
    }
    // create category
    // [d="M20 7H12L10.553 5.106C10.214 4.428 9.521 4 8.764 4H3C2.447 4 2 4.447 2 5V19C2 20.104 2.895 21 4 21H20C21.104 21 22 20.104 22 19V9C22 7.896 21.104 7 20 7ZM16 15H13V18H11V15H8V13H11V10H13V13H16V15Z"] {
    #guild-header-popout-create-category path,
    #favorites-header-popout-create-category path {
      d: path("M4 2.66675H9.33333V8.00008H4V2.66675ZM14.6667 9.33341H21.3333V14.6667H14.6667V9.33341ZM14.6667 16.0001H21.3333V21.3334H14.6667V16.0001ZM13.3333 13.3334H8V17.3334H13.3333V20.0001H5.33333V9.33341H8V10.6667H13.3333V13.3334Z")
    }
    // active threads
    #guild-header-popout-active-threads path {
      // nvm
    }
    // app directory
    #guild-header-popout-application-directory path {
      d: path("M12 2C12.5304 2 13.0391 2.21071 13.4142 2.58579C13.7893 2.96086 14 3.46957 14 4C14 4.74 13.6 5.39 13 5.73V7H14C15.8565 7 17.637 7.7375 18.9497 9.05025C20.2625 10.363 21 12.1435 21 14H22C22.2652 14 22.5196 14.1054 22.7071 14.2929C22.8946 14.4804 23 14.7348 23 15V18C23 18.2652 22.8946 18.5196 22.7071 18.7071C22.5196 18.8946 22.2652 19 22 19H21V20C21 20.5304 20.7893 21.0391 20.4142 21.4142C20.0391 21.7893 19.5304 22 19 22H5C4.46957 22 3.96086 21.7893 3.58579 21.4142C3.21071 21.0391 3 20.5304 3 20V19H2C1.73478 19 1.48043 18.8946 1.29289 18.7071C1.10536 18.5196 1 18.2652 1 18V15C1 14.7348 1.10536 14.4804 1.29289 14.2929C1.48043 14.1054 1.73478 14 2 14H3C3 12.1435 3.7375 10.363 5.05025 9.05025C6.36301 7.7375 8.14348 7 10 7H11V5.73C10.4 5.39 10 4.74 10 4C10 3.46957 10.2107 2.96086 10.5858 2.58579C10.9609 2.21071 11.4696 2 12 2ZM7.5 13C6.83696 13 6.20107 13.2634 5.73223 13.7322C5.26339 14.2011 5 14.837 5 15.5C5 16.163 5.26339 16.7989 5.73223 17.2678C6.20107 17.7366 6.83696 18 7.5 18C8.16304 18 8.79893 17.7366 9.26777 17.2678C9.73661 16.7989 10 16.163 10 15.5C10 14.837 9.73661 14.2011 9.26777 13.7322C8.79893 13.2634 8.16304 13 7.5 13ZM16.5 13C15.837 13 15.2011 13.2634 14.7322 13.7322C14.2634 14.2011 14 14.837 14 15.5C14 16.163 14.2634 16.7989 14.7322 17.2678C15.2011 17.7366 15.837 18 16.5 18C17.163 18 17.7989 17.7366 18.2678 17.2678C18.7366 16.7989 19 16.163 19 15.5C19 14.837 18.7366 14.2011 18.2678 13.7322C17.7989 13.2634 17.163 13 16.5 13Z");
    }
    // linked roles
    #guild-header-popout-guild-connection-roles path {
    }
    // notification settings
    #guild-header-popout-notifications path {
      d: path("M12.0236 3H4.99509C3.89262 3 3 3.89323 3 4.99509V19.0049C3 20.1074 3.89323 21 4.99509 21H19.0049C20.1074 21 21 20.1068 21 19.0049V11.9761C20.3942 12.3644 19.72 12.655 19 12.8255V19H5V5H11.1743C11.3448 4.27962 11.6354 3.60554 12.0236 3Z M22 6C22 3.79086 20.2091 2 18 2C15.7909 2 14 3.79086 14 6C14 8.20914 15.7909 10 18 10C20.2091 10 22 8.20914 22 6Z")
    }
    // privacy settings
    #guild-header-popout-privacy path {
      d: path("M3 5L12 1L21 5V11C21 16.55 17.16 21.73 12 23C6.84 21.73 3 16.55 3 11V5ZM12 20.92C15.72 19.78 18.47 16.11 19 12V6.3L12 3.19L5 6.3V12C5.53 16.11 8.28 19.78 12 20.92Z")
    }
    // change nickname
    #guild-header-popout-change-nickname path {
      d: path("M4 18.6667V15.3334L14.5067 4.86675C14.76 4.60008 15.1867 4.60008 15.4533 4.86675L17.8 7.21341C18.0667 7.48008 18.0667 7.89341 17.8 8.16008L7.29333 18.6667H4ZM20 18.6667H10L12.6667 16.0001H20V18.6667Z")
    }
    // leave
    #guild-header-popout-leave path {
      d: path("M19 3H5C3.89 3 3 3.89 3 5V9H5V5H19V19H5V15H3V19C3 20.1046 3.89543 21 5 21H19C20.1046 21 21 20.1046 21 19V5C21 3.89 20.1 3 19 3ZM10.08 15.58L11.5 17L16.5 12L11.5 7L10.08 8.41L12.67 11H3V13H12.67L10.08 15.58Z")
    }
    // vencord permissions
    #guild-header-popout-perm-viewer-permissions:before {
      content: "";
      -webkit-mask: no-repeat url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' fill='none'%3E%3Cpath fill='%23000' fill-rule='evenodd' d='M9 9H3.75c.397 3.082 2.46 5.835 5.25 6.69V9h5.25V4.725L9 2.393V9ZM9 .75l-6.75 3v4.5c0 4.162 2.88 8.047 6.75 9 3.87-.953 6.75-4.838 6.75-9v-4.5L9 .75Z' clip-rule='evenodd'/%3E%3C/svg%3E") center/contain;
      mask: no-repeat url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' fill='none'%3E%3Cpath fill='%23000' fill-rule='evenodd' d='M9 9H3.75c.397 3.082 2.46 5.835 5.25 6.69V9h5.25V4.725L9 2.393V9ZM9 .75l-6.75 3v4.5c0 4.162 2.88 8.047 6.75 9 3.87-.953 6.75-4.838 6.75-9v-4.5L9 .75Z' clip-rule='evenodd'/%3E%3C/svg%3E") center/contain;
    }
  }
  // menus - chat textbox
  #{$mChannelAttach} {
    .optionIcon_ec5137 {
      width: 16px;
      height: 16px;
    }
    // start activity
    [d="M22 4v1.51a6 6 0 0 1-1.76 4.25l-4.1 4.1a.5.5 0 0 0-.14.35v3.74a3 3 0 0 1-.66 1.87l-1.79 2.24a.5.5 0 0 1-.86-.14l-1.86-5.02a.5.5 0 0 0-.11-.18l-3.46-3.46a.5.5 0 0 0-.17-.11l-4.8-1.85a.5.5 0 0 1-.15-.85l2.02-1.73A3 3 0 0 1 6.1 8h3.68a.5.5 0 0 0 .36-.15l4.1-4.1A6 6 0 0 1 18.48 2H20a2 2 0 0 1 2 2Zm-5 5a2 2 0 1 0 0-4 2 2 0 0 0 0 4Z"] {
      d: path("M5.793 5h12.414a3 3 0 0 1 2.992 2.786l.659 9.22A1.862 1.862 0 0 1 20 19c-1.175 0-2.2-.8-2.485-1.94L17 15H7l-.515 2.06A2.562 2.562 0 0 1 4 19a1.862 1.862 0 0 1-1.858-1.995l.659-9.219A3 3 0 0 1 5.793 5Zm8.707 5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3Zm4 3a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3ZM6 9H4v2h2v2h2v-2h2V9H8V7H6v2Z");
    }
    // start a thread
    [d="M19 14a1 1 0 0 1 1 1v3h3a1 1 0 1 1 0 2h-3v3a1 1 0 0 1-2 0v-3h-3a1 1 0 0 1 0-2h3v-3a1 1 0 0 1 1-1ZM12 19c0-.22.03-.44.08-.66a.56.56 0 0 0-.21-.58l-8.84-6.22a1 1 0 0 0-1.3.13l-.69.69a1 1 0 0 0 0 1.41l9.2 9.2a1 1 0 0 0 1.4 0l.36-.36a1 1 0 0 0 0-1.41l-.35-.36.37-.37a.56.56 0 0 0 .12-.56A3 3 0 0 1 12 19ZM15 16h.16c.33 0 .56-.32.3-.53a.98.98 0 0 0-.07-.06L6.9 9.76a1 1 0 1 0-1.1 1.66l7.3 4.88c.17.1.39.1.56.02.4-.2.86-.32 1.34-.32ZM15.82 13.39c.25.17.6.07.77-.17.12-.17.26-.32.42-.46.29-.26.32-.76 0-.98L9.73 6.93a1 1 0 0 0-1.11 1.66l7.2 4.8ZM12 2.81a1 1 0 0 1 0-1.41l.36-.36a1 1 0 0 1 1.41 0l9.2 9.2a1 1 0 0 1 0 1.4l-.7.7a1 1 0 0 1-1.3.13l-9.54-6.72a1 1 0 0 1-.08-1.58l1-1L12 2.8Z"] {
      d: path("M3.6 3.60001C2.49543 3.60001 1.6 4.49544 1.6 5.60001C1.6 6.70458 2.49543 7.60001 3.6 7.60001C4.70457 7.60001 5.6 6.70458 5.6 5.60001C5.6 4.49544 4.70457 3.60001 3.6 3.60001ZM8.7 4.10001C7.87157 4.10001 7.2 4.77158 7.2 5.60001C7.2 6.42843 7.87157 7.10001 8.7 7.10001H20.9C21.7284 7.10001 22.4 6.42843 22.4 5.60001C22.4 4.77158 21.7284 4.10001 20.9 4.10001H8.7ZM7.2 12C7.2 10.8954 8.09543 10 9.2 10C10.3046 10 11.2 10.8954 11.2 12C11.2 13.1046 10.3046 14 9.2 14C8.09543 14 7.2 13.1046 7.2 12ZM14.3 10.5C13.4716 10.5 12.8 11.1716 12.8 12C12.8 12.8284 13.4716 13.5 14.3 13.5H20.9C21.7284 13.5 22.4 12.8284 22.4 12C22.4 11.1716 21.7284 10.5 20.9 10.5H14.3ZM7.2 18.4C7.2 17.2954 8.09543 16.4 9.2 16.4C10.3046 16.4 11.2 17.2954 11.2 18.4C11.2 19.5046 10.3046 20.4 9.2 20.4C8.09543 20.4 7.2 19.5046 7.2 18.4ZM14.7 16.9C13.8716 16.9 13.2 17.5716 13.2 18.4C13.2 19.2284 13.8716 19.9 14.7 19.9H20.9C21.7284 19.9 22.4 19.2284 22.4 18.4C22.4 17.5716 21.7284 16.9 20.9 16.9H14.7Z");
    }
  }
  // status
  :is(.iconContainer_d90b3d .icon_d90b3d, .optionLabel_ec5137 .optionIcon_ec5137) {
    [mask="url(#svg-mask-status-online)"] div {
      background: var(--green) !important;
    }
    [mask="url(#svg-mask-status-idle)"] div {
      background: var(--yellow) !important;
    }
    [mask="url(#svg-mask-status-dnd)"] div {
      background: var(--red) !important;
    }
    [mask="url(#svg-mask-status-offline)"] div {
      background: rgba(128, 132, 142) !important;
    }
  }
  .menu_d90b3d {
    #account-status-picker--online {
      .status_c7d26b {
        background: var(--green) !important;
      }
    }
    #account-status-picker--idle {
      .status_c7d26b {
        background: var(--yellow) !important;
      }
    }
    #account-status-picker--dnd {
      .status_c7d26b {
        background: var(--red) !important;
      }
    }
    #account-status-picker--invisible {
      .status_c7d26b {
        background: #{ss(rgba(128, 132, 142))} !important;
      }
    }
  }
  // profile context menu
  .accountProfilePopoutWrapper_b2ca13.accountProfilePopoutWrapper_b2ca13.accountProfilePopoutWrapper_b2ca13 {
    .userPopoutOuter_c69a7b {
      :is(.profileBadges_f89da9, .pronouns_c9ccf6, .clanTag_c9ccf6, .scroller_d2b491) {
        display: none;
      }
      .copiableNameTag_c9ccf6 {
        .copiableField_c9ccf6 {
          padding: 0;
        }
        .childWrapper_e3203d+div {
          display: none;
        }
      }
      .separator_d90b3d {
        border-color: #f5f5f5;
        .theme-dark & {
          border-color: hsla(0,0%,96%,.08);
        }
      }
      .item_d90b3d:not(.submenu_d90b3d .item_d90b3d) {
        padding: 10px 14px;
      }
    }
  }
  // status picker
  #status-status-picker--online {
    .status_c7d26b {
      color: var(--green);
    }
  }
  #status-status-picker--idle {
    .status_c7d26b {
      color: var(--yellow);
    }
  }
  #status-status-picker--dnd {
    .status_c7d26b {
      color: var(--red);
    }
  }
  #status-status-picker--invisible {
    .status_c7d26b {
      color: #{ss(#72767d)};
    }
  }
  // friends list activity feed
  @keyframes now-playing-menu-anim {
    from {transform: translateX(20px);opacity:0}
    to {transform: none;opacity:1}
  }
  #now-playing-menu {
    animation: .3s now-playing-menu-anim ease-in-out;
  }
}