@use "exps" as *;
@use "funcs" as *;
// server discovery
@at-root {
  @if $experiment2 == 1 {
    .guildList_c8c448 {grid-template-columns: repeat(auto-fill,minmax(300px,1fr))}
    .card_e90879 {
      height: auto;
      .guildInfo_e90879 {
        position: absolute;
        bottom: 0;
        left: 0;
        padding-bottom: 18px;
        padding-left: 80px;
      }
      .splash_e90879:before {
        content: "";
        background: linear-gradient(180deg,#0000 30%,#000);
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        top: 0;
      }
      .cardHeader_e90879 {margin: 0}
      .guildIcon_e90879 {
        bottom: 16px;
        left: 16px;
        padding: 0;
        margin: 0;
        box-shadow: none;
        border-radius: 50%;
        overflow: hidden;
        width: 48px;
        height: 48px;
      }
      .guildIcon_e90879 * {mask: none}
      .iconMask_e90879 {padding: 0}
      .guildIcon_e90879 {
        foreignObject, svg {
          width: 100%;
          height: 100%;
        }
      }
      .cardHeader_e90879 {height: 160px}
      .actionButtons_e90879 {display: none !important}
      .description_e90879 {display: none}
      .memberCount_e90879 {
        [data-text-variant="text-xs/normal"] {
          color: #{ss(#b9bbbe)} !important;
          font-weight: 600;
          font-size: 14px;
        }
        &+.memberCount_e90879 {display: none}
      }
      .guildName_e90879 {
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 2px;
        text-overflow: unset;
        white-space: break-spaces;
        color: #fff;
        text-shadow: 0 1px 2px #000, 0 2px 4px #000;
      }
      &:is(:focus, :hover) {
        .splash_e90879 {transform: scale(1.02) translateZ(0)}
      }
    }
  } @else if $experiment2 == 2 {
    .card_e90879 {
      .theme-dark & {background-color: var(--background-tertiary)}
      .theme-dark &:hover, .theme-dark &:hover .iconMask_e90879 {background-color: #{ss(#18191c)}}
      .theme-light & {background-color: var(--background-secondary)}
      .theme-light &:hover, .theme-light &:hover .iconMask_e90879 {background-color: var(--background-primary)}
      .splash_e90879 img {
        mask-image: linear-gradient(#000, #0000);
        -webkit-mask-image: linear-gradient(#000, #0000);
      }
      .flowerStarContainer__3e3b0 {color: var(--background-accent) !important}
      .iconMask_e90879 {background: none !important}
      .memberCount_e90879 {
        [data-text-variant="text-xs/normal"] {
          color: var(--text-normal);
          font-weight: 600;
        }
        .dotOnline_e90879:not(.dotOffline_e90879) {background: var(--green)}
      }
      .guildIcon_e90879 {
        width: 50px;
        height: 50px;
        >svg {
          width: 50px;
          height: 50px;
          >foreignObject {
            >.iconMask_e90879 {
              padding: 0;
              width: 48px;
              height: 48px;
              >svg {
                width: 48px;
                height: 48px;
              }
            }
          }
        }
      }
    }
  }
  // new discovery sidebar
  .container__551b0 {
    .header__551b0 {
      padding-left: 20px;
      margin: 20px 0 0 0;
      font-size: 12px;
      font-weight: 500;
      letter-spacing: .025em;
      height: 30px;
      display: flex;
      align-items: center;
      text-transform: uppercase;
      letter-spacing: .3px;
      color: var(--header-primary);
      opacity: .3;
      transition: 150ms opacity;
      box-shadow: none;
      &:hover {
        opacity: 1;
      }
      >h2 {
        color: inherit;
        font-size: inherit;
        font-weight: inherit;
        letter-spacing: inherit;
      }
    }
    .nav__551b0 {
      padding: 0;
      gap: 0;
    }
    .navItem__551b0 {
      margin: 0;
      padding: 5px 8px 5px 16px;
      border-radius: 0;
      cursor: pointer;
      border-left: solid var(--channelBarWidth) #0000;
      background: none;
      &:hover, &:active {
        &:not(.selected__551b0) {
          border-left-color: #{ss(rgba(114, 137, 218, 0.5))};
          background: linear-gradient(to right, var(--background-secondary-alt) 85%, var(--background-secondary));
          .navItemIcon__551b0 {
            background: color-mix(in srgb, #0000 0%, var(--blurple) 25%);
          }
        }
      }
      &.selected__551b0 {
        border-left-color: var(--blurple);
        background: linear-gradient(to right, var(--background-secondary-alt) 85%, var(--background-secondary));
        color: var(--interactive-active);
        .navItemIcon__551b0 {
          background: var(--blurple);
        }
      }
    }
    .navItemIcon__551b0 {
      background: var(--background-accent);
      color: var(--interactive-active);
      border-radius: 64px;
      width: 32px;
      height: 32px;
      display: flex;
      justify-content: center;
      align-items: center;
      svg {
        color: #fff;
        --interactive-normal: #fff;
        --interactive-hover: #fff;
        --interactive-active: #fff;
      }
      // communities
      [d="M10.55 4.4c.13-.24.1-.54-.12-.71L8.6 2.24a1 1 0 0 0-1.24 0l-4 3.15a1 1 0 0 0-.38.79v4.03c0 .43.5.66.82.39l2.28-1.9a3 3 0 0 1 3.84 0c.03.02.08 0 .08-.04V6.42a4 4 0 0 1 .55-2.02ZM7.36 10.23a1 1 0 0 1 1.28 0l1.18.99 2.98 2.48 1.84 1.53a1 1 0 0 1-.67 1.77.1.1 0 0 0-.1.09l-.23 3.06a2 2 0 0 1-2 1.85H4.36a2 2 0 0 1-2-1.85l-.24-3.16a1 1 0 0 1-.76-1.76l6-5Z"] {
        d: path("M10 20v-6h4v6h5v-8h3L12 3 2 12h3v8h5Z");
        ~path {d:path("")}
      }
    }
  }
  // new discovery
  .container_a592e1 {
    .dragRegion_a592e1 {
      height: 36px;
    }
    .container_e9ef78 {
      background: none;
      overflow: visible;
      :is(.gradientBackground_e9ef78, .bannerImage__955a3) {
        display: none;
      }
      .button_fc867b.lookFilled__201d5.colorTransparent__201d5.colorTransparent__201d5.colorTransparent__201d5 {
        border-radius: 3px;
        box-shadow: none;
        background: none;
        border: solid 1px color-mix(in srgb, var(--blurple) 30%, #0000);
        transition: .2s;
        position: relative;
        &:hover {
          border-color: color-mix(in srgb, var(--blurple) 60%, #0000);
          background: none;
        }
        &:active {
          border-color: var(--blurple);
          background: color-mix(in srgb, var(--blurple) 10%, #0000);
        }
      }
      &:before {
        width: 100%;
        height: 1000px;
        display: block;
        position: absolute;
        margin-left: 0;
        margin-top: 0;
        top: 0;
        left: 0;
        right: 0;
        content: "";
        pointer-events: none;
        background-size: cover auto;
      }
      .theme-dark &:before {
        background: url("https://static.discord.com/assets/76456a67ca3d139def36fd3ba871b230.png") no-repeat top / contain;
      }
      .theme-light & {
        &:before {
          background: url("https://static.discord.com/assets/757e956c407d352bb77320c83e3c6159.png") no-repeat top / contain;
        }
      }
      .textContainer_e9ef78 {
        text-align: center;
        align-items: center;
        padding: 0;
        [data-text-variant="display-lg"] {
          font-family: var(--font-primary);
          text-transform: none;
        }
      }
    }
    // joiners
    .backdrop__8a7fc {
      background: var(--background-primary);
    }
  }
}