@use "funcs" as *;
@use "exps" as *;
// friends list
.peopleColumn_c2739c {
  @if $experiment24 !=1 {
    .searchBar_e0840f {
      background: var(--deprecated-text-input-bg);
      border: solid 1px var(--deprecated-text-input-border);
      transition: .3s border-color;
      border-radius: 3px;
      &:hover, &:active {
        border-color: var(--deprecated-text-input-border-hover);
      }
      &:focus, &:focus-within {
        border-color: var(--blurple);
      }
    }
  }
  // add friend
  .header_c96274 {
    background: var(--dtm-16-friends-list-add-bg);
    border-bottom: solid 1px var(--dtm-16-friends-list-add-border);
  }
  // .container_a43b87 = member apps
  @at-root .peopleListItem_d51464, .messageRequestItem_a5de62, .container_a43b87 {
    border-radius: 3px !important;
    background: none;
    &.active_d51464, &.selected_a43b87, &:hover {
      background: #414449;
      box-shadow: 0 2px 1px 0 rgb(0 0 0 / 10%);
      .theme-light & {
        background: #{ss(rgba(153, 170, 181, 0.2))};
      }
    }
    .actionButton_e01b91, .overflowMenuContainer_a43b87 {
      border-radius: 3px;
      transition: .3s;
      background: var(--background-secondary-alt);
      &:hover {background: var(--background-tertiary)}
      &.actionDeny_e01b91:hover {
        background: var(--red);
        color: #fff;
      }
      &.actionAccept_e01b91:hover {
        background: var(--green);
        color: #fff;
      }
    }
  }
  // open parties
  .container_b8c87f {
    border-radius: 3px;
    background: var(--deprecated-card-bg);
    border: solid 1px var(--background-tertiary);
    .container_c754ed {
      border-radius: 3px;
      background: var(--background-primary);
      .viewers_c754ed {
        background: none;
        padding: 0;
        border-radius: 0;
      }
    }
  }
}

// activity cards
.nowPlayingColumn_c2739c {
  [data-text-variant="heading-lg/semibold"].header_bf550a {
    font-size: 18px;
    font-weight: 500;
    color: #{ss(#dcddde)};
    .theme-light & {
      color: #{ss(#4f545c)};
    }
  }
}
.wrapper_cd82a7 {
  background: var(--background-tertiary);
  .theme-light & {background: #{ss(#f6f6f7)}}
  border: solid 1px var(--background-secondary);
  .theme-light & {border-color: #{ss(#dcddde)}}
  border-radius: 3px;
  overflow: hidden;
  box-shadow: none;
  padding: 0;
  .header_cd82a7 {
    padding: 16px;
    border-radius: 0;
    position: relative;
    &:before {
      content: "";
      background: var(--activity-card-pattern);
      opacity: .3;
      background-position-x: 50%;
      background-position-y: 40%;
      background-size: 300px;
      -webkit-mask: radial-gradient(100% 100% at top left,#fff9 0,#fff0 100%);
      filter: grayscale(100%);
      mask: radial-gradient(100% 100% at top left,hsla(0,0%,100%,.6) 0,hsla(0,0%,100%,0) 100%);
      width: 100%;
      height: 100%;
      position: absolute;
    }
    >* {z-index: 10}
  }
  .theme-light &:hover .__MISSINGNO__ {background:#fff}
  .body_cd82a7 {
    margin: 0;
    :is(.section_cd82a7, .wrapper_a18c91) {
      border-radius: 0 !important;
      .theme-dark & {background: #{ss(#3e4148)}}
      .theme-light & {background:#fff}
    }
    .voiceSectionIconWrapper_cd82a7 {
      width: 18px;
      height: 18px;
      bottom: -4px;
      right: -4px;
      svg {
        width: 18px;
        height: 18px;
      }
      // vc icon
      [d="M12 3a1 1 0 0 0-1-1h-.06a1 1 0 0 0-.74.32L5.92 7H3a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h2.92l4.28 4.68a1 1 0 0 0 .74.32H11a1 1 0 0 0 1-1V3ZM15.1 20.75c-.58.14-1.1-.33-1.1-.92v-.03c0-.5.37-.92.85-1.05a7 7 0 0 0 0-13.5A1.11 1.11 0 0 1 14 4.2v-.03c0-.6.52-1.06 1.1-.92a9 9 0 0 1 0 17.5Z"] {
        d: path("M17 12C17 10.2 15.7 8.79998 14 8.59998V9.59998C15.1 9.79998 16 10.8 16 12.1C16 13.3 15.1 14.3 14 14.5V15.5C15.7 15.2 17 13.8 17 12ZM14 5.09998V6.09998C16.8 6.59998 19 8.99998 19 12C19 15 16.8 17.4 14 17.9V18.9C17.4 18.4 20 15.5 20 12C20 8.49998 17.4 5.59998 14 5.09998ZM6 8.99998C5.4 8.99998 5 9.39998 5 9.99998V14C5 14.6 5.4 15 6 15H8L13 18V5.99998L8 8.99998H6ZM8 14H6.5C6.2 14 6 13.8 6 13.5V10.5C6 10.2 6.2 9.99998 6.5 9.99998H8V14ZM9 9.39998L12 7.49998V16.5L9 14.6V9.39998Z");
      }
    }
    // promotion
    .wrapper_a18c91 {
      .utils_a18c91 {
        >div[role="button"] {
          display: flex;
        }
      }
      .ctas_a18c91 {
        >button.cta_a18c91.cta_a18c91.cta_a18c91 {
          padding: 8px;
          min-height: 0;
          height: auto;
          .contents_dd4f85 {
            font-size: 14px;
          }
        }
      }
    }
  }
  .wrapper_a18c91 {
    border-radius: 0;
  }
  .separator_cd82a7 {
    background: var(--background-primary);
  }
  .applicationStreamingHoverText_cd82a7 {
    border-radius: 3px;
  }
}

@if $experiment24 == 1 {
  .container_c2739c {
    will-change: transform;
    --dtm-16-friends-list-sb-spacer-icon3: 0px;
    --dtm-16-friends-list-sb-spacer-icon4: 0px;
    &:has(.recentsIcon_ea0547+.iconWrapper_fc4f04) {
      --dtm-16-friends-list-sb-spacer-icon3: 36px;
    }
    &:has(.inviteToolbar_c2739c+.iconWrapper_fc4f04) {
      --dtm-16-friends-list-sb-spacer-icon4: 36px;
    }
  }
  .tabBody_c2739c {
    transform: none;
  }
  .peopleColumn_c2739c {
    .searchBar_e0840f {
      position: fixed;
      top: 0;
      margin: 14px;
      right: calc(90px + var(--dtm-16-friends-list-sb-spacer-icon3, 0px) + var(--dtm-16-friends-list-sb-spacer-icon4, 0px)); // surely this will account for every button
      width: 144px;
      z-index: 2;
      border-radius: 3px;
      height: 28px;
      .inner_c18ec9 {
        padding: 2px 6px;
        border-radius: 4px;
        border: none;
        background: none;
      }
      .input_c18ec9 {
        padding: 0;
        height: auto;
        font-weight: 400;
        font-size: 14px;
        line-height: 1;
        &::placeholder {
          font-weight: 500;
          .theme-light & {
            color: rgba(79,84,92,.3);
          }
          .theme-dark & {
            color: hsla(0,0%,100%,.3);
          }
        }
      }
      .iconLayout_c18ec9 {
        width: 16px;
        height: 16px;
        [d="M15.62 17.03a9 9 0 1 1 1.41-1.41l4.68 4.67a1 1 0 0 1-1.42 1.42l-4.67-4.68ZM17 10a7 7 0 1 1-14 0 7 7 0 0 1 14 0Z"] {
          d: path("M4.80106 9.6038C4.80106 6.94628 6.94628 4.80106 9.6038 4.80106C12.2613 4.80106 14.4065 6.94628 14.4065 9.6038C14.4065 12.2613 12.2613 14.4065 9.6038 14.4065C6.94628 14.4065 4.80106 12.2613 4.80106 9.6038V9.6038ZM16.0075 14.4065H15.1643L14.8655 14.1184C15.9114 12.9017 16.5411 11.3221 16.5411 9.6038C16.5411 5.77228 13.4353 2.6665 9.6038 2.6665C5.77228 2.6665 2.6665 5.77228 2.6665 9.6038C2.6665 13.4353 5.77228 16.5411 9.6038 16.5411C11.3221 16.5411 12.9017 15.9114 14.1184 14.8655L14.4065 15.1643V16.0075L19.7429 21.3332L21.3332 19.7429L16.2802 14.6798L16.0075 14.4065V14.4065Z")
        }
        [d="M17.3 18.7a1 1 0 0 0 1.4-1.4L13.42 12l5.3-5.3a1 1 0 0 0-1.42-1.4L12 10.58l-5.3-5.3a1 1 0 0 0-1.4 1.42L10.58 12l-5.3 5.3a1 1 0 1 0 1.42 1.4L12 13.42l5.3 5.3Z"] {
          d: path("M12.0002 1.81836C17.6307 1.81836 22.182 6.36963 22.182 12.0002C22.182 17.6307 17.6307 22.182 12.0002 22.182C6.36963 22.182 1.81836 17.6307 1.81836 12.0002C1.81836 6.36963 6.36963 1.81836 12.0002 1.81836ZM15.9165 6.54563L12.0002 10.462L8.08381 6.54563L6.54563 8.08381L10.462 12.0002L6.54563 15.9165L8.08381 17.4547L12.0002 13.5384L15.9165 17.4547L17.4547 15.9165L13.5384 12.0002L17.4547 8.08381L15.9165 6.54563Z")
        }
        .visible_c18ec9 {
          color: #000;
          opacity: .3;
          &:hover {
            opacity: .6;
          }
          .theme-dark & {
            color: #fff;
          }
        }
      }
      .theme-light & {
        background: #{ss(rgba(221, 222, 223, 0.3))};
      }
      .theme-dark & {
        background: hsla(0,0%,100%,.1)
      }
    }
    .sectionTitle_e0840f {
      margin: 8px 0 0 0;
      padding: 8px 30px;
      border-bottom: 1px solid #{ss(#e9e7e7)};
      .theme-dark & {
        border-bottom: 1px solid hsla(0,0%,100%,.1);
      }
      .title_a1cafe {
        margin: 0;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 500;
        letter-spacing: .025em;
        color: #{ss(#99aab5)};
        .theme-dark & {
          color: hsla(0,0%,100%,.3);
        }
      }
    }
    [aria-hidden="true"]+.peopleListItem_d51464 {
      border-top-color: #0000;
    }
    .peopleList_e0840f {
      margin-top: 0;
      padding-top: 2px;
      // will-change: scroll-position;
    }
  }
}