@use "funcs" as *;
// friends list
.peopleColumn_c2739c {
  .searchBar_e0840f {
    background: var(--deprecated-text-input-bg);
    border: solid 1px var(--deprecated-text-input-border);
    transition: .3s border-color;
    border-radius: 3px;
    &:hover, &:active {
      border-color: var(--deprecated-text-input-border-hover);
    }
    &:focus, &:focus-within {
      border-color: var(--blurple);
    }
  }
  @at-root :is(.peopleListItem_d51464, .messageRequestItem_a5de62) {
    border-radius: 3px !important;
    &.active_d51464, &:hover {
      background: #414449;
      box-shadow: 0 2px 1px 0 rgb(0 0 0 / 10%);
      .theme-light & {
        background: #{ss(rgba(153, 170, 181, 0.2))};
      }
    }
    .actionButton_e01b91 {
      border-radius: 3px;
      transition: .3s;
      background: var(--background-secondary-alt);
      &:hover {background: var(--background-tertiary)}
      &.actionDeny_e01b91:hover {
        background: var(--red);
        color: #fff;
      }
      &.actionAccept_e01b91:hover {
        background: var(--green);
        color: #fff;
      }
    }
  }
  // open parties
  .container_b8c87f {
    border-radius: 3px;
    background: var(--deprecated-card-bg);
    border: solid 1px var(--background-tertiary);
    .container_c754ed {
      border-radius: 3px;
      background: var(--background-primary);
      .viewers_c754ed {
        background: none;
        padding: 0;
        border-radius: 0;
      }
    }
  }
}

// activity cards
.nowPlayingColumn_c2739c {
  [data-text-variant="heading-lg/semibold"].header_bf550a {
    font-size: 18px;
    font-weight: 500;
    color: #{ss(#dcddde)};
    .theme-light & {
      color: #{ss(#4f545c)};
    }
  }
}
.wrapper_cd82a7 {
  background: var(--background-tertiary);
  .theme-light & {background: #{ss(#f6f6f7)}}
  border: solid 1px var(--background-secondary);
  .theme-light & {border-color: #{ss(#dcddde)}}
  border-radius: 3px;
  overflow: hidden;
  box-shadow: none;
  padding: 0;
  .header_cd82a7 {
    padding: 16px;
    border-radius: 0;
    position: relative;
    &:before {
      content: "";
      background: var(--activity-card-pattern);
      opacity: .3;
      background-position-x: 50%;
      background-position-y: 40%;
      background-size: 300px;
      -webkit-mask: radial-gradient(100% 100% at top left,#fff9 0,#fff0 100%);
      filter: grayscale(100%);
      mask: radial-gradient(100% 100% at top left,hsla(0,0%,100%,.6) 0,hsla(0,0%,100%,0) 100%);
      width: 100%;
      height: 100%;
      position: absolute;
    }
    >* {z-index: 10}
  }
  .theme-light &:hover .__MISSINGNO__ {background:#fff}
  .body_cd82a7 {
    margin: 0;
    .section_cd82a7 {
      border-radius: 0 !important;
      .theme-dark & {background: #{ss(#3e4148)}}
      .theme-light & {background:#fff}
    }
  }
  .separator_cd82a7 {
    background: var(--background-primary);
  }
  .applicationStreamingHoverText_cd82a7 {
    border-radius: 3px;
  }
}