@use "vars" as *;
@use "funcs" as *;
// library
.rowWrapper_adb41f {
  border-radius: 3px;
  &.rowWrapperActive_adb41f {
    background: #414449;
    box-shadow: 0 2px 1px 0 rgb(0 0 0 / 10%);
    .theme-light & {background: #{ss(rgba(153, 170, 181, 0.2))}}
  }
  /*.actionsCell_adb41f #{$btnFilled} {
    font-size: 18px;
    height: 36px;
  }*/
  #{$btnFilled}#{$btnColorGreen} {
    &:hover {background-color: var(--green-hover) !important}
    &:active {background-color: var(--green-active) !important}
    &:disabled {background-color: var(--green) !important}
  }
}
.libraryHeader__5a895 {
  &:before {
    top: 55px;
  }
}
.gameUpdates__49035 {
  background: var(--background-secondary-alt);
}
// settings
.body_fb04e1 {
  .container__0d850 {
    .labelRow__0d850 {
      >.control__0d850 {
        order: -1;
        margin-right: 8px;
        align-self: center;
      }
      .title__0d850 {
        font-weight: 400;
        font-size: 16px;
        color: var(--dtm-16-switch-label);
      }
    }
    .note__0d850 {
      margin-top: 0;
      margin-left: 26px;
      .description_ddd181 {
        font-size: 11px;
        line-height: 13px;
        font-weight: 400;
        color: var(--dtm-16-switch-description);
        .emojiContainer__75abc>.emoji {
          width: 16px;
          height: 16px;
        }
      }
    }
    [data-text-variant="text-sm/normal"] {
      font-size: 11px;
      line-height: 13px;
      color: #87909c !important;
      font-weight: 400;
      .theme-dark & {
        color: var(--interactive-normal) !important;
      }
    }
  }
}