@use "vars" as *;
@use "funcs" as *;
// library
.rowWrapper__801a0 {
  border-radius: 5px;
  &.rowWrapperActive__789cb {
    background: #414449;
    box-shadow: 0 2px 1px 0 rgb(0 0 0 / 10%);
    .theme-light & {background: #{ss(rgba(153, 170, 181, 0.2))}}
  }
  /*.actionsCell_a72bc9 #{$btnFilled} {
    font-size: 18px;
    height: 36px;
  }*/
  #{$btnFilled}#{$btnColorGreen} {
    &:hover {background-color: var(--green-hover) !important}
    &:active {background-color: var(--green-active) !important}
    &:disabled {background-color: var(--green) !important}
  }
}