@use "vars" as *;
@use "funcs" as *;
// library
.rowWrapper_f1629a {
  border-radius: 3px;
  &.rowWrapperActive_f1629a {
    background: #414449;
    box-shadow: 0 2px 1px 0 rgb(0 0 0 / 10%);
    .theme-light & {background: #{ss(rgba(153, 170, 181, 0.2))}}
  }
  /*.actionsCell_f1629a #{$btnFilled} {
    font-size: 18px;
    height: 36px;
  }*/
  #{$btnFilled}#{$btnColorGreen} {
    &:hover {background-color: var(--green-hover) !important}
    &:active {background-color: var(--green-active) !important}
    &:disabled {background-color: var(--green) !important}
  }
}
.libraryHeader_cb9493 {
  &:before {
    top: 55px;
  }
}
.gameUpdates_f1035a {
  background: var(--background-secondary-alt);
}
// settings
.body_c100ff {
  .container_ed1d57 {
    .labelRow_ed1d57 {
      >.control_ed1d57 {
        order: -1;
        margin-right: 8px;
        align-self: center;
      }
      .title_ed1d57 {
        font-weight: 400;
        font-size: 16px;
        color: var(--dtm-16-switch-label);
      }
    }
    .note_ed1d57 {
      margin-top: 0;
      margin-left: 26px;
      .description_b89ec7 {
        font-size: 11px;
        line-height: 13px;
        font-weight: 400;
        color: var(--dtm-16-switch-description);
        .emojiContainer_bae8cb>.emoji {
          width: 16px;
          height: 16px;
        }
      }
    }
    [data-text-variant="text-sm/normal"] {
      font-size: 11px;
      line-height: 13px;
      color: #87909c !important;
      font-weight: 400;
      .theme-dark & {
        color: var(--interactive-normal) !important;
      }
    }
    &.disabled-2qTmnp {
      &, .modeDisabled-1RyezJ, .container-2nx-BQ {
        cursor: default;
      }
      .title-2dsDLn, .titleDefault-3GR-DE, .titleMini-1VCYd9 {
        opacity: .3;
        cursor: default;
      }
    }
  }
}