@use "vars" as *;
@use "funcs" as *;
// user list
@at-root {
  #{$members} {
    .placeholder__5d473 {margin-left: 30px !important}
    #{$memberGroup} {
      padding-left: 30px;
      font-weight: 500;
      letter-spacing: .7px;
      white-space: nowrap;
      line-height: 12px;
      color: var(--dtm-16-member-list-header-color);
    }
    #{$memberListItem} {
      margin: 0;
      padding: 0;
      #{$userLayout} {
        padding-left:30px;
        border-radius: 0;
      }
      &:is(:hover, :active, .selected__91a9d) #{$userLayout} {
        background: linear-gradient(to right,#{ss(#282b30)} 85%,#{ss(#2e3136)});
        .theme-light & {
          background: linear-gradient(to right,#{ss(#E3E5E8)} 85%,#{ss(#F3F3F3)});
        }
      }
      &.offline__5d473 {
        opacity: 1;
        .username__5d473 {
          font-weight: 300;
        }
        &:not(:hover):not(.selected__91a9d) {
          .username__5d473 {filter: grayscale(50%)}
          .wrapper__44b0c {filter: grayscale(1)}
        }
      }
    }
    // activity feed
    .header__095fe {
      [role="button"] {
        opacity: .5;
        &:hover {
          opacity: 1;
        }
      }
    }
  }
  // threads
  .members_c8ffbb .emptyStateIconContainer__7641b {
    >div, >svg {display: none}
    margin-top: 0;
    margin-bottom: 16px;
  }
}