@use "vars" as *;
@use "funcs" as *;
// user list
@at-root {
  #{$members} {
    .placeholder_a31c43 {margin-left: 30px !important}
    #{$memberGroup} {
      padding-left: 30px;
      font-weight: 500;
      letter-spacing: .7px;
      white-space: nowrap;
      line-height: 12px;
    }
    #{$memberListItem} {
      margin: 0;
      padding: 0;
      #{$userLayout} {
        padding-left:30px;
        border-radius: 0;
      }
      &:is(:hover, :active, .selected_e9f61e) #{$userLayout} {
        background: linear-gradient(to right,#{ss(#282b30)} 85%,#{ss(#2e3136)});
        .theme-light & {
          background: linear-gradient(to right,#{ss(#E3E5E8)} 85%,#{ss(#F3F3F3)});
        }
      }
      &.offline_a31c43 {
        .username_a31c43 {
          font-weight: 400;
        }
        &:not(:hover):not(.selected_e9f61e) {
          .username_a31c43 {filter: grayscale(50%)}
          .wrapper_c51b4e {filter: grayscale(1)}
        }
      }
    }
  }
  // threads
  .members_cbd271 .emptyStateIconContainer_b767ed {
    >div, >svg {display: none}
    margin-top: 0;
    margin-bottom: 16px;
  }
}