@use "vars" as *;
@use "funcs" as *;
// user list
@at-root {
  #{$members} {
    .placeholder__134e3 {margin-left: 30px !important}
    #{$memberGroup} {
      padding-left: 30px;
      font-weight: 500;
      letter-spacing: .7px;
      white-space: nowrap;
      line-height: 12px;
    }
    #{$memberListItem} {
      margin: 0;
      padding: 0;
      #{$userLayout} {
        padding-left:30px;
        border-radius: 0;
      }
      &:is(:hover, :active, .selected__7f4cb) #{$userLayout} {
        background: linear-gradient(to right,#{ss(#282b30)} 85%,#{ss(#2e3136)});
        .theme-light & {
          background: linear-gradient(to right,#{ss(#E3E5E8)} 85%,#{ss(#F3F3F3)});
        }
      }
      &.offline__55fab {
        .username_ab1e31 {
          font-weight: 400;
        }
        &:not(:hover):not(.selected__7f4cb) {
          .username_ab1e31 {filter: grayscale(50%)}
          .wrapper__3ed10 {filter: grayscale(1)}
        }
      }
    }
  }
  .addMembersButton_b7fc42 {
    .clickable__03a29 {
      #{$userLayout} {
        padding-left: 30px;
        .addMembersIcon_d9b498 {background: #{ss(#4f545c)}}
      }
      &:hover #{$userLayout} {
        background: linear-gradient(to right, #{ss(#282b30)} 85%, #{ss(#2e3136)});
        .addMembersIcon_d9b498 {background: #{ss(rgba(114,137,218,.25))}}
      }
    }
    padding-left: 0;
    svg path {
      d: path('m 7.8463541,1.3333333 c -0.056921,0 -0.060368,0.00187 -0.085937,0.0026 -1.5171472,0.020973 -2.9933832,0.6334376 -4.0234378,1.8072763 -1.0300546,1.1738388 -1.5885417,2.838851 -1.5885417,4.8280842 0,2.3522582 0.6246908,4.5708552 1.9375,6.0390122 -0.1702068,0.06045 -0.1674379,0.05181 -0.34375,0.117186 -0.5897057,0.218674 -1.1954623,0.458417 -1.7187501,0.710935 -0.2616439,0.126266 -0.5005654,0.252775 -0.734375,0.408851 C 1.0552529,15.403353 0.79421403,15.512549 0.53385416,16.057167 0.1375608,16.886296 0.15379304,17.535713 0.08854167,18.234232 0.02329029,18.932751 0,19.536305 0,19.536305 v 0.0027 0.0027 c 0,0 0.00381828,0.251476 0.04427083,0.424475 0.04045256,0.173 0.11661906,0.370933 0.23437501,0.570309 0.23551184,0.398749 0.63492069,0.783013 1.20052086,1.091136 1.1312002,0.616245 2.9258568,1.032696 6.2968749,1.039054 h 0.0026 c 0.021019,0 0.031433,1.24e-4 0.070312,0 3.3750254,-0.0063 5.1725734,-0.423164 6.3046874,-1.039054 0.566057,-0.307946 0.967253,-0.692333 1.203125,-1.091136 0.117933,-0.199403 0.191227,-0.397176 0.231771,-0.570309 0.04055,-0.173132 0.04427,-0.424475 0.04427,-0.424475 v -0.0027 -0.0027 c 0,0 -0.02319,-0.603503 -0.08855,-1.302073 -0.06536,-0.698571 -0.04837,-1.347677 -0.445312,-2.177065 -0.260836,-0.544899 -0.521206,-0.653893 -0.75521,-0.809889 -0.234,-0.155996 -0.475049,-0.282623 -0.736978,-0.408851 -0.523843,-0.252455 -1.12829,-0.49228 -1.718736,-0.710931 -0.177372,-0.06568 -0.175169,-0.05648 -0.346354,-0.117186 1.314386,-1.468033 1.940104,-3.686273 1.940104,-6.0390119 0,-1.9896148 -0.557364,-3.6542634 -1.588542,-4.8280842 C 10.862051,1.9693931 9.3825703,1.355319 7.8645833,1.3333333 H 7.85677 Z m -0.018229,2.6666442 c 0,0 0.0026,0 0.0026,0 C 8.6938979,4.013084 9.3664746,4.3069641 9.890621,4.9036157 10.415323,5.5009 10.8151,6.4708091 10.8151,7.9712981 c 0,2.6211929 -1.047227,4.5042549 -2.1223958,4.9218329 L 7.8125,13.234275 6.9348959,12.893131 C 5.8626871,12.47619 4.8151041,10.593052 4.8151041,7.9712981 4.8151041,6.4705607 5.2158012,5.500512 5.7395833,4.9036157 6.2633655,4.3067194 6.9346221,4.0145015 7.7968749,4.0025816 h 0.00521 0.00521 c 0.028619,-6.04e-4 0.013845,-0.00243 0.020833,-0.0026 z M 19.333333,6.6666216 c -0.369333,0 -0.666667,0.2973308 -0.666667,0.6666611 v 3.3333053 h -3.333333 c -0.369333,0 -0.666667,0.297331 -0.666667,0.666661 0,0.36933 0.297334,0.666661 0.666667,0.666661 h 3.333334 v 3.333305 c 0,0.36933 0.297333,0.666661 0.666666,0.666661 C 19.702667,15.999876 20,15.702545 20,15.333215 V 11.99991 h 3.333333 C 23.702667,11.99991 24,11.702579 24,11.333249 24,10.963919 23.702667,10.666588 23.333333,10.666588 H 20 V 7.3332827 C 20,6.9639524 19.702667,6.6666216 19.333333,6.6666216 Z M 7.8125,13.351461 l 0.078125,2.260397 0.9062498,0.281248 c 0,0 1.0732663,0.329465 2.1666672,0.734368 0.5467,0.202452 1.098751,0.427485 1.486979,0.614579 0.128294,0.06183 0.193757,0.102599 0.273437,0.148436 -0.0039,0.07859 0.11748,0.565406 0.166667,1.091137 0.03801,0.406327 0.04151,0.558457 0.05208,0.765618 -0.03137,0.02377 0.0188,-0.0077 -0.0625,0.03645 -0.466715,0.253901 -1.898031,0.710357 -5.0364586,0.71614 -0.04498,1.33e-4 -0.060389,-10e-6 -0.0625,0 h -0.0026 c -3.130794,-0.0064 -4.5581315,-0.462655 -5.0234376,-0.71614 -0.080216,-0.04371 -0.031135,-0.0128 -0.0625,-0.03645 0.01056,-0.207175 0.014124,-0.359257 0.052084,-0.765618 0.049229,-0.527 0.1713284,-1.017617 0.1666666,-1.093741 0.079332,-0.0456 0.1440287,-0.08725 0.2708334,-0.148436 0.3875806,-0.187034 0.9410564,-0.40954 1.486979,-0.611975 1.0918454,-0.404867 2.1614584,-0.734368 2.1614584,-0.734368 l 0.90625,-0.281248 z');
    }
  }
  // threads
  .members__573eb .emptyStateIconContainer_d9bd61 {
    >div, >svg {display: none}
    margin-top: 0;
    margin-bottom: 16px;
  }
}