@use "vars" as *;
@use "options" as *;
@use "funcs" as *;
// keybind
@at-root {
  .key_c90023 {
    border-radius: 2px;
    .theme-dark & {
      color: #{ss(#f6f6f7)};
      box-shadow: inset 0 -4px 0 #{ss(rgba(35,39,42,.6))} !important;
      border-color: #{ss(#202225)};
      background-color: #{ss(#72767d)};
      &:active {
        color: #{ss(#c5c5c6)};
        box-shadow: inset 0 -2px 0 #{ss(#242629)} !important;
        border-color: #000;
      }
    }
    .theme-light & {
      background: none;
      color: #{ss(#4f545c)};
      box-shadow: inset 0 -4px 0 #{ss(#caccce)} !important;
      border: solid 1px #{ss(#95989d)};
      polygon {fill: currentColor}
      &:active {
        box-shadow: inset 0 -2px 0 #{ss(#caccce)} !important;
        border-color: #000;
        color: #000;
      }
    }
  }
}
// trolley
.theme-brand #{$scrollableContainer} {
  @keyframes raaaaaaaaaaaaaaaaaain {
    0% {border-color:#{ss(#F00)};background:#F001}
    16% {border-color:#{ss(#FF0)};background:#FF01}
    33% {border-color:#{ss(#0F0)};background:#0F01}
    48% {border-color:#{ss(#0FF)};background:#0FF1}
    66% {border-color:#{ss(#00F)};background:#00F1}
    82% {border-color:#{ss(#F0F)};background:#F0F1}
    100% {border-color:#{ss(#F00)};background:#F001}
  }
  animation: 4s raaaaaaaaaaaaaaaaaain linear infinite;
  .inner_d0696b {background:none}
}
// remove shake effect
.app_a01fb1 {transform: none !important}
// party mode
@at-root {
  .container_b80cb2 {
    --status-green-600: var(--green);
    --green-360: var(--green);
    --status-yellow-500: var(--yellow);
    --yellow-300: var(--yellow);
    --status-red-500: var(--red);
    --red-400: var(--red);
    --brand-500: var(--green);
    --status-orange-500: var(--blurple);
    --orange-345: var(--blurple);
  }
  .comboNameplate_f21b25 {
    background: currentColor;
    --status-green-600: var(--green);
    --green-360: var(--green);
    --status-yellow-500: var(--yellow);
    --yellow-300: var(--yellow);
    --status-red-500: var(--red);
    --red-400: var(--red);
    --brand-500: var(--green);
    --status-orange-500: var(--blurple);
    --orange-345: var(--blurple);
    .comboMultiplier_f21b25 {
      color: #fff !important;
    }
    .comboSquare_f21b25 {
      outline-color: var(--blurple);
      background: #fff !important;
      &[style="background-color: var(--status-yellow-500);"],
      &[style="background-color: var(--yellow-300);"] {
        outline-color: var(--yellow);
      }
      &[style="background-color: var(--status-red-500);"],
      &[style="background-color: var(--red-400);"] {
        outline-color: var(--red);
      }
    }
    .tip_f21b25 {
      bottom: 0;
      color: #fff;
      font-weight: 400;
    }
  }
}
// pomelo
@at-root {
  .focusLock_f9a4c9 .content_f9a4c9:has(:is(.infoContainer_f9d828, .displayNameContainer_f9d828)) {
    padding: 0 !important;
  }
  .pomeloWarning_b69b77 {
    right: 24px;
    margin: 0;
    right: 24px;
    position: absolute;
    top: unset;
    bottom: 9px;
    margin: 0;
  }
  .userCardContainer_f9d828 {
    .input_f8bc55 {
      width: calc(100% - 20px);
      margin-left: -4px;
      padding-left: 4px !important;
      padding-right: 4px !important;
      &:not(:hover):not(:active):not(:focus) {
        background: #0000;
        border-color: #0000;
      }
    }
  }
}
// krisp
.noiseCancellationPopout_adcaac {
  .notches_a1107d.black_a1107d {
    .theme-dark & {
      color: var(--background-floating);
    }
    .micTest_e75a73 {
      margin-bottom: 16px;
      .micTestCaption_e75a73 {
        right: 60px;
        margin-top: -4px;
        left: unset;
      }
      .micTestButton_ca3055 {
        position: absolute;
        margin-top: 44px;
        padding: 0;
        background: #0000 !important;
        font-size: 11px;
        font-weight: 800;
        height: auto;
        width: auto;
        min-height: 0;
        min-width: 0;
        text-transform: uppercase;
        color: var(--green);
        .theme-light & {
        }
        &:hover {text-decoration: underline}
      }
      .micTestCaption_e75a73 {
        right: 0;
        left: 120px;
        text-align: end;
      }
    }
  }
  .micTest_e75a73 {
    flex-direction: column;
    align-items: start;
    .micTestButton_adcaac {
      order: 1;
      padding: 0;
      background: #0000 !important;
      font-size: 11px;
      font-weight: 800;
      height: auto;
      width: auto;
      min-height: 0;
      min-width: 0;
      text-transform: uppercase;
      color: var(--green);
      .theme-light & {
      }
      .contents_dd4f85 {
        margin: 0;
      }
      &:hover {text-decoration: underline}
    }
    .micTestCaption_e75a73 {
      right: 0;
      left: 120px;
      text-align: end;
    }
  }
}
.krispLogo_adcaac {
  .theme-dark & {background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 106 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M48.4001 37.4998H54.8C55.1 37.4998 55.4001 37.2998 55.4001 36.8998V12.3998C55.4001 12.0998 55.2 11.7998 54.8 11.7998H48.4001C48.1001 11.7998 47.8 11.9998 47.8 12.3998V36.8998C47.8 37.2998 48.1001 37.4998 48.4001 37.4998Z' fill='%23fff'/%3E%3Cpath d='M12 24.4998L24 12.4998C24.2 12.2998 24.1 11.8998 23.8 11.8998H14.1C14 11.8998 13.9 11.8998 13.9 11.9998L7.6 18.2998V1.89984C7.6 1.69984 7.4 1.49984 7.1 1.59984L0.200001 4.39984C0.100001 4.49984 0 4.59984 0 4.69984V37.0998C0 37.3998 0.2 37.6998 0.6 37.6998H7.1C7.4 37.6998 7.7 37.4998 7.7 37.0998V30.7998L14.4 37.4998C14.5 37.5998 14.5 37.5998 14.6 37.5998H24.3C24.6 37.5998 24.7 37.1998 24.5 36.9998L12 24.4998Z' fill='%23fff'/%3E%3Cpath d='M105.8 23.8002C105.4 17.5002 100.2 12.4002 93.9 11.9002C86.4 11.4002 80.2 17.3002 80.2 24.7002V47.6002C80.2 47.8002 80.4 48.0002 80.7 47.9002L87.4 45.2002C87.6 45.1002 87.7 44.9002 87.7 44.7002V36.4002C89.3 37.1002 91.1 37.5002 93 37.5002C100.4 37.5002 106.4 31.3002 105.8 23.8002ZM93.1 30.0002C90.2 30.0002 87.7999 27.6002 87.7999 24.7002C87.7999 21.8002 90.2 19.4002 93.1 19.4002C96 19.4002 98.4 21.8002 98.4 24.7002C98.4 27.6002 96 30.0002 93.1 30.0002Z' fill='%23fff'/%3E%3Cpath d='M68.1 18.1C69.4 18.1 70.5 18.8 71.4 20.1C71.5 20.3 71.8 20.4 72 20.3L77.2 18.2C77.5 18.1 77.6 17.8 77.5 17.5C76.2 14.4 72.2 12 68 12C62.5 12 58.1 15.5 58.1 19.8C58.1 22.1 59.4 24.1 61.3 25.4C63 26.6 64.9 27.3 66.9 27.8C67 27.8 67 27.8 67.1 27.8C69.7 28.4 70.1 29.1 70.1 29.8C70.1 30.7 69 31.4 67.7 31.4C66.3 31.4 65.1 30.5 64.1 29.1C64 28.9 63.7 28.8 63.4 28.9L58.3 31C58.1 31.1 58 31.4 58.1 31.7C59.6 35.7 63.5 37.5 67.7 37.5C73.2 37.5 77.6 34 77.6 29.7C77.6 28.8 77.4 27.9 77 27C76.6 26.2 75.7 24.5 73.1 23.3C71.7 22.6 67.7 21.5 66.3 20.7C65.8 20.4 65.6 20 65.6 19.6C65.7 18.8 66.7 18.1 68.1 18.1Z' fill='%23fff'/%3E%3Cpath d='M51.5999 9.4C54.1956 9.4 56.2999 7.29574 56.2999 4.7C56.2999 2.10426 54.1956 0 51.5999 0C49.0042 0 46.8999 2.10426 46.8999 4.7C46.8999 7.29574 49.0042 9.4 51.5999 9.4Z' fill='%23FF7E61'/%3E%3Cpath d='M44.9 11.8999C45.1 11.8999 45.3 12.0999 45.2 12.3999L42.4 19.2999C42.3 19.3999 42.2 19.4999 42.1 19.4999H40.1C37.2 19.4999 34.8 21.8999 34.8 24.7999V37.0999C34.8 37.3999 34.6 37.5999 34.3 37.5999H27.9C27.6 37.5999 27.3 37.3999 27.3 36.9999V24.6999C27.3 17.5999 33 11.8999 40.1 11.8999H44.9Z' fill='%23fff'/%3E%3C/svg%3E")}
  .theme-light & {background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 106 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M48.4001 37.4998H54.8C55.1 37.4998 55.4001 37.2998 55.4001 36.8998V12.3998C55.4001 12.0998 55.2 11.7998 54.8 11.7998H48.4001C48.1001 11.7998 47.8 11.9998 47.8 12.3998V36.8998C47.8 37.2998 48.1001 37.4998 48.4001 37.4998Z' fill='%23242931'/%3E%3Cpath d='M12 24.4998L24 12.4998C24.2 12.2998 24.1 11.8998 23.8 11.8998H14.1C14 11.8998 13.9 11.8998 13.9 11.9998L7.6 18.2998V1.89984C7.6 1.69984 7.4 1.49984 7.1 1.59984L0.200001 4.39984C0.100001 4.49984 0 4.59984 0 4.69984V37.0998C0 37.3998 0.2 37.6998 0.6 37.6998H7.1C7.4 37.6998 7.7 37.4998 7.7 37.0998V30.7998L14.4 37.4998C14.5 37.5998 14.5 37.5998 14.6 37.5998H24.3C24.6 37.5998 24.7 37.1998 24.5 36.9998L12 24.4998Z' fill='%23242931'/%3E%3Cpath d='M105.8 23.8002C105.4 17.5002 100.2 12.4002 93.9 11.9002C86.4 11.4002 80.2 17.3002 80.2 24.7002V47.6002C80.2 47.8002 80.4 48.0002 80.7 47.9002L87.4 45.2002C87.6 45.1002 87.7 44.9002 87.7 44.7002V36.4002C89.3 37.1002 91.1 37.5002 93 37.5002C100.4 37.5002 106.4 31.3002 105.8 23.8002ZM93.1 30.0002C90.2 30.0002 87.7999 27.6002 87.7999 24.7002C87.7999 21.8002 90.2 19.4002 93.1 19.4002C96 19.4002 98.4 21.8002 98.4 24.7002C98.4 27.6002 96 30.0002 93.1 30.0002Z' fill='%23242931'/%3E%3Cpath d='M68.1 18.1C69.4 18.1 70.5 18.8 71.4 20.1C71.5 20.3 71.8 20.4 72 20.3L77.2 18.2C77.5 18.1 77.6 17.8 77.5 17.5C76.2 14.4 72.2 12 68 12C62.5 12 58.1 15.5 58.1 19.8C58.1 22.1 59.4 24.1 61.3 25.4C63 26.6 64.9 27.3 66.9 27.8C67 27.8 67 27.8 67.1 27.8C69.7 28.4 70.1 29.1 70.1 29.8C70.1 30.7 69 31.4 67.7 31.4C66.3 31.4 65.1 30.5 64.1 29.1C64 28.9 63.7 28.8 63.4 28.9L58.3 31C58.1 31.1 58 31.4 58.1 31.7C59.6 35.7 63.5 37.5 67.7 37.5C73.2 37.5 77.6 34 77.6 29.7C77.6 28.8 77.4 27.9 77 27C76.6 26.2 75.7 24.5 73.1 23.3C71.7 22.6 67.7 21.5 66.3 20.7C65.8 20.4 65.6 20 65.6 19.6C65.7 18.8 66.7 18.1 68.1 18.1Z' fill='%23242931'/%3E%3Cpath d='M51.5999 9.4C54.1956 9.4 56.2999 7.29574 56.2999 4.7C56.2999 2.10426 54.1956 0 51.5999 0C49.0042 0 46.8999 2.10426 46.8999 4.7C46.8999 7.29574 49.0042 9.4 51.5999 9.4Z' fill='%23FF7E61'/%3E%3Cpath d='M44.9 11.8999C45.1 11.8999 45.3 12.0999 45.2 12.3999L42.4 19.2999C42.3 19.3999 42.2 19.4999 42.1 19.4999H40.1C37.2 19.4999 34.8 21.8999 34.8 24.7999V37.0999C34.8 37.3999 34.6 37.5999 34.3 37.5999H27.9C27.6 37.5999 27.3 37.3999 27.3 36.9999V24.6999C27.3 17.5999 33 11.8999 40.1 11.8999H44.9Z' fill='%23242931'/%3E%3C/svg%3E")}
}
// typing status experiment
@at-root {
  // member list, dm list
  :is(.avatar_d808b0, .avatar_ec8679) {
    .dots_ce0450 {
      overflow: visible;
      g {
        transform: translate(-3px, -2.5px);
      }
      circle {
        cx: 5;
        cy: 5;
        r: 2 !important;
        opacity: 1 !important;
        transform-origin: 5px 5px;
        animation: spinner-ellipsis 1.4s infinite ease-in-out;
        +circle {
          cx: 12;
          transform-origin: 12px 5px;
          animation-delay: .2s;
          +circle {
            cx: 19;
            transform-origin: 19px 5px;
            animation-delay: .4s;
          }
        }
        html:not(:is(.app-focused, .mouse-mode)) & {
          animation: none !important;
        }
      }
    }
  }
}
// silly zone
@if not $hasAnyoneComplainedAboutTheSillyZoneYet {
  .content_a4d4d9 .shop_e77fa3 {
    .children_fc4f04 {visibility:hidden}
    position: relative;
    &:after {
      content: "if you really need the collectibles shop, go to user settings -> profiles";
      color: var(--text-normal);
      font-size: 14px;
      position: absolute;
      white-space: pre-wrap;
      top: 14px;
      left: 14px;
      z-index: 100;
      pointer-events: none;
    }
    .shopScroll_e77fa3 {
      background: var(--background-primary);
      .page_e77fa3 {display:none}
      .pageWrapper_e77fa3 {
        margin-top: 24px;
        &:before {
          content: "";
          background-image: url("https://cdn.discordapp.com/app-assets/855197065940172800/store/1248957117453570049.gif?size=4096");
          background-size: cover;
          width: 400px;
          height: 300px;
          border-radius: 3px;
          box-shadow: var(--elevation-high);
          transform: rotate(-4deg) translateX(-20px);
          animation: too_silly 1s ease-out;
          @keyframes too_silly {
            0% {transform: scale(0.01) rotateX(-180deg) rotateY(-360deg) rotateZ(-180deg) translateX(0px)}
            100% {transform: scale(1) rotate(-4deg) translateX(-20px)}
          }
        }
        &:after {
          content: "welcome to the SILLY ZONE!!!\a ENJOY YOUR STAY!!!!";
          white-space: pre-wrap;
          text-align: center;
          position: absolute;
          top: 310px;
          font-size: 24px;
          color: #fff;
          text-shadow: 0 2px 8px #000;
          transform: rotate(-4deg) translateX(90px);
          animation: 1s very_very_silly;
          @keyframes very_very_silly {
            0% {transform:scale(0.01)}
            100% {transform: scale(1) rotate(-4deg) translateX(90px)}
          }
        }
      }
    }
  }
  @if not $redoChannels {
    .channel_c91bad .link_c91bad[href="/shop"] {
      &:after {
        content: "SILLY ZONE";
        background: var(--background-accent);
        color: #fff;
        font-size: 12px;
        font-weight: bold;
        position: absolute;
        padding: 2px 4px;
        border-radius: 3px;
        left: 26px;
        transform: rotate(-4deg);
      }
      .layout_ec8679 {
        opacity: .3;
      }
    }
  }
}
// debug shit (settings as thread sidebar stuff was copypasted from #css-snippets in BD discord; credit goes to saltssaumure)
@if $debug >= 1 {
  @if $debug < 3 {
    .baseLayer_d4b6c5.stop-animations {
      opacity: 1 !important;
      transform: scale(1) !important;
    }
    .layer_d4b6c5:not(.baseLayer_d4b6c5) {
      background: transparent;
      pointer-events: none;
      align-items: flex-end;
    }
    .standardSidebarView_c25c6d {
      flex-direction: row-reverse;
      left: unset;
      pointer-events: auto;
      box-shadow: var(--elevation-high);
    }
    .sidebarRegionScroller_c25c6d, .sidebarRegion_c25c6d, .contentRegion_c25c6d {
      flex: 0 0 auto;
    }
    .contentColumn_c25c6d, .customColumn_c25c6d {
      max-width: 240px;
      min-width: 0;
      width: auto;
      padding-left: 8px;
      padding-right: 8px;
    }
  }
  .button_adca65 [d="M19.738 10H22V14H19.739C19.498 14.931 19.1 15.798 18.565 16.564L20 18L18 20L16.565 18.564C15.797 19.099 14.932 19.498 14 19.738V22H10V19.738C9.069 19.498 8.203 19.099 7.436 18.564L6 20L4 18L5.436 16.564C4.901 15.799 4.502 14.932 4.262 14H2V10H4.262C4.502 9.068 4.9 8.202 5.436 7.436L4 6L6 4L7.436 5.436C8.202 4.9 9.068 4.502 10 4.262V2H14V4.261C14.932 4.502 15.797 4.9 16.565 5.435L18 3.999L20 5.999L18.564 7.436C19.099 8.202 19.498 9.069 19.738 10ZM12 16C14.2091 16 16 14.2091 16 12C16 9.79086 14.2091 8 12 8C9.79086 8 8 9.79086 8 12C8 14.2091 9.79086 16 12 16Z"] {
    color: var(--red) !important;
  }
  @keyframes attentiongrabber {
    0% {background: var(--red);box-shadow: inset 0 0 0 2px var(--red), var(--elevation-high), 0 0 0 0 #f0474700;animation-timing-function:cubic-bezier(0.6, 0.1, 0.8, 0.5)}
    50% {background: var(--background-floating);box-shadow: inset 0 0 0 2px var(--red), var(--elevation-high), 0 0 0 0 #f04747;animation-timing-function:cubic-bezier(0.1, 0.6, 0.5, 0.8)}
    100% {background: var(--red);box-shadow: inset 0 0 0 2px var(--red), var(--elevation-high), 0 0 0 8px #f0474700;animation-timing-function:cubic-bezier(0.6, 0.1, 0.8, 0.5)}
  }
  #app-mount:before {
    content: "dtm-16 debug mode (you shouldn't be able to see this!)";
    display: block;
    animation: 1s attentiongrabber infinite;
    color: #fff;
    font-size: 12px;
    font-weight: 800;
    padding: 8px;
    width: 400px;
    position: absolute;
    contain: none;
    text-transform: uppercase;
    border-radius: 3px;
    left: calc(50% - 200px);
    text-align: center;
    top: 8px;
    z-index: 10000;
    opacity: .5;
    pointer-events: none;
  }
  @if $debug >= 2 {
    .avatar_f9f2ca, .avatar_c51b4e {
      content: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='40' height='40' rx='20' fill='%234444FF'/%3E%3Crect x='19' width='2' height='40' fill='white'/%3E%3Crect x='40' y='19' width='2' height='40' transform='rotate(90 40 19)' fill='white'/%3E%3C/svg%3E%0A");
    }
    .avatarDecoration_f9f2ca, .avatarDecoration_c51b4e .avatar_c51b4e {
      content: url("data:image/svg+xml,%3Csvg width='48' height='48' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='5' y='5' width='38' height='38' rx='19' stroke='%23FF44FF' stroke-width='2'/%3E%3Crect x='23' y='4' width='2' height='40' fill='white'/%3E%3Crect x='44' y='23' width='2' height='40' transform='rotate(90 44 23)' fill='white'/%3E%3C/svg%3E%0A");
    }
  }
}