@use "funcs" as *;
// notices
.notice__6e2b9 {
  border-radius: 0;
  .theme-dark &, .theme-light & {
    &.colorWarning__6e2b9 {
      background: #{ss(#f26522)};
      color: #fff;
    }
    &.colorDanger__6e2b9 {
      background: var(--red);
      color: #fff;
    }
    &.colorDefault__6e2b9, &.colorDefault__6e2b9 {background: var(--green)}
    &.colorNeutral__6e2b9 {background: var(--blurple)}
    .button__6e2b9 {
      &:not(:hover):not(:active) {border-color: hsla(0,0%,100%,.25)}
      &:hover, &:active {
        border-color: #fff;
        background: none;
        color: #fff !important;
      }
      &:active {background: #fff2}
    }
  }
  .button__6e2b9 {
    border-color: #fff8 !important;
    color: #fff !important;
    &:hover {
      border-color: #fff !important;
      background: #fff0 !important;
    }
    &:active {
      border-color: #fff !important;
      background: #fff2 !important;
    }
  }
  .closeButton__6e2b9 {transition: .17s}
  .closeButton__6e2b9:not(:hover):not(:active) {opacity: .6}
  .closeButton__6e2b9 path {fill: #fff !important}
}
// lurker notice
.notice_c5cd6a {
  border-radius: 0;
  background: #{ss(#4e5d94)};
  .theme-dark &, .theme-light & {
    .button_c5cd6a {
      &:not(:hover):not(:active) {
        border-color: hsla(0,0%,100%,.25);
      }
      &:hover, &:active {
        border-color: #fff;
        background: none;
        color: #fff !important;
      }
      &:active {background: #fff2}
    }
  }
}