// bd - permissionsviewer
#permissions-popout {
  background: var(--background-secondary);
  padding: 0;
  .member-perms-header {
    margin-top: 0 !important;
    color: var(--header-secondary);
    margin-right: 8px;
  }
  .member-perms {
    padding: 12px;
    padding-top: 4px;
  }
  .member-perm {
    background: #fff;
    .name {
      --header-primary: var(--override-header-primary);
    }
  }
  .member-perms-header {
    color: #87909c;
    font-size: 11px;
    margin-left: 12px;
    margin-top: 10px;
    font-weight: bold;
    text-transform: uppercase;
  }
  .member-perms-title {
    flex: 1;
  }
  .perm-circle {display: none}
  .member-perm {
    padding: 4px;
    margin: 0 4px 4px 0;
    .name {
      color: var(--header-primary);
      font-weight: 400;
      font-size: 12px;
      margin: 0;
    }
  }
}
// bd - showconnections
.connections-pPr4as {
  background: var(--background-secondary);
  margin-bottom: 0;
  padding-bottom: 6px;
  padding-left: 0;
  padding-right: 4px;
}
// platform indicators
.vc-platform-indicator {
  // desktop
  [d="M4 2.5c-1.103 0-2 .897-2 2v11c0 1.104.897 2 2 2h7v2H7v2h10v-2h-4v-2h7c1.103 0 2-.896 2-2v-11c0-1.103-.897-2-2-2H4Zm16 2v9H4v-9h16Z"] {
    d: path("M21 2H3a2 2 0 0 0-2 2v12c0 1.1.9 2 2 2h7v2H8v2h8v-2h-2v-2h7a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2Zm0 14H3V4h18v12Z");
  }
  // web (currently doesn't need changing but i'm keeping this in case it ever does)
  // [d="..."] {
  //   d: path("M12 2a10 10 0 1 0 0 20 10 10 0 0 0 0-20Zm-1 18a8 8 0 0 1-6.8-9.8L9 15v1c0 1.1.9 2 2 2v2Zm6.9-2.6A2 2 0 0 0 16 16h-1v-3c0-.6-.4-1-1-1H8v-2h2c.6 0 1-.4 1-1V7h2a2 2 0 0 0 2-2v-.4a8 8 0 0 1 2.9 12.8Z");
  // }
  // mobile
  svg[viewBox="0 0 1000 1500"] {
    width: 17px;
    height: 17px;
    &[height="17"] {
      width: 20px;
      height: 20px;
    }
  }
  [d="M 187 0 L 813 0 C 916.277 0 1000 83.723 1000 187 L 1000 1313 C 1000 1416.277 916.277 1500 813 1500 L 187 1500 C 83.723 1500 0 1416.277 0 1313 L 0 187 C 0 83.723 83.723 0 187 0 Z M 125 1000 L 875 1000 L 875 250 L 125 250 Z M 500 1125 C 430.964 1125 375 1180.964 375 1250 C 375 1319.036 430.964 1375 500 1375 C 569.036 1375 625 1319.036 625 1250 C 625 1180.964 569.036 1125 500 1125 Z"] {
    d: path("M0,0H1000V1500H0V0");
    -webkit-mask: no-repeat url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none'%3E%3Cpath fill='%23000' d='M16 1H8a3 3 0 0 0-3 3v16a3 3 0 0 0 3 3h8a3 3 0 0 0 3-3V4a3 3 0 0 0-3-3Zm-2 20h-4v-1h4v1Zm3.3-3H6.7V4h10.6v14Z'/%3E%3C/svg%3E") center/cover; 
    mask: no-repeat url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none'%3E%3Cpath fill='%23000' d='M16 1H8a3 3 0 0 0-3 3v16a3 3 0 0 0 3 3h8a3 3 0 0 0 3-3V4a3 3 0 0 0-3-3Zm-2 20h-4v-1h4v1Zm3.3-3H6.7V4h10.6v14Z'/%3E%3C/svg%3E") center/cover; 
  }
}
// vc - game activity toggle
[d="M3.06 20.4q-1.53 0-2.37-1.065T.06 16.74l1.26-9q.27-1.8 1.605-2.97T6.06 3.6h11.88q1.8 0 3.135 1.17t1.605 2.97l1.26 9q.21 1.53-.63 2.595T20.94 20.4q-.63 0-1.17-.225T18.78 19.5l-2.7-2.7H7.92l-2.7 2.7q-.45.45-.99.675t-1.17.225Zm14.94-7.2q.51 0 .855-.345T19.2 12q0-.51-.345-.855T18 10.8q-.51 0-.855.345T16.8 12q0 .51.345 .855T18 13.2Zm-2.4-3.6q.51 0 .855-.345T16.8 8.4q0-.51-.345-.855T15.6 7.2q-.51 0-.855.345T14.4 8.4q0 .51.345 .855T15.6 9.6ZM6.9 13.2h1.8v-2.1h2.1v-1.8h-2.1v-2.1h-1.8v2.1h-2.1v1.8h2.1v2.1Z"] {
  d: path("M16.5 6V0h-9v6l4.5 4.5L16.5 6ZM9 1.5h6v3.9l-3 3-3-3V1.5Zm-3 6 4.5 4.5L6 16.5H0v-9h6ZM1.5 9h3.9l3 3-3 3H1.5V9ZM18 16.5 13.5 12 18 7.5h6v9h-6Zm.6-7.5-3 3 3 3h3.9V9h-3.9ZM12 13.5 7.5 18v6h9v-6L12 13.5Zm-3 9v-3.9l3-3 3 3v3.9H9Z");
  clip-rule: evenodd;
  fill-rule: evenodd;
  fill: currentColor;
}
// vc - permissions viewer & review db
.section_d7a21f+[style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 8px;"] {
  background: var(--profile-bg-secondary);
  margin-bottom: 0 !important;
  padding-bottom: 8px;
  padding-left: 10px;
  padding-right: 10px;
  h2 {
    html.theme-light & {color: #{ss(#87909c)}!important}
    html.theme-dark & {color: #fff8!important}
  }
  +.root_e4010c.roles_fa2f72 {
    background: var(--profile-bg-secondary);
    margin-top: 0;
    padding-left: 10px;
    padding-right: 10px;
  }
}
.vc-rdb-view {
  background: var(--profile-bg-secondary);
  padding-left: 10px;
  padding-right: 10px;
  +div {
    padding-left: 10px;
    padding-right: 10px;
    background: var(--profile-bg-secondary);
    .vc-rdb-input {
      border: none;
      border-radius: 0;
      .slateTextArea_e52116 {
        padding-left: 0;
      }
    }
  }
}