@use "vars" as *;
@use "funcs" as *;
// nitro and server boost stuff
@at-root {
  .app_a3002d+div+.layerContainer_da8173 .root__5c9fc {
    #{$button} {
      padding: 10px 20px;
      width: auto;
      height: auto;
      font-size: 16px;
      font-weight: 400;
    }
    :is(.closeButton_c2b141, .keybind_c2b141) {
      .theme-dark & {
        color: #{ss(#72767d)};
        svg {color: #{ss(#dcddde)}}
      }
    }
  }
  .content_f15dca {
    .bar_c44edb {
      x: 8px;
      width: 8px;
      color: #{ss(#ebedef)};
      .theme-dark & {color: #{ss(#202225)}}
      &.foreground_c44edb {color: #{ss(#c7d0f0)}}
    }
    :is(.theme-dark, .theme-light) & {
      :is(.tierAccomplished_c44edb, .tierCurrent_c44edb, .tierFirst_c44edb) {
        background: linear-gradient(90deg,#{ss(#b473f5)},#{ss(#e292aa)}) !important;
      }
      .tierHeaderUnlocked_f15dca {
        background: linear-gradient(90deg,#{ss(#b473f5)},#{ss(#e292aa)});
        .tierIcon_f15dca {color: #fff}
        .tierUnlocked_f15dca {
          background: #fff;
          color: var(--blurple);
        }
        .lookFilled__201d5.colorBrand__201d5 {
          background: none;
          color: #fff;
          border: solid 1px #fff6;
          transition: .18s;
          &:hover {border-color: #fff}
          &:active {
            border-color: #fff;
            background: #fff2;
          }
        }
      }
    }
  }
  .progressBar_eff079 {
    background: linear-gradient(90deg, #{ss(#b473f5)}, #{ss(#e292aa)});
  }
  .container_eff079:hover .progressBar_eff079 {
    background: linear-gradient(90deg,#{ss(#b473f5)},#{ss(#e292aa)} 34%,#{ss(#b473f5)} 67%,#{ss(#e292aa)});
    background-size: 300% 100%;
  }
  .tierTitleActive_f15dca {
    color: #fff;
    h3, div {color: inherit !important}
  }
  .grid_d87d30 {grid-template-columns: repeat(5,108px)}
  .premiumFeatureBorder__65c15:has(.tryItOutLayout__9d295) {
    display: none;
  }
  .wrapper__8e08c .gradient__8e08c {
    background: none;
  }
}
// new boost page
.root__5c9fc {
  .guildStatus_f9f04c {
    display: grid;
    width: 660px;
    margin: 0 auto 36px;
    grid-template-columns: 64px auto 134px;
    grid-template-rows: 50% 50%;
    grid-template-areas: "a b d" "a c d";
    background: var(--background-secondary);
    border-radius: 8px;
    padding: 16px;
    .icon_f34534 {
      grid-area: a;
    }
    .guildName_f9f04c {
      grid-area: b;
      text-align: start;
      margin-left: 16px;
      margin-top: 4px;
      color: var(--header-primary) !important;
    }
    .guildStatusCopy_f9f04c {
      color: var(--header-secondary);
    }
    .guildBoostCountWrapper_f9f04c {
      grid-area: c;
      margin-left: 16px;
      .guildBoostCount_f9f04c {
        justify-content: start;
      }
    }
    .guildBoostCtas_f9f04c {
      grid-area: d;
      gap: 8px;
      flex-direction: column;
      button {
        border-radius: 3px;
        margin-left: 0;
        padding: 0;
        min-width: 0;
        min-height: 32px;
        height: 32px;
        box-shadow: none !important;
        transform: none !important;
        .contents__201d5 {
          font-size: 14px;
        }
      }
      .guildBoostCta_f9f04c {
        box-shadow: none !important;
        transform: none !important;
      }
      .lookFilled__201d5.colorWhite__201d5 {
        background: var(--blurple);
        .contents__201d5 {color: #fff}
        &:hover {background: var(--blurple-hover)}
        &:active {background: var(--blurple-active)}
      }
      .lookOutlined__201d5.colorWhite__201d5 {
        border: none;
        .contents__201d5 {
          color: #fff;
        }
        .theme-dark & {
          background: #{ss(#4f545c)};
          &:hover:not(:disabled) {
            background: #{ss(#72767d)};
          }
          &:active:not(:disabled) {
            background: #{ss(#72767d)};
          }
        }
        .theme-light & {
          background: #{ss(#e3e5e8)};
          .contents__201d5 {
            color: var(--header-primary);
          }
          &:hover:not(:disabled) {
            background: #{ss(#c7ccd1)};
          }
          &:active:not(:disabled) {
            background-color: #{ss(#e3e5e8)};
          }
        }
      }
    }
  }
  .header__6fd0e {
    background: none !important;
  }
  :is(.display-lg_cf4812, .heading__6fd0e) {
    font-family: var(--font-primary);
    font-size: 24px;
  }
  .progressBarMarker__1f1cb {
    background: var(--background-primary);
  }
  .progressBarMarkerLabel__1f1cb {
    color: var(--header-primary);
  }
  .progressBarFill_b28bb7 {
    background: #{ss(#c7d0f0)};
  }
  .theme-light & {
    .progressBarTrack_b28bb7 {
      background: var(--background-modifier-accent);
    }
    .boostedTierIconBackground__1f1cb {
      background: var(--background-modifier-accent);
    }
  }
  .progressBarMarkerUnlocked__1f1cb {
    background: var(--background-primary);
    .progressBarMarkerIndicator__1f1cb {
      background: linear-gradient(90deg, #{ss(#b473f5)}, #{ss(#e292aa)}) !important;
    }
  }
  .tierCardCurrentTier_be48d0 {
    background: var(--blurple);
    border-radius: 3px;
  }
  .tierCards_be48d0 {
    .tierCard_be48d0 {
      border-radius: 3px;
      background: var(--background-tertiary);
      box-shadow: var(--elevation-high);
      :is(.tierCardHeading_be48d0, .tierCardListItem_be48d0) {
        color: var(--header-primary) !important;
      }
      .tierCardBoostRequirement_be48d0 {
        color: var(--header-secondary) !important;
      }
    }
  }
  .topPerksCard__3add8 {
    border-radius: 3px;
  }
  .recommendedTierHighlight__686cf {
    &:before, &:after {
      border-color: var(--blurple);
      border-radius: 3px;
    }
    .recommendedTierHighlightTag__686cf {
      background: var(--blurple);
      border-radius: 3px;
    }
  }
  .wrapper__4d7bb {
    background: none;
    padding: 0;
    .card__4d7bb {
      border-radius: 3px;
      background: var(--background-tertiary);
      box-shadow: var(--elevation-high);
    }
  }
  :is(.tierCardBorderHighlight_be48d0, .tierCardSparkleHighlight_be48d0, .bodyWave__1dfae, .backgroundImages__4d7bb, .wrapper_b4589b) {
    display: none !important;
  }
  @at-root .perkPreviewImage__686cf {
    display: none;
  }
}

// discord's 100,000,000th nitro page redesign
.container_ca1a02 {
  :is(.heroHeading_ca1a02, .bottomIllustration_ca1a02, .headerArtV2__3ce43) {display:none}
}
// collectibles shop
.shop__6db1d {
  .content_c48ade & .page__6db1d {margin-top: 0}
  .heroBanner_e16ab1 {display:none}
  .pageWrapperFullscreen__0c78f {
    left: 0;
  }
  .shopBanner__7f856, .condensedBannerContainer_be5025 {
    border-radius: 4px;
  }
  .cardsContainer__6db1d {
    display: grid;
    grid-gap: 16px;
    grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
    .shopCard_c3d04b {
      padding: 8px;
      border-radius: 4px;
      .cardText_c3d04b {
        padding: 0;
      }
      .detailsWrapper_c3d04b {
        justify-content: start;
        .innerBlur_c3d04b {
          opacity: 1;
        }
        .innerHover_c3d04b {
          opacity: 1;
          transform: none;
          .buttonsContainer_c3d04b {
            gap: 1px;
            button {
              border-radius: 0;
              div {
                font-weight: bold;
                font-size: 14px;
                text-transform: uppercase;
              }
            }
          }
        }
      }
      .checkmarkWrapper_c3d04b+.cardText_c3d04b .detailsWrapper_c3d04b .innerBlur_c3d04b .priceTag_c3d04b {
        font-size: 12px;
        font-weight: bold;
        color: var(--text-muted);
        text-transform: uppercase;
      }
      .productName_c3d04b {
        padding: 12px 12px 0;
        font-size: 14px;
        font-weight: 400;
        opacity: 1;
      }
      .priceTag_c3d04b {
        gap: 0;
        padding: 0 12px;
        h2 {
          font-size: 12px;
        }
        &.partialOwnStateContainer__0d2da {
          opacity: 1;
          div {
            font-size: 12px;
            font-weight: bold;
            color: var(--text-muted);
            text-transform: uppercase;
          }
          .iconWrapper__0d2da {
            display: none;
          }
        }
      }
      .avatarDecoration__44b0c, .profileEffects__01370 {
        display: block !important;
      }
      .avatarDecoration__44b0c .avatarStack__44b0c {
        width: 100%;
        height: 100%;
        clip-path: none;
        margin: 0;
      }
    }
  }
}
