@use "vars" as *;
@use "funcs" as *;
// nitro and server boost stuff
@at-root {
  .app_bd26cc+div+.layerContainer_cd0de5 .root_fccaa9 {
    #{$button} {
      padding: 10px 20px;
      width: auto;
      height: auto;
      font-size: 16px;
      font-weight: 400;
    }
    :is(.closeButton_df5532, .keybind_df5532) {
      .theme-dark & {
        color: #{ss(#72767d)};
        svg {color: #{ss(#dcddde)}}
      }
    }
  }
  .content_da77bd {
    .bar_bfac79 {
      x: 8px;
      width: 8px;
      color: #{ss(#ebedef)};
      .theme-dark & {color: #{ss(#202225)}}
      &.foreground_bfac79 {color: #{ss(#c7d0f0)}}
    }
    :is(.theme-dark, .theme-light) & {
      :is(.tierAccomplished_bfac79, .tierCurrent_bfac79, .tierFirst_bfac79) {
        background: linear-gradient(90deg,#{ss(#b473f5)},#{ss(#e292aa)}) !important;
      }
      .tierHeaderUnlocked_da77bd {
        background: linear-gradient(90deg,#{ss(#b473f5)},#{ss(#e292aa)});
        .tierIcon_da77bd {color: #fff}
        .tierUnlocked_da77bd {
          background: #fff;
          color: var(--blurple);
        }
        .lookFilled_dd4f85.colorBrand_dd4f85 {
          background: none;
          color: #fff;
          border: solid 1px #fff6;
          transition: .18s;
          &:hover {border-color: #fff}
          &:active {
            border-color: #fff;
            background: #fff2;
          }
        }
      }
    }
  }
  .progressBar_c75f85 {
    background: linear-gradient(90deg, #{ss(#b473f5)}, #{ss(#e292aa)});
  }
  .container_c75f85:hover .progressBar_c75f85 {
    background: linear-gradient(90deg,#{ss(#b473f5)},#{ss(#e292aa)} 34%,#{ss(#b473f5)} 67%,#{ss(#e292aa)});
    background-size: 300% 100%;
  }
  .tierTitleActive_da77bd {
    color: #fff;
    h3, div {color: inherit !important}
  }
  .grid_f8c5e7 {grid-template-columns: repeat(5,108px)}
  .premiumFeatureBorder_c6d722:has(.tryItOutLayout_eb2d2c) {
    display: none;
  }
  .wrapper_e74e54 .gradient_e74e54 {
    background: none;
  }
}
// new boost page
.root_fccaa9 {
  .guildStatus_cbe7a3 {
    display: grid;
    width: 660px;
    margin: 0 auto 36px;
    grid-template-columns: 64px auto 134px;
    grid-template-rows: 50% 50%;
    grid-template-areas: "a b d" "a c d";
    background: var(--background-secondary);
    border-radius: 8px;
    padding: 16px;
    .icon_f11207 {
      grid-area: a;
    }
    .guildName_cbe7a3 {
      grid-area: b;
      text-align: start;
      margin-left: 16px;
      margin-top: 4px;
      color: var(--header-primary) !important;
    }
    .guildStatusCopy_cbe7a3 {
      color: var(--header-secondary);
    }
    .guildBoostCountWrapper_cbe7a3 {
      grid-area: c;
      margin-left: 16px;
      .guildBoostCount_cbe7a3 {
        justify-content: start;
      }
    }
    .guildBoostCtas_cbe7a3 {
      grid-area: d;
      gap: 8px;
      flex-direction: column;
      button {
        border-radius: 3px;
        margin-left: 0;
        padding: 0;
        min-width: 0;
        min-height: 32px;
        height: 32px;
        box-shadow: none !important;
        transform: none !important;
        .contents_dd4f85 {
          font-size: 14px;
        }
      }
      .guildBoostCta_cbe7a3 {
        box-shadow: none !important;
        transform: none !important;
      }
      .lookFilled_dd4f85.colorWhite_dd4f85 {
        background: var(--blurple);
        .contents_dd4f85 {color: #fff}
        &:hover {background: var(--blurple-hover)}
        &:active {background: var(--blurple-active)}
      }
      .lookOutlined_dd4f85.colorWhite_dd4f85 {
        border: none;
        .contents_dd4f85 {
          color: #fff;
        }
        .theme-dark & {
          background: #{ss(#4f545c)};
          &:hover:not(:disabled) {
            background: #{ss(#72767d)};
          }
          &:active:not(:disabled) {
            background: #{ss(#72767d)};
          }
        }
        .theme-light & {
          background: #{ss(#e3e5e8)};
          .contents_dd4f85 {
            color: var(--header-primary);
          }
          &:hover:not(:disabled) {
            background: #{ss(#c7ccd1)};
          }
          &:active:not(:disabled) {
            background-color: #{ss(#e3e5e8)};
          }
        }
      }
    }
  }
  .header_a50853 {
    background: none !important;
  }
  :is(.display-lg_dc00ef, .heading_a50853) {
    font-family: var(--font-primary);
    font-size: 24px;
  }
  .progressBarMarker_c29408 {
    background: var(--background-primary);
  }
  .progressBarMarkerLabel_c29408 {
    color: var(--header-primary);
  }
  .progressBarFill_e00a24 {
    background: #{ss(#c7d0f0)};
  }
  .theme-light & {
    .progressBarTrack_e00a24 {
      background: var(--background-modifier-accent);
    }
    .boostedTierIconBackground_c29408 {
      background: var(--background-modifier-accent);
    }
  }
  .progressBarMarkerUnlocked_c29408 {
    background: var(--background-primary);
    .progressBarMarkerIndicator_c29408 {
      background: linear-gradient(90deg, #{ss(#b473f5)}, #{ss(#e292aa)}) !important;
    }
  }
  .tierCardCurrentTier_e3ebb9 {
    background: var(--blurple);
    border-radius: 3px;
  }
  .tierCards_e3ebb9 {
    .tierCard_e3ebb9 {
      border-radius: 3px;
      background: var(--background-tertiary);
      box-shadow: var(--elevation-high);
      :is(.tierCardHeading_e3ebb9, .tierCardListItem_e3ebb9) {
        color: var(--header-primary) !important;
      }
      .tierCardBoostRequirement_e3ebb9 {
        color: var(--header-secondary) !important;
      }
    }
  }
  .topPerksCard_adc107 {
    border-radius: 3px;
  }
  .recommendedTierHighlight_ebd3d3 {
    &:before, &:after {
      border-color: var(--blurple);
      border-radius: 3px;
    }
    .recommendedTierHighlightTag_ebd3d3 {
      background: var(--blurple);
      border-radius: 3px;
    }
  }
  .wrapper_d1fdce {
    background: none;
    padding: 0;
    .card_d1fdce {
      border-radius: 3px;
      background: var(--background-tertiary);
      box-shadow: var(--elevation-high);
    }
  }
  :is(.tierCardBorderHighlight_e3ebb9, .tierCardSparkleHighlight_e3ebb9, .bodyWave_a586c4, .backgroundImages_d1fdce, .wrapper_aecbd6) {
    display: none !important;
  }
  @at-root .perkPreviewImage_ebd3d3 {
    display: none;
  }
}

// discord's 100,000,000th nitro page redesign
.container_ed2e7b {
  :is(.heroHeading_ed2e7b, .bottomIllustration_ed2e7b, .headerArtV2_e81a2a) {display:none}
}
// collectibles shop
.shop_e77fa3 {
  .content_a4d4d9 & .page_e77fa3 {margin-top: 0}
  .heroBanner_e16ab1 {display:none}
  .pageWrapperFullscreen__0c78f {
    left: 0;
  }
  .shopBanner_be5025, .condensedBannerContainer_be5025 {
    border-radius: 4px;
  }
  .cardsContainer_e77fa3 {
    display: grid;
    grid-gap: 16px;
    grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
    .shopCard_c23530 {
      padding: 8px;
      border-radius: 4px;
      .cardText_c23530 {
        padding: 0;
      }
      .detailsWrapper_c23530 {
        justify-content: start;
        .innerBlur_c23530 {
          opacity: 1;
        }
        .innerHover_c23530 {
          opacity: 1;
          transform: none;
          .buttonsContainer_c23530 {
            gap: 1px;
            button {
              border-radius: 0;
              div {
                font-weight: bold;
                font-size: 14px;
                text-transform: uppercase;
              }
            }
          }
        }
      }
      .checkmarkWrapper_c23530+.cardText_c23530 .detailsWrapper_c23530 .innerBlur_c23530 .priceTag_c23530 {
        font-size: 12px;
        font-weight: bold;
        color: var(--text-muted);
        text-transform: uppercase;
      }
      .productName_c23530 {
        padding: 12px 12px 0;
        font-size: 14px;
        font-weight: 400;
        opacity: 1;
      }
      .priceTag_c23530 {
        gap: 0;
        padding: 0 12px;
        h2 {
          font-size: 12px;
        }
        &.partialOwnStateContainer_c27df5 {
          opacity: 1;
          div {
            font-size: 12px;
            font-weight: bold;
            color: var(--text-muted);
            text-transform: uppercase;
          }
          .iconWrapper_c27df5 {
            display: none;
          }
        }
      }
      .avatarDecoration_c51b4e, .profileEffects_f867f9 {
        display: block !important;
      }
      .avatarDecoration_c51b4e .avatarStack_c51b4e {
        width: 100%;
        height: 100%;
        clip-path: none;
        margin: 0;
      }
    }
  }
}
