// speaking ring
.speaking__68617 {
  box-shadow: inset 0 0 0 2px var(--green),inset 0 0 0 3px var(--background-secondary);
}
// focus ring
.focus-rings-ring {
border-radius: 0;
box-shadow: 0 0 0 4px var(--blurple), 0 0 8px 4px var(--blurple);
}