@use "vars" as *;
@use "exps" as *;

// search results page
.searchResultsWrap_a9e706 {
  .searchHeader_f3b986 {
    background: var(--background-secondary);
    box-shadow: var(--elevation-low);
    height: 48px;
    padding: 0 20px;
    .searchHeaderTabList_f3b986 {
      .item_b3f026 {
        padding: 15px 8px;
        border-radius: 0;
        background: none;
        color: var(--text-normal);
        font-size: 14px;
        &:hover, &.selected_b3f026, &:active {
          background: none;
          box-shadow: inset 0 -2px var(--interactive-active);
          color: var(--interactive-active);
        }
      }
    }
    .totalResults_f3b986 #{$colorHeaderPrimary} {
      font-weight: 400;
      font-size: 14px;
      color: var(--text-normal);
    }
  }
  .button__02a39 {
    .theme-light & {background:rgba(115,127,141,.6);color:#ebebeb}
    .theme-dark & {background:#535559;color:rgba(255,255,255,.6)}
    color: var(--interactive-normal);
    padding: 2px 8px;
    height: 20px;
  }
  .pageControl_c15210 {
    .roundButton-2_R5PN, .pageButton_c15210 {
      border-radius: 3px;
      transition: .3s;
      border: solid 1px #0000;
      color: var(--interactive-active);
      &:hover {
        border: solid 1px var(--interactive-muted);
        background: none;
      }
      &:is(:active, .activeButton_c15210) {
        background: none;
        border: solid 1px var(--interactive-active);
      }
    }
  }
  .channelNameContainer_c68065:after {
    content: "";
    display: block;
    width: 100%;
    flex: 1;
    height: 1px;
    margin-left: 8px;
    background: var(--background-modifier-accent);
  }
  @if $experiment18 == 0 {
      .searchResult__02a39 {
        border: solid 1px var(--background-tertiary);
        border-radius: 4px;
      }
  }
  @if $experiment18 == 1 {
    .searchResult__02a39 {
      border-radius: 4px;
      transition: .17s box-shadow;
      &:hover {
        box-shadow: var(--elevation-medium);
      }
    }
  }
}
