@use "funcs" as *;
// slider
@at-root {
  .slider__22e99 {
    .grabber_e3daf3 {
      width: 24px;
      height: 24px;
      border-radius: 50%;
      margin-top: -12px;
      margin-left: -12px;
      border: solid 1px var(--blurple);
      box-shadow: 0 2px 4px 1px rgb(0 0 0 / 10%);
      &[style="left: 0%;"] {border-color: #{ss(#b9bbbe)}}
    }
    &.disabled__4c90f {
      opacity: .3;
      .grabber_e3daf3 {
        cursor: default;
      }
    }
  }
  .mini_d6d84c {
    .bar_e58961 {
      margin-left: 3px;
      margin-right: 3px;
    }
    .grabber_e3daf3 {
      width: 12px;
      height: 12px;
      margin-top: 3px;
      margin-left: -7px;
    }
  }
  .inputSensitivityToggle__8b0be {
    .slider__22e99 .grabber_e3daf3 {
      border-color: var(--green) !important;
    }
  }
  .bar_e58961 {
    &[style="background: rgb(35, 165, 90);"] {
      background: var(--green) !important;
      .theme-light & {
        background: #a1dac0 !important;
      }
    }
    .barFill__1f56b {
      &[style^="background: rgb(240, 178, 50);"] {
        background: var(--yellow) !important;
        .theme-light & {
          background: #fdd38d !important;
        }
      }
    }
  }
}