@use "funcs" as *;
// slider
@at-root {
  .slider_c7a159 {
    .grabber_c7a159 {
      width: 24px;
      height: 24px;
      border-radius: 50%;
      margin-top: -12px;
      margin-left: -12px;
      border: solid 1px var(--blurple);
      box-shadow: 0 2px 4px 1px rgb(0 0 0 / 10%);
      &[style="left: 0%;"] {border-color: #{ss(#b9bbbe)}}
    }
    &.disabled_c7a159 {
      opacity: .3;
      .grabber_c7a159 {
        cursor: default;
      }
    }
  }
  .mini_c7a159 {
    .bar_c7a159 {
      margin-left: 3px;
      margin-right: 3px;
    }
    .grabber_c7a159 {
      width: 12px;
      height: 12px;
      margin-top: 3px;
      margin-left: -7px;
    }
  }
  .inputSensitivityToggle_b6e3f3 {
    .slider_c7a159 .grabber_c7a159 {
      border-color: var(--green) !important;
    }
  }
  .bar_c7a159 {
    &[style="background: rgb(35, 165, 90);"] {
      background: var(--green) !important;
      .theme-light & {
        background: #a1dac0 !important;
      }
    }
    .barFill_c7a159 {
      &[style^="background: rgb(240, 178, 50);"] {
        background: var(--yellow) !important;
        .theme-light & {
          background: #fdd38d !important;
        }
      }
    }
  }
}