@use "options" as *;
@use "exps" as *;
@use "funcs" as *;
// switches
@if not $redoInputs {
  @at-root {
    @if $experiment12 == 1 {
      @supports not (-moz-appearance: none) {
        .container_cebd1c {
          .input_cebd1c {
            opacity: 1;
            width: 0;
            &:before, &:after {
              transition: .1s;
              content: "";
              display: block;
              border-radius: 50px;
              pointer-events: auto;
            }
            &:before {
              box-shadow: inset 0 1px 1px rgba(0 0 0/.15);
              width: 42px;
              height: 24px;
              background: #{ss(#72767d)};
              margin-top: -3px;
              margin-left: -6px;
            }
            &:hover:before {background: #{ss(#80848a)}}
            &:after {
              position: absolute;
              width: 18px;
              height: 18px;
              top: 0px;
              left: -3px;
              background: #fff;
              box-shadow: 0 2px 4px rgba(0 0 0/.3);
            }
            &:checked {
              &:before {background: var(--blurple)}
              &:hover:before {background: #{ss(#8095de)}}
              &:after {transform: translate3d(18px,0,0)}
            }
            &:active {
              &:before {background: #{ss(#676a71)}}
              &:after {width: 26px}
            }
            &:checked:active {
              &:before {
                background: #{ss(#6a7dc1)};
              }
              &:after {
                left: -11px;
                width: 26px;
              }
            }
            svg {display: none}
            background: #0000 !important;
          }
          pointer-events: none;
          background: #0000 !important;
          svg {display: none !important}
        }
        .bd-switch {
          margin-right: 40px;
          .bd-switch-body {display: none}
          input[type=checkbox] {
            opacity: 1;
            width: 0;
            &:before, &:after {
              transition: .1s;
              content: "";
              display: block;
              border-radius: 50px;
            }
            &:before {
              box-shadow: inset 0 1px 1px rgba(0 0 0/.15);
              width: 42px;
              height: 24px;
              background: #{ss(#72767d)};
              margin-top: -3px;
              margin-left: -6px;
            }
            &:hover:before {
              background: #{ss(#80848a)};
            }
            &:after {
              position: absolute;
              width: 18px;
              height: 18px;
              top: 0px;
              left: -3px;
              background: #fff;
              box-shadow: 0 2px 4px rgba(0 0 0/.3);
            }
            &:checked {
              &:before {
                background: var(--blurple);
              }
              &:hover:before {
                background: #8095DE;
              }
              &:after {
                transform: translate3d(18px,0,0)
              }
            }
            &:active {
              &:before {
                background: #{ss(#676a71)};
              }
              &:after {
                width: 26px;
              }
            }
            &:checked:active {
              &:before {
                background: var(--blurple-active);
              }
              &:after {
                left: -11px;
                width: 26px;
              }
            }
            background: #0000 !important;
            svg {
              display: none
            }
          }
        }
      }
    }
    @if $experiment12 == 2 {
      @supports not (-moz-appearance: none) {
        .container_cebd1c {
          border-radius: 0;
          width: 18px;
          height: 18px;
          .input_cebd1c {
            opacity: 1;
            width: 0;
            &:before, &:after {
              margin-top: 0;
              margin-left: 0;
              transition: .2s;
              content: "";
              display: block;
              border-radius: 50px;
            }
            &:before {
              width: 18px;
              height: 18px;
              border-radius: 2px;
              box-sizing: border-box;
              border: solid 2px;
              .theme-dark & {border-color: var(--background-accent)}
              .theme-light & {border-color: #cdcdcd}
            }
            &:after {
              content: "";
              position: absolute;
              top: 2px;
              left: 6px;
              display: table;
              width: 4px;
              height: 10px;
              border-radius: 0;
              border: 2px solid #0000;
              border-top-width: 0;
              border-left-width: 0;
              transform: rotate(45deg);
            }
            &:checked {
              &:before {
                background: var(--blurple);
                background-size: 14px 14px;
                border-color: var(--blurple);
              }
              &:after {border-color: #fff}
            }
          }
          background: #0000 !important;
          svg {display: none}
        }
      }
    }
    @supports not (-moz-appearance: none) {
      .bd-addon-header .bd-switch {
        margin-top: -18px;
      }
    }
    // switches in role settings
    @if $experiment12 == 1 {
      @supports not (-moz-appearance: none) {
        .permissionsWrapper_a73849 {
          .container_ed1d57 .input_cebd1c {
            &:checked {
              &:before {background: var(--green)}
              &:hover:before {background: #{ss(#55bc8d)}}
            }
            &:checked:active {
              &:before {background: var(--green-active)}
              &:after {
                left: -11px;
                width: 26px;
              }
            }
          }
        }
      }
    }
    @if $experiment12 == 2 {
      @supports not (-moz-appearance: none) {
        .permissionsWrapper_a73849 {
          .container_ed1d57 .input_cebd1c {
            &:checked {
              &:before {
                background: var(--green);
                border-color: var(--green);
              }
            }
          }
        }
      }
    }
    @supports not (-moz-appearance: none) {
      // switches - channel role overrides
      .group_d25d19 {
        border: none;
      }
      .item_d25d19 {
        path, g {
          display: none;
        }
        cursor: pointer;
        width: 36px;
        border: solid 1px #{ss(#18191c)};
        .theme-light & {border-color: #{ss(#dadddf)}}
        &:first-of-type {border-radius: 3px 0 0 3px}
        &:nth-of-type(2) {border-left: none; border-right: none}
        &:last-of-type {border-radius: 0 3px 3px 0}
        &:not(.selected_d25d19):hover {background: none}
        svg {background: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3.2852 15.675C2.8352 15.5325 2.4752 15.1725 2.3252 14.7225L14.7227 2.325C15.1727 2.475 15.5327 2.835 15.6752 3.285L3.2852 15.675Z' fill='%23747F8D'/%3E%3C/svg%3E%0A") center}
        &.selected_d25d19 {
          svg {background:url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3.2852 15.675C2.8352 15.5325 2.4752 15.1725 2.3252 14.7225L14.7227 2.325C15.1727 2.475 15.5327 2.835 15.6752 3.285L3.2852 15.675Z' fill='white'/%3E%3C/svg%3E%0A") center}
          background: #{ss(#747f8d)};
        }
        &.allow_d25d19 {
          svg {background:url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15.75 5.25L6.75 14.25L2.625 10.125L3.6825 9.0675L6.75 12.1275L14.6925 4.1925' fill='%2343B581'/%3E%3C/svg%3E") center}
          &.selected_d25d19 {
            border-color: var(--green);
            background: var(--green);
            svg {background:url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15.75 5.25L6.75 14.25L2.625 10.125L3.6825 9.0675L6.75 12.1275L14.6925 4.1925' fill='white'/%3E%3C/svg%3E%0A") center}
          }
        }
        &.deny_d25d19 {
          svg {background:url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M14.25 4.8075L13.1925 3.75L9 7.9425L4.8075 3.75L3.75 4.8075L7.9425 9L3.75 13.1925L4.8075 14.25L9 10.0575L13.1925 14.25L14.25 13.1925L10.0575 9' fill='%23F04747'/%3E%3C/svg%3E%0A") center}
          &.selected_d25d19 {
            border-color: var(--red);
            background: var(--red);
            svg {background:url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M14.25 4.8075L13.1925 3.75L9 7.9425L4.8075 3.75L3.75 4.8075L7.9425 9L3.75 13.1925L4.8075 14.25L9 10.0575L13.1925 14.25L14.25 13.1925L10.0575 9' fill='white'/%3E%3C/svg%3E%0A") center}
          }
        }
      }
      // inbox tabs
      .recentMentionsPopout_ddb5b4 {
        --status-positive-background: var(--green);
        box-shadow: 0 0 0 1px hsla(0,0%,75%,.3), 0 2px 10px 0 rgb(0 0 0 / 10%);
        .theme-dark & {
          box-shadow: 0 0 0 1px #{ss(#1c242b99)}, 0 2px 10px 0 rgb(0 0 0 / 20%);
        }
        .header_f0cd33 {
          padding: 0;
          background: var(--background-primary);
          .expandedInboxHeader_f0cd33 {
            padding: 20px;
            padding-bottom: 4px;
            padding-top: 12px;
          }
          .tab_f0cd33 {
            padding: 27px 20px;
            background: none !important;
            border-bottom: solid 2px #0000;
            border-radius: 0;
            margin: 0;
            &:hover {
              border-color: #fff5;
              .theme-light & {border-color: #{ss(rgba(114, 137, 218, 0.5))}}
            }
            &.selected_a0 {
              border-color: #fff;
              .theme-light & {border-color: var(--blurple)}
            }
          }
          .secondary_e258f5 {
            margin: 12px 20px;
            border-radius: 3px;
            background: none !important;
            opacity: .5;
            &:hover {
              opacity: .8
            }
            [d="M4.33331 1.33331C3.78103 1.33331 3.33331 1.78103 3.33331 2.33331V9.99998H2.33331C1.78103 9.99998 1.33331 10.4477 1.33331 11C1.33331 11.5523 1.78103 12 2.33331 12H3.33331V13.6666C3.33331 14.2189 3.78103 14.6666 4.33331 14.6666C4.8856 14.6666 5.33331 14.2189 5.33331 13.6666V12H6.33331C6.8856 12 7.33331 11.5523 7.33331 11C7.33331 10.4477 6.8856 9.99998 6.33331 9.99998H5.33331V2.33331C5.33331 1.78103 4.8856 1.33331 4.33331 1.33331ZM10.6666 2.33331C10.6666 1.78103 11.1144 1.33331 11.6666 1.33331C12.2189 1.33331 12.6666 1.78103 12.6666 2.33331V3.99998H13.6666C14.2189 3.99998 14.6666 4.44769 14.6666 4.99998C14.6666 5.55226 14.2189 5.99998 13.6666 5.99998H12.6666V13.6666C12.6666 14.2189 12.2189 14.6666 11.6666 14.6666C11.1144 14.6666 10.6666 14.2189 10.6666 13.6666V5.99998H9.66665C9.11436 5.99998 8.66665 5.55226 8.66665 4.99998C8.66665 4.44769 9.11436 3.99998 9.66665 3.99998H10.6666V2.33331Z"] {
              d: path("M8,5C6.3,5,5,6.3,5,8c0,1.7,1.3,3,3,3c1.7,0,3-1.3,3-3    C11,6.3,9.7,5,8,5z M8,10c-1.1,0-2-0.9-2-2c0-1.1,0.9-2,2-2s2,0.9,2,2C10,9.1,9.1,10,8,10z M16,8c0-1-0.8-1.9-1.8-2    c-0.1-0.3-0.3-0.7-0.4-1c0.7-0.8,0.6-1.9-0.1-2.7c-0.7-0.7-1.9-0.8-2.7-0.1c-0.3-0.2-0.6-0.3-1-0.4C9.9,0.8,9,0,8,0    C7,0,6.1,0.8,6,1.8C5.7,1.9,5.3,2.1,5,2.2C4.2,1.6,3.1,1.6,2.3,2.3C1.6,3.1,1.6,4.2,2.2,5C2.1,5.3,1.9,5.7,1.8,6C0.8,6.1,0,7,0,8    c0,1,0.8,1.9,1.8,2c0.1,0.3,0.3,0.7,0.4,1c-0.7,0.8-0.6,1.9,0.1,2.7c0.7,0.7,1.9,0.8,2.7,0.1c0.3,0.2,0.6,0.3,1,0.4    C6.1,15.2,7,16,8,16c1,0,1.9-0.8,2-1.8c0.3-0.1,0.7-0.3,1-0.4c0.8,0.7,1.9,0.6,2.7-0.1c0.7-0.7,0.8-1.9,0.1-2.7    c0.2-0.3,0.3-0.6,0.4-1C15.2,9.9,16,9,16,8z M13.4,9c-0.1,0.8-0.5,1.5-0.9,2.1l0.4,0.4c0.4,0.4,0.4,1,0,1.4c-0.4,0.4-1,0.4-1.4,0    l-0.4-0.4C10.5,13,9.8,13.3,9,13.4V14c0,0.6-0.4,1-1,1c-0.6,0-1-0.4-1-1v-0.6c-0.8-0.1-1.5-0.5-2.1-0.9l-0.4,0.4    c-0.4,0.4-1,0.4-1.4,0c-0.4-0.4-0.4-1,0-1.4l0.4-0.4C3,10.5,2.7,9.8,2.6,9H2C1.4,9,1,8.6,1,8c0-0.6,0.4-1,1-1h0.6    C2.7,6.2,3,5.5,3.5,4.9L3.1,4.5c-0.4-0.4-0.4-1,0-1.4c0.4-0.4,1-0.4,1.4,0l0.4,0.4C5.5,3,6.2,2.7,7,2.6V2c0-0.6,0.4-1,1-1    c0.6,0,1,0.4,1,1v0.6c0.8,0.1,1.5,0.5,2.1,0.9l0.4-0.4c0.4-0.4,1-0.4,1.4,0c0.4,0.4,0.4,1,0,1.4l-0.4,0.4C13,5.5,13.3,6.2,13.4,7    H14c0.6,0,1,0.4,1,1c0,0.6-0.4,1-1,1H13.4z")
            }
          }
        }
        // mentions tab
        .messagesPopout_ac90a2 {
          padding: 13px 5px 7px 13px;
          .container_ddb5b4 {
            margin-bottom: 0;
            .channelHeader_f3978e {
              padding: 26px 0 10px 0;
              background: none;
              position: unset;
              height: auto;
              .icon_f11207 {
                width: 20px;
                height: 20px;
                border-radius: 3px;
                margin-right: 4px;
              }
              .channelNameSection_f3978e {
                flex-direction: row;
                align-items: baseline;
                gap: 4px;
                h2[data-text-variant="heading-md/semibold"] {
                  height: 18px;
                  svg {
                    width: 14px;
                    height: 14px;
                    margin-right: 4px;
                  }
                  span {
                    font-size: 15px;
                    line-height: 18px;
                    font-weight: 500;
                  }
                }
                div[data-text-variant="text-xs/normal"] {
                  font-size: 11px;
                  line-height: 20px;
                  font-weight: 400;
                  div {
                    color: #{ss(rgba(79,84,92,.3))};
                    .theme-dark & {color: rgba(255,255,255,.3)}
                  }
                }
              }
              .closeButton_ddb5b4 {
                width: 16px;
                height: 16px;
                min-width: 16px;
                min-height: 16px;
                border-radius: 0;
                background: #0000 !important;
              }
            }
            &:first-child .channelHeader_f3978e {
              padding-top: 13px;
            }
            .messageContainer_ddb5b4 {
              border-radius: 5px;
              background: var(--background-primary);
              transition: border-color .1s ease-in-out;
              margin-left: 0;
              padding: 14px 14px 14px 0;
              .theme-light & {
                border: solid 2px #{ss(rgba(28,36,43,.06))};
                &:hover {
                  border-color: #{ss(rgba(28,36,43,.12))};
                }
              }
              .theme-dark & {
                border: solid 2px #{ss(rgba(28,36,43,.6))};
                &:hover {
                  border-color: #{ss(rgba(28,36,43,.8))};
                }
              }
            }
            .jumpButton_aab0bc {
              padding: 2px 8px;
              height: 14px;
              box-sizing: content-box;
              border-radius: 3px;
              div {
                line-height: 14px;
                font-size: 11px;
                font-weight: 700;
                .theme-light & {color: #{ss(rgba(115,127,141,.6))}}
                .theme-dark & {color: rgba(255,255,255,.3)}
              }
              .theme-light & {
                background: #ebebeb;
              }
              .theme-dark & {
                background: #{ss(#535559)};
              }
            }
          }
        }
        // unreads tab
        .scroller_f1c3d9 {
          // tbd
        }
      }
    }
  }
}