@use "vars" as *;
@use "exps" as *;
@use "options" as *;
@use "funcs" as *;
// color themes
@at-root {
  #{$layer-settings} {
    .presets_f45ea6 {
      .themeSelectionContainer_cb7c27 {
        width: auto;
        height: auto;
        .redCircle_cb7c27 {
          position: absolute;
          background: var(--red);
          top: -2px;
          right: -2px;
          border-radius: 2px;
          text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25), inset 0 1px 0 rgba(255, 255, 255, 0.15);
          width: auto;
          height: auto;
          font-size: 12px;
          padding: 3px;
          color: #fff;
          &:after {
            font-weight: 500;
            content: "NEW";
          }
        }
      }
      .themeSelection_cb7c27 {
        border-radius: 4px;
        &:before, &:after {
          content: '';
          display: block;
        }
        &:before {
          width: 130px;
          height: 100px;
          background-size: 130px 100px;
          border: solid 1px var(--background-accent);
          border-bottom: none;
          border-radius: 3px 3px 0 0;
          background-repeat: no-repeat;
          background-position: center;
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='130' height='100' fill='none'%3E%3Cg clip-path='url(%23a)'%3E%3Cpath fill='%2336393E' d='M0 0h130v100H0z'/%3E%3Cpath fill='%231E2124' d='M0 0h18v100H0z'/%3E%3Cpath fill='%232E3136' d='M18 0h40v83H18z'/%3E%3Cmask id='b' fill='%23fff'%3E%3Cpath d='M18 82h40v18H18V82Z'/%3E%3C/mask%3E%3Cpath fill='%23282B30' d='M18 82h40v18H18V82Z'/%3E%3Cpath fill='%231C1E22' d='M18 83h40v-2H18v2Z' mask='url(%23b)'/%3E%3Cg filter='url(%23c)'%3E%3Cpath fill='%2336393E' d='M58 0h72v12H58z'/%3E%3C/g%3E%3Cg filter='url(%23d)'%3E%3Cpath fill='%232E3136' d='M18 0h40v12H18z'/%3E%3C/g%3E%3Crect width='63' height='9' x='62.5' y='86.5' fill='%233F4347' stroke='%235D6063' rx='1.5'/%3E%3Crect width='15' height='7' x='40.5' y='87.5' fill='%232E3136' stroke='%231C1E22' rx='1.5'/%3E%3Crect width='10' height='10' x='4' y='4' fill='%237289DA' rx='5'/%3E%3Crect width='10' height='10' x='4' y='18' fill='%2336393E' rx='5'/%3E%3Crect width='10' height='10' x='4' y='32' fill='%2336393E' rx='5'/%3E%3Crect width='10' height='10' x='4' y='46' fill='%2336393E' rx='5'/%3E%3Cpath fill='%237289DA' d='M18 18h2v6h-2z'/%3E%3Cpath fill='url(%23e)' d='M20 18h38v6H20z'/%3E%3Crect width='8' height='8' x='21' y='87' fill='%23848C95' rx='4'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='c' width='72' height='13' x='58' y='0' color-interpolation-filters='sRGB' filterUnits='userSpaceOnUse'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' result='hardAlpha' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0'/%3E%3CfeOffset dy='1'/%3E%3CfeComposite in2='hardAlpha' operator='out'/%3E%3CfeColorMatrix values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.15 0'/%3E%3CfeBlend in2='BackgroundImageFix' result='effect1_dropShadow_4043_19877'/%3E%3CfeBlend in='SourceGraphic' in2='effect1_dropShadow_4043_19877' result='shape'/%3E%3C/filter%3E%3Cfilter id='d' width='40' height='13' x='18' y='0' color-interpolation-filters='sRGB' filterUnits='userSpaceOnUse'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' result='hardAlpha' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0'/%3E%3CfeOffset dy='1'/%3E%3CfeComposite in2='hardAlpha' operator='out'/%3E%3CfeColorMatrix values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.15 0'/%3E%3CfeBlend in2='BackgroundImageFix' result='effect1_dropShadow_4043_19877'/%3E%3CfeBlend in='SourceGraphic' in2='effect1_dropShadow_4043_19877' result='shape'/%3E%3C/filter%3E%3ClinearGradient id='e' x1='20' x2='58' y1='24' y2='24' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='.86' stop-color='%23282B30'/%3E%3Cstop offset='1' stop-color='%232E3136'/%3E%3C/linearGradient%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M0 0h130v100H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
        }
        &:after {
          content: "Apply Theme";
          text-transform: uppercase;
          font-weight: 600;
          font-size: 14px;
          background: var(--green);
          border-radius: 0 0 3px 3px;
          width: 132px;
          box-sizing: border-box;
          height: auto;
          padding: 8px 0;
          color: #fff;
          text-align: center;
        }
        &.lightOverlay_cb7c27,
        &.darkOverlay_cb7c27 {
          --bg-overlay: linear-gradient(#0000,#0000);
        }
        &.lightOverlay_cb7c27:before {
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='130' height='100' fill='none'%3E%3Cg clip-path='url(%23a)'%3E%3Cpath fill='%23fff' fill-opacity='.25' d='M0 0h18v100H0z'/%3E%3Cpath fill='%23fff' fill-opacity='.5' d='M18 13h40v69H18z'/%3E%3Cg filter='url(%23b)'%3E%3Cpath fill='%23fff' fill-opacity='.75' d='M58 0h72v12H58z' shape-rendering='crispEdges'/%3E%3C/g%3E%3Cg filter='url(%23c)'%3E%3Cpath fill='%23fff' fill-opacity='.5' d='M18 0h40v12H18z' shape-rendering='crispEdges'/%3E%3C/g%3E%3Crect width='62' height='8' x='63' y='87' fill='%23fff' fill-opacity='.5' rx='1'/%3E%3Crect width='63' height='9' x='62.5' y='86.5' stroke='%23fff' stroke-opacity='.15' rx='1.5'/%3E%3Cpath fill='%23fff' fill-opacity='.75' fill-rule='evenodd' d='M130 13H58v87h72V13ZM64 86a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2h60a2 2 0 0 0 2-2v-6a2 2 0 0 0-2-2H64Z' clip-rule='evenodd'/%3E%3Cpath fill='%23fff' fill-opacity='.65' fill-rule='evenodd' d='M58 83H18v17h40V83Zm-16 4a2 2 0 0 0-2 2v4a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-4a2 2 0 0 0-2-2H42Z' clip-rule='evenodd'/%3E%3Crect width='14' height='6' x='41' y='88' fill='%23fff' fill-opacity='.5' rx='1'/%3E%3Crect width='10' height='10' x='4' y='4' fill='%237289DA' rx='5'/%3E%3Crect width='10' height='10' x='4' y='18' fill='%23fff' rx='5'/%3E%3Crect width='10' height='10' x='4' y='32' fill='%23fff' rx='5'/%3E%3Crect width='10' height='10' x='4' y='46' fill='%23fff' rx='5'/%3E%3Cpath fill='%237289DA' d='M18 18h2v6h-2z'/%3E%3Cpath fill='url(%23d)' d='M20 18h38v6H20z'/%3E%3Crect width='8' height='8' x='21' y='87' fill='%23848C95' rx='4'/%3E%3Cpath fill='%23fff' fill-opacity='.35' d='M18 82h40v1H18zm0-70h40v1H18z'/%3E%3Cpath fill='%23fff' fill-opacity='.55' d='M58 12h72v1H58z'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='b' width='72' height='13' x='58' y='0' color-interpolation-filters='sRGB' filterUnits='userSpaceOnUse'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' result='hardAlpha' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0'/%3E%3CfeOffset dy='1'/%3E%3CfeComposite in2='hardAlpha' operator='out'/%3E%3CfeColorMatrix values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.15 0'/%3E%3CfeBlend in2='BackgroundImageFix' result='effect1_dropShadow_4043_19915'/%3E%3CfeBlend in='SourceGraphic' in2='effect1_dropShadow_4043_19915' result='shape'/%3E%3C/filter%3E%3Cfilter id='c' width='40' height='13' x='18' y='0' color-interpolation-filters='sRGB' filterUnits='userSpaceOnUse'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' result='hardAlpha' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0'/%3E%3CfeOffset dy='1'/%3E%3CfeComposite in2='hardAlpha' operator='out'/%3E%3CfeColorMatrix values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.15 0'/%3E%3CfeBlend in2='BackgroundImageFix' result='effect1_dropShadow_4043_19915'/%3E%3CfeBlend in='SourceGraphic' in2='effect1_dropShadow_4043_19915' result='shape'/%3E%3C/filter%3E%3ClinearGradient id='d' x1='20' x2='58' y1='24' y2='24' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='.858' stop-color='%23fff' stop-opacity='.5'/%3E%3Cstop offset='1' stop-color='%23fff' stop-opacity='0'/%3E%3C/linearGradient%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M0 0h130v100H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
        }
        &.darkOverlay_cb7c27:before {
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='130' height='100' fill='none'%3E%3Cg clip-path='url(%23a)'%3E%3Cpath fill='%23000' fill-opacity='.35' d='M0 0h18v100H0z'/%3E%3Cpath fill='%23000' fill-opacity='.65' d='M18 12h40v70H18z'/%3E%3Cg filter='url(%23b)'%3E%3Cpath fill='%23000' fill-opacity='.75' d='M58 0h120v12H58z' shape-rendering='crispEdges'/%3E%3C/g%3E%3Cg filter='url(%23c)'%3E%3Cpath fill='%23000' fill-opacity='.65' d='M18 0h40v12H18z' shape-rendering='crispEdges'/%3E%3C/g%3E%3Crect width='62' height='8' x='63' y='87' fill='%23000' fill-opacity='.75' rx='1'/%3E%3Crect width='63' height='9' x='62.5' y='86.5' stroke='%23000' stroke-opacity='.65' rx='1.5'/%3E%3Cpath fill='%23000' fill-opacity='.75' fill-rule='evenodd' d='M130 12H58v88h72V12ZM64 86a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2h60a2 2 0 0 0 2-2v-6a2 2 0 0 0-2-2H64Z' clip-rule='evenodd'/%3E%3Cpath fill='%23000' fill-opacity='.65' fill-rule='evenodd' d='M58 83H18v17h40V83Zm-16 4a2 2 0 0 0-2 2v4a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-4a2 2 0 0 0-2-2H42Z' clip-rule='evenodd'/%3E%3Cg filter='url(%23d)'%3E%3Crect width='14' height='6' x='41' y='88' fill='%23000' fill-opacity='.75' rx='1' shape-rendering='crispEdges'/%3E%3C/g%3E%3Crect width='10' height='10' x='4' y='4' fill='%237289DA' rx='5'/%3E%3Crect width='10' height='10' x='4' y='18' fill='%23000' rx='5'/%3E%3Crect width='10' height='10' x='4' y='32' fill='%23000' rx='5'/%3E%3Crect width='10' height='10' x='4' y='46' fill='%23000' rx='5'/%3E%3Cpath fill='%237289DA' d='M18 18h2v6h-2z'/%3E%3Cpath fill='url(%23e)' d='M20 18h38v6H20z'/%3E%3Crect width='8' height='8' x='21' y='87' fill='%23848C95' rx='4'/%3E%3Cpath fill='%23000' fill-opacity='.75' d='M18 82h40v1H18z'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='b' width='120' height='13' x='58' y='0' color-interpolation-filters='sRGB' filterUnits='userSpaceOnUse'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' result='hardAlpha' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0'/%3E%3CfeOffset dy='1'/%3E%3CfeComposite in2='hardAlpha' operator='out'/%3E%3CfeColorMatrix values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.15 0'/%3E%3CfeBlend in2='BackgroundImageFix' result='effect1_dropShadow_4043_19938'/%3E%3CfeBlend in='SourceGraphic' in2='effect1_dropShadow_4043_19938' result='shape'/%3E%3C/filter%3E%3Cfilter id='c' width='40' height='13' x='18' y='0' color-interpolation-filters='sRGB' filterUnits='userSpaceOnUse'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' result='hardAlpha' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0'/%3E%3CfeOffset dy='1'/%3E%3CfeComposite in2='hardAlpha' operator='out'/%3E%3CfeColorMatrix values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.15 0'/%3E%3CfeBlend in2='BackgroundImageFix' result='effect1_dropShadow_4043_19938'/%3E%3CfeBlend in='SourceGraphic' in2='effect1_dropShadow_4043_19938' result='shape'/%3E%3C/filter%3E%3Cfilter id='d' width='16' height='8' x='40' y='87' color-interpolation-filters='sRGB' filterUnits='userSpaceOnUse'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' result='hardAlpha' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0'/%3E%3CfeMorphology in='SourceAlpha' operator='dilate' radius='1' result='effect1_dropShadow_4043_19938'/%3E%3CfeOffset/%3E%3CfeComposite in2='hardAlpha' operator='out'/%3E%3CfeColorMatrix values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.5 0'/%3E%3CfeBlend in2='BackgroundImageFix' result='effect1_dropShadow_4043_19938'/%3E%3CfeBlend in='SourceGraphic' in2='effect1_dropShadow_4043_19938' result='shape'/%3E%3C/filter%3E%3ClinearGradient id='e' x1='20' x2='58' y1='24' y2='24' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='.858' stop-opacity='.5'/%3E%3Cstop offset='1' stop-opacity='0'/%3E%3C/linearGradient%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M0 0h130v100H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
        }
        &.selected_cb7c27 {
          &:before {border-color: var(--blurple)}
          &:after {
            content: "Applied";
            background: var(--blurple);
          }
        }
      }
      .selectionCircle_cb7c27 {display:none}
      .iconWrapper_cb7c27 {display:none}
      &.basicThemeSelectors_ {
        .lightIcon_cb7c27:before {
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='130' height='100' fill='none'%3E%3Cg clip-path='url(%23a)'%3E%3Cpath fill='%23fff' d='M0 0h130v100H0z'/%3E%3Cpath fill='%23E3E5E8' d='M0 0h18v100H0z'/%3E%3Cpath fill='%23EBEDEF' d='M18 0h40v83H18z'/%3E%3Cmask id='b' fill='%23fff'%3E%3Cpath d='M18 82h40v18H18V82Z'/%3E%3C/mask%3E%3Cpath fill='%23EBEDEF' d='M18 82h40v18H18V82Z'/%3E%3Cpath fill='%23DEDEDE' d='M18 83h40v-2H18v2Z' mask='url(%23b)'/%3E%3Cg filter='url(%23c)'%3E%3Cpath fill='%23fff' d='M58 0h72v12H58z'/%3E%3C/g%3E%3Cg filter='url(%23d)'%3E%3Cpath fill='%23EBEDEF' d='M18 0h40v12H18z'/%3E%3C/g%3E%3Crect width='63' height='9' x='62.5' y='86.5' fill='%23fff' stroke='%23DADDDF' rx='1.5'/%3E%3Crect width='15' height='7' x='40.5' y='87.5' fill='%23F2F3F5' stroke='%23DEDEDE' rx='1.5'/%3E%3Crect width='10' height='10' x='4' y='4' fill='%237289DA' rx='5'/%3E%3Crect width='10' height='10' x='4' y='18' fill='%23fff' rx='5'/%3E%3Crect width='10' height='10' x='4' y='32' fill='%23fff' rx='5'/%3E%3Crect width='10' height='10' x='4' y='46' fill='%23fff' rx='5'/%3E%3Cpath fill='%237289DA' d='M18 18h2v6h-2z'/%3E%3Cpath fill='url(%23e)' d='M20 18h38v6H20z'/%3E%3Crect width='8' height='8' x='21' y='87' fill='%23848C95' rx='4'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='c' width='72' height='13' x='58' y='0' color-interpolation-filters='sRGB' filterUnits='userSpaceOnUse'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' result='hardAlpha' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0'/%3E%3CfeOffset dy='1'/%3E%3CfeComposite in2='hardAlpha' operator='out'/%3E%3CfeColorMatrix values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.15 0'/%3E%3CfeBlend in2='BackgroundImageFix' result='effect1_dropShadow_4043_19861'/%3E%3CfeBlend in='SourceGraphic' in2='effect1_dropShadow_4043_19861' result='shape'/%3E%3C/filter%3E%3Cfilter id='d' width='40' height='13' x='18' y='0' color-interpolation-filters='sRGB' filterUnits='userSpaceOnUse'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' result='hardAlpha' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0'/%3E%3CfeOffset dy='1'/%3E%3CfeComposite in2='hardAlpha' operator='out'/%3E%3CfeColorMatrix values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.15 0'/%3E%3CfeBlend in2='BackgroundImageFix' result='effect1_dropShadow_4043_19861'/%3E%3CfeBlend in='SourceGraphic' in2='effect1_dropShadow_4043_19861' result='shape'/%3E%3C/filter%3E%3ClinearGradient id='e' x1='20' x2='58' y1='24' y2='24' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='.86' stop-color='%23E3E5E8'/%3E%3Cstop offset='1' stop-color='%23F2F3F5'/%3E%3C/linearGradient%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M0 0h130v100H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
        }
        .darkerIcon_cb7c27:before {
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='130' height='100' fill='none'%3E%3Cpath fill='%231E2124' d='M0 0h130v100H0z'/%3E%3Cpath fill='%23F04747' d='M59.752 48H56.84l-3.616-5.76V48h-3.04V36.96h3.232l3.296 5.28v-5.28h3.04V48Zm12.065-5.536c0 3.408-2.128 5.744-5.376 5.744-3.216 0-5.344-2.304-5.344-5.712 0-3.424 2.128-5.744 5.376-5.744 3.232 0 5.344 2.304 5.344 5.712Zm-3.264.016c0-1.984-.752-3.248-2.096-3.248s-2.096 1.264-2.096 3.248c0 1.984.752 3.248 2.096 3.248s2.096-1.264 2.096-3.248Zm12.978-2.8h-3.088V48h-3.28v-8.32h-2.96v-2.72h8.88l.448 2.72ZM28.98 60.528c0 2.608-1.904 3.6-4.144 3.6-1.616 0-2.928-.336-4.192-.88l.48-2.672c1.296.64 2.656 1.056 3.76 1.056.64 0 1.056-.224 1.056-.704 0-.464-.272-.688-1.776-1.216-2.256-.8-3.28-1.536-3.28-3.472 0-2.272 1.776-3.408 3.952-3.408 1.6 0 2.576.272 3.664.784l-.48 2.656c-1.152-.624-2.288-.944-3.12-.944-.656 0-.976.224-.976.608 0 .432.256.656 1.504 1.072 2.512.832 3.552 1.712 3.552 3.52Zm10.629-.976c0 3.216-2.128 4.608-4.8 4.608-2.704 0-4.72-1.36-4.72-4.608V52.96h3.28v6.64c0 1.216.56 1.856 1.488 1.856.992 0 1.472-.672 1.472-1.824V52.96h3.28v6.592Zm10.008-2.816c0 2.608-1.856 3.952-4.64 3.952h-.512V64H41.2V52.96h3.824c2.848 0 4.592 1.232 4.592 3.776Zm-3.136.048c0-.96-.56-1.44-1.648-1.44h-.4v2.96h.368c1.088 0 1.68-.48 1.68-1.52Zm12.636-.048c0 2.608-1.856 3.952-4.64 3.952h-.512V64H50.7V52.96h3.824c2.848 0 4.592 1.232 4.592 3.776Zm-3.136.048c0-.96-.56-1.44-1.648-1.44h-.4v2.96h.368c1.088 0 1.68-.48 1.68-1.52Zm14.556 1.68c0 3.408-2.128 5.744-5.376 5.744-3.216 0-5.344-2.304-5.344-5.712 0-3.424 2.128-5.744 5.376-5.744 3.232 0 5.344 2.304 5.344 5.712Zm-3.264.016c0-1.984-.752-3.248-2.096-3.248s-2.096 1.264-2.096 3.248c0 1.984.752 3.248 2.096 3.248s2.096-1.264 2.096-3.248Zm13.847 5.104-3.456.528-2.032-3.536h-.496V64h-3.248V52.96h4.224c2.848 0 4.48 1.264 4.48 3.632 0 1.488-.672 2.544-1.92 3.184l2.448 3.808Zm-3.712-6.8c0-.928-.592-1.44-1.648-1.44h-.656v2.96h.672c1.056 0 1.632-.544 1.632-1.52Zm13.155-1.104h-3.088V64h-3.28v-8.32h-2.96v-2.72h8.88l.448 2.72ZM99 64h-7.424V52.96h7.28v2.576h-4.08v1.584h3.088l.4 2.544h-3.488v1.76H99V64Zm11.293-5.536c0 3.28-2.032 5.536-5.744 5.536h-4.192V52.96h4.064c3.84 0 5.872 2.208 5.872 5.504Zm-3.28.016c0-2.128-1.12-3.056-2.72-3.056h-.672v6.112h.688c1.664 0 2.704-.88 2.704-3.056Z'/%3E%3C/svg%3E");
        }
        .midnightIcon_cb7c27:before {
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='130' height='100' fill='none'%3E%3Cg clip-path='url(%23a)'%3E%3Cpath fill='%23040405' d='M0 0h130v100H0z'/%3E%3Cpath fill='%230C0D0E' d='M0 0h18v100H0z'/%3E%3Cpath fill='%23111315' d='M18 0h40v83H18z'/%3E%3Cmask id='b' fill='%23fff'%3E%3Cpath d='M18 82h40v18H18V82Z'/%3E%3C/mask%3E%3Cpath fill='%2318191C' d='M18 82h40v18H18V82Z'/%3E%3Cpath fill='%231C1E22' d='M18 83h40v-2H18v2Z' mask='url(%23b)'/%3E%3Cg filter='url(%23c)'%3E%3Cpath fill='%23040405' d='M58 0h72v12H58z'/%3E%3C/g%3E%3Cg filter='url(%23d)'%3E%3Cpath fill='%23111315' d='M18 0h40v12H18z'/%3E%3C/g%3E%3Crect width='63' height='9' x='62.5' y='86.5' fill='%23131314' stroke='%23424243' rx='1.5'/%3E%3Crect width='15' height='7' x='40.5' y='87.5' fill='%23111315' stroke='%23333' rx='1.5'/%3E%3Crect width='10' height='10' x='4' y='4' fill='%237289DA' rx='5'/%3E%3Crect width='10' height='10' x='4' y='18' fill='%232E3136' rx='5'/%3E%3Crect width='10' height='10' x='4' y='32' fill='%232E3136' rx='5'/%3E%3Crect width='10' height='10' x='4' y='46' fill='%232E3136' rx='5'/%3E%3Cpath fill='%237289DA' d='M18 18h2v6h-2z'/%3E%3Cpath fill='url(%23e)' d='M20 18h38v6H20z'/%3E%3Crect width='8' height='8' x='21' y='87' fill='%23848C95' rx='4'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='c' width='72' height='13' x='58' y='0' color-interpolation-filters='sRGB' filterUnits='userSpaceOnUse'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' result='hardAlpha' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0'/%3E%3CfeOffset dy='1'/%3E%3CfeComposite in2='hardAlpha' operator='out'/%3E%3CfeColorMatrix values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.15 0'/%3E%3CfeBlend in2='BackgroundImageFix' result='effect1_dropShadow_3864_25996'/%3E%3CfeBlend in='SourceGraphic' in2='effect1_dropShadow_3864_25996' result='shape'/%3E%3C/filter%3E%3Cfilter id='d' width='40' height='13' x='18' y='0' color-interpolation-filters='sRGB' filterUnits='userSpaceOnUse'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' result='hardAlpha' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0'/%3E%3CfeOffset dy='1'/%3E%3CfeComposite in2='hardAlpha' operator='out'/%3E%3CfeColorMatrix values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.15 0'/%3E%3CfeBlend in2='BackgroundImageFix' result='effect1_dropShadow_3864_25996'/%3E%3CfeBlend in='SourceGraphic' in2='effect1_dropShadow_3864_25996' result='shape'/%3E%3C/filter%3E%3ClinearGradient id='e' x1='20' x2='58' y1='24' y2='24' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='.858' stop-color='%2318191C'/%3E%3Cstop offset='1' stop-color='%23111315'/%3E%3C/linearGradient%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M0 0h130v100H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
        }
        .defaultThemeSelection_cb7c27:has(.iconWrapper_cb7c27):before {
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='130' height='100' fill='none'%3E%3Cg clip-path='url(%23a)'%3E%3Cpath fill='%2336393E' d='M0 0h130v100H0z'/%3E%3Cpath fill='%232E3136' d='M18 12h40v70H18z'/%3E%3Cpath fill='%23fff' d='M130 100V0H85L45 100h85Z'/%3E%3Cpath fill='%23EBEDEF' d='M58 67.5 52.2 82H58V67.5Z'/%3E%3Cpath fill='%231E2124' d='M0 0h18v100H0z'/%3E%3Cmask id='b' fill='%23fff'%3E%3Cpath d='M18 82h40v18H18V82Z'/%3E%3C/mask%3E%3Cpath fill='%23282B30' d='M18 82h40v18H18V82Z'/%3E%3Cpath fill='%231C1E22' d='M18 83h40v-2H18v2Z' mask='url(%23b)'/%3E%3Cpath fill='%23EBEDEF' d='M58 100V82h-5.8L45 100h13Z'/%3E%3Cpath fill='%23DEDEDE' d='M58 82h-5.8l-.4 1H58v-1Z'/%3E%3Cg filter='url(%23c)'%3E%3Cpath fill='%2336393E' d='M58 0h72v12H58z'/%3E%3C/g%3E%3Cg filter='url(%23d)'%3E%3Cpath fill='%23fff' d='M80.2 12h49.799V0h-45l-4.8 12Z'/%3E%3C/g%3E%3Cg filter='url(%23e)'%3E%3Cpath fill='%232E3136' d='M18 0h40v12H18z'/%3E%3C/g%3E%3Crect width='63' height='9' x='62.5' y='86.5' fill='%23fff' stroke='%23DADDDF' rx='1.5'/%3E%3Crect width='15' height='7' x='40.5' y='87.5' fill='%232E3136' stroke='%231C1E22' rx='1.5'/%3E%3Cpath fill='%23F2F3F5' d='M47 95h7a2 2 0 0 0 2-2v-4a2 2 0 0 0-2-2h-3.8L47 95Z'/%3E%3Cpath fill='%23DEDEDE' d='M48.477 94H54a1 1 0 0 0 1-1v-4a1 1 0 0 0-1-1h-4.2l.4-1H54a2 2 0 0 1 2 2v4a2 2 0 0 1-2 2h-7l.4-1h1.077Z'/%3E%3Crect width='10' height='10' x='4' y='4' fill='%237289DA' rx='5'/%3E%3Crect width='10' height='10' x='4' y='18' fill='%2336393E' rx='5'/%3E%3Crect width='10' height='10' x='4' y='32' fill='%2336393E' rx='5'/%3E%3Crect width='10' height='10' x='4' y='46' fill='%2336393E' rx='5'/%3E%3Cpath fill='%237289DA' d='M18 18h2v6h-2z'/%3E%3Cpath fill='url(%23f)' d='M20 18h38v6H20z'/%3E%3Crect width='8' height='8' x='21' y='87' fill='%23848C95' rx='4'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='c' width='72' height='13' x='58' y='0' color-interpolation-filters='sRGB' filterUnits='userSpaceOnUse'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' result='hardAlpha' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0'/%3E%3CfeOffset dy='1'/%3E%3CfeComposite in2='hardAlpha' operator='out'/%3E%3CfeColorMatrix values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.15 0'/%3E%3CfeBlend in2='BackgroundImageFix' result='effect1_dropShadow_4043_19962'/%3E%3CfeBlend in='SourceGraphic' in2='effect1_dropShadow_4043_19962' result='shape'/%3E%3C/filter%3E%3Cfilter id='d' width='49.801' height='13' x='80.199' y='0' color-interpolation-filters='sRGB' filterUnits='userSpaceOnUse'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' result='hardAlpha' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0'/%3E%3CfeOffset dy='1'/%3E%3CfeComposite in2='hardAlpha' operator='out'/%3E%3CfeColorMatrix values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.15 0'/%3E%3CfeBlend in2='BackgroundImageFix' result='effect1_dropShadow_4043_19962'/%3E%3CfeBlend in='SourceGraphic' in2='effect1_dropShadow_4043_19962' result='shape'/%3E%3C/filter%3E%3Cfilter id='e' width='40' height='13' x='18' y='0' color-interpolation-filters='sRGB' filterUnits='userSpaceOnUse'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' result='hardAlpha' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0'/%3E%3CfeOffset dy='1'/%3E%3CfeComposite in2='hardAlpha' operator='out'/%3E%3CfeColorMatrix values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.15 0'/%3E%3CfeBlend in2='BackgroundImageFix' result='effect1_dropShadow_4043_19962'/%3E%3CfeBlend in='SourceGraphic' in2='effect1_dropShadow_4043_19962' result='shape'/%3E%3C/filter%3E%3ClinearGradient id='f' x1='20' x2='58' y1='24' y2='24' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='.858' stop-color='%23282B30'/%3E%3Cstop offset='1' stop-color='%232E3136'/%3E%3C/linearGradient%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M0 0h130v100H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
        }
      }
    }
  }
  .standardSidebarView_c25c6d:has(.sidebarRegion_c25c6d.theme-dark) .presets_f45ea6.basicThemeSelectors_ .lightIcon_cb7c27:not(:has(.iconWrapper_cb7c27)):before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='130' height='100' fill='none'%3E%3Cg clip-path='url(%23a)'%3E%3Cpath fill='%23fff' d='M0 0h130v100H0z'/%3E%3Cpath fill='%231E2124' d='M0 0h18v100H0z'/%3E%3Cpath fill='%232E3136' d='M18 0h40v83H18z'/%3E%3Cmask id='b' fill='%23fff'%3E%3Cpath d='M18 82h40v18H18V82Z'/%3E%3C/mask%3E%3Cpath fill='%23282B30' d='M18 82h40v18H18V82Z'/%3E%3Cpath fill='%231C1E22' d='M18 83h40v-2H18v2Z' mask='url(%23b)'/%3E%3Cg filter='url(%23c)'%3E%3Cpath fill='%23fff' d='M58 0h72v12H58z'/%3E%3C/g%3E%3Cg filter='url(%23d)'%3E%3Cpath fill='%232E3136' d='M18 0h40v12H18z'/%3E%3C/g%3E%3Crect width='63' height='9' x='62.5' y='86.5' fill='%23fff' stroke='%23DADDDF' rx='1.5'/%3E%3Crect width='15' height='7' x='40.5' y='87.5' fill='%232E3136' stroke='%231C1E22' rx='1.5'/%3E%3Crect width='10' height='10' x='4' y='4' fill='%237289DA' rx='5'/%3E%3Crect width='10' height='10' x='4' y='18' fill='%2336393E' rx='5'/%3E%3Crect width='10' height='10' x='4' y='32' fill='%2336393E' rx='5'/%3E%3Crect width='10' height='10' x='4' y='46' fill='%2336393E' rx='5'/%3E%3Cpath fill='%237289DA' d='M18 18h2v6h-2z'/%3E%3Cpath fill='url(%23e)' d='M20 18h38v6H20z'/%3E%3Crect width='8' height='8' x='21' y='87' fill='%23848C95' rx='4'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='c' width='72' height='13' x='58' y='0' color-interpolation-filters='sRGB' filterUnits='userSpaceOnUse'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' result='hardAlpha' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0'/%3E%3CfeOffset dy='1'/%3E%3CfeComposite in2='hardAlpha' operator='out'/%3E%3CfeColorMatrix values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.15 0'/%3E%3CfeBlend in2='BackgroundImageFix' result='effect1_dropShadow_4043_19845'/%3E%3CfeBlend in='SourceGraphic' in2='effect1_dropShadow_4043_19845' result='shape'/%3E%3C/filter%3E%3Cfilter id='d' width='40' height='13' x='18' y='0' color-interpolation-filters='sRGB' filterUnits='userSpaceOnUse'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' result='hardAlpha' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0'/%3E%3CfeOffset dy='1'/%3E%3CfeComposite in2='hardAlpha' operator='out'/%3E%3CfeColorMatrix values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.15 0'/%3E%3CfeBlend in2='BackgroundImageFix' result='effect1_dropShadow_4043_19845'/%3E%3CfeBlend in='SourceGraphic' in2='effect1_dropShadow_4043_19845' result='shape'/%3E%3C/filter%3E%3ClinearGradient id='e' x1='20' x2='58' y1='24' y2='24' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='.858' stop-color='%23282B30'/%3E%3Cstop offset='1' stop-color='%232E3136'/%3E%3C/linearGradient%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M0 0h130v100H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
  }
  .basicThemeSelectors_+.premiumFeatureBorder_c6d722 {
    display: none;
  }
}
// color themes
.custom-theme-background {
  &:is(.theme-dark, .theme-light) #app-mount {
    .themed_fc4f04 {
      background: var(--bg-overlay-1,var(--__header-bar-background));
    }
    .form_a7d72e {
      background: #0000;
    }
    :is(.channelTextArea_a7d72e, .channelTextArea_d5deea) {
      padding: 2px;
      background: var(--bg-overlay-4,#fff);
      border-radius: 2px;
    }
    .scrollableContainer_d0696b {
      background: var(--bg-overlay-2,#fff);
      border: none;
      border-radius: 0;
      .placeholder_a552a6 {
        color: var(--interactive-active);
        opacity: .4;
      }
    }
    .attachedBars_d0696b {
      margin-left: -2px;
      margin-right: -2px;
      .replyBar_b11c5e {
        background: var(--bg-overlay-4,#fff);
      }
    }
    .devBanner_f32cbd {
      background: var(--bg-overlay-3,var(--background-secondary-alt));
      border-image: var(--bg-overlay-4, var(--background-secondary)) 1;
    }
    // channels
    .content_eed6a8 {
      >:is(.containerDefault_f6f816, .containerDragAfter_f6f816, .containerDragBefore_f6f816, .containerUserOver_f6f816) {
        // all channel types except voice
        >.wrapper_d8bfb3 {
          padding:0;
          &:hover {
            .wrapper_d8bfb3 {
              &:before {
                content: "";
                position: absolute;
                inset: 0 0 0 0;
                background: var(--bg-overlay-4,var(--background-tertiary));
                pointer-events: none;
                mask: linear-gradient(to right, #000 85%, #0000);
                -webkit-mask: linear-gradient(to right, #000 85%, #0000);
              }
            }
            .wrapper_d8bfb3 {
              background: none !important;
              border-left-color: #{ss(rgba(114, 137, 218, 0.25))};
            }
          }
          &.modeSelected_d8bfb3 {
            .wrapper_d8bfb3 {
              background: none !important;
              border-left-color: var(--blurple);
              &:before {
                content: "";
                position: absolute;
                inset: 0 0 0 0;
                background: var(--bg-overlay-4,var(--background-tertiary));
                pointer-events: none;
                mask: linear-gradient(to right, #000 85%, #0000);
                -webkit-mask: linear-gradient(to right, #000 85%, #0000);
              }
            }
          }
        }
      }
    }
    .members_cbd271 .member_a31c43:is(:hover, .selected_d808b0) .layout_d808b0 {
      background: none !important;
      position: relative;
      &:before {
        content: "";
        position: absolute;
        inset: 0 0 0 0;
        background: var(--bg-overlay-3,var(--background-tertiary));
        pointer-events: none;
        mask: linear-gradient(to right, #000 85%, #0000);
        -webkit-mask: linear-gradient(to right, #000 85%, #0000);
      }
      >div {
        position: relative;
      }
    }
    .panels_a4d4d9 {
      background: var(--bg-overlay-3,var(--background-secondary-alt));
    }
    #{$panel-account} {
      background: var(--bg-overlay-3,var(--background-secondary-alt));
      border-image: var(--bg-overlay-1, var(--background-secondary)) 1;
    }
    .searchResultsWrap_c2b47d {
      background: var(--bg-overlay-3,var(--background-secondary-alt));
      :is(.searchHeader_b7c924, .searchResult_ddc613) {
        background: var(--bg-overlay-4,var(--background-secondary-alt));
      }
    }
    .sidebarRegionScroller_c25c6d {
      background: var(--bg-overlay-3);
      .sidebar_c25c6d {
        &::-webkit-scrollbar, &::-webkit-scrollbar-track, &::-webkit-scrollbar-track-piece {
          background: none !important;
          background-clip: padding-box !important;
        }
        &::-webkit-scrollbar-thumb {
          background-clip: padding-box !important;
          border-color: #0000 !important;
        }
      }
    }
    .contentRegion_c25c6d {
      .contentRegionScroller_c25c6d {
        background: var(--bg-overlay-1);
      }
      .toolsContainer_c25c6d {
        background: var(--bg-overlay-2);
      }
      @if $experiment14 == 1 {
        .item_eb92a8 {
          .radioBar_eb92a8 {
            > div:not([class*="-"]) > svg:not(.icon_eb92a8), .radioBarIcon-EiCq-C>svg {
              box-shadow: none;
              path {
                display: block;
                fill: #0000;
                transition: .18s;
                transform: scale(1.07);
                transform-origin: center;
                d: path("M11.9999 6.40039C8.90711 6.40039 6.3999 8.9076 6.3999 12.0004C6.3999 15.0932 8.90711 17.6004 11.9999 17.6004C15.0927 17.6004 17.5999 15.0932 17.5999 12.0004C17.5999 8.9076 15.0927 6.40039 11.9999 6.40039Z") !important;
              }
            }
          }
          &:not([aria-checked="true"]) {
            &:is(:hover, :active) {
              .radioBarIcon-EiCq-C>svg,
              .radioBar_eb92a8 > div:not([class*="-"]) > svg:not(.icon_eb92a8) {
                background: none;
                box-shadow: none;
                path {
                  fill: #{ss(rgba(114, 137, 218, 0.5))};
                }
              }
            }
          }
          &[aria-checked="true"] {
            .radioBar_eb92a8 {
              --radio-bar-accent-color: var(--header-primary);
              > div:not([class*="-"]) > svg:not(.icon_eb92a8), .radioBarIcon-EiCq-C>svg {
                background: none;
                box-shadow: none;
                path {
                  fill: var(--blurple) !important;
                }
              }
            }
          }
        }
      }
      .cardPrimary_a298b8.card_a298b8, .connectContainer_e2a436 {
        border: solid 1px #0000 !important;
        background: linear-gradient(rgb(var(--bg-overlay-color)/var(--bg-overlay-opacity-3)),rgb(var(--bg-overlay-color)/var(--bg-overlay-opacity-3))) fixed 0 0/cover padding-box,var(--custom-theme-background) fixed 0 0/cover padding-box,
        linear-gradient(rgb(var(--bg-overlay-color)/var(--bg-overlay-opacity-5)),rgb(var(--bg-overlay-color)/var(--bg-overlay-opacity-5))) fixed 0 0/cover border-box,var(--custom-theme-background) fixed 0 0/cover border-box !important;
      }
    }
    .sidebar_a4d4d9 {
      background: var(--bg-overlay-2);
    }
    .pageWrapper_a3a4ce {
      background: var(--bg-overlay-1);
      .scroller_a3a4ce:before {
        mask: linear-gradient(#000,#0000 350px);
        -webkit-mask: linear-gradient(#000,#0000 350px);
      }
    }
    .scroller_a39aa3 {
      background: var(--bg-overlay-1);
    }
    @if not $redoChannels {
      .categoryItem_c72b37 {
        position: relative;
        contain: paint;
        &:hover, &:active {
          &:not(.selected_d808b0) {
            .itemInner_c72b37 {
              background: #0000;
              &:before {
                content: "";
                position: absolute;
                inset: 0 0 0 0;
                background: var(--bg-overlay-4,var(--background-tertiary));
                pointer-events: none;
                mask: linear-gradient(to right, #000 85%, #0000);
                -webkit-mask: linear-gradient(to right, #000 85%, #0000);
                z-index: -1;
              }
            }
          }
        }
        &.selected_d808b0 {
          .itemInner_c72b37 {
            background: #0000;
            &:before {
              content: "";
              position: absolute;
              inset: 0 0 0 0;
              background: var(--bg-overlay-4,var(--background-tertiary));
              pointer-events: none;
              mask: linear-gradient(to right, #000 85%, #0000);
              -webkit-mask: linear-gradient(to right, #000 85%, #0000);
              z-index: -1;
            }
          }
        }
      }
    }
    .container_a6d69a {
      background: var(--bg-overlay-2) !important;
      .formContainer_c1668f .scrollableContainer_d0696b {
        background: none;
      }
    }
    // dms
    @if not $redoChannels {
      .channel_c91bad {
        >.interactive_c91bad {
          background: #0000 !important;
          &:hover, &.selected_f5eb4b {
            >a {
              position: relative;
            }
            &:before {
              content: "";
              position: absolute;
              inset: 0 0 0 0;
              background: var(--bg-overlay-4,var(--background-tertiary));
              pointer-events: none;
              mask: linear-gradient(to right, #000 85%, #0000);
              -webkit-mask: linear-gradient(to right, #000 85%, #0000);
            }
          }
        }
      }
    }
    // message requests
    .container_f3abf4 {
      background: var(--bg-overlay-1);
    }
    // quick switcher
    .quickswitcher_f4e139 {
      background: var(--bg-overlay-3);
      .scroller_f4e139 {
        background: #0000;
      }
    }
  }
}