// tooltips
@at-root {
  // normal tooltips
  .tooltip__7b090 {
    .theme-dark &, .theme-light & {box-shadow: 0 2px 4px 1px rgb(0 0 0 / 10%)}
    border-radius: 3px;
    font-weight: 400;
    font-size: 12px;
    padding: 5px 10px;
    z-index: 1002;
    box-sizing: border-box;
    word-wrap: break-word;
    --text-muted: rgba(255,255,255,.9);
    --text-normal: rgba(255,255,255);
    &:is(.tooltipBlack__867ce, .tooltipPrimary__51b23, .tooltipGrey__3108e, .tooltipNested_ee18f0) {
      .theme-dark &, .theme-light & {
        background: var(--blurple);
        color: #fff;
        *:not(path):not(svg), .activityIcon-E-aeJm {color:#fff}
        .tooltipPointer_f7411c {border-top-color: var(--blurple) !important}
        .clickCTA__86888 {color: #fffb}
      }
      .stageListenerPill_e45f73 {
        background: none;
        border-radius: 0;
        border-left: solid 1px #fff2;
        padding-left: 4px;
        padding-right: 0;
      }
    }
    &.tooltipGreen__36421 {
      background-color: var(--green);
      .tooltipPointer_f7411c {
        border-top-color: var(--green) !important;
      }
    }
    .tooltipContent_adb6d5 {
      padding: 0;
      line-height: 100%;
    }
    .fontScaling__56c42 {
      font-size: inherit;
      line-height: inherit;
    }
    .rowGuildName__6b00c {align-items: center}
    .flowerStarContainer__00f61.rowIcon__2c405 {
      .flowerStar_fa5ad8 path {fill: #fff!important}
      .childContainer__3a40c path {fill: var(--blurple)}
    }
    .discriminator__90c1c {
      color: #fffb;
      font-weight: 500;
    }
    .tooltipText__8aa99 {
      color: #fff !important;
      font-weight: 500;
      font-size: 12px;
      line-height: 12px;
    }
    .icon__87f1f {
      &, path {color: var(--blurple)}
    }
    .hub_b3afcf {
      circle {fill: #fff}
      [d="M7.5 11.3333V4.66666H8.5L8.49999 11.3333H7.5Z"] {
        fill: var(--blurple);
      }
    }
    .invitesDisabledTooltip__73a09 {
      color: #fff8 !important;
      font-size: 12px;
      line-height: 100%;
      margin: 0 0 2px;
    }
    .activityIcon_c97a7c {color: #fffb}
    .moreUsers__61edd {
      background: #fff1;
      box-shadow: inset 0 0 0 2px #fff4;
      color: #fff;
    }
    .clickCTA__86888 {
      color: #fffb !important;
      font-size: 12px;
    }
    .muteText__8f07b {--text-muted: rgba(255,255,255,.5)}
    &:has(.tooltipRemovePadding__28f6a) {padding: 0}
    .text-xs-medium_d3e0f1 {
      --text-muted: #fff8;
    }
    .text-xs-bold__5467c {
      color: #fff!important;
    }
    .tooltipPremiumFooterContainer__0816a {
      background: #fff;
      .text-xs-semibold__767f1 {color: var(--blurple) !important}
      .gemIcon__1ad95 path {fill: var(--blurple)}
      .tooltipPremiumFooterTierSegment__01825 {
        border-color: var(--blurple);
      }
    }
    .roleTooltipItemContainer__3a53b {
      padding: 0;
      margin-bottom: -4px;
      margin-right: -4px;
    }
  }
  // sticker/emoji details
  .popoutContainer__66068.popoutContent__12232 {
    border: solid 2px var(--blurple);
    border-radius: 3px;
    box-shadow: 0 2px 4px 1px rgba(0,0,0,.1);
    .emojiSection_ab054b {
      .overflow__993fa {
        font-weight: 800;
        color: var(--blurple);
      }
    }
    .guildSection__15ac6 {
      background: var(--blurple);
      .guildTitle_e577f7, .overflow__993fa, .text-xs-normal__46d75 {color: #fff !important}
      .text-xs-normal__46d75 {opacity: .8}
      .defaultColor__77578 {color: #fffb}
      .lookFilled__950dd.colorBrand__27d57 {
        background: #fff;
        color: var(--blurple);
        &:hover:not(:disabled) {
          background: var(--blurple-inverted);
        }
        &:active:not(:disabled) {
          background: var(--blurple-inverted-active);
        }
      }
      .lookFilled__950dd.colorPrimary_ebe632 {
        transition: .17s background, .17s border;
        background: #0000;
        border: solid 1px hsla(0,0%,100%,.3);
        &:hover:not(:disabled) {
          background: #0000;
          border-color: hsla(0,0%,100%,.6);
        }
        &:active:not(:disabled) {
          background-color: hsla(0,0%,100%,.1);
          border-color: #fff;
        }
      }
    }
  }
  .popoutContainer__66068:not(.popoutContent__12232) {
    border-radius: 3px;
    box-shadow: 0 2px 4px 1px rgba(0,0,0,.1);
  }
  .popoutContainer__6565f {
    padding: 0;
    .mainContent__962ea {
      padding: 16px;
      padding-bottom: 0;
    }
    .ctaButton_fa16c5 {
      border-radius: 0;
      border-top: solid 1px var(--background-modifier-accent);
      background: #0000;
      font-weight: bold;
      text-transform: uppercase;
      color: var(--blurple);
      transition: .17s;
      .contents__322f4 {
        font-size: 14px;
      }
      &:hover, &:active {
        background: var(--blurple);
        color: #fff;
        border-top-color: #0000;
      }
    }
  }
}