// tooltips
@at-root {
  // normal tooltips
  .tooltip_b6c360 {
    .theme-dark &, .theme-light & {box-shadow: 0 2px 4px 1px rgb(0 0 0 / 10%)}
    border-radius: 3px;
    font-weight: 400;
    font-size: 12px;
    padding: 5px 10px;
    z-index: 1002;
    box-sizing: border-box;
    word-wrap: break-word;
    --text-muted: rgba(255,255,255,.9);
    --text-normal: rgba(255,255,255);
    &:is(.tooltipBlack_b6c360, .tooltipPrimary_b6c360, .tooltipGrey_b6c360, .tooltipNested_b6c360) {
      .theme-dark &, .theme-light & {
        background: var(--blurple);
        color: #fff;
        *:not(path):not(svg), .activityIcon-E-aeJm {color:#fff}
        .tooltipPointer_b6c360 {border-top-color: var(--blurple) !important}
        .clickCTA_cf58b5 {color: #fffb}
      }
      .stageListenerPill_a6ae3c {
        background: none;
        border-radius: 0;
        border-left: solid 1px #fff2;
        padding-left: 4px;
        padding-right: 0;
      }
    }
    &.tooltipGreen_b6c360 {
      background-color: var(--green);
      .tooltipPointer_b6c360 {
        border-top-color: var(--green) !important;
      }
    }
    .tooltipContent_b6c360 {
      padding: 0;
      line-height: 100%;
    }
    .fontScaling_dc00ef {
      font-size: inherit;
      line-height: inherit;
    }
    .rowGuildName_a6ae3c {align-items: center}
    .flowerStarContainer_ff7d90.rowIcon_a6ae3c {
      .flowerStar_ff7d90 path {fill: #fff!important}
      .childContainer_ff7d90 path {fill: var(--blurple)}
    }
    .discriminator_a0bdd1 {
      color: #fffb;
      font-weight: 500;
    }
    .tooltipText_a0ae43 {
      color: #fff !important;
      font-weight: 500;
      font-size: 12px;
      line-height: 12px;
    }
    .icon_db1980 {
      &, path {color: var(--blurple)}
    }
    .hub_db1980 {
      circle {fill: #fff}
      [d="M7.5 11.3333V4.66666H8.5L8.49999 11.3333H7.5Z"] {
        fill: var(--blurple);
      }
    }
    .invitesDisabledTooltip_a6ae3c {
      color: #fff8 !important;
      font-size: 12px;
      line-height: 100%;
      margin: 0 0 2px;
    }
    .activityIcon_a6ae3c {color: #fffb}
    .moreUsers_c47562 {
      background: #fff1;
      box-shadow: inset 0 0 0 2px #fff4;
      color: #fff;
    }
    .clickCTA_cf58b5 {
      color: #fffb !important;
      font-size: 12px;
    }
    .muteText_a6ae3c {--text-muted: rgba(255,255,255,.5)}
    &:has(.tooltipRemovePadding_d56d78) {padding: 0}
    [data-text-variant="text-xs/medium"] {
      --text-muted: #fff8;
    }
    [data-text-variant="text-xs/bold"] {
      color: #fff!important;
    }
    .tooltipPremiumFooterContainer_d56d78 {
      background: #fff;
      [data-text-variant="text-xs/semibold"] {color: var(--blurple) !important}
      .gemIcon_d56d78 path {fill: var(--blurple)}
      .tooltipPremiumFooterTierSegment_d56d78 {
        border-color: var(--blurple);
      }
    }
    .roleTooltipItemContainer_a39fe9 {
      padding: 0;
      margin-bottom: -4px;
      margin-right: -4px;
    }
  }
  // sticker/emoji details
  .popoutContainer_cf58b5.popoutContent_e58351 {
    border: solid 2px var(--blurple);
    border-radius: 3px;
    box-shadow: 0 2px 4px 1px rgba(0,0,0,.1);
    .emojiSection_e58351 {
      .overflow_a82120 {
        font-weight: 800;
        color: var(--blurple);
      }
    }
    .guildSection_e58351 {
      background: var(--blurple);
      .dotSeparator_e58351 {background: rgba(255 255 255/.5)}
      .guildTitle_e58351, .overflow_a82120, [data-text-variant="text-xs/normal"] {color: #fff !important}
      [data-text-variant="text-xs/normal"] {opacity: .8}
      .defaultColor_a595eb {color: #fffb}
      .lookFilled_dd4f85.colorBrand_dd4f85 {
        background: #fff;
        color: var(--blurple);
        &:hover:not(:disabled) {
          background: var(--blurple-inverted);
        }
        &:active:not(:disabled) {
          background: var(--blurple-inverted-active);
        }
      }
      .lookFilled_dd4f85.colorPrimary_dd4f85 {
        transition: .17s background, .17s border;
        background: #0000;
        border: solid 1px hsla(0,0%,100%,.3);
        &:hover:not(:disabled) {
          background: #0000;
          border-color: hsla(0,0%,100%,.6);
        }
        &:active:not(:disabled) {
          background-color: hsla(0,0%,100%,.1);
          border-color: #fff;
        }
      }
    }
  }
  .popoutContainer_cf58b5:not(.popoutContent_e58351) {
    border-radius: 3px;
    box-shadow: 0 2px 4px 1px rgba(0,0,0,.1);
  }
  .popoutContainer_c938c7 {
    padding: 0;
    .mainContent_c938c7 {
      padding: 16px;
      padding-bottom: 0;
    }
    .ctaButton_c938c7 {
      border-radius: 0;
      border-top: solid 1px var(--background-modifier-accent);
      background: #0000;
      font-weight: bold;
      text-transform: uppercase;
      color: var(--blurple);
      transition: .17s;
      .contents_dd4f85 {
        transition: .17s;
        font-size: 14px;
      }
      &:hover, &:active {
        background: var(--blurple);
        color: #fff;
        border-top-color: #0000;
      }
    }
  }
  // reaction tooltip
  .reactionTooltip_fba897 {
    .theme-dark &, .theme-light & {box-shadow: 0 2px 4px 1px rgb(0 0 0 / 10%)}
    background: var(--blurple);
    color: #fff;
    border-radius: 3px;
    font-weight: 400;
    font-size: 12px;
    padding: 10px;
    --text-normal: rgba(255,255,255,.75);
    --background-modifier-accent: rgba(255,255,255,.25);
    --text-link: #fff;
    .burstReactionTooltipNitroIcon_fba897 {
      margin-right: 8px;
      width: 16px;
      height: 16px;
      path {
        fill: #fff;
      }
    }
    .reactionTooltipEmoji_fba897 {
      width: 24px;
      height: 24px;
      min-height: 24px;
      margin-right: 8px;
    }
    .reactionTooltipText_fba897 {
      margin: 0;
    }
    .burstReactionTooltipPrompt_fba897 {
      margin-top: 8px;
    }
    .reactionEmojiDetailsClickable_e58351 {
      background: rgba(255,255,255,.1);
      transition: .17s;
      div, svg {
        color: #fff;
      }
      &:hover {
        background: rgba(255,255,255,.15);
      }
      &:active {
        background: rgba(255,255,255,.2);
      }
    }
    .emojiDetailsLoader_e58351 {
      background: var(--blurple-hover);
      box-shadow: none;
      .popoutLoadingBackground_cf58b5 {
        -webkit-mask: none;
        mask: none;
        justify-content: center;
        align-items: center;
        display: flex;
      }
      .popoutLoadingForeground_cf58b5 {
        animation: 2s spinner-chasing-dots-rotate infinite linear;
        inset: unset;
        width: 32px;
        height: 32px;
        display: inline-block;
        position: relative;
        background: none;
        &:before, &:after {
          content: "";
          width: 60%;
          height: 60%;
          position: absolute;
          inset: unset;
          top: 0;
          background: #fff;
          border-radius: 50%;
          animation: 2s spinner-chasing-dots-bounce infinite ease-in-out;
        }
        &:after {
          animation-delay: -1s;
          top: unset;
          bottom: 0;
        }
      }
    }
  }
  // clan game tooltip
  .tooltipText_fda254, .tooltipGameName_fda254 {
    --interactive-active: rgba(255 255 255/.85);
  }
  // MARKETING SLOP BRRRRRRRRRRRRRRRRR
  .marketingBadgeTooltip_a25714 {
    .avatarContainer_a25714 {
      width: 48px;
    }
    .avatar_a25714 {
      width: 48px !important;
      height: 48px !important;
      top: -24px;
      >.svg_c51b4e {
        width: 48px !important;
        height: 48px !important;
      }
      >.avatarDecoration_c51b4e {
        width: calc(48px * var(--decoration-to-avatar-ratio)) !important;
        height: calc(48px * var(--decoration-to-avatar-ratio)) !important;
      }
    }
  }
}