// tooltips
@at-root {
  // normal tooltips
  .tooltip__382e7 {
    .theme-dark &, .theme-light & {box-shadow: 0 2px 4px 1px rgb(0 0 0 / 10%)}
    border-radius: 3px;
    font-weight: 400;
    font-size: 12px;
    padding: 5px 10px;
    z-index: 1002;
    box-sizing: border-box;
    word-wrap: break-word;
    --text-muted: rgba(255,255,255,.9);
    --text-normal: rgba(255,255,255);
    &:is(.tooltipBlack__382e7, .tooltipPrimary__382e7, .tooltipGrey__382e7, .tooltipNested__382e7) {
      .theme-dark &, .theme-light & {
        background: var(--blurple);
        color: #fff;
        *:not(path):not(svg), .activityIcon-E-aeJm {color:#fff}
        .tooltipPointer__382e7 {border-top-color: var(--blurple) !important}
        .clickCTA__0f481 {color: #fffb}
      }
      .stageListenerPill_b1f768 {
        background: none;
        border-radius: 0;
        border-left: solid 1px #fff2;
        padding-left: 4px;
        padding-right: 0;
      }
    }
    &.tooltipGreen__382e7 {
      background-color: var(--green);
      .tooltipPointer__382e7 {
        border-top-color: var(--green) !important;
      }
    }
    .tooltipContent__382e7 {
      padding: 0;
      line-height: 100%;
    }
    .fontScaling_cf4812 {
      font-size: inherit;
      line-height: inherit;
    }
    .rowGuildName_b1f768 {align-items: center}
    .flowerStarContainer__3e3b0.rowIcon_b1f768 {
      .flowerStar_ff7d90 path {fill: #fff!important}
      .childContainer_ff7d90 path {fill: var(--blurple)}
    }
    .discriminator__6b453 {
      color: #fffb;
      font-weight: 500;
    }
    .tooltipText__0ca35 {
      color: #fff !important;
      font-weight: 500;
      font-size: 12px;
      line-height: 12px;
    }
    .icon_db1980 {
      &, path {color: var(--blurple)}
    }
    .hub_db1980 {
      circle {fill: #fff}
      [d="M7.5 11.3333V4.66666H8.5L8.49999 11.3333H7.5Z"] {
        fill: var(--blurple);
      }
    }
    .invitesDisabledTooltip_b1f768 {
      color: #fff8 !important;
      font-size: 12px;
      line-height: 100%;
      margin: 0 0 2px;
    }
    .activityIcon_b1f768 {color: #fffb}
    .moreUsers_c47562 {
      background: #fff1;
      box-shadow: inset 0 0 0 2px #fff4;
      color: #fff;
    }
    .clickCTA__0f481 {
      color: #fffb !important;
      font-size: 12px;
    }
    .muteText_b1f768 {--text-muted: rgba(255,255,255,.5)}
    &:has(.tooltipRemovePadding__7d7fe) {padding: 0}
    [data-text-variant="text-xs/medium"] {
      --text-muted: #fff8;
    }
    [data-text-variant="text-xs/bold"] {
      color: #fff!important;
    }
    .tooltipPremiumFooterContainer__7d7fe {
      background: #fff;
      [data-text-variant="text-xs/semibold"] {color: var(--blurple) !important}
      .gemIcon__7d7fe path {fill: var(--blurple)}
      .tooltipPremiumFooterTierSegment__7d7fe {
        border-color: var(--blurple);
      }
    }
    .roleTooltipItemContainer_a39fe9 {
      padding: 0;
      margin-bottom: -4px;
      margin-right: -4px;
    }
  }
  // sticker/emoji details
  .popoutContainer__0f481.popoutContent_d5cd2d {
    border: solid 2px var(--blurple);
    border-radius: 3px;
    box-shadow: 0 2px 4px 1px rgba(0,0,0,.1);
    .emojiSection_d5cd2d {
      .overflow__82b15 {
        font-weight: 800;
        color: var(--blurple);
      }
    }
    .guildSection_d5cd2d {
      background: var(--blurple);
      .dotSeparator_d5cd2d {background: rgba(255 255 255/.5)}
      .guildTitle_d5cd2d, .overflow__82b15, [data-text-variant="text-xs/normal"] {color: #fff !important}
      [data-text-variant="text-xs/normal"] {opacity: .8}
      .defaultColor__4bd52 {color: #fffb}
      .lookFilled__201d5.colorBrand__201d5 {
        background: #fff;
        color: var(--blurple);
        &:hover:not(:disabled) {
          background: var(--blurple-inverted);
        }
        &:active:not(:disabled) {
          background: var(--blurple-inverted-active);
        }
      }
      .lookFilled__201d5.colorPrimary__201d5 {
        transition: .17s background, .17s border;
        background: #0000;
        border: solid 1px hsla(0,0%,100%,.3);
        &:hover:not(:disabled) {
          background: #0000;
          border-color: hsla(0,0%,100%,.6);
        }
        &:active:not(:disabled) {
          background-color: hsla(0,0%,100%,.1);
          border-color: #fff;
        }
      }
    }
  }
  .popoutContainer__0f481:not(.popoutContent_d5cd2d) {
    border-radius: 3px;
    box-shadow: 0 2px 4px 1px rgba(0,0,0,.1);
  }
  .popoutContainer__8641f {
    padding: 0;
    .mainContent__8641f {
      padding: 16px;
      padding-bottom: 0;
    }
    .ctaButton__8641f {
      border-radius: 0;
      border-top: solid 1px var(--background-modifier-accent);
      background: #0000;
      font-weight: bold;
      text-transform: uppercase;
      color: var(--blurple);
      transition: .17s;
      .contents__201d5 {
        transition: .17s;
        font-size: 14px;
      }
      &:hover, &:active {
        background: var(--blurple);
        color: #fff;
        border-top-color: #0000;
      }
    }
  }
  // reaction tooltip
  .reactionTooltip_b49891 {
    .theme-dark &, .theme-light & {box-shadow: 0 2px 4px 1px rgb(0 0 0 / 10%)}
    background: var(--blurple);
    color: #fff;
    border-radius: 3px;
    font-weight: 400;
    font-size: 12px;
    padding: 10px;
    --text-normal: rgba(255,255,255,.75);
    --background-modifier-accent: rgba(255,255,255,.25);
    --text-link: #fff;
    .burstReactionTooltipNitroIcon_b49891 {
      margin-right: 8px;
      width: 16px;
      height: 16px;
      path {
        fill: #fff;
      }
    }
    .reactionTooltipEmoji_b49891 {
      width: 24px;
      height: 24px;
      min-height: 24px;
      margin-right: 8px;
    }
    .reactionTooltipText_b49891 {
      margin: 0;
    }
    .burstReactionTooltipPrompt_b49891 {
      margin-top: 8px;
    }
    .reactionEmojiDetailsClickable_d5cd2d {
      background: rgba(255,255,255,.1);
      transition: .17s;
      div, svg {
        color: #fff;
      }
      &:hover {
        background: rgba(255,255,255,.15);
      }
      &:active {
        background: rgba(255,255,255,.2);
      }
    }
    .emojiDetailsLoader_d5cd2d {
      background: var(--blurple-hover);
      box-shadow: none;
      .popoutLoadingBackground__0f481 {
        -webkit-mask: none;
        mask: none;
        justify-content: center;
        align-items: center;
        display: flex;
      }
      .popoutLoadingForeground__0f481 {
        animation: 2s spinner-chasing-dots-rotate infinite linear;
        inset: unset;
        width: 32px;
        height: 32px;
        display: inline-block;
        position: relative;
        background: none;
        &:before, &:after {
          content: "";
          width: 60%;
          height: 60%;
          position: absolute;
          inset: unset;
          top: 0;
          background: #fff;
          border-radius: 50%;
          animation: 2s spinner-chasing-dots-bounce infinite ease-in-out;
        }
        &:after {
          animation-delay: -1s;
          top: unset;
          bottom: 0;
        }
      }
    }
  }
  // clan game tooltip
  .tooltipText_fda254, .tooltipGameName_fda254 {
    --interactive-active: rgba(255 255 255/.85);
  }
  // MARKETING SLOP BRRRRRRRRRRRRRRRRR
  .marketingBadgeTooltip__4ed1a {
    .avatarContainer__4ed1a {
      width: 48px;
    }
    .avatar__4ed1a {
      width: 48px !important;
      height: 48px !important;
      top: -24px;
      >.svg__44b0c {
        width: 48px !important;
        height: 48px !important;
      }
      >.avatarDecoration__44b0c {
        width: calc(48px * var(--decoration-to-avatar-ratio)) !important;
        height: calc(48px * var(--decoration-to-avatar-ratio)) !important;
      }
    }
  }
}