@use "funcs" as *;
@use "exps" as *;

// unfinished, third iteration of visual refresh
// might need help with this lol

html.visual-refresh {
  // inputs
  .floatingOn_c46f6a, .floatingAbove_c46f6a {
    transition: 0s;
    padding: 6px;
    margin: 0;
    position: unset;
    transform: none;
    background: none;
    padding-left: 0;
  }
  .container_fea832, .input__0f084 {
    background: var(--deprecated-text-input-bg);
    border: solid 1px var(--deprecated-text-input-border);
    transition: .2s;
    border-radius: 3px;
    padding: 10px;
    :is(.theme-dark,.theme-light,.theme-darker,.theme-midnight) & {
      font-weight: 400;
    }
    &:hover {
      border-color: var(--deprecated-text-input-border);
    }
    &:focus, &:focus-within, &:focus:hover {
      border-color: var(--blurple);
    }
    &::placeholder {
      .theme-light & {
        color: var(--interactive-muted);
      }
      :is(.theme-dark,.theme-light,.theme-darker,.theme-midnight) & {
        font-weight: 400;
      }
    }
  }
  .input__0f084[value]:not([value=""]) {
    background: var(--deprecated-text-input-bg);
  }
  // top bar
  .trailing_c38106 {
    height: auto;
    z-index: 8;
  }
  .bar_c38106 {
    display: contents;
    .sidebar_c38106, .center_a5e357 {
      display: none;
    }
  }
  .content_c48ade {
    margin-top: 0;
  }
  // sidebar
  .sidebar_c48ade {
    min-width: 320px;
    grid-template-columns: 80px auto;
    // servers
    .guilds_c48ade {
      width: 80px;
      margin-bottom: 0;
      .svg_cc5dd2 {
        width: 48px;
        height: 48px;
      }
    }
    // channels
    .sidebarList_c48ade {
      border-radius: 0;
      border: none;
      background: var(--background-secondary);
      // header
      .container_f37cb1 {
        background: var(--background-secondary);
      }
      .header_f37cb1 {
        background: none;
        height: 56px;
        box-shadow: var(--elevation-low);
        border: none;
        &:hover {
          background: rgba(0 0 0/.1);
        }
      }
      // the actual channels
      .container__2637a {
        padding-bottom: 0;
        background: none;
      }
      .channel__972a0 {
        max-width: max(var(--custom-guild-sidebar-width), 240px);
      }
      // category
      .container__13cf1 {
        text-transform: uppercase;
      }
      .scroller__99e7c {
        border-left: none;
        margin-bottom: var(--custom-app-panels-height,0);
      }
      // dms
      .privateChannels__35e86 {
        background: none;
      }
      // unreads bar
      .bar__7aaec {
        border: none;
      }
      // cringe discovery
      .container__551b0 {
        background: none;
      }
    }
    // panels
    .panels_c48ade {
      left: 80px;
      right: 0;
      bottom: 0;
      width: auto;
      border-radius: 0;
      border: none;
      .container__37e49 {
        gap: 0;
        .avatar__37e49 {
          width: 32px !important;
          height: 32px !important;
          >svg {
            width: 38px;
            height: 38px;
          }
        }
      }
      .buttons__37e49 {
        gap: 0;
      }
      // disconnect button
      button:has(>.button_b28df7) {
        margin-left: 0;
        border-radius: 0;
        background-color: var(--background-secondary);
        padding: 0;
        width: 32px;
        transition: 0s;
        &:hover {
          background-color: var(--background-secondary) !important;
        }
        &:active {
          @if $experiment21 == 0 {
            background: #{ss(#33373c)} !important;
          }
          @if $experiment21 == 1 {
            background: #{ss(#2c2e33)} !important;
            box-shadow: none !important;
          }
        }
      }
      &:after {
        content: "Inbox • Support • Change Log • Download Apps";
      }
      // vc actions icons
      .buttonIcon_e131a9 {
        width: 20px !important;
        height: 20px !important;
      }
      // move shit
      @at-root {
        html.visual-refresh {
          .anchor_edefb8[href="https://support.discord.com"] {
            left: 128px;
          }
          .recentsIcon_c99c29 {
            position: fixed;
            contain: none;
            color: var(--header-primary);
            font-size: 10px;
            font-weight: 500;
            bottom: 7px;
            left: 91px;
            line-height: 11px;
            z-index: 2;
            padding: 0;
            margin: 0;
            text-decoration: none !important;
            .sidebar_c48ade.theme-dark+* & {
              color: #fff;
            }
            &:not(:hover) {
              opacity: 0;
            }
            &:after {
              content: "Inbox";
            }
            .iconWrapper__9293f {
              position: absolute;
              inset: 0;
              opacity: 0 !important;
              margin: 0;
              padding: 0;
              svg {
                display: none;
              }
            }
          }
          .layer_da8173:has(.recentMentionsPopout__95796) {
            inset: auto auto 32px 90px !important;
          }
        }
      }
    }
  }
  // chat
  .chatContent_f75fb0 {
    background: var(--background-primary);
  }
  // chat form
  .form_f75fb0 {
    padding: 20px 0 0;
    margin: 0 20px;
    border-radius: 0;
    border: none;
    box-shadow: 0 -1px 0 rgba(0,0,0,.1);
    @at-root html.theme-dark.visual-refresh .form_f75fb0 {border-top: solid 1px hsla(0,0%,100%,.06)}
    .scrollableContainer__74017 {
      background: var(--dtm-16-chat-textarea-bg);
    }
  }
  // search bar
  .searchBar__97492 {
    height: 28px;
    border-radius: 3px;
    .DraftEditor-root {
      line-height: 22px;
    }
    .icon__97492 {
      margin-top: -1px;
      margin-right: 4px;
    }
  }
  // dms member list
  .membersWrap_c8ffbb {
    --custom-channel-members-bg: var(--background-secondary);
  }
  // member list
  .container_c8ffbb {
    --custom-channel-members-bg: var(--background-secondary);
  }
  .membersGroup_c8ffbb {
    text-transform: uppercase !important;
  }
  // messages
  .cozy_c19a55 {
    .avatar_c19a55 {
      --custom-message-avatar-size: 40px !important;
    }
    .header_c19a55 {
      padding-bottom: 0;
    }
  }
  // titlebar
  .typeWindows__421ed {
    height: 22px;
    .winButton__421ed {
      width: 28px;
      height: 22px;
    }
  }
  // profile
  .wrapper_da5890 {
    .button_fb7f94 {
      padding: 0;
      width: 32px;
      height: 32px;
      background: rgba(0 0 0/.5);
    }
  }
  .multipleButtons_ea99c4 .button__201d5 {
    line-height: 16px;
    padding: 2px 16px;
    font-size: 14px;
    font-weight: 500;
    height: 36px;
    border-radius: 3px;
  }
  // settings search
  .searchBar_c7e907 {
    padding: 0;
  }
}