/* 0.1 - might not update */
.userPopout-29jUdN {
    padding: 0;
    margin: 0;
    background:none;
    border-radius: 0;
    box-shadow: none;
}
.userPopoutInner-1v4xcM {
    background: #0002;
    border-radius: 0;
    backdrop-filter: blur(8px)
}
.theme-light .userPopoutInner-1v4xcM {
    background: #0004;
}
.userPopout-29jUdN .bannerSVGWrapper-qc0szY {
    display: none;
}
.userPopout-29jUdN .overlayBackground-2Zjm9f {
    border-radius: 0;
    background: #0002;
    margin: 8px;
    --text-normal: #fff;
    --interactive-active: #fff;
    --header-secondary: #fff8;
    --header-primary: #fff;
    --profile-role-pill-background-color: #0004;
}
.theme-light .userPopout-29jUdN .overlayBackground-2Zjm9f {
    background: #0004;
}
.userPopout-29jUdN .profileBadges-31rDHI {
    background: #393939;
    right: 8px;
    border-radius: 0;
    width: 100%;
    max-width: 316px;
    margin-bottom: 4px;
    margin-top: -4px;
}
.theme-dark .userPopout-29jUdN .profileBadges-31rDHI {
    background: #444;
}
.userPopout-29jUdN .overlayBackground-2Zjm9f>.section-3FmfOT {
    background: #05AAEF;
}
.userPopout-29jUdN .overlayBackground-2Zjm9f>.divider-1tWBgZ {
    margin-top: 0;
    padding-top: 8px;
    background: #05AAEF;
    width: 100%;
    margin-left: 0;
}
.userPopout-29jUdN .avatarWrapper-3y0KZ1 {
    top: 48px;
    left: 16px;
}
.userPopout-29jUdN .avatarWrapper-3y0KZ1 .mask-1FEkla.svg-2azL_l {
    width: 64px;
    height: 64px;
}
.userPopout-29jUdN .avatarWrapper-3y0KZ1>svg  {
    width: 56px;
    height: 56px;
}
.userPopout-29jUdN .userText-148fun {
    padding-left: 64px;
    min-height: 48px;
    --header-primary: #fff;
    --header-secondary: #fffb;
    --interactive-active: #fff;
}
.userPopout-29jUdN .customStatus-3Bvsdb {
    color: #fff;
}
.userPopout-29jUdN .messageInputContainer-2rGDH8 {
    border-color: #fff4;
    --input-placeholder-text: #fff8;
}